Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source, combine-en-US-translations, push-en-US-translations

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, **/*.java, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml
  combine-en-US-translations: any of: **/*.ftl, **/*.properties, **/*.dtd, **/*strings.xml, **/update-translations.yml, **/l10n/combine/combine.py, **/l10n/combine-translation-versions.py
  push-en-US-translations: any of: **/*.ftl, **/*.properties, **/*.dtd, **/*strings.xml, **/update-translations.yml, **/l10n/combine/combine.py, **/l10n/combine-translation-versions.py

Bug 1960602 - More explicitly block bfcache when a subframe is loading. r=smaug
  docshell/base/CanonicalBrowsingContext.cpp
  docshell/test/navigation/mochitest.toml
  docshell/test/navigation/test_blockBFCache.html
  dom/base/Document.cpp
  dom/base/Document.h
  dom/ipc/WindowGlobalParent.cpp
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1959942 - Removed usage of six in security/manager/tools directory. r=firefox-build-system-reviewers,ahochheiden
  security/manager/tools/pycert.py
  security/manager/tools/pykey.py
  security/manager/tools/pypkcs12.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1955990 - Show data collection permissions in `about:addons`. r=rpl,fluent-reviewers,desktop-theme-reviewers,bolsson,Itiel
  browser/themes/shared/addon-notification.css
  toolkit/components/extensions/Extension.sys.mjs
  toolkit/locales-preview/dataCollectionPermissions.ftl
  toolkit/mozapps/extensions/content/aboutaddons.css
  toolkit/mozapps/extensions/content/aboutaddons.html
  toolkit/mozapps/extensions/content/aboutaddons.js
  toolkit/mozapps/extensions/test/browser/browser_html_detail_permissions.js
  toolkit/themes/shared/in-content/common-shared.css
Due: eslint, stylelint, fluent-lint, file-whitespace, combine-en-US-translations, push-en-US-translations

Bug 1341913 - Use GL symbols from the shared context when creating a new WR window. r=gw
  gfx/webrender_bindings/src/bindings.rs
Due: rustfmt, file-whitespace, trojan-source

Backed out changeset 84c0fce4a156 (bug 1960824) for causing multiple failures. CLOSED TREE
  modules/libpref/init/StaticPrefList.yaml
  netwerk/cookie/CookieParser.cpp
Due: yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1960464 - Add strings for QR download modal r=home-newtab-reviewers,fluent-reviewers,bolsson,nbarrett
  browser/locales/en-US/browser/newtab/newtab.ftl
Due: fluent-lint, file-whitespace, combine-en-US-translations, push-en-US-translations

Bug 1959242 - Add mobile icon to new tab page r=home-newtab-reviewers,nbarrett
  browser/app/profile/firefox.js
  browser/extensions/newtab/content-src/components/Base/Base.jsx
  browser/extensions/newtab/content-src/components/CollapsibleSection/_CollapsibleSection.scss
  browser/extensions/newtab/content-src/components/DownloadModalToggle/DownloadModalToggle.jsx
  browser/extensions/newtab/content-src/components/DownloadModalToggle/_DownloadModalToggle.scss
  browser/extensions/newtab/content-src/components/TopSites/_TopSites.scss
  browser/extensions/newtab/content-src/components/Weather/_Weather.scss
  browser/extensions/newtab/content-src/styles/_icons.scss
  browser/extensions/newtab/content-src/styles/activity-stream.scss
  browser/extensions/newtab/css/activity-stream.css
  browser/extensions/newtab/data/content/activity-stream.bundle.js
  browser/extensions/newtab/lib/ActivityStream.sys.mjs
  browser/extensions/newtab/test/unit/content-src/components/DownloadModalToggle.test.jsx
  toolkit/components/nimbus/FeatureManifest.yaml
Due: eslint, stylelint, yaml, file-whitespace

Bug 1959454 - Update logic to display OMC message with dynamic component ID r=home-newtab-reviewers,nbarrett
  browser/extensions/newtab/content-src/components/Base/Base.jsx
  browser/extensions/newtab/data/content/activity-stream.bundle.js
Due: eslint

Bug 1959189 - Create Download Firefox for Mobile promo modal r=home-newtab-reviewers,nbarrett
  browser/components/asrouter/modules/PanelTestProvider.sys.mjs
  browser/extensions/newtab/content-src/components/Base/Base.jsx
  browser/extensions/newtab/content-src/components/DiscoveryStreamComponents/FeatureHighlight/DownloadMobilePromoHighlight.jsx
  browser/extensions/newtab/content-src/components/DiscoveryStreamComponents/FeatureHighlight/_DownloadMobilePromoHighlight.scss
  browser/extensions/newtab/content-src/components/DownloadModalToggle/DownloadModalToggle.jsx
  browser/extensions/newtab/content-src/components/MessageWrapper/MessageWrapper.jsx
  browser/extensions/newtab/content-src/styles/activity-stream.scss
  browser/extensions/newtab/css/activity-stream.css
  browser/extensions/newtab/data/content/activity-stream.bundle.js
  browser/extensions/newtab/data/content/assets/download-qr-code-var-a.png
  browser/extensions/newtab/data/content/assets/download-qr-code-var-b.png
  browser/extensions/newtab/data/content/assets/download-qr-code-var-c.png
  browser/extensions/newtab/karma.mc.config.js
  browser/extensions/newtab/test/unit/content-src/components/MessageWrapper.test.jsx
Due: eslint, stylelint, file-whitespace

Bug 1947538 - Add Remote Settings sync periodic work r=android-reviewers,jonalmeida
  mobile/android/android-components/components/support/remotesettings/build.gradle
  mobile/android/android-components/components/support/remotesettings/src/main/java/mozilla/components/support/remotesettings/GlobalRemoteSettingsDependencyProvider.kt
  mobile/android/android-components/components/support/remotesettings/src/main/java/mozilla/components/support/remotesettings/RemoteSettingsSyncScheduler.kt
  mobile/android/android-components/components/support/remotesettings/src/main/java/mozilla/components/support/remotesettings/RemoteSettingsSyncWorker.kt
  mobile/android/android-components/components/support/remotesettings/src/test/java/mozilla/components/support/remotesettings/DefaultRemoteSettingsSyncSchedulerTest.kt
  mobile/android/android-components/docs/changelog.md
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/FenixApplication.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/Components.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/SecretSettingsFragment.kt
Due: file-whitespace

Bug 1959171 - Guard against imbalanced clips in DrawTargetCairo. r=aosmond
  gfx/2d/DrawTargetCairo.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1959171 - Guard against imbalanced clips in DrawTargetCairo. r=aosmond, a=dsmith
  gfx/2d/DrawTargetCairo.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1961013 - turn on explicit tab unloading in early beta or earlier r=haik
  browser/app/profile/firefox.js
Due: eslint

Bug 1944245 - Move MOZ_MACBUNDLE_NAME and MOZ_MACBUNDLE_ID from old-configure to moz.configure r=glandium
  old-configure.in
  toolkit/moz.configure
Due: py-black, py-ruff

Bug 1944289 - Move Process Name for IPC from old-configure to moz.configure r=glandium
  old-configure.in
  toolkit/moz.configure
Due: py-black, py-ruff

Bug 1959761 - Remove unused shader cs_blur_a8. r=gw
  gfx/wr/webrender/src/renderer/shade.rs
Due: rustfmt, file-whitespace, trojan-source

Bug 1960285 - Add details to "Extension is invalid" error r=rpl,devtools-reviewers,frontend-codestyle-reviewers,ochameau
  .eslintrc-ignores.js
  .prettierignore
  devtools/server/actors/addon/addons.js
  devtools/server/tests/xpcshell/addons/invalid-extension-manifest-badjson/manifest.json
  devtools/server/tests/xpcshell/addons/invalid-extension-manifest/manifest.json
  devtools/server/tests/xpcshell/addons/invalid-extension-missing-locales/manifest.json
  devtools/server/tests/xpcshell/test_addons_actor.js
  devtools/server/tests/xpcshell/xpcshell.toml
Due: eslint

Bug 1960459 - Correctly record legacy unenrollment failure telemetry r=nimbus-reviewers,relud,emcminn
  toolkit/components/nimbus/lib/Telemetry.sys.mjs
Due: eslint

Bug 1939488 - Replace inefficient regex of JSON comment stripper with linear algorithm r=zombie
  toolkit/components/extensions/Extension.sys.mjs
  toolkit/components/extensions/test/xpcshell/test_ext_json_parser.js
Due: eslint

Bug 1959188 - Removed usage of six in security/manager/ssl directory. r=firefox-build-system-reviewers,sergesanspaille
  security/manager/ssl/tests/unit/sign_app.py
  security/manager/ssl/tests/unit/test_content_signing/pysign.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Backed out changeset 9b7dc30514d5 (bug 1958801) for causing reftest failures at scripttest-pass.html
  layout/tools/reftest/reftest.sys.mjs
  remote/marionette/reftest.sys.mjs
Due: eslint

Backed out changeset 4e21f33303f4 (bug 1950639) for causing xpcshell failures at test_ext_native_messaging.js. CLOSED TREE
  testing/profiles/web-platform/user.js
  testing/specialpowers/content/SpecialPowersParent.sys.mjs
  toolkit/components/extensions/ExtensionCommon.sys.mjs
  toolkit/components/extensions/Schemas.sys.mjs
  toolkit/components/extensions/child/ext-test.js
  toolkit/components/extensions/schemas/test.json
  toolkit/components/extensions/test/mochitest/mochitest-serviceworker.toml
  toolkit/components/extensions/test/mochitest/test_ext_test.html
Due: eslint, file-whitespace

Bug 1959843 - Add support for rounded compositor clip to DirectComposition r=jgilbert,gfx-reviewers,ahale
  gfx/webrender_bindings/DCLayerTree.cpp
  gfx/webrender_bindings/DCLayerTree.h
  gfx/webrender_bindings/RenderCompositor.cpp
  gfx/webrender_bindings/RenderCompositor.h
  gfx/webrender_bindings/RenderCompositorANGLE.cpp
  gfx/webrender_bindings/RenderCompositorANGLE.h
  gfx/webrender_bindings/RenderCompositorLayersSWGL.cpp
  gfx/webrender_bindings/RenderCompositorLayersSWGL.h
  gfx/webrender_bindings/RenderCompositorNative.cpp
  gfx/webrender_bindings/RenderCompositorNative.h
  gfx/webrender_bindings/src/bindings.rs
  gfx/wr/webrender/src/composite.rs
  gfx/wr/webrender/src/compositor/sw_compositor.rs
  gfx/wr/webrender/src/lib.rs
  gfx/wr/webrender/src/renderer/mod.rs
Due: clang-format, rustfmt, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1959549 - Round the scroll offset in screen pixels in CompositorScrollUpdate::operator==. r=hiro
  gfx/layers/apz/src/AsyncPanZoomController.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1957543 - Make `_draggingOnPointerDown@text-property-editor.js` cache the `pointerdown.screenX` as integer r=nchevobbe,devtools-reviewers
  devtools/client/inspector/rules/views/text-property-editor.js
Due: eslint

Backed out changeset 8305c9bfb249 (bug 1960602) for causing Android mochitest failures on test_blockBFCache.html CLOSED TREE
  docshell/base/CanonicalBrowsingContext.cpp
  docshell/test/navigation/mochitest.toml
  docshell/test/navigation/test_blockBFCache.html
  dom/base/Document.cpp
  dom/base/Document.h
  dom/ipc/WindowGlobalParent.cpp
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Backed out changeset bc2104c816b7 (bug 1958161) for causing bc failures at browser_sanitizeDialog_v2_dataSizes.js
  browser/base/content/metrics.yaml
  browser/base/content/sanitizeDialog.js
  browser/base/content/test/sanitize/browser_sanitizeDialog_v2.js
Due: eslint, yaml

Bug 1948999 - Add inferred personalization UI card. r=home-newtab-reviewers,frontend-codestyle-reviewers,npypchenko
  browser/app/profile/firefox.js
  browser/extensions/newtab/content-src/components/DiscoveryStreamComponents/CardSections/CardSections.jsx
  browser/extensions/newtab/content-src/components/DiscoveryStreamComponents/PersonalizedCard/PersonalizedCard.jsx
  browser/extensions/newtab/content-src/components/DiscoveryStreamComponents/PersonalizedCard/_PersonalizedCard.scss
  browser/extensions/newtab/content-src/styles/activity-stream.scss
  browser/extensions/newtab/css/activity-stream.css
  browser/extensions/newtab/data/content/activity-stream.bundle.js
  browser/extensions/newtab/data/content/assets/waving-fox.svg
  browser/extensions/newtab/karma.mc.config.js
  browser/extensions/newtab/lib/ActivityStream.sys.mjs
  toolkit/components/nimbus/FeatureManifest.yaml
Due: eslint, stylelint, yaml, file-whitespace

Backed out changeset 79cca1493923 (bug 1341913) for causing frequent failures at test_ext_contentscript_data_url.html. CLOSED TREE
  gfx/webrender_bindings/src/bindings.rs
Due: rustfmt, file-whitespace, trojan-source

no bug - Merge android-l10n translations from mozilla-central r=release a=l10n
  mobile/android/android-components/components/compose/base/src/main/res/values-sat/strings.xml
  mobile/android/android-components/components/feature/app-links/src/main/res/values-fr/strings.xml
  mobile/android/fenix/app/src/main/res/values-bs/strings.xml
  mobile/android/fenix/app/src/main/res/values-co/strings.xml
  mobile/android/fenix/app/src/main/res/values-cy/strings.xml
  mobile/android/fenix/app/src/main/res/values-da/strings.xml
  mobile/android/fenix/app/src/main/res/values-es-rAR/strings.xml
  mobile/android/fenix/app/src/main/res/values-es-rCL/strings.xml
  mobile/android/fenix/app/src/main/res/values-es/strings.xml
  mobile/android/fenix/app/src/main/res/values-fur/strings.xml
  mobile/android/fenix/app/src/main/res/values-fy-rNL/strings.xml
  mobile/android/fenix/app/src/main/res/values-ia/strings.xml
  mobile/android/fenix/app/src/main/res/values-is/strings.xml
  mobile/android/fenix/app/src/main/res/values-kk/strings.xml
  mobile/android/fenix/app/src/main/res/values-ml/strings.xml
  mobile/android/fenix/app/src/main/res/values-nl/strings.xml
  mobile/android/fenix/app/src/main/res/values-sat/strings.xml
  mobile/android/fenix/app/src/main/res/values-tr/strings.xml
  mobile/android/fenix/app/src/main/res/values-ug/strings.xml
  mobile/android/fenix/app/src/main/res/values-vi/strings.xml
  mobile/android/fenix/app/src/main/res/values-zh-rCN/strings.xml
  mobile/android/fenix/app/src/main/res/values-zh-rTW/strings.xml
Due: eslint, combine-en-US-translations, push-en-US-translations

Backed out changeset 256a83eeb911 (bug 1959432)
  mobile/android/android-components/components/concept/fetch/src/main/java/mozilla/components/concept/fetch/Headers.kt
Due: none

Backed out changeset 884a7edc8906 (bug 1957610) DONTBUILD
  mobile/android/android-components/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/fetch/GeckoViewFetchClient.kt
  mobile/android/android-components/components/concept/fetch/src/main/java/mozilla/components/concept/fetch/Request.kt
Due: none

Backed out changeset ec50101b9699 (bug 1948999) for causing newtab failure CLOSED TREE
  browser/app/profile/firefox.js
  browser/extensions/newtab/content-src/components/DiscoveryStreamComponents/CardSections/CardSections.jsx
  browser/extensions/newtab/content-src/components/DiscoveryStreamComponents/PersonalizedCard/PersonalizedCard.jsx
  browser/extensions/newtab/content-src/components/DiscoveryStreamComponents/PersonalizedCard/_PersonalizedCard.scss
  browser/extensions/newtab/content-src/styles/activity-stream.scss
  browser/extensions/newtab/css/activity-stream.css
  browser/extensions/newtab/data/content/activity-stream.bundle.js
  browser/extensions/newtab/data/content/assets/waving-fox.svg
  browser/extensions/newtab/karma.mc.config.js
  browser/extensions/newtab/lib/ActivityStream.sys.mjs
  toolkit/components/nimbus/FeatureManifest.yaml
Due: eslint, stylelint, yaml, file-whitespace

Bug 1961069: Enable weather suggestions by default r=adw
  browser/app/profile/firefox.js
  browser/components/urlbar/UrlbarPrefs.sys.mjs
Due: eslint

Bug 1957321 - Make `FindFrameTargetedByInputEvent()` refer clickable ancestors too for single touch start r=smaug
  dom/html/test/forms/test_input_range_mouse_and_touch_events.html
  layout/base/PositionedEventTargeting.cpp
  layout/base/tests/test_event_target_radius.html
  modules/libpref/init/StaticPrefList.yaml
Due: eslint, yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1961061 - Update android nightly application-services version bump to 6a007c98292fa72965d36389ce32d7609e399217 r=release-managers,RyanVM
  mobile/android/android-components/plugins/dependencies/src/main/java/ApplicationServices.kt
  mobile/android/android-components/plugins/dependencies/src/main/java/moz.yaml
Due: yaml
