Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source, combine-en-US-translations, push-en-US-translations

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, **/*.java, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml
  combine-en-US-translations: any of: **/*.ftl, **/*.properties, **/*.dtd, **/*strings.xml, **/update-translations.yml, **/l10n/combine/combine.py, **/l10n/combine-translation-versions.py
  push-en-US-translations: any of: **/*.ftl, **/*.properties, **/*.dtd, **/*strings.xml, **/update-translations.yml, **/l10n/combine/combine.py, **/l10n/combine-translation-versions.py

Bug 1958004 - Remove unknown csd margin code. r=stransky
  widget/gtk/gtk3drawing.cpp
  widget/gtk/gtkdrawing.h
  widget/gtk/nsWindow.cpp
  widget/gtk/nsWindow.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1958004 - Remove GetTopLevelCSDDecorationSize(). r=stransky
  widget/gtk/MozContainerWayland.cpp
  widget/gtk/gtk3drawing.cpp
  widget/gtk/gtkdrawing.h
  widget/gtk/nsWindow.cpp
  widget/gtk/nsWindow.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1955856 [wpt PR 51538] - docs: Fix the incorrect header hierarchy that was resulting in incorrect TOC tree, a=testonly
  testing/web-platform/tests/docs/running-tests/webkitgtk_minibrowser.md
  testing/web-platform/tests/docs/running-tests/wpewebkit_minibrowser.md
Due: file-whitespace

Bug 1957381 [wpt PR 51716] - Replace ConsumeNumberRaw with ConsumeNumber for cubic-bezier(), a=testonly
  testing/web-platform/tests/css/css-easing/timing-functions-syntax-valid.html
Due: eslint, file-whitespace

Bug 1957356 [wpt PR 51715] - Disallow unresolved calc() in linear() timing function, a=testonly
  testing/web-platform/tests/css/css-easing/linear-timing-functions-chrome-406926307-crash.html
Due: eslint, file-whitespace

Bug 1957381 [wpt PR 51716] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-easing/timing-functions-syntax-valid.html.ini
Due: test-manifest

Bug 1957388 [wpt PR 51717] - Revert "[carousel] Add invalidation logic and tests for scroll-marker-contain", a=testonly
  testing/web-platform/tests/css/css-overflow/scroll-marker-contain-005.tentative.html
  testing/web-platform/tests/css/css-overflow/scroll-marker-contain-006.tentative.html
  testing/web-platform/tests/css/css-overflow/scroll-marker-contain-007.tentative.html
  testing/web-platform/tests/css/css-overflow/scroll-marker-contain-008-ref.tentative.html
  testing/web-platform/tests/css/css-overflow/scroll-marker-contain-008.tentative.html
Due: eslint, file-whitespace

Bug 1957443 [wpt PR 51720] - [shared storage] Validate that batchUpdate() cannot contain inner method locks, a=testonly
  testing/web-platform/tests/shared-storage/batch-update-inner-method-lock-not-allowed.tentative.https.sub.html
  testing/web-platform/tests/shared-storage/setters.tentative.https.sub.html
  testing/web-platform/tests/shared-storage/web-locks-header-modifier-method.tentative.https.sub.html
Due: eslint, file-whitespace

Bug 1957441 [wpt PR 51719] - ScopedVT: Compute scope-relative participant geometry., a=testonly
  testing/web-platform/tests/css/css-view-transitions/scoped/content-ref.html
  testing/web-platform/tests/css/css-view-transitions/scoped/new-content.html
  testing/web-platform/tests/css/css-view-transitions/scoped/old-content.html
Due: eslint, file-whitespace

Bug 1957441 [wpt PR 51719] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-view-transitions/scoped/new-content.html.ini
  testing/web-platform/meta/css/css-view-transitions/scoped/old-content.html.ini
Due: test-manifest

Bug 1957467 [wpt PR 51725] - [FedCM] Limit the number of IDPs requested, a=testonly
  testing/web-platform/tests/fedcm/fedcm-multi-idp/fedcm-too-many-idps.https.html
Due: eslint, file-whitespace

Bug 1957185 [wpt PR 51705] - blink: Remove all helper persistent usage record record code in wpt, a=testonly
  testing/web-platform/tests/encrypted-media/polyfill/cast-polyfill.js
  testing/web-platform/tests/encrypted-media/polyfill/clearkey-polyfill.js
  testing/web-platform/tests/encrypted-media/polyfill/make-polyfill-tests.py
  testing/web-platform/tests/encrypted-media/util/drm-messagehandler.js
Due: eslint, py-black, py-ruff, file-whitespace, trojan-source

Bug 1957458 [wpt PR 51722] - Use a more robust way to generate custom element names, a=testonly
  testing/web-platform/tests/dom/nodes/moveBefore/custom-element-move-reactions.html
Due: eslint, file-whitespace

Bug 1957449 [wpt PR 51721] - [vt] pause play state in snapshot-containing-block-static.html, a=testonly
  testing/web-platform/tests/css/css-view-transitions/snapshot-containing-block-static.html
Due: eslint, file-whitespace

Bug 1957134 [wpt PR 51693] - Update installOnDevice API to await successful installation, a=testonly
  testing/web-platform/tests/speech-api/SpeechRecognition-installOnDevice.https.html
Due: eslint, file-whitespace

Bug 1957574 [wpt PR 51729] - [vt] pause animations in -match-* tests, a=testonly
  testing/web-platform/tests/css/css-view-transitions/pseudo-with-classes-match-ident.html
  testing/web-platform/tests/css/css-view-transitions/pseudo-with-classes-match-multiple-wildcard.html
Due: eslint, file-whitespace

Bug 1957132 [wpt PR 51692] - Update wpt metadata, a=testonly
  testing/web-platform/meta/media-capabilities/decodingInfo-webrtc.any.js.ini
Due: test-manifest

Bug 1957132 [wpt PR 51692] - [media capabilities] Fix webrtc tests., a=testonly
  testing/web-platform/tests/media-capabilities/decodingInfo-webrtc.any.js
  testing/web-platform/tests/media-capabilities/decodingInfoEncryptedMedia.http.html
Due: eslint, file-whitespace

Bug 1957629 [wpt PR 51732] - Support calc() expressions for (100% - amount) in basic shape values, a=testonly
  testing/web-platform/tests/css/css-shapes/parsing/shape-outside-computed.html
  testing/web-platform/tests/css/css-shapes/parsing/shape-outside-valid-position.html
Due: eslint, file-whitespace

Bug 1957629 [wpt PR 51732] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-shapes/parsing/shape-outside-computed.html.ini
  testing/web-platform/meta/css/css-shapes/parsing/shape-outside-valid-position.html.ini
Due: test-manifest

Bug 1957464 [wpt PR 51724] - Export made from a WebKit repository of commits https://commits.webkit.org/292368@main and https://commits.webkit.org/292602@main, a=testonly
  testing/web-platform/tests/css/css-page/cssom/margin-001.html
  testing/web-platform/tests/css/css-page/cssom/page-002.html
  testing/web-platform/tests/css/cssom/cssom-fontfacerule-constructors.html
  testing/web-platform/tests/css/cssom/cssstyledeclaration-cssfontrule.tentative.html
  testing/web-platform/tests/css/cssom/idlharness.html
Due: eslint, file-whitespace

Bug 1957631 [wpt PR 51739] - [anchor] Allow position-area to expand the containing-block rect., a=testonly
  testing/web-platform/tests/css/css-anchor-position/position-area-in-grid.html
  testing/web-platform/tests/css/css-anchor-position/position-area-scrolling-006.html
Due: eslint, file-whitespace

Bug 1957464 [wpt PR 51724] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-page/cssom/page-002.html.ini
  testing/web-platform/meta/css/cssom/cssom-fontfacerule-constructors.html.ini
  testing/web-platform/meta/css/cssom/idlharness.html.ini
Due: test-manifest

Bug 1957638 [wpt PR 51741] - Safe alignment in statically positioned OOFs, a=testonly
  testing/web-platform/tests/css/css-flexbox/abspos/flex-abspos-staticpos-align-self-safe-002-ref.html
  testing/web-platform/tests/css/css-flexbox/abspos/flex-abspos-staticpos-align-self-safe-002.html
  testing/web-platform/tests/css/css-flexbox/abspos/flex-abspos-staticpos-align-self-safe-003-ref.html
  testing/web-platform/tests/css/css-flexbox/abspos/flex-abspos-staticpos-align-self-safe-003.html
Due: eslint, file-whitespace

Bug 1957473 [wpt PR 51726] - webnn: add fp16 conformance tests for element-wise binary operations, a=testonly
  testing/web-platform/tests/webnn/conformance_tests/add.https.any.js
  testing/web-platform/tests/webnn/conformance_tests/div.https.any.js
  testing/web-platform/tests/webnn/conformance_tests/max.https.any.js
  testing/web-platform/tests/webnn/conformance_tests/min.https.any.js
  testing/web-platform/tests/webnn/conformance_tests/mul.https.any.js
  testing/web-platform/tests/webnn/conformance_tests/pow.https.any.js
  testing/web-platform/tests/webnn/conformance_tests/sub.https.any.js
Due: eslint

Bug 1957639 [wpt PR 51743] - Revert "Update installOnDevice API to await successful installation", a=testonly
  testing/web-platform/tests/speech-api/SpeechRecognition-installOnDevice.https.html
Due: eslint, file-whitespace

Bug 1957789 - [wpt-sync] Update web-platform-tests to 201ffcb896b4a15e4317a80539eb8c8b1816fe41, a=testonly
  testing/web-platform/meta/autoplay-policy-detection/autoplaypolicy.html.ini
  testing/web-platform/meta/cookies/partitioned-cookies/partitioned-cookies-a-b-a-embed.tentative.https.html.ini
  testing/web-platform/meta/css/css-overflow/scroll-marker-contain-005.tentative.html.ini
  testing/web-platform/meta/css/css-overflow/scroll-marker-contain-006.tentative.html.ini
  testing/web-platform/meta/css/css-overflow/scroll-marker-contain-007.tentative.html.ini
  testing/web-platform/meta/css/css-scroll-anchoring/zero-scroll-offset-001.html.ini
  testing/web-platform/meta/css/css-scroll-snap/snap-after-relayout/resnap-on-reconstructing-frame.html.ini
  testing/web-platform/meta/css/css-shapes/parsing/shape-outside-computed.html.ini
  testing/web-platform/meta/css/cssom/cssstyledeclaration-cssfontrule.tentative.html.ini
  testing/web-platform/meta/css/cssom/idlharness.html.ini
  testing/web-platform/meta/encoding/legacy-mb-japanese/shift_jis/sjis-encode-form-windows-31j.html.ini
  testing/web-platform/meta/fetch/metadata/generated/window-history.https.sub.html.ini
  testing/web-platform/meta/focus/activeelement-after-calling-window-focus.sub.html.ini
  testing/web-platform/meta/html/browsers/the-window-object/open-close/open-features-non-integer-left.html.ini
  testing/web-platform/meta/html/document-isolation-policy/__dir__.ini
  testing/web-platform/meta/html/semantics/embedded-content/the-canvas-element/toBlob-cross-realm-callback-report-exception.html.ini
  testing/web-platform/meta/html/semantics/embedded-content/the-iframe-element/iframe_sandbox_anchor_download_block_downloads.tentative.html.ini
  testing/web-platform/meta/html/semantics/embedded-content/the-iframe-element/iframe_sandbox_window_open_download_block_downloads.tentative.html.ini
  testing/web-platform/meta/html/semantics/embedded-content/the-iframe-element/sandbox_026.htm.ini
  testing/web-platform/meta/mozilla-sync
  testing/web-platform/meta/pointerevents/capturing_boundary_event_handler_at_ua_shadowdom.html.ini
  testing/web-platform/meta/pointerevents/compat/pointerevent_touch_target_after_pointerdown_target_removed.tentative.html.ini
  testing/web-platform/meta/pointerevents/pointerevent_fractional_coordinates.html.ini
  testing/web-platform/meta/pointerevents/pointerevent_touch-action-inherit_child-none_touch.html.ini
  testing/web-platform/meta/pointerevents/pointerevent_touch-action-inherit_child-pan-x-child-pan-x_touch.html.ini
  testing/web-platform/meta/pointerevents/pointerevent_touch-action-inherit_child-pan-x-child-pan-y_touch.html.ini
Due: test-manifest

Bug 1957074 - Part 4: Remove use of lock from arena intialization r=sfink
  js/src/gc/Allocator.cpp
  js/src/gc/AtomMarking.cpp
  js/src/gc/AtomMarking.h
  js/src/gc/GC.cpp
  js/src/gc/Heap-inl.h
  js/src/gc/Heap.h
  js/src/jsapi-tests/testSortedArenaList.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1957074 - Part 3: Move freeing atom marking bitmap index out of Arena::release r=sfink
  js/src/gc/AtomMarking.cpp
  js/src/gc/AtomMarking.h
  js/src/gc/Compacting.cpp
  js/src/gc/GC.cpp
  js/src/gc/Heap-inl.h
  js/src/gc/Heap.h
  js/src/gc/Sweeping.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1957074 - Part 2: Merge swept arenas on main thread r=sfink
  js/src/gc/Allocator.cpp
  js/src/gc/ArenaList-inl.h
  js/src/gc/ArenaList.h
  js/src/gc/GC-inl.h
  js/src/gc/GC.cpp
  js/src/gc/Sweeping.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1957074 - Part 1: Move finalize methods from GCRuntime to ArenaLists class r=sfink
  js/src/gc/ArenaList.h
  js/src/gc/GCRuntime.h
  js/src/gc/Sweeping.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1957074 - Part 5: Add a current chunk which can be used by the main thread without locking r=sfink
  js/public/HeapAPI.h
  js/src/gc/Allocator.cpp
  js/src/gc/GC.cpp
  js/src/gc/GCRuntime.h
  js/src/gc/Heap.cpp
  js/src/gc/Heap.h
  js/src/gc/Sweeping.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1957400 - Refactor: CheckListView.kt to ChecklistItem.kt r=android-reviewers,gmalekpour,mavduevskiy
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/setup/ui/ChecklistView.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/setup/ui/SetupChecklist.kt
Due: none

Bug 1957400 - Added "Firefox" to the setup checklist group title. r=android-reviewers,gmalekpour
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/setup/ui/CheckListView.kt
Due: none

Bug 1957400 - Added the navigation actions for each setup checklist task r=android-reviewers,mavduevskiy
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/sessioncontrol/SessionControlController.kt
  mobile/android/fenix/app/src/main/res/navigation/nav_graph.xml
Due: eslint

Bug 1957400 - Update the SetupChecklistMiddleware.kt to handle updates to the repository r=android-reviewers,mavduevskiy
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/Components.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/setup/store/SetupChecklistMiddleware.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/setup/store/SetupChecklistPreferencesMiddleware.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/home/setup/store/SetupChecklistMiddlewareTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/home/setup/store/SetupChecklistPreferencesMiddlewareTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/home/setup/store/SetupChecklistTelemetryMiddlewareTest.kt
Due: none

Bug 1957400 - Update the onClick for the `onChecklistItemClicked` to use the clicked task r=android-reviewers,avirvara,mavduevskiy
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/setup/ui/ChecklistView.kt
Due: none

Bug 1957400 - Remove the `unused` suppression from the setup checklist strings r=android-reviewers,android-l10n-reviewers,flod,gmalekpour,mavduevskiy
  mobile/android/fenix/app/src/main/res/values/strings.xml
Due: eslint, combine-en-US-translations, push-en-US-translations

Bug 1956698 - [devtools] Escape the method value r=devtools-reviewers,nchevobbe
  devtools/client/netmonitor/src/utils/powershell.js
  devtools/client/netmonitor/test/browser_net_copy_as_powershell.js
Due: eslint

Bug 1956698 - [devtools] Escape the method value r=devtools-reviewers,nchevobbe, a=dsmith
  devtools/client/netmonitor/src/utils/powershell.js
  devtools/client/netmonitor/test/browser_net_copy_as_powershell.js
Due: eslint
