Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source, combine-en-US-translations, push-en-US-translations

eslint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

stylelint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

py-black:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

py-ruff:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

yaml:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

shellcheck:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

clang-format:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

rustfmt:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

fluent-lint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

localization:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

Bug 1521088 - Make an inner table frame with unconstrained block-size copy the IsBResize flag from its table-wrapper parent. r=TYLin
  layout/generic/ReflowInput.cpp
  testing/web-platform/meta/css/css-grid/table-grid-item-dynamic-004.html.ini
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Bug 1962804 - Fix possible race condition on `mach` site creation by using FileLock r=firefox-build-system-reviewers,nalexander
  python/mach/mach/site.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1963446 - Use non-native textfields on Linux. r=stransky,desktop-theme-reviewers,dao
  toolkit/themes/shared/search-textbox.css
  widget/gtk/WidgetStyleCache.cpp
  widget/gtk/gtk3drawing.cpp
  widget/gtk/gtkdrawing.h
  widget/gtk/nsLookAndFeel.cpp
  widget/gtk/nsLookAndFeel.h
  widget/gtk/nsNativeThemeGTK.cpp
Due: stylelint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1963446 - Remove unused appearance: dualbutton. r=stransky
  servo/components/style/values/specified/box.rs
  widget/gtk/nsNativeThemeGTK.cpp
Due: clang-format, rustfmt, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1963446 - Remove unused button-arrow-{previous,next} appearance values. r=stransky
  servo/components/style/values/specified/box.rs
  widget/gtk/gtk3drawing.cpp
  widget/gtk/nsNativeThemeGTK.cpp
  widget/nsNativeTheme.cpp
Due: clang-format, rustfmt, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1963446 - Use non-native buttons on Linux. r=stransky,desktop-theme-reviewers,dao
  browser/themes/linux/places/organizer.css
  servo/components/style/values/specified/box.rs
  toolkit/themes/linux/global/button.css
  widget/gtk/WidgetStyleCache.cpp
  widget/gtk/gtk3drawing.cpp
  widget/gtk/gtkdrawing.h
  widget/gtk/nsNativeThemeGTK.cpp
  widget/nsNativeTheme.cpp
Due: stylelint, clang-format, rustfmt, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1963446 - Unify button.css between Linux and Windows. r=desktop-theme-reviewers,dao
  toolkit/themes/linux/global/button.css
  toolkit/themes/linux/global/jar.mn
  toolkit/themes/shared/desktop-non-mac.jar.inc.mn
  toolkit/themes/windows/global/button.css
  toolkit/themes/windows/global/jar.mn
Due: stylelint, file-whitespace

Bug 1959483 - Port tests from ExperimentFakes and ExperimentTestUtils to NimbusTestUtils r=nimbus-reviewers,beth
  toolkit/components/nimbus/test/NimbusTestUtils.sys.mjs
  toolkit/components/nimbus/test/browser/browser_experiment_evaluate_jexl.js
  toolkit/components/nimbus/test/browser/browser_experimentapi_child.js
  toolkit/components/nimbus/test/browser/browser_nimbus_telemetry.js
  toolkit/components/nimbus/test/browser/browser_prefs.js
  toolkit/components/nimbus/test/browser/browser_remotesettings_experiment_enroll.js
  toolkit/components/nimbus/test/browser/browser_remotesettingsexperimentloader_init.js
  toolkit/components/nimbus/test/browser/browser_remotesettingsexperimentloader_remote_defaults.js
  toolkit/components/nimbus/test/browser/head.js
  toolkit/components/nimbus/test/unit/head.js
  toolkit/components/nimbus/test/unit/test_ExperimentAPI.js
  toolkit/components/nimbus/test/unit/test_ExperimentAPI_ExperimentFeature.js
  toolkit/components/nimbus/test/unit/test_ExperimentAPI_ExperimentFeature_getAllVariables.js
  toolkit/components/nimbus/test/unit/test_ExperimentAPI_ExperimentFeature_getVariable.js
  toolkit/components/nimbus/test/unit/test_ExperimentAPI_NimbusFeatures.js
  toolkit/components/nimbus/test/unit/test_ExperimentManager_context.js
  toolkit/components/nimbus/test/unit/test_ExperimentManager_enroll.js
  toolkit/components/nimbus/test/unit/test_ExperimentManager_lifecycle.js
  toolkit/components/nimbus/test/unit/test_ExperimentManager_prefs.js
  toolkit/components/nimbus/test/unit/test_ExperimentManager_unenroll.js
  toolkit/components/nimbus/test/unit/test_ExperimentStore.js
  toolkit/components/nimbus/test/unit/test_FirefoxLabs.js
  toolkit/components/nimbus/test/unit/test_Migrations.js
  toolkit/components/nimbus/test/unit/test_NimbusTestUtils.js
  toolkit/components/nimbus/test/unit/test_RemoteSettingsExperimentLoader.js
  toolkit/components/nimbus/test/unit/test_RemoteSettingsExperimentLoader_updateRecipes.js
  toolkit/components/nimbus/test/unit/test_TargetingContextRecorder.js
  toolkit/components/nimbus/test/unit/test_localization.js
  toolkit/components/nimbus/test/unit/test_nimbusTelemetry.js
  toolkit/components/nimbus/test/unit/test_policy.js
  toolkit/components/nimbus/test/unit/test_prefFlips.js
  toolkit/components/normandy/test/browser/browser_LegacyHeartbeat.js
  toolkit/components/normandy/test/browser/browser_about_studies.js
Due: eslint

Bug 1959483 - Port tests from ExperimentFakes and ExperimentTestUtils to NimbusTestUtils in toolkit/components/pictureinpicture r=nimbus-reviewers,pip-reviewers,beth,kpatenio
  toolkit/components/pictureinpicture/tests/browser_nimbusDisplayDuration.js
  toolkit/components/pictureinpicture/tests/browser_nimbusFirstTimeStyleVariant.js
  toolkit/components/pictureinpicture/tests/browser_nimbusMessageFirstTimePip.js
  toolkit/components/pictureinpicture/tests/browser_nimbusShowIconOnly.js
Due: eslint

Bug 1725390: Test if we downgrade downloads r=maltejur
  dom/security/test/https-first/browser.toml
  dom/security/test/https-first/browser_nohttps_download.js
  dom/security/test/https-first/browser_slow_download.js
  dom/security/test/https-first/file_nohttps_download.html
  dom/security/test/https-first/file_nohttps_download.sjs
Due: eslint, file-whitespace

No Bug - Bumping Firefox l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  browser/locales/l10n-changesets.json
Due: eslint

No Bug - Bumping Mobile l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  mobile/locales/l10n-changesets.json
Due: eslint

Bug 1935160 - Remove support for histograms of kind 'flag' r=TravisLong
  toolkit/components/telemetry/build_scripts/gen_histogram_data.py
  toolkit/components/telemetry/build_scripts/mozparsers/parse_histograms.py
  toolkit/components/telemetry/docs/collection/histograms.rst
  toolkit/components/telemetry/tests/python/test_histogramtools_strict.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1936940 - Implement dialog light dismiss r=webidl,emilio
  dom/base/Document.cpp
  dom/base/Document.h
  dom/base/nsINode.cpp
  dom/base/nsINode.h
  dom/closewatcher/CloseWatcher.cpp
  dom/closewatcher/CloseWatcher.h
  dom/events/EventStateManager.cpp
  dom/events/EventStateManager.h
  dom/html/HTMLDialogElement.cpp
  dom/html/HTMLDialogElement.h
  dom/webidl/HTMLDialogElement.webidl
  modules/libpref/init/StaticPrefList.yaml
  testing/web-platform/meta/html/semantics/interactive-elements/the-dialog-element/dialog-closedby-bounds-clicking.html.ini
  testing/web-platform/meta/html/semantics/interactive-elements/the-dialog-element/dialog-closedby-corner-cases.html.ini
  testing/web-platform/meta/html/semantics/interactive-elements/the-dialog-element/dialog-closedby-start-open.html.ini
  testing/web-platform/meta/html/semantics/interactive-elements/the-dialog-element/dialog-focusability.html.ini
  testing/web-platform/tests/html/semantics/interactive-elements/the-dialog-element/dialog-closedby-bounds-clicking.html
  testing/web-platform/tests/html/semantics/interactive-elements/the-dialog-element/dialog-closedby-corner-cases.html
  testing/web-platform/tests/html/semantics/interactive-elements/the-dialog-element/dialog-closedby.html
  xpcom/ds/StaticAtoms.py
Due: eslint, py-black, py-ruff, yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Bug 1959732 - Web compat reporter send more info is now on the same line r=android-reviewers,007
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/webcompat/ui/WebCompatReporter.kt
Due: none

Bug 1959668, part 1 - Allow multiple configURLs in a FedCM well-known - r=webidl,smaug,anti-tracking-reviewers,timhuang
  dom/credentialmanagement/identity/IdentityCredential.cpp
  dom/credentialmanagement/identity/IdentityCredential.h
  dom/credentialmanagement/identity/IdentityNetworkHelpers.cpp
  dom/credentialmanagement/identity/IdentityNetworkHelpers.h
  dom/webidl/IdentityCredential.webidl
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1959668, part 2 - Test multiple configURLs in a FedCM well-known - r=anti-tracking-reviewers,timhuang
  dom/credentialmanagement/identity/IdentityCredential.cpp
  dom/credentialmanagement/identity/tests/mochitest/mochitest.toml
  dom/credentialmanagement/identity/tests/mochitest/test_well_known_multiple_config_simple.html
  dom/credentialmanagement/identity/tests/mochitest/test_well_known_multiple_config_wrong_account_endpoint.html
  dom/credentialmanagement/identity/tests/mochitest/web-identity-multiple-config
  dom/credentialmanagement/identity/tests/mochitest/web-identity-multiple-config^headers^
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1959669 - Block FedCM for some cases where there is not user activation - r=anti-tracking-reviewers,webidl,smaug,timhuang
  dom/credentialmanagement/identity/IdentityCredential.cpp
  dom/credentialmanagement/identity/IdentityCredential.h
  dom/credentialmanagement/identity/IdentityCredentialSerializationHelpers.h
  dom/credentialmanagement/identity/tests/browser/browser.toml
  dom/credentialmanagement/identity/tests/browser/browser_close_prompt_on_timeout.js
  dom/credentialmanagement/identity/tests/browser/browser_passive_requires_connected.js
  dom/credentialmanagement/identity/tests/browser/browser_single_concurrent_identity_request.js
  dom/credentialmanagement/identity/tests/browser/server_manifest.json
  dom/credentialmanagement/identity/tests/mochitest/mochitest.toml
  dom/credentialmanagement/identity/tests/mochitest/test_account_label.html
  dom/credentialmanagement/identity/tests/mochitest/test_accounts_error.html
  dom/credentialmanagement/identity/tests/mochitest/test_accounts_redirect.html
  dom/credentialmanagement/identity/tests/mochitest/test_delay_reject.html
  dom/credentialmanagement/identity/tests/mochitest/test_domain_hint_filter.html
  dom/credentialmanagement/identity/tests/mochitest/test_empty_provider_list.html
  dom/credentialmanagement/identity/tests/mochitest/test_get_without_providers.html
  dom/credentialmanagement/identity/tests/mochitest/test_idtoken_error.html
  dom/credentialmanagement/identity/tests/mochitest/test_idtoken_redirect.html
  dom/credentialmanagement/identity/tests/mochitest/test_login_hint_filter.html
  dom/credentialmanagement/identity/tests/mochitest/test_manifest_same_site_ignores_well_known.html
  dom/credentialmanagement/identity/tests/mochitest/test_no_accounts.html
  dom/credentialmanagement/identity/tests/mochitest/test_simple.html
  dom/credentialmanagement/identity/tests/mochitest/test_simple_no_user_activation.html
  dom/credentialmanagement/identity/tests/mochitest/test_two_accounts.html
  dom/credentialmanagement/identity/tests/mochitest/test_two_providers.html
  dom/credentialmanagement/identity/tests/mochitest/test_well_known_multiple_config_simple.html
  dom/credentialmanagement/identity/tests/mochitest/test_well_known_multiple_config_wrong_account_endpoint.html
  dom/credentialmanagement/identity/tests/mochitest/test_wrong_provider_in_manifest.html
  dom/ipc/PWindowGlobal.ipdl
  dom/ipc/WindowGlobalParent.cpp
  dom/ipc/WindowGlobalParent.h
  dom/webidl/IdentityCredential.webidl
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Revert "Bug 1956042 - Support multiple instances of SingleSelect on the same aboutwelcome screen r=omc-reviewers,jprickett,mviar"
  browser/components/aboutwelcome/content-src/components/ContentTiles.jsx
  browser/components/aboutwelcome/content-src/components/MultiStageAboutWelcome.jsx
  browser/components/aboutwelcome/content-src/components/MultiStageProtonScreen.jsx
  browser/components/aboutwelcome/content-src/components/SingleSelect.jsx
  browser/components/aboutwelcome/content/aboutwelcome.bundle.js
  browser/components/aboutwelcome/tests/unit/ContentTiles.test.jsx
  browser/components/aboutwelcome/tests/unit/MultiStageAboutWelcome.test.jsx
Due: eslint

Bug 1906740 - Make nsWindow::GetDPI reliable right after restore from minimize. r=win-reviewers,handyman
  widget/windows/nsWindow.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1959139 - Ensure platform-specific tags aren't missing in update-glean-tags r=TravisLong
  toolkit/components/glean/build_scripts/mach_commands.py
  toolkit/components/glean/tags.yaml
Due: py-black, py-ruff, yaml, file-whitespace, trojan-source

Bug 1957640 - Replace Megazord.init with RustComponentsInitializer r=joschmidt,matt-tighe,android-reviewers
  mobile/android/android-components/components/service/sync-autofill/src/test/java/mozilla/components/service/sync/autofill/AutofillCreditCardsAddressesStorageTest.kt
  mobile/android/android-components/components/service/sync-autofill/src/test/java/mozilla/components/service/sync/autofill/AutofillCryptoTest.kt
  mobile/android/android-components/components/service/sync-autofill/src/test/java/mozilla/components/service/sync/autofill/DefaultCreditCardValidationDelegateTest.kt
  mobile/android/android-components/components/service/sync-autofill/src/test/java/mozilla/components/service/sync/autofill/GeckoCreditCardsAddressesStorageDelegateTest.kt
  mobile/android/android-components/samples/browser/src/main/java/org/mozilla/samples/browser/SampleApplication.kt
  mobile/android/android-components/samples/compose-browser/src/main/java/org/mozilla/samples/compose/browser/BrowserApplication.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/FenixApplication.kt
Due: none

Bug 1963767 - Update android nightly application-services version bump to ef07885a02e02be873b0a870aa0318d2973fc8c5 r=dmeehan
  mobile/android/android-components/plugins/dependencies/src/main/java/ApplicationServices.kt
  mobile/android/android-components/plugins/dependencies/src/main/java/moz.yaml
Due: yaml

Bug 1963756 - Add support for plain git bootstrap, and make it the default. r=firefox-build-system-reviewers,sylvestre,taskgraph-reviewers,ahochheiden,bhearsum
  docs/contributing/contribution_quickref.rst
  docs/setup/linux_build.rst
  docs/setup/macos_build.rst
  docs/setup/windows_build.rst
  python/mozboot/bin/bootstrap.py
  taskcluster/gecko_taskgraph/transforms/bootstrap.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1963756 - Change the path where the repo is bootstrapped by default with git. r=glob,sylvestre
  docs/contributing/contribution_quickref.rst
  docs/setup/linux_32bit_build_on_64bit_OS.rst
  docs/setup/linux_build.rst
  docs/setup/macos_build.rst
  docs/setup/windows_build.rst
  python/mozboot/bin/bootstrap.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1962614 - Add strings for PBM locked CFR a=RyanVM
  mobile/android/fenix/app/src/main/res/values/strings.xml
Due: eslint, combine-en-US-translations, push-en-US-translations

Bug 1961443 - Add Freetype symbols to the libxul symbol list for Android. a=dmeehan
  toolkit/library/libxul.symbols
Due: none

Bug 1963886 - Don't change with NC margins on minimized windows. r=win-reviewers,handyman
  widget/windows/nsWindow.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1959666668 - remove trailing whitespace
  dom/credentialmanagement/identity/IdentityCredential.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Revert "Bug 1963756 - Change the path where the repo is bootstrapped by default with git. r=glob,sylvestre" on requested from glandium
  docs/contributing/contribution_quickref.rst
  docs/setup/linux_32bit_build_on_64bit_OS.rst
  docs/setup/linux_build.rst
  docs/setup/macos_build.rst
  docs/setup/windows_build.rst
  python/mozboot/bin/bootstrap.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Revert "Bug 1935160 - Remove support for histograms of kind 'flag' r=TravisLong" for telemetry-python task failure
  toolkit/components/telemetry/build_scripts/gen_histogram_data.py
  toolkit/components/telemetry/build_scripts/mozparsers/parse_histograms.py
  toolkit/components/telemetry/docs/collection/histograms.rst
  toolkit/components/telemetry/tests/python/test_histogramtools_strict.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1958771 - align WebAuthn virtual authenticator `authenticatorId` with the specification. r=keeler,webdriver-reviewers,whimboo
  dom/webauthn/AndroidWebAuthnService.cpp
  dom/webauthn/MacOSWebAuthnService.mm
  dom/webauthn/WebAuthnService.cpp
  dom/webauthn/WinWebAuthnService.cpp
  dom/webauthn/authrs_bridge/src/lib.rs
  dom/webauthn/authrs_bridge/src/test_token.rs
  dom/webauthn/nsIWebAuthnService.idl
  remote/marionette/driver.sys.mjs
  remote/marionette/webauthn.sys.mjs
Due: eslint, clang-format, rustfmt, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1955433 - Increase vertical-spacer min-width and ensure not overflowable r=sidebar-reviewers,desktop-theme-reviewers,jsudiaman
  browser/base/content/navigator-toolbox.inc.xhtml
  browser/components/customizableui/test/browser_914138_widget_API_overflowable_toolbar.js
  browser/themes/shared/browser-shared.css
  browser/themes/shared/toolbarbuttons.css
Due: eslint, stylelint, file-whitespace

Bug 1962707 - Make vertical-spacer distinguishable in customize mode r=sidebar-reviewers,desktop-theme-reviewers,jsudiaman
  browser/themes/shared/customizableui/customizeMode.css
Due: stylelint, file-whitespace

Bug 1952900 - improve resilience of tab group removal in browser_tab_groups_closed.js. r=jswinarton,sessionstore-reviewers,tabbrowser-reviewers
  browser/components/sessionstore/test/browser_tab_groups_closed.js
  browser/components/tabbrowser/moz.build
  browser/components/tabbrowser/test/TabGroupTestUtils.sys.mjs
  browser/components/tabbrowser/test/browser/tabs/head.js
Due: eslint, py-black

Bug 1941189 - Make vertical pinned tabs container adjustable r=desktop-theme-reviewers,tabbrowser-reviewers,sidebar-reviewers,jsudiaman,nsharpley,sfoster
  browser/base/content/navigator-toolbox.inc.xhtml
  browser/components/sidebar/SidebarState.sys.mjs
  browser/components/sidebar/browser-sidebar.js
  browser/components/sidebar/tests/browser/browser_resize_sidebar.js
  browser/themes/shared/tabbrowser/tabs.css
Due: eslint, stylelint, file-whitespace

Bug 1959483 - Port tests from ExperimentFakes and ExperimentTestUtils to NimbusTestUtils in toolkit/components/telemetry and toolkit/mozapps/update r=nalexander,nimbus-reviewers,beth
  toolkit/components/telemetry/tests/unit/test_TelemetryReportingPolicy.js
Due: eslint

Bug 1962228 - Add Telemetry for Pref Changes for Smart Tab Groups. r=rrando,tabbrowser-reviewers,sthompson
  browser/components/tabbrowser/content/tabgroup-menu.js
  browser/components/tabbrowser/metrics.yaml
  browser/components/tabbrowser/test/browser/smarttabgrouping/browser_tab_grouping_telemetry.js
Due: eslint, yaml

Bug 1959483 - Port tests from ExperimentFakes and ExperimentTestUtils to NimbusTestUtils in browser/components/profiles r=nimbus-reviewers,profiles-reviewers,beth,jhirsch
  browser/components/profiles/tests/browser/browser_test_nimbus_feature.js
Due: eslint

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, **/*.java, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml
  combine-en-US-translations: any of: **/*.ftl, **/*.properties, **/*.dtd, **/*strings.xml, **/update-translations.yml, **/l10n/combine/combine.py, **/l10n/combine-translation-versions.py
  push-en-US-translations: any of: **/*.ftl, **/*.properties, **/*.dtd, **/*strings.xml, **/update-translations.yml, **/l10n/combine/combine.py, **/l10n/combine-translation-versions.py
