Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source, combine-en-US-translations, push-en-US-translations

eslint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

stylelint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

py-black:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

py-ruff:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

yaml:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

shellcheck:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

clang-format:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

rustfmt:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

fluent-lint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

localization:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

Bug 1957022: part 3) Rename `nsJSThunk` to `JSURLInputStream` and add some documentation to the class. r=smaug
  dom/jsurl/nsJSProtocolHandler.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1955954 - Add a CSP to webext-panels.html. r=extension-reviewers,robwu
  browser/base/content/webext-panels.xhtml
Due: eslint, file-whitespace

Bug 1957227 - Use prescontext scale to return opaque region in a test API. r=dholbert
  dom/base/nsDOMWindowUtils.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1954977 - Clean up menu styling. r=dao,desktop-theme-reviewers
  browser/themes/shared/customizableui/panelUI-shared.css
  toolkit/content/widgets.css
  toolkit/themes/linux/global/menu.css
  toolkit/themes/osx/global/menu.css
  toolkit/themes/shared/global-shared.css
  toolkit/themes/shared/menu-shared.css
  toolkit/themes/shared/popup.css
  toolkit/themes/windows/global/menu.css
Due: stylelint, file-whitespace

Bug 1957215 - Update test expectations for html/browsers/the-window-object/open-close/open-features-negative-top-left.html.
  testing/web-platform/meta/html/browsers/the-window-object/open-close/open-features-negative-top-left.html.ini
Due: test-manifest

Bug 1957053 - Update metadata for css/css-images/gradient/gradient-powerless-hue-hsl.html.
  testing/web-platform/meta/css/css-images/gradient/gradient-powerless-hue-hsl.html.ini
Due: test-manifest

Bug 1954474 - [devtools] Avoid crashing DevTools when processing some buggy top level documents. r=devtools-reviewers,jdescottes, a=dsmith
  devtools/server/connectors/js-process-actor/target-watchers/window-global.sys.mjs
Due: eslint

Bug 1954474 - [devtools] Avoid crashing DevTools when processing some buggy top level documents. r=devtools-reviewers,jdescottes
  devtools/server/connectors/js-process-actor/target-watchers/window-global.sys.mjs
Due: eslint

Bug 1957352 - [devtools] Prevent showing the pause location information until the related source is actually displayed. r=devtools-reviewers,nchevobbe
  devtools/client/debugger/src/components/Editor/DebugLine.js
  devtools/client/shared/sourceeditor/editor.js
Due: eslint

No bug - tagging f27925f3d6f792efb037cdb55bb98b972c11c1c6 with FIREFOX_BETA_138_BASE a=release DONTBUILD CLOSED TREE
  .hgtags
Due: none

Preserve old tags after debugsetparents. CLOSED TREE DONTBUILD a=release
  .hgtags
Due: none

No bug - tagging dbb513f75f1319fedf0299e772657a6baed54bf0 with FIREFOX_BETA_137_END a=release DONTBUILD CLOSED TREE
  .hgtags
Due: none

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump CLOSED TREE
  browser/locales/l10n-changesets.json
Due: eslint

no bug - Bumping mobile l10n changesets r=release a=l10n-bump CLOSED TREE
  mobile/locales/l10n-changesets.json
Due: eslint

Update configs. IGNORE BROKEN CHANGESETS CLOSED TREE NO BUG a=release ba=release
  .arcconfig
  CLOBBER
  browser/config/mozconfigs/linux32/l10n-mozconfig
  browser/config/mozconfigs/linux64/l10n-mozconfig
  browser/config/mozconfigs/macosx64/l10n-mozconfig
  browser/config/mozconfigs/win32/l10n-mozconfig
  browser/config/mozconfigs/win64-aarch64/l10n-mozconfig
  browser/config/mozconfigs/win64/l10n-mozconfig
  browser/config/version.txt
  browser/config/version_display.txt
  config/milestone.txt
  mobile/android/version.txt
Due: none

Bug 1956762 - Remove unused callback arguments to IndexedDB.transaction and IndexedDB.objectStore in IndexedDB.sys.mjs. r=firefox-desktop-core-reviewers ,mconley
  toolkit/modules/IndexedDB.sys.mjs
Due: eslint

Bug 1957407 - Remove unused string sidebar-menu-bookmarks-header r=flod,fluent-reviewers
  browser/locales/en-US/browser/sidebar.ftl
Due: fluent-lint, file-whitespace, combine-en-US-translations, push-en-US-translations

Bug 1953866 - Allow moz-src: by default in our CSPs for chrome:/resource: documents. r=simonf
  dom/security/nsContentSecurityUtils.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

No bug - tagging dce1a8cec5da4af61753f9db5fbe60a85299f1d9 with FIREFOX_NIGHTLY_138_END a=release DONTBUILD CLOSED TREE
  .hgtags
Due: none

Update configs. IGNORE BROKEN CHANGESETS CLOSED TREE NO BUG a=release ba=release
  CLOBBER
  browser/config/version.txt
  browser/config/version_display.txt
  config/milestone.txt
  mobile/android/version.txt
  services/sync/modules/constants.sys.mjs
Due: eslint

Bug 1957236 - chore(webgpu): refresh `updatebot` configuration for `wgpu_bindings` r=webgpu-reviewers,teoxoy
  gfx/wgpu_bindings/moz.yaml
Due: yaml

Bug 1956726 - Migrate histograms to use Glean APIs in toolkit/components/crashes/CrashManager.in.sys.mjs, r=chutten,gsvelto.
  ipc/docs/processes.rst
  toolkit/components/crashes/CrashManager.in.sys.mjs
  toolkit/components/crashes/CrashManagerTest.sys.mjs
  toolkit/components/crashes/metrics.yaml
Due: eslint, yaml, file-whitespace

Bug 1923784 - Set the object labels where it was missing. r=webgpu-reviewers,teoxoy
  dom/webgpu/Adapter.cpp
  dom/webgpu/Buffer.cpp
  dom/webgpu/CommandEncoder.cpp
  dom/webgpu/Device.cpp
  dom/webgpu/Texture.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1956726 - Migrate histograms to use Glean APIs for ipc related histograms, r=chutten,media-playback-reviewers,padenot.
  dom/ipc/ContentParent.cpp
  dom/media/gmp/GMPParent.cpp
  dom/media/ipc/RDDParent.cpp
  gfx/ipc/GPUChild.cpp
  gfx/vr/ipc/VRChild.cpp
  ipc/glue/CrashReporterHost.cpp
  ipc/glue/GeckoChildProcessHost.cpp
  ipc/glue/MessageChannel.cpp
  ipc/metrics.yaml
  toolkit/components/glean/metrics_index.py
  toolkit/components/telemetry/docs/concepts/crashes.rst
Due: py-black, py-ruff, yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1956752 - Symbolicating local mochitest profiles is slow and spends most of its time parsing/serializing JSON, r=mach-reviewers,ahal.
  python/sites/mach.txt
  testing/mozbase/mozgeckoprofiler/mozgeckoprofiler/profiling.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1954131 - Fix TypeScript issues raised in PlacesUtils.sys.mjs. r=places-reviewers,Standard8
  toolkit/components/places/History.sys.mjs
  toolkit/components/places/PlacesUtils.sys.mjs
  toolkit/components/places/nsINavBookmarksService.idl
  toolkit/components/places/nsINavHistoryService.idl
Due: eslint, file-whitespace

Bug 1956403 - style(webgpu): format `wgpu_bindings/Cargo.toml` with `taplo` r=webgpu-reviewers,teoxoy
  gfx/wgpu_bindings/Cargo.toml
Due: none

Bug 1957413 - Manually bump the newtab addon version to 139.0.0. r=home-newtab-reviewers,nbarrett
  browser/extensions/newtab/manifest.json
Due: eslint

Bug 1957412 - Manually bump the webcompat addon version to 139.0.0. r=denschub,webcompat-reviewers
  browser/extensions/webcompat/manifest.json
Due: eslint

Bug 1883387 - Suppress NS_ERROR_NOT_IMPLEMENTED from nsIAppStartup.secondsSinceLastOSRestart. r=firefox-desktop-core-reviewers ,Gijs
  browser/components/BrowserGlue.sys.mjs
  browser/components/tests/marionette/test_no_errors_clean_profile.py
Due: eslint, py-black, py-ruff, file-whitespace, trojan-source

Bug 1951950 - Added strings resources for setup checklist task and groups r=android-reviewers,android-l10n-reviewers,gmalekpour,flod
  mobile/android/fenix/app/src/main/res/values/strings.xml
Due: eslint, combine-en-US-translations, push-en-US-translations

Bug 1951950 - Add the setup checklist UI to the homepage view holder, set the enabled/disabled state and the list of items to display with the Nimbus configuration. r=android-reviewers,gmalekpour
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/checklist/CheckListView.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/checklist/SetupChecklist.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/Components.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/appstate/setup/checklist/ChecklistItem.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/fake/FakeHomepagePreview.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/interactor/HomepageInteractor.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/sessioncontrol/SessionControlAdapter.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/sessioncontrol/SessionControlController.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/sessioncontrol/SessionControlInteractor.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/sessioncontrol/SessionControlView.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/setup/ui/SetupChecklistViewHolder.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/store/HomepageState.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/ui/Homepage.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
Due: none

Bug 1956540 - Allow to initiate the add-on update flow from `about:addons`. r=rpl,fluent-reviewers,bolsson
  toolkit/locales/en-US/toolkit/about/aboutAddons.ftl
  toolkit/mozapps/extensions/AddonManager.sys.mjs
  toolkit/mozapps/extensions/content/aboutaddons.js
  toolkit/mozapps/extensions/content/aboutaddonsCommon.js
  toolkit/mozapps/extensions/test/browser/addons/browser_dragdrop1.1/manifest.json
  toolkit/mozapps/extensions/test/browser/browser.toml
  toolkit/mozapps/extensions/test/browser/browser_page_options_install_addon.js
  toolkit/mozapps/extensions/test/browser/moz.build
Due: eslint, py-black, fluent-lint, file-whitespace, combine-en-US-translations, push-en-US-translations

Bug 1913601 - Hide the lock icon from the url bar for Reader view r=android-reviewers,gmalekpour
  mobile/android/android-components/components/browser/toolbar/src/main/java/mozilla/components/browser/toolbar/display/DisplayToolbar.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/BrowserFragment.kt
Due: none

Bug 1957394 - Improve documentation about the paths served by the HTTP server in mochitests r=jmaher DONTBUILD
  testing/docs/mochitest-plain/faq.md
Due: file-whitespace

Bug 1950914: Add a simpleperf NDK toolchain task. r=jcristau
  taskcluster/kinds/toolchain/android.yml
  taskcluster/scripts/misc/repack-android-simpleperf-linux.sh
Due: yaml, shellcheck

Bug 1950914: Add a new system layer in mozperftest to control simpleperf profiling. r=perftest-reviewers,sparky
  python/mozperftest/mozperftest/profiler.py
  python/mozperftest/mozperftest/system/__init__.py
  python/mozperftest/mozperftest/system/simpleperf.py
  python/mozperftest/mozperftest/tests/test_profiler.py
  python/mozperftest/mozperftest/tests/test_simpleperf.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1950914: Update the applink startup test to optionally perform simpleperf profiling. r=perftest-reviewers,aglavic
  testing/performance/mobile-startup/android_startup_videoapplink.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1950914: Add a new version of the applink startup task that also performs simpleperf profiling. r=jcristau,perftest-reviewers,aglavic
  taskcluster/kinds/perftest/android.yml
Due: yaml

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, **/*.java, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml
  combine-en-US-translations: any of: **/*.ftl, **/*.properties, **/*.dtd, **/*strings.xml, **/update-translations.yml, **/l10n/combine/combine.py, **/l10n/combine-translation-versions.py
  push-en-US-translations: any of: **/*.ftl, **/*.properties, **/*.dtd, **/*strings.xml, **/update-translations.yml, **/l10n/combine/combine.py, **/l10n/combine-translation-versions.py
