Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source, combine-en-US-translations, push-en-US-translations

eslint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

stylelint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

py-black:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

py-ruff:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

yaml:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

shellcheck:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

clang-format:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

rustfmt:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

fluent-lint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

localization:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

No Bug - Bumping Mobile l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  mobile/locales/l10n-changesets.json
Due: eslint

Bug 1966153: Guard the mtransport_process check for USER_RESTRICTED with MOZ_WEBRTC. r=handyman,darktrojan
  security/sandbox/common/SandboxSettings.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1955060 - Add onnx-native to Firefox AI Runtime r=padenot
  toolkit/components/aboutinference/content/aboutInference.html
  toolkit/components/aboutinference/content/aboutInference.js
  toolkit/components/ml/actors/MLEngineChild.sys.mjs
  toolkit/components/ml/content/EngineProcess.sys.mjs
  toolkit/components/ml/content/backends/ONNXPipeline.mjs
  toolkit/components/ml/tests/browser/browser_ml_engine.js
Due: eslint, file-whitespace

Revert "Bug 1952024: composify logins list r=android-reviewers,android-l10n-reviewers,sfamisa,delphine" for causing fenix failures
  mobile/android/android-components/components/compose/base/src/main/java/mozilla/components/compose/base/button/IconButton.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/lifecycle/LifecycleHolder.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/logins/fragment/SavedLoginsFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/logins/ui/DefaultSavedLoginsStorage.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/logins/ui/LoginItem.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/logins/ui/LoginsAction.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/logins/ui/LoginsMiddleware.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/logins/ui/LoginsReducer.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/logins/ui/LoginsState.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/logins/ui/LoginsStore.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/logins/ui/SavedLoginsScreen.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  mobile/android/fenix/app/src/main/res/values/preference_keys.xml
  mobile/android/fenix/app/src/main/res/values/strings.xml
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/settings/logins/ui/LoginsMiddlewareTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/settings/logins/ui/LoginsReducerTest.kt
Due: eslint, combine-en-US-translations, push-en-US-translations

Bug 1924533: Run macrobenchmark test on CI to measure Baseline Profile impact on performance r=releng-reviewers,android-reviewers,bhearsum,calu
  mobile/android/fenix/automation/taskcluster/androidTest/flank-arm64-v8a-macrobenchmark.yml
  mobile/android/fenix/benchmark/src/main/java/org/mozilla/fenix/benchmark/BaselineProfilesStartupBenchmark.kt
  taskcluster/docs/kinds.rst
  taskcluster/kinds/instrumented-build-macrobenchmark-apk/kind.yml
  taskcluster/kinds/run-macrobenchmark-firebase/kind.yml
  taskcluster/scripts/tests/compute-macrobenchmark-results.py
  taskcluster/scripts/tests/copy-artifacts-from-ftl.py
Due: py-black, py-ruff, yaml, file-whitespace, trojan-source

Bug 1955685 - Improve cookie validation - part 1 - nsICookieValidation, r=edgul,cookie-reviewers
  dom/cookiestore/CookieStoreParent.cpp
  netwerk/cookie/CookieCommons.cpp
  netwerk/cookie/CookieCommons.h
  netwerk/cookie/CookieParser.cpp
  netwerk/cookie/CookieParser.h
  netwerk/cookie/CookieService.cpp
  netwerk/cookie/CookieValidation.cpp
  netwerk/cookie/CookieValidation.h
  netwerk/cookie/moz.build
  netwerk/cookie/nsICookie.idl
  netwerk/cookie/nsICookieValidation.idl
  netwerk/locales/en-US/necko.properties
Due: py-black, clang-format, localization, mingw-capitalization, mscom-init, file-whitespace, trojan-source, combine-en-US-translations, push-en-US-translations

Bug 1955685 - Improve cookie validation - part 2 - nsICookieValidation in cookieManager.addNative, r=edgul,cookie-reviewers,geckoview-reviewers,nalexander,glandium
  browser/installer/package-manifest.in
  dom/base/nsContentUtils.cpp
  dom/base/nsContentUtils.h
  dom/cookiestore/CookieStoreParent.cpp
  mobile/android/installer/package-manifest.in
  netwerk/cookie/CookieService.cpp
  netwerk/cookie/CookieValidation.cpp
  netwerk/cookie/CookieValidation.h
  netwerk/cookie/nsICookieManager.idl
  netwerk/cookie/nsICookieValidation.idl
  netwerk/locales/moz.build
  netwerk/test/gtest/TestCookie.cpp
  toolkit/components/cookiebanners/nsCookieInjector.cpp
Due: py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1955685 - Improve cookie validation - part 4 - expiry validation, r=edgul,cookie-reviewers,valentin
  netwerk/cookie/CookieValidation.cpp
  netwerk/cookie/nsICookieValidation.idl
  netwerk/locales/en-US/necko.properties
Due: clang-format, localization, mingw-capitalization, mscom-init, file-whitespace, trojan-source, combine-en-US-translations, push-en-US-translations

Bug 1955685 - Improve cookie validation - part 5 - 0x20 as invalid chars for cookie names and values r=valentin,cookie-reviewers
  netwerk/cookie/CookieValidation.cpp
  netwerk/test/gtest/TestCookie.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1955685 - Improve cookie validation - part 6 - CookieValidation for web-ext, r=robwu,cookie-reviewers,valentin
  modules/libpref/init/all.js
  netwerk/cookie/CookieService.cpp
  netwerk/cookie/CookieService.h
  netwerk/cookie/CookieValidation.cpp
  netwerk/cookie/nsICookieManager.idl
  toolkit/components/extensions/parent/ext-cookies.js
  toolkit/components/extensions/test/xpcshell/test_ext_cookies_expirationDate.js
  toolkit/components/extensions/test/xpcshell/test_ext_cookies_validation.js
  toolkit/components/extensions/test/xpcshell/xpcshell-common.toml
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1930713 - ignore leak from mesa's libgallium. r=gfx-reviewers,decoder,lsalzman
  build/sanitizers/AsanOptions.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1967222 - rebase decision docker image on debian 12 r=releng-reviewers,bhearsum
  taskcluster/docker/decision/Dockerfile
  taskcluster/docker/decision/VERSION
  taskcluster/docker/decision/system-setup.sh
  taskcluster/kinds/docker-image/kind.yml
Due: yaml, shellcheck

Bug 1967232 - make the artifacts dir of the decision task a docker volume. r=releng-reviewers,bhearsum
  taskcluster/docker/decision/Dockerfile
Due: none

Bug 1967217 - stop running mach repackage desktop-file in linux repackage tasks. r=releng-reviewers,taskgraph-reviewers,bhearsum
  taskcluster/gecko_taskgraph/transforms/release_flatpak_repackage.py
  taskcluster/gecko_taskgraph/transforms/repackage.py
  taskcluster/kinds/repackage/kind.yml
Due: py-black, py-ruff, yaml, file-whitespace, trojan-source

Bug 1962084 - Ship escaping of "<" and ">" in attributes. r=zcorpan,hsivonen,dom-core
  modules/libpref/init/StaticPrefList.yaml
Due: yaml

Bug 1666613 - Do not rely on intl.css for text direction in parsererror. r=dom-core,hsivonen
  dom/xml/nsXMLContentSink.cpp
  dom/xml/test/file_bug1666613.xml
  dom/xml/test/mochitest.toml
  dom/xml/test/test_bug1666613.html
  layout/style/res/ua.css
Due: eslint, stylelint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1967245 - Remove customstateset flag r=emilio
  dom/webidl/ElementInternals.webidl
  modules/libpref/init/StaticPrefList.yaml
  servo/components/style/gecko/selector_parser.rs
  testing/web-platform/meta/css/selectors/invalidation/state-in-has.html.ini
  testing/web-platform/meta/css/selectors/parsing/parse-state.html.ini
  testing/web-platform/meta/custom-elements/state/__dir__.ini
  testing/web-platform/meta/html/dom/idlharness.https.html.ini
Due: yaml, rustfmt, file-whitespace, test-manifest, trojan-source

Bug 1966459 - Enable close watcher in desktop nightly r=smaug
  dom/tests/mochitest/general/test_interfaces.js
  modules/libpref/init/StaticPrefList.yaml
Due: eslint, yaml

Bug 1965549 - Migrate network.http.active_tab_priority to static prefs, r=necko-reviewers,valentin
  modules/libpref/init/StaticPrefList.yaml
  modules/libpref/init/all.js
  netwerk/protocol/http/Http2StreamBase.cpp
  netwerk/protocol/http/Http3Stream.cpp
  netwerk/protocol/http/PendingTransactionQueue.cpp
  netwerk/protocol/http/nsHttpConnectionMgr.cpp
  netwerk/protocol/http/nsHttpConnectionMgr.h
  netwerk/protocol/http/nsHttpHandler.cpp
  netwerk/protocol/http/nsHttpHandler.h
Due: eslint, yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1695467 - Don't throw "Error: Can't find profile directory." when showing the profile manager. r=mossop
  toolkit/components/xulstore/XULStore.sys.mjs
Due: eslint

Bug 1963137 - Enable extensions.ml.enabled browser pref on all channels r=ngrato
  modules/libpref/init/all.js
  toolkit/mozapps/extensions/internal/ModelHubProvider.sys.mjs
  toolkit/mozapps/extensions/test/xpcshell/test_ModelHubProvider.js
Due: eslint

Bug 1964507 - Only offer "Add Search Engine" for GET forms. r=search-reviewers,Standard8
  browser/components/search/test/browser/browser_addSearchEngineFromForm.js
  toolkit/modules/InlineSpellChecker.sys.mjs
Due: eslint

Bug 1958991. Simplify calculation in nsDisplayTransform::GetHitDepthAtPoint to avoid numerical float inaccuracies. r=jstutte
  layout/painting/nsDisplayList.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1867137 - Only save CSP in SHEntry when required r=tschuster
  docshell/shistory/SessionHistoryEntry.cpp
  docshell/shistory/nsSHEntry.cpp
  dom/security/nsCSPUtils.cpp
  dom/security/nsCSPUtils.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1948259 - Add menu item to hide/show Extensions Button in Customize mode r=willdurand,fluent-reviewers,bolsson
  browser/base/content/browser-addons.js
  browser/base/content/main-popupset.inc.xhtml
  browser/base/content/main-popupset.js
  browser/components/customizableui/ToolbarContextMenu.sys.mjs
  browser/components/extensions/test/browser/browser_unified_extensions.js
  browser/components/extensions/test/browser/browser_unified_extensions_button_visibility.js
  browser/components/extensions/test/browser/head_unified_extensions.js
  browser/locales/en-US/browser/toolbarContextMenu.ftl
Due: eslint, fluent-lint, file-whitespace, combine-en-US-translations, push-en-US-translations

Bug 1948259 - Allow user to unhide the button via context menu r=willdurand
  browser/components/customizableui/ToolbarContextMenu.sys.mjs
  browser/components/extensions/test/browser/browser_unified_extensions_button_visibility.js
Due: eslint

Bug 1948263 - Show "Moved to menu" notification after hiding r=willdurand,fluent-reviewers,bolsson
  browser/base/content/browser-addons.js
  browser/components/extensions/test/browser/browser_unified_extensions_button_visibility.js
  browser/locales/en-US/browser/confirmationHints.ftl
Due: eslint, fluent-lint, file-whitespace, combine-en-US-translations, push-en-US-translations

Bug 1948263 - Add Extensions appmenu item if needed r=willdurand,fluent-reviewers,bolsson,Gijs
  browser/base/content/appmenu-viewcache.inc.xhtml
  browser/base/content/browser-addons.js
  browser/base/content/browser-sets.inc
  browser/base/content/browser-sets.js
  browser/components/extensions/test/browser/browser.toml
  browser/components/extensions/test/browser/browser_unified_extensions_appmenu_item.js
  browser/locales/en-US/browser/appmenu.ftl
Due: eslint, fluent-lint, file-whitespace, combine-en-US-translations, push-en-US-translations

Bug 1948263 - Change "Add-ons and Themes" to "Extensions and Themes" r=willdurand,fluent-reviewers,bolsson
  browser/base/content/appmenu-viewcache.inc.xhtml
  browser/base/content/browser-menubar.inc
  browser/components/extensions/test/browser/browser_unified_extensions_appmenu_item.js
  browser/locales/en-US/browser/appmenu.ftl
  browser/locales/en-US/browser/menubar.ftl
Due: eslint, fluent-lint, file-whitespace, combine-en-US-translations, push-en-US-translations

Bug 1967408. Bump wait period for bugs/1553571-1.html. r=layout-reviewers,emilio
  layout/reftests/bugs/1553571-1.html
Due: eslint, file-whitespace

Bug 1967401 [Linux] Rename DMABufLibWrapper to DMABufDevice r=emilio
  dom/media/platforms/ffmpeg/FFmpegLibWrapper.cpp
  dom/media/platforms/ffmpeg/FFmpegVideoFramePool.cpp
  dom/media/platforms/ffmpeg/FFmpegVideoFramePool.h
  dom/media/platforms/ffmpeg/VALibWrapper.cpp
  dom/webgpu/ExternalTextureDMABuf.cpp
  gfx/gl/GLBlitHelper.cpp
  gfx/gl/GLLibraryEGL.cpp
  gfx/gl/SharedSurface.cpp
  gfx/gl/SharedSurfaceDMABUF.cpp
  gfx/layers/CanvasRenderer.cpp
  gfx/thebes/gfxPlatformGtk.cpp
  widget/gtk/DMABufDevice.cpp
  widget/gtk/DMABufDevice.h
  widget/gtk/DMABufFormats.cpp
  widget/gtk/DMABufSurface.cpp
  widget/gtk/moz.build
  widget/gtk/nsWaylandDisplay.h
Due: py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1956190 - Normalize JEXL context and show it in inspect() r=bdk,acottner
  services/settings/remote-settings.sys.mjs
  services/settings/test/unit/test_remote_settings.js
  toolkit/components/utils/ClientEnvironment.sys.mjs
  toolkit/components/utils/test/unit/test_ClientEnvironment.js
Due: eslint

Bug 1959368 [Linux] Enable HDR on Linux if HDR monitor is present r=emilio
  layout/style/nsMediaFeatures.cpp
  modules/libpref/init/StaticPrefList.yaml
  widget/gtk/ScreenHelperGTK.cpp
  widget/gtk/nsWaylandDisplay.cpp
  widget/gtk/nsWaylandDisplay.h
Due: yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1957000 - [devtools] Add pointerrawupdate to Event Listener Breakpoints. r=devtools-reviewers,bomsy
  devtools/client/debugger/test/mochitest/browser_dbg-event-breakpoints.js
  devtools/client/debugger/test/mochitest/examples/doc-event-breakpoints.html
  devtools/client/debugger/test/mochitest/examples/event-breakpoints.js
  devtools/server/actors/utils/event-breakpoints.js
Due: eslint, file-whitespace

Revert "Bug 1963137 - Enable extensions.ml.enabled browser pref on all channels r=ngrato" for causing multiple failures
  modules/libpref/init/all.js
  toolkit/mozapps/extensions/internal/ModelHubProvider.sys.mjs
  toolkit/mozapps/extensions/test/xpcshell/test_ModelHubProvider.js
Due: eslint

Bug 1965940 [wpt PR 52481] - Fix SpeechRecognition-installOnDevice.https.html WPT,
  testing/web-platform/tests/speech-api/SpeechRecognition-installOnDevice.https.html
Due: eslint, file-whitespace

Bug 1965940 [wpt PR 52481] - Update wpt metadata,
  testing/web-platform/meta/speech-api/SpeechRecognition-installOnDevice.https.html.ini
Due: test-manifest

Bug 1965965 [wpt PR 52428] - Update infrastructure based on recent PRs,
  testing/web-platform/tests/infrastructure/metadata/infrastructure/assumptions/initial-color.html.ini
  testing/web-platform/tests/infrastructure/metadata/infrastructure/assumptions/non-local-ports.sub.window.js.ini
  testing/web-platform/tests/infrastructure/metadata/infrastructure/testdriver/bless.html.ini
  testing/web-platform/tests/infrastructure/metadata/infrastructure/testdriver/click-multiple.html.ini
Due: test-manifest

Bug 1966039 [wpt PR 52488] - Use TreeCountingChecker in scale interpolations,
  testing/web-platform/tests/css/css-values/tree-counting/sibling-index-keyframe-scale-dynamic.html
Due: eslint, file-whitespace

Bug 1966039 [wpt PR 52488] - Update wpt metadata,
  testing/web-platform/meta/css/css-values/tree-counting/sibling-index-keyframe-scale-dynamic.html.ini
Due: test-manifest

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, **/*.java, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml
  combine-en-US-translations: any of: **/*.ftl, **/*.properties, **/*.dtd, **/*strings.xml, **/update-translations.yml, **/l10n/combine/combine.py, **/l10n/combine-translation-versions.py
  push-en-US-translations: any of: **/*.ftl, **/*.properties, **/*.dtd, **/*strings.xml, **/update-translations.yml, **/l10n/combine/combine.py, **/l10n/combine-translation-versions.py
