Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source, combine-en-US-translations, push-en-US-translations

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, **/*.java, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml
  combine-en-US-translations: any of: **/*.ftl, **/*.properties, **/*.dtd, **/*strings.xml, **/update-translations.yml, **/l10n/combine/combine.py, **/l10n/combine-translation-versions.py
  push-en-US-translations: any of: **/*.ftl, **/*.properties, **/*.dtd, **/*strings.xml, **/update-translations.yml, **/l10n/combine/combine.py, **/l10n/combine-translation-versions.py

No Bug - Bumping Mobile l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  mobile/locales/l10n-changesets.json
Due: eslint

No Bug - Import translations from https://github.com/mozilla-l10n/android-l10n CLOSED TREE
  mobile/android/android-components/components/compose/base/src/main/res/values-da/strings.xml
  mobile/android/android-components/components/compose/browser-toolbar/src/main/res/values-da/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-et/strings.xml
  mobile/android/fenix/app/src/main/res/values-da/strings.xml
  mobile/android/fenix/app/src/main/res/values-es-rES/strings.xml
  mobile/android/fenix/app/src/main/res/values-fi/strings.xml
  mobile/android/fenix/app/src/main/res/values-ru/strings.xml
  mobile/android/fenix/app/src/main/res/values-sq/strings.xml
Due: eslint, combine-en-US-translations, push-en-US-translations

Bug 1962228 - Add Telemetry for Pref Changes for Smart Tab Groups. a=RyanVM
  browser/components/tabbrowser/content/tabgroup-menu.js
  browser/components/tabbrowser/metrics.yaml
  browser/components/tabbrowser/test/browser/smarttabgrouping/browser_tab_grouping_telemetry.js
Due: eslint, yaml

Bug 1963211 - Move RTAMO to second place in defaults to prevent a visible flash of content while about:welcome loads a=RyanVM
  browser/components/aboutwelcome/karma.mc.config.js
  browser/components/aboutwelcome/modules/AboutWelcomeDefaults.sys.mjs
Due: eslint

Bug 1962812 - Use lazy preference for trending searches, recent searches and shortcuts suggestions. a=diannaS
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
Due: none

Bug 1958841 - Show correct "Show in private mode" value in search checkbox. a=diannaS DONTBUILD
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/search/SearchEngineFragment.kt
Due: none

Bug 1956165 - Add a Fenix-only JS webcompat intervention for m.youtube.com to fix picture-in-picture; a=diannaS
  browser/extensions/webcompat/data/interventions.json
  browser/extensions/webcompat/experiment-apis/appConstants.js
  browser/extensions/webcompat/experiment-apis/appConstants.json
  browser/extensions/webcompat/injections/js/bug1956165-www.youtube.com-picture-in-picture-fix.js
  browser/extensions/webcompat/lib/intervention_helpers.js
  browser/extensions/webcompat/manifest.json
  dom/base/ChromeUtils.cpp
  dom/base/ChromeUtils.h
  dom/base/Document.cpp
  dom/base/Document.h
  dom/chrome-webidl/ChromeUtils.webidl
  dom/ipc/BrowserChild.cpp
  dom/ipc/BrowserChild.h
  dom/ipc/BrowserParent.cpp
  dom/ipc/BrowserParent.h
  dom/ipc/PBrowser.ipdl
  dom/webidl/Document.webidl
  mobile/android/android-components/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/GeckoEngineSession.kt
  mobile/android/android-components/components/browser/engine-gecko/src/test/java/mozilla/components/browser/engine/gecko/GeckoEngineSessionTest.kt
  mobile/android/android-components/components/concept/engine/src/main/java/mozilla/components/concept/engine/EngineSession.kt
  mobile/android/android-components/components/feature/session/src/main/java/mozilla/components/feature/session/PictureInPictureFeature.kt
  mobile/android/android-components/components/feature/session/src/test/java/mozilla/components/feature/session/PictureInPictureFeatureTest.kt
  mobile/android/geckoview/api.txt
  mobile/android/geckoview/src/main/java/org/mozilla/gecko/GeckoAppShell.java
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/CompositorController.java
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/GeckoSession.java
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/doc-files/CHANGELOG.md
  testing/webcompat/fixtures.py
  testing/webcompat/interventions/pytest.ini
  testing/webcompat/interventions/tests/test_1956165_m_youtube_com.py
  view/nsView.cpp
  view/nsView.h
  widget/android/nsWindow.cpp
  widget/android/nsWindow.h
  widget/nsIWidgetListener.h
Due: eslint, py-black, py-ruff, clang-format, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Bug 1962007 - fix YouTube picture-in-picture intervention on Android to not break exiting fullscreen mode; a=diannaS
  browser/extensions/webcompat/injections/js/bug1956165-www.youtube.com-picture-in-picture-fix.js
  testing/webcompat/interventions/tests/test_1956165_m_youtube_com.py
Due: eslint, py-black, py-ruff, file-whitespace, trojan-source

Revert "Bug 1963212 - Flush layout, not just frames, in nsRange::GetUsedFontFaces. r=jfkthame,layout-reviewers"
  dom/base/nsRange.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Revert "Bug 1964022 - Update libadwaita colors. r=stransky"
  widget/gtk/nsLookAndFeel.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Revert "Bug 1961629 - Use ExperimentFeature.getEnrollmentMetadata() in browser/extensions/newtab (again) r=mconley,home-newtab-reviewers"
  browser/extensions/newtab/lib/PlacesFeed.sys.mjs
Due: eslint

Revert "Bug 1963436 - Respect explicit variation selectors for emoji presentation as higher priority than fonts named in the font-family list. r=dshin"
  gfx/thebes/gfxTextRun.cpp
  testing/web-platform/tests/css/css-fonts/font-variant-emoji-005-ref.html
  testing/web-platform/tests/css/css-fonts/font-variant-emoji-005.html
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1956620 - Write ETP category selection to pref in Fenix. r=geckoview-reviewers,android-reviewers,ohall,tthibaud,calu
  mobile/android/android-components/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/GeckoEngine.kt
  mobile/android/android-components/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/ext/TrackingProtectionPolicy.kt
  mobile/android/geckoview/api.txt
  mobile/android/geckoview/src/androidTest/java/org/mozilla/geckoview/test/ContentBlockingControllerTest.kt
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/ContentBlocking.java
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/doc-files/CHANGELOG.md
Due: file-whitespace

Bug 1963088 - Remove the backtracking testbed allocator. r=jandem.
  js/src/jit/BacktrackingAllocator.cpp
  js/src/jit/BacktrackingAllocator.h
  js/src/jit/Ion.cpp
  js/src/jit/IonOptimizationLevels.cpp
  js/src/jit/JitOptions.h
  js/src/shell/js.cpp
  modules/libpref/init/StaticPrefList.yaml
Due: yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1852664 - Only print MOZCONFIG_SUGGESTION_TEMPLATE if there's something to print r=firefox-build-system-reviewers,ahochheiden
  python/mozboot/mozboot/bootstrap.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1963464 - Initial implementation of PaintTimingMixin for the PaintTiming and LCP entries r=sefeng,webidl
  dom/performance/LargestContentfulPaint.h
  dom/performance/PerformancePaintTiming.h
  dom/webidl/PaintTimingMixin.webidl
  dom/webidl/PerformanceLargestContentfulPaint.webidl
  dom/webidl/moz.build
Due: py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1963464 - Update the wpt test checks and the test expectations r=sefeng
  testing/web-platform/meta/largest-contentful-paint/animated/observe-cross-origin-tao-animated-image.tentative.html.ini
  testing/web-platform/meta/largest-contentful-paint/animated/observe-non-animated-image.tentative.html.ini
  testing/web-platform/meta/largest-contentful-paint/contracted-image.html.ini
  testing/web-platform/meta/largest-contentful-paint/expanded-image.html.ini
  testing/web-platform/meta/largest-contentful-paint/image-inside-svg.html.ini
  testing/web-platform/meta/largest-contentful-paint/image-not-fully-visible.html.ini
  testing/web-platform/meta/largest-contentful-paint/image-removed-before-load.html.ini
  testing/web-platform/meta/largest-contentful-paint/image-src-change.html.ini
  testing/web-platform/meta/largest-contentful-paint/loadTime-after-appendChild.html.ini
  testing/web-platform/meta/largest-contentful-paint/multiple-image-same-src.html.ini
  testing/web-platform/meta/largest-contentful-paint/observe-after-untrusted-scroll.html.ini
  testing/web-platform/meta/largest-contentful-paint/observe-css-generated-image.html.ini
  testing/web-platform/meta/largest-contentful-paint/observe-image.html.ini
  testing/web-platform/meta/largest-contentful-paint/observe-svg-background-image.html.ini
  testing/web-platform/meta/largest-contentful-paint/observe-svg-data-uri-background-image.html.ini
  testing/web-platform/meta/largest-contentful-paint/observe-svg-data-uri-image.html.ini
  testing/web-platform/meta/largest-contentful-paint/observe-svg-image.html.ini
  testing/web-platform/meta/largest-contentful-paint/observe-text.html.ini
  testing/web-platform/meta/largest-contentful-paint/placeholder-image.html.ini
  testing/web-platform/meta/largest-contentful-paint/repeated-image.html.ini
  testing/web-platform/meta/largest-contentful-paint/same-origin-redirects.html.ini
  testing/web-platform/meta/largest-contentful-paint/video-poster.html.ini
  testing/web-platform/meta/paint-timing/idlharness.window.js.ini
  testing/web-platform/meta/paint-timing/paint-timing-mixin.html.ini
  testing/web-platform/meta/paint-timing/with-first-paint/first-contentful-canvas-webgl2.html.ini
  testing/web-platform/tests/element-timing/resources/element-timing-helpers.js
  testing/web-platform/tests/largest-contentful-paint/observe-text.html
  testing/web-platform/tests/largest-contentful-paint/resources/largest-contentful-paint-helpers.js
  testing/web-platform/tests/paint-timing/paint-timing-mixin.html
  testing/web-platform/tests/paint-timing/resources/utils.js
Due: eslint, file-whitespace, test-manifest

Bug 1923395. Basic Anchor Positioning 'Finding an Anchor' implementation. r=dshin,emilio
  layout/base/PresShell.cpp
  layout/base/PresShell.h
  layout/generic/nsIFrame.cpp
  layout/generic/nsIFrame.h
  layout/generic/nsIFrameInlines.h
  layout/style/nsStyleStruct.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1963929 - Add cmd_maximizeWindow and cmd_restoreWindow to enabledCommands r=firefox-desktop-core-reviewers ,mossop
  browser/components/customizableui/CustomizeMode.sys.mjs
Due: eslint

Bug 1962617 - Use snapshot containing block size for root when capturing the old/new states. r=view-transitions-reviewers,emilio
  dom/view-transitions/ViewTransition.cpp
  testing/web-platform/meta/css/css-view-transitions/backdrop-filter-captured.html.ini
  testing/web-platform/meta/css/css-view-transitions/iframe-and-main-frame-transition-new-main-new-iframe.html.ini
  testing/web-platform/meta/css/css-view-transitions/iframe-and-main-frame-transition-new-main-old-iframe.html.ini
  testing/web-platform/meta/css/css-view-transitions/iframe-and-main-frame-transition-old-main-new-iframe.html.ini
  testing/web-platform/meta/css/css-view-transitions/iframe-and-main-frame-transition-old-main-old-iframe.html.ini
  testing/web-platform/meta/css/css-view-transitions/iframe-and-main-frame-transition-old-main.html.ini
  testing/web-platform/meta/css/css-view-transitions/iframe-and-main-frame-transition-with-name-on-iframe.html.ini
  testing/web-platform/meta/css/css-view-transitions/iframe-new-has-scrollbar.html.ini
  testing/web-platform/meta/css/css-view-transitions/iframe-old-has-scrollbar.html.ini
  testing/web-platform/meta/css/css-view-transitions/iframe-transition.sub.html.ini
  testing/web-platform/meta/css/css-view-transitions/modify-style-via-cssom.html.ini
  testing/web-platform/meta/css/css-view-transitions/new-content-captures-root.html.ini
  testing/web-platform/meta/css/css-view-transitions/new-content-has-scrollbars.html.ini
  testing/web-platform/meta/css/css-view-transitions/new-content-preserve-3d-ancestor.html.ini
  testing/web-platform/meta/css/css-view-transitions/new-root-vertical-writing-mode.html.ini
  testing/web-platform/meta/css/css-view-transitions/old-content-captures-root.html.ini
  testing/web-platform/meta/css/css-view-transitions/old-content-element-writing-modes.html.ini
  testing/web-platform/meta/css/css-view-transitions/old-content-has-scrollbars.html.ini
  testing/web-platform/meta/css/css-view-transitions/old-root-vertical-writing-mode.html.ini
  testing/web-platform/meta/css/css-view-transitions/root-captured-as-different-tag.html.ini
  testing/web-platform/meta/css/css-view-transitions/root-to-shared-animation-end.html.ini
  testing/web-platform/meta/css/css-view-transitions/root-to-shared-animation-start.html.ini
  testing/web-platform/meta/css/css-view-transitions/rotated-cat-off-top-edge.html.ini
  testing/web-platform/meta/css/css-view-transitions/rtl-with-scrollbar.html.ini
  testing/web-platform/meta/css/css-view-transitions/sibling-frames-transition.html.ini
  testing/web-platform/meta/css/css-view-transitions/transition-in-empty-iframe.html.ini
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Bug 1963444 - Remove DESERIALIZE_BYTES r=sfink
  js/public/friend/UsageStatistics.h
  js/src/vm/StructuredClone.cpp
  js/xpconnect/metrics.yaml
  js/xpconnect/src/XPCJSRuntime.cpp
Due: yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1920563 - Clean up / rename / relocate import-export.svg icon reused by chatbot r=desktop-theme-reviewers,places-reviewers,translations-reviewers,firefox-ai-ml-reviewers,dao,gregtatum,ngrato
  browser/components/genai/chat.css
  browser/themes/osx/places/organizer.css
  browser/themes/shared/jar.inc.mn
  browser/themes/windows/places/organizer.css
  toolkit/components/translations/content/icons/swap-languages.svg
  toolkit/components/translations/content/translations.css
  toolkit/components/translations/jar.mn
  toolkit/themes/shared/desktop-jar.inc.mn
  toolkit/themes/shared/icons/arrows-updown.svg
Due: stylelint, file-whitespace

Bug 1920563 - Clean up / rename / relocate password{-hide}.svg icons reused by chatbot r=mtigley,desktop-theme-reviewers,credential-management-reviewers,firefox-ai-ml-reviewers,dao,ngrato
  browser/components/aboutlogins/content/components/input-field/login-password-field.mjs
  browser/components/aboutlogins/content/components/login-item.css
  browser/components/aboutlogins/content/icons/password-hide.svg
  browser/components/aboutlogins/content/icons/password.svg
  browser/components/aboutlogins/jar.mn
  browser/components/genai/chat.css
  layout/style/jar.mn
  layout/style/res/forms.css
  toolkit/components/satchel/megalist/content/components/login-line/login-line.mjs
  toolkit/themes/shared/icons/eye-slash.svg
  toolkit/themes/shared/icons/eye.svg
  toolkit/themes/shared/minimal-toolkit.jar.inc.mn
Due: eslint, stylelint, file-whitespace

Bug 1920563 - Clean up / rename / relocate price.svg icon reused by chatbot r=desktop-theme-reviewers,firefox-ai-ml-reviewers,dao,ngrato
  browser/components/genai/chat.css
  browser/components/shopping/content/highlight-item.css
  browser/themes/shared/icons/price.svg
  browser/themes/shared/jar.inc.mn
Due: stylelint, file-whitespace

Revert "Bug 1959669 - remove trailing whitespace"
  dom/credentialmanagement/identity/IdentityCredential.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1963833 - Add code connect config for moz-radio. r=reusable-components-reviewers,hjones
  toolkit/content/widgets/moz-radio-group/moz-radio.figma.ts
Due: none

Bug 1963848: Remove reference to hg in MacOS/Windows build bootstrapping. r=sylvestre DONTBUILD
  docs/setup/macos_build.rst
  docs/setup/windows_build.rst
Due: file-whitespace

Bug 1963848: Remove link to hg.mozilla.org in example mozconfig file. r=sylvestre DONTBUILD
  docs/setup/configuring_build_options.rst
Due: file-whitespace

Bug 1953198 - Remove JSMSG_TEMPORAL_CALENDAR_INCOMPATIBLE_ERAYEAR error message. r=dminor
  js/public/friend/ErrorNumbers.msg
Due: none

Bug 1963477 - Update text for `CONFIGURE_GIT` to remove the mention of `git-cinnabar` r=firefox-build-system-reviewers,glandium
  python/mozboot/mozboot/bootstrap.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1963368 - Avoid sending two snapshots for the root. r=view-transitions-reviewers,boris
  layout/generic/ScrollContainerFrame.cpp
  layout/generic/nsIFrame.cpp
  modules/libpref/init/StaticPrefList.yaml
  testing/web-platform/tests/css/css-view-transitions/root-preserve3d-crash.html
Due: eslint, yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1963696 - Add `add_microsoft_defender_antivirus_exclusions` to `mozboot/bootstrap.py` in addition to `bin/bootstrap.py` r=firefox-build-system-reviewers,glandium
  python/mozboot/mozboot/bootstrap.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1963564 - followup to deduplication simplification. Missing a post-barrier when setting the base of a dedendent string (only relevant when using the semispace nursery). r=jonco
  js/src/gc/Tenuring.cpp
  js/src/vm/StringType.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1964021 - Fix mach try for jj repos to handle empty merge commits better. r=sfink
  python/mozversioncontrol/mozversioncontrol/repo/jj.py
  python/mozversioncontrol/test/test_push_to_try.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1743042 - Document::InitCSP checks whether NodePrincipal is an ExpandedPrincipal (which is never true). r=smaug
  dom/base/Document.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1964103 - fix no-op commit file naming. r=ng,webrtc-reviewers,grulja DONTBUILD
  third_party/libwebrtc/moz-patch-stack/537158885b.no-op-cherry-pick-msg
Due: none

Bug 1964107 - remove stale no-op commit file b396e2b159.no-op-cherry-pick-msg. r=ng,webrtc-reviewers DONTBUILD
  third_party/libwebrtc/moz-patch-stack/b396e2b159.no-op-cherry-pick-msg
Due: none

Bug 1958268 - Set custom tab's tablet default to desktop mode r=android-reviewers,007
  mobile/android/android-components/components/browser/state/src/main/java/mozilla/components/browser/state/state/CustomTabSessionState.kt
  mobile/android/android-components/components/browser/state/src/test/java/mozilla/components/browser/state/engine/middleware/CreateEngineSessionMiddlewareTest.kt
  mobile/android/android-components/components/feature/tabs/src/main/java/mozilla/components/feature/tabs/CustomTabsUseCases.kt
Due: none

Bug 1956371 - Refactor styling for profile edit and selection screen r=profiles-reviewers,cmkm,niklas
  browser/components/profiles/content/assets/plus.svg
  browser/components/profiles/content/edit-profile-card.css
  browser/components/profiles/content/profile-card.css
  browser/components/profiles/content/profile-card.mjs
  browser/components/profiles/content/profile-selector.css
  browser/components/profiles/content/profile-selector.mjs
  browser/components/profiles/content/profiles-pages.css
Due: eslint, stylelint, file-whitespace
