Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source, combine-en-US-translations, push-en-US-translations

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, **/*.java, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml
  combine-en-US-translations: any of: **/*.ftl, **/*.properties, **/*.dtd, **/*strings.xml, **/update-translations.yml, **/l10n/combine/combine.py, **/l10n/combine-translation-versions.py
  push-en-US-translations: any of: **/*.ftl, **/*.properties, **/*.dtd, **/*strings.xml, **/update-translations.yml, **/l10n/combine/combine.py, **/l10n/combine-translation-versions.py

Bug 1955113 - Turned off browser.theme.native-theme in macOS Nightly builds. r=emilio
  browser/app/profile/firefox.js
Due: eslint

Bug 1957129 - Removed usage of six in modules directory and toolkit directory. r=firefox-build-system-reviewers,win-reviewers,gstoll,ahochheiden
  modules/libpref/init/generate_static_pref_list.py
  toolkit/components/telemetry/tests/integration/tests/conftest.py
  toolkit/xre/dllservices/mozglue/gen_dll_blocklist_defs.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1955787 - Removed usage of six in layout directory. r=firefox-build-system-reviewers,sergesanspaille
  layout/tools/reftest/reftest/__init__.py
  layout/tools/reftest/reftestcommandline.py
  layout/tools/reftest/remotereftest.py
  layout/tools/reftest/runreftest.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1957678 - Prevent quadratic transferable list duplicate check r=jonco
  js/src/vm/StructuredClone.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1957678 - Prevent quadratic transferable list duplicate check r=jonco, a=dsmith
  js/src/vm/StructuredClone.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1957606 - Automate .d.ts substitutions for processed/generated modules r=Standard8
  tools/@types/lib.gecko.modules.d.ts
  tools/@types/subs/AppConstants.sys.d.mts
  tools/@types/subs/FeatureManifest.sys.d.mts
  tools/@types/subs/PromiseWorker.d.mts
  tools/@types/subs/PromiseWorker.d.ts
  tools/@types/subs/RFPTargetConstants.sys.d.mts
  tools/@types/subs/Readerable.sys.d.mts
  tools/@types/subs/schema.sys.d.mts
  tools/@types/tspaths.json
  tools/ts/build_paths.js
  tools/ts/config/fixed_paths.js
  tools/ts/mach_commands.py
Due: eslint, py-black, py-ruff, file-whitespace, trojan-source

Bug 1956580 - Replace download percentage in expanded notification with size downloaded so far and total file size r=android-reviewers,android-l10n-reviewers,rsainani,delphine
  mobile/android/android-components/components/feature/downloads/src/main/java/mozilla/components/feature/downloads/AbstractFetchDownloadService.kt
  mobile/android/android-components/components/feature/downloads/src/main/java/mozilla/components/feature/downloads/DownloadNotification.kt
  mobile/android/android-components/components/feature/downloads/src/main/res/values/strings.xml
  mobile/android/android-components/components/feature/downloads/src/test/java/mozilla/components/feature/downloads/AbstractFetchDownloadServiceTest.kt
  mobile/android/android-components/components/feature/downloads/src/test/java/mozilla/components/feature/downloads/DownloadNotificationTest.kt
  mobile/android/android-components/components/feature/downloads/src/test/java/mozilla/components/feature/downloads/fake/FakeFileSizeFormatter.kt
  mobile/android/android-components/components/feature/downloads/src/test/java/mozilla/components/feature/downloads/manager/FetchDownloadManagerTest.kt
  mobile/android/android-components/docs/changelog.md
  mobile/android/android-components/samples/browser/src/main/java/org/mozilla/samples/browser/DefaultComponents.kt
  mobile/android/android-components/samples/browser/src/main/java/org/mozilla/samples/browser/downloads/DownloadService.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/downloads/DownloadService.kt
  mobile/android/focus-android/app/src/main/java/org/mozilla/focus/Components.kt
  mobile/android/focus-android/app/src/main/java/org/mozilla/focus/downloads/DownloadService.kt
Due: eslint, file-whitespace, combine-en-US-translations, push-en-US-translations

Bug 1957606 - Remove dead code and references to long deleted lazy modules r=Standard8,settings-reviewers,devtools-reviewers,nchevobbe
  browser/components/preferences/preferences.js
  browser/components/search/test/browser/telemetry/browser_search_telemetry_remote_settings_sync.js
  devtools/client/webconsole/test/node/fixtures/WebConsoleUtils.js
  devtools/server/connectors/js-process-actor/target-watchers/window-global.sys.mjs
Due: eslint

Bug 1948127: Sync all folders but gtest_bin for Android gtests r=jmaher
  dom/filesystem/tests/moz.build
  testing/gtest/remotegtests.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1943160 - Don't construct PrefFlipsFeature in child processes r=nimbus-reviewers,chumphreys
  toolkit/components/nimbus/lib/ExperimentManager.sys.mjs
Due: eslint

Bug 1956629: Part 2 - Test that queued CA requests that are canceled are not sent to agent r=dlp-reviewers,gstoll
  toolkit/components/contentanalysis/ContentAnalysis.cpp
  toolkit/components/contentanalysis/ContentAnalysis.h
  toolkit/components/contentanalysis/nsIContentAnalysis.idl
  toolkit/components/contentanalysis/tests/gtest/TestContentAnalysis.cpp
  toolkit/components/contentanalysis/tests/gtest/allowedFile1.txt
  toolkit/components/contentanalysis/tests/gtest/allowedFile2.txt
  toolkit/components/contentanalysis/tests/gtest/moz.build
Due: py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1956629: Part 1 - Don't request scan from agent if user action was canceled r=dlp-reviewers,gstoll
  toolkit/components/contentanalysis/ContentAnalysis.cpp
  toolkit/components/contentanalysis/ContentAnalysis.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

No bug - Tagging e2090d24f8235f0dba16f77633467e4dbc1c0411 with FIREFOX_138_0b4_RELEASE a=release CLOSED TREE DONTBUILD
  .hgtags
Due: none

Bug 1956330 - Ensure extensions' sidebarAction get loaded into the panel when toggling the sidebar. r=sidebar-reviewers,jsudiaman
  browser/components/sidebar/browser-sidebar.js
  browser/components/sidebar/tests/browser/browser_extensions_sidebar.js
Due: eslint

Bug 1955779 - Turn on Smart Tab Groups Optin UI in Nightly. r=ngrato
  browser/app/profile/firefox.js
Due: eslint

Backed out changeset 390256672eac (bug 1958095) for causing bustages at libpkcs11testmodule.so. CLOSED TREE
  Cargo.lock
  Cargo.toml
  build/workspace-hack/Cargo.toml
  security/manager/ssl/tests/unit/pkcs11testmodule/Cargo.toml
  security/manager/ssl/tests/unit/pkcs11testmodule/dynamic-library/moz.build
  security/manager/ssl/tests/unit/pkcs11testmodule/dynamic-library/stub.c
  security/manager/ssl/tests/unit/pkcs11testmodule/dynamic-library/stub.cpp
  security/manager/ssl/tests/unit/pkcs11testmodule/moz.build
  security/manager/ssl/tests/unit/pkcs11testmodule/pkcs11testmodule.cpp
  security/manager/ssl/tests/unit/pkcs11testmodule/pkcs11testmodule.symbols
  security/manager/ssl/tests/unit/pkcs11testmodule/src/lib.rs
Due: py-black, clang-format, rustfmt, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1958935 - Factor view manager flush to its own function. r=dshin
  layout/base/nsRefreshDriver.cpp
  layout/base/nsRefreshDriver.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1958937 - Remove e prefix from TickReasons. r=dshin
  layout/base/nsRefreshDriver.cpp
  layout/base/nsRefreshDriver.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

No Bug, mozilla-beta repo-update HSTS HPKP remote-settings ct-logs - a=diannaS
  security/ct/CTKnownLogs.h
  security/manager/ssl/StaticHPKPins.h
  security/manager/ssl/nsSTSPreloadList.inc
  security/manager/tools/log_list.json
  services/settings/dumps/main/devtools-compatibility-browsers.json
  services/settings/dumps/main/password-rules.json
  services/settings/dumps/security-state/intermediates.json
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1957354 - [wpt-sync] Update web-platform-tests to 5903faa96e872e304d9c90b7c7bc98c3512fca99, a=diannaS
  testing/web-platform/meta/webdriver/tests/classic/new_session/unhandled_prompt_behavior.py.ini
Due: test-manifest

Bug 1958940 - Add AUTO_PROFILER_LABEL_DYNAMIC_CSTR_RELEVANT_FOR_JS. r=profiler-reviewers,canaltinova
  tools/profiler/public/ProfilerLabels.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  browser/locales/l10n-changesets.json
Due: eslint

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  mobile/locales/l10n-changesets.json
Due: eslint

Bug 1958049 - Update strings for SkipTermsOfUse enterprise policy r=fluent-reviewers,flod
  browser/components/enterprisepolicies/content/aboutPolicies.js
  browser/locales/en-US/browser/policies/policies-descriptions.ftl
Due: eslint, fluent-lint, file-whitespace, combine-en-US-translations, push-en-US-translations

Bug 1920232 - Part 2: Refactor Text into compose-base r=android-reviewers,007
  mobile/android/android-components/components/compose/base/src/main/java/mozilla/components/compose/base/text/Text.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/tabstrip/TabCounterMenuItem.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/compose/Dropdown.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/compose/menu/DropdownMenu.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/compose/menu/MenuItem.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/compose/textfield/TrailingIconScope.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/debugsettings/gleandebugtools/ui/GleanDebugToolsScreen.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/downloads/listscreen/DownloadsScreen.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/recentsyncedtabs/view/RecentSyncedTab.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/recenttabs/view/RecentTabs.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/recentvisits/view/RecentlyVisited.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/doh/root/DohSettingsScreen.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/search/SearchEngineShortcuts.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tabstray/ext/TabsTrayState.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/translations/TranslationsDialogBottomSheet.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/webcompat/ui/WebCompatReporter.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/tabstray/TabsTrayStateTest.kt
Due: none

Bug 1920232 - Part 3: Refactor Button into compose-base r=android-reviewers,007
  mobile/android/android-components/components/compose/base/src/main/java/mozilla/components/compose/base/button/Button.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/biometricauthentication/UnlockPrivateTabsScreen.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/tabstrip/TabStripTabCounterButton.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/compose/InfoCard.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/compose/Menu.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/compose/MessageCard.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/compose/PlaceholderCard.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/compose/menu/DropdownMenu.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/compose/snackbar/Snackbar.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/debugsettings/addresses/AddressesTools.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/debugsettings/cfrs/CfrTools.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/debugsettings/gleandebugtools/ui/GleanDebugToolsScreen.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/debugsettings/logins/LoginsTools.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/debugsettings/tabs/TabTools.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/experiments/view/ResearchSurfaceSurvey.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/recentsyncedtabs/view/RecentSyncedTab.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/sessioncontrol/viewholders/CustomizeHomeButtonViewHolder.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/setup/ui/SetupChecklist.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/ui/CollectionsPlaceholder.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/ui/Homepage.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/microsurvey/ui/MicrosurveyFooter.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/microsurvey/ui/MicrosurveyRequestPrompt.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/view/AddOnsOnboardingPage.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/view/MarketingDataOnboardingPage.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/view/OnboardingPage.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/view/TermsOfServiceOnboardingPage.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/view/ThemeOnboardingPage.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/view/ToolbarOnboardingPage.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/doh/addexception/AddExceptionScreen.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/doh/exceptionslist/ExceptionsListScreen.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tabstray/PrivateTabsLockedPage.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tabstray/syncedtabs/SyncedTabsList.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/translations/DownloadIndicator.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/translations/TranslationsDialogBottomSheet.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/translations/preferences/downloadlanguages/DownloadLanguageFileDialog.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/webcompat/ui/WebCompatReporter.kt
Due: none

Bug 1920232 - Part 1: Refactor Modifier extension functions into compose-base r=android-reviewers,007
  mobile/android/android-components/components/compose/base/src/main/java/mozilla/components/compose/base/modifier/Modifier.kt
  mobile/android/android-components/components/compose/base/src/main/java/mozilla/components/compose/base/utils/DpUtils.kt
  mobile/android/android-components/components/compose/base/src/test/java/mozilla/components/compose/base/modifier/ModifierTest.kt
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/ModifierTest.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/tabstrip/TabStrip.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/compose/ListItemTabLarge.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/compose/PlaceholderCard.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/compose/list/ListItem.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/compose/menu/DropdownMenu.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/compose/text/FadedText.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/compose/textfield/TextField.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/pocket/ui/PocketStoriesComposables.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/recentvisits/view/RecentlyVisited.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/wallpaper/WallpaperSettings.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tabstray/syncedtabs/SyncedTabsList.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/webcompat/ui/WebCompatReporter.kt
Due: none

Bug 1920232 - Part 4: Refactor DropdownMenu into compose-base r=android-reviewers,007
  mobile/android/android-components/components/compose/base/src/main/java/mozilla/components/compose/base/menu/DropdownMenu.kt
  mobile/android/android-components/components/compose/base/src/main/java/mozilla/components/compose/base/menu/MenuItem.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/tabstrip/TabCounterMenuItem.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/tabstrip/TabStripTabCounterButton.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/compose/Dropdown.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/debugsettings/gleandebugtools/ui/GleanDebugToolsScreen.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/downloads/listscreen/DownloadsScreen.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/recentsyncedtabs/view/RecentSyncedTab.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/recenttabs/view/RecentTabs.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/recentvisits/view/RecentlyVisited.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/doh/root/DohSettingsScreen.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/search/SearchEngineShortcuts.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tabstray/TabsTrayBanner.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tabstray/ext/TabsTrayState.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/translations/TranslationsDialogBottomSheet.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/webcompat/ui/WebCompatReporter.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/tabstray/TabsTrayStateTest.kt
Due: none

Bug 1920232 - Part 6: Refactor TextField into compose-base r=android-reviewers,android-l10n-reviewers,007,delphine
  mobile/android/android-components/components/compose/base/src/main/java/mozilla/components/compose/base/textfield/TextField.kt
  mobile/android/android-components/components/compose/base/src/main/java/mozilla/components/compose/base/textfield/TrailingIconScope.kt
  mobile/android/android-components/components/compose/base/src/main/res/values/strings.xml
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/debugsettings/gleandebugtools/ui/GleanDebugToolsScreen.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/debugsettings/tabs/TabTools.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/library/bookmarks/ui/BookmarksScreen.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/doh/addexception/AddExceptionScreen.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/doh/root/DohSettingsScreen.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/webcompat/ui/WebCompatReporter.kt
  mobile/android/fenix/app/src/main/res/values/strings.xml
Due: eslint, combine-en-US-translations, push-en-US-translations

Bug 1920232 - Part 5: Refactor Dropdown into compose-base r=android-reviewers,007
  mobile/android/android-components/components/compose/base/src/main/java/mozilla/components/compose/base/Dropdown.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/debugsettings/gleandebugtools/ui/GleanDebugToolsScreen.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/doh/root/DohSettingsScreen.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/translations/TranslationsDialogBottomSheet.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/webcompat/ui/WebCompatReporter.kt
Due: none

Bug 1955911 [Linux] Get correct DRM surface format for dmabuf surfaces created by EGL_MESA_image_dma_buf_export r=emilio
  gfx/layers/NativeLayerWayland.cpp
  widget/gtk/DMABufSurface.cpp
  widget/gtk/DMABufSurface.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1955911 [Linux] Don't create DMABufSurface with unsupported DRM format r=emilio
  widget/gtk/DMABufSurface.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1903245 - Make talos download_profile respect XDG_CONFIG_HOME r=perftest-reviewers,kshampur
  testing/talos/requirements.txt
  testing/talos/source_requirements.txt
  testing/talos/talos/heavy.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1947488 - move Glean startup metric recording into visual completeness queue r=android-reviewers,sfamisa,kaya
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/FenixApplication.kt
Due: none

Bug 1958108 - Provider error to mach try user when using --worker-override with invalid value. r=ahal
  tools/tryselect/task_config.py
  tools/tryselect/test/test_task_configs.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1958049 - Update strings for SkipTermsOfUse enterprise policy, a=dsmith, l10n=flod
  browser/components/enterprisepolicies/content/aboutPolicies.js
  browser/locales/en-US/browser/policies/policies-descriptions.ftl
Due: eslint, fluent-lint, file-whitespace, combine-en-US-translations, push-en-US-translations

Bug 1913023 - Support RTÉ Player. r=pip-reviewers,niklas
  browser/extensions/pictureinpicture/data/picture_in_picture_overrides.js
Due: eslint

Bug 1957749 - Detach Linux sandbox broker threads if needed to avoid memory leak. r=gerard-majax
  security/sandbox/linux/broker/SandboxBroker.cpp
  security/sandbox/linux/gtest/TestBroker.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1958943 - Re-enable dom.enable_web_task_scheduling r=smaug
  dom/serviceworkers/test/test_serviceworker_interfaces.js
  dom/tests/mochitest/general/test_interfaces.js
  dom/workers/test/test_worker_interfaces.js
  modules/libpref/init/StaticPrefList.yaml
Due: eslint, yaml
