Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source, combine-en-US-translations, push-en-US-translations

eslint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

stylelint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

py-black:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

py-ruff:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

yaml:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

shellcheck:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

clang-format:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

rustfmt:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

fluent-lint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

localization:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

Bug 1962984 - fix the cryptic error on pipeline initialization r=vazish
  toolkit/components/ml/content/backends/LlamaPipeline.mjs
  toolkit/components/ml/content/backends/ONNXPipeline.mjs
  toolkit/components/ml/content/backends/Pipeline.mjs
  toolkit/components/ml/tests/browser/browser.toml
  toolkit/components/ml/tests/browser/browser_ml_pipeline.js
Due: eslint

Bug 1965382 - Fix cookieStore_set_arguments.https.any.js r=necko-reviewers,sunil
  testing/web-platform/tests/cookie-store/cookieStore_set_arguments.https.any.js
Due: eslint

Bug 1965011 - Don't wrap into another layer of Lazy::get r=chutten
  toolkit/components/glean/build_scripts/glean_parser_ext/templates/rust_pings.jinja2
  toolkit/components/glean/tests/pytest/pings_test_output
Due: none

Bug 1965011 - Do not count allocation of labeled metrics at initialization r=chutten
  toolkit/components/glean/build_scripts/glean_parser_ext/templates/rust.jinja2
  toolkit/components/glean/tests/pytest/metrics_test_output
Due: none

Bug 1876501 - Use taskcluster-built python for all toolchain/misc r=ahochheiden
  taskcluster/kinds/toolchain/misc.yml
Due: yaml

Bug 1956769 - [devtools] Check columns when determining locations within the scope of functions r=devtools-reviewers,ochameau
  devtools/client/debugger/test/mochitest/browser_dbg-preview.js
  devtools/client/debugger/test/mochitest/examples/preview.js
  devtools/client/shared/sourceeditor/editor.js
  devtools/client/shared/sourceeditor/scope-utils.js
Due: eslint

Bug 1965623. Update bmpsuite tests to 2.8. r=gfx-reviewers,aosmond
  image/test/reftest/bmp/bmpsuite/README.mozilla
  image/test/reftest/bmp/bmpsuite/b/pal8.png
  image/test/reftest/bmp/bmpsuite/b/reftest.list
  image/test/reftest/bmp/bmpsuite/g/pal8.png
  image/test/reftest/bmp/bmpsuite/g/pal8nonsquare-e.png
  image/test/reftest/bmp/bmpsuite/g/pal8w124.png
  image/test/reftest/bmp/bmpsuite/g/pal8w125.png
  image/test/reftest/bmp/bmpsuite/g/pal8w126.png
  image/test/reftest/bmp/bmpsuite/g/reftest.list
  image/test/reftest/bmp/bmpsuite/q/pal1huff.bmp
  image/test/reftest/bmp/bmpsuite/q/pal1huffmsb.bmp
  image/test/reftest/bmp/bmpsuite/q/pal8.png
  image/test/reftest/bmp/bmpsuite/q/reftest.list
  image/test/reftest/bmp/bmpsuite/q/rgba64.bmp
Due: none

No Bug - Bumping Firefox l10n changesets r=release a=l10n-bump
  browser/locales/l10n-changesets.json
Due: eslint

No Bug - Bumping Mobile l10n changesets r=release a=l10n-bump
  mobile/locales/l10n-changesets.json
Due: eslint

Bug 1960237 - Only offer "Add Search Engine" for forms with an explicit action attribute. r=search-reviewers,scunnane
  browser/actors/ContextMenuChild.sys.mjs
  browser/components/search/test/browser/browser_addSearchEngineFromForm.js
  toolkit/components/search/tests/SearchTestUtils.sys.mjs
  toolkit/components/search/tests/xpcshell/test_getSubmission_encoding.js
  toolkit/modules/InlineSpellChecker.sys.mjs
Due: eslint

Bug 1661664 - Part 1: Add changeIcon method to UserSearchEngine. r=Standard8,settings-reviewers,mossop
  browser/components/preferences/search.js
  browser/components/search/content/addEngine.js
  toolkit/components/search/OpenSearchEngine.sys.mjs
  toolkit/components/search/SearchEngine.sys.mjs
  toolkit/components/search/SearchUtils.sys.mjs
  toolkit/components/search/UserSearchEngine.sys.mjs
  toolkit/components/search/tests/xpcshell/test_opensearch_icons_invalid.js
  toolkit/components/search/tests/xpcshell/test_userEngine.js
Due: eslint

Bug 1661664 - Part 2: Include favicon when adding custom search engine. r=Standard8
  browser/components/search/content/addEngine.js
Due: eslint

Bug 1963309 [wpt PR 52239] - fix crash occurs when the focus element is adopted,
  testing/web-platform/tests/focus/focus-element-crash.html
Due: eslint, file-whitespace

Bug 1963344 [wpt PR 52244] - [Viewport Segments] Per CSS resolution always return one segment.,
  testing/web-platform/tests/viewport-segments/viewport-segments-segments-property.https.html
  testing/web-platform/tests/viewport/viewport-segments.html
Due: eslint, file-whitespace

Bug 1963498 [wpt PR 52260] - Alignment for inline statically positioned OOF elements,
  testing/web-platform/tests/css/css-align/abspos/align-items-static-position-001-ref.tentative.html
  testing/web-platform/tests/css/css-align/abspos/align-items-static-position-001.tentative.html
  testing/web-platform/tests/css/css-align/abspos/align-items-static-position-002-ref.tentative.html
  testing/web-platform/tests/css/css-align/abspos/align-items-static-position-002.tentative.html
  testing/web-platform/tests/css/css-align/abspos/align-self-static-position-003-ref.html
  testing/web-platform/tests/css/css-align/abspos/align-self-static-position-003.html
  testing/web-platform/tests/css/css-align/abspos/align-self-static-position-004-ref.html
  testing/web-platform/tests/css/css-align/abspos/align-self-static-position-004.html
  testing/web-platform/tests/css/css-align/abspos/align-self-static-position-005-ref.html
  testing/web-platform/tests/css/css-align/abspos/align-self-static-position-005.html
  testing/web-platform/tests/css/css-align/abspos/align-self-static-position-006-ref.html
  testing/web-platform/tests/css/css-align/abspos/align-self-static-position-006.html
  testing/web-platform/tests/css/css-align/abspos/align-self-static-position-007-ref.html
  testing/web-platform/tests/css/css-align/abspos/align-self-static-position-007.html
  testing/web-platform/tests/css/css-align/abspos/align-self-static-position-008-ref.html
  testing/web-platform/tests/css/css-align/abspos/align-self-static-position-008.html
Due: eslint, file-whitespace

Bug 1963498 [wpt PR 52260] - Update wpt metadata,
  testing/web-platform/meta/css/css-align/abspos/align-self-static-position-003.html.ini
  testing/web-platform/meta/css/css-align/abspos/align-self-static-position-004.html.ini
  testing/web-platform/meta/css/css-align/abspos/align-self-static-position-005.html.ini
  testing/web-platform/meta/css/css-align/abspos/align-self-static-position-006.html.ini
  testing/web-platform/meta/css/css-align/abspos/align-self-static-position-007.html.ini
  testing/web-platform/meta/css/css-align/abspos/align-self-static-position-008.html.ini
Due: test-manifest

Bug 1963501 [wpt PR 52261] - [abspos] Only stretch when we have no auto margins.,
  testing/web-platform/tests/css/css-align/abspos/align-self-stretch-auto-margins-aspect-ratio.html
  testing/web-platform/tests/css/css-align/abspos/align-self-stretch-auto-margins.html
  testing/web-platform/tests/css/css-align/abspos/justify-self-stretch-auto-margins-aspect-ratio.html
  testing/web-platform/tests/css/css-align/abspos/justify-self-stretch-auto-margins.html
Due: eslint, file-whitespace

Bug 1963501 [wpt PR 52261] - Update wpt metadata,
  testing/web-platform/meta/css/css-align/abspos/align-self-stretch-auto-margins-aspect-ratio.html.ini
  testing/web-platform/meta/css/css-align/abspos/align-self-stretch-auto-margins.html.ini
  testing/web-platform/meta/css/css-align/abspos/justify-self-stretch-auto-margins-aspect-ratio.html.ini
  testing/web-platform/meta/css/css-align/abspos/justify-self-stretch-auto-margins.html.ini
Due: test-manifest

Bug 1963276 [wpt PR 52234] - [WebNN] Fuse QDQ for tanh, sigmoid and leakyRelu on tflite,
  testing/web-platform/tests/webnn/conformance_tests/qdq_subgraph.https.any.js
Due: eslint

Bug 1963239 [wpt PR 52230] - webnn: fuse `dq -> concat -> q` subgraph on tflite,
  testing/web-platform/tests/webnn/conformance_tests/concat.https.any.js
  testing/web-platform/tests/webnn/conformance_tests/qdq_subgraph.https.any.js
  testing/web-platform/tests/webnn/resources/utils.js
Due: eslint

Bug 1963399 [wpt PR 52246] - Serialize CDATASections in HTML documents the same as Text,
  testing/web-platform/tests/html/syntax/serializing-html-fragments/serializing-cdata-in-html-document.html
Due: eslint, file-whitespace

Bug 1963238 [wpt PR 52229] - webnn: add more abs conformance tests of other allowed data types,
  testing/web-platform/tests/webnn/conformance_tests/abs.https.any.js
Due: eslint

Bug 1963233 [wpt PR 52227] - webnn: add more sub conformance tests of other allowed data types,
  testing/web-platform/tests/webnn/conformance_tests/sub.https.any.js
Due: eslint

Bug 1962195 [wpt PR 52130] - MessagePort: implement disentanglement,
  testing/web-platform/tests/webmessaging/message-channels/close-event/explicitly-closed.tentative.window.js
  testing/web-platform/tests/webmessaging/message-channels/close-event/resources/helper.js
Due: eslint

Bug 1963615 [wpt PR 52266] - Fix ::part() within nesting.,
  testing/web-platform/tests/css/css-shadow-parts/host-part-nesting.html
Due: eslint, file-whitespace

Bug 1963641 [wpt PR 52267] - Check that numbers in calc() products are resolvable for DoubleValue(),
  testing/web-platform/tests/css/css-animations/crashtests/chrome-bug-405795970.html
Due: eslint, file-whitespace

Bug 1963206 [wpt PR 52220] - [LanguageDetector] Consume user activation,
  testing/web-platform/tests/ai/language_detection/availability-detached-crash.https.html
  testing/web-platform/tests/ai/language_detection/detector-locale.https.window.js
  testing/web-platform/tests/ai/language_detection/detector.https.window.js
  testing/web-platform/tests/ai/language_detection/detector.optional.https.window.js
  testing/web-platform/tests/ai/language_detection/resources/util.js
Due: eslint, file-whitespace

Bug 1963206 [wpt PR 52220] - Update wpt metadata,
  testing/web-platform/meta/ai/language_detection/detector-locale.https.window.js.ini
  testing/web-platform/meta/ai/language_detection/detector.https.window.js.ini
Due: test-manifest

Bug 1963668 [wpt PR 52270] - [gap-decorations] Multicol: Make sure we don't create empty gap geometry,
  testing/web-platform/tests/css/css-gaps/tentative/multicol/multicol-gap-decorations-013-ref.html
  testing/web-platform/tests/css/css-gaps/tentative/multicol/multicol-gap-decorations-013.html
Due: eslint, file-whitespace

Bug 1963680 [wpt PR 52271] - Fix moar discarded resolver DCHECKs in WritableStreamDefaultWriter,
  testing/web-platform/tests/streams/readable-streams/crashtests/garbage-collection.any.js
Due: eslint

Bug 1963682 [wpt PR 52272] - Only accept resolvable calc()s for keyframe offsets for web animations,
  testing/web-platform/tests/web-animations/crashtests/sibling-index-offset-crash.html
  testing/web-platform/tests/web-animations/resources/keyframe-tests.js
Due: eslint, file-whitespace

Bug 1963486 [wpt PR 52258] - Fix race in soft-navigation-helper.js: Create promise before interaction.,
  testing/web-platform/tests/soft-navigation-heuristics/resources/soft-navigation-helper.js
Due: eslint

Bug 1963493 [wpt PR 52259] - Fix race in softnavs WPT interaction-with-paint-before-back.tentative.html.,
  testing/web-platform/tests/soft-navigation-heuristics/interaction-with-paint-before-back.tentative.html
Due: eslint, file-whitespace

Bug 1964010 [wpt PR 52273] - [Prompt / Summarizer / Rewriter / Writer APIs] Update WPTs to window only,
  testing/web-platform/tests/ai/summarizer/summarizer-abort.tentative.https.window.js
  testing/web-platform/tests/ai/summarizer/summarizer-availability-available.tentative.https.window.js
  testing/web-platform/tests/ai/summarizer/summarizer-availability.tentative.https.window.js
  testing/web-platform/tests/ai/summarizer/summarizer-create-available.tentative.https.window.js
  testing/web-platform/tests/ai/summarizer/summarizer-create.tentative.https.window.js
  testing/web-platform/tests/ai/summarizer/summarizer-measureInputUsage.tentative.https.window.js
  testing/web-platform/tests/ai/summarizer/summarizer-summarize-streaming.tentative.https.window.js
  testing/web-platform/tests/ai/summarizer/summarizer-summarize.tentative.https.window.js
Due: eslint

Bug 1964010 [wpt PR 52273] - Update wpt metadata,
  testing/web-platform/meta/ai/summarizer/summarizer-abort.tentative.https.any.js.ini
  testing/web-platform/meta/ai/summarizer/summarizer-abort.tentative.https.window.js.ini
  testing/web-platform/meta/ai/summarizer/summarizer-availability-available.tentative.https.any.js.ini
  testing/web-platform/meta/ai/summarizer/summarizer-availability-available.tentative.https.window.js.ini
  testing/web-platform/meta/ai/summarizer/summarizer-availability.tentative.https.any.js.ini
  testing/web-platform/meta/ai/summarizer/summarizer-availability.tentative.https.window.js.ini
  testing/web-platform/meta/ai/summarizer/summarizer-create-available.tentative.https.any.js.ini
  testing/web-platform/meta/ai/summarizer/summarizer-create-available.tentative.https.window.js.ini
  testing/web-platform/meta/ai/summarizer/summarizer-create.tentative.https.any.js.ini
  testing/web-platform/meta/ai/summarizer/summarizer-create.tentative.https.window.js.ini
  testing/web-platform/meta/ai/summarizer/summarizer-measureInputUsage.tentative.https.any.js.ini
  testing/web-platform/meta/ai/summarizer/summarizer-measureInputUsage.tentative.https.window.js.ini
  testing/web-platform/meta/ai/summarizer/summarizer-summarize-streaming.tentative.https.any.js.ini
  testing/web-platform/meta/ai/summarizer/summarizer-summarize-streaming.tentative.https.window.js.ini
  testing/web-platform/meta/ai/summarizer/summarizer-summarize.tentative.https.any.js.ini
  testing/web-platform/meta/ai/summarizer/summarizer-summarize.tentative.https.window.js.ini
Due: test-manifest

Bug 1954928 [wpt PR 51434] - Update pyobjc versions,
  testing/web-platform/tests/tools/ci/requirements_macos_color_profile.txt
Due: none

Bug 1964017 [wpt PR 52277] - deps: Upgrade to latest version of our downstream WebRender fork (0.67),
  testing/web-platform/tests/html/semantics/embedded-content/the-iframe-element/iframe-hit-test-during-load-event-crash.html
Due: eslint, file-whitespace

Bug 1964031 [wpt PR 52190] - script: Clamp table spans according to the HTML specification ,
  testing/web-platform/tests/css/css-tables/colspan-zero-crash.html
  testing/web-platform/tests/html/semantics/tabular-data/processing-model-1/col-span-limits.html
  testing/web-platform/tests/html/semantics/tabular-data/processing-model-1/span-limits.html
Due: eslint, file-whitespace

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, **/*.java, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml
  combine-en-US-translations: any of: **/*.ftl, **/*.properties, **/*.dtd, **/*strings.xml, **/update-translations.yml, **/l10n/combine/combine.py, **/l10n/combine-translation-versions.py
  push-en-US-translations: any of: **/*.ftl, **/*.properties, **/*.dtd, **/*strings.xml, **/update-translations.yml, **/l10n/combine/combine.py, **/l10n/combine-translation-versions.py
