Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source, combine-en-US-translations, push-en-US-translations

eslint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

stylelint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

py-black:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

py-ruff:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

yaml:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

shellcheck:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

clang-format:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

rustfmt:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

fluent-lint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

localization:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

Bug 1606785 - Enable Prettier for CSS files r=desktop-theme-reviewers,Standard8,frontend-codestyle-reviewers,emilio
  .prettierignore
  .prettierignore-css
  .prettierignore-non-css
  .prettierrc.js
  .stylelintignore
  python/mozbuild/mozbuild/backend/mach_commands.py
  taskcluster/kinds/source-test/mozlint.yml
  tools/lint/eslint/__init__.py
  tools/lint/eslint/prettier_utils.py
  tools/lint/file-perm.yml
  tools/lint/mach_commands.py
  tools/lint/stylelint/__init__.py
Due: eslint, stylelint, py-black, py-ruff, yaml, file-whitespace, test-manifest, trojan-source

Revert "Bug 1964247 - Drop unused prefcalls.js in Android's package-manifest.in r=geckoview-reviewers,tcampbell" for causing xpc failures @test_autoconfig.js.
  mobile/android/installer/package-manifest.in
Due: none

Bug 1967453: Change tree comparing helpers to act on const arguments. r=layout-reviewers,emilio
  layout/base/nsCSSFrameConstructor.cpp
  layout/base/nsLayoutUtils.cpp
  layout/base/nsLayoutUtils.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1967635 - Allow 1px difference in test_bug1714640.html. r=dholbert
  layout/base/tests/test_bug1714640.html
Due: eslint, file-whitespace

Bug 1967635 - Allow 1px difference in test_bug1013412.html. r=dholbert
  dom/events/test/test_bug1013412.html
Due: eslint, file-whitespace

Bug 1967635 - Allow 1px difference in test_frame_reconstruction_scroll_restore.html. r=dholbert
  layout/base/tests/test_frame_reconstruction_scroll_restore.html
Due: eslint, file-whitespace

Bug 1965944 - Visual updates for medium card UI. r=home-newtab-reviewers,nbarrett
  browser/extensions/newtab/content-src/components/DiscoveryStreamComponents/CardGrid/CardGrid.jsx
  browser/extensions/newtab/content-src/components/DiscoveryStreamComponents/CardGrid/_CardGrid.scss
  browser/extensions/newtab/content-src/components/DiscoveryStreamComponents/CardSections/CardSections.jsx
  browser/extensions/newtab/content-src/components/DiscoveryStreamComponents/CardSections/_CardSections.scss
  browser/extensions/newtab/content-src/components/DiscoveryStreamComponents/DSCard/DSCard.jsx
  browser/extensions/newtab/content-src/components/DiscoveryStreamComponents/DSCard/_DSCard.scss
  browser/extensions/newtab/css/activity-stream.css
  browser/extensions/newtab/data/content/activity-stream.bundle.js
Due: eslint, stylelint, file-whitespace

No Bug - Bumping Firefox l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  browser/locales/l10n-changesets.json
Due: eslint

No Bug - Bumping Mobile l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  mobile/locales/l10n-changesets.json
Due: eslint

Bug 1967462 - Re-enable verifyTabMainMenuItemsTest UI test r=aaronmt
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/MainMenuTest.kt
Due: none

Bug 1967261 - Create nsIconChannel with the correct nsILoadInfo from the beginning. r=necko-reviewers,kershaw
  image/decoders/icon/android/nsIconChannel.cpp
  image/decoders/icon/android/nsIconChannel.h
  image/decoders/icon/gtk/nsIconChannel.cpp
  image/decoders/icon/gtk/nsIconChannel.h
  image/decoders/icon/mac/nsIconChannel.h
  image/decoders/icon/mac/nsIconChannelCocoa.mm
  image/decoders/icon/nsIconProtocolHandler.cpp
  image/decoders/icon/win/nsIconChannel.cpp
  image/decoders/icon/win/nsIconChannel.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1967261 - Create channel with the correct nsILoadInfo from the beginning in PageIconProtocolHandler. r=necko-reviewers,places-reviewers,kershaw,Standard8
  toolkit/components/places/PageIconProtocolHandler.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1959370 - Add an ability to disable and enable security checks per user context for testing. r=keeler
  security/manager/ssl/nsCertOverrideService.cpp
  security/manager/ssl/nsCertOverrideService.h
  security/manager/ssl/nsICertOverrideService.idl
  security/manager/ssl/tests/mochitest/browser/browser.toml
  security/manager/ssl/tests/mochitest/browser/browser_setDisableAllSecurityChecksAndLetAttackersInterceptMyData.js
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1959372 - Move cert.sys.mjs to the shared folder. r=webdriver-reviewers,jdescottes
  remote/jar.mn
  remote/marionette/jar.mn
  remote/shared/webdriver/Certificates.sys.mjs
  remote/shared/webdriver/Session.sys.mjs
Due: eslint

Bug 1959372 - [webdriver-bidi] Add support for "acceptInsecureCerts" argument to "browser.createUserContext" command. r=webdriver-reviewers,jdescottes
  remote/shared/webdriver/Certificates.sys.mjs
  remote/webdriver-bidi/modules/root/browser.sys.mjs
Due: eslint

Bug 1959372 - [wpt] Add support for "acceptInsecureCerts" argument to "browser.createUserContext" command in BiDi client. r=webdriver-reviewers,jdescottes
  testing/web-platform/tests/tools/webdriver/webdriver/bidi/modules/browser.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1959372 - [wdspec] Add invalid test cases for "acceptInsecureCerts" argument in "browser.createUserContext" command. r=webdriver-reviewers,jdescottes
  testing/web-platform/tests/webdriver/tests/bidi/browser/create_user_context/invalid.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1959372 - [wdspec] Add mozilla-specific tests for "acceptInsecureCerts" for WebDriver BiDi and Classic. r=webdriver-reviewers,jdescottes
  testing/web-platform/mozilla/meta/webdriver/bidi/browser/create_user_context/accept_insecure_certs.py.ini
  testing/web-platform/mozilla/meta/webdriver/classic/new_session/accept_insecure_certs.py.ini
  testing/web-platform/mozilla/tests/webdriver/bidi/browser/create_user_context/accept_insecure_certs.py
  testing/web-platform/mozilla/tests/webdriver/bidi/session/new/accept_insecure_certs.py
  testing/web-platform/mozilla/tests/webdriver/classic/new_session/accept_insecure_certs.py
  testing/web-platform/tests/webdriver/tests/support/fixtures_bidi.py
Due: py-black, py-ruff, file-whitespace, test-manifest, trojan-source

Bug 1965951 - Refactor `AcornColors` outside of `AcornTheme` r=android-reviewers,007
  mobile/android/android-components/components/compose/base/src/main/java/mozilla/components/compose/base/theme/AcornColors.kt
  mobile/android/android-components/components/compose/base/src/main/java/mozilla/components/compose/base/theme/AcornTheme.kt
Due: none

Bug 1934115 - Don't dispose GeckoResult for content permission request. r=android-reviewers,owlish
  mobile/android/android-components/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/GeckoEngineSession.kt
  mobile/android/android-components/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/permission/GeckoPermissionRequest.kt
  mobile/android/android-components/components/browser/engine-gecko/src/test/java/mozilla/components/browser/engine/gecko/permission/GeckoPermissionRequestTest.kt
  mobile/android/android-components/components/browser/engine-system/src/main/java/mozilla/components/browser/engine/system/permission/SystemPermissionRequest.kt
  mobile/android/android-components/components/browser/state/src/main/java/mozilla/components/browser/state/ext/PermissionRequest.kt
  mobile/android/android-components/components/browser/state/src/main/java/mozilla/components/browser/state/reducer/ContentStateReducer.kt
  mobile/android/android-components/components/browser/state/src/test/java/mozilla/components/browser/state/action/ContentActionTest.kt
  mobile/android/android-components/components/concept/engine/src/main/java/mozilla/components/concept/engine/permission/PermissionRequest.kt
  mobile/android/android-components/components/concept/engine/src/test/java/mozilla/components/concept/engine/permission/PermissionRequestTest.kt
  mobile/android/android-components/components/feature/sitepermissions/src/test/java/mozilla/components/feature/sitepermissions/SitePermissionsFeatureTest.kt
Due: none

Bug 1967390 - Return IPC_FAIL when RemoteWorkerDebuggerParent endpoint is not valid. r=dom-worker-reviewers,smaug.
  dom/workers/remoteworkers/RemoteWorkerDebuggerManagerParent.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1967228 - Add Result Menu to allow removing semantic history results from history. r=cgopal
  browser/components/urlbar/UrlbarProviderSemanticHistorySearch.sys.mjs
  browser/components/urlbar/tests/unit/test_UrlbarProviderSemanticHistorySearch.js
Due: eslint

Bug 1967242 - Do not try to access the database connection when semantic manager is not available. r=cgopal
  browser/components/urlbar/UrlbarProviderSemanticHistorySearch.sys.mjs
  browser/components/urlbar/tests/unit/test_UrlbarProviderSemanticHistorySearch.js
Due: eslint

Bug 1966459 - Enable close watcher in desktop nightly r=smaug
  dom/tests/mochitest/general/test_interfaces.js
  modules/libpref/init/StaticPrefList.yaml
  testing/web-platform/meta/html/dom/idlharness.https.html.ini
Due: eslint, yaml, test-manifest

Bug 1967590 - [bidi] Add jsdoc for wait argument in browsingContext navigate and reload r=webdriver-reviewers,whimboo
  remote/webdriver-bidi/modules/root/browsingContext.sys.mjs
Due: eslint

Bug 1967590 - [remote] Add logs for skipped state changes in ProgressListener r=webdriver-reviewers,whimboo
  remote/shared/Navigate.sys.mjs
Due: eslint

Bug 1967590 - [wdspec] Add wait=complete in reload commands used in network cache tests r=webdriver-reviewers,whimboo
  testing/web-platform/tests/webdriver/tests/bidi/network/before_request_sent/before_request_sent_cached.py
  testing/web-platform/tests/webdriver/tests/bidi/network/response_completed/response_completed_cached.py
  testing/web-platform/tests/webdriver/tests/bidi/network/response_started/response_started_cached.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Backed out 1 changesets (bug 1965944) for newtab test failures
  browser/extensions/newtab/content-src/components/DiscoveryStreamComponents/CardGrid/CardGrid.jsx
  browser/extensions/newtab/content-src/components/DiscoveryStreamComponents/CardGrid/_CardGrid.scss
  browser/extensions/newtab/content-src/components/DiscoveryStreamComponents/CardSections/CardSections.jsx
  browser/extensions/newtab/content-src/components/DiscoveryStreamComponents/CardSections/_CardSections.scss
  browser/extensions/newtab/content-src/components/DiscoveryStreamComponents/DSCard/DSCard.jsx
  browser/extensions/newtab/content-src/components/DiscoveryStreamComponents/DSCard/_DSCard.scss
  browser/extensions/newtab/css/activity-stream.css
  browser/extensions/newtab/data/content/activity-stream.bundle.js
Due: eslint, stylelint, file-whitespace

Bug 1965336 - Redefine DOMStringMap in the TypeScript definitions to match its implementation. r=saschanaz DONTBUILD
  tools/@types/lib.gecko.tweaks.d.ts
Due: none

Bug 1959801 - Remove remove_dir_all r=supply-chain-reviewers,gfx-reviewers,ErichDonGubler
  Cargo.lock
  gfx/webrender_bindings/Cargo.toml
  gfx/webrender_bindings/src/program_cache.rs
  supply-chain/config.toml
  third_party/rust/remove_dir_all/.cargo-checksum.json
  third_party/rust/remove_dir_all/Cargo.toml
  third_party/rust/remove_dir_all/LICENCE-APACHE
  third_party/rust/remove_dir_all/LICENCE-MIT
  third_party/rust/remove_dir_all/README.md
  third_party/rust/remove_dir_all/src/fs.rs
  third_party/rust/remove_dir_all/src/lib.rs
Due: eslint, rustfmt, file-whitespace, trojan-source

Bug 1966305 - Show a 8dp horizontal padding if no browser/page actions r=android-reviewers,007
  mobile/android/android-components/components/compose/browser-toolbar/src/main/java/mozilla/components/compose/browser/toolbar/BrowserDisplayToolbar.kt
Due: none

Bug 1967608 - Make all prefs accessed by worker thread atomic, r=smaug
  dom/base/TimeoutManager.cpp
  dom/workers/WorkerPrivate.cpp
  modules/libpref/init/StaticPrefList.yaml
Due: yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1914546 - Make `OverOutElementsWrapper` stop storing the last `mouseover` event target when it's removed r=smaug
  dom/events/EventStateManager.cpp
  modules/libpref/init/StaticPrefList.yaml
  testing/web-platform/meta/pointerevents/pointerevent_after_target_appended.html.ini
  testing/web-platform/meta/uievents/mouse/mouse_boundary_events_after_reappending_last_over_target.tentative.html.ini
Due: yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Bug 1967235 - Move strings for add engine dialog from enUS-searchFeatures.ftl to search.ftl. r=search-reviewers,fluent-reviewers,settings-reviewers,urlbar-reviewers,Standard8,bolsson,mossop
  browser/components/preferences/search.inc.xhtml
  browser/components/search/content/addEngine.xhtml
  browser/components/urlbar/content/enUS-searchFeatures.ftl
  browser/locales/en-US/browser/preferences/preferences.ftl
  browser/locales/en-US/browser/search.ftl
  tools/lint/fluent-lint/exclusions.yml
Due: eslint, yaml, fluent-lint, file-whitespace, combine-en-US-translations, push-en-US-translations

Bug 1871881 - [devtools] Fix Inspector selector search using functional pseudo classes. r=devtools-reviewers,jdescottes.
  devtools/server/actors/utils/walker-search.js
  devtools/server/tests/browser/browser_inspector-search.js
  devtools/server/tests/browser/inspector-search-data.html
Due: eslint, file-whitespace

Bug 1953824 - Add TypeScript configuration files for toolkit/components/places. r=jteow
  toolkit/components/places/PlacesSemanticHistoryManager.sys.mjs
  toolkit/components/places/tsconfig.json
Due: eslint

Bug 1967546 - Update AndroidX DataStore to version 1.1.7. r=android-reviewers,mcarare
  gradle/libs.versions.toml
Due: none

Bug 1967546 - Update AndroidX Fragment to version 1.8.7. r=android-reviewers,mcarare
  gradle/libs.versions.toml
Due: none

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, **/*.java, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml
  combine-en-US-translations: any of: **/*.ftl, **/*.properties, **/*.dtd, **/*strings.xml, **/update-translations.yml, **/l10n/combine/combine.py, **/l10n/combine-translation-versions.py
  push-en-US-translations: any of: **/*.ftl, **/*.properties, **/*.dtd, **/*strings.xml, **/update-translations.yml, **/l10n/combine/combine.py, **/l10n/combine-translation-versions.py
