Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source, combine-en-US-translations, push-en-US-translations

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, **/*.java, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml
  combine-en-US-translations: any of: **/*.ftl, **/*.properties, **/*.dtd, **/*strings.xml, **/update-translations.yml, **/l10n/combine/combine.py, **/l10n/combine-translation-versions.py
  push-en-US-translations: any of: **/*.ftl, **/*.properties, **/*.dtd, **/*strings.xml, **/update-translations.yml, **/l10n/combine/combine.py, **/l10n/combine-translation-versions.py

Bug 1960608 - Remove manage colors button from appearance override warning. r=fluent-reviewers,settings-reviewers,Gijs,bolsson
  browser/components/preferences/main.inc.xhtml
  browser/components/preferences/main.js
  browser/locales/en-US/browser/preferences/preferences.ftl
Due: eslint, fluent-lint, file-whitespace, combine-en-US-translations, push-en-US-translations

Bug 1957519 - land NSS_3_111_BETA2, UPGRADE_NSS_RELEASE, r=djackson
  security/nss/automation/abi-check/expected-report-libnss3.so.txt
  security/nss/automation/abi-check/expected-report-libnssutil3.so.txt
  security/nss/automation/abi-check/expected-report-libsmime3.so.txt
  security/nss/automation/abi-check/previous-nss-release
  security/nss/automation/taskcluster/scripts/cryptofuzz.sh
  security/nss/cmd/dbtool/dbtool.c
  security/nss/cmd/selfserv/Makefile
  security/nss/cmd/selfserv/selfserv.c
  security/nss/cmd/selfserv/selfserv.gyp
  security/nss/gtests/ssl_gtest/ssl_auth_unittest.cc
  security/nss/lib/ckfw/builtins/certdata.txt
  security/nss/lib/ckfw/builtins/nssckbi.h
  security/nss/lib/nss/nss.h
  security/nss/lib/softoken/softkver.h
  security/nss/lib/ssl/ssl3con.c
  security/nss/lib/ssl/sslsock.c
  security/nss/lib/ssl/tls13con.c
  security/nss/lib/util/nssutil.h
  security/nss/lib/util/pkcs11n.h
  security/nss/lib/util/pkcs11t.h
Due: shellcheck, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1962277 - update test expectations for network-partition-key.html CLOSED TREE
  testing/web-platform/meta/fetch/connection-pool/network-partition-key.html.ini
Due: test-manifest

Bug 1961507 - Adapt crash reporter socket naming for snap r=afranchuk
  toolkit/crashreporter/crash_helper_common/src/platform/linux.rs
Due: rustfmt, file-whitespace, trojan-source

No Bug, mozilla-central repo-update HSTS HPKP remote-settings tld-suffixes ct-logs - r=release-managers,RyanVM
  netwerk/dns/effective_tld_names.dat
  security/ct/CTKnownLogs.h
  security/manager/ssl/StaticHPKPins.h
  security/manager/ssl/nsSTSPreloadList.inc
  security/manager/tools/log_list.json
  services/settings/dumps/main/devtools-compatibility-browsers.json
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1962403 - Update test expectations for storage-access-api/requestStorageAccess-cross-origin-fetch.sub.https.window.js.
  testing/web-platform/meta/storage-access-api/requestStorageAccess-cross-origin-fetch.sub.https.window.js.ini
Due: test-manifest

Bug 1962332 - Use enums for page origin's fadeDirection and textGravity properties r=android-reviewers,skhan
  mobile/android/android-components/components/compose/browser-toolbar/src/main/java/mozilla/components/compose/browser/toolbar/concept/PageOrigin.kt
  mobile/android/android-components/components/compose/browser-toolbar/src/main/java/mozilla/components/compose/browser/toolbar/ui/CustomFadeAndGravityTextView.kt
  mobile/android/android-components/components/compose/browser-toolbar/src/main/java/mozilla/components/compose/browser/toolbar/ui/Origin.kt
Due: none

Bug 1959407 - Use scrollPosition instead of scrollTop for vertical-pinned-tabs-container r=tabbrowser-reviewers,sthompson
  browser/components/tabbrowser/content/tabs.js
Due: eslint

Bug 1962180 - Update downloads select all behaviour r=android-reviewers,giorga
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/downloads/listscreen/store/DownloadUIState.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/downloads/listscreen/store/DownloadUIStore.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/downloads/listscreen/store/DownloadUIStoreTest.kt
Due: none

Bug 1959535 - Enable ServiceWorkers in Private Browsing Mode on release. r=dom-worker-reviewers,smaug
  modules/libpref/init/StaticPrefList.yaml
Due: yaml

Bug 1961851 - Split window info collection. r=tjr
  toolkit/components/resistfingerprinting/UserCharacteristicsPageService.sys.mjs
Due: eslint

Bug 1961851 - Collect both rv and additional context. r=tjr
  toolkit/components/resistfingerprinting/nsUserCharacteristics.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1961851 - Check canvas element has getContext function. r=tjr
  toolkit/actors/UserCharacteristicsCanvasRenderingChild.sys.mjs
Due: eslint

Bug 1961851 - Increment version. r=tjr
  toolkit/components/resistfingerprinting/nsUserCharacteristics.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Backed out changeset b19f01c4a432 (bug 1959542) for causing bc failures at browser_browserGlue_showModal_trigger.js CLOSED TREE
  browser/app/profile/firefox.js
  browser/base/content/test/general/browser_datachoices_notification.js
  browser/components/asrouter/modules/OnboardingMessageProvider.sys.mjs
  toolkit/components/nimbus/FeatureManifest.yaml
  toolkit/components/telemetry/app/TelemetryReportingPolicy.sys.mjs
  toolkit/components/telemetry/tests/unit/test_TelemetryReportingPolicy.js
Due: eslint, yaml

Bug 1962419 - Change BUG_COMPONENT for IOUtils and PathUtils to Core::XPCOM r=xpcom-reviewers,mccr8
  dom/chrome-webidl/moz.build
  xpcom/ioutils/moz.build
Due: py-black

Bug 1960569 - Catch decryption errors when migrating payment methods. r=mconley,migration-reviewers
  browser/components/migration/ChromeProfileMigrator.sys.mjs
Due: eslint

Bug 1944172 - Trigger biometric pompt when switching to PBM from the tabs tray r=android-reviewers,twhite
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/PrivateBrowsingFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/biometric/BiometricUtils.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tabstray/TabsTrayController.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tabstray/TabsTrayFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  mobile/android/fenix/app/src/main/res/values/preference_keys.xml
  mobile/android/fenix/app/src/main/res/xml/private_browsing_preferences.xml
Due: eslint

Bug 1962272 - chore: audit `metal` 0.31.0 → 0.32.0 r=supply-chain-reviewers
  supply-chain/audits.toml
Due: none

Bug 1961065 - Fix perma failing browser_history_sidebar.js r=sidebar-reviewers
  browser/components/sidebar/tests/browser/browser_history_sidebar.js
Due: eslint

Bug 1962137 - Don't sort keys and indent JSON in decision task artifacts. r=taskgraph-reviewers,ahal DONTBUILD
  taskcluster/gecko_taskgraph/decision.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1961641 - Add Telemetry when Smart Tab Model has no suggestion. r=ngrato,tabbrowser-reviewers
  browser/components/tabbrowser/SmartTabGrouping.sys.mjs
  browser/components/tabbrowser/content/tabbrowser.js
  browser/components/tabbrowser/content/tabgroup-menu.js
  browser/components/tabbrowser/metrics.yaml
  browser/components/tabbrowser/test/browser/smarttabgrouping/browser_tab_grouping.js
  browser/components/tabbrowser/test/browser/smarttabgrouping/browser_tab_grouping_telemetry.js
Due: eslint, yaml

Bug 1962306 - Update metadata for browsing_context/navigation_failed/navigation_failed.py. r=webdriver-reviewers,whimboo
  testing/web-platform/meta/webdriver/tests/bidi/browsing_context/navigation_failed/navigation_failed.py.ini
Due: test-manifest

Bug 1962277 - Update test expectations for html/semantics/interactive-elements/the-dialog-element/toggle-events.html. CLOSED TREE
  testing/web-platform/meta/html/semantics/interactive-elements/the-dialog-element/toggle-events.html.ini
Due: test-manifest

Bug 1936636 - Update Google Play Services Ads Identifier to version 18.2.0. r=jonalmeida
  gradle/libs.versions.toml
Due: none

Bug 1962274: Add a print-preview test with printInColor disabled. r=jwatt
  layout/base/tests/chrome/printpreview_helper.xhtml
Due: eslint, file-whitespace

Bug 1962286 - In docs for `jj fix` integration add note for Windows with config example r=linter-reviewers,ahal
  docs/code-quality/lint/usage.rst
Due: file-whitespace

Bug 1961011 - Improve storage of Java exceptions in glean crash pings r=android-reviewers,nalexander
  mobile/android/android-components/components/lib/crash/metrics.yaml
  mobile/android/android-components/components/lib/crash/src/main/java/mozilla/components/lib/crash/service/GleanCrashReporterService.kt
  mobile/android/android-components/components/lib/crash/src/test/java/mozilla/components/lib/crash/service/GleanCrashReporterServiceTest.kt
Due: yaml

Bug 1961755 - Rename markIfUnmarkedAtomic methods to markIfUnmarkedThreadSafe r=sfink
  js/public/HeapAPI.h
  js/src/gc/BufferAllocator.cpp
  js/src/gc/Cell.h
  js/src/gc/Heap-inl.h
  js/src/gc/Marking.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Backed out 4 changesets (bug 1961851) for causing build bustages @ toolkit/components/resistfingerprinting/nsUserCharacteristics.cpp CLOSED TREE
  toolkit/actors/UserCharacteristicsCanvasRenderingChild.sys.mjs
  toolkit/components/resistfingerprinting/UserCharacteristicsPageService.sys.mjs
  toolkit/components/resistfingerprinting/nsUserCharacteristics.cpp
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1950211 - Add telemetry for String methods calling RegExp symbols on primitives r=dminor,iain
  dom/base/UseCounters.conf
  dom/base/use_counter_metrics.yaml
  js/public/friend/UsageStatistics.h
  js/src/builtin/String.js
  js/src/jit-test/tests/string-methods-regexp-symbols-telemetry.js
  js/src/vm/SelfHosting.cpp
  js/xpconnect/src/XPCJSRuntime.cpp
Due: eslint, yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1961989 - Instrument NewTabGleanUtils to track success or failure of metric and ping registrations r=home-newtab-reviewers,mconley
  browser/components/newtab/metrics.yaml
  browser/extensions/newtab/lib/NewTabGleanUtils.sys.mjs
Due: eslint, yaml

Bug 1953204 - Reword JSMSG_TEMPORAL_PLAIN_MONTH_DAY_INVALID error message. r=dminor
  js/public/friend/ErrorNumbers.msg
Due: none

Bug 1962389 - Snapshot changed files in JujutsuRepository.try_commit. r=sfink
  python/mozversioncontrol/mozversioncontrol/repo/jj.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1962464 - Audit dependencies for AS logins. r=joschmidt,supply-chain-reviewers
  supply-chain/audits.toml
  supply-chain/imports.lock
Due: none
