Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source, combine-en-US-translations, push-en-US-translations

eslint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

stylelint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

py-black:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

py-ruff:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

yaml:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

shellcheck:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

clang-format:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

rustfmt:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

fluent-lint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

localization:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

Bug 1962099 - QM: Restore original metadata structure for StorageOperationBase::CreateDirectoryMetadata2; r=dom-storage-reviewers,asuth
  dom/quota/ActorsParent.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1924764 - Adjust UniFFI JS enum bindings to match Rust discriminants. r=bdk
  browser/components/urlbar/UrlbarProviderQuickSuggest.sys.mjs
  toolkit/components/contentrelevancy/ContentRelevancyManager.sys.mjs
  toolkit/components/contentrelevancy/tests/xpcshell/test_InterestVectorBasedScoring.js
  toolkit/components/uniffi-bindgen-gecko-js/components/generated/RustRelevancy.sys.mjs
  toolkit/components/uniffi-bindgen-gecko-js/components/generated/RustRemoteSettings.sys.mjs
  toolkit/components/uniffi-bindgen-gecko-js/components/generated/RustSearch.sys.mjs
  toolkit/components/uniffi-bindgen-gecko-js/components/generated/RustSuggest.sys.mjs
  toolkit/components/uniffi-bindgen-gecko-js/components/generated/RustSync15.sys.mjs
  toolkit/components/uniffi-bindgen-gecko-js/components/generated/RustTabs.sys.mjs
  toolkit/components/uniffi-bindgen-gecko-js/components/generated/RustWebextstorage.sys.mjs
  toolkit/components/uniffi-bindgen-gecko-js/fixtures/custom-types/src/custom-types.udl
  toolkit/components/uniffi-bindgen-gecko-js/fixtures/custom-types/src/lib.rs
  toolkit/components/uniffi-bindgen-gecko-js/fixtures/generated/RustCustomTypes.sys.mjs
  toolkit/components/uniffi-bindgen-gecko-js/fixtures/generated/RustExternalTypes.sys.mjs
  toolkit/components/uniffi-bindgen-gecko-js/fixtures/generated/RustFixtureCallbacks.sys.mjs
  toolkit/components/uniffi-bindgen-gecko-js/fixtures/generated/RustFutures.sys.mjs
  toolkit/components/uniffi-bindgen-gecko-js/fixtures/generated/RustGeometry.sys.mjs
  toolkit/components/uniffi-bindgen-gecko-js/fixtures/generated/RustRefcounts.sys.mjs
  toolkit/components/uniffi-bindgen-gecko-js/fixtures/generated/RustRondpoint.sys.mjs
  toolkit/components/uniffi-bindgen-gecko-js/fixtures/generated/RustSprites.sys.mjs
  toolkit/components/uniffi-bindgen-gecko-js/fixtures/generated/RustTodolist.sys.mjs
  toolkit/components/uniffi-bindgen-gecko-js/fixtures/generated/RustUniffiTraitInterfaces.sys.mjs
  toolkit/components/uniffi-bindgen-gecko-js/fixtures/tests/xpcshell/test_custom_types.js
  toolkit/components/uniffi-bindgen-gecko-js/fixtures/tests/xpcshell/test_type_checking.js
  toolkit/components/uniffi-bindgen-gecko-js/src/render/js.rs
  toolkit/components/uniffi-bindgen-gecko-js/src/templates/js/Enum.sys.mjs
  toolkit/components/uniffi-js/GeneratedScaffolding.cpp
Due: eslint, clang-format, rustfmt, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1956954 - ValidatePrincipal in CreateAboutBlankDocumentViewer calls, r=smaug
  dom/ipc/BrowserHost.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1954136 - Fix Typescript and JSDoc issues in History.sys.mjs, PlacesBackups.sys.mjs, and PlacesSyncUtils.sys.mjs - r=Standard8,sync-reviewers,skhamis
  services/sync/modules/engines/history.sys.mjs
  toolkit/components/places/History.sys.mjs
  toolkit/components/places/PlacesBackups.sys.mjs
  toolkit/components/places/PlacesSyncUtils.sys.mjs
Due: eslint

No Bug - Bumping Firefox l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  browser/locales/l10n-changesets.json
Due: eslint

No Bug - Bumping Mobile l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  mobile/locales/l10n-changesets.json
Due: eslint

Bug 1924764 - Lint fix
  toolkit/components/uniffi-bindgen-gecko-js/fixtures/tests/xpcshell/test_custom_types.js
Due: eslint

Bug 1963368 - Remove usage of live capture pref that I forgot to remove.
  dom/view-transitions/ViewTransition.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

No Bug - Bumping Firefox l10n changesets r=release a=l10n-bump
  browser/locales/l10n-changesets.json
Due: eslint

No Bug - Bumping Mobile l10n changesets r=release a=l10n-bump
  mobile/locales/l10n-changesets.json
Due: eslint

Bug 1964113 - Remove LUL from the baseprofiler r=mstange,profiler-reviewers
  mozglue/baseprofiler/core/platform-linux-android.cpp
  mozglue/baseprofiler/core/platform.cpp
  mozglue/baseprofiler/lul/AutoObjectMapper.cpp
  mozglue/baseprofiler/lul/AutoObjectMapper.h
  mozglue/baseprofiler/lul/LulCommon.cpp
  mozglue/baseprofiler/lul/LulCommonExt.h
  mozglue/baseprofiler/lul/LulDwarf.cpp
  mozglue/baseprofiler/lul/LulDwarfExt.h
  mozglue/baseprofiler/lul/LulDwarfInt.h
  mozglue/baseprofiler/lul/LulDwarfSummariser.cpp
  mozglue/baseprofiler/lul/LulDwarfSummariser.h
  mozglue/baseprofiler/lul/LulElf.cpp
  mozglue/baseprofiler/lul/LulElfExt.h
  mozglue/baseprofiler/lul/LulElfInt.h
  mozglue/baseprofiler/lul/LulMain.cpp
  mozglue/baseprofiler/lul/LulMain.h
  mozglue/baseprofiler/lul/LulMainInt.h
  mozglue/baseprofiler/lul/platform-linux-lul.cpp
  mozglue/baseprofiler/lul/platform-linux-lul.h
  mozglue/baseprofiler/moz.build
Due: py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1848957 - [wpt] Fix handling of result in wpt's mach command. r=jgraham
  testing/web-platform/mach_commands_base.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1848957 - [remote] Re-enable async-event-dispatching job in CI. r=jmaher,webdriver-reviewers,jgraham
  taskcluster/kinds/test/variants.yml
  taskcluster/kinds/test/web-platform.yml
  testing/web-platform/tests/tools/wptrunner/wptrunner/browsers/firefox.py
  tools/tryselect/test/test_fuzzy.py
Due: py-black, py-ruff, yaml, file-whitespace, trojan-source

Bug 1848957 - [remote] Add support for wheel scroll widget events to Marionette and WebDriver BiDi. r=webdriver-reviewers,jdescottes
  remote/marionette/actors/MarionetteCommandsChild.sys.mjs
  remote/marionette/actors/MarionetteCommandsParent.sys.mjs
  remote/marionette/driver.sys.mjs
  remote/shared/webdriver/Actions.sys.mjs
  remote/shared/webdriver/Event.sys.mjs
  remote/webdriver-bidi/modules/root/input.sys.mjs
  remote/webdriver-bidi/modules/windowglobal/input.sys.mjs
  testing/mochitest/tests/SimpleTest/EventUtils.js
  testing/web-platform/meta/webdriver/tests/bidi/input/perform_actions/wheel.py.ini
  testing/web-platform/meta/webdriver/tests/classic/perform_actions/wheel.py.ini
Due: eslint, test-manifest

Bug 1956042 - Support multiple instances of SingleSelect on the same aboutwelcome screen r=omc-reviewers,jprickett,mviar
  browser/components/aboutwelcome/content-src/components/ContentTiles.jsx
  browser/components/aboutwelcome/content-src/components/MultiStageAboutWelcome.jsx
  browser/components/aboutwelcome/content-src/components/MultiStageProtonScreen.jsx
  browser/components/aboutwelcome/content-src/components/SingleSelect.jsx
  browser/components/aboutwelcome/content/aboutwelcome.bundle.js
  browser/components/aboutwelcome/tests/unit/ContentTiles.test.jsx
  browser/components/aboutwelcome/tests/unit/MultiStageAboutWelcome.test.jsx
Due: eslint

Bug 1964108 - Swap out worker types for update testing linux r=jmaher
  taskcluster/kinds/update/kind.yml
Due: yaml

Bug 1941189 - Make vertical pinned tabs container adjustable r=desktop-theme-reviewers,tabbrowser-reviewers,sidebar-reviewers,jsudiaman,nsharpley,sfoster
  browser/base/content/navigator-toolbox.inc.xhtml
  browser/components/sidebar/SidebarState.sys.mjs
  browser/components/sidebar/browser-sidebar.js
  browser/components/sidebar/tests/browser/browser_resize_sidebar.js
  browser/components/sidebar/tests/browser/browser_sidebar_expand_on_hover.js
  browser/themes/shared/tabbrowser/tabs.css
Due: eslint, stylelint, file-whitespace

Bug 1964125 - osclientcerts: ensure os-backed resources are dropped before background threads go away r=jschanck
  Cargo.lock
  security/manager/ssl/osclientcerts/Cargo.toml
  security/manager/ssl/osclientcerts/src/lib.rs
Due: rustfmt, file-whitespace, trojan-source

Bug 1962766 - Label multiselect inputs with both label and description when present r=omc-reviewers,hanna_a
  browser/components/aboutwelcome/content-src/components/MultiSelect.jsx
  browser/components/aboutwelcome/content/aboutwelcome.bundle.js
Due: eslint

Bug 1964116 - Update infobar schema to reflect that 'text' can be an array r=jprickett,omc-reviewers
  browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  browser/components/asrouter/content-src/templates/CFR/templates/InfoBar.schema.json
  browser/components/asrouter/modules/PanelTestProvider.sys.mjs
  browser/components/asrouter/tests/xpcshell/test_PanelTestProvider.js
Due: eslint

Bug 1953622 - Suppress -Wdangling-pointer warning when storing a Rooted address r=spidermonkey-reviewers,jonco
  js/public/RootingAPI.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1961722. Make SetZeroMarginDisplayPortOnAsyncScrollableAncestors follow the parent chain like all other related code. r=botond
  layout/base/DisplayPortUtils.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1944648 - Add Usage Profile Group ID to usage-reporting code. r=TravisLong,chutten,data-stewards
  toolkit/components/telemetry/app/ClientID.sys.mjs
  toolkit/components/telemetry/app/TelemetryControllerParent.sys.mjs
  toolkit/components/telemetry/app/UsageReporting.sys.mjs
  toolkit/components/telemetry/metrics.yaml
  toolkit/components/telemetry/tests/marionette/tests/client/test_fog_usage_reporting.py
  toolkit/components/telemetry/tests/unit/test_client_id.js
Due: eslint, py-black, py-ruff, yaml, file-whitespace, trojan-source

Bug 1961629 - Remove ExperimentAPI.get{Experiment,Rollout}MetaData r=nimbus-reviewers,relud,chumphreys
  toolkit/components/nimbus/ExperimentAPI.sys.mjs
  toolkit/components/nimbus/test/browser/browser_experimentapi_child.js
  toolkit/components/nimbus/test/browser/browser_nimbus_telemetry.js
  toolkit/components/nimbus/test/browser/browser_remotesettings_experiment_enroll.js
  toolkit/components/nimbus/test/unit/test_ExperimentAPI.js
  toolkit/components/nimbus/test/unit/test_Migrations.js
Due: eslint

Bug 1946032 - fix vertical tab groups label animation when sidebar is collapsing r=dao,desktop-theme-reviewers,tabbrowser-reviewers
  browser/themes/shared/tabbrowser/tabs.css
Due: stylelint, file-whitespace

Bug 1963789 - Part 1: Add more tests for buffer reallocation r=sfink
  js/src/jsapi-tests/testGCAllocator.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1963789 - Part 2: Indicate to main thread when buffer allocator minor sweeping has finished r=sfink
  js/src/gc/BufferAllocator.cpp
  js/src/gc/BufferAllocator.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Revert "Bug 1956371 - Refactor styling for profile edit and selection screen r=profiles-reviewers,cmkm,niklas" for causing failures at browser_test_profile_selector.js.
  browser/components/profiles/content/assets/plus.svg
  browser/components/profiles/content/edit-profile-card.css
  browser/components/profiles/content/profile-card.css
  browser/components/profiles/content/profile-card.mjs
  browser/components/profiles/content/profile-selector.css
  browser/components/profiles/content/profile-selector.mjs
  browser/components/profiles/content/profiles-pages.css
Due: eslint, stylelint, file-whitespace

Revert "Bug 1956042 - Support multiple instances of SingleSelect on the same aboutwelcome screen r=omc-reviewers,jprickett,mviar" for causing failures at browser_aboutwelcome_multiselect.js.
  browser/components/aboutwelcome/content-src/components/ContentTiles.jsx
  browser/components/aboutwelcome/content-src/components/MultiStageAboutWelcome.jsx
  browser/components/aboutwelcome/content-src/components/MultiStageProtonScreen.jsx
  browser/components/aboutwelcome/content-src/components/SingleSelect.jsx
  browser/components/aboutwelcome/content/aboutwelcome.bundle.js
  browser/components/aboutwelcome/tests/unit/ContentTiles.test.jsx
  browser/components/aboutwelcome/tests/unit/MultiStageAboutWelcome.test.jsx
Due: eslint

Revert "Bug 1961629 - Remove ExperimentAPI.get{Experiment,Rollout}MetaData r=nimbus-reviewers,relud,chumphreys"for causing failures at test_PlacesFeed.js.
  toolkit/components/nimbus/ExperimentAPI.sys.mjs
  toolkit/components/nimbus/test/browser/browser_experimentapi_child.js
  toolkit/components/nimbus/test/browser/browser_nimbus_telemetry.js
  toolkit/components/nimbus/test/browser/browser_remotesettings_experiment_enroll.js
  toolkit/components/nimbus/test/unit/test_ExperimentAPI.js
  toolkit/components/nimbus/test/unit/test_Migrations.js
Due: eslint

Revert "Bug 1951374 - damp browser-toolbox.styleeditor-ready.DAMP (Windows) regression on Tue February 18 2025 a=RyanVM" for causing bc perma failures in browser_tab_groups_keyboard_focus.js
  browser/components/tabbrowser/content/tabgroup-menu.js
Due: eslint

Bug 1964060: fallback to github when tags can't be found on hg.m.o in update verify config creator a=RyanVM
  testing/mozharness/scripts/release/update-verify-config-creator.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1956042 - Support multiple instances of SingleSelect on the same aboutwelcome screen r=omc-reviewers,jprickett,mviar" for causing failures at browser_aboutwelcome_multiselect.js.
  browser/components/aboutwelcome/content-src/components/ContentTiles.jsx
  browser/components/aboutwelcome/content-src/components/MultiStageAboutWelcome.jsx
  browser/components/aboutwelcome/content-src/components/MultiStageProtonScreen.jsx
  browser/components/aboutwelcome/content-src/components/SingleSelect.jsx
  browser/components/aboutwelcome/content/aboutwelcome.bundle.js
  browser/components/aboutwelcome/tests/unit/ContentTiles.test.jsx
  browser/components/aboutwelcome/tests/unit/MultiStageAboutWelcome.test.jsx
Due: eslint

No Bug, mozilla-beta repo-update HSTS HPKP remote-settings tld-suffixes mobile-experiments ct-logs - a=RyanVM
  mobile/android/fenix/app/src/main/res/raw/initial_experiments.json
  netwerk/dns/effective_tld_names.dat
  security/ct/CTKnownLogs.h
  security/manager/ssl/StaticHPKPins.h
  security/manager/ssl/nsSTSPreloadList.inc
  security/manager/tools/log_list.json
  services/settings/dumps/blocklists/addons-bloomfilters.json
  services/settings/dumps/main/devtools-compatibility-browsers.json
  services/settings/dumps/main/search-config-v2.json
  services/settings/dumps/main/translations-models.json
  services/settings/dumps/security-state/intermediates.json
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Revert "Bug 1962766 - Label multiselect inputs with both label and description when present r=omc-reviewers,hanna_a" for causing failures at browser_aboutwelcome_multiselect.js.
  browser/components/aboutwelcome/content-src/components/MultiSelect.jsx
  browser/components/aboutwelcome/content/aboutwelcome.bundle.js
Due: eslint

Bug 1964033 - Update the ServiceWorkerShutdown progress setup assertion. r=dom-worker-reviewers,asuth
  dom/serviceworkers/ServiceWorkerShutdownState.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1961340 - Enable QUIC ECN reporting r=kershaw,necko-reviewers,valentin
  modules/libpref/init/StaticPrefList.yaml
  netwerk/socket/neqo_glue/src/lib.rs
Due: yaml, rustfmt, file-whitespace, trojan-source

Bug 1958839: Remove implementation of SVG <discard> element. r=firefox-svg-reviewers,layout-reviewers,webidl,saschanaz,longsonr,emilio
  dom/base/nsTreeSanitizer.cpp
  dom/smil/SMILAnimationController.cpp
  dom/smil/SMILAnimationController.h
  dom/smil/SMILDiscardAnimationFunction.h
  dom/smil/SMILTimedElement.cpp
  dom/smil/SMILTimedElement.h
  dom/smil/moz.build
  dom/svg/SVGAnimationElement.cpp
  dom/svg/SVGAnimationElement.h
  dom/svg/SVGDiscardElement.cpp
  dom/svg/SVGDiscardElement.h
  dom/svg/SVGTagList.h
  dom/svg/crashtests/1953645.html
  dom/svg/crashtests/crashtests.list
  dom/svg/crashtests/discard-no-target.svg
  dom/svg/moz.build
  dom/tests/mochitest/general/test_interfaces.js
  dom/webidl/SVGDiscardElement.webidl
  dom/webidl/moz.build
  modules/libpref/init/StaticPrefList.yaml
  parser/html/javasrc/ElementName.java
  parser/html/nsHtml5ElementName.cpp
  parser/html/nsHtml5ElementName.h
  testing/web-platform/meta/svg/animations/__dir__.ini
  testing/web-platform/meta/svg/animations/historical.html.ini
  testing/web-platform/meta/svg/idlharness.window.js.ini
  testing/web-platform/meta/svg/styling/presentation-attributes-special-cases.html.ini
  testing/web-platform/tests/svg/animations/discard-check-removal-order.html
  testing/web-platform/tests/svg/animations/reftests/reference/green-100x100.svg
  testing/web-platform/tests/svg/idlharness.window.js
  tools/lint/eslint/eslint-plugin-mozilla/lib/environments/privileged.js
  xpcom/ds/StaticAtoms.py
Due: eslint, py-black, py-ruff, yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Bug 1845184 - Add a crashtest. r=gfx-reviewers,nical
  testing/web-platform/tests/css/filter-effects/backdrop-filter-transform-popover-crash.html
Due: eslint, file-whitespace

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, **/*.java, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml
  combine-en-US-translations: any of: **/*.ftl, **/*.properties, **/*.dtd, **/*strings.xml, **/update-translations.yml, **/l10n/combine/combine.py, **/l10n/combine-translation-versions.py
  push-en-US-translations: any of: **/*.ftl, **/*.properties, **/*.dtd, **/*strings.xml, **/update-translations.yml, **/l10n/combine/combine.py, **/l10n/combine-translation-versions.py
