Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source, combine-en-US-translations, push-en-US-translations

eslint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

stylelint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

py-black:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

py-ruff:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

yaml:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

shellcheck:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

clang-format:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

rustfmt:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

fluent-lint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

localization:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

Backed out 2 changesets (bug 1947801) for causing build bustages @WebExecutorSupport.cpp. CLOSED TREE
  mobile/android/app/geckoview-prefs.js
  mobile/android/geckoview/api.txt
  mobile/android/geckoview/src/androidTest/java/org/mozilla/geckoview/test/WebExecutorOhttpTest.kt
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/GeckoWebExecutor.java
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/WebRequest.java
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/doc-files/CHANGELOG.md
  toolkit/components/resistfingerprinting/tests/moz.build
  toolkit/components/resistfingerprinting/tests/xpcshell/test_ohttp_client.js
  toolkit/components/resistfingerprinting/tests/xpcshell/xpcshell.toml
  widget/android/OhttpHelper.cpp
  widget/android/OhttpHelper.h
  widget/android/WebExecutorSupport.cpp
  widget/android/WebExecutorSupport.h
  widget/android/jni/GeckoResultUtils.h
  widget/android/moz.build
  widget/android/tests/OhttpClientTest.cpp
  widget/android/tests/OhttpClientTest.h
  widget/android/tests/components.conf
  widget/android/tests/moz.build
  widget/android/tests/nsIOhttpClientTest.idl
Due: eslint, py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1929369 - Add min width to CPM sidebar. r=mtigley,desktop-theme-reviewers,sidebar-reviewers,jsudiaman,sfoster
  browser/themes/shared/sidebar.css
Due: stylelint, file-whitespace

Bug 1875321 - Fix intermittent browser/components/firefoxview/tests/browser/browser_syncedtabs_firefoxview.js r=fxview-reviewers,kcochrane
  browser/components/firefoxview/tests/browser/browser.toml
  browser/components/firefoxview/tests/browser/browser_syncedtabs_firefoxview.js
Due: eslint

Bug 1956384 - Set rustSelector.featureGate flag to true on Nightly and early Beta. r=Standard8
  browser/components/urlbar/tests/unit/test_UrlbarSearchUtils.js
  modules/libpref/init/all.js
Due: eslint

Bug 1954490 - Improve contrast between active tab and tabstrip. r=desktop-theme-reviewers,reusable-components-reviewers,emilio,mstriemer
  browser/themes/BuiltInThemeConfig.sys.mjs
  browser/themes/addons/light/manifest.json
  browser/themes/shared/browser-colors.css
  toolkit/themes/shared/design-system/design-tokens.json
  toolkit/themes/shared/design-system/tokens-shared.css
  toolkit/themes/shared/design-system/tokens-storybook.mjs
Due: eslint, stylelint, file-whitespace

No bug - Tagging b8d898dd79394647a98f4f2fb4df8cd8fb1a1c87 with FIREFOX_138_0b1_BUILD1 a=release CLOSED TREE DONTBUILD
  .hgtags
Due: none

No bug - Tagging b8d898dd79394647a98f4f2fb4df8cd8fb1a1c87 with DEVEDITION_138_0b1_BUILD1 a=release CLOSED TREE DONTBUILD
  .hgtags
Due: none

Bug 1955169 - Record OPT_IN for Firefox Labs enrollment r=nimbus-reviewers,chumphreys
  toolkit/components/nimbus/lib/Telemetry.sys.mjs
  toolkit/components/nimbus/test/unit/test_FirefoxLabs.js
Due: eslint

Bug 1955169 - Record NOT_ENROLLED status telemetry r=nimbus-reviewers,chumphreys
  toolkit/components/nimbus/lib/ExperimentManager.sys.mjs
  toolkit/components/nimbus/lib/RemoteSettingsExperimentLoader.sys.mjs
  toolkit/components/nimbus/lib/Telemetry.sys.mjs
  toolkit/components/nimbus/metrics.yaml
  toolkit/components/nimbus/test/unit/test_ExperimentManager_enroll.js
  toolkit/components/nimbus/test/unit/test_RemoteSettingsExperimentLoader_updateRecipes.js
Due: eslint, yaml

Bug 1955169 - Simplify recording of enrollment status telemetry r=omc-reviewers,nimbus-reviewers,aminomancer,chumphreys,application-update-reviewers,nalexander
  browser/components/asrouter/tests/browser/browser_asrouter_experimentsAPILoader.js
  toolkit/components/backgroundtasks/tests/xpcshell/test_backgroundtask_experiments.js
  toolkit/components/messaging-system/schemas/SpecialMessageActionSchemas/test/browser/browser_sma_submit_onboarding_opt_out_ping.js
  toolkit/components/nimbus/ExperimentAPI.sys.mjs
  toolkit/components/nimbus/FirefoxLabs.sys.mjs
  toolkit/components/nimbus/lib/ExperimentManager.sys.mjs
  toolkit/components/nimbus/lib/PrefFlipsFeature.sys.mjs
  toolkit/components/nimbus/lib/Telemetry.sys.mjs
  toolkit/components/nimbus/test/NimbusTestUtils.sys.mjs
  toolkit/components/nimbus/test/browser/browser_nimbus_telemetry.js
  toolkit/components/nimbus/test/browser/browser_remotesettings_experiment_enroll.js
  toolkit/components/nimbus/test/unit/test_ExperimentAPI_NimbusFeatures.js
  toolkit/components/nimbus/test/unit/test_ExperimentManager_enroll.js
  toolkit/components/nimbus/test/unit/test_ExperimentManager_lifecycle.js
  toolkit/components/nimbus/test/unit/test_ExperimentManager_unenroll.js
  toolkit/components/nimbus/test/unit/test_RemoteSettingsExperimentLoader.js
  toolkit/components/nimbus/test/unit/test_RemoteSettingsExperimentLoader_updateRecipes.js
  toolkit/components/nimbus/test/unit/test_prefFlips.js
  toolkit/components/normandy/content/AboutPages.sys.mjs
  toolkit/components/normandy/content/ShieldFrameParent.sys.mjs
  toolkit/components/normandy/content/about-studies/about-studies.js
  toolkit/mozapps/update/tests/unit_background_update/test_backgroundupdate_glean.js
Due: eslint

Bug 1955169 - Record OPT_OUT for Firefox Labs and about:studies opt-outs r=nimbus-reviewers,chumphreys
  toolkit/components/nimbus/lib/Telemetry.sys.mjs
  toolkit/components/nimbus/test/unit/test_ExperimentManager_unenroll.js
  toolkit/components/nimbus/test/unit/test_FirefoxLabs.js
Due: eslint

Bug 1955169 - Record EnrollmentStatus telemetry for all remaining unenrollment reasons r=nimbus-reviewers,chumphreys
  toolkit/components/nimbus/lib/Telemetry.sys.mjs
  toolkit/components/nimbus/test/unit/test_ExperimentManager_enroll.js
  toolkit/components/nimbus/test/unit/test_ExperimentManager_prefs.js
  toolkit/components/nimbus/test/unit/test_prefFlips.js
Due: eslint

No bug - Tagging b8d898dd79394647a98f4f2fb4df8cd8fb1a1c87 with FIREFOX-ANDROID_138_0b1_BUILD1 a=release CLOSED TREE DONTBUILD
  .hgtags
Due: none

Bug 1957339 - Start the nightly 139 development cycle. r=android-reviewers,android-l10n-reviewers,flod,Roger,gl
  mobile/android/android-components/components/feature/search/src/main/assets/search/search_telemetry_v2.json
  mobile/android/android-components/docs/changelog.md
  mobile/android/fenix/app/onboarding.fml.yaml
  mobile/android/fenix/app/src/main/res/values/strings.xml
Due: eslint, yaml, file-whitespace, combine-en-US-translations, push-en-US-translations

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  browser/locales/l10n-changesets.json
Due: eslint

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  mobile/locales/l10n-changesets.json
Due: eslint

Bug 1955225 - Remove mFirstFocusEvent from nsFocusManager r=smaug
  dom/base/nsFocusManager.cpp
  dom/base/nsFocusManager.h
  testing/web-platform/tests/focus/focus-double-sync-calls.tentative.html
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1957393 - Fix inaccuracy of Expand on hover checkbox state in the customize panel r=sidebar-reviewers,nsharpley
  browser/components/sidebar/browser-sidebar.js
  browser/components/sidebar/tests/browser/browser_sidebar_expand_on_hover.js
Due: eslint

Bug 1957393 - Fix inaccuracy of Expand on hover checkbox state in the customize panel r=sidebar-reviewers,nsharpley, a=dsmith
  browser/components/sidebar/browser-sidebar.js
  browser/components/sidebar/tests/browser/browser_sidebar_expand_on_hover.js
Due: eslint

Bug 1954685 - Unship onafterscriptexecute and onbeforescriptexecute events on Nightly; r=dom-core,webidl,saschanaz,devtools-reviewers,ochameau,hsivonen,jandem
  devtools/shared/commands/script/tests/browser_script_command_execute_basic.js
  dom/base/nsContentUtils.cpp
  dom/base/nsContentUtils.h
  dom/base/test/test_bug587931.html
  dom/script/ScriptLoader.cpp
  dom/webidl/Document.webidl
  js/src/tests/browser.js
  modules/libpref/init/StaticPrefList.yaml
  testing/web-platform/meta/html/semantics/scripting-1/the-script-element/historical.html.ini
  widget/EventForwards.h
Due: eslint, yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Bug 1954493 - Make DPR use the correct zoom in RFP. r=fkilic
  layout/style/nsMediaFeatures.cpp
  toolkit/components/resistfingerprinting/nsRFPService.cpp
  toolkit/components/resistfingerprinting/tests/browser/browser.toml
  toolkit/components/resistfingerprinting/tests/browser/browser_dpr_media_queries.js
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1381580 - Fix language fallback mechanism for i18n.getMessage and manifest localization r=robwu
  toolkit/components/extensions/Extension.sys.mjs
  toolkit/components/extensions/ExtensionCommon.sys.mjs
  toolkit/components/extensions/test/xpcshell/test_ext_i18n.js
Due: eslint

Bug 1920115 - Add the setup for WebTaskSchedulingState r=jjaschke,dom-core,arai
  dom/base/nsGlobalWindowInner.cpp
  dom/base/nsGlobalWindowInner.h
  dom/base/nsIGlobalObject.h
  dom/script/ScriptSettings.cpp
  dom/script/ScriptSettings.h
  dom/webscheduling/WebTaskScheduler.cpp
  dom/webscheduling/WebTaskScheduler.h
  dom/workers/WorkerScope.cpp
  dom/workers/WorkerScope.h
  xpcom/base/CycleCollectedJSContext.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1920115 - Update the ini files for scheduler.yield accordingly r=jjaschke,dom-core
  testing/web-platform/meta/scheduler/tentative/yield/yield-abort.any.js.ini
  testing/web-platform/meta/scheduler/tentative/yield/yield-inherit-across-promises.any.js.ini
  testing/web-platform/meta/scheduler/tentative/yield/yield-priority-idle-callbacks.html.ini
  testing/web-platform/meta/scheduler/tentative/yield/yield-priority-posttask.any.js.ini
  testing/web-platform/meta/scheduler/tentative/yield/yield-priority-timers.any.js.ini
  testing/web-platform/meta/scheduler/tentative/yield/yield-then-detach.html.ini
Due: test-manifest

Bug 1920115 - Implement scheduler.yield r=jjaschke,dom-core,webidl,smaug
  dom/base/IdleRequest.cpp
  dom/webidl/WebTaskScheduling.webidl
  dom/webscheduling/WebTaskScheduler.cpp
  dom/webscheduling/WebTaskScheduler.h
  dom/webscheduling/WebTaskSchedulerMainThread.cpp
  dom/webscheduling/WebTaskSchedulerMainThread.h
  dom/webscheduling/WebTaskSchedulerWorker.cpp
  dom/webscheduling/WebTaskSchedulerWorker.h
  dom/workers/WorkerPrivate.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1920115 - Refactor TaskSignal to avoid a circular header dependency in the following patches r=jjaschke,dom-core
  dom/webscheduling/TaskSignal.cpp
  dom/webscheduling/TaskSignal.h
  dom/webscheduling/moz.build
Due: py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1920115 - Fix a bug where AbortController doesn't abort scheduler.yield r=smaug
  dom/webscheduling/WebTaskScheduler.cpp
  dom/webscheduling/WebTaskScheduler.h
  testing/web-platform/tests/scheduler/tentative/yield/yield-abort.any.js
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1920115 - Allow higher priority web scheduler scheduled tasks to run before timers for workers r=smaug
  dom/base/TimeoutManager.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1920115 - Allow high priority tasks to run before timers r=smaug
  dom/base/TimeoutManager.cpp
  dom/base/nsGlobalWindowInner.cpp
  dom/base/nsGlobalWindowInner.h
  dom/base/nsIGlobalObject.h
  dom/webscheduling/WebTaskScheduler.cpp
  dom/webscheduling/WebTaskScheduler.h
  dom/webscheduling/WebTaskSchedulerMainThread.cpp
  dom/webscheduling/WebTaskSchedulerMainThread.h
  dom/webscheduling/WebTaskSchedulerWorker.cpp
  dom/webscheduling/WebTaskSchedulerWorker.h
  dom/workers/WorkerScope.cpp
  dom/workers/WorkerScope.h
  testing/web-platform/meta/scheduler/tentative/yield/yield-priority-timers.any.js.ini
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Bug 1920115 - Allow selecting tasks from all existing web schedulers for main thread r=jjaschke,smaug
  dom/webscheduling/WebTaskScheduler.cpp
  dom/webscheduling/WebTaskScheduler.h
  dom/webscheduling/WebTaskSchedulerMainThread.cpp
  dom/webscheduling/WebTaskSchedulerWorker.cpp
  testing/web-platform/tests/scheduler/post-task-multiple-scheduler-order.window.js
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Backed out 5 changesets (bug 1955169) for causing xpcshell failures on test_RemoteSettingsExperimentLoader_updateRecipes. CLOSED TREE
  browser/components/asrouter/tests/browser/browser_asrouter_experimentsAPILoader.js
  toolkit/components/backgroundtasks/tests/xpcshell/test_backgroundtask_experiments.js
  toolkit/components/messaging-system/schemas/SpecialMessageActionSchemas/test/browser/browser_sma_submit_onboarding_opt_out_ping.js
  toolkit/components/nimbus/ExperimentAPI.sys.mjs
  toolkit/components/nimbus/FirefoxLabs.sys.mjs
  toolkit/components/nimbus/lib/ExperimentManager.sys.mjs
  toolkit/components/nimbus/lib/PrefFlipsFeature.sys.mjs
  toolkit/components/nimbus/lib/RemoteSettingsExperimentLoader.sys.mjs
  toolkit/components/nimbus/lib/Telemetry.sys.mjs
  toolkit/components/nimbus/metrics.yaml
  toolkit/components/nimbus/test/NimbusTestUtils.sys.mjs
  toolkit/components/nimbus/test/browser/browser_nimbus_telemetry.js
  toolkit/components/nimbus/test/browser/browser_remotesettings_experiment_enroll.js
  toolkit/components/nimbus/test/unit/test_ExperimentAPI_NimbusFeatures.js
  toolkit/components/nimbus/test/unit/test_ExperimentManager_enroll.js
  toolkit/components/nimbus/test/unit/test_ExperimentManager_lifecycle.js
  toolkit/components/nimbus/test/unit/test_ExperimentManager_prefs.js
  toolkit/components/nimbus/test/unit/test_ExperimentManager_unenroll.js
  toolkit/components/nimbus/test/unit/test_FirefoxLabs.js
  toolkit/components/nimbus/test/unit/test_RemoteSettingsExperimentLoader.js
  toolkit/components/nimbus/test/unit/test_RemoteSettingsExperimentLoader_updateRecipes.js
  toolkit/components/nimbus/test/unit/test_prefFlips.js
  toolkit/components/normandy/content/AboutPages.sys.mjs
  toolkit/components/normandy/content/ShieldFrameParent.sys.mjs
  toolkit/components/normandy/content/about-studies/about-studies.js
  toolkit/mozapps/update/tests/unit_background_update/test_backgroundupdate_glean.js
Due: eslint, yaml

Bug 1956153 - Create actors directly on the main thread r=asuth
  dom/notification/NotificationParent.cpp
  dom/notification/NotificationParent.h
  ipc/glue/BackgroundParentImpl.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

No bug - Tagging b8d898dd79394647a98f4f2fb4df8cd8fb1a1c87 with FIREFOX-ANDROID_138_0b1_RELEASE a=release CLOSED TREE DONTBUILD
  .hgtags
Due: none

Automatic version bump CLOSED TREE NO BUG a=release DONTBUILD
  browser/config/version_display.txt
  mobile/android/version.txt
Due: none

Bug 1957012 - Enable PerformanceEventTiming.interactionId on nightly r=sefeng
  modules/libpref/init/StaticPrefList.yaml
Due: yaml

Bug 1956655: Don't use 32-bit moves in MacroAssemblerX64::storeValue r=jandem
  js/src/jit/x64/MacroAssembler-x64.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1957489 - GetStartingStyle for inspector should call EnsureSafeToHandOutCSSRules. r=dshin
  layout/inspector/InspectorUtils.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1954759 – Move updateWallpaper() out of render. r=home-newtab-reviewers,nbarrett
  browser/extensions/newtab/content-src/components/Base/Base.jsx
  browser/extensions/newtab/data/content/activity-stream.bundle.js
Due: eslint

Backed out changeset 030075958225 (bug 1954490) for causing bc failures @browser_startup_flicker.js. CLOSED TREE
  browser/themes/BuiltInThemeConfig.sys.mjs
  browser/themes/addons/light/manifest.json
  browser/themes/shared/browser-colors.css
  toolkit/themes/shared/design-system/design-tokens.json
  toolkit/themes/shared/design-system/tokens-shared.css
  toolkit/themes/shared/design-system/tokens-storybook.mjs
Due: eslint, stylelint, file-whitespace

Bug 1953664 - Always use a new process for child process in browser_experimentapi_child.js r=jstutte,nimbus-reviewers,chumphreys
  toolkit/components/nimbus/test/browser/browser_experimentapi_child.js
Due: eslint

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, **/*.java, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml
  combine-en-US-translations: any of: **/*.ftl, **/*.properties, **/*.dtd, **/*strings.xml, **/update-translations.yml, **/l10n/combine/combine.py, **/l10n/combine-translation-versions.py
  push-en-US-translations: any of: **/*.ftl, **/*.properties, **/*.dtd, **/*strings.xml, **/update-translations.yml, **/l10n/combine/combine.py, **/l10n/combine-translation-versions.py
