Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source, combine-en-US-translations, push-en-US-translations

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, **/*.java, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml
  combine-en-US-translations: any of: **/*.ftl, **/*.properties, **/*.dtd, **/*strings.xml, **/update-translations.yml, **/l10n/combine/combine.py, **/l10n/combine-translation-versions.py
  push-en-US-translations: any of: **/*.ftl, **/*.properties, **/*.dtd, **/*strings.xml, **/update-translations.yml, **/l10n/combine/combine.py, **/l10n/combine-translation-versions.py

Bug 1752638 - Part 0: inline ForkServiceChild::OnMessageReceived. r=ipc-reviewers,nika
  ipc/glue/ForkServiceChild.cpp
  ipc/glue/ForkServiceChild.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1752638 - Part 1: add thread safety to the fork server client. r=ipc-reviewers,nika
  ipc/glue/ForkServiceChild.cpp
  ipc/glue/ForkServiceChild.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1752638 - Part 2: remote `waitpid`/`SIGCHLD` to/from the fork server. r=ipc-reviewers,nika
  ipc/chromium/src/base/process_util_posix.cc
  ipc/chromium/src/chrome/common/process_watcher.h
  ipc/chromium/src/chrome/common/process_watcher_dummy.cc
  ipc/chromium/src/chrome/common/process_watcher_posix_sigchld.cc
  ipc/glue/ForkServer.cpp
  ipc/glue/ForkServer.h
  ipc/glue/ForkServiceChild.cpp
  ipc/glue/ForkServiceChild.h
  ipc/glue/GeckoChildProcessHost.cpp
  toolkit/xre/GeckoArgs.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1752638 - Part 3: delay fork server shutdown until browser shutdown. r=ipc-reviewers,nika
  ipc/chromium/src/chrome/common/process_watcher.h
  ipc/chromium/src/chrome/common/process_watcher_posix_sigchld.cc
  ipc/glue/ForkServiceChild.cpp
  ipc/glue/ForkServiceChild.h
  ipc/glue/GeckoChildProcessHost.cpp
  ipc/glue/IOThread.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1928254 - pt 1. Label arenas for the profiler r=glandium
  dom/base/DOMArena.h
  dom/base/DocGroup.cpp
  js/src/util/Utility.cpp
  memory/build/mozjemalloc.cpp
  memory/build/mozjemalloc_types.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1928254 - pt 2. Add profiler callbacks for mozjemalloc r=glandium
  memory/build/moz.build
  memory/build/mozjemalloc.cpp
  memory/build/mozjemalloc_profiling.h
  memory/replace/logalloc/replay/moz.build
  mozglue/misc/moz.build
  mozglue/misc/timestamp.mozbuild
Due: py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1928254 - pt 3. Time the purge operation in mozjemalloc r=glandium
  memory/build/mozjemalloc.cpp
  memory/build/mozjemalloc_profiling.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1928254 - pt 4. Add profiler markers for mozjemalloc's Purge() r=florian,profiler-reviewers
  tools/profiler/core/memory_markers.cpp
  tools/profiler/core/memory_markers.h
  tools/profiler/core/platform.cpp
  tools/profiler/moz.build
Due: py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1928254 - pt 5. Rename purge_result_t to avoid confusion with PurgeResult r=jstutte
  memory/build/malloc_decls.h
  memory/build/mozjemalloc.cpp
  memory/build/mozjemalloc.h
  memory/build/mozjemalloc_types.h
  xpcom/threads/TaskController.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1928254 - pt 6. Move PurgeResult to mozjemalloc_types.h r=jstutte
  memory/build/mozjemalloc.cpp
  memory/build/mozjemalloc_types.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1928254 - pt 7. Add more details to the Purge marker r=jstutte,profiler-reviewers,canaltinova
  memory/build/mozjemalloc.cpp
  memory/build/mozjemalloc_profiling.h
  tools/profiler/core/memory_markers.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1928254 - pt 8. Improve the idle purge markers r=jstutte
  xpcom/threads/TaskController.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1965992 Support do_QueryObject to TaskQueue r=xpcom-reviewers,emilio
  xpcom/threads/TaskQueue.cpp
  xpcom/threads/TaskQueue.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Revert "Bug 1928254 - pt 8. Improve the idle purge markers r=jstutte"
  dom/base/DOMArena.h
  dom/base/DocGroup.cpp
  js/src/util/Utility.cpp
  memory/build/malloc_decls.h
  memory/build/moz.build
  memory/build/mozjemalloc.cpp
  memory/build/mozjemalloc.h
  memory/build/mozjemalloc_profiling.h
  memory/build/mozjemalloc_types.h
  memory/replace/logalloc/replay/moz.build
  mozglue/misc/moz.build
  mozglue/misc/timestamp.mozbuild
  tools/profiler/core/memory_markers.cpp
  tools/profiler/core/memory_markers.h
  tools/profiler/core/platform.cpp
  tools/profiler/moz.build
  xpcom/threads/TaskController.cpp
Due: py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Revert "Bug 1966150 - Part 2: Only enable content recommendations feature if the locale is supported r=android-reviewers,devota" for causing Fenix failures.
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/FeatureFlags.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/pocket/ContentRecommendationsFeatureHelper.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/HomeSettingsFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/home/pocket/ContentRecommendationsFeatureHelperTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/settings/HomeSettingsFragmentTest.kt
Due: none

Bug 1965992 add WaitForResolve() and WaitForReject() r=pehrsons
  testing/gtest/mozilla/WaitFor.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1965992 Allow SamplesHolder::AppendSample() with non-mutable-RefPtr samples r=alwu
  dom/media/ADTSDemuxer.cpp
  dom/media/MediaDataDemuxer.h
  dom/media/flac/FlacDemuxer.cpp
  dom/media/hls/HLSDemuxer.cpp
  dom/media/mediasource/MediaSourceDemuxer.cpp
  dom/media/mp3/MP3Demuxer.cpp
  dom/media/mp4/MP4Demuxer.cpp
  dom/media/ogg/OggDemuxer.cpp
  dom/media/wave/WaveDemuxer.cpp
  dom/media/webm/WebMDemuxer.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1960319 - [remote] Use shared data to sync the WebDriver active status with content processes. r=webdriver-reviewers,jdescottes,nika
  remote/components/Marionette.sys.mjs
  remote/components/RemoteAgent.sys.mjs
Due: eslint

Bug 1966380 - Remove Document::IsUnstyledDocument. r=emilio
  dom/base/Document.h
  dom/xul/nsXULElement.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1966545 - Remove unnecessary CSS rule removing update button padding. r=emilio,desktop-theme-reviewers
  browser/base/content/aboutDialog.css
Due: stylelint, file-whitespace

Bug 1965193 - remove GetInferenceProcessInfo calls during inference r=emilio
  toolkit/components/ml/actors/MLEngineChild.sys.mjs
  toolkit/components/ml/actors/MLEngineParent.sys.mjs
  toolkit/components/ml/content/MLEngine.worker.mjs
  toolkit/components/ml/content/backends/ONNXPipeline.mjs
Due: eslint

Revert "Bug 1963168 - Use percentage rather than viewport units to size tab dialog box. r=desktop-theme-reviewers,tabbrowser-reviewers,nsharpley,dao" as requested by Pascal on element.
  browser/themes/shared/tabbrowser/content-area.css
  toolkit/components/printing/tests/browser_modal_resize.js
  toolkit/modules/SubDialog.sys.mjs
Due: eslint, stylelint, file-whitespace

No Bug - Bumping Firefox l10n changesets r=release a=l10n-bump
  browser/locales/l10n-changesets.json
Due: eslint

No Bug - Bumping Mobile l10n changesets r=release a=l10n-bump
  mobile/locales/l10n-changesets.json
Due: eslint

Bug 1962978 - Use non-native listboxes on GTK. r=stransky,geckoview-reviewers,nika
  dom/canvas/test/test_bug232227.html
  servo/components/style/values/specified/color.rs
  widget/android/nsLookAndFeel.cpp
  widget/cocoa/nsLookAndFeel.mm
  widget/gtk/WidgetStyleCache.cpp
  widget/gtk/gtk3drawing.cpp
  widget/gtk/gtkdrawing.h
  widget/gtk/nsLookAndFeel.cpp
  widget/gtk/nsLookAndFeel.h
  widget/gtk/nsNativeThemeGTK.cpp
  widget/nsXPLookAndFeel.cpp
  widget/tests/test_platform_colors.xhtml
  widget/uikit/nsLookAndFeel.mm
  widget/windows/nsLookAndFeel.cpp
Due: eslint, clang-format, rustfmt, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1966459 - Enable close watcher in desktop nightly r=smaug
  dom/tests/mochitest/general/test_interfaces.js
  modules/libpref/init/StaticPrefList.yaml
Due: eslint, yaml

Bug 1965992 Add MockMediaDataDemuxer r=media-playback-reviewers,padenot
  dom/media/gtest/MockMediaDataDemuxer.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1965992 Add MockDecoderModule and MockVideoDataDecoder r=media-playback-reviewers,padenot
  dom/media/gtest/MockDecoderModule.h
  dom/media/platforms/agnostic/DummyMediaDataDecoder.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1941164 Test MediaFormatReader waiting for demux after internal seek r=media-playback-reviewers,padenot
  dom/media/gtest/TestMediaFormatReader.cpp
  dom/media/gtest/moz.build
Due: py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1948662 - Consolidate new toolbar colors and map to AcornTheme tokens r=android-reviewers,007
  mobile/android/android-components/components/compose/browser-toolbar/src/main/java/mozilla/components/compose/browser/toolbar/BrowserDisplayToolbar.kt
  mobile/android/android-components/components/compose/browser-toolbar/src/main/java/mozilla/components/compose/browser/toolbar/BrowserEditToolbar.kt
  mobile/android/android-components/components/compose/browser-toolbar/src/main/java/mozilla/components/compose/browser/toolbar/BrowserToolbar.kt
  mobile/android/android-components/components/compose/browser-toolbar/src/main/java/mozilla/components/compose/browser/toolbar/BrowserToolbarColors.kt
  mobile/android/android-components/components/compose/browser-toolbar/src/main/java/mozilla/components/compose/browser/toolbar/BrowserToolbarDefaults.kt
  mobile/android/android-components/components/compose/browser-toolbar/src/main/java/mozilla/components/compose/browser/toolbar/HomePageDisplayToolbar.kt
  mobile/android/android-components/components/compose/browser-toolbar/src/main/java/mozilla/components/compose/browser/toolbar/ui/InlineAutocompleteTextField.kt
  mobile/android/android-components/samples/compose-browser/src/main/java/org/mozilla/samples/compose/browser/browser/BrowserScreen.kt
  mobile/android/android-components/samples/toolbar/src/main/java/org/mozilla/samples/toolbar/ToolbarActivity.kt
  mobile/android/android-components/samples/toolbar/src/main/java/org/mozilla/samples/toolbar/compose/BrowserToolbar.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/ui/SearchBar.kt
Due: none

Bug 1966427 - Don't use native splitter drawing on GTK. r=desktop-theme-reviewers,dao
  browser/themes/linux/browser.css
  servo/components/style/values/specified/box.rs
  toolkit/themes/shared/splitter.css
  widget/gtk/WidgetStyleCache.cpp
  widget/gtk/gtk3drawing.cpp
  widget/gtk/gtkdrawing.h
  widget/gtk/nsNativeThemeGTK.cpp
Due: stylelint, clang-format, rustfmt, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1956920 - Delay the CRC32 verification on .vlp files to the list update. r=dimi
  modules/libpref/init/StaticPrefList.yaml
  toolkit/components/url-classifier/Classifier.cpp
  toolkit/components/url-classifier/LookupCache.cpp
  toolkit/components/url-classifier/LookupCache.h
Due: yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Revert "Bug 1966427 - Don't use native splitter drawing on GTK. r=desktop-theme-reviewers,dao" for causing build bustages in gtk3drawing.cpp
  browser/themes/linux/browser.css
  dom/canvas/test/test_bug232227.html
  servo/components/style/values/specified/box.rs
  servo/components/style/values/specified/color.rs
  toolkit/themes/shared/splitter.css
  widget/android/nsLookAndFeel.cpp
  widget/cocoa/nsLookAndFeel.mm
  widget/gtk/WidgetStyleCache.cpp
  widget/gtk/gtk3drawing.cpp
  widget/gtk/gtkdrawing.h
  widget/gtk/nsLookAndFeel.cpp
  widget/gtk/nsLookAndFeel.h
  widget/gtk/nsNativeThemeGTK.cpp
  widget/nsXPLookAndFeel.cpp
  widget/tests/test_platform_colors.xhtml
  widget/uikit/nsLookAndFeel.mm
  widget/windows/nsLookAndFeel.cpp
Due: eslint, stylelint, clang-format, rustfmt, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1952697 - Add a timer for native DNS resolutions with DNSServiceQueryRecord on OSX r=necko-reviewers,kershaw
  modules/libpref/init/StaticPrefList.yaml
  netwerk/dns/PlatformDNSMac.cpp
Due: yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1963029 - retry checking for file's existence in a test r=jari
  dom/filesystem/tests/gtest/TestGetFilesHelper.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1827615 - [Wayland] Add missing modifiers to GetModifierState. r=masayuki,stransky
  widget/gtk/nsGtkKeyUtils.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1827615 - [Wayland] Fix Level3 and Level5 mappings. r=masayuki
  widget/gtk/mozwayland/mozwayland.c
  widget/gtk/nsGtkKeyUtils.cpp
  widget/gtk/nsGtkKeyUtils.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source
