Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source, combine-en-US-translations, push-en-US-translations

eslint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

stylelint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

py-black:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

py-ruff:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

yaml:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

shellcheck:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

clang-format:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

rustfmt:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

fluent-lint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

localization:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

Bug 1932150 - ContentSubtreeIterator #1: Make the end container related logic in ContentSubtreeIterator more robust r=jjaschke,smaug,dom-core
  dom/base/ContentIterator.cpp
  dom/base/ContentIterator.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1932150 - ContentSubtreeIterator #2: Allow ContentSubtreeIterator to iterate nodes in flattened tree r=jjaschke
  dom/base/ContentIterator.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1932150 - ContentSubtreeIterator #3: Fix a bug in ContentSubtreeIterator where the end container is in the light DOM of a shadow host r=jjaschke
  dom/base/ContentIterator.cpp
  dom/base/ContentIterator.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1932150 - Make selection code to correctly iterate flattened tree r=smaug
  dom/base/Selection.cpp
  dom/base/Selection.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1932150 - Add new test cases for selection in flat tree r=smaug
  testing/web-platform/mozilla/tests/selection/cross-shadow-boundary-slot-1-ref.html
  testing/web-platform/mozilla/tests/selection/cross-shadow-boundary-slot-10-ref.html
  testing/web-platform/mozilla/tests/selection/cross-shadow-boundary-slot-10.html
  testing/web-platform/mozilla/tests/selection/cross-shadow-boundary-slot-3-ref.html
  testing/web-platform/mozilla/tests/selection/cross-shadow-boundary-slot-4.html
  testing/web-platform/mozilla/tests/selection/cross-shadow-boundary-slot-5-ref.html
  testing/web-platform/mozilla/tests/selection/cross-shadow-boundary-slot-5.html
  testing/web-platform/mozilla/tests/selection/cross-shadow-boundary-slot-6-ref.html
  testing/web-platform/mozilla/tests/selection/cross-shadow-boundary-slot-6.html
  testing/web-platform/mozilla/tests/selection/cross-shadow-boundary-slot-7-ref.html
  testing/web-platform/mozilla/tests/selection/cross-shadow-boundary-slot-7.html
  testing/web-platform/mozilla/tests/selection/cross-shadow-boundary-slot-8-ref.html
  testing/web-platform/mozilla/tests/selection/cross-shadow-boundary-slot-8.html
  testing/web-platform/mozilla/tests/selection/cross-shadow-boundary-slot-9-ref.html
  testing/web-platform/mozilla/tests/selection/cross-shadow-boundary-slot-9.html
  testing/web-platform/mozilla/tests/selection/cross-shadow-boundary-slot-complex-1-ref.html
  testing/web-platform/mozilla/tests/selection/cross-shadow-boundary-slot-complex-1.html
  testing/web-platform/mozilla/tests/selection/cross-shadow-boundary-slot-complex-2-ref.html
  testing/web-platform/mozilla/tests/selection/cross-shadow-boundary-slot-complex-2.html
  testing/web-platform/mozilla/tests/selection/cross-shadow-boundary-slot-complex-3-ref.html
  testing/web-platform/mozilla/tests/selection/cross-shadow-boundary-slot-complex-3.html
  testing/web-platform/mozilla/tests/selection/cross-shadow-boundary-slot-in-nested-shadow-dom-ref.html
  testing/web-platform/mozilla/tests/selection/cross-shadow-boundary-slot-in-nested-shadow-dom.html
  testing/web-platform/mozilla/tests/selection/cross-shadow-boundary-slot-reversed-ref.html
  testing/web-platform/mozilla/tests/selection/cross-shadow-boundary-slot-reversed.html
Due: eslint, file-whitespace

Bug 1963990 - Add supportPage property to moz-support-link r=reusable-components-reviewers,tgiles, a=dmeehan
  toolkit/content/tests/widgets/test_moz_support_link.html
  toolkit/content/widgets/moz-support-link/moz-support-link.mjs
Due: eslint, file-whitespace

Bug 1927630 - Replace usage of `R.color.mozac_ui_icons_fill` in TabGridItem and TabListItem with `FirefoxTheme.colors.iconActionPrimary` r=android-reviewers,007
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/compose/tabstray/TabGridItem.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/compose/tabstray/TabListItem.kt
Due: none

Bug 1964474 - D2D's version is actually a string r=TravisLong
  toolkit/components/telemetry/tests/unit/TelemetryEnvironmentTesting.sys.mjs
  widget/metrics.yaml
Due: eslint, yaml

Bug 1756637 - Add {nsIGlean}Ping::TestSubmission r=chutten,nika
  toolkit/components/glean/bindings/private/Ping.cpp
  toolkit/components/glean/bindings/private/Ping.h
  toolkit/components/glean/tests/gtest/TestFog.cpp
  toolkit/components/glean/tests/xpcshell/test_Glean.js
  toolkit/components/glean/xpcom/nsIGleanPing.idl
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1965222 - Disable downloadLanguageWhileDataSaverModeIsOnTest UI test r=aaronmt
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/TranslationsTest.kt
Due: none

Bug 1964785 - Swap out the S20 for S24 for Robo Tests r=ajoltan
  mobile/android/fenix/automation/taskcluster/androidTest/flank-arm-robo-test.yml
Due: yaml

Bug 1957513 - Add Mochia, a Mocha-like test wrapper r=Standard8,mconley,Gijs,frontend-codestyle-reviewers
  testing/mochitest/browser-test.js
  testing/mochitest/tests/SimpleTest/SimpleTest.js
  testing/modules/Mochia.js
  testing/modules/moz.build
  testing/xpcshell/head.js
  tools/lint/eslint/eslint-plugin-mozilla/lib/configs/browser-test.js
  tools/lint/eslint/eslint-plugin-mozilla/lib/configs/chrome-test.js
  tools/lint/eslint/eslint-plugin-mozilla/lib/configs/xpcshell-test.js
Due: eslint, py-black

Bug 1964863 - Remove aggregate results from EnrollmentsContext r=nimbus-reviewers,relud
  toolkit/components/nimbus/lib/RemoteSettingsExperimentLoader.sys.mjs
Due: eslint

Bug 1964133: Sync after CWTS updates r=markh,settings-reviewers,sync-reviewers,mconley
  browser/components/preferences/sync.js
  browser/components/preferences/tests/browser_sync_chooseWhatToSync.js
  services/sync/modules/service.sys.mjs
Due: eslint

Bug 1956371 - Refactor styling for profile edit and selection screen r=profiles-reviewers,desktop-theme-reviewers,cmkm,niklas,hjones
  browser/components/profiles/content/assets/plus.svg
  browser/components/profiles/content/edit-profile-card.css
  browser/components/profiles/content/profile-card.css
  browser/components/profiles/content/profile-card.mjs
  browser/components/profiles/content/profile-selector.css
  browser/components/profiles/content/profile-selector.mjs
  browser/components/profiles/content/profiles-pages.css
  browser/components/profiles/tests/browser/browser_test_profile_selector.js
Due: eslint, stylelint, file-whitespace

Bug 1964899 - lower MINIMUM_PHYSICAL_MEMORY to 3 - r=tarek
  modules/libpref/init/all.js
Due: eslint

Revert "Bug 1957513 - Add Mochia, a Mocha-like test wrapper r=Standard8,mconley,Gijs,frontend-codestyle-reviewers" for causing xpcshell failures.
  testing/mochitest/browser-test.js
  testing/mochitest/tests/SimpleTest/SimpleTest.js
  testing/modules/Mochia.js
  testing/modules/moz.build
  testing/xpcshell/head.js
  tools/lint/eslint/eslint-plugin-mozilla/lib/configs/browser-test.js
  tools/lint/eslint/eslint-plugin-mozilla/lib/configs/chrome-test.js
  tools/lint/eslint/eslint-plugin-mozilla/lib/configs/xpcshell-test.js
Due: eslint, py-black

Bug 1958839: Remove implementation of SVG <discard> element. a=dmeehan
  dom/base/nsTreeSanitizer.cpp
  dom/smil/SMILAnimationController.cpp
  dom/smil/SMILAnimationController.h
  dom/smil/SMILDiscardAnimationFunction.h
  dom/smil/SMILTimedElement.cpp
  dom/smil/SMILTimedElement.h
  dom/smil/moz.build
  dom/svg/SVGAnimationElement.cpp
  dom/svg/SVGAnimationElement.h
  dom/svg/SVGDiscardElement.cpp
  dom/svg/SVGDiscardElement.h
  dom/svg/SVGTagList.h
  dom/svg/crashtests/1953645.html
  dom/svg/crashtests/crashtests.list
  dom/svg/crashtests/discard-no-target.svg
  dom/svg/moz.build
  dom/tests/mochitest/general/test_interfaces.js
  dom/webidl/SVGDiscardElement.webidl
  dom/webidl/moz.build
  modules/libpref/init/StaticPrefList.yaml
  parser/html/javasrc/ElementName.java
  parser/html/nsHtml5ElementName.cpp
  parser/html/nsHtml5ElementName.h
  testing/web-platform/meta/svg/animations/__dir__.ini
  testing/web-platform/meta/svg/animations/historical.html.ini
  testing/web-platform/meta/svg/idlharness.window.js.ini
  testing/web-platform/meta/svg/styling/presentation-attributes-special-cases.html.ini
  testing/web-platform/tests/svg/animations/discard-check-removal-order.html
  testing/web-platform/tests/svg/animations/reftests/reference/green-100x100.svg
  testing/web-platform/tests/svg/idlharness.window.js
  tools/lint/eslint/eslint-plugin-mozilla/lib/environments/privileged.js
  xpcom/ds/StaticAtoms.py
Due: eslint, py-black, py-ruff, yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Bug 1962162 - Cleanup pending operations during shutdown a=dmeehan DONTBUILD
  toolkit/crashreporter/crash_helper_common/src/ipc_connector/windows.rs
  toolkit/crashreporter/crash_helper_common/src/ipc_listener/windows.rs
  toolkit/crashreporter/crash_helper_common/src/platform/windows.rs
  toolkit/crashreporter/nsExceptionHandler.cpp
Due: clang-format, rustfmt, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1960866 - Disable account icon shim on Bing because of perf regression a=dmeehan DONTBUILD
  browser/extensions/webcompat/data/shims.js
  browser/extensions/webcompat/manifest.json
Due: eslint

Bug 1964180 - Temporarily turn off ToS enrollment for new Linux users a=dmeehan
  browser/app/profile/firefox.js
  toolkit/components/telemetry/tests/unit/test_TelemetryReportingPolicy.js
Due: eslint

Revert "Bug 1963403 - Disable optInPartitioning in Nightly r=anti-tracking-reviewers,bvandersloot" for causing wpt failures at requestStorageAccess-nested-cross-site-iframe.sub.https.window.html
  modules/libpref/init/StaticPrefList.yaml
Due: yaml

Bug 1963713 - add tab group ungroup metric event a=dmeehan DONTBUILD
  browser/components/tabbrowser/TabMetrics.sys.mjs
  browser/components/tabbrowser/content/tabgroup-menu.js
  browser/components/tabbrowser/metrics.yaml
  browser/components/tabbrowser/test/browser/tabs/browser_tab_groups_telemetry.js
  browser/modules/BrowserUsageTelemetry.sys.mjs
Due: eslint, yaml

Bug 1964606 - make cancelling Content Analysis request from the busy dialog work a=dmeehan DONTBUILD
  browser/components/contentanalysis/content/ContentAnalysis.sys.mjs
  toolkit/components/contentanalysis/tests/browser/browser.toml
  toolkit/components/contentanalysis/tests/browser/browser_content_analysis_busy_dialog.js
Due: eslint

Bug 1964555 - Do not report validation failure telemetry for missing features a=dmeehan
  toolkit/components/nimbus/lib/RemoteSettingsExperimentLoader.sys.mjs
  toolkit/components/nimbus/lib/Telemetry.sys.mjs
  toolkit/components/nimbus/metrics.yaml
  toolkit/components/nimbus/test/unit/test_RemoteSettingsExperimentLoader_updateRecipes.js
  toolkit/components/normandy/metrics.yaml
  toolkit/components/telemetry/Events.yaml
Due: eslint, yaml

Bug 1965099 - Update wasm spec tests convertor. r=rhunt
  js/src/jit-test/etc/wasm/generate-spectests/Cargo.lock
  js/src/jit-test/etc/wasm/generate-spectests/config-lock.toml
  js/src/jit-test/etc/wasm/generate-spectests/wast2js/Cargo.toml
  js/src/jit-test/etc/wasm/generate-spectests/wast2js/src/convert.rs
  js/src/jit-test/etc/wasm/spec-tests.patch
  js/src/jit-test/tests/wasm/spec/memory64/memory.wast.js
  js/src/jit-test/tests/wasm/spec/memory64/memory64.wast.js
  js/src/jit-test/tests/wasm/spec/spec/instance.wast.js
Due: eslint, rustfmt, file-whitespace, trojan-source

Bug 1955777 – Remove unused .autocomplete-result-popupset rule from xul.css r=desktop-theme-reviewers,emilio
  toolkit/content/xul.css
Due: stylelint, file-whitespace

Bug 1965228: Mark `PresShell::GetAnchorPosAnchor` as const. r=layout-reviewers,tnikkel
  layout/base/PresShell.cpp
  layout/base/PresShell.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1940933 - Handle Samsung Xclipse GPUs when sanitizing GL_RENDERER strings for webgl. r=jgilbert
  dom/canvas/SanitizeRenderer.cpp
  dom/canvas/gtest/TestSanitizeRenderer.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1962141 - Do not show the toolbar placement card for tablets during onboarding if the tab strip is enabled r=android-reviewers,twhite
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/onboarding/view/OnboardingMapperTest.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/OnboardingFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/view/OnboardingMapper.kt
Due: none

Bug 1965083 - Add private browsing checks to tabGroups events r=zombie
  browser/components/extensions/parent/ext-tabGroups.js
  browser/components/extensions/test/browser/browser.toml
  browser/components/extensions/test/browser/browser_ext_tabGroups_private.js
Due: eslint

Bug 1875041 - Hide Desktop site menu item when content is PDF. r=android-reviewers,calu,ohall
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/DefaultToolbarMenu.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/customtabs/CustomTabToolbarMenu.kt
  mobile/android/focus-android/app/src/main/java/org/mozilla/focus/menu/browser/CustomTabMenu.kt
  mobile/android/focus-android/app/src/main/java/org/mozilla/focus/menu/browser/DefaultBrowserMenu.kt
Due: none

Bug 1963439 - newtab Inferred personalization setup places db tables, indices and migrations for impressions and clicks. r=mak
  toolkit/components/places/Database.cpp
  toolkit/components/places/Database.h
  toolkit/components/places/nsINavHistoryService.idl
  toolkit/components/places/nsPlacesIndexes.h
  toolkit/components/places/nsPlacesTables.h
  toolkit/components/places/tests/migration/places_v79.sqlite
  toolkit/components/places/tests/migration/test_current_from_v78.js
  toolkit/components/places/tests/migration/xpcshell.toml
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1961387 - Simple reftest for Noto Color Emoji in vertical mode. r=gfx-reviewers,lsalzman
  gfx/tests/reftest/1961387-1-ref.html
  gfx/tests/reftest/1961387-1.html
  gfx/tests/reftest/reftest.list
Due: eslint, file-whitespace

Bug 1961387 - Account for scaling of color-bitmap fonts when setting up the font-unit scale factor. r=gfx-reviewers,lsalzman
  gfx/thebes/gfxFT2FontBase.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1961387 - Add a reftest with larger glyphs, for CBDT version of Noto Color Emoji. r=gfx-reviewers,lsalzman
  gfx/tests/reftest/1961387-2-ref.html
  gfx/tests/reftest/1961387-2.html
  gfx/tests/reftest/reftest.list
Due: eslint, file-whitespace

Bug 1955689 - Remove unused methods and variables in DownloadDialogFragment.kt r=android-reviewers,npoon
  mobile/android/android-components/components/feature/downloads/src/main/java/mozilla/components/feature/downloads/DownloadDialogFragment.kt
Due: none

Bug 1964213 - Match tab group names with each tokenized search word instead of the flat search string. a=dmeehan
  browser/components/urlbar/ActionsProviderTabGroups.sys.mjs
  browser/components/urlbar/tests/browser/browser_action_tabgroups.js
Due: eslint

No Bug - Bumping Firefox l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  browser/locales/l10n-changesets.json
Due: eslint

No Bug - Bumping Mobile l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  mobile/locales/l10n-changesets.json
Due: eslint

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, **/*.java, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml
  combine-en-US-translations: any of: **/*.ftl, **/*.properties, **/*.dtd, **/*strings.xml, **/update-translations.yml, **/l10n/combine/combine.py, **/l10n/combine-translation-versions.py
  push-en-US-translations: any of: **/*.ftl, **/*.properties, **/*.dtd, **/*strings.xml, **/update-translations.yml, **/l10n/combine/combine.py, **/l10n/combine-translation-versions.py
