Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source, combine-en-US-translations, push-en-US-translations

eslint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

stylelint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

py-black:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

py-ruff:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

yaml:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

shellcheck:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

clang-format:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

rustfmt:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

fluent-lint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

localization:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  ...

Bug 1956782. Add CSP to layoutdebug.xhtml r=emilio
  dom/security/nsContentSecurityUtils.cpp
  layout/tools/layout-debug/ui/content/layoutdebug.js
  layout/tools/layout-debug/ui/content/layoutdebug.xhtml
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1956804. Add CSP to selectDialog.xhtml r=Gijs
  toolkit/components/prompts/content/selectDialog.xhtml
Due: eslint, file-whitespace

Bug 1956801. Add CSP to win.xhtml r=mossop
  browser/components/shell/HeadlessShell.sys.mjs
  dom/security/nsContentSecurityUtils.cpp
  toolkit/modules/HiddenFrame.sys.mjs
  toolkit/modules/win.xhtml
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1956909 - Prevent expand on hover jumping animation after browser restart r=tabbrowser-reviewers,sidebar-reviewers,jsudiaman,nsharpley, a=dsmith
  browser/components/sidebar/browser-sidebar.js
  browser/components/tabbrowser/content/tabbrowser.js
Due: eslint

Bug 1956909 - Prevent expand on hover jumping animation after browser restart r=tabbrowser-reviewers,sidebar-reviewers,jsudiaman,nsharpley
  browser/components/sidebar/browser-sidebar.js
  browser/components/tabbrowser/content/tabbrowser.js
Due: eslint

Bug 1958004 - Remove unused function.
  widget/gtk/gtk3drawing.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1948639 - Add telemetry for how soon the TRR server closes an idle connection r=necko-reviewers,kershaw
  netwerk/dns/TRRService.cpp
  netwerk/dns/TRRService.h
  netwerk/protocol/http/Http2Session.cpp
  netwerk/protocol/http/Http2Session.h
  netwerk/protocol/http/Http3Session.cpp
  netwerk/protocol/http/Http3Session.h
  netwerk/protocol/http/metrics.yaml
  netwerk/protocol/http/nsHttpConnection.cpp
  netwerk/protocol/http/nsHttpConnection.h
  netwerk/test/unit/head_servers.js
  netwerk/test/unit/test_trr_idle_time.js
  netwerk/test/unit/xpcshell.toml
Due: eslint, yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1953394 - [devtools] Scroll to center new pause location with column being out of the viewport. r=devtools-reviewers,bomsy
  devtools/client/debugger/test/mochitest/browser_aj.toml
  devtools/client/debugger/test/mochitest/browser_dbg-editor-horizontal-scroll.js
  devtools/client/debugger/test/mochitest/browser_dbg-editor-scroll.js
  devtools/client/debugger/test/mochitest/examples/Ahem.ttf
  devtools/client/debugger/test/mochitest/examples/doc-editor-scroll.html
  devtools/client/debugger/test/mochitest/examples/horizontal-scroll.js
  devtools/client/shared/sourceeditor/editor.js
Due: eslint, file-whitespace

Bug 1919281 - Adapting Expressions to match housenumber and apartment field in polish. r=dimi
  toolkit/components/formautofill/shared/HeuristicsRegExp.sys.mjs
Due: eslint

Bug 1958083 - Make it possible to test TRR server with HTTP/3, r=necko-reviewers,jesup
  netwerk/protocol/http/AlternateServices.cpp
  netwerk/protocol/http/TRRServiceChannel.cpp
  netwerk/protocol/http/nsHttpHandler.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1761445 - [remote] TabManager.getBrowsingContextById should not return closed browsing contexts. r=jdescottes,webdriver-reviewers
  remote/shared/TabManager.sys.mjs
  remote/shared/test/browser/browser_TabManager.js
Due: eslint

Bug 1937367 - Add timeout when calling DhcpRequestParams to get proxy settings r=necko-reviewers,sunil
  modules/libpref/init/StaticPrefList.yaml
  netwerk/base/nsPACMan.cpp
  netwerk/base/nsPACMan.h
Due: yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1957771 - fix skip-fails edge cases. r=aryx
  testing/clean_skipfails.py
  testing/failedplatform.py
  testing/mozbase/mozinfo/mozinfo/platforminfo.py
  testing/mozbase/mozinfo/tests/test_platforminfo.py
  testing/skipfails.py
  testing/test/data/wayland-failures-1.json
  testing/test/data/wayland-tasks-1.json
  testing/test/test_skipfails.in
  testing/test/test_skipfails.py
  testing/test/test_skipfails.txt
Due: eslint, py-black, py-ruff, file-whitespace, trojan-source

Bug 1956089 - Support new progress dot indicator designs for fullscreen AboutWelcome r=omc-reviewers,jprickett
  browser/components/aboutwelcome/content-src/aboutwelcome.scss
  browser/components/aboutwelcome/content-src/components/MultiStageProtonScreen.jsx
  browser/components/aboutwelcome/content/aboutwelcome.bundle.js
  browser/components/aboutwelcome/content/aboutwelcome.css
  browser/components/aboutwelcome/tests/unit/MultiStageAWProton.test.jsx
Due: eslint, stylelint, file-whitespace

Bug 1958002 - Remove unsupported arm32 Android emulator images r=nalexander
  python/mozboot/mozboot/android-avds/arm.json
  python/mozboot/mozboot/android.py
  python/mozboot/mozboot/linux_common.py
  python/mozboot/mozboot/mozillabuild.py
  python/mozboot/mozboot/osx.py
  taskcluster/kinds/toolchain/android.yml
Due: eslint, py-black, py-ruff, yaml, file-whitespace, trojan-source

No Bug, mozilla-beta repo-update HSTS HPKP remote-settings tld-suffixes mobile-experiments ct-logs - a=diannaS
  mobile/android/fenix/app/src/main/res/raw/initial_experiments.json
  netwerk/dns/effective_tld_names.dat
  security/ct/CTKnownLogs.h
  security/manager/ssl/StaticHPKPins.h
  security/manager/ssl/nsSTSPreloadList.inc
  security/manager/tools/log_list.json
  services/settings/dumps/main/devtools-compatibility-browsers.json
  services/settings/dumps/main/translations-models.json
  services/settings/dumps/main/url-parser-default-unknown-schemes-interventions.json
  services/settings/dumps/security-state/intermediates.json
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1776989 - Disable `test_getCoalescedEvents.html` and `test_getCoalescedEvents_during_button_press.html` in the xorigin mode r=masayuki
  dom/events/test/pointerevents/mochitest.toml
Due: none

Bug 1954979 - Ship dom.selection.mimic_chrome_tostring.enabled r=masayuki
  modules/libpref/init/StaticPrefList.yaml
Due: yaml

Bug 1955469 - Add Windows guidance notification pref to the SMA allowed prefs list r=omc-reviewers,negin
  toolkit/components/messaging-system/lib/SpecialMessageActions.sys.mjs
Due: eslint

Backed out changeset e8ce51f3c98b (bug 1957608) by dev request CLOSED TREE
  testing/web-platform/meta/scheduler/tentative/yield/yield-priority-timers.any.js.ini
Due: test-manifest

Bug 1957634 - Remove obsolete TODO comment from the FramesWithDepth comparator. r=emilio DONTBUILD
  layout/painting/nsDisplayList.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1956726 - Migrate histograms to use Glean APIs in gfx/, r=chutten,jgilbert,firefox-desktop-core-reviewers ,mconley.
  browser/components/BrowserGlue.sys.mjs
  gfx/ipc/GPUProcessManager.cpp
  gfx/layers/NativeLayerCA.mm
  gfx/layers/apz/src/AsyncPanZoomController.cpp
  gfx/layers/ipc/CompositorVsyncScheduler.cpp
  gfx/layers/wr/WebRenderBridgeParent.cpp
  gfx/metrics.yaml
  gfx/src/DriverCrashGuard.cpp
  gfx/thebes/DeviceManagerDx.cpp
  gfx/thebes/gfxPlatform.cpp
  gfx/thebes/gfxWindowsPlatform.cpp
  gfx/webrender_bindings/DCLayerTree.cpp
  gfx/webrender_bindings/RenderCompositorANGLE.cpp
  layout/base/PresShell.cpp
  toolkit/components/gfx/SanityTest.sys.mjs
  widget/InputData.h
Due: eslint, yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1956726 - remove the CONTENT_FRAME_TIME_REASON histogram that has already been migrated to Glean, r=chutten.
  gfx/layers/ipc/CompositorBridgeParent.cpp
  toolkit/components/telemetry/Histograms.json
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1956726 - Migrate histograms to use Glean APIs for WEBFONT_*, r=chutten.
  gfx/metrics.yaml
  gfx/thebes/gfxUserFontSet.cpp
  layout/base/PresShell.cpp
  layout/style/FontFaceSetImpl.cpp
  layout/style/nsFontFaceLoader.cpp
Due: yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1956153 - Create actors directly on the main thread a=diannaS
  dom/notification/NotificationParent.cpp
  dom/notification/NotificationParent.h
  ipc/glue/BackgroundParentImpl.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1957847 - Part 1: Add assertions to catch misuse of Add/DropJSHolders APIs r=smaug
  xpcom/base/CycleCollectedJSRuntime.cpp
  xpcom/base/HoldDropJSObjects.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1957847 - Part 3: Use Add/DropJSHoldersWithKey APIs for CallbackTimeoutHandler r=smaug
  dom/base/TimeoutHandler.cpp
  dom/base/TimeoutHandler.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1957847 - Part 2: Use Add/DropJSHoldersWithKey APIs for Promise r=smaug
  dom/promise/Promise.cpp
  dom/promise/Promise.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1920525: Give nsImageFrame a MarkIntrinsicISizesDirty implementation, which immediately updates the image's intrinsic size and aspect-ratio. r=layout-reviewers,jfkthame,emilio
  layout/generic/nsImageFrame.cpp
  layout/generic/nsImageFrame.h
  testing/web-platform/tests/css/css-contain/content-visibility/content-visibility-auto-img-001-ref.html
  testing/web-platform/tests/css/css-contain/content-visibility/content-visibility-auto-img-001.html
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1957331 - QM: Add telemetry for shutdown time excluding suspend; r=dom-storage-reviewers,jstutte
  dom/quota/ActorsParent.cpp
  dom/quota/metrics.yaml
Due: yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

No Bug, mozilla-central repo-update HSTS HPKP remote-settings tld-suffixes mobile-experiments ct-logs - r=release-managers,RyanVM
  mobile/android/fenix/app/src/main/res/raw/initial_experiments.json
  netwerk/dns/effective_tld_names.dat
  security/ct/CTKnownLogs.h
  security/manager/ssl/StaticHPKPins.h
  security/manager/ssl/nsSTSPreloadList.inc
  security/manager/tools/log_list.json
  services/settings/dumps/main/devtools-compatibility-browsers.json
  services/settings/dumps/main/password-rules.json
  services/settings/dumps/main/translations-models.json
  services/settings/dumps/main/url-parser-default-unknown-schemes-interventions.json
  services/settings/dumps/security-state/intermediates.json
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1956606 - Disable safari jetstream2 tests. r=perftest-reviewers,kshampur,taskgraph-reviewers,ahal
  taskcluster/gecko_taskgraph/target_tasks.py
  taskcluster/kinds/test/browsertime-desktop.yml
  testing/perfdocs/generated/raptor.rst
Due: py-black, py-ruff, yaml, file-whitespace, trojan-source

Bug 1909470 - Transfer auxv from child processes to crash reporter r=media-playback-reviewers,gsvelto,padenot
  dom/ipc/ContentParent.cpp
  dom/ipc/ContentParent.h
  dom/ipc/PContent.ipdl
  dom/media/gmp/PGMP.ipdl
  dom/media/ipc/PRDD.ipdl
  gfx/ipc/PGPU.ipdl
  gfx/vr/ipc/PVR.ipdl
  ipc/glue/CrashReporterClient.cpp
  ipc/glue/CrashReporterClient.h
  ipc/glue/CrashReporterHelper.h
  ipc/glue/CrashReporterHost.cpp
  ipc/glue/CrashReporterHost.h
  ipc/glue/PUtilityProcess.ipdl
  netwerk/ipc/PSocketProcess.ipdl
  toolkit/crashreporter/breakpad-client/linux/crash_generation/crash_generation_server.cc
  toolkit/crashreporter/breakpad-client/linux/crash_generation/crash_generation_server.h
  toolkit/crashreporter/breakpad-client/linux/handler/exception_handler.cc
  toolkit/crashreporter/breakpad-client/linux/handler/exception_handler.h
  toolkit/crashreporter/ipc/CrashReporterInitArgs.ipdlh
  toolkit/crashreporter/moz.build
  toolkit/crashreporter/nsExceptionHandler.cpp
  toolkit/crashreporter/nsExceptionHandler.h
  toolkit/crashreporter/rust_minidump_writer_linux/src/lib.rs
Due: py-black, clang-format, rustfmt, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1949498 - Remove the MEDIA_GMP_UPDATE_XML_FETCH_RESULT legacy telemetry histogram (already migrated to Glean), r=padenot.
  toolkit/components/telemetry/Histograms.json
  toolkit/modules/GMPInstallManager.sys.mjs
  toolkit/modules/tests/xpcshell/test_GMPInstallManager.js
Due: eslint

Bug 1956726 - remove the unused PAGE_METADATA_SIZE histogram, r=mconley.
  toolkit/actors/ContentMetaChild.sys.mjs
  toolkit/components/telemetry/Histograms.json
Due: eslint

Bug 1938430 - add delete tab group event r=jswinarton,tabbrowser-reviewers,sessionstore-reviewers
  browser/base/content/main-popupset.js
  browser/components/tabbrowser/TabGroupMetrics.sys.mjs
  browser/components/tabbrowser/content/tabbrowser.js
  browser/components/tabbrowser/content/tabgroup-menu.js
  browser/components/tabbrowser/metrics.yaml
  browser/components/tabbrowser/moz.build
  browser/components/tabbrowser/test/browser/tabs/browser_tab_groups_telemetry.js
  browser/modules/BrowserUsageTelemetry.sys.mjs
Due: eslint, py-black, yaml

Bug 1958138 - Use SharedPreferences.edit() KTX extension. r=android-reviewers,mcarare
  mobile/android/fenix/app/lint-baseline.xml
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/metrics/GleanUsageReportingMetricsService.kt
Due: eslint

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, **/*.java, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml
  combine-en-US-translations: any of: **/*.ftl, **/*.properties, **/*.dtd, **/*strings.xml, **/update-translations.yml, **/l10n/combine/combine.py, **/l10n/combine-translation-versions.py
  push-en-US-translations: any of: **/*.ftl, **/*.properties, **/*.dtd, **/*strings.xml, **/update-translations.yml, **/l10n/combine/combine.py, **/l10n/combine-translation-versions.py
