Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source, combine-en-US-translations, push-en-US-translations

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, **/*.java, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml
  combine-en-US-translations: any of: **/*.ftl, **/*.properties, **/*.dtd, **/*strings.xml, **/update-translations.yml, **/l10n/combine/combine.py, **/l10n/combine-translation-versions.py
  push-en-US-translations: any of: **/*.ftl, **/*.properties, **/*.dtd, **/*strings.xml, **/update-translations.yml, **/l10n/combine/combine.py, **/l10n/combine-translation-versions.py

Bug 1927961 - Reduce Review Checker sidebar flickering on tab switch. r=shopping-reviewers,omc-reviewers,aminomancer,rking
  browser/components/aboutwelcome/actors/AboutWelcomeChild.sys.mjs
  browser/components/shopping/ReviewCheckerChild.sys.mjs
  browser/components/shopping/content/onboarding.mjs
  browser/components/shopping/content/shopping.html
Due: eslint, file-whitespace

Bug 1952530 - prevent pinned tabs from dropping outside of pinned area a=diannaS
  browser/components/tabbrowser/content/tabs.js
Due: eslint

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  browser/locales/l10n-changesets.json
Due: eslint

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  mobile/locales/l10n-changesets.json
Due: eslint

Bug 1956101 - use child context for private browsing determination in ContentSearch code, r=Standard8
  browser/actors/ContentSearchParent.sys.mjs
  browser/components/search/content/contentSearchHandoffUI.js
  browser/components/search/test/browser/browser_contentSearch.js
Due: eslint

Bug 1957418 - don't send Content Analysis ack if we haven't gotten a response r=dlp-reviewers,handyman
  toolkit/components/contentanalysis/ContentAnalysis.cpp
  toolkit/components/contentanalysis/ContentAnalysis.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1953664 - Always use a new process for child process in browser_experimentapi_child.js a=diannaS
  toolkit/components/nimbus/test/browser/browser_experimentapi_child.js
Due: eslint

Bug 1955030 - fix sidebar closing when button is moved, r=sidebar-reviewers,jsudiaman
  browser/components/customizableui/test/browser_remove_sidebar_button_and_sidebar.js
  browser/components/sidebar/SidebarManager.sys.mjs
  browser/components/sidebar/browser-sidebar.js
Due: eslint

Backed out 5 changesets (bug 1957074) for causing failures at test_aboutmemory5.xhtml.
  js/public/HeapAPI.h
  js/src/gc/Allocator.cpp
  js/src/gc/ArenaList-inl.h
  js/src/gc/ArenaList.h
  js/src/gc/AtomMarking.cpp
  js/src/gc/AtomMarking.h
  js/src/gc/Compacting.cpp
  js/src/gc/GC-inl.h
  js/src/gc/GC.cpp
  js/src/gc/GCRuntime.h
  js/src/gc/Heap-inl.h
  js/src/gc/Heap.cpp
  js/src/gc/Heap.h
  js/src/gc/Sweeping.cpp
  js/src/jsapi-tests/testSortedArenaList.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Backed out 8 changesets (bug 1925745) for causing failures at H264EncodesAnnexBRecord.
  dom/media/platforms/android/AndroidEncoderModule.cpp
  dom/media/webrtc/jsapi/PeerConnectionImpl.cpp
  dom/media/webrtc/tests/mochitests/test_peerConnection_getParameters.html
  dom/media/webrtc/tests/mochitests/test_peerConnection_maxFsConstraint.html
  dom/media/webrtc/tests/mochitests/test_peerConnection_scaleResolution.html
  dom/media/webrtc/tests/mochitests/test_peerConnection_scaleResolution_oldSetParameters.html
  dom/media/webrtc/tests/mochitests/test_peerConnection_setParameters_scaleResolutionDownBy.html
  dom/media/webrtc/tests/mochitests/test_peerConnection_setParameters_scaleResolutionDownBy_oldSetParameters.html
  dom/media/webrtc/tests/mochitests/test_peerConnection_simulcastOffer.html
  testing/web-platform/meta/webrtc/RTCRtpParameters-codec.html.ini
  testing/web-platform/meta/webrtc/RTCRtpReceiver-video-anyCodec.html.ini
  testing/web-platform/meta/webrtc/__dir__.ini
  testing/web-platform/meta/webrtc/protocol/codecs-subsequent-offer.https.html.ini
  testing/web-platform/meta/webrtc/protocol/rtp-demuxing.html.ini
  testing/web-platform/meta/webrtc/protocol/video-codecs.https.html.ini
  testing/web-platform/tests/webrtc/protocol/video-codecs.https.html
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Bug 1957689 - Appease old gcc which doesn't like the nullptr vs NonNull<Encoding*> ternary.
  dom/svg/SVGUseElement.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1957902 - fix the Content Analysis quit confirmation dialog r=dlp-reviewers,handyman
  browser/components/contentanalysis/content/ContentAnalysis.sys.mjs
Due: eslint

Backed out 5 changesets (bug 1955169) for causing failures at test_nimbusTelemetry.js. CLOSED TREE
  browser/components/asrouter/tests/browser/browser_asrouter_experimentsAPILoader.js
  toolkit/components/backgroundtasks/tests/xpcshell/test_backgroundtask_experiments.js
  toolkit/components/messaging-system/schemas/SpecialMessageActionSchemas/test/browser/browser_sma_submit_onboarding_opt_out_ping.js
  toolkit/components/nimbus/ExperimentAPI.sys.mjs
  toolkit/components/nimbus/FirefoxLabs.sys.mjs
  toolkit/components/nimbus/lib/ExperimentManager.sys.mjs
  toolkit/components/nimbus/lib/PrefFlipsFeature.sys.mjs
  toolkit/components/nimbus/lib/RemoteSettingsExperimentLoader.sys.mjs
  toolkit/components/nimbus/lib/Telemetry.sys.mjs
  toolkit/components/nimbus/metrics.yaml
  toolkit/components/nimbus/test/NimbusTestUtils.sys.mjs
  toolkit/components/nimbus/test/browser/browser_nimbus_telemetry.js
  toolkit/components/nimbus/test/browser/browser_remotesettings_experiment_enroll.js
  toolkit/components/nimbus/test/unit/test_ExperimentAPI_NimbusFeatures.js
  toolkit/components/nimbus/test/unit/test_ExperimentManager_enroll.js
  toolkit/components/nimbus/test/unit/test_ExperimentManager_lifecycle.js
  toolkit/components/nimbus/test/unit/test_ExperimentManager_prefs.js
  toolkit/components/nimbus/test/unit/test_ExperimentManager_unenroll.js
  toolkit/components/nimbus/test/unit/test_FirefoxLabs.js
  toolkit/components/nimbus/test/unit/test_RemoteSettingsExperimentLoader.js
  toolkit/components/nimbus/test/unit/test_RemoteSettingsExperimentLoader_updateRecipes.js
  toolkit/components/nimbus/test/unit/test_prefFlips.js
  toolkit/components/normandy/content/AboutPages.sys.mjs
  toolkit/components/normandy/content/ShieldFrameParent.sys.mjs
  toolkit/components/normandy/content/about-studies/about-studies.js
  toolkit/mozapps/update/tests/unit_background_update/test_backgroundupdate_glean.js
Due: eslint, yaml

Bug 1957612 fix link Preview can no longer generate key points from reader view content - r=Mardak,firefox-ai-ml-reviewers
  browser/components/genai/LinkPreviewChild.sys.mjs
  browser/components/genai/content/link-preview-card.mjs
  browser/components/genai/tests/browser/browser_link_preview.js
  browser/components/genai/tests/browser/data/readableEn.html
Due: eslint, file-whitespace

Bug 1947920 - build(rust): upgrade `once_cell` 1.21.1 → 1.21.3 r=supply-chain-reviewers
  Cargo.lock
  supply-chain/audits.toml
  third_party/rust/once_cell/.cargo-checksum.json
  third_party/rust/once_cell/CHANGELOG.md
  third_party/rust/once_cell/Cargo.lock
  third_party/rust/once_cell/Cargo.toml
  third_party/rust/once_cell/src/race.rs
Due: eslint, rustfmt, file-whitespace, trojan-source

Bug 1952425 - mach try perftest-test perma fix. r=perftest-reviewers,kshampur
  python/mozperftest/mozperftest/test/shellscript.py
  python/mozperftest/mozperftest/tests/test_shellscript.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1957731 - Disable DESERIALIZE_* telemetry deeper in the JS engine r=sfink
  js/src/vm/StructuredClone.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1955501 - Change logic for finding compositing / shared clip roots to support rounded-rects r=gfx-reviewers,lsalzman
  gfx/wr/webrender/src/scene_building.rs
  gfx/wr/webrender/src/tile_cache.rs
  gfx/wr/wrench/reftests/aa/indirect-rotate.png
  layout/reftests/xul/reftest.list
Due: rustfmt, file-whitespace, trojan-source

Bug 1955398 - Skip creating a tile cache slice when shared clip root is different r=gfx-reviewers,lsalzman
  gfx/wr/webrender/src/tile_cache.rs
Due: rustfmt, file-whitespace, trojan-source

Bug 1957801 - Support nsStrings in AUTO_PROFILER_MARKER_TEXT r=profiler-reviewers,mstange
  tools/profiler/public/ProfilerMarkers.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1696216 - Part 1: Add builtin typedef AllowSharedBufferSource r=webidl,smaug
  dom/bindings/BindingDeclarations.h
  dom/bindings/parser/WebIDL.py
Due: py-black, py-ruff, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1696216 - Part 2: Replace existing workarounds with AllowSharedBufferSource r=webidl,emilio
  dom/bindings/test/TestFunctions.cpp
  dom/bindings/test/TestFunctions.h
  dom/fs/api/FileSystemSyncAccessHandle.cpp
  dom/fs/api/FileSystemSyncAccessHandle.h
  dom/media/webcodecs/AudioData.cpp
  dom/media/webcodecs/AudioData.h
  dom/media/webcodecs/EncodedAudioChunk.cpp
  dom/media/webcodecs/EncodedAudioChunk.h
  dom/media/webcodecs/EncodedVideoChunk.cpp
  dom/media/webcodecs/EncodedVideoChunk.h
  dom/media/webcodecs/VideoFrame.cpp
  dom/media/webcodecs/VideoFrame.h
  dom/media/webcodecs/WebCodecsUtils.cpp
  dom/media/webcodecs/WebCodecsUtils.h
  dom/webidl/AudioData.webidl
  dom/webidl/AudioDecoder.webidl
  dom/webidl/EncodedAudioChunk.webidl
  dom/webidl/EncodedVideoChunk.webidl
  dom/webidl/FileSystemSyncAccessHandle.webidl
  dom/webidl/ImageDecoder.webidl
  dom/webidl/TestFunctions.webidl
  dom/webidl/VideoDecoder.webidl
  dom/webidl/VideoFrame.webidl
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1957608 - Fix yield-priority-timers.any.worker.html for beta merge r=smaug
  testing/web-platform/meta/scheduler/tentative/yield/yield-priority-timers.any.js.ini
Due: test-manifest

Bug 1957798 - Selenium Snap QA skip test on youtube r=benchatt
  taskcluster/docker/snap-coreXX-build/snap-tests/basic_tests.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1954761 - Add card_size attr to section new tab events r=home-newtab-reviewers,nbarrett
  browser/components/newtab/metrics.yaml
  browser/extensions/newtab/content-src/components/DiscoveryStreamComponents/DSCard/DSCard.jsx
  browser/extensions/newtab/content-src/components/DiscoveryStreamImpressionStats/ImpressionStats.jsx
  browser/extensions/newtab/content-src/lib/utils.jsx
  browser/extensions/newtab/content-src/styles/_variables.scss
  browser/extensions/newtab/data/content/activity-stream.bundle.js
  browser/extensions/newtab/lib/TelemetryFeed.sys.mjs
  browser/extensions/newtab/test/unit/content-src/components/DiscoveryStreamComponents/DSCard.test.jsx
  browser/extensions/newtab/test/unit/content-src/components/DiscoveryStreamComponents/ImpressionStats.test.jsx
  browser/extensions/newtab/test/unit/content-src/lib/utils.test.jsx
Due: eslint, yaml

Bug 1953399 - Exclude Firefox View from Smart Tab Suggestions. r=rrando,tabbrowser-reviewers
  browser/components/tabbrowser/SmartTabGrouping.sys.mjs
  browser/components/tabbrowser/test/browser/smarttabgrouping/browser_tab_grouping_utils.js
Due: eslint

Bug 1957747: Add a separate type for CalcLengthPercentage containing anchor functions. r=firefox-style-system-reviewers,emilio
  layout/style/ServoStyleConstsInlines.h
  layout/style/nsStyleStruct.cpp
  layout/style/nsStyleStruct.h
  layout/tables/BasicTableLayoutStrategy.cpp
  servo/components/style/values/generics/length.rs
  servo/components/style/values/generics/position.rs
  servo/components/style/values/specified/length.rs
  servo/components/style/values/specified/position.rs
  servo/ports/geckolib/cbindgen.toml
Due: clang-format, rustfmt, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1957747: Remove `ResolveWithAnchor`. r=firefox-style-system-reviewers,emilio
  layout/base/nsLayoutUtils.h
  layout/generic/ReflowInput.cpp
  layout/style/ServoStyleConstsInlines.h
  layout/style/nsComputedDOMStyle.cpp
  servo/components/style/color/component.rs
  servo/components/style/values/computed/length_percentage.rs
  servo/components/style/values/generics/calc.rs
  servo/ports/geckolib/cbindgen.toml
  servo/ports/geckolib/glue.rs
Due: clang-format, rustfmt, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1957747: Replace anchor in calc without resolving basis. r=firefox-style-system-reviewers,emilio
  layout/style/nsStyleStruct.cpp
  servo/components/style/values/computed/length_percentage.rs
  servo/components/style/values/generics/calc.rs
  servo/ports/geckolib/glue.rs
  testing/web-platform/meta/css/css-anchor-position/anchor-invalid-fallback.html.ini
Due: clang-format, rustfmt, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Bug 1955265 - Set nested input disabled state in the nested input r=hjones,kcochrane,reusable-components-reviewers, a=dsmith
  toolkit/content/tests/widgets/lit-test-helpers.js
  toolkit/content/widgets/lit-utils.mjs
  toolkit/content/widgets/moz-box-button/moz-box-button.mjs
  toolkit/content/widgets/moz-checkbox/moz-checkbox.mjs
  toolkit/content/widgets/moz-input-folder/moz-input-folder.mjs
  toolkit/content/widgets/moz-input-search/moz-input-search.mjs
  toolkit/content/widgets/moz-input-text/moz-input-text.mjs
  toolkit/content/widgets/moz-radio-group/moz-radio-group.mjs
  toolkit/content/widgets/moz-select/moz-select.mjs
Due: eslint

Bug 1955265 - Set nested input disabled state in the nested input r=hjones,kcochrane,reusable-components-reviewers
  toolkit/content/tests/widgets/lit-test-helpers.js
  toolkit/content/widgets/lit-utils.mjs
  toolkit/content/widgets/moz-box-button/moz-box-button.mjs
  toolkit/content/widgets/moz-checkbox/moz-checkbox.mjs
  toolkit/content/widgets/moz-input-folder/moz-input-folder.mjs
  toolkit/content/widgets/moz-input-search/moz-input-search.mjs
  toolkit/content/widgets/moz-input-text/moz-input-text.mjs
  toolkit/content/widgets/moz-radio-group/moz-radio-group.mjs
  toolkit/content/widgets/moz-select/moz-select.mjs
Due: eslint

Bug 1957607 - Cast to MouseEvent instead of PointerEvent during interactionId computation a=diannaS
  dom/performance/PerformanceInteractionMetrics.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Backed out 7 changesets (bug 1954188) for causing bc failures at browser_preferences_usage.js
  dom/base/Document.cpp
  dom/base/Document.h
  dom/base/nsContentUtils.cpp
  dom/serviceworkers/ServiceWorkerPrivate.cpp
  modules/libpref/init/StaticPrefList.yaml
  modules/libpref/init/all.js
  toolkit/components/nimbus/FeatureManifest.yaml
  toolkit/components/resistfingerprinting/FingerprintingWebCompatService.sys.mjs
  toolkit/components/resistfingerprinting/RFPHelper.sys.mjs
  toolkit/components/resistfingerprinting/RFPTargetsDefaultBaseline.inc
  toolkit/components/resistfingerprinting/extract_rfp_targets.py
  toolkit/components/resistfingerprinting/moz.build
  toolkit/components/resistfingerprinting/nsIFingerprintingWebCompatService.idl
  toolkit/components/resistfingerprinting/nsIRFPService.idl
  toolkit/components/resistfingerprinting/nsRFPService.cpp
  toolkit/components/resistfingerprinting/nsRFPService.h
  toolkit/components/resistfingerprinting/nsUserCharacteristics.cpp
  toolkit/components/resistfingerprinting/tests/browser/browser.toml
  toolkit/components/resistfingerprinting/tests/browser/browser_fingerprintingRemoteOverrides.js
  toolkit/components/resistfingerprinting/tests/browser/browser_fpp_protections_matrix_1.js
  toolkit/components/resistfingerprinting/tests/browser/browser_fpp_protections_matrix_2.js
  toolkit/components/resistfingerprinting/tests/browser/browser_fpp_protections_matrix_3.js
  toolkit/components/resistfingerprinting/tests/browser/browser_fpp_protections_matrix_4.js
  toolkit/components/resistfingerprinting/tests/browser/head-fpp-matrix.js
  toolkit/components/resistfingerprinting/tests/gtest/test_usercharping.cpp
Due: eslint, py-black, py-ruff, yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

no bug - Import translations from android-l10n r=release a=l10n CLOSED TREE
  mobile/android/android-components/components/browser/engine-system/src/main/res/values-hy-rAM/strings.xml
  mobile/android/android-components/components/browser/errorpages/src/main/res/values-hy-rAM/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-hy-rAM/strings.xml
  mobile/android/android-components/components/feature/app-links/src/main/res/values-hy-rAM/strings.xml
  mobile/android/android-components/components/feature/autofill/src/main/res/values-hy-rAM/strings.xml
  mobile/android/android-components/components/feature/contextmenu/src/main/res/values-hy-rAM/strings.xml
  mobile/android/android-components/components/feature/downloads/src/main/res/values-hy-rAM/strings.xml
  mobile/android/android-components/components/feature/downloads/src/main/res/values-kab/strings.xml
  mobile/android/android-components/components/feature/downloads/src/main/res/values-kmr/strings.xml
  mobile/android/android-components/components/feature/downloads/src/main/res/values-uk/strings.xml
  mobile/android/android-components/components/feature/qr/src/main/res/values-hy-rAM/strings.xml
  mobile/android/android-components/components/ui/tabcounter/src/main/res/values-hy-rAM/strings.xml
  mobile/android/fenix/app/src/main/res/values-es-rCL/strings.xml
  mobile/android/fenix/app/src/main/res/values-es/strings.xml
  mobile/android/fenix/app/src/main/res/values-fur/strings.xml
  mobile/android/fenix/app/src/main/res/values-hy-rAM/strings.xml
  mobile/android/fenix/app/src/main/res/values-kmr/strings.xml
  mobile/android/fenix/app/src/main/res/values-lo/strings.xml
  mobile/android/fenix/app/src/main/res/values-ml/strings.xml
  mobile/android/fenix/app/src/main/res/values-tg/strings.xml
  mobile/android/fenix/app/src/main/res/values-tr/strings.xml
  mobile/android/fenix/app/src/main/res/values-ug/strings.xml
  mobile/android/fenix/app/src/main/res/values-uk/strings.xml
  mobile/android/fenix/app/src/main/res/values-zh-rCN/strings.xml
  mobile/android/focus-android/app/src/main/res/values-mix/strings.xml
Due: eslint, combine-en-US-translations, push-en-US-translations

Backed out 2 changesets (bug 1696216) for causing mochitetst failures at test_attributes_on_types.html on a CLOSED TREE
  dom/bindings/BindingDeclarations.h
  dom/bindings/parser/WebIDL.py
  dom/bindings/test/TestFunctions.cpp
  dom/bindings/test/TestFunctions.h
  dom/fs/api/FileSystemSyncAccessHandle.cpp
  dom/fs/api/FileSystemSyncAccessHandle.h
  dom/media/webcodecs/AudioData.cpp
  dom/media/webcodecs/AudioData.h
  dom/media/webcodecs/EncodedAudioChunk.cpp
  dom/media/webcodecs/EncodedAudioChunk.h
  dom/media/webcodecs/EncodedVideoChunk.cpp
  dom/media/webcodecs/EncodedVideoChunk.h
  dom/media/webcodecs/VideoFrame.cpp
  dom/media/webcodecs/VideoFrame.h
  dom/media/webcodecs/WebCodecsUtils.cpp
  dom/media/webcodecs/WebCodecsUtils.h
  dom/webidl/AudioData.webidl
  dom/webidl/AudioDecoder.webidl
  dom/webidl/EncodedAudioChunk.webidl
  dom/webidl/EncodedVideoChunk.webidl
  dom/webidl/FileSystemSyncAccessHandle.webidl
  dom/webidl/ImageDecoder.webidl
  dom/webidl/TestFunctions.webidl
  dom/webidl/VideoDecoder.webidl
  dom/webidl/VideoFrame.webidl
Due: py-black, py-ruff, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1951148 - add metrics and events related to link preview feature usage r=txia,firefox-ai-ml-reviewers
  browser/components/genai/LinkPreview.sys.mjs
  browser/components/genai/content/link-preview-card.mjs
  browser/components/genai/metrics.yaml
  browser/components/genai/tests/browser/browser.toml
  browser/components/genai/tests/browser/browser_link_preview.js
  toolkit/components/ml/metrics.yaml
Due: eslint, yaml

Bug 1955045 - add a custom command line handler for launching web app shortcuts r=mossop,firefox-desktop-core-reviewers
  browser/components/BrowserGlue.sys.mjs
  browser/components/taskbartabs/TaskbarTabCmd.sys.mjs
  browser/components/taskbartabs/components.conf
  browser/components/taskbartabs/moz.build
  browser/components/taskbartabs/test/browser/browser_taskbarTabs_chromeTest.js
Due: eslint, py-black

Bug 1934976 - Remove duplicate check r=media-playback-reviewers,padenot
  dom/media/platforms/apple/AppleVTEncoder.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source
