Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source, combine-en-US-translations, push-en-US-translations

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, **/*.java, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml
  combine-en-US-translations: any of: **/*.ftl, **/*.properties, **/*.dtd, **/*strings.xml, **/update-translations.yml, **/l10n/combine/combine.py, **/l10n/combine-translation-versions.py
  push-en-US-translations: any of: **/*.ftl, **/*.properties, **/*.dtd, **/*strings.xml, **/update-translations.yml, **/l10n/combine/combine.py, **/l10n/combine-translation-versions.py

Backed out 2 changesets (bug 1957903, bug 1940790) as requested by gstoll for causing Bug 1958434.
  widget/tests/file_test_clipboard_pngPreservesTransparency.js
  widget/tests/mochitest.toml
  widget/tests/test_clipboard_pngPreservesTransparency.html
  widget/windows/nsClipboard.cpp
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1958402 - Remove Fluent migration recipes for Firefox 125-134 r=flod DONTBUILD
  python/l10n/fluent_migrations/bug_1733498_necko.py
  python/l10n/fluent_migrations/bug_1759175_crashreporter.py
  python/l10n/fluent_migrations/bug_1864340_autocomplete_footer.py
  python/l10n/fluent_migrations/bug_1864606_backlogged_crash_checkbox.py
  python/l10n/fluent_migrations/bug_1875957_web_appearance_warning.py
  python/l10n/fluent_migrations/bug_1881582_autocomplete_merge.py
  python/l10n/fluent_migrations/bug_1884748_alt_text_images_sync.py
  python/l10n/fluent_migrations/bug_1884970_tabbrowser_close_tabs_button.py
  python/l10n/fluent_migrations/bug_1892125_screenshots_migrations.py
  python/l10n/fluent_migrations/bug_1893022_select_translations_release.py
  python/l10n/fluent_migrations/bug_1921539_sidebar_widget_label.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Backed out changeset 1a3612b13cb6 (bug 1956396) for causing multiple failures. CLOSED TREE
  testing/mochitest/runtests.py
  testing/mochitest/tests/python/test_get_active_tests.py
  testing/mozbase/manifestparser/manifestparser/ini.py
  testing/xpcshell/runxpcshelltests.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1957001 - Use FenceD3D11 for shnchronization in DXGIYCbCrTextureData r=media-playback-reviewers,gfx-reviewers,alwu,lsalzman
  dom/media/platforms/wmf/WMFVideoMFTManager.cpp
  gfx/ipc/GPUParent.cpp
  gfx/layers/D3D11YCbCrImage.cpp
  gfx/layers/Fence.cpp
  gfx/layers/Fence.h
  gfx/layers/IMFYCbCrImage.cpp
  gfx/layers/LayersTypes.cpp
  gfx/layers/LayersTypes.h
  gfx/layers/composite/GPUVideoTextureHost.cpp
  gfx/layers/composite/GPUVideoTextureHost.h
  gfx/layers/composite/TextureHost.h
  gfx/layers/d3d11/FenceD3D11.cpp
  gfx/layers/d3d11/FenceD3D11.h
  gfx/layers/d3d11/GpuProcessD3D11FencesHolderMap.cpp
  gfx/layers/d3d11/GpuProcessD3D11FencesHolderMap.h
  gfx/layers/d3d11/TextureD3D11.cpp
  gfx/layers/d3d11/TextureD3D11.h
  gfx/layers/ipc/LayersMessageUtils.h
  gfx/layers/ipc/LayersSurfaces.ipdlh
  gfx/layers/moz.build
  gfx/layers/wr/AsyncImagePipelineManager.cpp
  gfx/layers/wr/AsyncImagePipelineManager.h
  gfx/layers/wr/WebRenderTextureHost.cpp
  gfx/layers/wr/WebRenderTextureHost.h
  gfx/webrender_bindings/RenderCompositor.h
  gfx/webrender_bindings/RenderCompositorANGLE.cpp
  gfx/webrender_bindings/RenderCompositorANGLE.h
  gfx/webrender_bindings/RenderCompositorEGL.cpp
  gfx/webrender_bindings/RenderCompositorEGL.h
  gfx/webrender_bindings/RenderD3D11TextureHost.cpp
  gfx/webrender_bindings/RenderD3D11TextureHost.h
  gfx/webrender_bindings/RenderThread.cpp
  gfx/webrender_bindings/RenderThread.h
  gfx/webrender_bindings/RendererOGL.cpp
  gfx/webrender_bindings/RendererOGL.h
Due: py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  browser/locales/l10n-changesets.json
Due: eslint

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  mobile/locales/l10n-changesets.json
Due: eslint

Bug 1953613 - js/doc: fix the filename
  js/src/doc/use_counter.md
Due: file-whitespace

Bug 1931454 - Allow feature callouts to have multiple screens without requiring a tour pref. r=omc-reviewers,mviar
  browser/components/aboutwelcome/content-src/components/MultiStageAboutWelcome.jsx
  browser/components/aboutwelcome/content-src/components/MultiStageProtonScreen.jsx
  browser/components/aboutwelcome/content/aboutwelcome.bundle.js
  browser/components/asrouter/docs/feature-callout.md
  browser/components/asrouter/modules/FeatureCallout.sys.mjs
  browser/components/asrouter/modules/PanelTestProvider.sys.mjs
  browser/components/asrouter/tests/browser/browser_feature_callout.js
  browser/components/asrouter/tests/browser/browser_feature_callout_in_chrome.js
  toolkit/components/messaging-system/schemas/SpecialMessageActionSchemas/index.md
Due: eslint, file-whitespace

Bug 1953746 - doc: Adjust the wording to match Searchfox's r=emilio
  docs/contributing/how_to_submit_a_patch.rst
Due: file-whitespace

Bug 1953746 - ride along: remove the potential deprecation notice as it is ok
  docs/contributing/how_to_submit_a_patch.rst
Due: file-whitespace

Bug 1956758 - Remove always-true CONTEXT_COPY_IMAGE_CONTENTS. r=desktop-theme-reviewers,dao
  browser/base/content/browser-context.inc
  browser/base/moz.build
Due: py-black

Bug 1956758 - Expose whether we use a "native" menubar at runtime. r=stransky,desktop-theme-reviewers,dao
  browser/base/content/browser-init.js
  browser/base/content/test/fullscreen/browser_fullscreen_context_menu.js
  browser/base/moz.build
  browser/components/customizableui/CustomizableUI.sys.mjs
  browser/components/extensions/test/browser/browser_ext_tabs_hide.js
  browser/modules/test/browser/browser_UsageTelemetry_toolbars.js
  browser/themes/linux/moz.build
  browser/themes/windows/moz.build
  toolkit/modules/AppConstants.sys.mjs
  toolkit/modules/moz.build
  toolkit/xre/nsAppRunner.cpp
  widget/LookAndFeel.h
  widget/cocoa/nsLookAndFeel.mm
  widget/gtk/NativeMenuGtk.cpp
  widget/gtk/nsLookAndFeel.cpp
  widget/nsXPLookAndFeel.cpp
  xpcom/system/nsIXULRuntime.idl
Due: eslint, py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1957231 - Remove unneeded top window border on windows. r=desktop-theme-reviewers,dao
  browser/themes/windows/browser.css
Due: stylelint, file-whitespace

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump
  browser/locales/l10n-changesets.json
Due: eslint

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump
  mobile/locales/l10n-changesets.json
Due: eslint

Bug 1958213 - Remove support for iconic menubar items. r=desktop-theme-reviewers,dao
  toolkit/content/widgets/menu.js
  toolkit/content/xul.css
  toolkit/themes/linux/global/menu.css
  toolkit/themes/osx/global/menu.css
  toolkit/themes/shared/menu-shared.css
  toolkit/themes/windows/global/menu.css
Due: eslint, stylelint, file-whitespace

Bug 1958213 - Unify menu styling a bit more. r=dao,desktop-theme-reviewers
  toolkit/themes/linux/global/menu.css
  toolkit/themes/osx/global/menu.css
  toolkit/themes/shared/menu-shared.css
  toolkit/themes/windows/global/menu.css
Due: stylelint, file-whitespace

Bug 1955534 - Do not use AsyncShutdown.quitApplicationGranted in SessionStore. r=sessionstore-reviewers,dwalker
  browser/components/sessionstore/SessionStore.sys.mjs
Due: eslint

Bug 1957934 - Part 1: Rename ReadableStreamController to ReadableStreamControllerBase r=webidl,smaug
  dom/docs/streams.md
  dom/media/webrtc/jsapi/RTCRtpScriptTransformer.cpp
  dom/media/webrtc/jsapi/RTCRtpScriptTransformer.h
  dom/streams/ReadableByteStreamController.cpp
  dom/streams/ReadableByteStreamController.h
  dom/streams/ReadableStream.cpp
  dom/streams/ReadableStream.h
  dom/streams/ReadableStreamBYOBRequest.cpp
  dom/streams/ReadableStreamControllerBase.h
  dom/streams/ReadableStreamDefaultController.cpp
  dom/streams/ReadableStreamDefaultController.h
  dom/streams/ReadableStreamDefaultReader.cpp
  dom/streams/ReadableStreamTee.cpp
  dom/streams/ReadableStreamTee.h
  dom/streams/Transferable.cpp
  dom/streams/TransformStream.cpp
  dom/streams/UnderlyingSourceCallbackHelpers.cpp
  dom/streams/UnderlyingSourceCallbackHelpers.h
  dom/streams/moz.build
  dom/webtransport/api/WebTransportDatagramDuplexStream.cpp
  dom/webtransport/api/WebTransportDatagramDuplexStream.h
  dom/webtransport/api/WebTransportStreams.cpp
  dom/webtransport/api/WebTransportStreams.h
Due: py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1957934 - Part 3: Rename UniFFIScaffoldingValue to OwningUniFFIScaffoldingValue r=webidl,smaug
  toolkit/components/uniffi-js/ScaffoldingConverter.h
  toolkit/components/uniffi-js/UniFFICall.cpp
  toolkit/components/uniffi-js/UniFFICall.h
  toolkit/components/uniffi-js/UniFFIGeneratedScaffolding.cpp
  toolkit/components/uniffi-js/UniFFIScaffolding.cpp
  toolkit/components/uniffi-js/UniFFIScaffolding.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1958219. Remove some unused scroll parent fields. r=layout-reviewers,emilio
  layout/painting/nsDisplayList.cpp
  layout/painting/nsDisplayList.h
  layout/tables/nsTableFrame.cpp
  layout/tables/nsTableFrame.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1958437 - Replace getPixel with Bitmap.get(). r=geckoview-reviewers,android-reviewers,ohall
  mobile/android/android-components/components/support/ktx/src/main/java/mozilla/components/support/ktx/android/graphics/Bitmap.kt
  mobile/android/android-components/components/support/ktx/src/test/java/mozilla/components/support/ktx/android/graphics/BitmapKtTest.kt
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/helpers/Assert.kt
  mobile/android/geckoview/src/androidTest/java/org/mozilla/geckoview/test/ExtensionActionTest.kt
  mobile/android/geckoview/src/androidTest/java/org/mozilla/geckoview/test/PdfCreationTest.kt
  mobile/android/geckoview/src/androidTest/java/org/mozilla/geckoview/test/PrintDelegateTest.kt
Due: none

Bug 1958437 - Replace createScaledBitmap with Bitmap.scale(). r=geckoview-reviewers,ohall
  mobile/android/geckoview/src/androidTest/java/org/mozilla/geckoview/test/PdfCreationTest.kt
  mobile/android/geckoview/src/androidTest/java/org/mozilla/geckoview/test/PrintDelegateTest.kt
Due: none

Bug 1956758 - Fix a typo in a test.
  browser/components/extensions/test/browser/browser_ext_tabs_hide.js
Due: eslint

Bug 1958396 - Fix arrow / acceltext alignment on Windows after recent changes. r=desktop-theme-reviewers,Itiel
  toolkit/themes/shared/menu-shared.css
Due: stylelint, file-whitespace

Bug 1958112 - block Qihoo chromesafe64.dll versions to avoid crashes r=yjuglaret,win-reviewers
  toolkit/xre/dllservices/mozglue/WindowsDllBlocklistDefs.in
Due: none

No bug - Tagging 901cf77298fcbbe79b2764087ffccb02613cb460 with FIREFOX-ANDROID_138_0b3_BUILD1 a=release CLOSED TREE DONTBUILD
  .hgtags
Due: none

No bug - Tagging 901cf77298fcbbe79b2764087ffccb02613cb460 with FIREFOX_138_0b3_BUILD1 a=release CLOSED TREE DONTBUILD
  .hgtags
Due: none

No bug - Tagging 901cf77298fcbbe79b2764087ffccb02613cb460 with DEVEDITION_138_0b3_BUILD1 a=release CLOSED TREE DONTBUILD
  .hgtags
Due: none

Bug 1958287 - Enable hidden=until-found on Nightly. r=dom-core,webidl,edgar
  dom/tests/mochitest/general/test_interfaces.js
  modules/libpref/init/StaticPrefList.yaml
Due: eslint, yaml

Bug 1958323 - Add support unboxing Java Long to jlong r=geckoview-reviewers,nalexander
  widget/android/bindings/JavaBuiltins-classes.txt
  widget/android/jni/Conversions.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

No bug - Tagging 901cf77298fcbbe79b2764087ffccb02613cb460 with FIREFOX-ANDROID_138_0b3_RELEASE a=release CLOSED TREE DONTBUILD
  .hgtags
Due: none

Automatic version bump CLOSED TREE NO BUG a=release DONTBUILD
  browser/config/version_display.txt
  mobile/android/version.txt
Due: none

Bug 1957554 - add sort predicate for path column r=devtools-reviewers,jdescottes
  devtools/client/netmonitor/src/utils/sort-predicates.js
  devtools/client/netmonitor/test/browser_net_sort-02.js
Due: eslint

No bug - Tagging 901cf77298fcbbe79b2764087ffccb02613cb460 with FIREFOX_138_0b3_RELEASE a=release CLOSED TREE DONTBUILD
  .hgtags
Due: none

No bug - Tagging 901cf77298fcbbe79b2764087ffccb02613cb460 with DEVEDITION_138_0b3_RELEASE a=release CLOSED TREE DONTBUILD
  .hgtags
Due: none

Bug 1909470 - Transfer auxv from child processes to crash reporter r=media-playback-reviewers,gsvelto,padenot
  dom/ipc/ContentParent.cpp
  dom/ipc/ContentParent.h
  dom/ipc/PContent.ipdl
  dom/media/gmp/PGMP.ipdl
  dom/media/ipc/PRDD.ipdl
  gfx/ipc/PGPU.ipdl
  gfx/vr/ipc/PVR.ipdl
  ipc/glue/CrashReporterClient.cpp
  ipc/glue/CrashReporterClient.h
  ipc/glue/CrashReporterHelper.h
  ipc/glue/CrashReporterHost.cpp
  ipc/glue/CrashReporterHost.h
  ipc/glue/PUtilityProcess.ipdl
  netwerk/ipc/PSocketProcess.ipdl
  toolkit/crashreporter/breakpad-client/linux/crash_generation/crash_generation_server.cc
  toolkit/crashreporter/breakpad-client/linux/crash_generation/crash_generation_server.h
  toolkit/crashreporter/breakpad-client/linux/handler/exception_handler.cc
  toolkit/crashreporter/breakpad-client/linux/handler/exception_handler.h
  toolkit/crashreporter/ipc/CrashReporterInitArgs.ipdlh
  toolkit/crashreporter/moz.build
  toolkit/crashreporter/nsExceptionHandler.cpp
  toolkit/crashreporter/nsExceptionHandler.h
  toolkit/crashreporter/rust_minidump_writer_linux/src/lib.rs
Due: py-black, clang-format, rustfmt, mingw-capitalization, mscom-init, file-whitespace, trojan-source
