Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: python-test, combine-en-US-translations, push-en-US-translations, eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

python-test:
  stage: test
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: /var/tmp/mozbuild
  cache:
    paths:
    - node_modules
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  script:
  - ./mach configure --with-base-browser-version=0.0.0
  - ./mach python-test --subsuite base-browser

combine-en-US-translations:
  stage: update-translations
  variables:
    COMBINED_FILES_JSON: combined-translation-files.json
    TRANSLATION_FILES: ''
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  needs: []
  image: python
  cache:
    paths:
    - .cache/pip
  artifacts:
    paths:
    - $COMBINED_FILES_JSON
    expire_in: 60 min
    reports:
  ...

push-en-US-translations:
  stage: update-translations
  variables:
    COMBINED_FILES_JSON: combined-translation-files.json
    TRANSLATION_FILES: ''
    COMBINED_FILES_JSON_URL: ${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/jobs/${COMBINE_TRANSLATIONS_JOB_ID}/artifacts/${COMBINED_FILES_JSON}
  needs:
  - job: combine-en-US-translations
  ...

eslint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

stylelint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

py-black:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

py-ruff:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

yaml:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

shellcheck:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

MB 37: Customization for the about dialog
  browser/base/content/aboutDialog.xhtml
  tools/lint/fluent-lint/exclusions.yml
Due: eslint, yaml, fluent-lint, file-whitespace

MB 97: Remove UI cues to install new extensions.
  toolkit/mozapps/extensions/content/aboutaddons.css
Due: stylelint, file-whitespace

MB 47: uBlock Origin customization
  toolkit/components/extensions/child/ext-storage.js
  toolkit/components/extensions/parent/ext-storage.js
Due: eslint

MB 21: Disable the password manager
  browser/base/content/appmenu-viewcache.inc.xhtml
  browser/base/content/nsContextMenu.sys.mjs
  browser/base/content/pageinfo/pageInfo.xhtml
  browser/components/BrowserGlue.sys.mjs
  browser/components/DesktopActorRegistry.sys.mjs
  browser/components/about/AboutRedirector.cpp
  browser/components/about/components.conf
  browser/components/moz.build
  browser/components/preferences/privacy.inc.xhtml
  toolkit/components/passwordmgr/LoginHelper.sys.mjs
Due: eslint, py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

MB 79: Add Mullvad Browser MAR signing keys
  toolkit/mozapps/update/updater/nightly_aurora_level3_primary.der
  toolkit/mozapps/update/updater/nightly_aurora_level3_secondary.der
  toolkit/mozapps/update/updater/release_primary.der
  toolkit/mozapps/update/updater/release_secondary.der
Due: none

MB 34: Hide unsafe and unwanted preferences UI
  browser/components/preferences/privacy.inc.xhtml
  browser/components/preferences/search.inc.xhtml
Due: eslint, file-whitespace

MB 112: Updater customization for Mullvad Browser
  browser/app/profile/000-mullvad-browser.js
  browser/components/BrowserContentHandler.sys.mjs
  browser/installer/windows/nsis/updater_append.ini
  toolkit/mozapps/extensions/AddonManager.sys.mjs
  toolkit/xre/nsAppRunner.cpp
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

MB 160: Disable the cookie exceptions button
  browser/components/preferences/privacy.js
Due: eslint

MB 188: Customize Gitlab Issue and Merge templates
  .gitlab/issue_templates/000 Bug Report.md
  .gitlab/issue_templates/010 Proposal.md
  .gitlab/issue_templates/020 Web Compatibility.md
  .gitlab/issue_templates/030 Test.md
  .gitlab/issue_templates/040 Feature.md
  .gitlab/issue_templates/061 Rebase - Stable.md
  .gitlab/issue_templates/090 Emergency Security Issue.md
  .gitlab/issue_templates/Rebase Browser - Alpha.md
  .gitlab/issue_templates/Rebase Browser - Rapid.md
  .gitlab/issue_templates/Rebase Browser - Stable.md
  .gitlab/merge_request_templates/Default.md
  .gitlab/merge_request_templates/Rebase.md
Due: file-whitespace

MB 163: prevent uBlock Origin from being uninstalled/disabled
  toolkit/mozapps/extensions/internal/XPIDatabase.sys.mjs
Due: eslint

fixup! MB 188: Customize Gitlab Issue and Merge templates
  .gitlab/issue_templates/Rebase Browser - Alpha.md
  .gitlab/issue_templates/Rebase Browser - Rapid.md
  .gitlab/issue_templates/Rebase Browser - Stable.md
Due: file-whitespace

fixup! MB 188: Customize Gitlab Issue and Merge templates
  .gitlab/issue_templates/060 Rebase - Alpha.md
  .gitlab/issue_templates/061 Rebase - Stable.md
  .gitlab/issue_templates/063 Rebase - Rapid.md
Due: file-whitespace

fixup! MB 213: Customize the search engines list
  toolkit/components/search/content/mullvadBrowserSearchEngineIcons.json
  toolkit/components/search/content/startpage.png
Due: eslint

MB 213: Customize the search engines list
  toolkit/components/search/SearchService.sys.mjs
  toolkit/components/search/content/brave.svg
  toolkit/components/search/content/metager.ico
  toolkit/components/search/content/mojeek.ico
  toolkit/components/search/content/mullvad-leta.svg
  toolkit/components/search/content/mullvadBrowserSearchEngineIcons.json
  toolkit/components/search/content/mullvadBrowserSearchEngines.json
  toolkit/components/search/content/startpage.png
Due: eslint

fixup! MB 213: Customize the search engines list
  toolkit/components/search/SearchService.sys.mjs
Due: eslint

amend! MB 213: Customize the search engines list
  toolkit/components/search/content/base-browser-search-engine-icons.json
  toolkit/components/search/content/base-browser-search-engines.json
  toolkit/components/search/content/mullvadBrowserSearchEngineIcons.json
  toolkit/components/search/content/mullvadBrowserSearchEngines.json
Due: eslint

MB 80: Enable Mullvad Browser as a default browser
  browser/components/preferences/main.js
  browser/components/shell/ShellService.sys.mjs
  browser/components/shell/WindowsDefaultBrowser.cpp
  browser/components/shell/nsWindowsShellService.cpp
  other-licenses/nsis/Contrib/ApplicationID/Makefile
  other-licenses/nsis/Contrib/ApplicationID/Set.cpp
  other-licenses/nsis/Contrib/CityHash/Makefile
  toolkit/mozapps/defaultagent/EventLog.h
  toolkit/mozapps/defaultagent/SetDefaultBrowser.cpp
  widget/windows/WinTaskbar.cpp
  widget/windows/moz.build
Due: eslint, py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

MB 320: Temporarily disable WebRTC and WDBA on Windows.
  mozconfig-windows-x86_64
Due: none

MB 214: Enable cross-tab identity leak protection in "quiet" mode
  toolkit/components/securitylevel/SecurityLevel.sys.mjs
Due: eslint

MB 329: Customize toolbar for mullvad-browser.
  browser/components/customizableui/CustomizableUI.sys.mjs
Due: eslint

fixup! MB 419: Mullvad Browser migration procedures.
  browser/components/BrowserGlue.sys.mjs
  browser/components/ProfileDataUpgrader.sys.mjs
Due: eslint

MB 419: Mullvad Browser migration procedures.
  browser/components/BrowserGlue.sys.mjs
Due: eslint

Bug 1665334, r=mconley,fluent-reviewers,bolsson
  browser/locales/en-US/browser/webrtcIndicator.ftl
  browser/modules/webrtcUI.sys.mjs
Due: combine-en-US-translations, push-en-US-translations, eslint, fluent-lint, file-whitespace

Bug 1970490: Use loading principal (rather than triggering principal) for CORS checks, by default. a=RyanVM
  dom/security/nsContentSecurityManager.cpp
  modules/libpref/init/StaticPrefList.yaml
Due: yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1974025 - Check scheme into Intent data. r=geckoview-reviewers,tcampbell,nalexander a=RyanVM
  mobile/android/geckoview/src/main/java/org/mozilla/gecko/util/IntentUtils.java
Due: file-whitespace

Bug 1979502 - Check slices vector not empty before accessing the last slice r=sfink a=RyanVM
  js/src/gc/Statistics.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1980788 - Use std::size rather than hardcoding an array size a=RyanVM DONTBUILD
  gfx/2d/FilterProcessingScalar.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1981283. r=ahale a=RyanVM
  dom/canvas/WebGLContext.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1982763 - Re-add `CLONE_NEWIPC` to the Linux GMP sandbox. a=RyanVM
  security/sandbox/linux/launch/SandboxLaunch.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1984825. r=jnicol a=RyanVM
  gfx/2d/InlineTranslator.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1985067. r=jnicol a=RyanVM
  layout/printing/PrintTranslator.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1986185. r=aosmond a=RyanVM
  gfx/layers/ipc/CanvasTranslator.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Revert "Bug 1986185. r=aosmond a=RyanVM"
  gfx/layers/ipc/CanvasTranslator.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1913773 - Ensure mCurrentShmem is valid. r=aosmond
  gfx/layers/ipc/CanvasTranslator.cpp
  gfx/layers/ipc/CanvasTranslator.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

fixup! Bug 1913773 - Ensure mCurrentShmem is valid. r=aosmond
  gfx/layers/ipc/CanvasTranslator.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

fixup! Firefox preference overrides.
  browser/app/profile/001-base-profile.js
Due: eslint

Path conditions:
  python-test: any of: **/test_*.py
  combine-en-US-translations: any of: **/*.ftl, **/*.properties, **/*.dtd, **/*strings.xml, **/update-translations.yml, **/l10n/combine/combine.py, **/l10n/combine-translation-versions.py
  push-en-US-translations: any of: **/*.ftl, **/*.properties, **/*.dtd, **/*strings.xml, **/update-translations.yml, **/l10n/combine/combine.py, **/l10n/combine-translation-versions.py
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, **/*.java, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml
