Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: combine-en-US-translations, push-en-US-translations, eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Path conditions:
  combine-en-US-translations: any of: **/*.ftl, **/*.properties, **/*.dtd, **/*strings.xml, **/update-translations.yml, **/l10n/combine/combine.py, **/l10n/combine-translation-versions.py
  push-en-US-translations: any of: **/*.ftl, **/*.properties, **/*.dtd, **/*strings.xml, **/update-translations.yml, **/l10n/combine/combine.py, **/l10n/combine-translation-versions.py
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, **/*.java, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml

Bug 1968391 - Fix unintended behavior change of alert notification origin. r=jfkthame
  widget/windows/nsLookAndFeel.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1881701 - Configure testing/mochitest/tests/Harness_sanity/ test setup with eslintrc-test-paths rather than its own .eslintrc.js set-up. r=frontend-codestyle-reviewers,Gijs
  .eslintrc-test-paths.js
  testing/mochitest/tests/Harness_sanity/.eslintrc.js
Due: eslint

Bug 1881701 - Add some utility functions to eslint-plugin-mozilla to support flat config processing. r=frontend-codestyle-reviewers,Gijs
  tools/lint/eslint.yml
  tools/lint/eslint/eslint-plugin-mozilla/lib/configs/recommended.js
  tools/lint/eslint/eslint-plugin-mozilla/lib/helpers.js
  tools/lint/eslint/eslint-plugin-mozilla/lib/index.js
Due: eslint, yaml, test-manifest

Bug 1881701 - Change new .eslintrc.mjs files to modules (toolkit/), and export as flat config. r=frontend-codestyle-reviewers,extension-reviewers,credential-management-reviewers,Gijs,mossop,dimi,robwu
  toolkit/.eslintrc.mjs
  toolkit/components/antitracking/test/browser/.eslintrc.mjs
  toolkit/components/extensions/.eslintrc.mjs
  toolkit/components/extensions/child/.eslintrc.mjs
  toolkit/components/extensions/parent/.eslintrc.mjs
  toolkit/components/extensions/test/browser/.eslintrc.mjs
  toolkit/components/extensions/test/mochitest/.eslintrc.mjs
  toolkit/components/extensions/test/xpcshell/.eslintrc.mjs
  toolkit/components/extensions/test/xpcshell/webidl-api/.eslintrc.mjs
  toolkit/components/narrate/.eslintrc.mjs
  toolkit/components/normandy/test/.eslintrc.mjs
  toolkit/components/passwordmgr/test/browser/.eslintrc.mjs
  toolkit/components/passwordmgr/test/mochitest/.eslintrc.mjs
  toolkit/components/prompts/test/.eslintrc.mjs
  toolkit/components/reader/.eslintrc.mjs
  toolkit/content/.eslintrc.mjs
  toolkit/modules/subprocess/.eslintrc.mjs
  toolkit/mozapps/extensions/.eslintrc.mjs
  toolkit/mozapps/extensions/test/browser/.eslintrc.mjs
  toolkit/mozapps/extensions/test/xpcshell/.eslintrc.mjs
Due: eslint

Bug 1881701 - Switch the main ESLint configuration to use the flat configuration. r=frontend-codestyle-reviewers,Gijs
  .prettierignore
  eslint-file-globals.config.mjs
  eslint-rollouts.config.mjs
  eslint-subdirs.config.mjs
  eslint.config.mjs
  moz.build
  tools/lint/eslint/__init__.py
  tools/lint/rejected-words.yml
Due: eslint, py-black, py-ruff, yaml, file-whitespace, test-manifest, trojan-source

Bug 1881701 - Change how ESLint valid/require-jsdoc configurations are applied, so that the config is applied before sub-configs. r=frontend-codestyle-reviewers,mossop
  eslint-rollouts.config.mjs
  eslint.config.mjs
Due: eslint

Bug 1881701 - Fix ESLint issues shown up by improved configuration application. r=frontend-codestyle-reviewers,application-update-reviewers,credential-management-reviewers,bytesized,dimi
  browser/extensions/formautofill/test/browser/heuristics/third_party/browser_Euronics.js
  browser/extensions/formautofill/test/browser/heuristics/third_party/browser_Inkbox.js
  toolkit/components/nimbus/test/python/dump-targeting-context.js
  toolkit/components/promiseworker/PromiseWorker.sys.mjs
  toolkit/mozapps/update/tests/data/xpcshellUtilsAUS.js
Due: eslint

Bug 1881701 - Add toolkit/modules/third_party to ThirdPartyPaths.txt. r=frontend-codestyle-reviewers,mossop
  .prettierignore
  tools/rewriting/ThirdPartyPaths.txt
Due: none

Bug 1881701 - Automatically fix new issues raised in devtools. r=devtools-reviewers,frontend-codestyle-reviewers,mossop,nchevobbe
  devtools/.eslintrc.mjs
  devtools/client/debugger/src/client/firefox.js
  devtools/client/debugger/src/reducers/sources-tree.js
  devtools/client/debugger/src/reducers/tracer-frames.js
  devtools/client/debugger/src/selectors/pause.js
  devtools/client/shared/components/object-inspector/components/ObjectInspector.js
  devtools/client/shared/components/object-inspector/reducer.js
  devtools/client/shared/components/object-inspector/utils/load-properties.js
  devtools/client/shared/components/object-inspector/utils/node.js
  devtools/server/actors/object/previewers.js
  devtools/server/actors/object/property-iterator.js
  devtools/shared/tests/objects/JSObjectsTestUtils.sys.mjs
Due: eslint

Bug 1881701 - Fix remainder of newly raised devtools issues after switching to the ESLint flat config. r=devtools-reviewers,frontend-codestyle-reviewers,mossop,nchevobbe
  .eslintrc-test-paths.js
  devtools/.eslintrc.mjs
  devtools/client/debugger/src/utils/bootstrap.js
  devtools/client/shared/build/build-debugger.js
  devtools/client/shared/build/build.js
  devtools/client/shared/components/object-inspector/actions.js
  devtools/client/shared/components/object-inspector/components/ObjectInspector.js
  devtools/client/shared/components/object-inspector/utils/node.js
  devtools/server/actors/object/previewers.js
  devtools/server/actors/object/property-iterator.js
  devtools/server/actors/object/utils.js
  devtools/shared/commands/object/object-command.js
  devtools/shared/commands/object/tests/browser_object.js
  devtools/shared/tests/objects/AllJavascriptTypes.mjs
  devtools/shared/tests/objects/JSObjectsTestUtils.sys.mjs
Due: eslint

Bug 1881701 - Fix python tests related to the ESLint linter. r=linter-reviewers,frontend-codestyle-reviewers,sylvestre
  tools/lint/eslint/__init__.py
  tools/lint/test/files/eslint/test-eslint.config.mjs
  tools/lint/test/test_eslint.py
  tools/lint/test/test_file_license.py
Due: eslint, py-black, py-ruff, file-whitespace, trojan-source

Bug 1881701 - Move ESLint ignores and test paths to be module files as well. r=frontend-codestyle-reviewers,devtools-reviewers,Gijs,nchevobbe
  .prettierignore
  devtools/docs/contributor/contributing/eslint.md
  docs/code-quality/lint/linters/eslint.rst
  eslint-ignores.config.mjs
  eslint-test-paths.config.mjs
  eslint.config.mjs
  mots.yaml
Due: eslint, yaml, file-whitespace

No Bug - Bumping Firefox l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  browser/locales/l10n-changesets.json
Due: eslint

No Bug - Bumping Mobile l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  mobile/locales/l10n-changesets.json
Due: eslint

Bug 1909020 - Make `createDragEventObject()` in `EventUtils.js` aware of HiDPI environments r=smaug
  editor/libeditor/tests/test_dragdrop.html
  layout/base/tests/mochitest.toml
  layout/base/tests/test_synthmousemove_after_dnd.html
  testing/mochitest/tests/SimpleTest/EventUtils.js
Due: eslint, file-whitespace

No Bug - Import translations from https://github.com/mozilla-l10n/android-l10n CLOSED TREE
  mobile/android/android-components/components/browser/engine-system/src/main/res/values-fa/strings.xml
  mobile/android/android-components/components/browser/errorpages/src/main/res/values-bqi/strings.xml
  mobile/android/android-components/components/compose/browser-toolbar/src/main/res/values-et/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-bqi/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-hr/strings.xml
  mobile/android/fenix/app/src/main/res/values-bqi/strings.xml
  mobile/android/fenix/app/src/main/res/values-es-rAR/strings.xml
  mobile/android/fenix/app/src/main/res/values-es/strings.xml
  mobile/android/fenix/app/src/main/res/values-et/strings.xml
  mobile/android/fenix/app/src/main/res/values-fa/strings.xml
  mobile/android/fenix/app/src/main/res/values-fy-rNL/strings.xml
  mobile/android/fenix/app/src/main/res/values-hr/strings.xml
  mobile/android/fenix/app/src/main/res/values-hu/strings.xml
  mobile/android/fenix/app/src/main/res/values-hy-rAM/strings.xml
  mobile/android/fenix/app/src/main/res/values-ia/strings.xml
  mobile/android/fenix/app/src/main/res/values-it/strings.xml
  mobile/android/fenix/app/src/main/res/values-iw/strings.xml
  mobile/android/fenix/app/src/main/res/values-kab/strings.xml
  mobile/android/fenix/app/src/main/res/values-ml/strings.xml
  mobile/android/fenix/app/src/main/res/values-nb-rNO/strings.xml
  mobile/android/fenix/app/src/main/res/values-nl/strings.xml
  mobile/android/fenix/app/src/main/res/values-nn-rNO/strings.xml
  mobile/android/fenix/app/src/main/res/values-sl/strings.xml
  mobile/android/fenix/app/src/main/res/values-tg/strings.xml
  mobile/android/fenix/app/src/main/res/values-tr/strings.xml
  mobile/android/fenix/app/src/main/res/values-ug/strings.xml
  mobile/android/fenix/app/src/main/res/values-zh-rTW/strings.xml
Due: combine-en-US-translations, push-en-US-translations, eslint

Bug 1967673 - [devtools] Don't omit valid safe getter undefined values in _findSafeGetterValues. r=devtools-reviewers,jdescottes
  devtools/client/webconsole/test/browser/_webconsole.toml
  devtools/client/webconsole/test/browser/browser_webconsole_previewers_https.js
  devtools/server/actors/object.js
  devtools/shared/tests/objects/AllJavascriptTypes.mjs
Due: eslint

Revert "Bug 1967673 - [devtools] Don't omit valid safe getter undefined values in _findSafeGetterValues. r=devtools-reviewers,jdescottes" for causing failures with "1 not in success codes: [0] "
  devtools/client/webconsole/test/browser/_webconsole.toml
  devtools/client/webconsole/test/browser/browser_webconsole_previewers_https.js
  devtools/server/actors/object.js
  devtools/shared/tests/objects/AllJavascriptTypes.mjs
Due: eslint

Bug 1967673 - [devtools] Don't omit valid safe getter undefined values in _findSafeGetterValues. r=devtools-reviewers,jdescottes DONTBUILD
  devtools/client/webconsole/test/browser/_webconsole.toml
  devtools/client/webconsole/test/browser/browser_webconsole_previewers_https.js
  devtools/server/actors/object.js
  devtools/shared/tests/objects/AllJavascriptTypes.mjs
Due: eslint

Bug 1967551 - Remove native tabbox support. r=desktop-theme-reviewers,mac-reviewers,win-reviewers,tabbrowser-reviewers,gstoll,mstange,dao
  browser/themes/osx/browser.css
  browser/themes/shared/tabbrowser/tabs.css
  servo/components/style/values/specified/box.rs
  toolkit/themes/linux/global/jar.mn
  toolkit/themes/osx/global/jar.mn
  toolkit/themes/osx/global/tabbox.css
  toolkit/themes/shared/desktop-jar.inc.mn
  toolkit/themes/shared/in-content/common-shared.css
  toolkit/themes/shared/tabbox.css
  toolkit/themes/windows/global/jar.mn
  toolkit/themes/windows/global/tabbox.css
  widget/cocoa/nsNativeThemeCocoa.h
  widget/cocoa/nsNativeThemeCocoa.mm
  widget/windows/nsNativeThemeWin.cpp
Due: stylelint, clang-format, rustfmt, mingw-capitalization, mscom-init, file-whitespace, trojan-source

No Bug - Import translations from https://github.com/mozilla-l10n/android-l10n CLOSED TREE
  mobile/android/android-components/components/compose/base/src/main/res/values-in/strings.xml
  mobile/android/android-components/components/compose/browser-toolbar/src/main/res/values-es-rES/strings.xml
  mobile/android/android-components/components/compose/browser-toolbar/src/main/res/values-in/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-bqi/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-hr/strings.xml
  mobile/android/android-components/components/feature/downloads/src/main/res/values-hr/strings.xml
  mobile/android/android-components/components/feature/downloads/src/main/res/values-in/strings.xml
  mobile/android/android-components/components/feature/privatemode/src/main/res/values-hr/strings.xml
  mobile/android/fenix/app/src/main/res/values-bqi/strings.xml
  mobile/android/fenix/app/src/main/res/values-es-rES/strings.xml
  mobile/android/fenix/app/src/main/res/values-et/strings.xml
  mobile/android/fenix/app/src/main/res/values-hr/strings.xml
  mobile/android/fenix/app/src/main/res/values-in/strings.xml
  mobile/android/fenix/app/src/main/res/values-is/strings.xml
  mobile/android/fenix/app/src/main/res/values-kk/strings.xml
  mobile/android/fenix/app/src/main/res/values-nn-rNO/strings.xml
  mobile/android/fenix/app/src/main/res/values-sv-rSE/strings.xml
  mobile/android/fenix/app/src/main/res/values-tr/strings.xml
  mobile/android/fenix/app/src/main/res/values-vi/strings.xml
Due: combine-en-US-translations, push-en-US-translations, eslint

No Bug - Import translations from main
  mobile/android/android-components/components/browser/engine-system/src/main/res/values-fa/strings.xml
  mobile/android/android-components/components/browser/errorpages/src/main/res/values-bqi/strings.xml
  mobile/android/android-components/components/compose/browser-toolbar/src/main/res/values-et/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-bqi/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-hr/strings.xml
  mobile/android/fenix/app/src/main/res/values-bqi/strings.xml
  mobile/android/fenix/app/src/main/res/values-es-rAR/strings.xml
  mobile/android/fenix/app/src/main/res/values-es/strings.xml
  mobile/android/fenix/app/src/main/res/values-et/strings.xml
  mobile/android/fenix/app/src/main/res/values-fa/strings.xml
  mobile/android/fenix/app/src/main/res/values-fy-rNL/strings.xml
  mobile/android/fenix/app/src/main/res/values-hr/strings.xml
  mobile/android/fenix/app/src/main/res/values-hu/strings.xml
  mobile/android/fenix/app/src/main/res/values-hy-rAM/strings.xml
  mobile/android/fenix/app/src/main/res/values-ia/strings.xml
  mobile/android/fenix/app/src/main/res/values-it/strings.xml
  mobile/android/fenix/app/src/main/res/values-iw/strings.xml
  mobile/android/fenix/app/src/main/res/values-kab/strings.xml
  mobile/android/fenix/app/src/main/res/values-ml/strings.xml
  mobile/android/fenix/app/src/main/res/values-nb-rNO/strings.xml
  mobile/android/fenix/app/src/main/res/values-nl/strings.xml
  mobile/android/fenix/app/src/main/res/values-nn-rNO/strings.xml
  mobile/android/fenix/app/src/main/res/values-sl/strings.xml
  mobile/android/fenix/app/src/main/res/values-tg/strings.xml
  mobile/android/fenix/app/src/main/res/values-tr/strings.xml
  mobile/android/fenix/app/src/main/res/values-ug/strings.xml
  mobile/android/fenix/app/src/main/res/values-zh-rTW/strings.xml
Due: combine-en-US-translations, push-en-US-translations, eslint

Bug 1967805: use a modIterator for cancellable tasks;r=iain,arai
  js/src/vm/OffThreadPromiseRuntimeState.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1967805: add test for cancellables held past shutdown; r=iain
  js/src/jit-test/tests/atomics/bug1967805.js
Due: eslint

No Bug - Bumping Firefox l10n changesets r=release a=l10n-bump CLOSED TREE
  browser/locales/l10n-changesets.json
Due: eslint

No Bug - Bumping mobile l10n changesets r=release a=l10n-bump CLOSED TREE
  mobile/locales/l10n-changesets.json
Due: eslint

Automatic version bump NO BUG a=release CLOSED TREE
  browser/config/version.txt
  browser/config/version_display.txt
  config/milestone.txt
  mobile/android/version.txt
Due: none

No Bug - Update configs after merge day operations
  .arcconfig
  CLOBBER
  browser/config/mozconfigs/linux32/l10n-mozconfig
  browser/config/mozconfigs/linux64/l10n-mozconfig
  browser/config/mozconfigs/macosx64/l10n-mozconfig
  browser/config/mozconfigs/win32/l10n-mozconfig
  browser/config/mozconfigs/win64-aarch64/l10n-mozconfig
  browser/config/mozconfigs/win64/l10n-mozconfig
Due: none

No bug - Switch to Application Services Release. a=me
  mobile/android/android-components/plugins/dependencies/src/main/java/ApplicationServices.kt
Due: none

Bug 1889130 - block http requests on 0.0.0.0 address. r=necko-reviewers,valentin,kershaw
  modules/libpref/init/StaticPrefList.yaml
  netwerk/base/nsIOService.cpp
  netwerk/base/nsSocketTransport2.cpp
  netwerk/test/unit/trr_common.js
Due: eslint, yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

fixup! Firefox preference overrides.
  browser/app/profile/001-base-profile.js
Due: eslint
