Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: combine-en-US-translations, push-en-US-translations, eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

combine-en-US-translations:
  stage: update-translations
  variables:
    COMBINED_FILES_JSON: combined-translation-files.json
    TRANSLATION_FILES: ''
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  needs: []
  image: python
  cache:
    paths:
    - .cache/pip
  artifacts:
    paths:
    - $COMBINED_FILES_JSON
    expire_in: 60 min
    reports:
  ...

push-en-US-translations:
  stage: update-translations
  variables:
    COMBINED_FILES_JSON: combined-translation-files.json
    TRANSLATION_FILES: ''
    COMBINED_FILES_JSON_URL: ${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/jobs/${COMBINE_TRANSLATIONS_JOB_ID}/artifacts/${COMBINED_FILES_JSON}
  needs:
  - job: combine-en-US-translations
  ...

eslint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

stylelint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

py-black:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

py-ruff:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

yaml:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

shellcheck:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

clang-format:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

No Bug, mozilla-esr140 repo-update HSTS HPKP remote-settings tld-suffixes ct-logs - a=dmeehan
  netwerk/dns/effective_tld_names.dat
  security/ct/CTKnownLogs.h
  security/manager/ssl/StaticHPKPins.h
  security/manager/ssl/nsSTSPreloadList.inc
  security/manager/tools/log_list.json
  services/settings/dumps/blocklists/addons-bloomfilters.json
  services/settings/dumps/main/devtools-compatibility-browsers.json
  services/settings/dumps/main/search-telemetry-v2.json
  services/settings/dumps/security-state/intermediates.json
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Revert "Bug 1968040 - Set color-scheme on root based on lwtheme-brighttext. r=emilio,desktop-theme-reviewers" for causing Bug 1971487
  toolkit/themes/shared/global-shared.css
Due: stylelint, file-whitespace

Bug 1974259 - Hold an OwnedHandle in an OverlappedOperation a=dmeehan
  toolkit/crashreporter/crash_helper_common/src/errors.rs
  toolkit/crashreporter/crash_helper_common/src/ipc_connector/windows.rs
  toolkit/crashreporter/crash_helper_common/src/ipc_listener/windows.rs
  toolkit/crashreporter/crash_helper_common/src/platform/windows.rs
Due: rustfmt, file-whitespace, trojan-source

No Bug, mozilla-esr140 repo-update HSTS HPKP remote-settings tld-suffixes ct-logs - a=diannaS
  netwerk/dns/effective_tld_names.dat
  security/ct/CTKnownLogs.h
  security/manager/ssl/StaticHPKPins.h
  security/manager/ssl/nsSTSPreloadList.inc
  security/manager/tools/log_list.json
  services/settings/dumps/blocklists/addons-bloomfilters.json
  services/settings/dumps/main/devtools-compatibility-browsers.json
  services/settings/dumps/main/moz-essential-domain-fallbacks.json
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1971581 - wasm: Align br_table limits with V8. a=pascalc
  js/src/jit-test/tests/asm.js/testControlFlow.js
  js/src/wasm/WasmConstants.h
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1973440 - Fix serialization of light-dark(). r=dshin a=pascalc
  servo/components/style/values/generics/color.rs
  testing/web-platform/tests/css/css-color/parsing/color-valid.html
Due: eslint, rustfmt, file-whitespace, trojan-source

Bug 1944440 - Add esr linux64-aarch64 installers, langpacks, and completes to bouncer check configuration DONTBUILD a=pascalc
  testing/mozharness/configs/releases/bouncer_firefox_esr.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1974076 - Remove the finish setup message and setup checklist auto-open message a=pascalc
  browser/components/asrouter/modules/OnboardingMessageProvider.sys.mjs
Due: eslint

Bug 1973333: Patch. a=pascalc
  js/src/vm/Modules.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1973333 - Test. a=pascalc
  js/src/jit-test/tests/modules/bug-1973333.js
Due: eslint

Bug 1970075 - Relax img-src CSP in alert.xhtml + tests a=pascalc
  dom/security/nsContentSecurityUtils.cpp
  toolkit/components/alerts/alert.xhtml
  toolkit/components/extensions/test/browser/browser.toml
  toolkit/components/extensions/test/browser/browser_ext_notifications_useSystemBackend_false.js
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1959052 - Ensure JS execution is blocked during window.print() when we're using the system UI (rather than printing via the Firefox preview panel). a=pascalc
  dom/base/nsGlobalWindowOuter.cpp
  modules/libpref/init/StaticPrefList.yaml
  modules/libpref/init/all.js
Due: eslint, yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1972814 - Supress warnings while evaluating choices, print if choice is used. a=pascalc
  toolkit/components/extensions/Schemas.sys.mjs
  toolkit/components/extensions/test/xpcshell/test_ext_background_empty.js
  toolkit/components/extensions/test/xpcshell/test_ext_schemas.js
Due: eslint

Bug 1973797 - Update Firefox home policies to remove Pocket name. a=pascalc
  browser/components/enterprisepolicies/Policies.sys.mjs
  browser/components/enterprisepolicies/schemas/policies-schema.json
  browser/components/enterprisepolicies/tests/xpcshell/test_simple_pref_policies.js
Due: eslint

Bug 1975262 - remove hugging chat from chatbot a=pascalc
  browser/components/genai/GenAI.sys.mjs
  browser/components/genai/tests/browser/browser_chat_sidebar.js
Due: eslint

Bug 1973990 - Do not reorder the state transition for async generator yield. a=pascalc
  js/src/vm/AsyncIteration.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1973947 - revert removal of `remove_dir_all` crate a=pascalc
  Cargo.lock
  gfx/webrender_bindings/Cargo.toml
  gfx/webrender_bindings/src/program_cache.rs
  supply-chain/config.toml
  third_party/rust/remove_dir_all/.cargo-checksum.json
  third_party/rust/remove_dir_all/Cargo.toml
  third_party/rust/remove_dir_all/LICENCE-APACHE
  third_party/rust/remove_dir_all/LICENCE-MIT
  third_party/rust/remove_dir_all/README.md
  third_party/rust/remove_dir_all/src/fs.rs
  third_party/rust/remove_dir_all/src/lib.rs
Due: eslint, rustfmt, file-whitespace, trojan-source

Bug 1974490 - Disable enrollment status metric a=pascalc
  toolkit/components/nimbus/metrics.yaml
  toolkit/components/nimbus/test/unit/test_ExperimentManager_enroll.js
  toolkit/components/nimbus/test/unit/test_ExperimentManager_prefs.js
  toolkit/components/nimbus/test/unit/test_ExperimentManager_unenroll.js
  toolkit/components/nimbus/test/unit/test_FirefoxLabs.js
  toolkit/components/nimbus/test/unit/test_RemoteSettingsExperimentLoader_updateRecipes.js
  toolkit/components/nimbus/test/unit/test_nimbusTelemetry.js
  toolkit/components/nimbus/test/unit/test_prefFlips.js
Due: eslint, yaml

No Bug, mozilla-esr140 repo-update HSTS HPKP remote-settings tld-suffixes ct-logs - a=pascalc
  netwerk/dns/effective_tld_names.dat
  security/ct/CTKnownLogs.h
  security/manager/ssl/StaticHPKPins.h
  security/manager/ssl/nsSTSPreloadList.inc
  security/manager/tools/log_list.json
  services/settings/dumps/blocklists/addons-bloomfilters.json
  services/settings/dumps/main/translations-models.json
  services/settings/dumps/security-state/intermediates.json
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1968414 - [devtools] Escape carriage return character properly r=devtools-reviewers,nchevobbe a=pascalc
  devtools/client/netmonitor/test/browser_net_curl-utils.js
  devtools/client/shared/curl.js
Due: eslint

Bug 1971945 - Don't remove margin between back / next buttons on Windows-style wizards. r=desktop-theme-reviewers,dao, a=dmeehan
  toolkit/content/widgets/wizard.js
  toolkit/themes/windows/global/wizard.css
Due: eslint, stylelint, file-whitespace

Bug 1972971 - Add missing invalidation for use_document_fonts pref. r=layout-reviewers,jfkthame a=dmeehan
  layout/style/test/test_dont_use_document_fonts.html
  widget/nsXPLookAndFeel.cpp
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1972100 - Only block sandboxed pdfs handled internally. r=smaug a=dmeehan
  uriloader/base/nsURILoader.cpp
  uriloader/exthandler/tests/mochitest/browser.toml
  uriloader/exthandler/tests/mochitest/browser_pdf_sandboxed_iframe.js
  uriloader/exthandler/tests/mochitest/file_pdf_content_disposition.pdf
  uriloader/exthandler/tests/mochitest/file_pdf_content_disposition.pdf^headers^
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1970991 - Don't apply tab min width styles when tabs are running closing animation r=desktop-theme-reviewers,tabbrowser-reviewers,dao, a=dmeehan
  browser/themes/shared/tabbrowser/tabs.css
Due: stylelint, file-whitespace

Bug 1971094 - [devtools] Update search results when the selected source changes a=dmeehan
  devtools/client/debugger/src/components/Editor/SearchInFileBar.js
  devtools/client/debugger/test/mochitest/browser_dbg-search-file-retains-query.js
  devtools/client/debugger/test/mochitest/shared-head.js
Due: eslint

Bug 1971053 - patch 1 - Minor cleanup in gfxFontGroup. a=dmeehan
  gfx/thebes/gfxTextRun.cpp
  gfx/thebes/gfxTextRun.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1971053 - patch 2 - Prefer to use the specified font from CSS for potentially-emoji characters unless a specific presentation is explicitly requested. a=dmeehan
  gfx/thebes/gfxFcPlatformFontList.cpp
  gfx/thebes/gfxPlatform.h
  gfx/thebes/gfxTextRun.cpp
  gfx/thebes/gfxTextRun.h
  intl/unicharutil/util/nsUnicodeProperties.h
  layout/reftests/font-matching/1971148-digits-color-font-01-ref.html
  layout/reftests/font-matching/1971148-digits-color-font-01.html
  layout/reftests/font-matching/1971148-digits-color-font-02.html
  layout/reftests/font-matching/1971148-digits-color-font-03-ref.html
  layout/reftests/font-matching/1971148-digits-color-font-03.html
  layout/reftests/font-matching/1971148-digits-color-font-04.html
  layout/reftests/font-matching/1971148-digits-color-font-05.html
  layout/reftests/font-matching/1971148-digits-color-font-06.html
  layout/reftests/font-matching/1971148-digits-color-font-07.html
  layout/reftests/font-matching/1971148-digits-color-font-08.html
  layout/reftests/font-matching/reftest.list
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1975961 - Add a missing null-check. r=smaug a=pascalc
  dom/base/nsFocusManager.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1971719 - ESR140: Align more closely with the CSP specification for #strip-url-for-use-in-reports. r=freddyb a=pascalc
  dom/security/nsCSPContext.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1928021 - ESR: Filter on allowed schemes. r=farre a=pascalc
  dom/base/crashtests/344882-1.html
  dom/base/crashtests/crashtests.list
  dom/base/nsObjectLoadingContent.cpp
  dom/base/test/test_bug353334.html
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1933572 - Be more stringent about which SurfaceDescriptors we serialize for moz2d recording IPC. r=tnikkel a=pascalc
  dom/canvas/CanvasRenderingContext2D.cpp
  dom/canvas/CanvasRenderingContextHelper.h
  gfx/2d/RecordedEventImpl.h
  gfx/2d/RecordingTypes.h
  gfx/gl/GLBlitHelper.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1974407 - nsSyncLoadService::LoadDocument should use loadingDocument. r=smaug a=pascalc
  dom/base/nsSyncLoadService.cpp
  dom/base/nsSyncLoadService.h
  dom/xml/nsXMLPrettyPrinter.cpp
  dom/xslt/xml/txXMLParser.cpp
  dom/xslt/xslt/txMozillaStylesheetCompiler.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1960834 - Don't use CORS cache if DNS entry has changed, a=pascalc
  netwerk/dns/DNSRequestChild.cpp
  netwerk/dns/DNSRequestParent.cpp
  netwerk/dns/PDNSRequestParams.ipdlh
  netwerk/dns/nsDNSService2.cpp
  netwerk/dns/nsHostRecord.cpp
  netwerk/dns/nsHostRecord.h
  netwerk/dns/nsHostResolver.cpp
  netwerk/dns/nsIDNSRecord.idl
  netwerk/protocol/http/nsCORSListenerProxy.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1960834 - When proxy is used, skip checking DNS cache, a=pascalc
  netwerk/protocol/http/nsCORSListenerProxy.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1960834 - Test, a=pascalc
  netwerk/base/LoadInfo.cpp
  netwerk/base/TRRLoadInfo.cpp
  netwerk/base/nsILoadInfo.idl
  netwerk/test/unit/test_cors_preflight_dns_cache.js
  netwerk/test/unit/xpcshell.toml
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1422862: Check canvas permission in offscreen canvas. a=pascalc
  dom/canvas/CanvasUtils.cpp
  dom/canvas/CanvasUtils.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1422862: Show canvas permission prompt for offscreen canvases. a=pascalc
  dom/canvas/CanvasUtils.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1918690: Check canvas permission in RandomizePixels function. a=pascalc
  dom/canvas/CanvasRenderingContext2D.cpp
  dom/canvas/CanvasUtils.cpp
  dom/canvas/CanvasUtils.h
  dom/canvas/ClientWebGLContext.cpp
  dom/canvas/ImageBitmapRenderingContext.cpp
  dom/canvas/OffscreenCanvas.cpp
  dom/canvas/OffscreenCanvasDisplayHelper.cpp
  dom/webgpu/CanvasContext.cpp
  gfx/thebes/gfxUtils.cpp
  gfx/thebes/gfxUtils.h
  toolkit/components/resistfingerprinting/nsRFPService.cpp
  toolkit/components/resistfingerprinting/nsRFPService.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1918690: Extend test to also test Offscreen canvases. a=pascalc
  toolkit/components/resistfingerprinting/tests/browser/browser_canvas_randomization_permission.js
Due: eslint

Bug 1422862: Implement IsImageExtractionAllowed_impl. a=pascalc
  dom/canvas/CanvasUtils.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Path conditions:
  combine-en-US-translations: any of: **/*.ftl, **/*.properties, **/*.dtd, **/*strings.xml, **/update-translations.yml, **/l10n/combine/combine.py, **/l10n/combine-translation-versions.py
  push-en-US-translations: any of: **/*.ftl, **/*.properties, **/*.dtd, **/*strings.xml, **/update-translations.yml, **/l10n/combine/combine.py, **/l10n/combine-translation-versions.py
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, **/*.java, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml
