Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: combine-en-US-translations, push-en-US-translations, eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Path conditions:
  combine-en-US-translations: any of: **/*.ftl, **/*.properties, **/*.dtd, **/*strings.xml, **/update-translations.yml, **/l10n/combine/combine.py, **/l10n/combine-translation-versions.py
  push-en-US-translations: any of: **/*.ftl, **/*.properties, **/*.dtd, **/*strings.xml, **/update-translations.yml, **/l10n/combine/combine.py, **/l10n/combine-translation-versions.py
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, **/*.java, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml

BB 43118: Hide feature recommendation (CFR) settings.
  browser/components/preferences/main.js
Due: eslint

BB 33955: When copying an image only copy the image contents to the clipboard
  browser/base/content/browser-context.js
Due: eslint

BB 29745: Limit remote access to content accessible resources
  caps/nsScriptSecurityManager.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Base Browser strings
  browser/base/content/browser.xhtml
  browser/components/preferences/preferences.xhtml
  toolkit/locales-preview/base-browser-no-translate.ftl
  toolkit/locales/en-US/toolkit/global/base-browser.ftl
  toolkit/locales/jar.mn
  toolkit/mozapps/extensions/content/aboutaddons.html
  tools/lint/fluent-lint/exclusions.yml
Due: combine-en-US-translations, push-en-US-translations, eslint, yaml, fluent-lint, file-whitespace

fixup! BB 42583: Modify moz-support-link for Base Browser.
  toolkit/content/widgets/moz-support-link/moz-support-link.mjs
Due: eslint

BB 41369: Improve Firefox language settings for multi-lingual packages
  browser/base/content/browser-main.js
  browser/base/content/languageNotification.js
  browser/base/jar.mn
  browser/components/preferences/main.inc.xhtml
  browser/components/preferences/main.js
Due: eslint, file-whitespace

fixup! BB 32308: Use direct browser sizing for letterboxing.
  toolkit/components/resistfingerprinting/content/letterboxing.css
Due: stylelint, file-whitespace

BB 32308: Use direct browser sizing for letterboxing.
  browser/app/profile/001-base-profile.js
  browser/components/tabbrowser/content/tabbrowser.js
  toolkit/components/resistfingerprinting/RFPHelper.sys.mjs
  toolkit/components/resistfingerprinting/content/letterboxing.css
Due: eslint, stylelint, file-whitespace

BB 41918: Option to reuse last window size when letterboxing is enabled.
  browser/app/profile/001-base-profile.js
  dom/base/nsContentUtils.cpp
  dom/base/nsContentUtils.h
  toolkit/components/resistfingerprinting/RFPHelper.sys.mjs
  toolkit/components/windowwatcher/nsWindowWatcher.cpp
  toolkit/xre/nsAppRunner.cpp
  xpfe/appshell/AppWindow.cpp
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

BB 41919: Letterboxing, add temporarily visible web content-size indicator on window resizing.
  browser/components/tabbrowser/content/tabbrowser.js
  browser/themes/shared/tabbrowser/content-area.css
  toolkit/components/resistfingerprinting/RFPHelper.sys.mjs
Due: eslint, stylelint, file-whitespace

BB 31575: Disable Firefox Home (Activity Stream)
  browser/actors/moz.build
  browser/base/content/browser.js
  browser/base/content/browser.js.globals
  browser/components/BrowserComponents.manifest
  browser/components/BrowserGlue.sys.mjs
  browser/components/DesktopActorRegistry.sys.mjs
  browser/components/about/AboutRedirector.cpp
  browser/components/about/components.conf
  browser/components/moz.build
  browser/components/newtab/AboutHomeStartupCache.sys.mjs
  browser/components/preferences/home.inc.xhtml
  browser/components/preferences/home.js
  browser/modules/AboutNewTab.sys.mjs
  browser/modules/HomePage.sys.mjs
  toolkit/modules/RemotePageAccessManager.sys.mjs
Due: eslint, py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

BB 4234: Use the Firefox Update Process for Base Browser.
  browser/app/Makefile.in
  browser/base/content/aboutDialog.js
  browser/base/content/aboutDialog.xhtml
  browser/base/moz.build
  browser/components/BrowserContentHandler.sys.mjs
  browser/components/customizableui/content/panelUI.inc.xhtml
  browser/components/preferences/main.js
  browser/config/mozconfigs/base-browser
  browser/installer/Makefile.in
  browser/installer/package-manifest.in
  build/application.ini.in
  build/moz.build
  build/moz.configure/init.configure
  build/moz.configure/update-programs.configure
  mozconfig-linux-x86_64-dev
  toolkit/.eslintrc.mjs
  toolkit/components/urlformatter/URLFormatter.sys.mjs
  toolkit/modules/AppConstants.sys.mjs
  toolkit/modules/UpdateUtils.sys.mjs
  toolkit/modules/moz.build
  toolkit/mozapps/extensions/AddonManager.sys.mjs
  toolkit/mozapps/update/UpdateService.sys.mjs
  toolkit/mozapps/update/UpdateServiceStub.sys.mjs
  toolkit/mozapps/update/common/updatehelper.cpp
  toolkit/mozapps/update/updater/launchchild_osx.mm
  toolkit/mozapps/update/updater/updater.cpp
  toolkit/xre/MacLaunchHelper.h
  toolkit/xre/MacLaunchHelper.mm
  toolkit/xre/nsAppRunner.cpp
  toolkit/xre/nsUpdateDriver.cpp
  toolkit/xre/nsXREDirProvider.cpp
Due: eslint, py-black, py-ruff, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

fixup! BB 41581: Hide NoScript extension's toolbar button by default.
  browser/base/content/browser-addons.js
  browser/themes/shared/addons/unified-extensions.css
Due: eslint, stylelint, file-whitespace

BB 40925: Implemented the Security Level component
  browser/base/content/browser-init.js
  browser/base/content/browser.js
  browser/base/content/browser.js.globals
  browser/base/content/browser.xhtml
  browser/base/content/main-popupset.inc.xhtml
  browser/base/content/navigator-toolbox.inc.xhtml
  browser/components/BrowserGlue.sys.mjs
  browser/components/moz.build
  browser/components/preferences/preferences.xhtml
  browser/components/preferences/privacy.inc.xhtml
  browser/components/preferences/privacy.js
  browser/components/securitylevel/SecurityLevelUIUtils.sys.mjs
  browser/components/securitylevel/content/securityLevel.js
  browser/components/securitylevel/content/securityLevelButton.css
  browser/components/securitylevel/content/securityLevelButton.inc.xhtml
  browser/components/securitylevel/content/securityLevelDialog.js
  browser/components/securitylevel/content/securityLevelDialog.xhtml
  browser/components/securitylevel/content/securityLevelIcon.svg
  browser/components/securitylevel/content/securityLevelPanel.css
  browser/components/securitylevel/content/securityLevelPanel.inc.xhtml
  browser/components/securitylevel/content/securityLevelPreferences.css
  browser/components/securitylevel/content/securityLevelPreferences.inc.xhtml
  browser/components/securitylevel/jar.mn
  browser/components/securitylevel/moz.build
  browser/installer/package-manifest.in
  browser/modules/SecurityLevelRestartNotification.sys.mjs
  browser/modules/moz.build
  mobile/android/android-components/components/feature/search/src/main/java/mozilla/components/feature/search/SearchUseCases.kt
  mobile/android/android-components/components/feature/search/src/main/java/mozilla/components/feature/search/ext/SearchEngine.kt
  mobile/android/android-components/components/feature/search/src/main/java/mozilla/components/feature/search/internal/SearchUrlBuilder.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/UseCases.kt
  mobile/android/geckoview/api.txt
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/GeckoRuntimeSettings.java
  mobile/android/installer/package-manifest.in
  toolkit/components/moz.build
  toolkit/components/search/SearchEngine.sys.mjs
  toolkit/components/securitylevel/SecurityLevel.manifest
  toolkit/components/securitylevel/SecurityLevel.sys.mjs
  toolkit/components/securitylevel/components.conf
  toolkit/components/securitylevel/moz.build
Due: eslint, stylelint, py-black, file-whitespace

fixup! BB 40925: Implemented the Security Level component
  browser/components/securitylevel/content/securityLevel.js
  browser/components/securitylevel/content/securityLevelButton.css
  browser/components/securitylevel/content/securityLevelPanel.css
  browser/components/securitylevel/content/securityLevelPanel.inc.xhtml
  browser/components/securitylevel/content/securityLevelPreferences.css
Due: eslint, stylelint, file-whitespace
