Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

eslint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

stylelint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

py-black:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

py-ruff:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

yaml:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

shellcheck:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

clang-format:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

rustfmt:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

fluent-lint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

Bug 1946121 - avoid needing primary password to collect OS auth telemetry, r=mtigley,firefox-desktop-core-reviewers ,mossop
  browser/components/BrowserGlue.sys.mjs
Due: eslint

Bug 1952523 - Update AGP to version 8.9.0. r=android-reviewers,tthibaud
  gradle/libs.versions.toml
  mobile/android/android-components/android-lint.gradle
  mobile/android/fenix/app/build.gradle
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/NotificationManager.kt
  mobile/android/focus-android/app/build.gradle
Due: none

Bug 1952523 - Refresh lint baselines. r=android-reviewers,tthibaud
  mobile/android/fenix/app/lint-baseline.xml
  mobile/android/focus-android/app/lint-baseline.xml
Due: eslint

Bug 1952564 - Fix "Cookies and site data" being set for users when migrating from clear-site-data dialog v2 to v3 (unmerge history and formdata) r=emz
  browser/base/content/test/sanitize/browser_sanitizeOnShutdown_migration.js
  browser/modules/Sanitizer.sys.mjs
Due: eslint

Backed out changeset cbb538a57813 (bug 1952699) for causing valgrid failures. CLOSED TREE
  js/src/jit/BaselineFrame.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1933998 - Retry deleting leftover files in the profile deletion background task r=mossop,profiles-reviewers
  toolkit/profile/nsToolkitProfileService.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1942694 - Move featuregates/ fluent files to firefoxlabs/ r=fluent-reviewers,bolsson,settings-reviewers,Gijs
  browser/components/preferences/preferences.xhtml
  intl/l10n/rust/l10nregistry-tests/benches/registry.rs
  toolkit/locales/en-US/toolkit/firefoxlabs/features.ftl
Due: eslint, rustfmt, fluent-lint, file-whitespace, trojan-source

Bug 1942694 - Remove toolkit/components/featuregates r=settings-reviewers,firefox-desktop-core-reviewers ,frontend-codestyle-reviewers,Gijs,android-reviewers,Roger
  .eslintrc-rollouts.js
  browser/components/BrowserGlue.sys.mjs
  docs/conf.py
  mobile/android/android-components/components/lib/crash/metrics.yaml
  mobile/android/android-components/components/lib/crash/src/main/java/mozilla/components/lib/crash/service/GleanCrashReporterService.kt
  mobile/android/android-components/components/lib/crash/src/test/java/mozilla/components/lib/crash/service/GleanCrashReporterServiceTest.kt
  pyproject.toml
  taskcluster/kinds/source-test/python.yml
  toolkit/components/crashes/CrashManager.in.sys.mjs
  toolkit/components/crashes/metrics.yaml
  toolkit/components/crashes/tests/xpcshell/test_crash_manager.js
  toolkit/components/featuregates/FeatureGate.sys.mjs
  toolkit/components/featuregates/FeatureGateImplementation.sys.mjs
  toolkit/components/featuregates/Features.toml
  toolkit/components/featuregates/docs/index.rst
  toolkit/components/featuregates/gen_feature_definitions.py
  toolkit/components/featuregates/jar.mn
  toolkit/components/featuregates/moz.build
  toolkit/components/featuregates/test/python/data/empty_feature.toml
  toolkit/components/featuregates/test/python/data/good.toml
  toolkit/components/featuregates/test/python/data/invalid_toml.toml
  toolkit/components/featuregates/test/python/python.toml
  toolkit/components/featuregates/test/python/test_gen_feature_definitions.py
  toolkit/components/featuregates/test/unit/head.js
  toolkit/components/featuregates/test/unit/test_FeatureGate.js
  toolkit/components/featuregates/test/unit/test_FeatureGateImplementation.js
  toolkit/components/featuregates/test/unit/xpcshell.toml
  toolkit/components/moz.build
  toolkit/components/telemetry/docs/data/crash-ping.rst
  toolkit/content/aboutSupport.js
  toolkit/content/aboutSupport.xhtml
  toolkit/crashreporter/CrashAnnotations.yaml
  toolkit/crashreporter/client/app/src/net/ping/glean.rs
  toolkit/docs/index.rst
  toolkit/locales/en-US/toolkit/about/aboutSupport.ftl
  toolkit/modules/Troubleshoot.sys.mjs
  toolkit/modules/tests/browser/browser_Troubleshoot.js
  toolkit/toolkit.mozbuild
  tools/lint/test-manifest-toml.yml
Due: eslint, py-black, py-ruff, yaml, rustfmt, fluent-lint, file-whitespace, test-manifest, trojan-source

Bug 1952973. Add CSP for profile downgrade dialog r=profiles-reviewers,mossop
  dom/security/nsContentSecurityUtils.cpp
  toolkit/profile/content/profileDowngrade.js
  toolkit/profile/content/profileDowngrade.xhtml
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1646462 - ship arm64 flatpak repackage. r=releng-reviewers,bhearsum DONTBUILD
  taskcluster/kinds/release-flatpak-push/kind.yml
  taskcluster/kinds/release-secondary-flatpak-push/kind.yml
  taskcluster/kinds/repackage-flatpak/kind.yml
Due: yaml

Bug 1953031: Hide My Services panel when disconnecting from FxA r=markh
  browser/base/content/browser-sync.js
Due: eslint

Bug 1953016 - Ensure consistent tree order of view transition tree. r=view-transitions-reviewers,boris
  dom/view-transitions/ViewTransition.cpp
  dom/view-transitions/ViewTransition.h
  testing/web-platform/meta/css/css-view-transitions/content-with-transparent-background.html.ini
  testing/web-platform/meta/css/css-view-transitions/css-tags-paint-order-with-entry.html.ini
  testing/web-platform/meta/css/css-view-transitions/css-tags-paint-order.html.ini
  testing/web-platform/meta/css/css-view-transitions/dialog-in-top-layer-during-transition-old.html.ini
  testing/web-platform/meta/css/css-view-transitions/fractional-translation-from-transform.html.ini
  testing/web-platform/meta/css/css-view-transitions/iframe-and-main-frame-transition-old-main.html.ini
  testing/web-platform/meta/css/css-view-transitions/japanese-tag.html.ini
  testing/web-platform/meta/css/css-view-transitions/new-content-scaling.html.ini
  testing/web-platform/meta/css/css-view-transitions/old-content-captures-opacity.html.ini
  testing/web-platform/meta/css/css-view-transitions/old-content-container-writing-modes.html.ini
  testing/web-platform/meta/css/css-view-transitions/old-content-element-writing-modes.html.ini
  testing/web-platform/meta/css/css-view-transitions/pseudo-rendering-invalidation.html.ini
  testing/web-platform/meta/css/css-view-transitions/rotated-cat-off-top-edge.html.ini
  testing/web-platform/meta/css/css-view-transitions/set-current-time-transform.html.ini
  testing/web-platform/meta/css/css-view-transitions/snapshot-containing-block-absolute.html.ini
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Bug 1950973 - batch process beforeUnload handlers when removing a tab group. r=dao,tabbrowser-reviewers,sessionstore-reviewers
  browser/base/content/test/tabPrompts/browser.toml
  browser/base/content/test/tabPrompts/browser_prompt_close_groups.js
  browser/components/firefoxview/tests/browser/browser_recentlyclosed_firefoxview.js
  browser/components/sessionstore/SessionStore.sys.mjs
  browser/components/sessionstore/test/browser_tab_groups_closed.js
  browser/components/sessionstore/test/browser_tab_groups_restore_simple.js
  browser/components/sessionstore/test/browser_tab_groups_save_on_removeTabsToTheEnd.js
  browser/components/sessionstore/test/browser_tab_groups_save_on_removeTabsToTheStart.js
  browser/components/sessionstore/test/browser_tab_groups_saved.js
  browser/components/sessionstore/test/browser_tab_groups_undo.js
  browser/components/tabbrowser/content/tabbrowser.js
  browser/components/tabbrowser/test/browser/tabs/browser_1936752_lock_tab_sizing.js
  browser/components/tabbrowser/test/browser/tabs/browser_tab_groups.js
  browser/components/tabbrowser/test/browser/tabs/browser_tab_manager_groups.js
  browser/components/tabbrowser/test/browser/tabs/head.js
Due: eslint

Bug 1950531 - Prevent Nimbus from controlling some prefs r=nimbus-reviewers,emcminn
  toolkit/components/nimbus/generate/generate_feature_manifest.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Backed out 2 changesets (bug 1952895, bug 1952104) for causing valgrid failures. CLOSED TREE
  toolkit/components/captchadetection/CaptchaDetectionChild.sys.mjs
  toolkit/components/captchadetection/CaptchaDetectionPingUtils.sys.mjs
  toolkit/modules/ActorManagerParent.sys.mjs
Due: eslint

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  browser/locales/l10n-changesets.json
Due: eslint

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  mobile/locales/l10n-changesets.json
Due: eslint

Bug 1951125: add ping for Nimbus and submit it after RecordedNimbusContext is set r=beth,android-reviewers,janerik,Roger
  mobile/android/fenix/app/metrics.yaml
  mobile/android/fenix/app/pings.yaml
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/experiments/RecordedNimbusContext.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/experiments/RecordedNimbusContextTest.kt
Due: yaml

Bug 1952057 - Remove irrelevant hamburger menu buttons from taskbar tab windows r=emilio,desktop-theme-reviewers,dao
  browser/components/taskbartabs/test/browser/browser_taskbarTabs_chromeTest.js
  browser/themes/shared/customizableui/panelUI-shared.css
Due: eslint, stylelint, file-whitespace

Bug 1953005 - Make test_AboutNewTabRedirector.js more reliable in built-in addon case. r=home-newtab-reviewers,amy
  browser/components/newtab/test/xpcshell/test_AboutNewTabRedirector.js
Due: eslint

Bug 1953005 - Have AboutNewTabRedirector wait for resource-mapping init rather than addon init to resume channels. r=willdurand,home-newtab-reviewers,amy
  browser/components/newtab/AboutNewTabRedirector.sys.mjs
  browser/extensions/newtab/webext-glue/resource-mapping.js
Due: eslint

Bug 1953005 - Exempt programmatically defined newtab resource and chrome URIs from browser_all_files_referenced.js. r=baku
  browser/base/content/test/static/browser_all_files_referenced.js
Due: eslint

Bug 1953119 - Update to ruff 0.9.10 r=linter-reviewers,ahal DONTBUILD
  python/sites/lint.txt
Due: none

Bug 1951658 - Support Android 14+ devices that don't have Credential Manager. r=jschanck,geckoview-reviewers,m_kato
  mobile/android/geckoview/src/main/java/org/mozilla/gecko/WebAuthnCredentialManager.java
Due: file-whitespace

Bug 1952516 - Don't validate variable fallback type. r=dshin
  servo/components/style/custom_properties.rs
  testing/web-platform/tests/css/css-properties-values-api/var-reference-registered-properties.html
Due: eslint, rustfmt, file-whitespace, trojan-source

Bug 1952516 - Minor clean-ups on top. r=dshin
  servo/components/style/custom_properties.rs
  testing/web-platform/meta/css/css-variables/variable-css-wide-keywords.html.ini
Due: rustfmt, file-whitespace, test-manifest, trojan-source

Bug 1950791 - Avoid setting up view transition twice. r=view-transitions-reviewers,boris
  dom/base/Document.cpp
  dom/base/Document.h
  dom/view-transitions/ViewTransition.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1953122 - Make view transition root fire devtools mutation events. r=view-transitions-reviewers,boris
  dom/view-transitions/ViewTransition.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1952176 - Update vertical pinned tabs container width r=sidebar-reviewers,desktop-theme-reviewers,tabbrowser-reviewers,emilio,kcochrane,dao
  browser/components/sidebar/tests/browser/browser_vertical_tabs.js
  browser/themes/shared/tabbrowser/tabs.css
Due: eslint, stylelint, file-whitespace

Bug 1953226 - Use Date.UTC instead of new Date when parsing buildId into buildDate. r=tjr
  toolkit/components/resistfingerprinting/UserCharacteristicsPageService.sys.mjs
  toolkit/components/resistfingerprinting/nsUserCharacteristics.cpp
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Backed out changeset 677207d203f5 (bug 1949213) for causing dt failures. CLOSED TREE
  testing/mochitest/mochitest_options.py
  testing/mozharness/scripts/android_hardware_unittest.py
  testing/raptor/raptor/browsertime/android.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1943145 - Utilize profgen to properly install Fenix apk along with baseline profiles. r=perftest-reviewers,aglavic
  python/mozperftest/mozperftest/system/android.py
  python/mozperftest/mozperftest/tests/test_android.py
  python/mozperftest/mozperftest/tests/test_androidlog.py
  testing/mozbase/mozdevice/mozdevice/adb.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1938929 - Add TypeScript definitions for browser/components/search/metrics.yaml. r=search-reviewers,scunnane
  tools/@types/glean/browser_components_search.d.ts
  tools/@types/lib.gecko.glean.d.ts
Due: none

Bug 1938929 - Add a new event to record initiated searches on search engines. r=search-reviewers,scunnane
  browser/components/search/BrowserSearchTelemetry.sys.mjs
  browser/components/search/metrics.yaml
  browser/components/search/test/browser/browser_contextSearchTabPosition.js
  browser/components/search/test/browser/telemetry/browser_search_telemetry_aboutHome.js
  browser/components/search/test/browser/telemetry/browser_search_telemetry_content.js
  browser/components/search/test/browser/telemetry/browser_search_telemetry_searchbar.js
  browser/components/urlbar/tests/browser/browser_searchTelemetry.js
  browser/components/urlbar/tests/browser/browser_urlbar_telemetry.js
  browser/components/urlbar/tests/browser/browser_urlbar_telemetry_autofill.js
  browser/components/urlbar/tests/browser/browser_urlbar_telemetry_extension.js
  browser/components/urlbar/tests/browser/browser_urlbar_telemetry_handoff.js
  browser/components/urlbar/tests/browser/browser_urlbar_telemetry_persisted.js
  browser/components/urlbar/tests/browser/browser_urlbar_telemetry_places.js
  browser/components/urlbar/tests/browser/browser_urlbar_telemetry_remotetab.js
  browser/components/urlbar/tests/browser/head.js
  toolkit/components/search/AppProvidedSearchEngine.sys.mjs
  toolkit/components/search/SearchEngine.sys.mjs
  toolkit/components/search/nsISearchService.idl
  tools/@types/glean/browser_components_search.d.ts
  tools/@types/lib.gecko.xpcom.d.ts
Due: eslint, yaml, file-whitespace

Bug 1938929 - Duplicate SEARCH_COUNTS histogram into Glean telemetry and use the Glean interfaces. r=search-reviewers,scunnane
  browser/components/search/BrowserSearchTelemetry.sys.mjs
  browser/components/search/docs/telemetry.rst
  browser/components/search/metrics.yaml
  tools/@types/glean/browser_components_search.d.ts
Due: eslint, yaml, file-whitespace

Bug 1952783 correct assertion where the last reference has already released r=media-playback-reviewers,alwu
  dom/media/platforms/ffmpeg/VALibWrapper.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1908441 - Implement drag and drop of tab group into a new or other window. r=sthompson,tabbrowser-reviewers
  browser/base/content/browser-init.js
  browser/components/tabbrowser/content/tabbrowser.js
  browser/components/tabbrowser/content/tabs.js
Due: eslint

Bug 1952495 - Only collapse the dragged group instead of all groups. r=sthompson,tabbrowser-reviewers
  browser/components/tabbrowser/content/tabs.js
Due: eslint

Bug 1953249 - Fix selector for the dragged tab's tab group line. r=desktop-theme-reviewers,emilio
  browser/themes/shared/tabbrowser/tabs.css
Due: stylelint, file-whitespace

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, **/*.java, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml
