Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, **/*.java, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml

Bug 1752362 - Add `mach adb` to use bootstrap version of adb r=geckoview-reviewers,m_kato
  mobile/android/mach_commands.py
  python/mach/mach/command_util.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 581863 - Fix screenshot test resize function when starting maximized. When starting maximized the original target might not include decorations or what not.
  browser/components/screenshots/tests/browser/head.js
Due: eslint

Bug 1944901 - Crash reporter shutdown is interrupted by macOS default behaviors r=gsvelto
  toolkit/crashreporter/client/app/src/ui/macos/mod.rs
Due: rustfmt, file-whitespace, trojan-source

Backed out changeset d1cb92f43de1 (bug 1943149) for causing wr bustages. CLOSED TREE
  gfx/wr/swgl/build.rs
Due: rustfmt, file-whitespace, trojan-source

Backed out changeset d98b62477b98 (bug 1904441) for causing bc failures & assertion failures @ browser_messagepreview_receivemessage.js / nsContentSecurityUtils.cpp CLOSED TREE
  browser/components/asrouter/modules/ASRouter.sys.mjs
  browser/components/messagepreview/actors/AboutMessagePreviewParent.sys.mjs
  browser/components/messagepreview/moz.build
  browser/components/messagepreview/tests/browser/browser.toml
  browser/components/messagepreview/tests/browser/browser_messagepreview_receivemessage.js
  browser/components/messagepreview/tests/browser/browser_messagepreview_show_bookmarks_bar.js
  browser/components/messagepreview/tests/browser/browser_messagepreview_show_cfr.js
  browser/components/messagepreview/tests/browser/browser_messagepreview_show_featurecallout.js
  browser/components/messagepreview/tests/browser/browser_messagepreview_show_infobar.js
  browser/components/messagepreview/tests/browser/browser_messagepreview_show_invalidmessage.js
  browser/components/messagepreview/tests/browser/browser_messagepreview_show_privatebrowsing.js
  browser/components/messagepreview/tests/browser/browser_messagepreview_show_spotlight.js
  browser/components/messagepreview/tests/browser/head.js
Due: eslint, py-black

Bug 1943149 - build(swgl): work around broken (upstream) `cc::Tool` detection of `clang --driver-mode=cl` r=gfx-reviewers,nical
  gfx/wr/swgl/build.rs
Due: rustfmt, file-whitespace, trojan-source

Bug 1936645 - Add search icon to basic moz-input-search component r=reusable-components-reviewers,desktop-theme-reviewers,hjones
  toolkit/content/tests/widgets/test_moz_input_search.html
  toolkit/content/widgets/moz-input-search/moz-input-search.mjs
  toolkit/content/widgets/moz-input-text/moz-input-text.css
Due: eslint, stylelint, file-whitespace

Backed out 4 changesets (bug 1927214, bug 1931442) for causing bc failures @ browser_experimental_features_resetall.js CLOSED TREE
  toolkit/content/tests/widgets/input-test-helpers.js
  toolkit/content/tests/widgets/test_moz_input_search.html
  toolkit/content/tests/widgets/test_moz_page_nav.html
  toolkit/content/tests/widgets/test_moz_toggle.html
  toolkit/content/widgets/moz-input-common.css
  toolkit/content/widgets/moz-input-search/moz-input-search.mjs
  toolkit/content/widgets/moz-page-nav/moz-page-nav.css
  toolkit/content/widgets/moz-page-nav/moz-page-nav.mjs
  toolkit/content/widgets/moz-page-nav/moz-page-nav.stories.mjs
Due: eslint, stylelint, file-whitespace

Bug 1942881: Remove RRegExpMatcher r=jandem
  js/src/jit/MIROps.yaml
  js/src/jit/Recover.cpp
  js/src/jit/Recover.h
Due: yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1942881: Remove RRegExpMatcher r=jandem, a=dmeehan
  js/src/jit/MIROps.yaml
  js/src/jit/Recover.cpp
  js/src/jit/Recover.h
Due: yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1944732: Add VariantCompare workaround for MinGW builds, r=Jamie
  accessible/windows/uia/UiaTextRange.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1932676 - Fix localization of profiles button. r=mossop,fluent-reviewers,bolsson
  browser/base/content/appmenu-viewcache.inc.xhtml
  browser/locales/en-US/browser/appmenu.ftl
  python/l10n/fluent_migrations/bug_1932676_fix_profiles_toolbarbutton.py
Due: eslint, py-black, py-ruff, fluent-lint, file-whitespace, trojan-source

Bug 1924997 - Update opus to 7db26934e4156597cb0586bb4d2e44dccdde1a59 r=kinetik
  media/libopus/include/opus_multistream.h
  media/libopus/include/opus_projection.h
  media/libopus/moz.build
  media/libopus/moz.yaml
  media/libopus/silk/mips/NSQ_del_dec_mipsr1.h
  media/libopus/silk/x86/NSQ_del_dec_avx2.c
  media/libopus/src/extensions.c
  media/libopus/src/opus_decoder.c
  media/libopus/src/opus_private.h
Due: py-black, yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1944652 - Add XML to enable trending searches support when using Google. r=Roger,android-reviewers
  mobile/android/android-components/components/feature/search/src/main/assets/searchplugins/google-b-1-m.xml
Due: eslint

Bug 1945667 - Add secret settings for Trending Searches. r=android-reviewers,gl
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/FeatureFlags.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/SecretSettingsFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  mobile/android/fenix/app/src/main/res/values/preference_keys.xml
  mobile/android/fenix/app/src/main/res/values/static_strings.xml
  mobile/android/fenix/app/src/main/res/xml/secret_settings_preferences.xml
Due: eslint

Bug 1927205 - Make moz-radio behave as a OS dialog radio button in chrome UI. r=reusable-components-reviewers,hjones
  toolkit/content/tests/widgets/test_moz_radio_group.html
  toolkit/content/widgets/moz-radio-group/moz-radio-group.mjs
Due: eslint, file-whitespace

Bug 1938421 - Implement callout 6 for RC in the sidebar, when a user closes RC - r=kpatenio,emcminn,shopping-reviewers,fluent-reviewers,omc-reviewers,bolsson
  browser/components/asrouter/modules/FeatureCalloutMessages.sys.mjs
  browser/components/shopping/ReviewCheckerManager.sys.mjs
  browser/components/shopping/content/assets/reviewCheckerCalloutPriceTag.svg
  browser/components/shopping/content/shopping.ftl
Due: eslint, fluent-lint, file-whitespace

Bug 1944631 - Migrate histograms to use Glean APIs for SERVICE_WORKER_*, r=chutten,dom-worker-reviewers,smaug.
  dom/serviceworkers/ServiceWorkerManager.cpp
  dom/serviceworkers/ServiceWorkerPrivate.cpp
  dom/serviceworkers/ServiceWorkerRegistrar.cpp
  dom/serviceworkers/metrics.yaml
  netwerk/protocol/http/InterceptedHttpChannel.cpp
  toolkit/components/glean/metrics_index.py
Due: py-black, py-ruff, yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1944631 - Migrate histograms to use Glean APIs in dom/workers, r=chutten.
  dom/workers/RuntimeService.cpp
  dom/workers/WorkerRunnable.cpp
  dom/workers/metrics.yaml
  toolkit/components/glean/metrics_index.py
Due: py-black, py-ruff, yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1945654 - Fix update verify missing bins and minor fixes r=releng-reviewers,gabriel, a=release
  taskcluster/docker/update-verify/Dockerfile
  tools/update-verify/release/common/check_updates.sh
Due: shellcheck

Bug 1945654 - Fix update verify missing bins and minor fixes r=releng-reviewers,gabriel
  taskcluster/docker/update-verify/Dockerfile
  tools/update-verify/release/common/check_updates.sh
Due: shellcheck

Bug 1944631: apply code formatting via Lando
  dom/workers/RuntimeService.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1937568 - Fix MDN link in console warning for h1 font-size. r=emilio
  layout/base/nsCSSFrameConstructor.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1938768: Include DocAccessible-inl.h in CssAltContent.cpp. r=nlapre
  accessible/base/CssAltContent.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Backed out 1 changesets to rollback the beta version bump
  browser/config/version_display.txt
  mobile/android/version.txt
Due: none

Bug 1945268 - Add NLP utils for Smart Tab Grouping. r=tarek
  toolkit/components/ml/jar.mn
  toolkit/components/ml/nlp/StopWords.sys.mjs
  toolkit/components/ml/nlp/Utils.sys.mjs
  toolkit/components/ml/tests/browser/browser.toml
  toolkit/components/ml/tests/browser/browser_ml_nlp_utils.js
  toolkit/components/ml/tests/browser/head.js
Due: eslint

Bug 1941838 - Fix a panic in prepare_quad when f32 rounding produces zero-size tasks r=gfx-reviewers,nical
  gfx/wr/webrender/src/quad.rs
  layout/svg/crashtests/1941838.html
  layout/svg/crashtests/crashtests.list
Due: eslint, rustfmt, file-whitespace, trojan-source

Bug 1941838 - Fix a panic in prepare_quad when f32 rounding produces zero-size tasks r=gfx-reviewers,nical, a=dmeehan
  gfx/wr/webrender/src/quad.rs
  layout/svg/crashtests/1941838.html
  layout/svg/crashtests/crashtests.list
Due: eslint, rustfmt, file-whitespace, trojan-source

No bug - Tagging 009a027d6bf923afd963287a514ea2b97e19534e with FIREFOX_136_0b1_BUILD2 a=release CLOSED TREE DONTBUILD
  .hgtags
Due: none

No bug - Tagging 009a027d6bf923afd963287a514ea2b97e19534e with DEVEDITION_136_0b1_BUILD2 a=release CLOSED TREE DONTBUILD
  .hgtags
Due: none

no bug - Import translations from android-l10n r=release a=l10n CLOSED TREE
  mobile/android/android-components/components/browser/errorpages/src/main/res/values-meh/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-bg/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-cy/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-de/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-dsb/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-el/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-en-rGB/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-es-rAR/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-es-rCL/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-gl/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-hsb/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-hu/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-it/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-meh/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-pt-rBR/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-pt-rPT/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-sk/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-sv-rSE/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-tr/strings.xml
  mobile/android/android-components/components/feature/app-links/src/main/res/values-es/strings.xml
  mobile/android/fenix/app/src/main/res/values-bg/strings.xml
  mobile/android/fenix/app/src/main/res/values-cy/strings.xml
  mobile/android/fenix/app/src/main/res/values-de/strings.xml
  mobile/android/fenix/app/src/main/res/values-dsb/strings.xml
  mobile/android/fenix/app/src/main/res/values-es-rAR/strings.xml
  mobile/android/fenix/app/src/main/res/values-es-rCL/strings.xml
  mobile/android/fenix/app/src/main/res/values-es/strings.xml
  mobile/android/fenix/app/src/main/res/values-fr/strings.xml
  mobile/android/fenix/app/src/main/res/values-fy-rNL/strings.xml
  mobile/android/fenix/app/src/main/res/values-gl/strings.xml
  mobile/android/fenix/app/src/main/res/values-hsb/strings.xml
  mobile/android/fenix/app/src/main/res/values-ia/strings.xml
  mobile/android/fenix/app/src/main/res/values-lo/strings.xml
  mobile/android/fenix/app/src/main/res/values-nl/strings.xml
  mobile/android/fenix/app/src/main/res/values-pt-rBR/strings.xml
  mobile/android/fenix/app/src/main/res/values-pt-rPT/strings.xml
  mobile/android/fenix/app/src/main/res/values-sv-rSE/strings.xml
  mobile/android/fenix/app/src/main/res/values-tr/strings.xml
  mobile/android/focus-android/app/src/main/res/values-meh/strings.xml
Due: eslint

Backed out changeset d1f7cc44e79d (bug 1868766) for causing dt failures @ browser_json_refresh.js CLOSED TREE
  accessible/tests/browser/shared-head.js
  browser/components/preferences/tests/head.js
  security/sandbox/test/browser_content_sandbox_utils.js
  testing/mochitest/BrowserTestUtils/BrowserTestUtils.sys.mjs
Due: eslint

Bug 1906039 - Add epub to MIME entries list. r=Gijs,mak
  uriloader/exthandler/nsExternalHelperAppService.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1945396 [wpt PR 50430] - [anchor] Handle flipping anchor(inside) and anchor(outside) values., a=testonly
  testing/web-platform/tests/css/css-anchor-position/position-try-fallbacks-001.html
  testing/web-platform/tests/css/css-anchor-position/position-try-fallbacks-002.html
Due: eslint, file-whitespace

Bug 1945396 [wpt PR 50430] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-anchor-position/position-try-fallbacks-002.html.ini
Due: test-manifest

Bug 1945391 [wpt PR 50429] - [css-fonts] font-style: oblique 0deg should serialize as font-style: normal, a=testonly
  testing/web-platform/tests/css/css-fonts/animations/font-style-interpolation.html
  testing/web-platform/tests/css/css-fonts/parsing/font-style-computed.html
  testing/web-platform/tests/css/css-fonts/parsing/font-style-valid.html
  testing/web-platform/tests/css/css-fonts/variations/font-style-parsing.html
Due: eslint, file-whitespace

Bug 1945391 [wpt PR 50429] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-fonts/parsing/font-style-computed.html.ini
  testing/web-platform/meta/css/css-fonts/parsing/font-style-valid.html.ini
  testing/web-platform/meta/css/css-fonts/variations/font-style-parsing.html.ini
Due: test-manifest

Bug 1945401 [wpt PR 50431] - Add three dialog crash tests, a=testonly
  testing/web-platform/tests/html/semantics/interactive-elements/the-dialog-element/dialog-closedby-crash.html
  testing/web-platform/tests/html/semantics/interactive-elements/the-dialog-element/dialog-open-add-closedby-crash.html
  testing/web-platform/tests/html/semantics/interactive-elements/the-dialog-element/dialog-requestclose-crash.html
Due: eslint, file-whitespace

Bug 1945443 - [wpt-sync] Update web-platform-tests to b98f5996123bde1bf60163c6e94c46f3954976c1, a=testonly
  testing/web-platform/meta/css/css-fonts/animations/font-style-interpolation.html.ini
  testing/web-platform/meta/css/css-values/vh-update-and-transition-in-subframe.html.ini
  testing/web-platform/meta/fetch/connection-pool/network-partition-key.html.ini
  testing/web-platform/meta/html-aam/roles.html.ini
  testing/web-platform/meta/html/cross-origin-opener-policy/popup-same-origin-allow-popups-with-cross-origin.https.html.ini
  testing/web-platform/meta/mediacapture-streams/MediaStreamTrack-MediaElement-disabled-video-is-black.https.html.ini
  testing/web-platform/meta/mozilla-sync
  testing/web-platform/meta/pointerevents/capturing_boundary_event_handler_at_ua_shadowdom.html.ini
  testing/web-platform/meta/webdriver/tests/classic/execute_script/properties.py.ini
  testing/web-platform/meta/webdriver/tests/classic/find_element/find.py.ini
  testing/web-platform/meta/webdriver/tests/classic/get_current_url/file.py.ini
  testing/web-platform/meta/webdriver/tests/classic/get_element_rect/user_prompts.py.ini
  testing/web-platform/meta/webdriver/tests/classic/is_element_enabled/user_prompts.py.ini
Due: test-manifest

Bug 1944737 - Make the mutation observers of `HTMLEditor` stop creating `AutoEditActionDataSetter` r=m_kato
  editor/libeditor/HTMLEditor.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source
