Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, **/*.java, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml

Bug 1953193 - Don't change the selected tab when collapsing a group while dragging it. r=sthompson,tabbrowser-reviewers
  browser/components/tabbrowser/content/tabs.js
Due: eslint

Bug 1949947 - Upgrade zlib-rs/libz-rs-sys to 0.4.2. r=supply-chain-reviewers
  Cargo.lock
  supply-chain/audits.toml
  supply-chain/imports.lock
  third_party/rust/libz-rs-sys/.cargo-checksum.json
  third_party/rust/libz-rs-sys/Cargo.lock
  third_party/rust/libz-rs-sys/Cargo.toml
  third_party/rust/libz-rs-sys/README.md
  third_party/rust/libz-rs-sys/src/lib.rs
  third_party/rust/zlib-rs/.cargo-checksum.json
  third_party/rust/zlib-rs/Cargo.lock
  third_party/rust/zlib-rs/Cargo.toml
  third_party/rust/zlib-rs/src/allocate.rs
  third_party/rust/zlib-rs/src/cpu_features.rs
  third_party/rust/zlib-rs/src/crc32.rs
  third_party/rust/zlib-rs/src/crc32/acle.rs
  third_party/rust/zlib-rs/src/deflate.rs
  third_party/rust/zlib-rs/src/deflate/algorithm/fast.rs
  third_party/rust/zlib-rs/src/deflate/algorithm/medium.rs
  third_party/rust/zlib-rs/src/deflate/algorithm/quick.rs
  third_party/rust/zlib-rs/src/deflate/algorithm/slow.rs
  third_party/rust/zlib-rs/src/deflate/hash_calc.rs
  third_party/rust/zlib-rs/src/deflate/longest_match.rs
  third_party/rust/zlib-rs/src/deflate/pending.rs
  third_party/rust/zlib-rs/src/deflate/trees_tbl.rs
  third_party/rust/zlib-rs/src/deflate/window.rs
  third_party/rust/zlib-rs/src/inflate.rs
  third_party/rust/zlib-rs/src/inflate/window.rs
  third_party/rust/zlib-rs/src/inflate/writer.rs
  third_party/rust/zlib-rs/src/read_buf.rs
Due: eslint, rustfmt, file-whitespace, trojan-source

Bug 1948339 - Part 2: Add NotificationObserver r=asuth
  dom/notification/NotificationParent.cpp
  dom/notification/NotificationParent.h
  dom/notification/NotificationUtils.cpp
  dom/notification/NotificationUtils.h
  dom/notification/test/mochitest/create_notification.html
  dom/notification/test/mochitest/test_notification_tag.html
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Backed out changeset 1c0dde7af6e9 (bug 1952564) for causing bc failures @browser_sanitizeDialog_v2.js. CLOSED TREE
  browser/base/content/test/sanitize/browser_sanitizeOnShutdown_migration.js
  browser/modules/Sanitizer.sys.mjs
Due: eslint

Bug 1953270 - propagate the HRESULT in the message description. r=media-playback-reviewers,karlt
  dom/media/ipc/MFMediaEngineParent.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1953270 - propagate the HRESULT in the message description. r=media-playback-reviewers,karlt a=pascalc
  dom/media/ipc/MFMediaEngineParent.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1950254 - Experiment not randomizing arena ids. r=pbone,tjr
  memory/build/moz.build
  memory/build/mozjemalloc.cpp
Due: py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1952693 - Make stand-in link color #0000ee. r=emilio
  accessible/tests/browser/mac/browser_attributed_text.js
  gfx/thebes/gfxUtils.cpp
  widget/nsXPLookAndFeel.cpp
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Backed out 4 changesets (bug 1943811) for causing hazard bustages. CLOSED TREE
  dom/bindings/BindingUtils.h
  dom/bindings/Bindings.conf
  dom/canvas/CanvasRenderingContext2D.cpp
  dom/canvas/ImageData.cpp
  dom/canvas/ImageData.h
  dom/webidl/ImageData.webidl
  mfbt/SegmentedVector.h
  mfbt/tests/TestSegmentedVector.cpp
  xpcom/base/CycleCollectedJSContext.cpp
  xpcom/base/CycleCollectedJSRuntime.cpp
  xpcom/base/nsCycleCollector.cpp
  xpcom/base/nsCycleCollector.h
  xpcom/base/nsISupportsImpl.h
  xpcom/build/nsXPCOM.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1953273 - add a head.js file for taskbar tabs browser tests, as well as a open taskbar tab helper function r=nrishel
  browser/components/taskbartabs/test/browser/browser.toml
  browser/components/taskbartabs/test/browser/browser_taskbarTabs_chromeTest.js
  browser/components/taskbartabs/test/browser/head.js
Due: eslint

Bug 1953021: Dismiss contextual opt-in message if 5 days passed since first impression AND seen more than 20 times r=adw
  browser/components/urlbar/UrlbarProviderQuickSuggestContextualOptIn.sys.mjs
  browser/components/urlbar/tests/quicksuggest/browser/browser_quicksuggest_contextual_optin.js
Due: eslint

Bug 1953004 - Rename test_verify_sw_mode.html to test__verify_sw_mode.html r=willdurand
  toolkit/components/extensions/test/mochitest/mochitest-serviceworker.toml
  toolkit/components/extensions/test/mochitest/test__verify_sw_mode.html
Due: eslint, file-whitespace

Bug 1953004 - Add exception for toml files that do not pass the linter r=Standard8
  tools/lint/test-manifest-toml.yml
Due: yaml, test-manifest

Backed out changeset d113eaf04f97 (bug 1949947) as requested by glandium because a fix landed.
  toolkit/components/places/tests/favicons/xpcshell.toml
Due: none

Bug 1671400 - [devtools] Remove now unused reps stubs. r=devtools-reviewers,frontend-codestyle-reviewers,nchevobbe,mossop
  .eslintrc-ignores.js
  devtools/client/shared/components/moz.build
  devtools/client/shared/components/test/browser/browser.toml
  devtools/client/shared/components/test/browser/browser_reps_stubs.js
  devtools/client/shared/components/test/node/stubs/reps/accessible.js
  devtools/client/shared/components/test/node/stubs/reps/accessor.js
  devtools/client/shared/components/test/node/stubs/reps/attribute.js
  devtools/client/shared/components/test/node/stubs/reps/big-int.js
  devtools/client/shared/components/test/node/stubs/reps/browser_dummy.js
  devtools/client/shared/components/test/node/stubs/reps/comment-node.js
  devtools/client/shared/components/test/node/stubs/reps/date-time.js
  devtools/client/shared/components/test/node/stubs/reps/document-type.js
  devtools/client/shared/components/test/node/stubs/reps/document.js
  devtools/client/shared/components/test/node/stubs/reps/element-node.js
  devtools/client/shared/components/test/node/stubs/reps/error.js
  devtools/client/shared/components/test/node/stubs/reps/event.js
  devtools/client/shared/components/test/node/stubs/reps/failure.js
  devtools/client/shared/components/test/node/stubs/reps/function.js
  devtools/client/shared/components/test/node/stubs/reps/grip-array.js
  devtools/client/shared/components/test/node/stubs/reps/grip-entry.js
  devtools/client/shared/components/test/node/stubs/reps/grip-map.js
  devtools/client/shared/components/test/node/stubs/reps/grip.js
  devtools/client/shared/components/test/node/stubs/reps/infinity.js
  devtools/client/shared/components/test/node/stubs/reps/long-string.js
  devtools/client/shared/components/test/node/stubs/reps/nan.js
  devtools/client/shared/components/test/node/stubs/reps/null.js
  devtools/client/shared/components/test/node/stubs/reps/number.js
  devtools/client/shared/components/test/node/stubs/reps/object-with-text.js
  devtools/client/shared/components/test/node/stubs/reps/object-with-url.js
  devtools/client/shared/components/test/node/stubs/reps/promise.js
  devtools/client/shared/components/test/node/stubs/reps/regexp.js
  devtools/client/shared/components/test/node/stubs/reps/stubs.toml
  devtools/client/shared/components/test/node/stubs/reps/stylesheet.js
  devtools/client/shared/components/test/node/stubs/reps/symbol.js
  devtools/client/shared/components/test/node/stubs/reps/text-node.js
  devtools/client/shared/components/test/node/stubs/reps/undefined.js
  devtools/client/shared/components/test/node/stubs/reps/window.js
Due: eslint, py-black

Bug 1894628 - [devtools] Expose a list of user agent presets. r=devtools-reviewers,nchevobbe
  devtools/client/locales/en-US/responsive.properties
  devtools/client/responsive/components/Toolbar.js
  devtools/client/responsive/components/UserAgentInput.js
  devtools/client/responsive/index.css
  devtools/client/responsive/test/browser/browser_user_agent_input.js
  devtools/client/responsive/test/browser/head.js
Due: eslint, stylelint, localization, file-whitespace

Backed out changeset 0ffb1294d3c2 (bug 1950254) for causing spidermonkey bustages @mozjemalloc.cpp.
  memory/build/moz.build
  memory/build/mozjemalloc.cpp
Due: py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Backed out changeset 025f929eee6c (bug 1952057) for causing bc failures @browser_taskbarTabs_chromeTest.js. CLOSED TREE
  browser/components/taskbartabs/test/browser/browser_taskbarTabs_chromeTest.js
  browser/themes/shared/customizableui/panelUI-shared.css
Due: eslint, stylelint, file-whitespace

Bug 1952604: Add a test url for the mobile_restore test. r=aglavic
  testing/performance/mobile-startup/restore.sh
Due: shellcheck

no bug - Import translations from android-l10n r=release a=l10n CLOSED TREE
  mobile/android/android-components/components/browser/errorpages/src/main/res/values-ml/strings.xml
  mobile/android/fenix/app/src/main/res/values-bs/strings.xml
  mobile/android/fenix/app/src/main/res/values-cs/strings.xml
  mobile/android/fenix/app/src/main/res/values-es/strings.xml
  mobile/android/fenix/app/src/main/res/values-fur/strings.xml
  mobile/android/fenix/app/src/main/res/values-in/strings.xml
  mobile/android/fenix/app/src/main/res/values-kk/strings.xml
  mobile/android/fenix/app/src/main/res/values-lo/strings.xml
  mobile/android/fenix/app/src/main/res/values-pt-rPT/strings.xml
  mobile/android/fenix/app/src/main/res/values-sl/strings.xml
  mobile/android/focus-android/app/src/main/res/values-bs/strings.xml
  mobile/android/focus-android/app/src/main/res/values-cy/strings.xml
  mobile/android/focus-android/app/src/main/res/values-fur/strings.xml
  mobile/android/focus-android/app/src/main/res/values-it/strings.xml
  mobile/android/focus-android/app/src/main/res/values-zh-rHK/strings.xml
Due: eslint

Backed out changeset 89b576744e56 (bug 1952176) for causing bc failures @browser_vertical_tabs.js.
  browser/components/sidebar/tests/browser/browser_vertical_tabs.js
  browser/themes/shared/tabbrowser/tabs.css
Due: eslint, stylelint, file-whitespace

Backed out changeset 96d954eae2a0 (bug 1949947) requested by glandium.
  Cargo.lock
  supply-chain/audits.toml
  supply-chain/imports.lock
  third_party/rust/libz-rs-sys/.cargo-checksum.json
  third_party/rust/libz-rs-sys/Cargo.lock
  third_party/rust/libz-rs-sys/Cargo.toml
  third_party/rust/libz-rs-sys/README.md
  third_party/rust/libz-rs-sys/src/lib.rs
  third_party/rust/zlib-rs/.cargo-checksum.json
  third_party/rust/zlib-rs/Cargo.lock
  third_party/rust/zlib-rs/Cargo.toml
  third_party/rust/zlib-rs/src/allocate.rs
  third_party/rust/zlib-rs/src/cpu_features.rs
  third_party/rust/zlib-rs/src/crc32.rs
  third_party/rust/zlib-rs/src/crc32/acle.rs
  third_party/rust/zlib-rs/src/deflate.rs
  third_party/rust/zlib-rs/src/deflate/algorithm/fast.rs
  third_party/rust/zlib-rs/src/deflate/algorithm/medium.rs
  third_party/rust/zlib-rs/src/deflate/algorithm/quick.rs
  third_party/rust/zlib-rs/src/deflate/algorithm/slow.rs
  third_party/rust/zlib-rs/src/deflate/hash_calc.rs
  third_party/rust/zlib-rs/src/deflate/longest_match.rs
  third_party/rust/zlib-rs/src/deflate/pending.rs
  third_party/rust/zlib-rs/src/deflate/trees_tbl.rs
  third_party/rust/zlib-rs/src/deflate/window.rs
  third_party/rust/zlib-rs/src/inflate.rs
  third_party/rust/zlib-rs/src/inflate/window.rs
  third_party/rust/zlib-rs/src/inflate/writer.rs
  third_party/rust/zlib-rs/src/read_buf.rs
Due: eslint, rustfmt, file-whitespace, trojan-source

Backed out changeset cdb6ba7fb623 (bug 1946727) for causing bc failures @browser_startup.js.
  toolkit/components/satchel/megalist/content/components/notification-message-bar/notification-message-bar.mjs
  toolkit/components/satchel/megalist/content/contextual-manager.ftl
Due: eslint, fluent-lint, file-whitespace

Backed out changeset 1f412e42d565 (bug 1953016) for causing wpt failures @group-animation-for-root-transition.htm.
  dom/view-transitions/ViewTransition.cpp
  dom/view-transitions/ViewTransition.h
  testing/web-platform/meta/css/css-view-transitions/content-with-transparent-background.html.ini
  testing/web-platform/meta/css/css-view-transitions/css-tags-paint-order-with-entry.html.ini
  testing/web-platform/meta/css/css-view-transitions/css-tags-paint-order.html.ini
  testing/web-platform/meta/css/css-view-transitions/dialog-in-top-layer-during-transition-old.html.ini
  testing/web-platform/meta/css/css-view-transitions/fractional-translation-from-transform.html.ini
  testing/web-platform/meta/css/css-view-transitions/iframe-and-main-frame-transition-old-main.html.ini
  testing/web-platform/meta/css/css-view-transitions/japanese-tag.html.ini
  testing/web-platform/meta/css/css-view-transitions/new-content-scaling.html.ini
  testing/web-platform/meta/css/css-view-transitions/old-content-captures-opacity.html.ini
  testing/web-platform/meta/css/css-view-transitions/old-content-container-writing-modes.html.ini
  testing/web-platform/meta/css/css-view-transitions/old-content-element-writing-modes.html.ini
  testing/web-platform/meta/css/css-view-transitions/pseudo-rendering-invalidation.html.ini
  testing/web-platform/meta/css/css-view-transitions/rotated-cat-off-top-edge.html.ini
  testing/web-platform/meta/css/css-view-transitions/set-current-time-transform.html.ini
  testing/web-platform/meta/css/css-view-transitions/snapshot-containing-block-absolute.html.ini
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Backed out 4 changesets (bug 1953193, bug 1908441, bug 1952495, bug 1953249) for causing bc failures @browser_tab_manager_drag.js. CLOSED TREE
  browser/base/content/browser-init.js
  browser/components/tabbrowser/content/tabbrowser.js
  browser/components/tabbrowser/content/tabs.js
  browser/themes/shared/tabbrowser/tabs.css
Due: eslint, stylelint, file-whitespace

Bug 1953297 - Update opensearch references r=search-reviewers,scunnane
  mobile/android/android-components/components/feature/search/src/main/java/mozilla/components/feature/search/internal/SearchUrlBuilder.kt
  toolkit/components/search/SearchEngine.sys.mjs
  toolkit/components/search/docs/SearchEngines.rst
Due: eslint, file-whitespace

Bug 1952887: Disable top sites context cache upon showing contextual opt-in message r=adw a=pascalc
  browser/components/urlbar/UrlbarView.sys.mjs
Due: eslint

Bug 1952887: Disable top sites context cache upon showing contextual opt-in message r=adw
  browser/components/urlbar/UrlbarView.sys.mjs
Due: eslint

Bug 1952714 - Stop using defineLazyPreferenceGetter in actors. r=mossop,firefox-desktop-core-reviewers ,mconley
  browser/components/BrowserGlue.sys.mjs
  toolkit/modules/ActorManagerParent.sys.mjs
Due: eslint

Backed out changeset b1079967e846 (bug 1950254) for causing mass failures. CLOSED TREE
  memory/build/moz.build
  memory/build/mozjemalloc.cpp
Due: py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1952902 - closed tab groups and saved tab groups should retain all tabs r=dao,sessionstore-reviewers
  browser/components/sessionstore/SessionStore.sys.mjs
  browser/components/sessionstore/test/browser.toml
  browser/components/sessionstore/test/browser_tab_groups_restore_closed_many_tabs.js
Due: eslint

Bug 1951925 - Fix base content memory usage regressions r=nika
  dom/ipc/MemMapSnapshot.cpp
  gfx/thebes/SharedFontList.cpp
  intl/hyphenation/glue/nsHyphenator.cpp
  ipc/glue/SharedMemoryMapping.cpp
  ipc/glue/SharedMemoryMapping.h
  ipc/gtest/TestSharedMemory.cpp
  js/xpconnect/src/XPCSelfHostedShmem.cpp
  layout/style/GlobalStyleSheetCache.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Backed out changeset 96b6563dccc6 (bug 1951621) for turning Bug 1798750 into permafail. a=backout
  browser/base/content/browser-main.js
  browser/base/content/browser.xhtml
  browser/base/content/global-scripts.inc
  browser/base/content/global-scripts.js
  browser/base/content/macWindow.inc.xhtml
  browser/base/jar.mn
  browser/components/places/content/places.xhtml
  tools/lint/eslint/eslint-plugin-mozilla/lib/environments/browser-window.js
  tools/lint/eslint/eslint-plugin-mozilla/lib/helpers.js
Due: eslint, file-whitespace

Backed out changeset dca810679260 (bug 1951925) for causing build bustages @TestSharedMemory.cpp. CLOSED TREE
  dom/ipc/MemMapSnapshot.cpp
  gfx/thebes/SharedFontList.cpp
  intl/hyphenation/glue/nsHyphenator.cpp
  ipc/glue/SharedMemoryMapping.cpp
  ipc/glue/SharedMemoryMapping.h
  ipc/gtest/TestSharedMemory.cpp
  js/xpconnect/src/XPCSelfHostedShmem.cpp
  layout/style/GlobalStyleSheetCache.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1699951 - Use proper UTF8 string for Application Chooser title r=stransky
  widget/nsIApplicationChooser.idl
Due: file-whitespace

Bug 1948429 - Make it easier to test macOS elevated updates with local builds r=spohl,bytesized,firefox-build-system-reviewers,application-update-reviewers,sergesanspaille,nalexander
  browser/app/Makefile.in
  browser/app/macbuild/Contents/Info.plist.in
  build/moz.configure/update-programs.configure
  toolkit/mozapps/update/updater/Makefile.in
  toolkit/mozapps/update/updater/macbuild/Contents/Info.plist.in
Due: py-black, py-ruff

Bug 1950551 - [devtools] Fix source_location of CssRule::NestedDeclarations. r=emilio,supply-chain-reviewers.
  .cargo/config.toml.in
  Cargo.lock
  Cargo.toml
  layout/inspector/tests/test_getRelativeRuleLine.html
  servo/components/style/counter_style/mod.rs
  servo/components/style/font_face.rs
  servo/components/style/properties/declaration_block.rs
  servo/components/style/properties_and_values/rule.rs
  servo/components/style/stylesheets/font_feature_values_rule.rs
  servo/components/style/stylesheets/font_palette_values_rule.rs
  servo/components/style/stylesheets/rule_parser.rs
  supply-chain/audits.toml
  supply-chain/config.toml
  third_party/rust/cssparser-macros/.cargo-checksum.json
  third_party/rust/cssparser-macros/Cargo.toml
  third_party/rust/cssparser-macros/lib.rs
  third_party/rust/cssparser/.cargo-checksum.json
  third_party/rust/cssparser/.github/workflows/main.yml
  third_party/rust/cssparser/Cargo.toml
  third_party/rust/cssparser/docs/.nojekyll
  third_party/rust/cssparser/src/cow_rc_str.rs
  third_party/rust/cssparser/src/from_bytes.rs
  third_party/rust/cssparser/src/parser.rs
  third_party/rust/cssparser/src/rules_and_declarations.rs
  third_party/rust/cssparser/src/serializer.rs
  third_party/rust/cssparser/src/tests.rs
  third_party/rust/cssparser/src/tokenizer.rs
  third_party/rust/cssparser/src/unicode_range.rs
Due: eslint, yaml, rustfmt, file-whitespace, trojan-source

Bug 1952625 - Improve localization comments for strings with placeables, r=android-l10n-reviewers,android-reviewers,delphine,jonalmeida
  mobile/android/android-components/components/feature/downloads/src/main/res/values/strings.xml
  mobile/android/android-components/components/feature/findinpage/src/main/res/values/strings.xml
  mobile/android/android-components/components/feature/prompts/src/main/res/values/strings.xml
  mobile/android/android-components/components/feature/search/src/main/res/values/strings.xml
  mobile/android/android-components/components/feature/sitepermissions/src/main/res/values/strings.xml
  mobile/android/android-components/components/lib/crash/src/main/res/values/strings.xml
  mobile/android/android-components/samples/firefox-accounts/src/main/res/values/strings.xml
  mobile/android/fenix/app/src/main/res/values/strings.xml
  mobile/android/focus-android/app/src/main/res/values/static_strings.xml
  mobile/android/focus-android/app/src/main/res/values/strings.xml
Due: eslint
