Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

eslint:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py eslint

stylelint:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py stylelint

py-black:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py black

py-ruff:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py ruff

yaml:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py yaml

shellcheck:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py shellcheck

clang-format:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  ...

rustfmt:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py rustfmt

fluent-lint:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py fluent-lint

localization:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py l10n

no bug - Import translations from android-l10n r=release a=l10n CLOSED TREE
  mobile/android/android-components/components/feature/customtabs/src/main/res/values-be/strings.xml
  mobile/android/android-components/components/feature/customtabs/src/main/res/values-es-rES/strings.xml
  mobile/android/android-components/components/feature/prompts/src/main/res/values-be/strings.xml
  mobile/android/android-components/components/feature/prompts/src/main/res/values-es-rES/strings.xml
  mobile/android/fenix/app/src/main/res/values-be/strings.xml
  mobile/android/fenix/app/src/main/res/values-el/strings.xml
  mobile/android/fenix/app/src/main/res/values-es-rES/strings.xml
  mobile/android/fenix/app/src/main/res/values-kk/strings.xml
  mobile/android/fenix/app/src/main/res/values-tr/strings.xml
  mobile/android/fenix/app/src/main/res/values-vi/strings.xml
  mobile/android/focus-android/app/src/main/res/values-be/strings.xml
  mobile/android/focus-android/app/src/main/res/values-el/strings.xml
  mobile/android/focus-android/app/src/main/res/values-es-rES/strings.xml
  mobile/android/focus-android/app/src/main/res/values-kk/strings.xml
  mobile/android/focus-android/app/src/main/res/values-ko/strings.xml
  mobile/android/focus-android/app/src/main/res/values-skr/strings.xml
  mobile/android/focus-android/app/src/main/res/values-sv-rSE/strings.xml
  mobile/android/focus-android/app/src/main/res/values-tr/strings.xml
  mobile/android/focus-android/app/src/main/res/values-vi/strings.xml
Due: eslint

Bug 1918796 - Home and newtab Merino pref flip a=diannaS
  browser/app/profile/firefox.js
Due: eslint

no bug - Merge android-l10n translations from mozilla-central r=release a=l10n
  mobile/android/fenix/app/src/main/res/values-en-rGB/strings.xml
  mobile/android/fenix/app/src/main/res/values-fi/strings.xml
  mobile/android/fenix/app/src/main/res/values-hy-rAM/strings.xml
  mobile/android/fenix/app/src/main/res/values-ko/strings.xml
  mobile/android/fenix/app/src/main/res/values-skr/strings.xml
  mobile/android/focus-android/app/src/main/res/values-en-rGB/strings.xml
  mobile/android/focus-android/app/src/main/res/values-hr/strings.xml
  mobile/android/focus-android/app/src/main/res/values-ia/strings.xml
  mobile/android/focus-android/app/src/main/res/values-iw/strings.xml
  mobile/android/focus-android/app/src/main/res/values-pa-rIN/strings.xml
  mobile/android/focus-android/app/src/main/res/values-tg/strings.xml
  mobile/android/focus-android/app/src/main/res/values-zh-rTW/strings.xml
Due: eslint

Bug 1910480 - Use preblending in DrawTargetWebgl for grayscale AA on Windows. r=aosmond
  dom/canvas/DrawTargetWebgl.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1887783 - ensure we are not retargeting during OnDataAvailable. r=necko-reviewers,valentin
  netwerk/protocol/http/HttpChannelChild.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1917766 - Fix HasFollowingRangeSharingVreg to start iterating at |range|. r=jseward
  js/src/jit/BacktrackingAllocator.cpp
  js/src/jit/BacktrackingAllocator.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1918118 - Cache parsing of glean metrics r=chutten,TravisLong
  toolkit/components/glean/build_scripts/glean_parser_ext/cache_yaml.py
  toolkit/components/glean/build_scripts/glean_parser_ext/run_glean_parser.py
  toolkit/components/glean/moz.build
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1917786 [wpt PR 48071] - Support all non-absolute colors as a basis for relative color syntax, a=testonly
  testing/web-platform/tests/css/css-color/parsing/color-computed-relative-color.html
Due: eslint, file-whitespace

Bug 1917786 [wpt PR 48071] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-color/parsing/color-computed-relative-color.html.ini
Due: test-manifest

Bug 1917895 [wpt PR 48077] - Add WEB_FEATURES.yml for storage buckets WPTs., a=testonly
  testing/web-platform/tests/storage/buckets/WEB_FEATURES.yml
Due: yaml

Bug 1917871 [wpt PR 48075] - WebKit export of https://bugs.webkit.org/show_bug.cgi?id=279374, a=testonly
  testing/web-platform/tests/css/css-color/parsing/color-valid-color-function.html
  testing/web-platform/tests/css/css-color/parsing/color-valid-hsl.html
  testing/web-platform/tests/css/css-color/parsing/color-valid-hwb.html
  testing/web-platform/tests/css/css-color/parsing/color-valid-lab.html
  testing/web-platform/tests/css/css-color/parsing/color-valid-rgb.html
Due: eslint, file-whitespace

Bug 1917871 [wpt PR 48075] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-color/parsing/color-valid-color-function.html.ini
  testing/web-platform/meta/css/css-color/parsing/color-valid-hsl.html.ini
  testing/web-platform/meta/css/css-color/parsing/color-valid-lab.html.ini
  testing/web-platform/meta/css/css-color/parsing/color-valid-rgb.html.ini
Due: test-manifest

Bug 1917918 [wpt PR 48080] - idle-detection: Add test for full activation in requestPermission(), a=testonly
  testing/web-platform/tests/idle-detection/idle-detection-detached-frame.https.html
Due: eslint, file-whitespace

Bug 1917697 [wpt PR 48059] - Mark tests failed with 500 disconnected error as crash, a=testonly
  testing/web-platform/tests/tools/wptrunner/wptrunner/executors/executorwebdriver.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1917967 [wpt PR 48089] - Reject multi-channel Opus config w/o description, a=testonly
  testing/web-platform/tests/webcodecs/audio-decoder.https.any.js
Due: eslint

Bug 1917961 [wpt PR 48088] - FSA: Fix file cleanup code in WPTs, a=testonly
  testing/web-platform/tests/file-system-access/getDirectory.https.any.js
Due: eslint

Bug 1917967 [wpt PR 48089] - Update wpt metadata, a=testonly
  testing/web-platform/meta/webcodecs/audio-decoder.https.any.js.ini
Due: test-manifest

Bug 1918000 [wpt PR 48093] - [line-clamp] Add test for -webkit-line-clamp as a block-in-inline, a=testonly
  testing/web-platform/tests/css/css-overflow/line-clamp/reference/webkit-line-clamp-049-ref.html
  testing/web-platform/tests/css/css-overflow/line-clamp/webkit-line-clamp-047.html
  testing/web-platform/tests/css/css-overflow/line-clamp/webkit-line-clamp-049.html
Due: eslint, file-whitespace

Bug 1918000 [wpt PR 48093] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-overflow/line-clamp/webkit-line-clamp-049.html.ini
Due: test-manifest

Bug 1918005 [wpt PR 48094] - WebDX: Add a counter and WEB_FEATURES.yml for two-value-display, a=testonly
  testing/web-platform/tests/css/css-display/parsing/WEB_FEATURES.yml
Due: yaml

Bug 1917927 [wpt PR 48082] - WebNN: Add IDL and mojo definitions for `scatterND` operator, a=testonly
  testing/web-platform/tests/webnn/validation_tests/scatterND.https.any.js
Due: eslint

Bug 1918026 [wpt PR 48095] - webnn: implement quantizeLinear and dequantizeLinear for DirectML backend, a=testonly
  testing/web-platform/tests/webnn/conformance_tests/dequantizeLinear.https.any.js
  testing/web-platform/tests/webnn/conformance_tests/quantizeLinear.https.any.js
  testing/web-platform/tests/webnn/resources/utils.js
Due: eslint

Bug 1918150 [wpt PR 48100] - Make notifyEvent transfer transient activation., a=testonly
  testing/web-platform/tests/fenced-frame/notify-event-transient-user-activation.https.html
Due: eslint, file-whitespace

Bug 1917987 [wpt PR 48091] - FLEDGE: Add WPT for high-level problems with serverResponse payload, a=testonly
  testing/web-platform/tests/fledge/tentative/resources/ba-fledge-util.sub.js
  testing/web-platform/tests/fledge/tentative/server-response.https.window.js
Due: eslint

Bug 1918177 [wpt PR 48103] - WebKit export of https://bugs.webkit.org/show_bug.cgi?id=279514, a=testonly
  testing/web-platform/tests/css/css-transitions/KeyframeEffect-getKeyframes.tentative.html
Due: eslint, file-whitespace

Bug 1918110 [wpt PR 48099] - WebKit export of https://bugs.webkit.org/show_bug.cgi?id=271040, a=testonly
  testing/web-platform/tests/css/css-conditional/container-queries/style-query-document-element.html
Due: eslint, file-whitespace

Bug 1918110 [wpt PR 48099] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-conditional/container-queries/style-query-document-element.html.ini
Due: test-manifest

Bug 1918173 [wpt PR 48102] - [Editing] Inline and Text Control elements should stay open without placeholder, a=testonly
  testing/web-platform/tests/editing/other/br-tag-not-added-with-inline-root-editable-element.html
  testing/web-platform/tests/editing/other/insert-br-tag-on-text-node-removal-with-non-editable-elements.html
Due: eslint, file-whitespace

Bug 1899954 [wpt PR 46559] - Update wpt metadata, a=testonly
  testing/web-platform/meta/FileAPI/blob/Blob-slice.any.js.ini
Due: test-manifest

Bug 1899954 [wpt PR 46559] - FileAPI: Remove FileReader from Blob reading utilities, a=testonly
  testing/web-platform/tests/FileAPI/reading-data-section/filereader_readAsArrayBuffer.any.js
  testing/web-platform/tests/FileAPI/support/Blob.js
Due: eslint

Bug 1918205 [wpt PR 48104] - [css-flex] Change test expectations to be web-compatible, a=testonly
  testing/web-platform/tests/css/css-flexbox/flex-one-sets-flex-basis-to-zero-px.html
Due: eslint, file-whitespace

Bug 1918205 [wpt PR 48104] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-flexbox/flex-one-sets-flex-basis-to-zero-px.html.ini
Due: test-manifest

Bug 1918214 [wpt PR 48105] - IDB WPTs: Extend 2 more cursor continue() index WPTs to run on workers, a=testonly
  testing/web-platform/tests/IndexedDB/idbcursor_continue_index.any.js
  testing/web-platform/tests/IndexedDB/idbcursor_iterating_index.htm
  testing/web-platform/tests/IndexedDB/idbcursor_iterating_index2.htm
Due: eslint

Bug 1915028 [wpt PR 47796] - [Masonry] Introduce parsing for masonry-slack, a=testonly
  testing/web-platform/tests/css/css-masonry/tentative/parsing/masonry-slack-computed.html
  testing/web-platform/tests/css/css-masonry/tentative/parsing/masonry-slack-invalid.html
  testing/web-platform/tests/css/css-masonry/tentative/parsing/masonry-slack-valid.html
Due: eslint, file-whitespace

Bug 1915028 [wpt PR 47796] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-masonry/tentative/parsing/masonry-slack-computed.html.ini
  testing/web-platform/meta/css/css-masonry/tentative/parsing/masonry-slack-valid.html.ini
Due: test-manifest

Bug 1918262 [wpt PR 48109] - FLEDGE: more WPT tests for getInterestGroupAdAuctionData, a=testonly
  testing/web-platform/tests/fledge/tentative/get-interest-group-auction-data.https.window.js
Due: eslint

Bug 1917959 [wpt PR 48087] - Trigger Safari & Safari Technology Preview runs after epochs, a=testonly
  testing/web-platform/tests/.github/workflows/check-workflow-run.yml
  testing/web-platform/tests/.github/workflows/epochs.yml
  testing/web-platform/tests/.github/workflows/safari_stable.yml
  testing/web-platform/tests/.github/workflows/safari_technology_preview.yml
  testing/web-platform/tests/tools/ci/check_for_updated_refs.py
  testing/web-platform/tests/tools/ci/epochs_update.sh
  testing/web-platform/tests/tools/ci/tests/test_check_for_updated_refs.py
Due: py-black, py-ruff, yaml, shellcheck, file-whitespace, trojan-source

Bug 1917568 [wpt PR 48041] - Handle all `white-space` values when intrinsically sizing an IFC, a=testonly
  testing/web-platform/tests/css/css-text/white-space/white-space-intrinsic-size-021.html
Due: eslint, file-whitespace

Bug 1917568 [wpt PR 48041] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-text/white-space/white-space-intrinsic-size-021.html.ini
Due: test-manifest

Bug 1918276 [wpt PR 48110] - [Partitioned Popins] Limit cross-origin popin opener access, a=testonly
  testing/web-platform/tests/partitioned-popins/partitioned-popins.proxy-cross.tentative.sub.https.window.js
  testing/web-platform/tests/partitioned-popins/partitioned-popins.proxy-same.tentative.https.window.js
  testing/web-platform/tests/partitioned-popins/resources/partitioned-popins.proxy-popin.html
  testing/web-platform/tests/partitioned-popins/resources/proxy-helpers.js
Due: eslint, file-whitespace

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml
