Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, **/*.java, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml

Bug 1928584 - Part 2: Ensure 1 new tab is added after all other tabs are closed if Homepage as a New is enabled r=android-reviewers,devota
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/TabsCleanupFeature.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/home/TabsCleanupFeatureTest.kt
Due: none

Bug 1955130 - Properly restore the minimized window even if the test failed or timed out. r=emilio
  testing/web-platform/tests/css/css-view-transitions/navigation/pageswap-in-hidden-doc-should-skip-transition.html
  testing/web-platform/tests/css/css-view-transitions/navigation/resources/navigate-after-hide.html
Due: eslint, file-whitespace

Bug 1954607- Created InvisibleRow to fix compose homepage top sites spacing issues. r=android-reviewers,gl
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/topsites/TopSites.kt
Due: none

Bug 1954607- Created InvisibleRow to fix compose homepage top sites spacing issues. r=android-reviewers,gl a=pascalc
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/topsites/TopSites.kt
Due: none

Backed out 2 changesets (bug 1953530) for causing xpc failures @ test_ExperimentManager_unenroll.js CLOSED TREE
  toolkit/components/nimbus/ExperimentAPI.sys.mjs
  toolkit/components/nimbus/lib/ExperimentManager.sys.mjs
  toolkit/components/nimbus/lib/Migrations.sys.mjs
  toolkit/components/nimbus/lib/Telemetry.sys.mjs
  toolkit/components/nimbus/metrics.yaml
  toolkit/components/nimbus/test/browser/browser_experiment_single_feature_enrollment.js
  toolkit/components/nimbus/test/browser/browser_remotesettingsexperimentloader_init.js
  toolkit/components/nimbus/test/unit/test_ExperimentAPI.js
  toolkit/components/nimbus/test/unit/test_ExperimentAPI_ExperimentFeature.js
  toolkit/components/nimbus/test/unit/test_ExperimentManager_enroll.js
  toolkit/components/nimbus/test/unit/test_ExperimentManager_lifecycle.js
  toolkit/components/nimbus/test/unit/test_ExperimentManager_unenroll.js
  toolkit/components/nimbus/test/unit/test_RemoteSettingsExperimentLoader_updateRecipes.js
  toolkit/components/normandy/lib/TelemetryEvents.sys.mjs
Due: eslint, yaml

Bug 1954815 - add first usage message, feedback link, visit page link r=txia,firefox-ai-ml-reviewers,atossou
  browser/components/genai/LinkPreview.sys.mjs
  browser/components/genai/LinkPreviewModel.sys.mjs
  browser/components/genai/content/link-preview-card.mjs
  browser/components/genai/tests/browser/browser_link_preview.js
Due: eslint

no bug - Import translations from android-l10n r=release a=l10n CLOSED TREE
  mobile/android/android-components/components/feature/addons/src/main/res/values-nn-rNO/strings.xml
  mobile/android/android-components/components/feature/app-links/src/main/res/values-th/strings.xml
  mobile/android/fenix/app/src/main/res/values-am/strings.xml
  mobile/android/fenix/app/src/main/res/values-es-rCL/strings.xml
  mobile/android/fenix/app/src/main/res/values-hu/strings.xml
  mobile/android/fenix/app/src/main/res/values-hy-rAM/strings.xml
  mobile/android/fenix/app/src/main/res/values-ia/strings.xml
  mobile/android/fenix/app/src/main/res/values-iw/strings.xml
  mobile/android/fenix/app/src/main/res/values-ka/strings.xml
  mobile/android/fenix/app/src/main/res/values-lo/strings.xml
  mobile/android/fenix/app/src/main/res/values-nn-rNO/strings.xml
  mobile/android/fenix/app/src/main/res/values-pt-rBR/strings.xml
  mobile/android/fenix/app/src/main/res/values-scn/strings.xml
  mobile/android/fenix/app/src/main/res/values-th/strings.xml
  mobile/android/fenix/app/src/main/res/values-vi/strings.xml
  mobile/android/fenix/app/src/main/res/values-zh-rCN/strings.xml
  mobile/android/fenix/app/src/main/res/values-zh-rTW/strings.xml
  mobile/android/focus-android/app/src/main/res/values-es-rCL/strings.xml
  mobile/android/focus-android/app/src/main/res/values-hu/strings.xml
  mobile/android/focus-android/app/src/main/res/values-ia/strings.xml
  mobile/android/focus-android/app/src/main/res/values-iw/strings.xml
  mobile/android/focus-android/app/src/main/res/values-ka/strings.xml
  mobile/android/focus-android/app/src/main/res/values-lo/strings.xml
  mobile/android/focus-android/app/src/main/res/values-pt-rBR/strings.xml
  mobile/android/focus-android/app/src/main/res/values-scn/strings.xml
  mobile/android/focus-android/app/src/main/res/values-vi/strings.xml
  mobile/android/focus-android/app/src/main/res/values-zh-rCN/strings.xml
  mobile/android/focus-android/app/src/main/res/values-zh-rTW/strings.xml
Due: eslint

Backed out changeset 0c99044f9cc1 (bug 1951598) for causing bc failures @ browser_html_detail_view.js CLOSED TREE
  toolkit/locales-preview/localModelManagement.ftl
  toolkit/mozapps/extensions/content/aboutaddons.html
  toolkit/mozapps/extensions/content/aboutaddons.js
  toolkit/mozapps/extensions/content/components/addon-mlmodel-details.mjs
  toolkit/mozapps/extensions/internal/ModelHubProvider.sys.mjs
  toolkit/mozapps/extensions/test/browser/browser_html_mlmodel_addons.js
Due: eslint, fluent-lint, file-whitespace

Bug 1951598 - allow showing mlmodel custom details r=zombie,fluent-reviewers,bolsson
  toolkit/locales-preview/localModelManagement.ftl
  toolkit/mozapps/extensions/content/aboutaddons.html
  toolkit/mozapps/extensions/content/aboutaddons.js
  toolkit/mozapps/extensions/content/components/addon-mlmodel-details.mjs
  toolkit/mozapps/extensions/internal/ModelHubProvider.sys.mjs
  toolkit/mozapps/extensions/test/browser/browser_html_detail_view.js
  toolkit/mozapps/extensions/test/browser/browser_html_mlmodel_addons.js
Due: eslint, fluent-lint, file-whitespace

Bug 1954216 - Add the time of the TLS handshake recorded for top-level documents via the pageload event r=acreskey,denispal,necko-reviewers,jesup
  dom/base/Document.cpp
  dom/ipc/PageLoadEventUtils.h
  dom/metrics.yaml
Due: yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1954275 - Expand group when dragging a link over collapsed group label. r=jswinarton,tabbrowser-reviewers
  browser/app/profile/firefox.js
  browser/components/tabbrowser/content/tabs.js
Due: eslint

Bug 1954888 - Part 1: Change font for group and task item title texts in setup checklist feature r=android-reviewers,gmalekpour
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/checklist/CheckListView.kt
Due: none

Bug 1954888 - Part 2: Make the whole group element cickable for setup checklist item r=android-reviewers,gmalekpour
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/checklist/CheckListView.kt
Due: none

Bug 1954888 - Part 3: Add a divider element for task groups in the setupt checklist r=android-reviewers,gmalekpour
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/checklist/CheckListView.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/checklist/SetupChecklist.kt
Due: none

Backed out 2 changesets (bug 1928584) for causing fenix failures CLOSED TREE
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/BrowserToolbarController.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/HomeScreenViewModel.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/TabsCleanupFeature.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tabstray/NavigationInteractor.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tabstray/TabsTrayController.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/components/toolbar/DefaultBrowserToolbarControllerTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/home/TabsCleanupFeatureTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/tabstray/DefaultTabsTrayControllerTest.kt
Due: none

Bug 1832745 - Increase the Info buttons from the Enhanced tracking protection page to 48dp r=android-reviewers,twhite
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/RadioButtonInfoPreference.kt
  mobile/android/fenix/app/src/main/res/layout/preference_widget_radiobutton_with_info.xml
Due: eslint

Bug 1950889 - Add Microsoft Remote Display Adapter to recognized GPU vendor ids r=gfx-reviewers,lsalzman
  widget/GfxInfoDeviceVendorDefs.h
  widget/windows/GfxInfo.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1954259 - fix some code rot in example-compositor build for Windows r=gfx-reviewers,lsalzman
  gfx/wr/example-compositor/compositor-windows/build.rs
  gfx/wr/example-compositor/compositor-windows/src/lib.rs
  gfx/wr/example-compositor/compositor/src/main.rs
Due: rustfmt, file-whitespace, trojan-source

Bug 1943102- Removed private mode CFR. r=android-reviewers,android-l10n-reviewers,007,delphine
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/HomeScreenTest.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/debugsettings/cfrs/CfrPreferencesRepository.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/debugsettings/cfrs/CfrTools.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/debugsettings/cfrs/CfrToolsPreferencesMiddleware.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/debugsettings/cfrs/CfrToolsStore.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  mobile/android/fenix/app/src/main/res/values/preference_keys.xml
  mobile/android/fenix/app/src/main/res/values/static_strings.xml
  mobile/android/fenix/app/src/main/res/values/strings.xml
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/debugsettings/CfrToolsPreferencesMiddlewareTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/debugsettings/CfrToolsStoreTest.kt
Due: eslint

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  browser/locales/l10n-changesets.json
Due: eslint

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  mobile/locales/l10n-changesets.json
Due: eslint

Bug 1954359 - Don't pass LTO flags when compiling C/C++ sources from rust with GCC. a=pascalc
  config/makefiles/rust.mk
Due: none

Bug 1955018 - Make calculator formatting consistent for negative numbers. a=pascalc
  browser/components/urlbar/UrlbarProviderCalculator.sys.mjs
  browser/components/urlbar/tests/browser/browser_calculator.js
Due: eslint

Bug 1954500: Fix tab group telemetry to be in line with spec a=pascalc
  browser/components/tabbrowser/metrics.yaml
  browser/components/tabbrowser/test/browser/tabs/browser_tab_groups_telemetry.js
  browser/modules/BrowserUsageTelemetry.sys.mjs
Due: eslint, yaml

Bug 1947740 - [Remote Protocol] Set browser.dom.window.dump.enabled=false instances in core code to true for Remote Protocols. r=jdescottes,webdriver-reviewers
  remote/shared/RecommendedPreferences.sys.mjs
Due: eslint

Bug 1928584 - Part 1: Refactor deleting sessions from the HomeFragment into TabsCleanupFeature r=android-reviewers,devota
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/BrowserToolbarController.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/HomeScreenViewModel.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/TabsCleanupFeature.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tabstray/NavigationInteractor.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tabstray/TabsTrayController.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/components/toolbar/DefaultBrowserToolbarControllerTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/home/TabsCleanupFeatureTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/tabstray/DefaultTabsTrayControllerTest.kt
Due: none

Bug 1953753 - Add additional fields to onboarding-opt-out ping. a=pascalc
  toolkit/components/telemetry/metrics.yaml
  toolkit/components/telemetry/tests/unit/test_client_id.js
Due: eslint, yaml

Bug 1821878 - Ensure the fallback connection is in the right connection entry, r=necko-reviewers,valentin
  netwerk/protocol/http/ConnectionEntry.h
  netwerk/protocol/http/nsHttpConnectionMgr.cpp
  netwerk/protocol/http/nsHttpConnectionMgr.h
  xpcom/base/ErrorList.py
Due: py-black, py-ruff, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1821878 - Test case, r=necko-reviewers,valentin
  netwerk/test/unit/head_servers.js
  netwerk/test/unit/test_websocket_server.js
Due: eslint

Bug 1954719 - Only call isAutofillAddressesAvailableInCountry in isRecordCreatable when country entry exists in record a=pascalc
  browser/extensions/formautofill/test/browser/address/browser_address_doorhanger_unsupported_region.js
  toolkit/components/formautofill/shared/FormAutofillSection.sys.mjs
Due: eslint

Bug 1954488: Delete removeAfterRestore property from savedGroups if the session is being quit for the second time a=pascalc
  browser/components/sessionstore/SessionStore.sys.mjs
  browser/components/sessionstore/test/marionette/test_restore_manually_with_tab_groups.py
Due: eslint, py-black, py-ruff, file-whitespace, trojan-source

Bug 1953704 - Remove the file exists check in DownloadUIMapperMiddleware. r=android-reviewers,rsainani,tthibaud
  mobile/android/android-components/components/browser/state/src/main/java/mozilla/components/browser/state/action/BrowserAction.kt
  mobile/android/android-components/components/browser/state/src/main/java/mozilla/components/browser/state/reducer/DownloadStateReducer.kt
  mobile/android/android-components/components/feature/downloads/src/main/java/mozilla/components/feature/downloads/DownloadMiddleware.kt
  mobile/android/android-components/components/feature/downloads/src/test/java/mozilla/components/feature/downloads/DownloadMiddlewareTest.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/downloads/listscreen/middleware/DownloadUIMapperMiddleware.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/downloads/listscreen/middleware/DownloadUIMapperMiddlewareTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/downloads/listscreen/middleware/FileExistsTest.kt
Due: none

Bug 1952866 - Use viewstub for CrashContentView and lazily initalize it when it is needed r=android-reviewers,boek
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/BaseBrowserFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/crashes/CrashContentIntegration.kt
  mobile/android/fenix/app/src/main/res/layout/browser_layout_crash_reporter.xml
  mobile/android/fenix/app/src/main/res/layout/fragment_browser.xml
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/crashes/CrashContentIntegrationTest.kt
Due: eslint

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump
  browser/locales/l10n-changesets.json
Due: eslint

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump
  mobile/locales/l10n-changesets.json
Due: eslint

Bug 1874099 - P1: Basic implementation of Capsule, r=necko-reviewers,valentin
  netwerk/protocol/http/Capsule.cpp
  netwerk/protocol/http/Capsule.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source
