Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, **/*.java, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml

Backed out changeset 40518e514fc1 (bug 1925496) for causing bc failures @ browser_copying.js . CLOSED TREE
  browser/components/urlbar/UrlbarInput.sys.mjs
Due: eslint

Bug 1926116 - Update tooltips for sidebar tools that have shortcuts r=sidebar-reviewers,fluent-reviewers,nsharpley
  browser/components/sidebar/sidebar-main.mjs
  browser/components/sidebar/tests/browser/browser_a11y_sidebar.js
  browser/locales/en-US/browser/sidebar.ftl
Due: eslint, fluent-lint, file-whitespace

No bug - Tagging 1e4cb4bb3a1f71819f59e8d00eb3b5323a1415e0 with DEVEDITION_133_0b6_BUILD1 a=release CLOSED TREE DONTBUILD
  .hgtags
Due: none

No bug - Tagging 1e4cb4bb3a1f71819f59e8d00eb3b5323a1415e0 with FIREFOX_133_0b6_BUILD1 a=release CLOSED TREE DONTBUILD
  .hgtags
Due: none

Bug 1926241 - Provide tab-to-search results via actions. r=urlbar-reviewers,mak
  browser/components/urlbar/ActionsProvider.sys.mjs
  browser/components/urlbar/ActionsProviderContextualSearch.sys.mjs
  browser/components/urlbar/UrlbarInput.sys.mjs
  browser/components/urlbar/UrlbarProviderGlobalActions.sys.mjs
  browser/components/urlbar/UrlbarProviderRecentSearches.sys.mjs
  browser/components/urlbar/UrlbarProviderTabToSearch.sys.mjs
  browser/components/urlbar/tests/browser/browser_contextualsearch.js
  browser/components/urlbar/tests/browser/browser_persist_searchMode.js
  browser/components/urlbar/tests/browser/browser_retainedResultsOnFocus.js
  browser/components/urlbar/tests/browser/browser_secondaryActions.js
  browser/components/urlbar/tests/browser/browser_urlbar_telemetry_tabtosearch.js
  browser/components/urlbar/tests/quicksuggest/unit/test_quicksuggest.js
  browser/components/urlbar/tests/unit/head.js
  browser/components/urlbar/tests/unit/test_dedupe_prefix.js
  browser/components/urlbar/tests/unit/test_encoded_urls.js
  browser/components/urlbar/tests/unit/test_hideSponsoredHistory.js
  browser/components/urlbar/tests/unit/test_history_bookmark_results_on_search_service_failure.js
  browser/components/urlbar/tests/unit/test_providerHistoryUrlHeuristic.js
  browser/components/urlbar/tests/unit/test_providerPlaces.js
  browser/components/urlbar/tests/unit/test_providerTabToSearch.js
  browser/components/urlbar/tests/unit/test_search_suggestions_aliases.js
  browser/components/urlbar/tests/unit/test_trimming.js
Due: eslint

No bug - Tagging 1e4cb4bb3a1f71819f59e8d00eb3b5323a1415e0 with FIREFOX-ANDROID_133_0b6_BUILD1 a=release CLOSED TREE DONTBUILD
  .hgtags
Due: none

Bug 1929972 - Fix for new sidebar callout trigger being called as sidebar panel is closing instead of opening r=sidebar-reviewers,sclements
  browser/components/sidebar/sidebar-main.mjs
Due: eslint

Bug 1921885 - Add geckoview getWebCompatInfo API to GeckoEngineSession r=android-reviewers,rsainani
  mobile/android/android-components/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/GeckoEngineSession.kt
  mobile/android/android-components/components/browser/engine-gecko/src/test/java/mozilla/components/browser/engine/gecko/GeckoEngineSessionTest.kt
  mobile/android/android-components/components/browser/engine-system/src/main/java/mozilla/components/browser/engine/system/SystemEngineSession.kt
  mobile/android/android-components/components/browser/state/src/test/java/mozilla/components/browser/state/engine/EngineObserverTest.kt
  mobile/android/android-components/components/concept/engine/src/main/java/mozilla/components/concept/engine/EngineSession.kt
Due: none

Bug 1929807 [wpt PR 49019] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-ruby/collapse-trailing-whitespace.html.ini
Due: test-manifest

Bug 1929807 [wpt PR 49019] - layout: Fix trailing collapsible space handling with <ruby>, a=testonly
  testing/web-platform/tests/css/css-ruby/collapse-trailing-whitespace-ref.html
  testing/web-platform/tests/css/css-ruby/collapse-trailing-whitespace.html
Due: eslint, file-whitespace

Bug 1929820 [wpt PR 49021] - [CredentialContainer] Test more scenarios around the abort reason's, a=testonly
  testing/web-platform/tests/credential-management/credentialscontainer-create-basics.https.html
  testing/web-platform/tests/credential-management/credentialscontainer-get-basics.https.html
Due: eslint, file-whitespace

Bug 1929820 [wpt PR 49021] - Update wpt metadata, a=testonly
  testing/web-platform/meta/credential-management/credentialscontainer-create-basics.https.html.ini
  testing/web-platform/meta/credential-management/credentialscontainer-get-basics.https.html.ini
Due: test-manifest

Bug 1929813 [wpt PR 49020] - Add WebDX feature mapping for font-variant-position., a=testonly
  testing/web-platform/tests/css/css-fonts/WEB_FEATURES.yml
Due: yaml

Bug 1929719 [wpt PR 49015] - Add WebDX feature mapping for gradient-interpolation., a=testonly
  testing/web-platform/tests/css/css-images/parsing/WEB_FEATURES.yml
Due: yaml

Bug 1929720 [wpt PR 49016] - Add WebDX feature mapping for text-wrap, text-wrap-style and text-emphasis., a=testonly
  testing/web-platform/tests/css/css-text-decor/WEB_FEATURES.yml
  testing/web-platform/tests/css/css-text-decor/parsing/WEB_FEATURES.yml
  testing/web-platform/tests/css/css-text/parsing/WEB_FEATURES.yml
Due: yaml

Bug 1929708 [wpt PR 49014] - Add use-counter and WebDX feature mapping for calc-constants., a=testonly
  testing/web-platform/tests/css/css-values/WEB_FEATURES.yml
Due: yaml

Bug 1929865 [wpt PR 49023] - [@container] Make style() queries for IACVT values false, a=testonly
  testing/web-platform/tests/css/css-conditional/container-queries/style-query-guaranteed-invalid.tentative.html
  testing/web-platform/tests/css/css-conditional/container-queries/style-query-registered-custom-invalid.tentative.html
Due: eslint, file-whitespace

Bug 1929865 [wpt PR 49023] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-conditional/container-queries/style-query-guaranteed-invalid.tentative.html.ini
  testing/web-platform/meta/css/css-conditional/container-queries/style-query-registered-custom-invalid.tentative.html.ini
Due: test-manifest

Bug 1929867 [wpt PR 49024] - [@scope] Calculate full nesting context in ParseRuleForInsert, a=testonly
  testing/web-platform/tests/css/css-cascade/scope-nesting.html
Due: eslint, file-whitespace

Bug 1929739 [wpt PR 49017] - [line-clamp] Fix DCHECK failure with hidden block-in-inlines, a=testonly
  testing/web-platform/tests/css/css-overflow/line-clamp/line-clamp-030.tentative.html
  testing/web-platform/tests/css/css-overflow/line-clamp/line-clamp-031.tentative.html
Due: eslint, file-whitespace

Bug 1929739 [wpt PR 49017] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-overflow/line-clamp/line-clamp-030.tentative.html.ini
  testing/web-platform/meta/css/css-overflow/line-clamp/line-clamp-031.tentative.html.ini
Due: test-manifest

Bug 1929805 [wpt PR 49018] - [line-clamp] [text-box-trim] Trim the last line before clamp inside nested blocks, a=testonly
  testing/web-platform/tests/css/css-inline/text-box-trim/text-box-trim-line-clamp-002.html
Due: eslint, file-whitespace

Bug 1929805 [wpt PR 49018] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-inline/text-box-trim/text-box-trim-line-clamp-002.html.ini
Due: test-manifest

Bug 1929899 [wpt PR 49027] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-view-transitions/layered-capture/box-model-capture.tentative.html.ini
  testing/web-platform/meta/css/css-view-transitions/layered-capture/box-model-capture.tentative.sub.html.ini
Due: test-manifest

Bug 1929899 [wpt PR 49027] - View transition layered capture: determine geometry based on box model, a=testonly
  testing/web-platform/tests/css/css-view-transitions/layered-capture/border-offset-with-padding-inline-ref.html
  testing/web-platform/tests/css/css-view-transitions/layered-capture/border-offset-with-padding-inline.tentative.html
  testing/web-platform/tests/css/css-view-transitions/layered-capture/border-offset-with-padding-nested.tentative.html
  testing/web-platform/tests/css/css-view-transitions/layered-capture/border-offset-with-padding.tentative.html
  testing/web-platform/tests/css/css-view-transitions/layered-capture/box-model-capture-ref.sub.html
  testing/web-platform/tests/css/css-view-transitions/layered-capture/box-model-capture.tentative.sub.html
Due: eslint, file-whitespace

Bug 1929929 [wpt PR 49031] - Revert "View transition layered capture: determine geometry based on box model", a=testonly
  testing/web-platform/tests/css/css-view-transitions/layered-capture/border-offset-ref.tentative.html
  testing/web-platform/tests/css/css-view-transitions/layered-capture/border-offset-with-padding-inline-ref.html
  testing/web-platform/tests/css/css-view-transitions/layered-capture/border-offset-with-padding-inline.tentative.html
  testing/web-platform/tests/css/css-view-transitions/layered-capture/border-offset-with-padding-nested.tentative.html
  testing/web-platform/tests/css/css-view-transitions/layered-capture/border-offset-with-padding.tentative.html
  testing/web-platform/tests/css/css-view-transitions/layered-capture/border-offset.tentative.html
  testing/web-platform/tests/css/css-view-transitions/layered-capture/box-model-capture-ref.html
  testing/web-platform/tests/css/css-view-transitions/layered-capture/box-model-capture.tentative.html
Due: eslint, file-whitespace

Bug 1929919 [wpt PR 49029] - Fix nested <option> traversals, a=testonly
  testing/web-platform/tests/html/semantics/forms/the-select-element/customizable-select/nested-options.tenative.html
  testing/web-platform/tests/html/semantics/forms/the-select-element/customizable-select/selected-option-parser-crash.html
Due: eslint, file-whitespace

Bug 1929957 [wpt PR 49036] - WebKit export of https://bugs.webkit.org/show_bug.cgi?id=282634, a=testonly
  testing/web-platform/tests/css/css-sizing/intrinsic-fixed-width-with-max-content-height.html
  testing/web-platform/tests/css/css-sizing/intrinsic-fixed-width-with-min-content-height.html
Due: eslint, file-whitespace

Bug 1929943 [wpt PR 49033] - AudioWorkletGlobalScope has valid currentFrame during construction., a=testonly
  testing/web-platform/tests/webaudio/the-audio-api/the-audioworklet-interface/audioworkletglobalscope-creation-time.https.html
Due: eslint, file-whitespace

Bug 1929995 - [wpt-sync] Update web-platform-tests to e8a72984ccc7c002dc2fae8de3123467037dd04f, a=testonly
  testing/web-platform/meta/compute-pressure/compute_pressure_timestamp.https.window.js.ini
  testing/web-platform/meta/cookies/attributes/domain.sub.html.ini
  testing/web-platform/meta/css/css-overflow/overflow-clip-margin-002.html.ini
  testing/web-platform/meta/css/css-overflow/overflow-clip-margin-005.html.ini
  testing/web-platform/meta/css/css-page/page-size-007-print.html.ini
  testing/web-platform/meta/css/css-scroll-anchoring/negative-layout-overflow.html.ini
  testing/web-platform/meta/css/css-view-transitions/layered-capture/box-model-capture.tentative.html.ini
  testing/web-platform/meta/css/css-view-transitions/layered-capture/box-model-capture.tentative.sub.html.ini
  testing/web-platform/meta/css/css-writing-modes/sizing-orthog-vlr-in-htb-008.xht.ini
  testing/web-platform/meta/css/css-writing-modes/sizing-orthog-vrl-in-htb-008.xht.ini
  testing/web-platform/meta/css/selectors/i18n/css3-selectors-lang-001.html.ini
  testing/web-platform/meta/fetch/api/request/request-cache-force-cache.any.js.ini
  testing/web-platform/meta/fs/FileSystemBaseHandle-IndexedDB.https.any.js.ini
  testing/web-platform/meta/fs/FileSystemFileHandle-cross-primitive-locking.https.tentative.worker.js.ini
  testing/web-platform/meta/fs/FileSystemFileHandle-move.https.any.js.ini
  testing/web-platform/meta/html/cross-origin-opener-policy/iframe-popup-same-origin-allow-popups-to-same-origin.https.html.ini
  testing/web-platform/meta/html/semantics/embedded-content/the-canvas-element/type.exists.html.ini
  testing/web-platform/meta/html/semantics/forms/the-select-element/customizable-select/nested-options.tenative.html.ini
  testing/web-platform/meta/html/webappapis/animation-frames/callback-cross-realm-report-exception.html.ini
  testing/web-platform/meta/idle-detection/idle-detection-allowed-by-permissions-policy.https.sub.html.ini
  testing/web-platform/meta/infrastructure/webdriver/tests/test_load_file.py.ini
  testing/web-platform/meta/intersection-observer/isIntersecting-threshold.html.ini
  testing/web-platform/meta/loading/early-hints/__dir__.ini
  testing/web-platform/meta/mozilla-sync
  testing/web-platform/meta/partitioned-popins/partitioned-popins.permission-default.tentative.sub.https.window.js.ini
  testing/web-platform/meta/scroll-animations/css/view-timeline-inset-animation.html.ini
  testing/web-platform/meta/selection/fire-selectionchange-event-on-pressing-backspace.html.ini
  testing/web-platform/meta/svg/animations/svglength-animation-invalid-value-3.html.ini
  testing/web-platform/meta/webaudio/the-audio-api/the-audioworklet-interface/audioworkletglobalscope-creation-time.https.html.ini
  testing/web-platform/meta/webrtc-stats/rtp-stats-creation.html.ini
Due: test-manifest

Bug 1925496. r=jfkthame,adw
  browser/components/urlbar/UrlbarInput.sys.mjs
  browser/components/urlbar/tests/browser/browser_copying.js
Due: eslint

Bug 1908422: Add closedGroups to SessionRestore for tab groups r=dao,sthompson,sessionstore-reviewers,tabbrowser-reviewers
  browser/components/sessionstore/SessionStore.sys.mjs
  browser/components/sessionstore/test/browser.toml
  browser/components/sessionstore/test/browser_cleaner.js
  browser/components/sessionstore/test/browser_tab_groups_closed.js
  browser/components/sessionstore/test/head.js
  browser/components/tabbrowser/content/tabbrowser.js
  browser/components/tabbrowser/content/tabgroup.js
  browser/components/tabbrowser/test/browser/tabs/browser_tab_groups.js
Due: eslint

Bug 1930099 - [devtools] Use --theme-icon-disabled-color for disabled debugger command bar button instead of tweaking opacity. r=devtools-reviewers,bomsy.
  devtools/client/debugger/src/components/shared/Button/styles/CommandBarButton.css
Due: stylelint, file-whitespace

No bug - Tagging 1e4cb4bb3a1f71819f59e8d00eb3b5323a1415e0 with FIREFOX-ANDROID_133_0b6_RELEASE a=release CLOSED TREE DONTBUILD
  .hgtags
Due: none

Automatic version bump CLOSED TREE NO BUG a=release DONTBUILD
  browser/config/version_display.txt
  mobile/android/version.txt
Due: none

Bug 1916669 - [devtools] Don't use --theme-accordion-header-background on elements that are not accordion headers. r=devtools-reviewers,ochameau.
  devtools/client/debugger/src/components/PrimaryPanes/ProjectSearch.css
  devtools/client/debugger/src/components/shared/ResultList.css
  devtools/client/debugger/src/components/shared/SearchInput.css
  devtools/client/themes/variables.css
Due: stylelint, file-whitespace

Bug 1916669 - [devtools] Adapt Accordion headers in High Contrast Mode. r=devtools-reviewers,ochameau.
  devtools/client/debugger/src/components/shared/Accordion.css
  devtools/client/shared/components/Accordion.css
  devtools/client/themes/rules.css
  devtools/client/themes/variables.css
Due: stylelint, file-whitespace

Bug 1928134 - [devtools] Wait for the right resource in browser_inspector_fission_frame_navigation.js. r=devtools-reviewers,bomsy.
  devtools/client/inspector/test/browser_inspector_fission_frame_navigation.js
Due: eslint

Bug 1916230 - Update tools and extensions buttons selected background to match toolbar buttons r=sidebar-reviewers,desktop-theme-reviewers,kcochrane
  browser/components/sidebar/sidebar-main.css
Due: stylelint, file-whitespace

Bug 1928088 - Search button search engine icons should default to magnifying glass if no icon is provided for the search engine. r=daleharvey,urlbar-reviewers,Standard8
  browser/components/urlbar/SearchModeSwitcher.sys.mjs
  browser/components/urlbar/tests/browser/browser_searchModeSwitcher_basic.js
Due: eslint
