Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml

Bug 1916418 - Ignore the svcb record when the targetName doesn't match cname, r=necko-reviewers,valentin
  modules/libpref/init/StaticPrefList.yaml
  netwerk/dns/DNSRequestChild.cpp
  netwerk/dns/HTTPSSVC.cpp
  netwerk/dns/HTTPSSVC.h
  netwerk/dns/nsDNSService2.cpp
  netwerk/dns/nsHostRecord.cpp
  netwerk/dns/nsIDNSByTypeRecord.idl
  netwerk/protocol/http/HTTPSRecordResolver.cpp
  netwerk/protocol/http/HTTPSRecordResolver.h
  netwerk/protocol/http/SpeculativeTransaction.cpp
  netwerk/protocol/http/SpeculativeTransaction.h
  netwerk/protocol/http/nsAHttpTransaction.h
  netwerk/protocol/http/nsHttpTransaction.cpp
  netwerk/protocol/http/nsHttpTransaction.h
  netwerk/test/unit/test_trr_https_rr_with_cname.js
  netwerk/test/unit/xpcshell.toml
Due: eslint, yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1916418 - Expose IsTRR for nsIDNSHTTPSSVCRecord, r=necko-reviewers,valentin
  netwerk/dns/DNSByTypeRecord.h
  netwerk/dns/DNSRequestChild.cpp
  netwerk/dns/DNSRequestParent.cpp
  netwerk/dns/TRR.cpp
  netwerk/dns/nsDNSService2.cpp
  netwerk/dns/nsHostRecord.cpp
  netwerk/dns/nsHostRecord.h
  netwerk/dns/nsHostResolver.cpp
  netwerk/dns/nsIDNSByTypeRecord.idl
  netwerk/test/unit/test_dns_override.js
  netwerk/test/unit/test_trr_httpssvc.js
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1923078 - Update to Glean v61.2.0 r=TravisLong,supply-chain-reviewers,mach-reviewers,android-reviewers,skhan
  Cargo.lock
  Cargo.toml
  gfx/wr/Cargo.lock
  gfx/wr/Cargo.toml
  mobile/android/android-components/plugins/dependencies/src/main/java/DependenciesPlugin.kt
  python/sites/mach.txt
  supply-chain/imports.lock
  third_party/rust/glean-core/.cargo-checksum.json
  third_party/rust/glean-core/Cargo.toml
  third_party/rust/glean/.cargo-checksum.json
  third_party/rust/glean/Cargo.toml
Due: eslint

Bug 1923110 - Glean: Use a 2s default flush timer on Android r=TravisLong,android-reviewers,skhan
  mobile/android/fenix/app/nimbus.fml.yaml
Due: yaml

Bug 1920463 p1: Remove RemoteSandboxBroker. r=nika,geckoview-reviewers,ipc-reviewers,m_kato
  browser/app/nsBrowserApp.cpp
  dom/chrome-webidl/ChromeUtils.webidl
  dom/docs/ipc/process_model.rst
  ipc/app/MozillaRuntimeMain.cpp
  ipc/docs/ipdl.rst
  ipc/docs/processes.rst
  ipc/glue/GeckoChildProcessHost.cpp
  ipc/ipdl/sync-messages.ini
  ipc/ipdl/test/ipdl/error/PUnknownProc.ipdl
  mobile/android/geckoview/src/main/java/org/mozilla/gecko/process/GeckoProcessType.java
  security/sandbox/moz.build
  security/sandbox/win/src/remotesandboxbroker/PRemoteSandboxBroker.ipdl
  security/sandbox/win/src/remotesandboxbroker/RemoteSandboxBrokerChild.cpp
  security/sandbox/win/src/remotesandboxbroker/RemoteSandboxBrokerChild.h
  security/sandbox/win/src/remotesandboxbroker/RemoteSandboxBrokerParent.cpp
  security/sandbox/win/src/remotesandboxbroker/RemoteSandboxBrokerParent.h
  security/sandbox/win/src/remotesandboxbroker/RemoteSandboxBrokerProcessChild.cpp
  security/sandbox/win/src/remotesandboxbroker/RemoteSandboxBrokerProcessChild.h
  security/sandbox/win/src/remotesandboxbroker/RemoteSandboxBrokerProcessParent.cpp
  security/sandbox/win/src/remotesandboxbroker/RemoteSandboxBrokerProcessParent.h
  security/sandbox/win/src/remotesandboxbroker/moz.build
  security/sandbox/win/src/remotesandboxbroker/remoteSandboxBroker.cpp
  security/sandbox/win/src/remotesandboxbroker/remoteSandboxBroker.h
  security/sandbox/win/src/sandboxbroker/sandboxBroker.cpp
  toolkit/components/aboutprocesses/content/aboutProcesses.js
  toolkit/components/crashes/tests/xpcshell/test_crash_manager.js
  toolkit/components/telemetry/docs/data/crash-ping.rst
  toolkit/locales/en-US/toolkit/about/aboutProcesses.ftl
  toolkit/xre/nsEmbedFunctions.cpp
  tools/@types/lib.gecko.dom.d.ts
  tools/@types/lib.gecko.xpcom.d.ts
  xpcom/build/XREChildData.h
  xpcom/components/nsComponentManager.cpp
  xpcom/geckoprocesstypes_generator/geckoprocesstypes/__init__.py
  xpcom/system/nsIXULRuntime.idl
Due: eslint, py-black, py-ruff, clang-format, fluent-lint, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Bug 1920463 p2: Remove AbstractSandboxBroker. r=nika
  ipc/glue/GeckoChildProcessHost.cpp
  ipc/glue/GeckoChildProcessHost.h
  security/sandbox/win/src/sandboxbroker/sandboxBroker.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Backed out changeset eedef05d5d37 (bug 1923083) for causing build bustages in WebGLTypes.h.
  dom/canvas/WebGLTypes.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Backed out changeset f177dd989d3c (bug 1920941) for causing xpcshell failures in test_tls_handshake_timing.js. CLOSED TREE
  netwerk/protocol/http/TlsHandshaker.cpp
  netwerk/protocol/http/TlsHandshaker.h
  netwerk/protocol/http/nsHttpConnection.cpp
  netwerk/protocol/http/nsHttpTransaction.cpp
  netwerk/test/unit/test_tls_handshake_timing.js
  netwerk/test/unit/xpcshell.toml
  tools/profiler/tests/browser/browser_test_marker_network_redirect.js
  tools/profiler/tests/browser/browser_test_marker_network_serviceworker_no_fetch_handler.js
  tools/profiler/tests/browser/browser_test_marker_network_serviceworker_no_respondWith_in_fetch_handler.js
  tools/profiler/tests/browser/browser_test_marker_network_serviceworker_synthetized_response.js
  tools/profiler/tests/browser/browser_test_marker_network_sts.js
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

fixup! MB 38: Mullvad Browser configuration
  browser/app/profile/000-mullvad-browser.js
Due: eslint

Bug 1918069 p3: Rebase existing chromium sandbox patches. r=handyman
  security/sandbox/chromium-shim/patches/add_interception_logging.patch
  security/sandbox/chromium-shim/patches/allow_env_changes.patch
  security/sandbox/chromium-shim/patches/broker_complex_line_breaks.patch
  security/sandbox/chromium-shim/patches/chromium_syscalls_6_8_update.patch
  security/sandbox/chromium-shim/patches/derive_sid_from_name.patch
  security/sandbox/chromium-shim/patches/more_chromium_linux_x86_x64_syscalls.patch
Due: none

Bug 1918069 p4: Add upstream chromium sandbox patches. r=handyman
  security/sandbox/chromium-shim/patches/set_delayed_integrity_on_process_acl.patch
  security/sandbox/chromium-shim/patches/upstream/README.md
  security/sandbox/chromium-shim/patches/upstream/add_loongarch_defines.patch
  security/sandbox/chromium-shim/patches/upstream/add_riscv64_defines.patch
  security/sandbox/chromium-shim/patches/upstream/add_win_ver_build_19041.patch
  security/sandbox/chromium-shim/patches/upstream/allow_signed_binary_proxy_for_delayed.patch
  security/sandbox/chromium-shim/patches/upstream/avoid_double_delete_risk_when_no_job.patch
  security/sandbox/chromium-shim/patches/upstream/fix_thread_local_for_c++20.patch
  security/sandbox/chromium-shim/patches/upstream/fix_tracker_process_id_removal.patch
  security/sandbox/chromium-shim/patches/upstream/remove_unused_replace_funcs_for_c++20.patch
  security/sandbox/chromium-shim/patches/upstream/update_IsValidImageSection.patch
Due: file-whitespace

Bug 1918069 p6: Fix the sorting of patches to match the order specified. r=tjr
  python/mozbuild/mozbuild/vendor/vendor_manifest.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1918069 p8: Add some documentation for the individual-files flavor. r=tjr
  python/mozbuild/mozbuild/vendor/docs/index.rst
Due: file-whitespace

Bug 1918069 p7: Add ability to use individual-files flavor for googlesource. r=tjr
  python/mozbuild/mozbuild/vendor/host_base.py
  python/mozbuild/mozbuild/vendor/host_googlesource.py
  python/mozbuild/mozbuild/vendor/moz_yaml.py
  python/mozbuild/mozbuild/vendor/vendor_manifest.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1918069 p9: Add mach vendor moz.yaml file for chromium sandbox code. r=handyman
  security/sandbox/chromium/moz.yaml
Due: yaml

Bug 1896644 - Safely extract autofill section form data r=credential-management-reviewers,dimi
  toolkit/components/formautofill/shared/AutofillTelemetry.sys.mjs
  toolkit/components/formautofill/shared/FormAutofillSection.sys.mjs
Due: eslint

Bug 1923191 - Only send autofill message when section is valid. r=dimi
  browser/extensions/formautofill/test/unit/test_autofill_ios_library.js
  toolkit/components/formautofill/FormAutofillChild.ios.sys.mjs
Due: eslint

Bug 1921417 - Add "see details" link to the alert dialog shown when an add-on install has failed. r=geckoview-reviewers,android-reviewers,amejiamarmol
  mobile/android/android-components/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/webextension/GeckoWebExtensionException.kt
  mobile/android/android-components/components/concept/engine/src/main/java/mozilla/components/concept/engine/webextension/WebExtension.kt
  mobile/android/fenix/app/src/fenix/res/layout/addon_installation_failed_dialog.xml
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/extension/WebExtensionPromptFeature.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/extension/WebExtensionPromptFeatureTest.kt
  mobile/android/geckoview/api.txt
  mobile/android/geckoview/src/androidTest/java/org/mozilla/geckoview/test/WebExtensionTest.kt
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/WebExtension.java
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/WebExtensionController.java
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/doc-files/CHANGELOG.md
  mobile/shared/modules/geckoview/GeckoViewWebExtension.sys.mjs
Due: eslint, file-whitespace

Bug 1923293 - Actually reference the new MozPromise documentation DONTBUILD
  xpcom/docs/index.rst
  xpcom/docs/mozpromise.rst
Due: file-whitespace

Bug 1915626 - Part 1: Make it possible to cache the HTTP response headers. r=necko-reviewers,valentin
  netwerk/protocol/http/HttpBaseChannel.cpp
  netwerk/protocol/http/HttpBaseChannel.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1915626 - Part 2: Cache HTTP response headers for the CSS. r=emilio
  layout/style/Loader.cpp
  layout/style/SharedSubResourceCache.cpp
  layout/style/SharedSubResourceCache.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1915626 - Part 4: Add test for the HTTP headers for the cached CSS/JS. r=devtools-reviewers,jdescottes
  devtools/client/netmonitor/test/browser_net_script_cache.js
  devtools/client/netmonitor/test/browser_net_stylesheet_cache.js
Due: eslint

Bug 1915626 - Part 3: Cache HTTP response headers for the JS. r=bthrall
  dom/script/ScriptLoader.cpp
  dom/script/ScriptLoader.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1922782 - convert some skip-if conditions for mac on mochitest-plain to be longer form. r=aryx,media-playback-reviewers,padenot
  dom/base/test/fullscreen/mochitest.toml
  dom/base/test/mochitest.toml
  dom/events/test/mochitest.toml
  dom/html/test/forms/mochitest.toml
  dom/media/mediasource/test/mochitest.toml
  dom/media/test/mochitest.toml
  dom/media/webaudio/test/mochitest.toml
  dom/push/test/mochitest.toml
  dom/tests/mochitest/bugs/mochitest.toml
  dom/xhr/tests/mochitest.toml
Due: none

Bug 1923259 - Update android nightly application-services version bump to db075c0d9f40b80ac00eab5113ff83251b1a02b8 r=dmeehan
  mobile/android/android-components/plugins/dependencies/src/main/java/ApplicationServices.kt
  mobile/android/android-components/plugins/dependencies/src/main/java/moz.yaml
Due: yaml

Bug 1922897 - remove tests from running on asan due to running on wpt. r=karlt
  dom/media/webaudio/test/mochitest.toml
Due: none

Bug 1923289 - Don't report popups as transparent in uncomposited screens. r=stransky
  view/nsView.cpp
  widget/gtk/nsWindow.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1923289 - Don't report popups as transparent in uncomposited screens. r=stransky, a=RyanVM
  view/nsView.cpp
  widget/gtk/nsWindow.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Backed out 2 changesets (bug 1920463) for causing multiple failures. CLOSED TREE
  browser/app/nsBrowserApp.cpp
  dom/chrome-webidl/ChromeUtils.webidl
  dom/docs/ipc/process_model.rst
  ipc/app/MozillaRuntimeMain.cpp
  ipc/docs/ipdl.rst
  ipc/docs/processes.rst
  ipc/glue/GeckoChildProcessHost.cpp
  ipc/glue/GeckoChildProcessHost.h
  ipc/ipdl/sync-messages.ini
  ipc/ipdl/test/ipdl/error/PUnknownProc.ipdl
  mobile/android/geckoview/src/main/java/org/mozilla/gecko/process/GeckoProcessType.java
  security/sandbox/moz.build
  security/sandbox/win/src/remotesandboxbroker/PRemoteSandboxBroker.ipdl
  security/sandbox/win/src/remotesandboxbroker/RemoteSandboxBrokerChild.cpp
  security/sandbox/win/src/remotesandboxbroker/RemoteSandboxBrokerChild.h
  security/sandbox/win/src/remotesandboxbroker/RemoteSandboxBrokerParent.cpp
  security/sandbox/win/src/remotesandboxbroker/RemoteSandboxBrokerParent.h
  security/sandbox/win/src/remotesandboxbroker/RemoteSandboxBrokerProcessChild.cpp
  security/sandbox/win/src/remotesandboxbroker/RemoteSandboxBrokerProcessChild.h
  security/sandbox/win/src/remotesandboxbroker/RemoteSandboxBrokerProcessParent.cpp
  security/sandbox/win/src/remotesandboxbroker/RemoteSandboxBrokerProcessParent.h
  security/sandbox/win/src/remotesandboxbroker/moz.build
  security/sandbox/win/src/remotesandboxbroker/remoteSandboxBroker.cpp
  security/sandbox/win/src/remotesandboxbroker/remoteSandboxBroker.h
  security/sandbox/win/src/sandboxbroker/sandboxBroker.cpp
  security/sandbox/win/src/sandboxbroker/sandboxBroker.h
  toolkit/components/aboutprocesses/content/aboutProcesses.js
  toolkit/components/crashes/tests/xpcshell/test_crash_manager.js
  toolkit/components/telemetry/docs/data/crash-ping.rst
  toolkit/locales/en-US/toolkit/about/aboutProcesses.ftl
  toolkit/xre/nsEmbedFunctions.cpp
  tools/@types/lib.gecko.dom.d.ts
  tools/@types/lib.gecko.xpcom.d.ts
  xpcom/build/XREChildData.h
  xpcom/components/nsComponentManager.cpp
  xpcom/geckoprocesstypes_generator/geckoprocesstypes/__init__.py
  xpcom/system/nsIXULRuntime.idl
Due: eslint, py-black, py-ruff, clang-format, fluent-lint, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Bug 1922390 - [bidi] Use asyncOpenTime instead of channelCreationTime for bidi network event timings r=webdriver-reviewers,Sasha a=RyanVM
  remote/shared/NetworkRequest.sys.mjs
Due: eslint

Bug 1922390 - [bidi] Use asyncOpenTime instead of channelCreationTime for bidi network event timings r=webdriver-reviewers,Sasha
  remote/shared/NetworkRequest.sys.mjs
Due: eslint

Bug 1922390 - [wdspec] Avoid rounding issues with request timing assertions r=webdriver-reviewers,Sasha
  testing/web-platform/tests/webdriver/tests/bidi/network/auth_required/auth_required.py
  testing/web-platform/tests/webdriver/tests/bidi/network/before_request_sent/before_request_sent.py
  testing/web-platform/tests/webdriver/tests/bidi/network/fetch_error/fetch_error.py
  testing/web-platform/tests/webdriver/tests/bidi/network/response_completed/response_completed.py
  testing/web-platform/tests/webdriver/tests/bidi/network/response_started/response_started.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1922390 - [wdspec] Avoid rounding issues with request timing assertions r=webdriver-reviewers,Sasha a=RyanVM
  testing/web-platform/tests/webdriver/tests/bidi/network/auth_required/auth_required.py
  testing/web-platform/tests/webdriver/tests/bidi/network/before_request_sent/before_request_sent.py
  testing/web-platform/tests/webdriver/tests/bidi/network/fetch_error/fetch_error.py
  testing/web-platform/tests/webdriver/tests/bidi/network/response_completed/response_completed.py
  testing/web-platform/tests/webdriver/tests/bidi/network/response_started/response_started.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1905529 - [devtools] Skip browser_rules_preview-tooltips-sizes.js on linux opt for frequent failures r=devtools-reviewers,bomsy
  devtools/client/inspector/rules/test/browser_part2.toml
Due: none

Bug 1905529 - [devtools] Skip browser_rules_preview-tooltips-sizes.js on linux opt for frequent failures r=devtools-reviewers,bomsy a=test-only
  devtools/client/inspector/rules/test/browser_part2.toml
Due: none

Bug 1921029 - [Menu Redesign] Add divider line between extensions. r=android-reviewers,sfamisa
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/menu/compose/ExtensionsSubmenu.kt
Due: none
