Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

eslint:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py eslint

stylelint:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py stylelint

py-black:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py black

py-ruff:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py ruff

yaml:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py yaml

shellcheck:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py shellcheck

clang-format:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  ...

rustfmt:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py rustfmt

fluent-lint:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py fluent-lint

localization:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py l10n

Bug 1917872: Part 1- Created Collections composable. r=gl,android-reviewers
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/collections/Collections.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/fake/FakeHomepagePreview.kt
Due: none

Bug 1917872: Part 2- Added collections composable to homepage. r=gl,android-reviewers
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/collections/Collections.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/collections/CollectionsState.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/fake/FakeHomepagePreview.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/store/HomepageState.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/ui/Homepage.kt
Due: none

Bug 1855383 - skip browser_webauthn_prompts.js on Linux for frequent intermittent failures. r=intermittent-reviewers,jmaher DONTBUILD
  dom/webauthn/tests/browser/browser.toml
Due: none

Bug 1917602 - Make CSS zoom property discrete animatable. r=emilio
  servo/components/style/properties/longhands/box.mako.rs
  testing/web-platform/tests/css/css-viewport/zoom/discrete-animation.html
Due: eslint, rustfmt, file-whitespace, trojan-source

Bug 1899978 - [wdspec] Update cookie test to use "network.cookie.CHIPS.enabled" preference in cookie APIs. r=webdriver-reviewers,whimboo
  testing/web-platform/mozilla/tests/webdriver/bidi/storage/set_cookie/partition.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1899978 - [bidi] Use "network.cookie.CHIPS.enabled" preference in cookie APIs. r=webdriver-reviewers,whimboo
  remote/webdriver-bidi/modules/root/storage.sys.mjs
  testing/web-platform/meta/webdriver/tests/bidi/storage/get_cookies/partition.py.ini
  testing/web-platform/mozilla/meta/webdriver/bidi/storage/set_cookie/partition.py.ini
Due: eslint, test-manifest

Bug 696326 - add crashtest r=emilio
  layout/svg/crashtests/696326-1.svg
  layout/svg/crashtests/crashtests.list
Due: none

Backed out 2 changesets (bug 1898031) for causing build bustages @ WasmPI.cpp CLOSED TREE
  js/public/WasmFeatures.h
  js/src/debugger/DebugAPI.h
  js/src/debugger/Debugger.cpp
  js/src/debugger/Debugger.h
  js/src/debugger/Frame.cpp
  js/src/debugger/Frame.h
  js/src/jit-test/tests/wasm/js-promise-integration/debug.js
  js/src/shell/js.cpp
  js/src/vm/FrameIter.h
  js/src/wasm/WasmBuiltins.cpp
  js/src/wasm/WasmInstance.cpp
  js/src/wasm/WasmInstance.h
  js/src/wasm/WasmPI.cpp
  js/src/wasm/WasmPI.h
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1906818 - Introducing a counter to measure how many handshakes are sent (being ready to be sent) for webrtc dtls r=bwc
  dom/media/webrtc/metrics.yaml
  dom/media/webrtc/transport/transportlayerdtls.cpp
  dom/media/webrtc/transport/transportlayerdtls.h
Due: yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1919813: Introduce Nimbus variable for browser.urlbar.scotchBonnet.enableOverride r=daleharvey
  browser/components/urlbar/tests/browser/browser_searchModeSwitcher_basic.js
  toolkit/components/nimbus/FeatureManifest.yaml
Due: eslint, yaml

Bug 1920788 - Add additional logic qualifier when sendUnifiedAdsCallbackEvent runs r=home-newtab-reviewers,thecount
  browser/components/newtab/lib/TelemetryFeed.sys.mjs
Due: eslint

Bug 1909024 - Only set fingerprinting protection overrides pref if Nimbus fingerprinting-protection is enabled. r=geckoview-reviewers,android-reviewers,owlish,amejiamarmol
  mobile/android/android-components/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/GeckoEngine.kt
  mobile/android/android-components/components/concept/engine/src/main/java/mozilla/components/concept/engine/Settings.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/Core.kt
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/GeckoRuntimeSettings.java
Due: none

Bug 1909024 - Add a GeckoEngineTest for fingerprinting protection overrides. r=amejiamarmol,android-reviewers
  mobile/android/android-components/components/browser/engine-gecko/src/test/java/mozilla/components/browser/engine/gecko/GeckoEngineTest.kt
Due: none

Bug 1918743 – Add telemetry for new list feed component. r=nbarrett,home-newtab-reviewers
  browser/components/newtab/content-src/components/DiscoveryStreamComponents/DSCard/DSCard.jsx
  browser/components/newtab/content-src/components/DiscoveryStreamImpressionStats/ImpressionStats.jsx
  browser/components/newtab/data/content/activity-stream.bundle.js
  browser/components/newtab/lib/TelemetryFeed.sys.mjs
  browser/components/newtab/metrics.yaml
  browser/components/newtab/test/unit/content-src/components/DiscoveryStreamComponents/DSCard.test.jsx
  browser/components/newtab/test/unit/content-src/components/DiscoveryStreamComponents/ImpressionStats.test.jsx
Due: eslint, yaml

Backed out changeset 3410ee200ff1 (bug 1917939) for causing Fenix failures CLOSED TREE
  mobile/android/fenix/app/metrics.yaml
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/FenixApplication.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/metrics/FirstSessionPing.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/distributions/DistributionIdUtil.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/partnerships/PartnershipDeal.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/partnerships/PartnershipDealIdUtil.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/distributions/DistributionIdUtilTest.kt
Due: yaml

Backed out 4 changesets (bug 1915828, bug 1920940) for causing perma bc failures @ browser_urlQueryStringStripping.js CLOSED TREE
  toolkit/components/antitracking/test/browser/browser.toml
  toolkit/components/antitracking/test/browser/browser_nimbus_3pcb.js
  toolkit/components/antitracking/test/browser/browser_nimbus_etp_features.js
  toolkit/components/nimbus/FeatureManifest.yaml
Due: eslint, yaml

Bug 1902547 - Mark 'temporal-svc-encoding.https.any.worker.html?vp8/9' as failing on win ccov. r=padenot DONTBUILD
  testing/web-platform/meta/webcodecs/temporal-svc-encoding.https.any.js.ini
Due: test-manifest

Bug 1920238 - Update wpt file @ 'activation-behavior.window.js.ini' r=Sasha. DONTBUILD
  testing/web-platform/meta/html/semantics/links/following-hyperlinks/activation-behavior.window.js.ini
Due: test-manifest

Bug 1919230 - Fix no-shadow lint warnings in translations-document.sys.mjs r=translations-reviewers,gregtatum
  toolkit/components/translations/content/translations-document.sys.mjs
Due: eslint

Bug 1919230 - Rework attribute translations r=translations-reviewers,gregtatum
  toolkit/components/translations/content/translations-document.sys.mjs
  toolkit/components/translations/tests/browser/browser_translations_translation_document.js
Due: eslint

Bug 1920567 - Remove mingw conditions to enable input pane r=tjr,win-reviewers,gstoll
  widget/windows/OSKInputPaneManager.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1918978: Initialise other slots first before calling fallible init. r=jandem
  js/src/vm/ArrayBufferViewObject.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1919205 - Clean-up initialization of nsJARChannel. r=necko-reviewers,valentin
  modules/libjar/nsJARChannel.cpp
  modules/libjar/nsJARChannel.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1919205 - Clean up CSS Loader encoding detection. r=firefox-style-system-reviewers,zrhoffman
  layout/style/Loader.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1919205 - Add a test for this bug. r=firefox-style-system-reviewers,zrhoffman
  layout/reftests/text/reftest.list
  layout/reftests/text/utf16-bom-ref.txt
  layout/reftests/text/utf16-bom.txt
Due: none

Bug 1919205 - Make resource/chrome URIs default to UTF-8 encoding. r=necko-reviewers,valentin
  modules/libjar/nsJARChannel.cpp
  netwerk/base/nsBaseChannel.cpp
  netwerk/protocol/file/nsFileChannel.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1919205: apply code formatting via Lando
  modules/libjar/nsJARChannel.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1920731: Prevent gBrowser.tabs from returning tab groups r=dwalker,sthompson,tabbrowser-reviewers
  browser/components/tabbrowser/content/tabs.js
  browser/components/tabbrowser/test/browser/tabs/browser_tab_groups.js
Due: eslint

Bug 1921049 - Remove some bindgen includes. r=firefox-style-system-reviewers,boris
  gfx/2d/FontFeature.h
  gfx/2d/moz.build
  gfx/src/nsFont.h
  gfx/thebes/gfxFontEntry.h
  gfx/thebes/gfxFontFeatures.h
  layout/style/GeckoBindings.h
  layout/style/ServoBindings.toml
  layout/style/ServoStyleConstsForwards.h
  layout/style/StyleAnimationValue.h
  layout/style/nsCSSValue.h
  layout/style/nsMediaFeatures.cpp
  layout/style/nsStyleTransformMatrix.cpp
  layout/style/nsStyleUtil.h
  servo/components/style/gecko/media_features.rs
  servo/ports/geckolib/cbindgen.toml
  servo/ports/geckolib/glue.rs
Due: py-black, clang-format, rustfmt, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1885702 - Add a WPT testcase that triggers the crash here. r=dholbert
  testing/web-platform/tests/editing/other/password-bidi-dblclick.html
Due: eslint, file-whitespace

Bug 1885702 - Fix initialization of masked text fragment in ClusterIterator. r=layout-reviewers,emilio
  layout/generic/nsTextFrame.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1918442 - Add tests for list feed cards r=home-newtab-reviewers,amy
  browser/components/newtab/content-src/components/DiscoveryStreamComponents/DSCard/DSCard.jsx
  browser/components/newtab/content-src/components/DiscoveryStreamComponents/ListFeed/ListFeed.jsx
  browser/components/newtab/data/content/activity-stream.bundle.js
  browser/components/newtab/karma.mc.config.js
  browser/components/newtab/test/unit/content-src/components/DiscoveryStreamComponents/CardGrid.test.jsx
  browser/components/newtab/test/unit/content-src/components/DiscoveryStreamComponents/DSCard.test.jsx
  browser/components/newtab/test/unit/content-src/components/DiscoveryStreamComponents/ListFeed.test.jsx
Due: eslint

Bug 1907591 - [translations] Display error messages using moz-message-bar. r=nordzilla,fluent-reviewers,settings-reviewers,desktop-theme-reviewers,translations-reviewers,bolsson,dao,mossop
  browser/components/preferences/translations.js
  browser/components/translations/tests/browser/browser_translations_about_preferences_settings_ui.js
  browser/locales-preview/translations.ftl
  browser/themes/shared/preferences/translations.css
Due: eslint, stylelint, fluent-lint, file-whitespace

Bug 1907591 - [translations] Refactor function to update button state based on language download status. r=nordzilla,settings-reviewers,mossop
  browser/components/preferences/translations.js
Due: eslint

Bug 1907591 - [translations] Add Error Handling for Language Download States. r=nordzilla,settings-reviewers,mossop,translations-reviewers
  browser/components/preferences/translations.js
Due: eslint

Bug 1907591 - [translations] Refactor the code for testcases for better readability. r=nordzilla,translations-reviewers
  browser/components/translations/tests/browser/browser.toml
  browser/components/translations/tests/browser/browser_translations_about_preferences_settings_download_languages_ui.js
  browser/components/translations/tests/browser/browser_translations_about_preferences_settings_ui.js
Due: eslint

Bug 1917602 - Fix test_transitions_per_property.html
  layout/style/test/test_transitions_per_property.html
Due: eslint, file-whitespace

Backed out changeset 90c87c97f7b1 (bug 1919837) for causing failures at browser_getNavigationHistory.js.
  taskcluster/kinds/test/variants.yml
  testing/web-platform/meta/html/browsers/browsing-the-web/overlapping-navigations-and-traversals/anchor-fragment-history-back-on-click.html.ini
  testing/web-platform/meta/html/browsers/browsing-the-web/overlapping-navigations-and-traversals/cross-document-traversal-cross-document-traversal.html.ini
  testing/web-platform/meta/html/browsers/browsing-the-web/overlapping-navigations-and-traversals/cross-document-traversal-same-document-traversal.html.ini
  testing/web-platform/meta/html/browsers/browsing-the-web/overlapping-navigations-and-traversals/same-document-traversal-same-document-traversal-hashchange.html.ini
  testing/web-platform/meta/html/browsers/browsing-the-web/overlapping-navigations-and-traversals/same-document-traversal-same-document-traversal-pushstate.html.ini
  testing/web-platform/meta/html/browsers/history/the-history-interface/traverse-during-unload.html.ini
  testing/web-platform/meta/html/dom/idlharness.https.html.ini
Due: yaml, test-manifest

Backed out changeset ac4bb55b2a14 (bug 1920702) for causing failures at RecordedNimbusContextTest.kt. CLOSED TREE
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/experiments/RecordedNimbusContext.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/experiments/RecordedNimbusContextTest.kt
Due: none

Bug 1917662 - Rework support class import, and fix flatten bug. r=perftest-reviewers,afinder
  testing/raptor/raptor/manifest.py
  testing/raptor/raptor/support_class_utils.py
  testing/raptor/raptor/utils.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml
