Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

eslint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

stylelint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

py-black:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

py-ruff:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

yaml:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

shellcheck:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

clang-format:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

rustfmt:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

fluent-lint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

Bug 1934562 [wpt PR 49460] - Improve test_cq_condition_unknown() expectation text, a=testonly
  testing/web-platform/tests/css/css-conditional/container-queries/support/cq-testcommon.js
Due: eslint

Bug 1934573 [wpt PR 49462] - Add a WPT test case for sibling-index() in pseudo-elements., a=testonly
  testing/web-platform/tests/css/css-values/calc-sibling-function.html
Due: eslint, file-whitespace

Bug 1934594 [wpt PR 49464] - TransformPositionArea() incorrectly assumed two-value input, a=testonly
  testing/web-platform/tests/css/css-anchor-position/chrome-380321441-crash.html
Due: eslint, file-whitespace

Bug 1934573 [wpt PR 49462] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-values/calc-sibling-function.html.ini
Due: test-manifest

Bug 1934614 [wpt PR 49468] - Allow _unfencedTop navigation in all fenced frames., a=testonly
  testing/web-platform/tests/fenced-frame/resources/unfenced-top-target.html
  testing/web-platform/tests/fenced-frame/unfenced-top-navigation-default.https.html
Due: eslint, file-whitespace

Bug 1880491 - Warm up DNS on Android for app-link intents. r=android-reviewers,pollymce
  mobile/android/android-components/components/feature/intent/src/main/java/mozilla/components/feature/intent/processing/TabIntentProcessor.kt
Due: none

Bug 1929934 - [devtools] Fix browser_dbg-javascript-tracer-sidebar.js intermittent on Windows. r=devtools-reviewers,nchevobbe
  devtools/client/debugger/test/mochitest/browser_dbg-javascript-tracer-sidebar.js
Due: eslint

Bug 1929934 - [devtools] Fix browser_dbg-javascript-tracer-sidebar.js intermittent on Windows. r=devtools-reviewers,nchevobbe a=pascalc
  devtools/client/debugger/test/mochitest/browser_dbg-javascript-tracer-sidebar.js
Due: eslint

Bug 1932796 - Partially revert #1929270 a=pascalc
  dom/events/EventStateManager.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1919353 - Add profiler markers for Glean::[Labeled]TimingDistributionMetric r=florian,chutten
  toolkit/components/glean/api/src/private/labeled_timing_distribution.rs
  toolkit/components/glean/api/src/private/mod.rs
  toolkit/components/glean/api/src/private/timing_distribution.rs
Due: rustfmt, file-whitespace, trojan-source

Bug 1919352 - Add profiler markers for Glean::TimespanMetric r=chutten,florian
  toolkit/components/glean/api/src/private/timespan.rs
Due: rustfmt, file-whitespace, trojan-source

Bug 1919346 - Unify integer-like markers into one central struct and schema. (re)add markers for Quantity, Counter, Rate, Denominator and Numerator metrics r=florian,chutten
  toolkit/components/glean/api/src/private/counter.rs
  toolkit/components/glean/api/src/private/denominator.rs
  toolkit/components/glean/api/src/private/labeled.rs
  toolkit/components/glean/api/src/private/mod.rs
  toolkit/components/glean/api/src/private/numerator.rs
  toolkit/components/glean/api/src/private/quantity.rs
  toolkit/components/glean/api/src/private/rate.rs
Due: rustfmt, file-whitespace, trojan-source

Bug 1919340 - Unify simple distribution markers into one central struct and schema. (re)Add markers for Glean::[Labeled][Memory|Custom]DistributionMetric r=florian,chutten
  toolkit/components/glean/api/src/private/custom_distribution.rs
  toolkit/components/glean/api/src/private/labeled_custom_distribution.rs
  toolkit/components/glean/api/src/private/labeled_memory_distribution.rs
  toolkit/components/glean/api/src/private/memory_distribution.rs
  toolkit/components/glean/api/src/private/mod.rs
Due: rustfmt, file-whitespace, trojan-source

Bug 1919451 - Remove a11y_check annotation on 'browser_fontinspector_all-fonts.js' r=nchevobbe,devtools-reviewers
  devtools/client/inspector/fonts/test/browser.toml
Due: none

Bug 1933797: Change timing_unit for canvas randomization measurement r=timhuang
  toolkit/components/resistfingerprinting/metrics.yaml
  toolkit/components/resistfingerprinting/nsRFPService.cpp
Due: yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1934772 - Update android nightly application-services version bump to 3fc9b9b6a32a42d678fd549d4fa7804838062cb0 r=release-managers,RyanVM
  mobile/android/android-components/plugins/dependencies/src/main/java/ApplicationServices.kt
  mobile/android/android-components/plugins/dependencies/src/main/java/DependenciesPlugin.kt
  mobile/android/android-components/plugins/dependencies/src/main/java/moz.yaml
Due: yaml

Backed out changeset c9bf1625aab7 (bug 1933797) for causing build bustages @ toolkit/components/glean/.deps/metrics_yamls.cached.stub CLOSED TREE
  toolkit/components/resistfingerprinting/metrics.yaml
  toolkit/components/resistfingerprinting/nsRFPService.cpp
Due: yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1934702 - Update AGP to version 8.7.3. r=android-reviewers,petru
  mobile/android/android-components/plugins/dependencies/src/main/java/DependenciesPlugin.kt
Due: none

Bug 1934330 - CookieStore - check the existence of the window, r=smaug
  dom/cookiestore/CookieStore.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Backed out changeset 1a76a45e1895 (bug 1934145) for causing perma browser-time failures. CLOSED TREE
  gfx/wr/webrender/src/composite.rs
  gfx/wr/webrender/src/lib.rs
  gfx/wr/webrender/src/picture.rs
  gfx/wr/webrender/src/renderer/init.rs
  gfx/wr/webrender/src/renderer/mod.rs
  gfx/wr/wrench/src/composite.cpp
  gfx/wr/wrench/src/composite.rs
  gfx/wr/wrench/src/main.rs
  gfx/wr/wrench/src/wrench.rs
Due: clang-format, rustfmt, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1929156 - Check negotiated ALPN matches altSvc protocol r=necko-reviewers,kershaw
  netwerk/protocol/http/nsHttpConnection.cpp
  netwerk/test/unit/head_channels.js
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1932547 - Part 3: Move JS::CompileModuleScriptToStencil to BytecodeCompiler.cpp. r=bthrall
  js/src/frontend/BytecodeCompiler.cpp
  js/src/frontend/CompileScript.cpp
  js/src/frontend/Stencil.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1932547 - Part 1: Move JS::CompileGlobalScriptToStencil to BytecodeCompiler.cpp. r=bthrall
  js/src/frontend/BytecodeCompiler.cpp
  js/src/frontend/CompileScript.cpp
  js/src/frontend/Stencil.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1932547 - Part 2: Rename frontend::CompileGlobalScriptToStencil to CompileGlobalScriptToStencilWithInput. r=bthrall
  js/src/frontend/BytecodeCompiler.cpp
  js/src/frontend/BytecodeCompiler.h
  js/src/vm/SelfHosting.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1932547 - Part 4: Remove frontend::ParseModuleToStencil. r=bthrall
  js/src/frontend/BytecodeCompiler.cpp
  js/src/frontend/BytecodeCompiler.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1932547 - Part 5: Move JS::PrepareForInstantiate to Stencil.cpp. r=bthrall
  js/src/frontend/CompileScript.cpp
  js/src/frontend/Stencil.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1932547 - Part 6: Move FrontendContext API to FrontendContext.cpp. r=bthrall
  js/src/frontend/CompileScript.cpp
  js/src/frontend/FrontendContext.cpp
  js/src/frontend/moz.build
Due: py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1932547 - Part 7: Move JS::EncodeStencil,JS::DecodeStencil to StencilXdr.cpp. r=bthrall
  js/src/frontend/Stencil.cpp
  js/src/frontend/StencilXdr.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1930824 - Fix a race around sendMouseEvent call in hitTestFissionOOPIF r=botond
  gfx/layers/apz/test/mochitest/helper_fission_utils.js
  gfx/layers/apz/test/mochitest/test_group_fission.html
Due: eslint, file-whitespace

Bug 1934854 - Added the marketing data preference to Settings. r=android-reviewers,amejiamarmol
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/DataChoicesFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/SettingsFragment.kt
  mobile/android/fenix/app/src/main/res/values/preference_keys.xml
  mobile/android/fenix/app/src/main/res/values/strings.xml
  mobile/android/fenix/app/src/main/res/xml/data_choices_preferences.xml
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/settings/DataChoicesFragmentTest.kt
Due: eslint

Bug 1916287 - Disable 'browser_iframe_autofill_sandbox.js' on linux1804 asan & debug for frequent failures. r=credential-management-reviewers,dimi DONTBUILD
  browser/extensions/formautofill/test/browser/browser.toml
Due: none

Bug 1934854 - Refactor booleanPreferenceTelemetryAllowList block. r=android-reviewers,amejiamarmol
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/SettingsFragment.kt
Due: none

Bug 1929358 - Remove warning messages for lax-by-default in non-nightly env, r=edgul,cookie-reviewers
  devtools/client/webconsole/test/browser/browser_webconsole_warning_group_cookies.js
  modules/libpref/init/StaticPrefList.yaml
  netwerk/cookie/CookieParser.cpp
Due: eslint, yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1933142: add WPTs for `javascript:` URL navigations which check the order of the parent CSP and child CSP. r=tschuster
  testing/web-platform/tests/content-security-policy/navigation/support/utils.js
  testing/web-platform/tests/content-security-policy/navigation/to-javascript-parent-initiated-check-csp-order.html
  testing/web-platform/tests/content-security-policy/navigation/to-javascript-parent-initiated-child-csp.html
Due: eslint, file-whitespace

Bug 1921454 - refactor(webgpu): introduce `typedef … GPUCopyExternalImageSource` r=webgpu-reviewers,webidl,teoxoy,smaug
  dom/webidl/WebGPU.webidl
Due: file-whitespace

Bug 1934868 - Include CLEAR_ALL_CACHES in SiteDataManager clear method. r=anti-tracking-reviewers,timhuang
  browser/modules/SiteDataManager.sys.mjs
  browser/modules/test/unit/test_SiteDataManager.js
  toolkit/components/cleardata/nsIClearDataService.idl
Due: eslint, file-whitespace

Bug 1933261: Fix the profile missing and downgrade UIs to not hang on startup. a=pascalc
  toolkit/xre/nsAppRunner.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1934695 - updated default_config_env for v132
  dom/media/webrtc/third_party_build/default_config_env
Due: none

Bug 1933859 - Extend probe expiration date: browser.searchinit.engine_invalid_webextension. r=search-reviewers,Standard8
  toolkit/components/search/metrics.yaml
Due: yaml

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, **/*.java, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml
