Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

eslint:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py eslint

stylelint:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py stylelint

py-black:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py black

py-ruff:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py ruff

yaml:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py yaml

shellcheck:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py shellcheck

clang-format:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  ...

rustfmt:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py rustfmt

fluent-lint:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py fluent-lint

localization:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py l10n

MB 37: Customization for the about dialog
  browser/base/content/aboutDialog.xhtml
  browser/locales/en-US/browser/aboutDialogMullvad.ftl
  tools/lint/fluent-lint/exclusions.yml
Due: eslint, yaml, fluent-lint, file-whitespace

MB 63: Customize some about pages for Mullvad Browser
  browser/components/about/AboutRedirector.cpp
  browser/components/about/components.conf
  docshell/base/nsAboutRedirector.cpp
  docshell/build/components.conf
  toolkit/content/aboutRightsMullvad.xhtml
  toolkit/content/aboutTelemetryMullvad.xhtml
  toolkit/content/jar.mn
  toolkit/locales/en-US/toolkit/about/aboutRightsMullvad.ftl
  toolkit/locales/en-US/toolkit/about/aboutTelemetryMullvad.ftl
Due: eslint, clang-format, fluent-lint, mingw-capitalization, mscom-init, file-whitespace, trojan-source

MB 39: Add home page about:mullvad-browser
  browser/app/profile/000-mullvad-browser.js
  browser/base/content/browser-places.js
  browser/base/content/browser.js
  browser/base/content/utilityOverlay.js
  browser/components/BrowserGlue.sys.mjs
  browser/components/about/AboutRedirector.cpp
  browser/components/about/components.conf
  browser/components/moz.build
  browser/components/mullvad-browser/AboutMullvadBrowserChild.sys.mjs
  browser/components/mullvad-browser/AboutMullvadBrowserParent.sys.mjs
  browser/components/mullvad-browser/content/2728-sparkles.svg
  browser/components/mullvad-browser/content/aboutMullvadBrowser.css
  browser/components/mullvad-browser/content/aboutMullvadBrowser.js
  browser/components/mullvad-browser/content/aboutMullvadBrowser.xhtml
  browser/components/mullvad-browser/content/mullvadBrowserFont.css
  browser/components/mullvad-browser/jar.mn
  browser/components/mullvad-browser/moz.build
  browser/components/newtab/AboutNewTabService.sys.mjs
  browser/components/preferences/home.inc.xhtml
  browser/components/preferences/preferences.xhtml
  browser/locales/en-US/browser/mullvad-browser/aboutMullvadBrowser.ftl
  browser/locales/en-US/browser/mullvad-browser/preferences.ftl
  browser/modules/HomePage.sys.mjs
  toolkit/content/license.html
Due: eslint, stylelint, py-black, clang-format, fluent-lint, mingw-capitalization, mscom-init, file-whitespace, trojan-source

MB 97: Remove UI cues to install new extensions.
  toolkit/mozapps/extensions/content/aboutaddons.css
Due: stylelint, file-whitespace

MB 47: uBlock Origin customization
  toolkit/components/extensions/child/ext-storage.js
  toolkit/components/extensions/parent/ext-storage.js
Due: eslint

MB 112: Updater customization for Mullvad Browser
  browser/app/profile/000-mullvad-browser.js
  browser/components/BrowserContentHandler.sys.mjs
  browser/confvars.sh
  browser/installer/windows/nsis/updater_append.ini
  toolkit/mozapps/extensions/AddonManager.sys.mjs
  toolkit/xre/nsAppRunner.cpp
Due: eslint, shellcheck, clang-format, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

MB 79: Add Mullvad Browser MAR signing keys
  toolkit/mozapps/update/updater/nightly_aurora_level3_primary.der
  toolkit/mozapps/update/updater/nightly_aurora_level3_secondary.der
  toolkit/mozapps/update/updater/release_primary.der
  toolkit/mozapps/update/updater/release_secondary.der
Due: none

MB 21: Disable the password manager
  browser/base/content/appmenu-viewcache.inc.xhtml
  browser/base/content/nsContextMenu.js
  browser/base/content/pageinfo/pageInfo.xhtml
  browser/components/BrowserGlue.sys.mjs
  browser/components/about/AboutRedirector.cpp
  browser/components/about/components.conf
  browser/components/moz.build
  browser/components/preferences/privacy.inc.xhtml
  toolkit/components/passwordmgr/LoginHelper.sys.mjs
Due: eslint, py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

MB 163: prevent uBlock Origin from being uninstalled/disabled
  toolkit/mozapps/extensions/internal/XPIDatabase.sys.mjs
Due: eslint

MB 34: Hide unsafe and unwanted preferences UI
  browser/components/preferences/main.inc.xhtml
  browser/components/preferences/privacy.inc.xhtml
  browser/components/preferences/search.inc.xhtml
Due: eslint, file-whitespace

MB 160: Disable the cookie exceptions button
  browser/components/preferences/privacy.js
Due: eslint

MB 213: Customize the search engines list
  toolkit/components/search/SearchService.sys.mjs
Due: eslint

MB 188: Customize Gitlab Issue and Merge templates
  .gitlab/issue_templates/Emergency Security Issue.md
  .gitlab/issue_templates/Rebase Browser - Alpha.md
  .gitlab/issue_templates/Rebase Browser - Stable.md
  .gitlab/merge_request_templates/default.md
Due: file-whitespace

MB 214: Enable cross-tab identity leak protection in "quiet" mode
  toolkit/components/securitylevel/SecurityLevel.sys.mjs
Due: eslint

MB 234: Disable OS spoofing in HTTP User-Agent.
  browser/app/profile/000-mullvad-browser.js
  netwerk/protocol/http/nsHttpHandler.cpp
  toolkit/components/resistfingerprinting/nsRFPService.cpp
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

MB 320: Temporarily disable WebRTC and WDBA on Windows.
  mozconfig-windows-x86_64
Due: none

MB 80: Enable Mullvad Browser as a default browser
  browser/components/preferences/main.js
  browser/components/shell/ShellService.sys.mjs
  browser/components/shell/WindowsDefaultBrowser.cpp
  browser/components/shell/nsWindowsShellService.cpp
  other-licenses/nsis/Contrib/ApplicationID/Makefile
  other-licenses/nsis/Contrib/CityHash/Makefile
  toolkit/mozapps/defaultagent/EventLog.h
  toolkit/mozapps/defaultagent/SetDefaultBrowser.cpp
  widget/windows/WinTaskbar.cpp
  widget/windows/moz.build
Due: eslint, py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1912989 - Vendor libwebrtc from feea82fad5
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/test/network/schedulable_network_behavior.cc
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1912989 - Vendor libwebrtc from 7115de6c5c
  third_party/libwebrtc/DEPS
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
Due: none

Bug 1912989 - Vendor libwebrtc from eed94222ea
  third_party/libwebrtc/AUTHORS
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/sdk/objc/components/video_codec/RTCVideoEncoderH264.mm
Due: clang-format

Bug 1912989 - Vendor libwebrtc from a93d5a00b1
  third_party/libwebrtc/DEPS
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
Due: none

Bug 1912989 - Vendor libwebrtc from 799c8e6422
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/call/version.cc
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1912989 - Vendor libwebrtc from 418bcf2acb
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/api/peer_connection_interface.h
  third_party/libwebrtc/api/test/mock_peerconnectioninterface.h
  third_party/libwebrtc/call/rtp_transport_controller_send.h
  third_party/libwebrtc/call/rtp_transport_controller_send_interface.h
  third_party/libwebrtc/call/test/mock_rtp_transport_controller_send.h
  third_party/libwebrtc/pc/peer_connection.h
  third_party/libwebrtc/pc/peer_connection_proxy.h
  third_party/libwebrtc/pc/test/fake_peer_connection_base.h
  third_party/libwebrtc/pc/test/mock_peer_connection_internal.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1912989 - Vendor libwebrtc from fc6df056b6
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/api/neteq/neteq.h
  third_party/libwebrtc/audio/audio_receive_stream.cc
  third_party/libwebrtc/audio/audio_receive_stream_unittest.cc
  third_party/libwebrtc/call/audio_receive_stream.h
  third_party/libwebrtc/media/base/media_channel.h
  third_party/libwebrtc/media/engine/webrtc_voice_engine.cc
  third_party/libwebrtc/media/engine/webrtc_voice_engine_unittest.cc
  third_party/libwebrtc/modules/audio_coding/acm2/acm_receiver.cc
  third_party/libwebrtc/modules/audio_coding/include/audio_coding_module_typedefs.h
  third_party/libwebrtc/modules/audio_coding/neteq/neteq_impl.cc
  third_party/libwebrtc/modules/audio_coding/neteq/neteq_unittest.cc
  third_party/libwebrtc/modules/audio_coding/neteq/statistics_calculator.cc
  third_party/libwebrtc/modules/audio_coding/neteq/statistics_calculator.h
  third_party/libwebrtc/modules/audio_coding/neteq/statistics_calculator_unittest.cc
  third_party/libwebrtc/moz-patch-stack/0031.patch
  third_party/libwebrtc/moz-patch-stack/0042.patch
  third_party/libwebrtc/moz-patch-stack/0046.patch
  third_party/libwebrtc/moz-patch-stack/0052.patch
  third_party/libwebrtc/pc/rtc_stats_collector.cc
  third_party/libwebrtc/pc/rtc_stats_collector_unittest.cc
  third_party/libwebrtc/pc/rtc_stats_integrationtest.cc
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1912989 - Vendor libwebrtc from 578905e7ca
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/audio/audio_send_stream.cc
  third_party/libwebrtc/audio/voip/voip_core.cc
  third_party/libwebrtc/moz-patch-stack/0033.patch
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1914057 - hide sponsor label if served recommendations in review checker. r=shopping-reviewers,Gijs
  browser/components/shopping/content/recommended-ad.mjs
  browser/components/shopping/tests/browser/browser_recommended_ad_test.js
  browser/components/storybook/stories/shopping-container.stories.mjs
  toolkit/components/shopping/test/browser/head.js
  toolkit/components/shopping/test/mockapis/analysis.sjs
  toolkit/components/shopping/test/mockapis/recommendations.sjs
  toolkit/components/shopping/test/mockapis/reporting.sjs
Due: eslint

Bug 1914057 - update strings for review checker recommendations and settings, plus other minor UX changes. r=fluent-reviewers,shopping-reviewers,bolsson,Gijs
  browser/components/shopping/content/recommended-ad.css
  browser/components/shopping/content/recommended-ad.mjs
  browser/components/shopping/content/settings.css
  browser/components/shopping/content/settings.mjs
  browser/components/shopping/tests/browser/browser_shopping_settings.js
  browser/components/storybook/stories/shopping-container.stories.mjs
  browser/locales/en-US/browser/shopping.ftl
Due: eslint, stylelint, fluent-lint, file-whitespace

Bug 1914057 - update recommendations toggle label and description in review checker settings. r=shopping-reviewers,fluent-reviewers,fchasen
  browser/components/shopping/content/settings.mjs
  browser/locales/en-US/browser/shopping.ftl
Due: eslint, fluent-lint, file-whitespace

Bug 1912989 - Vendor libwebrtc from 0f862520dc
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/modules/video_coding/BUILD.gn
  third_party/libwebrtc/moz-patch-stack/0002.patch
  third_party/libwebrtc/moz-patch-stack/0031.patch
  third_party/libwebrtc/moz-patch-stack/0041.patch
  third_party/libwebrtc/moz-patch-stack/0053.patch
  third_party/libwebrtc/moz-patch-stack/0081.patch
  third_party/libwebrtc/webrtc.gni
Due: none

Bug 1912989 - Vendor libwebrtc from d4a6c3f76f
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/moz-patch-stack/0031.patch
  third_party/libwebrtc/moz-patch-stack/0041.patch
  third_party/libwebrtc/moz-patch-stack/0089.patch
  third_party/libwebrtc/moz-patch-stack/0116.patch
  third_party/libwebrtc/moz-patch-stack/0117.patch
  third_party/libwebrtc/moz-patch-stack/0118.patch
  third_party/libwebrtc/moz-patch-stack/0119.patch
  third_party/libwebrtc/moz-patch-stack/d4a6c3f76f.no-op-cherry-pick-msg
Due: none

Bug 1912989 - Vendor libwebrtc from e7a305d3c7
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/call/version.cc
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1912989 - Vendor libwebrtc from d5238b0998
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/tools_webrtc/gn_check_autofix.py
Due: py-black, py-ruff, file-whitespace, trojan-source

No bug - Tagging 104a70fa1edc1b5d4cc44cc0a819cdd5622af377 with FIREFOX-ANDROID_130_0_BUILD1 a=release CLOSED TREE DONTBUILD
  .hgtags
Due: none

Bug 1912989 - Vendor libwebrtc from defafcb86e
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/api/test/network_emulation/schedulable_network_node_builder.cc
  third_party/libwebrtc/api/test/network_emulation/schedulable_network_node_builder.h
  third_party/libwebrtc/test/network/schedulable_network_behavior.cc
  third_party/libwebrtc/test/network/schedulable_network_behavior.h
  third_party/libwebrtc/test/network/schedulable_network_behavior_test.cc
  third_party/libwebrtc/test/peer_scenario/tests/bwe_ramp_up_test.cc
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1912989 - Vendor libwebrtc from 85c1db046f
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/call/version.cc
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1912989 - Vendor libwebrtc from dedb03e782
  third_party/libwebrtc/AUTHORS
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/moz-patch-stack/0065.patch
  third_party/libwebrtc/sdk/BUILD.gn
Due: none

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml
