Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, **/*.java, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml

Bug 1925839 - Flatpak SDK update r=jcristau,emersonbernier
  build/docs/flatpak.rst
  build/docs/index.rst
  python/mozbuild/mozbuild/repackaging/flatpak.py
  taskcluster/kinds/fetch/toolchains.yml
Due: py-black, py-ruff, yaml, file-whitespace, trojan-source

Bug 1950596 - Avoid creating Canvas2D target until actually drawing. r=aosmond
  dom/canvas/CanvasPath.h
  dom/canvas/CanvasRenderingContext2D.cpp
  dom/canvas/CanvasRenderingContext2D.h
  gfx/2d/DrawTargetCairo.cpp
  gfx/2d/DrawTargetCairo.h
  gfx/2d/DrawTargetOffset.h
  gfx/2d/Factory.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1950610 [Wayland] Always use WR compositor to paint D&D popups r=lsalzman
  gfx/ipc/CompositorOptions.h
  gfx/layers/ipc/LayersMessageUtils.h
  gfx/webrender_bindings/RenderCompositor.cpp
  widget/gtk/nsWindow.h
  widget/nsBaseWidget.cpp
  widget/nsBaseWidget.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1949901 - Hide selection changes from web apps which are caused by the hacks of `HTMLEditor` r=m_kato
  editor/libeditor/HTMLEditor.cpp
  testing/web-platform/tests/editing/crashtests/selectall-and-move-editable-br-onselectstart.html
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1914920 - Add http3.use_nspr_for_io pref to Nimbus r=acreskey
  toolkit/components/nimbus/FeatureManifest.yaml
Due: yaml

Bug 1950637 - Move MOZ_APP_PROFILE from old-configure to moz.configure r=glandium
  old-configure.in
  toolkit/moz.configure
Due: py-black, py-ruff

Bug 1950189 - Allow callouts to be dismissed by Esc even if they're not focused. r=omc-reviewers,emcminn
  browser/components/aboutwelcome/content/aboutwelcome.css
  browser/components/asrouter/content-src/styles/_feature-callout.scss
  browser/components/asrouter/docs/feature-callout.md
  browser/components/asrouter/modules/FeatureCallout.sys.mjs
Due: eslint, stylelint, file-whitespace

Bug 1949508 - Hold onto PlacesWeakCallbackWrapper instances. r=Standard8,places-reviewers
  services/sync/tests/unit/test_history_store.js
  toolkit/components/downloads/DownloadHistory.sys.mjs
  toolkit/components/downloads/DownloadIntegration.sys.mjs
  toolkit/components/places/PlacesExpiration.sys.mjs
Due: eslint

Backed out changeset b0a8901d8246 (bug 1921536) for casuing failures @test_sidebar_state.js.
  browser/components/sessionstore/test/marionette/test_restore_sidebar.py
  browser/components/sidebar/SidebarState.sys.mjs
  browser/components/sidebar/browser-sidebar.js
  browser/components/sidebar/tests/browser/browser_a11y_sidebar.js
  browser/components/sidebar/tests/browser/browser_glean_sidebar.js
  browser/components/sidebar/tests/browser/browser_sidebar_context_menu.js
  browser/components/sidebar/tests/browser/browser_sidebar_menubar_item_commands.js
  browser/components/sidebar/tests/browser/head.js
Due: eslint, py-black, py-ruff, file-whitespace, trojan-source

Bug 1950706 - Use correct snap wrapper for geckodriver as well r=benchatt
  taskcluster/docker/snap-coreXX-build/snap-tests/basic_tests.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1929840 - Avoid resolving not yet created promise; r=dom-storage-reviewers,jari
  dom/quota/ActorsParent.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1950119 - Update TypeScript targets to es2024. r=zombie,translations-reviewers,nordzilla
  toolkit/components/extensions/tsconfig.json
  toolkit/components/translations/tsconfig.json
  tools/@types/lib.gecko.dom.d.ts
  tools/@types/lib.gecko.tweaks.d.ts
  tools/@types/lib.gecko.xpcom.d.ts
  tools/@types/tsconfig.json
  tools/ts/build_dom.js
Due: eslint

Bug 1950119 - Update TypeScript to the latest version and fix package versions. r=zombie
  tools/ts/package-lock.json
  tools/ts/package.json
Due: eslint

Bug 1885620 - Use ESLint's setup_helper to setup modules for TypeScript (mach ts). r=ahal
  tools/lint/eslint/setup_helper.py
  tools/ts/mach_commands.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1846465 - [devtools] Make codemirror 5 built-in search UI persistent. r=devtools-reviewers,ochameau.
  devtools/client/shared/sourceeditor/README
  devtools/client/shared/sourceeditor/codemirror/addon/search/search.js
  devtools/client/shared/sourceeditor/codemirror/codemirror.bundle.js
  devtools/client/shared/sourceeditor/codemirror/mozilla.css
  devtools/client/shared/sourceeditor/editor.js
  devtools/client/shared/sourceeditor/test/browser.toml
  devtools/client/shared/sourceeditor/test/browser_editor_find.js
Due: eslint, stylelint, file-whitespace

Backed out 10 changesets (bug 1947979, bug 1845299, bug 1926506, bug 1950053, bug 1925937, bug 1947105, bug 1948817, bug 1948047, bug 1948723, bug 1950100) for causing wd failures @set.py. CLOSED TREE
  browser/extensions/webcompat/data/interventions.json
  browser/extensions/webcompat/injections/css/bug1845299-docs.google.com-hide-extra-scrollbar-on-speaker-notes.css
  browser/extensions/webcompat/injections/css/bug1925937-gazetasp.com.br-hide-extra-scrollbars.css
  browser/extensions/webcompat/injections/css/bug1926506-aliexpress.com-hide-extra-scrollbars.css
  browser/extensions/webcompat/injections/css/bug1947105-pexels.com-nudge-thanks-popup-onscreen.css
  browser/extensions/webcompat/injections/css/bug1947979-shazam.com-hide-extra-scrollbars.css
  browser/extensions/webcompat/injections/css/bug1948047-lovers.cacaushow.com.br-nudge-login-popup-onscreen.css
  browser/extensions/webcompat/injections/css/bug1950053-omegleapp.me-fix-scrollbars.css
  browser/extensions/webcompat/injections/js/bug1849058-nicochannel.jp-picture-in-picture-shim.js
  browser/extensions/webcompat/manifest.json
  browser/extensions/webcompat/moz.build
  testing/webcompat/client.py
  testing/webcompat/interventions/tests/test_1844503_1948817_qlover_jp.py
  testing/webcompat/interventions/tests/test_1845299_docs_google_com_presentation.py
  testing/webcompat/interventions/tests/test_1925937_gazetasp_com_br.py
  testing/webcompat/interventions/tests/test_1926506_aliexpress_com.py
  testing/webcompat/interventions/tests/test_1947979_shazam_com.py
  testing/webcompat/interventions/tests/test_1948047_lovers_cacaushow_com_br.py
  testing/webcompat/interventions/tests/test_1948723_babel_com.py
Due: eslint, stylelint, py-black, py-ruff, file-whitespace, trojan-source

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump
  browser/locales/l10n-changesets.json
Due: eslint

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump
  mobile/locales/l10n-changesets.json
Due: eslint

Bug 1950672 - Text Fragments: Improve timeout watchdog for creating text fragments. r=dom-core,farre
  dom/base/TextDirectiveCreator.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1950503 - Fix a couple of minor issues in search service code with the Rust Search Engine Selector turned on. r=mcheang
  toolkit/components/search/AppProvidedSearchEngine.sys.mjs
  toolkit/components/search/tests/xpcshell/head_search.js
Due: eslint

Bug 1944109 - [devtools] Allow debugging scripts via their WindowGlobal target when reusing the browser toolbox codepath. r=devtools-reviewers,devtools-backward-compat-reviewers,hbenl,bomsy
  devtools/client/framework/test/browser.toml
  devtools/client/framework/test/browser_toolbox_window_global_debugging.js
  devtools/server/actors/descriptors/process.js
  devtools/server/actors/resources/sources.js
  devtools/server/actors/resources/thread-states.js
  devtools/server/actors/root.js
  devtools/server/actors/targets/session-data-processors/breakpoints.js
  devtools/server/actors/targets/session-data-processors/thread-configuration.js
  devtools/server/actors/watcher/session-context.js
  devtools/shared/commands/commands-factory.js
  devtools/shared/commands/index.js
  devtools/shared/specs/descriptors/process.js
Due: eslint

Bug 1944107 - [devtools] Instantiate Content Script targets when debugging all contexts. r=devtools-reviewers,hbenl,bomsy
  devtools/server/actors/watcher/session-context.js
  devtools/server/connectors/js-process-actor/target-watchers/content_script.sys.mjs
  devtools/shared/commands/target/target-command.js
  devtools/shared/commands/target/tests/browser_target_command_content_scripts.js
Due: eslint

Backed out changeset 9b109e9ea048 (bug 1914920) for causing build bustages @FeatureManifest.sys.mjs.stub. CLOSED TREE
  toolkit/components/nimbus/FeatureManifest.yaml
Due: yaml

Bug 1943896: Ensure updating Unified Search Button icon before appmenu test r=daleharvey
  browser/base/content/test/performance/browser_appmenu.js
Due: eslint

Bug 1949778 - Remove networking.set_cookie_expired_without_server_time metric, r=valentin,cookie-reviewers
  netwerk/cookie/CookieParser.cpp
  netwerk/metrics.yaml
Due: yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

No Bug, mozilla-central repo-update HSTS HPKP remote-settings tld-suffixes mobile-experiments ct-logs - r=release-managers,pascalc
  mobile/android/fenix/app/src/main/res/raw/initial_experiments.json
  netwerk/dns/effective_tld_names.dat
  security/ct/CTKnownLogs.h
  security/manager/ssl/StaticHPKPins.h
  security/manager/ssl/nsSTSPreloadList.inc
  security/manager/tools/log_list.json
  services/settings/dumps/blocklists/addons-bloomfilters.json
  services/settings/dumps/main/devtools-compatibility-browsers.json
  services/settings/dumps/main/translations-models.json
  services/settings/dumps/security-state/intermediates.json
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1950658 - Rely on a pref to tell us whether we should initialize Glean on shutdown r=TravisLong
  modules/libpref/init/StaticPrefList.yaml
  toolkit/components/glean/docs/dev/preferences.md
  toolkit/components/glean/xpcom/FOG.cpp
  toolkit/components/telemetry/app/TelemetryReportingPolicy.sys.mjs
Due: eslint, yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

No Bug, mozilla-release repo-update remote-settings mobile-experiments - a=dmeehan
  mobile/android/fenix/app/src/main/res/raw/initial_experiments.json
  services/settings/dumps/blocklists/addons-bloomfilters.json
  services/settings/dumps/main/devtools-compatibility-browsers.json
  services/settings/dumps/main/translations-models.json
  services/settings/dumps/security-state/intermediates.json
Due: eslint

Bug 1950787 - Update AndroidX Activity to version 1.10.1. r=android-reviewers,petru
  mobile/android/android-components/plugins/dependencies/src/main/java/DependenciesPlugin.kt
Due: none

Bug 1950787 - Update AndroidX ConstraintLayout to version 2.2.1. r=android-reviewers,petru
  mobile/android/android-components/plugins/dependencies/src/main/java/DependenciesPlugin.kt
Due: none

Bug 1950787 - Update AndroidX CoordinatorLayout to version 1.3.0. r=android-reviewers,petru
  mobile/android/android-components/plugins/dependencies/src/main/java/DependenciesPlugin.kt
Due: none

Bug 1950787 - Update AndroidX DataStore to version 1.1.3. r=android-reviewers,petru
  mobile/android/android-components/plugins/dependencies/src/main/java/DependenciesPlugin.kt
Due: none

Bug 1950787 - Update AndroidX Navigation to version 2.8.8. r=android-reviewers,petru
  mobile/android/android-components/plugins/dependencies/src/main/java/DependenciesPlugin.kt
Due: none

Bug 1950814 - Update PDF.js to new version a4fea2dafd4db156f9afcd080e2fa59f74d1dc52 r=pdfjs-reviewers,Snuffleupagus
  toolkit/components/pdfjs/content/build/pdf.mjs
  toolkit/components/pdfjs/content/build/pdf.scripting.mjs
  toolkit/components/pdfjs/content/build/pdf.worker.mjs
  toolkit/components/pdfjs/content/web/viewer-geckoview.mjs
  toolkit/components/pdfjs/content/web/viewer.mjs
  toolkit/components/pdfjs/moz.yaml
Due: eslint, yaml

Bug 1949205 - Create artifacts directory if it doesn't exist. r=perftest-reviewers,afinder
  .gitignore
  .hgignore
  python/mozperftest/mozperftest/mach_commands.py
  python/mozperftest/mozperftest/test/mochitest.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1853108 - Add testing of interesting crash notification r=afranchuk,gsvelto
  toolkit/components/crashes/moz.build
  toolkit/components/crashes/tests/browser/browser.toml
  toolkit/components/crashes/tests/browser/browser_RemoteSettingsCrashPull_notification.js
  toolkit/crashreporter/CrashSubmit.sys.mjs
Due: eslint, py-black

Bug 1853108 - Add testing of interesting crash identification r=afranchuk,gsvelto
  toolkit/components/crashes/tests/xpcshell/test_remote_settings_crash_pull.js
  toolkit/components/crashes/tests/xpcshell/xpcshell.toml
Due: eslint

Bug 1853108 - Extract interesting crash based on Remote Settings request and ask user for submission r=afranchuk,gsvelto,fluent-reviewers,bolsson
  browser/locales/en-US/browser/contentCrash.ftl
  browser/modules/ContentCrashHandlers.sys.mjs
  modules/libpref/init/StaticPrefList.yaml
  toolkit/components/crashes/CrashService.sys.mjs
  toolkit/components/crashes/RemoteSettingsCrashPull.sys.mjs
  toolkit/components/crashes/moz.build
  toolkit/crashreporter/test/browser/head.js
Due: eslint, py-black, yaml, fluent-lint, file-whitespace

Bug 1853108 - Correct asyncness of UnsubmittedCrashHandler r=afranchuk
  browser/modules/test/browser/browser_UnsubmittedCrashHandler.js
Due: eslint

Bug 1853108 - Add testing of interesting crash nightly only enabling r=afranchuk,gsvelto
  toolkit/components/crashes/tests/xpcshell/test_remote_settings_crash_pull_nightly.js
  toolkit/components/crashes/tests/xpcshell/xpcshell.toml
Due: eslint
