Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, **/*.java, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml

Backed out 5 changesets (bug 1936113) for causing failures at select-inside-top-layer.tentative.html. CLOSED TREE
  dom/base/rust/lib.rs
  dom/html/HTMLDetailsElement.cpp
  dom/html/HTMLDialogElement.cpp
  dom/html/HTMLDialogElement.h
  dom/html/HTMLInputElement.cpp
  dom/html/HTMLInputElement.h
  dom/html/HTMLSelectElement.h
  dom/webidl/HTMLInputElement.webidl
  servo/components/style/gecko/non_ts_pseudo_class_list.rs
  servo/components/style/gecko/wrapper.rs
  testing/web-platform/meta/css/css-pseudo/input-element-pseudo-open.optional.html.ini
  testing/web-platform/meta/css/css-shadow-parts/pseudo-classes-after-part.html.ini
  testing/web-platform/meta/css/selectors/open-pseudo.html.ini
  testing/web-platform/meta/html/semantics/forms/the-select-element/customizable-select/select-inside-top-layer.tentative.html.ini
  testing/web-platform/meta/html/semantics/forms/the-select-element/customizable-select/select-keyboard-behavior.tentative.html.ini
  testing/web-platform/meta/html/semantics/forms/the-select-element/customizable-select/select-mouse-behavior.tentative.html.ini
  testing/web-platform/tests/css/selectors/selectors-4/details-open-pseudo-001-ref.html
  testing/web-platform/tests/css/selectors/selectors-4/details-open-pseudo-001.html
  testing/web-platform/tests/css/selectors/selectors-4/details-open-pseudo-002.html
  testing/web-platform/tests/css/selectors/selectors-4/details-open-pseudo-003-ref.html
  testing/web-platform/tests/css/selectors/selectors-4/details-open-pseudo-003.html
  toolkit/content/widgets/datetimebox.js
Due: eslint, clang-format, rustfmt, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Bug 1941145 - Use URL.fromURI in toolkit/components/places/tests/history/test_fetch.js. r=mak,places-reviewers
  toolkit/components/places/tests/history/test_fetch.js
Due: eslint

Bug 1942227 - [devtools] Fix editor notification close button color in dark mode. r=devtools-reviewers,jdescottes.
  devtools/client/debugger/src/components/App.css
Due: stylelint, file-whitespace

Bug 1935609 - Part 1: Rename synced field to IsSyntheticDocumentContainer. r=emilio
  docshell/base/BrowsingContext.cpp
  docshell/base/BrowsingContext.h
  dom/base/Document.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1935609 - Part 2: Use browsing context's synthetic document status. r=emilio a=RyanVM
  dom/base/nsObjectLoadingContent.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1935609 - Part 2: Use browsing context's synthetic document status. r=emilio
  dom/base/nsObjectLoadingContent.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1935609: apply code formatting via Lando
  docshell/base/BrowsingContext.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1935609 - Part 1: Rename synced field to IsSyntheticDocumentContainer. r=emilio a=RyanVM
  docshell/base/BrowsingContext.cpp
  docshell/base/BrowsingContext.h
  dom/base/Document.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1941935 - Add telemetry to measure purge rate of cache entries. r=necko-reviewers,kershaw
  netwerk/cache2/CacheStorageService.cpp
  netwerk/metrics.yaml
Due: yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1431808 - [devtools] Display JSON source number when it's different from JS parsed value in JsonViewer. r=devtools-reviewers,bomsy.
  devtools/client/jsonview/json-viewer.js
  devtools/client/jsonview/test/browser.toml
  devtools/client/jsonview/test/browser_jsonview_numbers.js
  devtools/client/shared/components/reps/reps.css
  devtools/client/shared/components/reps/reps/constants.js
  devtools/client/shared/components/reps/reps/json-number.js
  devtools/client/shared/components/reps/reps/moz.build
  devtools/client/shared/components/reps/reps/rep.js
  devtools/client/shared/components/tree/ObjectProvider.js
Due: eslint, stylelint, py-black, file-whitespace

Bug 1939993 - Adding OKP keys to KeyAlgorithmProxy::ReadStructuredClone r=saschanaz,keeler
  dom/crypto/KeyAlgorithmProxy.cpp
  dom/crypto/test/test_WebCrypto_Structured_Cloning.html
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1786310 - Offboard the main/public-suffix-list Remote Settings collection r=valentin,Gijs,necko-reviewers,firefox-desktop-core-reviewers
  browser/components/BrowserGlue.sys.mjs
  modules/libpref/init/all.js
  netwerk/dns/PublicSuffixList.sys.mjs
  netwerk/dns/moz.build
  netwerk/dns/nsEffectiveTLDService.cpp
  netwerk/dns/nsEffectiveTLDService.h
  netwerk/dns/tests/moz.build
  netwerk/dns/tests/unit/data/fake_public_suffix_list.dat
  netwerk/dns/tests/unit/data/moz.build
  netwerk/dns/tests/unit/moz.build
  netwerk/dns/tests/unit/test_PublicSuffixList.js
  netwerk/dns/tests/unit/test_nsEffectiveTLDService_Reload_DAFSA.js
  netwerk/dns/tests/unit/xpcshell.toml
Due: eslint, py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1941645 - Stop scrolling to the selected tab when collapsing/expanding a group. r=jswinarton,tabbrowser-reviewers
  browser/components/tabbrowser/content/tabs.js
Due: eslint

Bug 1941826: Don't guard for number types in emitGuardIsNumber. r=jandem
  js/src/jit/MIR.h
  js/src/jit/WarpCacheIRTranspiler.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1932940 - Update the search configuration to add enterprise parameter to searches. r=Standard8
  toolkit/components/search/tests/xpcshell/searchconfigs/test_google.js
Due: eslint

Backed out 2 changesets (bug 1939493, bug 1942030) for causing failures at url-setters.any.worker.html?exclude. CLOSED TREE
  netwerk/base/nsStandardURL.cpp
  netwerk/test/unit/test_URIs.js
  netwerk/test/unit/test_standardurl.js
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1937109: Use canvas stroke and fill settings when drawing an SVG into a canvas. r=jfkthame,emilio
  dom/canvas/CanvasRenderingContext2D.cpp
  dom/canvas/CanvasRenderingContext2D.h
  dom/canvas/test/chrome/chrome.toml
  dom/canvas/test/chrome/file_drawImage_context_properties.svg
  dom/canvas/test/chrome/test_drawImage_context_properties.html
  dom/webidl/CanvasRenderingContext2D.webidl
  layout/svg/SVGImageContext.h
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Backed out changeset d43df6d45f03 (bug 1786310) for causing failures at nsEffectiveTLDService.cpp. CLOSED TREE
  browser/components/BrowserGlue.sys.mjs
  modules/libpref/init/all.js
  netwerk/dns/PublicSuffixList.sys.mjs
  netwerk/dns/moz.build
  netwerk/dns/nsEffectiveTLDService.cpp
  netwerk/dns/nsEffectiveTLDService.h
  netwerk/dns/tests/moz.build
  netwerk/dns/tests/unit/data/fake_public_suffix_list.dat
  netwerk/dns/tests/unit/data/moz.build
  netwerk/dns/tests/unit/moz.build
  netwerk/dns/tests/unit/test_PublicSuffixList.js
  netwerk/dns/tests/unit/test_nsEffectiveTLDService_Reload_DAFSA.js
  netwerk/dns/tests/unit/xpcshell.toml
Due: eslint, py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1941731 - Bail out on the parent side if ForwardError finds a DeviceLost error. r=webgpu-reviewers,ErichDonGubler
  dom/webgpu/ipc/WebGPUParent.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1941704 - Align Performance and End-to-End Tests for the ML Engine with Production Behavior - r=tarek,urlbar-reviewers,cgopal
  browser/components/urlbar/tests/browser/browser_MLSuggest_integration.js
  toolkit/components/ml/actors/MLEngineChild.sys.mjs
  toolkit/components/ml/tests/browser/browser_ml_autofill_perf.js
  toolkit/components/ml/tests/browser/browser_ml_end_to_end.js
  toolkit/components/ml/tests/browser/browser_ml_engine.js
  toolkit/components/ml/tests/browser/browser_ml_engine_multi_perf.js
  toolkit/components/ml/tests/browser/browser_ml_engine_perf.js
  toolkit/components/ml/tests/browser/browser_ml_suggest_feature_perf.js
  toolkit/components/ml/tests/browser/browser_ml_summarizer_perf.js
Due: eslint

Bug 1826867 - Use NS_GetFinalChannelURI instead of GetURI in SessionHistoryEntry r=rpl,smaug
  docshell/shistory/SessionHistoryEntry.cpp
  toolkit/components/extensions/test/xpcshell/test_ext_dnr_redirect_main_frame.js
  toolkit/components/extensions/test/xpcshell/xpcshell-common.toml
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1798750 - Adjust "before handling user events" permissions on browser_startup.js for frequent failures r=florian
  browser/base/content/test/performance/browser.toml
  browser/base/content/test/performance/browser_startup.js
Due: eslint

Bug 1941864 - Part 1: Remove unused OutOfLineTruncateSlow::preserveInstance_ member. r=spidermonkey-reviewers,jandem
  js/src/jit/shared/CodeGenerator-shared.cpp
  js/src/jit/shared/CodeGenerator-shared.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1941864 - Part 2: Split LValueToInt32 into two separate LIR nodes. r=spidermonkey-reviewers,jandem
  js/src/jit/CodeGenerator.cpp
  js/src/jit/LIROps.yaml
  js/src/jit/Lowering.cpp
  js/src/jit/shared/LIR-shared.h
Due: yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1941864 - Part 3: Remove convertValueToInt32 callers from wasm code. r=spidermonkey-reviewers,jandem
  js/src/jit/MacroAssembler.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1941864 - Part 4: Inline convertDoubleToInt into its only caller. r=spidermonkey-reviewers,jandem
  js/src/jit/MacroAssembler.cpp
  js/src/jit/MacroAssembler.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1941864 - Part 5: Remove conditions which are always true. r=spidermonkey-reviewers,jandem
  js/src/jit/MacroAssembler.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1941864 - Part 8: Split wasm and non-wasm code paths in outOfLineTruncateSlow. r=spidermonkey-reviewers,jandem
  js/src/jit/MacroAssembler.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1941864 - Part 7: Use ScratchDoubleScope for all targets in MacroAssembler::outOfLineTruncateSlow. r=spidermonkey-reviewers,jandem
  js/src/jit/MacroAssembler.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1941864 - Part 6: Inline MacroAssembler::convertValueToInt. r=spidermonkey-reviewers,jandem
  js/src/jit/IonTypes.h
  js/src/jit/MacroAssembler.cpp
  js/src/jit/MacroAssembler.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1941864 - Part 9: Handle all comparison types in ComparePolicy. r=spidermonkey-reviewers,jandem
  js/src/jit/TypePolicy.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1941864 - Part 10: Remove unreachable case from LIRGenerator::visitClampToUint8. r=spidermonkey-reviewers,jandem
  js/src/jit/Lowering.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

No bug - Tagging 6c8ef819cdca2a9b5178886a77862b472b51ce48 with FIREFOX-ANDROID_135_0b6_BUILD1 a=release CLOSED TREE DONTBUILD
  .hgtags
Due: none

No bug - Tagging 6c8ef819cdca2a9b5178886a77862b472b51ce48 with DEVEDITION_135_0b6_BUILD1 a=release CLOSED TREE DONTBUILD
  .hgtags
Due: none

Bug 1939555 - Don't initialize nsApplication on --*version or --help. r=mossop
  toolkit/xre/nsAppRunner.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1942226 - Update android nightly application-services version bump to f63adf866474ef8b56fa1ce3c1ef922bce00f9df r=release-managers,dmeehan
  mobile/android/android-components/plugins/dependencies/src/main/java/ApplicationServices.kt
  mobile/android/android-components/plugins/dependencies/src/main/java/moz.yaml
Due: yaml

No bug - Tagging 6c8ef819cdca2a9b5178886a77862b472b51ce48 with FIREFOX_135_0b6_BUILD1 a=release CLOSED TREE DONTBUILD
  .hgtags
Due: none

Bug 1798750 - Fix trailing whitespace lint error CLOSED TREE
  browser/base/content/test/performance/browser.toml
Due: none

Bug 1901492 - Introduce RequireTrustedTypesForDirectiveState enum for CSP. r=smaug
  dom/base/Document.cpp
  dom/interfaces/security/nsIContentSecurityPolicy.idl
  dom/security/nsCSPContext.cpp
  dom/security/nsCSPContext.h
  dom/security/trusted-types/TrustedTypeUtils.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1901492 - Simplify some require-trusted-types-for checks. r=smaug
  dom/security/nsCSPUtils.cpp
  dom/security/nsCSPUtils.h
  dom/security/trusted-types/TrustedTypeUtils.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source
