Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

eslint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

stylelint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

py-black:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

py-ruff:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

yaml:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

shellcheck:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

clang-format:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

rustfmt:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

fluent-lint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

Bug 1902373 - Part 4: Add an initial AC compose-base component r=android-reviewers,007
  mobile/android/android-components/.buildconfig.yml
  mobile/android/android-components/README.md
  mobile/android/android-components/components/compose/base/README.md
  mobile/android/android-components/components/compose/base/build.gradle
  mobile/android/android-components/components/compose/base/proguard-rules.pro
  mobile/android/android-components/components/compose/base/src/main/AndroidManifest.xml
  mobile/android/android-components/components/compose/base/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
  mobile/android/android-components/components/compose/base/src/test/resources/robolectric.properties
  mobile/android/fenix/.buildconfig.yml
  mobile/android/fenix/app/build.gradle
Due: eslint, yaml, file-whitespace

Bug 1902373 - Part 6: Use the LightDarkPreview annotation from compose-base in feature-prompts r=android-reviewers,007
  mobile/android/android-components/components/feature/prompts/build.gradle
  mobile/android/android-components/components/feature/prompts/src/main/java/mozilla/components/feature/prompts/identitycredential/IdentityCredentialItem.kt
  mobile/android/android-components/components/feature/prompts/src/main/java/mozilla/components/feature/prompts/identitycredential/SelectAccountDialog.kt
  mobile/android/android-components/components/feature/prompts/src/main/java/mozilla/components/feature/prompts/identitycredential/SelectProviderDialog.kt
  mobile/android/android-components/components/feature/prompts/src/main/java/mozilla/components/feature/prompts/identitycredential/previews/LightDarkPreview.kt
  mobile/android/android-components/components/feature/prompts/src/main/java/mozilla/components/feature/prompts/login/LoginPickerView.kt
Due: none

Bug 1902373 - Part 9: Refactor FlexibleWindowLightDarkPreview and FlexibleWindowPreview annotations into compose-base r=android-reviewers,007
  mobile/android/android-components/components/compose/base/src/main/java/mozilla/components/compose/base/annotation/FlexibleWindowLightDarkPreview.kt
  mobile/android/android-components/components/compose/base/src/main/java/mozilla/components/compose/base/annotation/FlexibleWindowPreview.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/menu/compose/ExtensionsSubmenuBanner.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/compose/Dropdown.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/debugsettings/cfrs/CfrTools.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/debugsettings/gleandebugtools/ui/GleanDebugToolsScreen.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/downloads/listscreen/DownloadsScreen.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/library/bookmarks/ui/BookmarksScreen.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/microsurvey/ui/MicrosurveyRequestPrompt.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/ManagePrivacyPreferencesDialog.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/view/AddOnsOnboardingPage.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/view/TermsOfServiceOnboardingPage.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/view/ThemeOnboardingPage.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/view/ToolbarOnboardingPage.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/wallpaper/WallpaperSettings.kt
Due: none

Bug 1902373 - Part 7: Refactor inComposePreview utils to compose-base r=android-reviewers,007
  mobile/android/android-components/components/compose/base/src/main/java/mozilla/components/compose/base/utils/Utils.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/compose/Favicon.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/compose/Image.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/compose/ThumbnailImage.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/compose/home/HomeSectionHeader.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/debugsettings/ui/DebugDrawerHome.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/ext/String.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/bookmarks/view/Bookmarks.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/pocket/ui/PocketStoriesComposables.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/recenttabs/view/RecentTabs.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/theme/FirefoxTheme.kt
Due: none

Bug 1902373 - Part 8: Refactor AcornTheme, AcornTypography and AcornLayout into compose-base r=android-reviewers,007
  mobile/android/android-components/components/compose/base/src/main/java/mozilla/components/compose/base/theme/AcornLayout.kt
  mobile/android/android-components/components/compose/base/src/main/java/mozilla/components/compose/base/theme/AcornTheme.kt
  mobile/android/android-components/components/compose/base/src/main/java/mozilla/components/compose/base/theme/AcornTypography.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/BrowserFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/TabPreview.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/navbar/NavBarUtils.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/compose/annotation/FlexibleWindowLightDarkPreview.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/compose/annotation/FlexibleWindowPreview.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/customtabs/CustomTabsIntegration.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/ext/Context.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/theme/FirefoxTheme.kt
Due: none

Bug 1902373 - Part 10: Refactor Divider into compose-base r=android-reviewers,007
  mobile/android/android-components/components/compose/base/src/main/java/mozilla/components/compose/base/Divider.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/addons/ui/AddonPermissionsScreen.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/BaseBrowserFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/TabPreview.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/menu/compose/CustomTabMenu.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/menu/compose/ExtensionsSubmenu.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/menu/compose/MainMenu.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/menu/compose/MenuGroup.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/menu/compose/MenuItem.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/menu/compose/MenuScaffold.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/menu/compose/SaveSubmenu.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/menu/compose/ToolsSubmenu.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/menu/compose/header/MenuHeader.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/compose/Dropdown.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/compose/list/ListItem.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/compose/menu/DropdownMenu.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/compose/menu/MenuItem.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/compose/tabstray/TabGridItem.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/customtabs/ExternalAppBrowserFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/debugsettings/tabs/TabTools.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/debugsettings/ui/DebugDrawerHome.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/recentvisits/view/RecentlyVisited.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/trustpanel/ui/ProtectionPanel.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/trustpanel/ui/TrackersBlockedPanel.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/shopping/ui/ProductAnalysis.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tabstray/TabsTray.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tabstray/TabsTrayBanner.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tabstray/syncedtabs/SyncedTabsList.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/translations/TranslationOptionsDialog.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/translations/TranslationSettings.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/translations/preferences/downloadlanguages/DownloadLanguagesPreference.kt
Due: none

Bug 1902373 - Part 11: Refactor TextButton to compose-base r=android-reviewers,007
  mobile/android/android-components/components/compose/base/src/main/java/mozilla/components/compose/base/button/TextButton.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/compose/Banner.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/compose/snackbar/Snackbar.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tabstray/inactivetabs/InactiveTabs.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/translations/TranslationsDialogBottomSheet.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/translations/preferences/downloadlanguages/DeleteLanguageFileDialog.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/translations/preferences/downloadlanguages/DownloadLanguageFileDialog.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/translations/preferences/nevertranslatesite/NeverTranslateSiteDialogPreference.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/webcompat/ui/WebCompatReporter.kt
Due: none

Bug 1902373 - Part 12: Add compose-base to taskcluster config r=aryx,Roger
  taskcluster/config.yml
Due: yaml

Backed out changeset e5ecd3645987 (bug 1933114) for causing bc failures @ browser_tab_groups_restore_closed_in_closed_window.js CLOSED TREE
  browser/components/sessionstore/SessionStore.sys.mjs
  browser/components/sessionstore/TabGroupState.sys.mjs
  browser/components/sessionstore/test/browser.toml
  browser/components/sessionstore/test/browser_tab_groups_closed.js
  browser/components/sessionstore/test/browser_tab_groups_empty.js
  browser/components/sessionstore/test/browser_tab_groups_restore_closed_in_closed_window.js
  browser/components/sessionstore/test/browser_tab_groups_restore_closed_in_open_window.js
  browser/components/sessionstore/test/browser_tab_groups_restore_multiple.js
  browser/components/sessionstore/test/browser_tab_groups_restore_saved.js
  browser/components/sessionstore/test/browser_tab_groups_restore_simple.js
  browser/components/sessionstore/test/browser_tab_groups_saved.js
  browser/components/sessionstore/test/browser_tab_groups_state.js
  browser/components/sessionstore/test/head.js
  browser/components/tabbrowser/test/browser/tabs/browser_tab_groups.js
Due: eslint

Backed out changeset cfedcb5e38cf (bug 1936187) for causing mda failures. CLOSED TREE
  gfx/webrender_bindings/src/bindings.rs
  gfx/wr/webrender/src/composite.rs
  gfx/wr/webrender/src/picture.rs
  gfx/wr/webrender/src/renderer/mod.rs
  gfx/wr/wrench/src/composite.rs
Due: rustfmt, file-whitespace, trojan-source

Bug 1910520 - Add Metal SharedEvent handling around WebRender for compositing IOSurface of WebGPU r=gfx-reviewers,lsalzman
  dom/webgpu/ExternalTexture.cpp
  dom/webgpu/ExternalTexture.h
  dom/webgpu/ExternalTextureMacIOSurface.cpp
  dom/webgpu/ExternalTextureMacIOSurface.h
  dom/webgpu/ipc/WebGPUParent.cpp
  dom/webgpu/ipc/WebGPUParent.h
  gfx/gl/SharedSurfaceIO.cpp
  gfx/layers/GpuFence.h
  gfx/layers/GpuFenceMTLSharedEvent.cpp
  gfx/layers/GpuFenceMTLSharedEvent.h
  gfx/layers/NativeLayer.h
  gfx/layers/NativeLayerCA.h
  gfx/layers/NativeLayerCA.mm
  gfx/layers/NativeLayerWayland.h
  gfx/layers/ipc/LayersMessageUtils.h
  gfx/layers/ipc/LayersSurfaces.ipdlh
  gfx/layers/moz.build
  gfx/layers/opengl/MacIOSurfaceTextureClientOGL.cpp
  gfx/layers/opengl/MacIOSurfaceTextureHostOGL.cpp
  gfx/layers/opengl/MacIOSurfaceTextureHostOGL.h
  gfx/webrender_bindings/RenderCompositorNative.cpp
  gfx/webrender_bindings/RenderCompositorNative.h
  gfx/webrender_bindings/RenderMacIOSurfaceTextureHost.cpp
  gfx/webrender_bindings/RenderMacIOSurfaceTextureHost.h
  gfx/wgpu_bindings/src/server.rs
  gfx/wgpu_bindings/wgpu.h
Due: py-black, clang-format, rustfmt, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1936330 - Disable coloring of tab group actions. r=daleharvey
  browser/components/urlbar/ActionsProviderTabGroups.sys.mjs
  browser/components/urlbar/UrlbarProviderGlobalActions.sys.mjs
Due: eslint

Bug 1935333 - Revert the parts of 364b8bec2fc9 from bug 1928743. r=taskgraph-reviewers,jcristau
  taskcluster/docs/attributes.rst
  taskcluster/gecko_taskgraph/transforms/job/__init__.py
  taskcluster/gecko_taskgraph/transforms/job/toolchain.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1935333 - Avoid trying to install dist toolchains when bootstrapping from a spidermonkey standalone tree. r=firefox-build-system-reviewers,taskgraph-reviewers,ahochheiden,jcristau
  build/moz.configure/bootstrap.configure
  python/mozboot/mozboot/base.py
  python/mozboot/mozboot/mozillabuild.py
  python/mozboot/mozboot/osx.py
  python/mozbuild/mozbuild/artifact_commands.py
  taskcluster/docs/attributes.rst
  taskcluster/gecko_taskgraph/transforms/job/__init__.py
  taskcluster/gecko_taskgraph/transforms/job/toolchain.py
  taskcluster/kinds/toolchain/dist-toolchains.yml
Due: py-black, py-ruff, yaml, file-whitespace, trojan-source

Bug 1936458 - Update android nightly application-services version bump to 141ff80a73de36544012a46c58bdc60e33bfe636 r=release-managers,RyanVM
  mobile/android/android-components/plugins/dependencies/src/main/java/ApplicationServices.kt
  mobile/android/android-components/plugins/dependencies/src/main/java/moz.yaml
Due: yaml

Bug 1902373 - Part 3: Refactor FenixTypography to AcornTypography r=android-reviewers,007
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/theme/AcornTheme.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/theme/AcornTypography.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/theme/FirefoxTheme.kt
Due: none

Bug 1902373 - Part 1: Rename FirefoxTheme and FirefoxColors to use Acorn prefix r=android-reviewers,007
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/theme/AcornTheme.kt
Due: none

Bug 1902373 - Part 2: Add a FirefoxTheme wrapper around AcornTheme r=android-reviewers,007
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/theme/AcornLayout.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/theme/AcornTheme.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/theme/FirefoxTheme.kt
Due: none

Bug 1902373 - Part 10: Refactor Divider into compose-base r=android-reviewers,007
  mobile/android/android-components/components/compose/base/src/main/java/mozilla/components/compose/base/Divider.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/addons/ui/AddonPermissionsScreen.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/BaseBrowserFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/TabPreview.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/menu/compose/CustomTabMenu.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/menu/compose/ExtensionsSubmenu.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/menu/compose/MainMenu.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/menu/compose/MenuGroup.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/menu/compose/MenuItem.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/menu/compose/MenuScaffold.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/menu/compose/SaveSubmenu.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/menu/compose/ToolsSubmenu.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/menu/compose/header/MenuHeader.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/navbar/NavigationBar.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/compose/Dropdown.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/compose/list/ListItem.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/compose/menu/DropdownMenu.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/compose/menu/MenuItem.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/compose/tabstray/TabGridItem.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/customtabs/ExternalAppBrowserFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/debugsettings/tabs/TabTools.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/debugsettings/ui/DebugDrawerHome.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/recentvisits/view/RecentlyVisited.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/trustpanel/ui/ProtectionPanel.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/trustpanel/ui/TrackersBlockedPanel.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/shopping/ui/ProductAnalysis.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tabstray/TabsTray.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tabstray/TabsTrayBanner.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tabstray/syncedtabs/SyncedTabsList.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/translations/TranslationOptionsDialog.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/translations/TranslationSettings.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/translations/preferences/downloadlanguages/DownloadLanguagesPreference.kt
Due: none

Backed out 2 changesets (bug 1935333) for causing py3 failures on test_bootstrap.py. CLOSED TREE
  build/moz.configure/bootstrap.configure
  python/mozboot/mozboot/base.py
  python/mozboot/mozboot/mozillabuild.py
  python/mozboot/mozboot/osx.py
  python/mozbuild/mozbuild/artifact_commands.py
  taskcluster/docs/attributes.rst
  taskcluster/kinds/toolchain/dist-toolchains.yml
Due: py-black, py-ruff, yaml, file-whitespace, trojan-source

Bug 1930342 - Drop debug a printf in HeadlessWidget.cpp. r=emilio
  widget/headless/HeadlessWidget.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1930342 - Clamp sampled visual scroll offsets after applying scroll updates to them. r=botond
  gfx/layers/apz/src/AsyncPanZoomController.cpp
  gfx/layers/apz/test/mochitest/helper_bug1930342.html
  gfx/layers/apz/test/mochitest/mochitest.toml
  gfx/layers/apz/test/mochitest/test_group_scroll_anchor.html
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1935333 - Avoid trying to install dist toolchains when bootstrapping from a spidermonkey standalone tree. r=firefox-build-system-reviewers,taskgraph-reviewers,ahochheiden,jcristau
  build/moz.configure/bootstrap.configure
  python/mozboot/mozboot/base.py
  python/mozboot/mozboot/mozillabuild.py
  python/mozboot/mozboot/osx.py
  python/mozbuild/mozbuild/artifact_commands.py
  python/mozbuild/mozbuild/test/configure/test_bootstrap.py
  taskcluster/docs/attributes.rst
  taskcluster/gecko_taskgraph/transforms/job/__init__.py
  taskcluster/gecko_taskgraph/transforms/job/toolchain.py
  taskcluster/kinds/toolchain/dist-toolchains.yml
Due: py-black, py-ruff, yaml, file-whitespace, trojan-source

Bug 1902373 - Fix ktlint failure. a=lint-fix CLOSED TREE
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/TabPreview.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/customtabs/ExternalAppBrowserFragment.kt
Due: none

Bug 1932183 – Pass followed sections to merino. r=home-newtab-reviewers,npypchenko
  browser/components/newtab/lib/ActivityStream.sys.mjs
  browser/components/newtab/lib/DiscoveryStreamFeed.sys.mjs
Due: eslint

Backed out changeset 1470f68b7236 (bug 1936145) for causing fenix-debug failures CLOSED TREE
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/view/OnboardingMapper.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/view/ToolbarOnboardingPage.kt
Due: none

Bug 1935178 - [devtools] Add test for Tabs keyboard navigation. r=devtools-reviewers,ochameau.
  devtools/client/shared/components/tabs/Tabs.js
  devtools/client/shared/components/test/chrome/test_tabs_accessibility.html
Due: eslint, file-whitespace

Bug 1934252 - Adapt Debugger tabs to High Contrast Mode. r=devtools-reviewers,ochameau.
  devtools/client/debugger/src/components/Editor/Tabs.css
Due: stylelint, file-whitespace

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, **/*.java, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml
