Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

eslint:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py eslint

stylelint:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py stylelint

py-black:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py black

py-ruff:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py ruff

yaml:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py yaml

shellcheck:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py shellcheck

clang-format:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  ...

rustfmt:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py rustfmt

fluent-lint:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py fluent-lint

localization:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py l10n

Bug 1923885 - Test that the dau-reporting ping is sent along with baseline r=chutten
  toolkit/components/telemetry/tests/marionette/tests/client/test_fog_user_activity.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1923885 - Test that the dau-reporting ping is sent along with baseline r=chutten a=test-only
  toolkit/components/telemetry/tests/marionette/tests/client/test_fog_user_activity.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1801586, bring back the old behavior when session-history-in-parent isn't enabled, r=peterv
  docshell/base/nsDocShell.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1924987 - New set as default browser dialog UI test r=ohorvath
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/helpers/MatcherHelper.kt
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/OnboardingTest.kt
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/HomeScreenRobot.kt
Due: none

Bug 1807913 - Fix openLoginWebsiteInBrowserTest UI test r=ohorvath
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/LoginsTest.kt
Due: none

No bug - Tagging 1abdcb458941f3aa9582802c597768cdc1aa43b5 with FIREFOX-ANDROID_132_0b8_BUILD1 a=release CLOSED TREE DONTBUILD
  .hgtags
Due: none

No bug - Tagging 1abdcb458941f3aa9582802c597768cdc1aa43b5 with DEVEDITION_132_0b8_BUILD1 a=release CLOSED TREE DONTBUILD
  .hgtags
Due: none

Backed out changeset 543f6fbf6e4c (bug 1919741) for causing Gecko decision task failure.
  testing/web-platform/manifestupdate.py
  testing/web-platform/tests/tools/serve/serve.py
  testing/web-platform/tests/tools/wptrunner/docs/config.rst
  testing/web-platform/tests/tools/wptrunner/wptrunner/config.py
  testing/web-platform/tests/tools/wptrunner/wptrunner/environment.py
  testing/web-platform/tests/tools/wptrunner/wptrunner/wptcommandline.py
  testing/web-platform/tests/tools/wptrunner/wptrunner/wptrunner.py
  testing/web-platform/wptrunner.ini
Due: py-black, py-ruff, file-whitespace, test-manifest, trojan-source

Backed out 3 changesets (bug 1921477) for causing Base-toolchains bustage.
  intl/lwbrk/LineBreakCache.cpp
  intl/lwbrk/LineBreakCache.h
  intl/lwbrk/LineBreaker.cpp
  intl/lwbrk/moz.build
  intl/lwbrk/nsComplexBreaker.cpp
  layout/build/nsLayoutStatics.cpp
  testing/talos/talos/tests/perf-reftest-singletons/perf_reftest_singletons.manifest
  testing/talos/talos/tests/perf-reftest-singletons/thai-reflow.html
Due: eslint, py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

No bug - Tagging 1abdcb458941f3aa9582802c597768cdc1aa43b5 with FIREFOX_132_0b8_BUILD1 a=release CLOSED TREE DONTBUILD
  .hgtags
Due: none

Bug 1923946 - Update sidebar telemetry for resizing and panel toggling r=sidebar-reviewers,sclements
  browser/components/sidebar/browser-sidebar.js
  browser/components/sidebar/tests/browser/browser_glean_sidebar.js
Due: eslint

Bug 1886134 - Re-enable transform prefixes. r=webcompat-reviewers,twisniewski
  modules/libpref/init/StaticPrefList.yaml
Due: yaml

Bug 1924631 - Fix Win MinGW build r=necko-reviewers,kershaw
  netwerk/system/win32/nsNotifyAddrListener.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1914907 - Store CalcNode inside a color component. r=layout-reviewers,emilio
  servo/components/style/color/color_function.rs
  servo/components/style/color/component.rs
  servo/components/style/color/parsing.rs
  servo/components/style/values/specified/color.rs
Due: rustfmt, file-whitespace, trojan-source

Bug 1885912 - Store a ColorFunction in a specified Color. r=layout-reviewers,emilio
  servo/components/style/color/color_function.rs
  servo/components/style/color/component.rs
  servo/components/style/color/mod.rs
  servo/components/style/color/parsing.rs
  servo/components/style/color/to_css.rs
  servo/components/style/values/generics/calc.rs
  servo/components/style/values/specified/calc.rs
  servo/components/style/values/specified/color.rs
Due: rustfmt, file-whitespace, trojan-source

Bug 1914907 - Rustify NumberOr* enums r=layout-reviewers,emilio
  servo/components/style/color/parsing.rs
Due: rustfmt, file-whitespace, trojan-source

Bug 1885912 - rgb() origin color must be in rgb() format. r=layout-reviewers,emilio
  servo/components/style/color/color_function.rs
Due: rustfmt, file-whitespace, trojan-source

Bug 1920496 - Track omitted alpha values for relative colors. r=layout-reviewers,emilio
  servo/components/style/color/color_function.rs
  servo/components/style/color/component.rs
  servo/components/style/color/parsing.rs
Due: rustfmt, file-whitespace, trojan-source

Bug 1920496 - Store ColorFunction inside a computed color r=layout-reviewers,emilio
  layout/style/ServoStyleConstsForwards.h
  layout/style/StyleColor.cpp
  servo/components/style/color/color_function.rs
  servo/components/style/color/component.rs
  servo/components/style/color/mod.rs
  servo/components/style/color/parsing.rs
  servo/components/style/values/computed/color.rs
  servo/components/style/values/generics/color.rs
  servo/components/style/values/specified/color.rs
  servo/ports/geckolib/cbindgen.toml
Due: clang-format, rustfmt, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1920496 - Make ColorFunction be stored in ComputedStyle r=emilio
  layout/style/ServoBindings.toml
  layout/style/ServoStyleConstsForwards.h
  servo/components/style/color/color_function.rs
  servo/components/style/color/component.rs
  servo/components/style/color/parsing.rs
  servo/components/style/color/to_css.rs
  servo/components/style/values/specified/calc.rs
  servo/components/style/values/specified/length.rs
  servo/ports/geckolib/cbindgen.toml
Due: clang-format, rustfmt, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1893966 - Tests for supporting currentcolor in relative color syntax r=emilio,layout-reviewers
  testing/web-platform/meta/css/css-color/parsing/color-computed-relative-color.html.ini
  testing/web-platform/meta/css/css-color/parsing/color-invalid-relative-color.html.ini
  testing/web-platform/meta/css/css-color/parsing/color-valid-relative-color.html.ini
  testing/web-platform/meta/css/css-color/parsing/relative-color-out-of-gamut.html.ini
  testing/web-platform/meta/css/css-color/relative-currentcolor-a98rgb-01.html.ini
  testing/web-platform/meta/css/css-color/relative-currentcolor-displayp3-01.html.ini
  testing/web-platform/meta/css/css-color/relative-currentcolor-hsl-01.html.ini
  testing/web-platform/meta/css/css-color/relative-currentcolor-hsl-02.html.ini
  testing/web-platform/meta/css/css-color/relative-currentcolor-hwb-01.html.ini
  testing/web-platform/meta/css/css-color/relative-currentcolor-lab-01.html.ini
  testing/web-platform/meta/css/css-color/relative-currentcolor-lch-01.html.ini
  testing/web-platform/meta/css/css-color/relative-currentcolor-oklab-01.html.ini
  testing/web-platform/meta/css/css-color/relative-currentcolor-oklch-01.html.ini
  testing/web-platform/meta/css/css-color/relative-currentcolor-prophoto-01.html.ini
  testing/web-platform/meta/css/css-color/relative-currentcolor-rec2020-01.html.ini
  testing/web-platform/meta/css/css-color/relative-currentcolor-rec2020-02.html.ini
  testing/web-platform/meta/css/css-color/relative-currentcolor-rgb-01.html.ini
  testing/web-platform/meta/css/css-color/relative-currentcolor-rgb-02.html.ini
  testing/web-platform/meta/css/css-color/relative-currentcolor-visited-getcomputedstyle.html.ini
  testing/web-platform/meta/css/css-color/relative-currentcolor-xyzd50-01.html.ini
  testing/web-platform/meta/css/css-color/relative-currentcolor-xyzd65-01.html.ini
  testing/web-platform/meta/css/css-properties-values-api/registered-property-computation.html.ini
Due: test-manifest

Bug 1915873 - Add a new item to the onboading experiment to allow to install add-ons r=android-reviewers,twhite
  mobile/android/fenix/app/metrics.yaml
  mobile/android/fenix/app/onboarding.fml.yaml
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/OnboardingTelemetryRecorder.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/view/OnboardingMapper.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/view/OnboardingPageUiData.kt
Due: yaml

No bug - Tagging 1abdcb458941f3aa9582802c597768cdc1aa43b5 with FIREFOX-ANDROID_132_0b8_RELEASE a=release CLOSED TREE DONTBUILD
  .hgtags
Due: none

Automatic version bump CLOSED TREE NO BUG a=release DONTBUILD
  browser/config/version_display.txt
  mobile/android/version.txt
Due: none

Backed out changeset c03123359b41 (bug 1086524) for causing browser_persist_searchMode.js failures. CLOSED TREE
  accessible/tests/browser/events/browser_test_selection_urlbar.js
  browser/app/profile/firefox.js
  browser/components/urlbar/UrlbarController.sys.mjs
  browser/components/urlbar/UrlbarPrefs.sys.mjs
  browser/components/urlbar/docs/preferences.rst
  browser/components/urlbar/tests/browser/browser.toml
  browser/components/urlbar/tests/browser/browser_UrlbarInput_searchTerms_revert.js
  browser/components/urlbar/tests/browser/browser_focusContentDocumentEsc.js
  browser/components/urlbar/tests/browser/browser_ime_composition.js
Due: eslint, file-whitespace

Bug 1923550 - Fix quick actions result list format. r=daleharvey,desktop-theme-reviewers,urlbar-reviewers,dao
  browser/themes/shared/urlbarView.css
Due: stylelint, file-whitespace

Backed out changeset 8d1d342fdb64 (bug 1920605) for causing xpcshell failures @ test_validate_strip_on_share_list.js. CLOSED TREE
  toolkit/components/antitracking/StripOnShareLists/MPL2/StripOnShare.json
Due: eslint

Bug 1924566 - fix window leaks in tab group session store tests r=dao,jswinarton,sessionstore-reviewers
  browser/components/sessionstore/test/browser_tab_groups_empty.js
  browser/components/sessionstore/test/browser_tab_groups_restore_multiple.js
  browser/components/sessionstore/test/browser_tab_groups_restore_simple.js
  browser/components/sessionstore/test/browser_tab_groups_state.js
Due: eslint

Bug 1921477 - patch 1 - Convert the line-break cache in ComplexBreaker from a pair of hashtables to MruCache, and expose as its own class. r=layout-reviewers,emilio
  intl/lwbrk/LineBreakCache.cpp
  intl/lwbrk/LineBreakCache.h
  intl/lwbrk/moz.build
  intl/lwbrk/nsComplexBreaker.cpp
  layout/build/nsLayoutStatics.cpp
Due: py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1921477 - Add a simple perf-reftest for reflow of Thai content. r=layout-reviewers,perftest-reviewers,emilio,TYLin,sparky
  testing/talos/talos/tests/perf-reftest-singletons/perf_reftest_singletons.manifest
  testing/talos/talos/tests/perf-reftest-singletons/thai-reflow.html
Due: eslint, file-whitespace

Bug 1921477 - patch 2 - Cache results from ICU4X line-segmenter because it may be slow for complex writing systems. r=layout-reviewers,emilio
  intl/lwbrk/LineBreakCache.h
  intl/lwbrk/LineBreaker.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1627965 - [marionette] Re-enable test_click_link_install_addon in test_click.py on Windows. r=webdriver-reviewers,jgraham
  testing/marionette/harness/marionette_harness/tests/unit/test_click.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1877935 - Enable HTTPS-First for non-default ports r=maltejur,necko-reviewers,devtools-reviewers
  browser/base/content/test/captivePortal/browser.toml
  devtools/client/storage/test/browser.toml
  dom/html/test/mochitest.toml
  dom/security/nsHTTPSOnlyUtils.cpp
  dom/security/test/unit/test_https_only_https_first_default_port.js
  modules/libpref/init/StaticPrefList.yaml
  netwerk/test/unit/test_httpssvc_https_upgrade.js
  netwerk/test/unit/xpcshell.toml
  testing/mochitest/tests/SimpleTest/TestRunner.js
  toolkit/components/url-classifier/tests/unit/test_shouldclassify.js
Due: eslint, yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1924614 - Land new strings for ASRouter spotlight message to encourage users to sync to keep their data safe. r=mconley,fluent-reviewers,omc-reviewers,emcminn
  browser/locales/en-US/browser/newtab/asrouter.ftl
Due: fluent-lint, file-whitespace

Backed out changeset 46f4c195d34a (bug 1915216) for causing async related xpcshell failures CLOSED TREE
  browser/components/backup/BackupService.sys.mjs
  browser/components/backup/tests/marionette/test_backup.py
  browser/components/profiles/SelectableProfileService.sys.mjs
  toolkit/components/remote/nsRemoteService.cpp
  toolkit/components/remote/nsRemoteService.h
  toolkit/content/aboutProfiles.js
  toolkit/profile/content/profileSelection.js
  toolkit/profile/moz.build
  toolkit/profile/nsIToolkitProfileService.idl
  toolkit/profile/nsProfileLock.cpp
  toolkit/profile/nsToolkitProfileService.cpp
  toolkit/profile/nsToolkitProfileService.h
  toolkit/profile/test/xpcshell/test_async_flush.js
  toolkit/profile/test/xpcshell/xpcshell.toml
  toolkit/xre/nsAppRunner.cpp
Due: eslint, py-black, py-ruff, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1908423: Add savedGroups to SessionRestore for tab groups r=dao,sessionstore-reviewers
  browser/components/sessionstore/SessionStore.sys.mjs
  browser/components/sessionstore/TabGroupState.sys.mjs
  browser/components/sessionstore/test/browser.toml
  browser/components/sessionstore/test/browser_tab_groups_saved.js
Due: eslint

Bug 1918712: Context menu to remove tab from group r=dao,fluent-reviewers,tabbrowser-reviewers,bolsson
  browser/base/content/main-popupset.inc.xhtml
  browser/base/content/main-popupset.js
  browser/components/tabbrowser/content/tabbrowser.js
  browser/components/tabbrowser/content/tabgroup.js
  browser/components/tabbrowser/test/browser/tabs/browser_tab_groups.js
  browser/locales-preview/tabGroups.ftl
Due: eslint, fluent-lint, file-whitespace

Bug 1853990 - Added the reusable components group to the "Getting Reviews" documentation. r=hjones DONTBUILD
  docs/contributing/reviews.rst
Due: file-whitespace

Bug 1922075 - mozharness: install six 1.16.0 instead of 1.13.0 r=jmaher
  testing/mozharness/configs/unittests/linux_unittest.py
  testing/mozharness/configs/unittests/mac_unittest.py
  testing/mozharness/configs/unittests/win_unittest.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1922075 - install newer requests python package for compatibility with python 3.12 r=mozbase-reviewers,jmaher
  testing/config/mozbase_requirements.txt
Due: none

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml
