Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml

Bug 1921564 - Newtab fixing load spocs to properly check startup cache and is startup values. r=home-newtab-reviewers,cbguder,amy
  browser/components/newtab/lib/DiscoveryStreamFeed.sys.mjs
Due: eslint

Bug 1920173 - Make hover and focus styles for the reveal button the same height as password line. r=credential-management-reviewers,issammani
  toolkit/components/satchel/megalist/content/LoginLine.css
Due: stylelint, file-whitespace

Backed out changeset 1b56a9e3db55 (bug 1921562) for causing conflicts when trying to backout Bug 1914452.
  browser/components/sidebar/browser-sidebar.js
  browser/components/sidebar/tests/browser/browser_toolbar_sidebar_button.js
  browser/themes/shared/toolbarbutton-icons.css
Due: eslint, stylelint, file-whitespace

Backed out changeset 5808b8ac42ad (bug 1914452) for causing multiple bc failures. CLOSED TREE
  browser/components/customizableui/CustomizableUI.sys.mjs
  browser/components/sidebar/browser-sidebar.js
  browser/components/sidebar/sidebar-customize.mjs
  browser/components/sidebar/tests/browser/browser_toolbar_sidebar_button.js
  browser/themes/shared/icons/sidebar-collapsed-right.svg
  browser/themes/shared/icons/sidebar-right.svg
  browser/themes/shared/jar.inc.mn
  browser/themes/shared/toolbarbutton-icons.css
Due: eslint, stylelint, file-whitespace

Bug 1921257 - Make painting order of sidebar items consistent regardless of DOM order. r=sidebar-reviewers,desktop-theme-reviewers,sfoster
  browser/themes/shared/browser-shared.css
  browser/themes/shared/sidebar.css
  browser/themes/shared/tabbrowser/content-area.css
Due: stylelint, file-whitespace

no bug - Import translations from android-l10n r=release a=l10n CLOSED TREE
  mobile/android/android-components/components/browser/errorpages/src/main/res/values-pa-rPK/strings.xml
  mobile/android/fenix/app/src/main/res/values-es-rMX/strings.xml
  mobile/android/fenix/app/src/main/res/values-kk/strings.xml
  mobile/android/fenix/app/src/main/res/values-pt-rBR/strings.xml
  mobile/android/fenix/app/src/main/res/values-skr/strings.xml
  mobile/android/fenix/app/src/main/res/values-tr/strings.xml
  mobile/android/focus-android/app/src/main/res/values-es-rMX/strings.xml
  mobile/android/focus-android/app/src/main/res/values-kk/strings.xml
  mobile/android/focus-android/app/src/main/res/values-pt-rBR/strings.xml
  mobile/android/focus-android/app/src/main/res/values-skr/strings.xml
Due: eslint

Bug 1909986 - For sidebar revamp, only show chatbot entrypoints (context menu, shortcuts) when tools include aichat r=tarek
  browser/components/genai/GenAI.sys.mjs
  browser/components/genai/tests/xpcshell/test_show_chat_entrypoint.js
  browser/components/genai/tests/xpcshell/xpcshell.toml
Due: eslint

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  browser/locales/l10n-changesets.json
Due: eslint

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  mobile/locales/l10n-changesets.json
Due: eslint

Bug 1921504 - Use new compose screen in EditBookmarkFragment r=android-reviewers,matt-tighe
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/library/bookmarks/edit/EditBookmarkFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/library/bookmarks/ui/BookmarksAction.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/library/bookmarks/ui/BookmarksMiddleware.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/library/bookmarks/ui/BookmarksReducer.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/library/bookmarks/ui/BookmarksScreen.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/library/bookmarks/ui/BookmarksStore.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/library/bookmarks/ui/BookmarksMiddlewareTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/library/bookmarks/ui/BookmarksReducerTest.kt
Due: none

Bug 1921519 - Themes dialog for compose bookmarks r=android-reviewers,matt-tighe
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/library/bookmarks/ui/BookmarksScreen.kt
Due: none

Bug 1921518 - Themes compose snackbar for bookmarks r=android-reviewers,matt-tighe
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/library/bookmarks/ui/BookmarksScreen.kt
Due: none

Bug 1921551 - Hides global toolbar when resuming bookmarks r=android-reviewers,matt-tighe
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/library/bookmarks/BookmarkFragment.kt
Due: none

Bug 1921551 - Adds top padding on edit bookmarks screen r=android-reviewers,matt-tighe
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/library/bookmarks/ui/BookmarksScreen.kt
Due: none

Bug 1921551 - Adds placeholder labels for edit bookmark textfields r=android-reviewers,matt-tighe
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/library/bookmarks/ui/BookmarksScreen.kt
Due: none

Bug 1921332 - Add delete button to bookmarks folder edit screen r=android-reviewers,matt-tighe
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/library/bookmarks/ui/BookmarksAction.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/library/bookmarks/ui/BookmarksMiddleware.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/library/bookmarks/ui/BookmarksReducer.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/library/bookmarks/ui/BookmarksScreen.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/library/bookmarks/ui/BookmarksMiddlewareTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/library/bookmarks/ui/BookmarksReducerTest.kt
Due: none

Bug 1921373 - Fix Compose Bookmarks navController usage r=android-reviewers,matt-tighe
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/library/bookmarks/BookmarkFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/library/bookmarks/edit/EditBookmarkFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/library/bookmarks/ui/BookmarksMiddleware.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/library/bookmarks/ui/BookmarksMiddlewareTest.kt
Due: none

Bug 1919591 - add existing telemetry to Compose Bookmarks r=android-reviewers,matt-tighe
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/library/bookmarks/BookmarkFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/library/bookmarks/ui/BookmarksTelemetryMiddleware.kt
Due: none

Bug 1921497 - Reload the select folder screen when returning to it from add folder r=android-reviewers,matt-tighe
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/library/bookmarks/ui/BookmarksMiddleware.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/library/bookmarks/ui/BookmarksReducer.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/library/bookmarks/ui/BookmarksMiddlewareTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/library/bookmarks/ui/BookmarksReducerTest.kt
Due: none

Bug 1921551 - sort bookmarks panel by date added r=android-reviewers,matt-tighe
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/library/bookmarks/ui/BookmarksMiddleware.kt
Due: none

Bug 1921551 - React to sync sign in flow correctly r=android-reviewers,matt-tighe
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/library/bookmarks/BookmarkFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/library/bookmarks/ui/BookmarksAction.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/library/bookmarks/ui/BookmarksMiddleware.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/library/bookmarks/ui/BookmarksReducer.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/library/bookmarks/ui/BookmarksSyncMiddleware.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/library/bookmarks/ui/BookmarksTelemetryMiddleware.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/library/bookmarks/ui/BookmarksMiddlewareTest.kt
Due: none

Bug 1921551 - increase padding for empty bookmarks screens r=android-reviewers,matt-tighe
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/library/bookmarks/ui/BookmarksScreen.kt
Due: none

Bug 1921551 - observe bookmarks title in top bar r=android-reviewers,matt-tighe
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/library/bookmarks/ui/BookmarksScreen.kt
Due: none

Bug 1781387 - Skip 'test_focus_blur_on_click_in_cross_origin_iframe.html' & 'test_focus_blur_on_click_in_deep_cross_origin_iframe.html' on condprof linux. r=emilio DONTBUILD
  dom/events/test/mochitest.toml
Due: none

Bug 1921575 - Fix some subtests in pseudo-classes-after-part.html. r=dbaron,firefox-style-system-reviewers,zrhoffman
  testing/web-platform/meta/css/css-shadow-parts/pseudo-classes-after-part.html.ini
  testing/web-platform/tests/css/css-shadow-parts/pseudo-classes-after-part.html
Due: eslint, file-whitespace, test-manifest

no bug - Import translations from android-l10n r=release a=l10n CLOSED TREE
  mobile/android/fenix/app/src/main/res/values-es-rCL/strings.xml
  mobile/android/fenix/app/src/main/res/values-nn-rNO/strings.xml
  mobile/android/focus-android/app/src/main/res/values-es-rCL/strings.xml
  mobile/android/focus-android/app/src/main/res/values-nn-rNO/strings.xml
Due: eslint

Bug 1921287 - chore(webgpu)!: remove pipeline stats. APIs r=webgpu-reviewers,webidl,nical,smaug
  dom/webidl/WebGPU.webidl
Due: file-whitespace

Bug 1921522: Mark WPTs gradient-external-reference.svg and pattern-external-reference.svg as intermittent on all configs. r=longsonr
  testing/web-platform/meta/svg/painting/reftests/gradient-external-reference.svg.ini
  testing/web-platform/meta/svg/painting/reftests/pattern-external-reference.svg.ini
Due: test-manifest

Bug 1918686 - set tab groups to display: contents r=dao,desktop-theme-reviewers,tabbrowser-reviewers
  browser/themes/shared/tabbrowser/tabs.css
Due: stylelint, file-whitespace

Bug 1919778 - Flag EnumeratedArray variable from dom/media/ipc/RemoteDecoderManagerChild.cpp as MOZ_CONSTINIT r=media-playback-reviewers,padenot
  dom/media/ipc/RemoteDecoderManagerChild.cpp
  mfbt/Maybe.h
  mfbt/MaybeStorageBase.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1919701 - Set the animation id for hit-testing on sticky element stuck to the root scroll container. r=botond,dlrobertson,geckoview-reviewers,ohall
  gfx/wr/webrender/src/scene_building.rs
  mobile/android/geckoview/src/androidTest/assets/www/position-sticky.html
  mobile/android/geckoview/src/androidTest/java/org/mozilla/geckoview/test/BaseSessionTest.kt
  mobile/android/geckoview/src/androidTest/java/org/mozilla/geckoview/test/DynamicToolbarTest.kt
Due: eslint, rustfmt, file-whitespace, trojan-source

Bug 1636922 - Use SetCapacity to perform a single allocation in APZTestDataToJSConverter methods. r=dlrobertson
  gfx/layers/apz/testutil/APZTestData.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1812227 - Use InputBlockState::mTransformToApzc to compute the local coordinates of the synthesized touch event in MaybeSplitTouchMoveEvent(). r=dlrobertson
  gfx/layers/apz/src/AsyncPanZoomController.cpp
  gfx/layers/apz/src/InputBlockState.h
  gfx/layers/apz/test/gtest/TestScrollHandoff.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

no bug - Import translations from android-l10n r=release a=l10n CLOSED TREE
  mobile/android/android-components/components/feature/prompts/src/main/res/values-es-rES/strings.xml
  mobile/android/fenix/app/src/main/res/values-cs/strings.xml
  mobile/android/fenix/app/src/main/res/values-es-rES/strings.xml
  mobile/android/fenix/app/src/main/res/values-nn-rNO/strings.xml
  mobile/android/focus-android/app/src/main/res/values-es-rES/strings.xml
  mobile/android/focus-android/app/src/main/res/values-tr/strings.xml
Due: eslint
