Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

eslint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

stylelint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

py-black:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

py-ruff:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

yaml:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

shellcheck:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

clang-format:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

rustfmt:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

fluent-lint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

Backed out changeset f2e3b00ec176 (bug 1932200) for causing failures at browser_discovery_card.js. CLOSED TREE
  browser/components/newtab/content-src/components/DiscoveryStreamComponents/AdBanner/AdBanner.jsx
  browser/components/newtab/content-src/components/DiscoveryStreamComponents/AdBanner/_AdBanner.scss
  browser/components/newtab/content-src/components/DiscoveryStreamComponents/CardGrid/CardGrid.jsx
  browser/components/newtab/content-src/components/DiscoveryStreamImpressionStats/ImpressionStats.jsx
  browser/components/newtab/content-src/styles/activity-stream.scss
  browser/components/newtab/css/activity-stream.css
  browser/components/newtab/data/content/activity-stream.bundle.js
  browser/components/newtab/lib/DiscoveryStreamFeed.sys.mjs
Due: eslint, stylelint, file-whitespace

Bug 1935920. Re-enable apz tests on macos 14.07. r=jmaher
  gfx/layers/apz/test/mochitest/browser.toml
  gfx/layers/apz/test/mochitest/mochitest.toml
Due: none

no bug - Merge android-l10n translations from mozilla-central r=release a=l10n
  mobile/android/android-components/components/browser/errorpages/src/main/res/values-ast/strings.xml
  mobile/android/android-components/components/browser/errorpages/src/main/res/values-scn/strings.xml
  mobile/android/android-components/components/browser/menu/src/main/res/values-ast/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-ast/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-be/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-scn/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-uk/strings.xml
  mobile/android/android-components/components/feature/app-links/src/main/res/values-ast/strings.xml
  mobile/android/android-components/components/feature/customtabs/src/main/res/values-ast/strings.xml
  mobile/android/android-components/components/feature/downloads/src/main/res/values-ast/strings.xml
  mobile/android/android-components/components/feature/fxsuggest/src/main/res/values-ast/strings.xml
  mobile/android/android-components/components/feature/media/src/main/res/values-ast/strings.xml
  mobile/android/android-components/components/feature/media/src/main/res/values-be/strings.xml
  mobile/android/android-components/components/feature/prompts/src/main/res/values-ast/strings.xml
  mobile/android/android-components/components/feature/prompts/src/main/res/values-scn/strings.xml
  mobile/android/android-components/components/lib/crash/src/main/res/values-scn/strings.xml
  mobile/android/android-components/components/ui/tabcounter/src/main/res/values-ast/strings.xml
  mobile/android/android-components/components/ui/tabcounter/src/main/res/values-be/strings.xml
  mobile/android/fenix/app/src/main/res/values-be/strings.xml
  mobile/android/fenix/app/src/main/res/values-bs/strings.xml
  mobile/android/fenix/app/src/main/res/values-en-rGB/strings.xml
  mobile/android/fenix/app/src/main/res/values-fi/strings.xml
  mobile/android/fenix/app/src/main/res/values-is/strings.xml
  mobile/android/fenix/app/src/main/res/values-iw/strings.xml
  mobile/android/fenix/app/src/main/res/values-pa-rIN/strings.xml
  mobile/android/fenix/app/src/main/res/values-scn/strings.xml
  mobile/android/fenix/app/src/main/res/values-ug/strings.xml
  mobile/android/fenix/app/src/main/res/values-uk/strings.xml
  mobile/android/fenix/app/src/main/res/values-zh-rTW/strings.xml
Due: eslint

Bug 1933531 - Update styles for profiles pages. r=jhirsch
  browser/components/profiles/content/delete-profile-card.mjs
  browser/components/profiles/content/delete-profile.html
  browser/components/profiles/content/edit-profile-card.mjs
  browser/components/profiles/content/edit-profile.html
  browser/components/profiles/content/new-profile-card.mjs
  browser/components/profiles/content/new-profile.html
  browser/components/profiles/content/profiles-theme-card.css
Due: eslint, stylelint, file-whitespace

Bug 1935301 - part1 : make D3D based images return correct color depth. r=sotaro
  dom/media/platforms/ffmpeg/FFmpegVideoDecoder.cpp
  dom/media/platforms/wmf/DXVA2Manager.cpp
  dom/media/platforms/wmf/DXVA2Manager.h
  dom/media/platforms/wmf/WMFVideoMFTManager.cpp
  dom/media/platforms/wmf/WMFVideoMFTManager.h
  gfx/layers/D3D11ShareHandleImage.cpp
  gfx/layers/D3D11ShareHandleImage.h
  gfx/layers/D3D11ZeroCopyTextureImage.cpp
  gfx/layers/D3D11ZeroCopyTextureImage.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1935301 - part2 : set color depth on PlanarYCbCrImage. r=sotaro
  dom/media/MediaData.cpp
  dom/media/platforms/ffmpeg/FFmpegVideoDecoder.cpp
  gfx/layers/ImageContainer.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1935301 - part3 : add test case for HDR. r=media-playback-reviewers,chunmin
  dom/media/test/chrome/chrome.toml
  dom/media/test/chrome/test_accumulated_play_time.html
Due: eslint, file-whitespace

Bug 1935621 - Fix virtual environment sysconfig path calculation r=firefox-build-system-reviewers,ahochheiden a=pascalc
  python/mach/mach/site.py
Due: py-black, py-ruff, file-whitespace, trojan-source

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  browser/locales/l10n-changesets.json
Due: eslint

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  mobile/locales/l10n-changesets.json
Due: eslint

Bug 1935366 - Re-enable deeplink related UI tests r=ohorvath
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/DeepLinkTest.kt
Due: none

Bug 1928250 - Part 3: Display the fetched Merino content recommendations r=android-reviewers,devota
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/appstate/AppAction.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/appstate/recommendations/ContentRecommendationsReducer.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/appstate/recommendations/ContentRecommendationsState.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/ext/AppState.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/components/AppStoreTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/ext/AppStateTest.kt
Due: none

Bug 1928250 - Part 4: Ensure content recommendations are clear from the AppState when PocketStoriesClean is dispatched r=android-reviewers,devota
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/appstate/recommendations/ContentRecommendationsReducer.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/components/AppStoreTest.kt
Due: none

Bug 1928564 - Replace the "Discover more" card with a content recommendation r=android-reviewers,devota
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/ext/AppState.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/pocket/ui/PocketSection.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/pocket/ui/PocketStoriesComposables.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/pocket/view/PocketStoriesViewHolder.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/ext/AppStateTest.kt
Due: none

Bug 1928250 - Part 6: Update the content recommendation impressions when shown r=android-reviewers,devota
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/appstate/recommendations/ContentRecommendationsReducer.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/PocketUpdatesMiddleware.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/pocket/controller/PocketStoriesController.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/pocket/view/PocketStoriesViewHolder.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/components/AppStoreTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/home/PocketUpdatesMiddlewareTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/home/pocket/DefaultPocketStoriesControllerTest.kt
Due: none

Bug 1928250 - Part 5: Update the displayed list of recommendations and sponsored stories when the sponsored stories are updated r=android-reviewers,devota
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/appstate/AppAction.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/appstate/recommendations/ContentRecommendationsReducer.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/HomeSettingsFragment.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/components/AppStoreTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/settings/HomeSettingsFragmentTest.kt
Due: none

Bug 1934977 - Resize the Merino Content Recommendations images based on the device display density r=android-reviewers,devota
  mobile/android/android-components/components/service/pocket/src/main/java/mozilla/components/service/pocket/recommendations/api/ContentRecommendationsEndpoint.kt
  mobile/android/android-components/components/service/pocket/src/test/java/mozilla/components/service/pocket/helpers/PocketTestResources.kt
  mobile/android/android-components/components/service/pocket/src/test/java/mozilla/components/service/pocket/recommendations/api/ContentRecommendationsEndpointTest.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/pocket/ui/PocketStoriesComposables.kt
Due: none

Bug 1927780 - Reenable browser_mouseout_notification_panel on windows. r=daisuke
  dom/events/test/browser.toml
  dom/events/test/browser_mouseout_notification_panel.js
Due: eslint

Bug 1924166 - Rearrange AllocSite::State to allow conversion to gc::Heap by extracting the bottom bit r=jandem
  js/src/gc/Pretenuring.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump
  browser/locales/l10n-changesets.json
Due: eslint

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump
  mobile/locales/l10n-changesets.json
Due: eslint

Bug 1930885 - Copy Without Site Tracking: Strip more query params on meetup r=manuel
  toolkit/components/antitracking/StripOnShareLists/MPL2/StripOnShare.json
Due: eslint

Bug 1935582: Ensure that remote messages that impact profiles come from the correct process type. r=dveditz,firefox-desktop-core-reviewers ,jhirsch
  browser/components/BrowserGlue.sys.mjs
Due: eslint

Bug 1921274 - Remove global constructor from dom/canvas/WebGLTexture.cpp r=emilio
  dom/canvas/WebGLFramebuffer.cpp
  dom/canvas/WebGLRenderbuffer.cpp
  dom/canvas/WebGLTexture.cpp
  dom/canvas/WebGLTexture.h
  dom/canvas/WebGLTextureUpload.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1935466 - Swap order of crash reporting and technical data settings on the onboarding card r=android-reviewers,amejiamarmol
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/ManagePrivacyPreferencesDialog.kt
Due: none

Bug 1930944 - start dbus system bus in interactive docker-worker test tasks. r=releng-reviewers,bhearsum
  taskcluster/scripts/run-task
Due: none

Bug 1935299 - In MuxerUnifiedComplete avoid parsing submission URLs if we don't have any suggestions to match against. r=urlbar-reviewers,mak
  browser/components/urlbar/UrlbarMuxerUnifiedComplete.sys.mjs
Due: eslint

Bug 1934777 - [devtools] Fix disabled breakpoint style in CodeMirror 6. r=devtools-reviewers,bomsy
  devtools/client/debugger/src/components/Editor/Breakpoints.css
Due: stylelint, file-whitespace

Bug 1914742 [Linux] Don't use gtk_targets_include_uri() to check URI types for 134.0 r=emilio a=pascalc
  widget/gtk/nsDragService.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1935623 - Part 1: Consolidate the existing add-ons and toolbar stores into OnboardingStore.kt (consolidation only, no other code changes) r=android-reviewers,rebecatudor273,amejiamarmol,gmalekpour
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/OnboardingFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/store/OnboardingAddOnsStore.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/store/OnboardingStore.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/store/OnboardingToolbarStore.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/view/AddOnsOnboardingPage.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/view/OnboardingScreen.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/view/ToolbarOnboardingPage.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/onboarding/store/OnboardingStoreTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/onboarding/store/OnboardingToolbarStoreTest.kt
Due: none

Bug 1935402 - Fix selected autocomplete styling on windows. r=desktop-theme-reviewers,dao
  browser/themes/shared/autocomplete.css
Due: stylelint, file-whitespace

Bug 1935858 [Linux] Allow GtkFileChooser to get preview of 8K images r=emilio
  widget/gtk/nsFilePicker.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1934237 - [devtools] Set --theme-body-background in High Contrast Mode. r=devtools-reviewers,bomsy.
  devtools/client/themes/variables.css
Due: stylelint, file-whitespace

Bug 1935654 - New redesigned menu extensions related UI tests r=ohorvath
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/helpers/Constants.kt
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/RedesignedMenuTest.kt
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/RedesignedNavigationToolbarSmokeTest.kt
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/HomeScreenRobot.kt
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/RedesignedMainMenuRobot.kt
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/SettingsSubMenuAddonsManagerRobot.kt
Due: none

Bug 1935448 - Follow-up to bug 1919558: make test_permmanager_remote.js defaults be explicitely empty. r=maltejur
  extensions/permissions/test/unit/test_permmanager_remote.js
Due: eslint

Bug 1848824 - Bail out from WidgetOverscrollEffect::RelieveOverscroll if it's not overscrolling. r=botond
  gfx/layers/apz/src/Overscroll.h
  gfx/layers/apz/test/gtest/TestOverscroll.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1848824 - Prevent calling ResetTouchInputState()/ResetPanGestureInputState() multiple times for a single input block. r=botond
  gfx/layers/apz/src/AsyncPanZoomController.cpp
  gfx/layers/apz/src/InputBlockState.cpp
  gfx/layers/apz/src/InputBlockState.h
  gfx/layers/apz/test/gtest/TestOverscroll.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, **/*.java, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml
