Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

eslint:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py eslint

stylelint:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py stylelint

py-black:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py black

py-ruff:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py ruff

yaml:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py yaml

shellcheck:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py shellcheck

clang-format:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  ...

rustfmt:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py rustfmt

fluent-lint:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py fluent-lint

localization:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py l10n

Bug 1925422 - Add PBackgroundLSDatabase to IPCFuzzController r=decoder
  tools/fuzzing/ipc/IPCFuzzController.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1921771 - Optimization for field detection flow in autofill r=NeilDeakin
  browser/extensions/formautofill/test/browser/address/browser_address_doorhanger_tel.js
  toolkit/components/formautofill/FormAutofillChild.sys.mjs
  toolkit/components/formautofill/shared/AutofillTelemetry.sys.mjs
  toolkit/components/formautofill/shared/FormStateManager.sys.mjs
Due: eslint

Revert "Bug 1899131 - Fix a11y large text in browser toolbar r=android-reviewers,sfamisa"
  mobile/android/android-components/components/browser/toolbar/src/main/java/mozilla/components/browser/toolbar/display/OriginView.kt
  mobile/android/android-components/components/browser/toolbar/src/main/res/layout/mozac_browser_toolbar_displaytoolbar.xml
  mobile/android/android-components/components/browser/toolbar/src/main/res/values/integers.xml
  mobile/android/fenix/app/src/main/res/layout/component_browser_top_toolbar.xml
Due: eslint

Bug 1791226 - Harvest a block frame state bit. r=layout-reviewers,jfkthame
  layout/generic/nsBlockFrame.cpp
  layout/generic/nsBlockFrame.h
  layout/generic/nsFrameStateBits.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1867997 - Add nsIQuotaManagerService::TemporaryGroupInitialized and nsIQuotaManagerService::InitializeTemporaryGroup methods; r=dom-storage-reviewers,jari
  dom/quota/PQuota.ipdl
  dom/quota/QuotaManagerService.cpp
  dom/quota/QuotaParent.cpp
  dom/quota/QuotaParent.h
  dom/quota/nsIQuotaManagerService.idl
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1867997 - Clean up the way how unaccessed origins are collected; r=dom-storage-reviewers,jari
  dom/quota/ActorsParent.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1867997 - Simplify signature of QuotaManager::OnOriginClearCompleted; r=dom-storage-reviewers,jari
  dom/cache/QuotaClient.cpp
  dom/cache/QuotaClientImpl.h
  dom/fs/parent/FileSystemQuotaClient.cpp
  dom/fs/parent/FileSystemQuotaClient.h
  dom/indexedDB/ActorsParent.cpp
  dom/localstorage/ActorsParent.cpp
  dom/quota/ActorsParent.cpp
  dom/quota/Client.h
  dom/quota/OriginOperations.cpp
  dom/quota/QuotaManager.h
  dom/simpledb/ActorsParent.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1867997 - Maintain a list of all available temporary origins; r=dom-storage-reviewers,jari
  dom/quota/ActorsParent.cpp
  dom/quota/OriginOperations.cpp
  dom/quota/QuotaManager.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

No bug - Tagging 9ea0a9b07bb2f5fb8f8697d346636ed6d773ac90 with FIREFOX-ANDROID_132_0b9_BUILD1 a=release CLOSED TREE DONTBUILD
  .hgtags
Due: none

Bug 1898029 - [wasm-jspi] Check if on suspendable stack before handling interrupts. r=jandem
  js/src/jit-test/tests/wasm/js-promise-integration/timeout.js
  js/src/vm/Runtime.cpp
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

No bug - Tagging 9ea0a9b07bb2f5fb8f8697d346636ed6d773ac90 with DEVEDITION_132_0b9_BUILD1 a=release CLOSED TREE DONTBUILD
  .hgtags
Due: none

Bug 1923813 - Make ahal the owner of Mozharness r=ahal,shtrom DONTBUILD
  mots.yaml
Due: yaml

Bug 1925072 - Refactor lifetimes for ImageDecoder to ensure promises are fulfilled. r=media-playback-reviewers,padenot
  dom/media/webcodecs/ImageDecoder.cpp
  dom/media/webcodecs/ImageDecoder.h
  dom/media/webcodecs/ImageDecoderReadRequest.cpp
  dom/media/webcodecs/ImageDecoderReadRequest.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

No bug - Tagging 9ea0a9b07bb2f5fb8f8697d346636ed6d773ac90 with FIREFOX_132_0b9_BUILD1 a=release CLOSED TREE DONTBUILD
  .hgtags
Due: none

Backed out changeset e88ac6f27379 (bug 1925476) as requested by Emilio for causing wpt failures. CLOSED TREE
  layout/generic/ScrollContainerFrame.cpp
  layout/generic/ScrollContainerFrame.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1924107 - Add missing title and aria attributes to menu buttons in sidebar r=Mardak,sidebar-reviewers,fluent-reviewers,Gijs
  browser/components/genai/chat.html
  browser/components/genai/chat.js
  browser/components/sidebar/sidebar-history.mjs
  browser/locales/en-US/browser/sidebar.ftl
Due: eslint, fluent-lint, file-whitespace

Bug 1916499 - Add searchForm support back to OpenSearch engines. r=Standard8,urlbar-reviewers
  browser/components/search/content/searchbar.js
  browser/components/urlbar/UrlbarInput.sys.mjs
  toolkit/components/search/OpenSearchEngine.sys.mjs
  toolkit/components/search/OpenSearchLoader.sys.mjs
  toolkit/components/search/SearchEngine.sys.mjs
  toolkit/components/search/SearchUtils.sys.mjs
  toolkit/components/search/UserSearchEngine.sys.mjs
  toolkit/components/search/nsISearchService.idl
  toolkit/components/search/tests/xpcshell/opensearch/simple.xml
  toolkit/components/search/tests/xpcshell/opensearch/suggestion.xml
  toolkit/components/search/tests/xpcshell/test_searchForm.js
  toolkit/components/search/tests/xpcshell/xpcshell.toml
Due: eslint, file-whitespace

Bug 1925339 - Adjust z-index where recommended story card context menus were overlapping r=home-newtab-reviewers,nbarrett
  browser/components/newtab/content-src/components/ContextMenu/_ContextMenu.scss
  browser/components/newtab/content-src/components/CustomizeMenu/_CustomizeMenu.scss
  browser/components/newtab/content-src/components/DiscoveryStreamAdmin/DiscoveryStreamAdmin.scss
  browser/components/newtab/content-src/components/DiscoveryStreamComponents/DSCard/_DSCard.scss
  browser/components/newtab/content-src/components/Search/_Search.scss
  browser/components/newtab/css/activity-stream.css
Due: stylelint, file-whitespace

Bug 1920468, 1920674: apply code formatting via Lando
  widget/windows/nsWindow.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

No bug - Tagging 9ea0a9b07bb2f5fb8f8697d346636ed6d773ac90 with FIREFOX-ANDROID_132_0b9_RELEASE a=release CLOSED TREE DONTBUILD
  .hgtags
Due: none

Automatic version bump CLOSED TREE NO BUG a=release DONTBUILD
  browser/config/version_display.txt
  mobile/android/version.txt
Due: none

Bug 1898247 - Migrate all remaining HTTP_PAGE_* and HTTP_SUB_* probes to glean in nsLoadGroup.cpp r=kershaw,necko-reviewers,acreskey
  netwerk/base/nsLoadGroup.cpp
  netwerk/protocol/http/metrics.yaml
Due: yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1898247 - Add a test for migrated glean probes (HTTP_PAGE_* and HTTP_SUB_* in nsLoadGroup.cpp) r=kershaw,necko-reviewers
  netwerk/test/unit/test_loadgroup_glean.js
  netwerk/test/unit/xpcshell.toml
Due: eslint

Bug 1885582 - Implement correct size and height for tablet/wide devices. r=android-reviewers,007
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/menu/MenuDialogFragment.kt
  mobile/android/fenix/app/src/main/res/values/dimens.xml
Due: eslint

Bug 1810486 - Stop using UNSAFE_componentWillMount in devtools/client/aboutdebugging/src/components/RuntimePage.js r=devtools-reviewers,jdescottes
  devtools/client/aboutdebugging/src/components/RuntimePage.js
Due: eslint

Bug 1924521 - Refactor IPC/EnumSerializer for readability r=sylvestre,ipc-reviewers,mccr8 DONTBUILD
  ipc/glue/EnumSerializer.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1921227 - Enable HTTPS-first for @IS_EARLY_BETA_OR_EARLIER@ r=ckerschb
  modules/libpref/init/StaticPrefList.yaml
Due: yaml

Backed out changeset 2488ab222143 (bug 1919155) because it depends on bug 1769586 which was backed out. CLOSED TREE
  accessible/generic/DocAccessible.cpp
  accessible/tests/browser/e10s/browser_treeupdate_ariaowns.js
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Backed out changeset 64af4247d2cf (bug 1925072) for causing bp-nu bustages on ImageDecoder.cpp. CLOSED TREE
  dom/media/webcodecs/ImageDecoder.cpp
  dom/media/webcodecs/ImageDecoder.h
  dom/media/webcodecs/ImageDecoderReadRequest.cpp
  dom/media/webcodecs/ImageDecoderReadRequest.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Backed out changeset 46e3983957d4 (bug 1898029) for causing SM bustages on timeout.js. CLOSED TREE
  js/src/jit-test/tests/wasm/js-promise-integration/timeout.js
  js/src/vm/Runtime.cpp
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1924192 - Vendor taskcluster_taskgragph v11.2.4 r=mach-reviewers,ahal,ahochheiden
  third_party/python/requirements.txt
  third_party/python/taskcluster_taskgraph/taskcluster_taskgraph-11.2.4.dist-info/METADATA
  third_party/python/taskcluster_taskgraph/taskcluster_taskgraph-11.2.4.dist-info/RECORD
  third_party/python/taskcluster_taskgraph/taskcluster_taskgraph-11.2.4.dist-info/WHEEL
  third_party/python/taskcluster_taskgraph/taskcluster_taskgraph-11.2.4.dist-info/entry_points.txt
  third_party/python/taskcluster_taskgraph/taskcluster_taskgraph-11.2.4.dist-info/licenses/LICENSE
  third_party/python/taskcluster_taskgraph/taskgraph/__init__.py
  third_party/python/taskcluster_taskgraph/taskgraph/run-task/fetch-content
  third_party/python/taskcluster_taskgraph/taskgraph/run-task/run-task
  third_party/python/uv.lock
  third_party/python/uv.lock.hash
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1924192 - Create mochitest-browser-translations test definition r=translations-reviewers,jmaher,sparky,gregtatum
  browser/components/translations/tests/browser/browser.toml
  python/mozbuild/mozbuild/schedules.py
  taskcluster/kinds/test/mochitest.yml
  taskcluster/kinds/test/test-sets.yml
  testing/mozbase/moztest/moztest/resolve.py
  testing/mozharness/configs/unittests/linux_unittest.py
  testing/mozharness/configs/unittests/mac_unittest.py
  testing/mozharness/configs/unittests/win_unittest.py
  testing/mozharness/mach_commands.py
  testing/mozharness/mozharness/mozilla/testing/per_test_base.py
  testing/mozharness/mozharness/mozilla/testing/try_tools.py
  testing/mozharness/scripts/desktop_unittest.py
  tools/tryselect/selectors/syntax.py
Due: py-black, py-ruff, yaml, file-whitespace, trojan-source

Bug 1924192 - Refactor assertPageIsTranslated args r=translations-reviewers,gregtatum
  browser/components/translations/tests/browser/browser_translations_full_page_multiple_windows.js
  browser/components/translations/tests/browser/browser_translations_full_page_panel_always_translate_language_basic.js
  browser/components/translations/tests/browser/browser_translations_full_page_panel_always_translate_language_manual.js
  browser/components/translations/tests/browser/browser_translations_full_page_panel_always_translate_language_restore.js
  browser/components/translations/tests/browser/browser_translations_full_page_panel_app_menu_never_translate_site.js
  browser/components/translations/tests/browser/browser_translations_full_page_panel_auto_translate_error_view.js
  browser/components/translations/tests/browser/browser_translations_full_page_panel_auto_translate_revisit_view.js
  browser/components/translations/tests/browser/browser_translations_full_page_panel_basics.js
  browser/components/translations/tests/browser/browser_translations_full_page_panel_close_panel_never_translate_language_with_translations_active.js
  browser/components/translations/tests/browser/browser_translations_full_page_panel_close_panel_never_translate_site.js
  browser/components/translations/tests/browser/browser_translations_full_page_panel_engine_destroy.js
  browser/components/translations/tests/browser/browser_translations_full_page_panel_engine_destroy_pending.js
  browser/components/translations/tests/browser/browser_translations_full_page_panel_fuzzing.js
  browser/components/translations/tests/browser/browser_translations_full_page_panel_modify_available_language_models.js
  browser/components/translations/tests/browser/browser_translations_full_page_panel_never_translate_language.js
  browser/components/translations/tests/browser/browser_translations_full_page_panel_never_translate_site.js
  browser/components/translations/tests/browser/browser_translations_full_page_panel_never_translate_site_auto.js
  browser/components/translations/tests/browser/browser_translations_full_page_panel_never_translate_site_manual.js
  browser/components/translations/tests/browser/browser_translations_full_page_panel_retry.js
  browser/components/translations/tests/browser/browser_translations_full_page_panel_settings_unsupported_lang.js
  browser/components/translations/tests/browser/browser_translations_full_page_panel_switch_languages.js
  browser/components/translations/tests/browser/browser_translations_full_page_panel_switch_tabs_before_engine_ready.js
  browser/components/translations/tests/browser/browser_translations_full_page_reader_mode.js
  browser/components/translations/tests/browser/browser_translations_full_page_telemetry_auto_translate.js
  browser/components/translations/tests/browser/browser_translations_full_page_telemetry_retranslate.js
  browser/components/translations/tests/browser/browser_translations_full_page_telemetry_translation_request.js
  browser/components/translations/tests/browser/browser_translations_full_page_telemetry_unsupported_lang.js
  browser/components/translations/tests/browser/browser_translations_recent_language_memory_auto_translate.js
  browser/components/translations/tests/browser/browser_translations_recent_language_memory_full_page_and_select.js
  browser/components/translations/tests/browser/browser_translations_recent_language_memory_full_page_multi_window.js
  browser/components/translations/tests/browser/browser_translations_recent_language_memory_full_page_multi_window_multi_tab.js
  browser/components/translations/tests/browser/browser_translations_recent_language_memory_full_page_navigate.js
  browser/components/translations/tests/browser/browser_translations_recent_language_memory_full_page_retranslate.js
  browser/components/translations/tests/browser/browser_translations_select_context_menu_with_full_page_translations_active.js
  browser/components/translations/tests/browser/browser_translations_select_panel_translate_full_page_button.js
  browser/components/translations/tests/browser/browser_translations_select_telemetry_keypresses_translate_full_page_button.js
  browser/components/translations/tests/browser/browser_translations_select_telemetry_primary_ui.js
  browser/components/translations/tests/browser/browser_translations_select_telemetry_translation_failure_with_full_page_translations_active.js
  browser/components/translations/tests/browser/browser_translations_select_telemetry_translation_success_with_full_page_translations_active.js
  browser/components/translations/tests/browser/head.js
Due: eslint

Bug 1924192 - Define fetch task for Translations e2e tests r=jmaher,sparky
  taskcluster/kinds/fetch/kind.yml
  taskcluster/kinds/fetch/translations-fetch.yml
  taskcluster/kinds/test/mochitest.yml
Due: yaml

Bug 1924192 - Translations e2e test infrastructure r=translations-reviewers,gregtatum
  browser/components/translations/tests/browser/browser.toml
  browser/components/translations/tests/browser/browser_translations_e2e_full_page_translate.js
  browser/components/translations/tests/browser/head.js
  toolkit/components/translations/actors/TranslationsParent.sys.mjs
  toolkit/components/translations/tests/browser/browser_translations_remote_settings.js
  toolkit/components/translations/tests/browser/browser_translations_translation_document.js
  toolkit/components/translations/tests/browser/shared-head.js
  toolkit/components/translations/tests/scripts/download-translations-artifacts.py
Due: eslint, py-black, py-ruff, file-whitespace, trojan-source

Bug 1925014 - Test case, r=necko-reviewers,valentin
  netwerk/ipc/PSocketProcess.ipdl
  netwerk/ipc/SocketProcessChild.cpp
  netwerk/ipc/SocketProcessChild.h
  netwerk/protocol/http/nsHttpHandler.cpp
  netwerk/protocol/http/nsHttpHandler.h
  netwerk/test/unit/test_http3_with_third_party_roots.js
  netwerk/test/unit/xpcshell.toml
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1925014 - Add network.http.http3.disable_when_third_party_roots_found to nimbus manifest, r=necko-reviewers,valentin
  toolkit/components/nimbus/FeatureManifest.yaml
Due: yaml

Bug 1925014 - Disallow HTTP/3 when third party root is found, r=necko-reviewers,keeler,valentin
  modules/libpref/init/StaticPrefList.yaml
  netwerk/base/nsNetUtil.cpp
  netwerk/protocol/http/nsHttpHandler.cpp
  netwerk/protocol/http/nsHttpHandler.h
Due: yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml
