Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml

Bug 1920740 - Remove duplicate kVTCompressionPropertyKey_AllowFrameReordering settings r=media-playback-reviewers,aosmond
  dom/media/platforms/apple/AppleVTEncoder.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1920740 - Add debugging logs r=media-playback-reviewers,aosmond
  dom/media/platforms/apple/AppleVTEncoder.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1920740 - Release CFNumberRef for SVC setting automatically r=media-playback-reviewers,aosmond
  dom/media/platforms/apple/AppleVTEncoder.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1920740 - Remove realtime settings for SVC r=media-playback-reviewers,aosmond
  dom/media/platforms/apple/AppleVTEncoder.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 71895 - Create the hidden window on macOS only r=firefox-desktop-core-reviewers ,mossop
  accessible/tests/mochitest/events/docload/test_docload_root.html
  accessible/tests/mochitest/events/docload/test_docload_shutdown.html
  browser/base/content/browser-init.js
  browser/base/content/test/performance/browser.toml
  browser/base/content/test/performance/browser_hiddenwindow_existence.js
  browser/base/content/test/performance/browser_startup_hiddenwindow.js
  browser/base/jar.mn
  browser/components/BrowserGlue.sys.mjs
  browser/components/StartupRecorder.sys.mjs
  dom/base/nsWindowMemoryReporter.h
  dom/jar.mn
  dom/moz.build
  dom/res/hiddenWindow.html
  testing/mochitest/leaks.py
  toolkit/components/places/tests/history/test_async_history_api.js
  toolkit/components/places/tests/unit/test_isvisited.js
  toolkit/components/startup/nsAppStartup.cpp
  toolkit/components/startup/public/nsIAppStartup.idl
  toolkit/xre/nsAppRunner.cpp
  xpfe/appshell/nsAppShellService.cpp
  xpfe/appshell/nsAppShellService.h
  xpfe/appshell/nsIAppShellService.idl
Due: eslint, py-black, py-ruff, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

no bug - Import translations from android-l10n r=release a=l10n CLOSED TREE
  mobile/android/android-components/components/feature/prompts/src/main/res/values-sq/strings.xml
  mobile/android/fenix/app/src/main/res/values-hy-rAM/strings.xml
  mobile/android/fenix/app/src/main/res/values-sq/strings.xml
Due: eslint

Backed out changeset 60eb21adcf3e (bug 1920705) for causing wpt failures on successes_X25519.https.any.worker.html. CLOSED TREE
  dom/crypto/CryptoKey.cpp
  dom/crypto/WebCryptoTask.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Backed out 3 changesets (bug 1919114) for causing multiple reftest failures on multiple platforms with no-gpu enabled flavors. CLOSED TREE
  ipc/glue/UtilityAudioDecoderChild.cpp
  layout/reftests/bugs/reftest.list
  layout/reftests/svg/as-image/reftest.list
  layout/reftests/svg/filters/reftest.list
  taskcluster/config.yml
  taskcluster/kinds/test/mochitest.yml
  taskcluster/kinds/test/reftest.yml
  taskcluster/kinds/test/variants.yml
Due: yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1918702 - Migrate telemetry events to use Glean APIs for sync, r=chutten.
  browser/base/content/browser-sync.js
  services/sync/modules/SyncedTabs.sys.mjs
  services/sync/modules/metrics.yaml
  toolkit/components/glean/metrics_index.py
Due: eslint, py-black, py-ruff, yaml, file-whitespace, trojan-source

Bug 1920421 - Fix Settings links to open in a new tab. r=Gijs
  browser/components/preferences/privacy.inc.xhtml
  browser/components/preferences/searchResults.inc.xhtml
Due: eslint, file-whitespace

Bug 1919368. When constructing surface pipes for images downscaling must come after premultiplying alpha. r=gfx-reviewers,nical
  image/SurfacePipeFactory.h
  image/test/reftest/downscaling/1919368-1-ref.html
  image/test/reftest/downscaling/1919368-1.avif
  image/test/reftest/downscaling/1919368-1.html
  image/test/reftest/downscaling/1919368-1.png
  image/test/reftest/downscaling/reftest.list
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1919790 - Stop returning hidden tabs or tabs from collpased groups in _findTabToBlurTo. r=dwalker,tabbrowser-reviewers,sthompson
  browser/base/content/test/general/browser_visibleTabs.js
  browser/base/content/test/general/browser_visibleTabs_bookmarkAllPages.js
  browser/components/extensions/test/browser/browser_ext_tabs_hide.js
  browser/components/tabbrowser/content/tab.js
  browser/components/tabbrowser/content/tabbrowser.js
  browser/components/tabbrowser/content/tabs.js
  browser/components/tabbrowser/test/browser/tabs/browser_multiselect_tabs_move.js
Due: eslint

Bug 1918036 - IDB: Add a test for rapid addition and deletion of blobs; r=dom-storage-reviewers,asuth
  dom/indexedDB/test/mochitest-common.toml
  dom/indexedDB/test/test_file_repeated_add_delete.html
Due: eslint, file-whitespace

Bug 1917417: Prevent intermittents by closing tabs in tests without animation r=dao,sthompson,tabbrowser-reviewers
  browser/components/tabbrowser/content/tabbrowser.js
  browser/components/tabbrowser/test/browser/tabs/browser_tab_groups.js
Due: eslint

Bug 1917740 - Improve reference script update for Snap QA tests r=benchatt
  taskcluster/docker/snap-coreXX-build/snap-tests/update-references.sh
Due: shellcheck

Bug 1917740 - Update PDF-related reference for Snap QA tests r=benchatt
  taskcluster/docker/snap-coreXX-build/snap-tests/qa_tests/qa_expectations.json
  taskcluster/docker/snap-coreXX-build/snap-tests/qa_tests/test_custom_fonts_ref-nightly.png
  taskcluster/docker/snap-coreXX-build/snap-tests/qa_tests/test_pdf_download_base-nightly.png
  taskcluster/docker/snap-coreXX-build/snap-tests/qa_tests/test_pdf_navigation_base-nightly.png
  taskcluster/docker/snap-coreXX-build/snap-tests/qa_tests/test_pdf_navigation_documentProperties-nightly.png
  taskcluster/docker/snap-coreXX-build/snap-tests/qa_tests/test_pdf_navigation_down-nightly.png
  taskcluster/docker/snap-coreXX-build/snap-tests/qa_tests/test_pdf_navigation_end-nightly.png
  taskcluster/docker/snap-coreXX-build/snap-tests/qa_tests/test_pdf_navigation_firstPage-nightly.png
  taskcluster/docker/snap-coreXX-build/snap-tests/qa_tests/test_pdf_navigation_hand_tool-nightly.png
  taskcluster/docker/snap-coreXX-build/snap-tests/qa_tests/test_pdf_navigation_home-nightly.png
  taskcluster/docker/snap-coreXX-build/snap-tests/qa_tests/test_pdf_navigation_lastPage-nightly.png
  taskcluster/docker/snap-coreXX-build/snap-tests/qa_tests/test_pdf_navigation_left-nightly.png
  taskcluster/docker/snap-coreXX-build/snap-tests/qa_tests/test_pdf_navigation_next-nightly.png
  taskcluster/docker/snap-coreXX-build/snap-tests/qa_tests/test_pdf_navigation_pageRotateCcw-nightly.png
  taskcluster/docker/snap-coreXX-build/snap-tests/qa_tests/test_pdf_navigation_pageRotateCw-nightly.png
  taskcluster/docker/snap-coreXX-build/snap-tests/qa_tests/test_pdf_navigation_pagedown-nightly.png
  taskcluster/docker/snap-coreXX-build/snap-tests/qa_tests/test_pdf_navigation_pageup-nightly.png
  taskcluster/docker/snap-coreXX-build/snap-tests/qa_tests/test_pdf_navigation_previous-nightly.png
  taskcluster/docker/snap-coreXX-build/snap-tests/qa_tests/test_pdf_navigation_right-nightly.png
  taskcluster/docker/snap-coreXX-build/snap-tests/qa_tests/test_pdf_navigation_select_text_with_highlight-nightly.png
  taskcluster/docker/snap-coreXX-build/snap-tests/qa_tests/test_pdf_navigation_up-nightly.png
  taskcluster/docker/snap-coreXX-build/snap-tests/qa_tests/test_pdf_zoom_p1_100p-nightly.png
  taskcluster/docker/snap-coreXX-build/snap-tests/qa_tests/test_pdf_zoom_p1_150p-nightly.png
  taskcluster/docker/snap-coreXX-build/snap-tests/qa_tests/test_pdf_zoom_p1_400p-nightly.png
  taskcluster/docker/snap-coreXX-build/snap-tests/qa_tests/test_pdf_zoom_p1_50p-nightly.png
  taskcluster/docker/snap-coreXX-build/snap-tests/qa_tests/test_pdf_zoom_p1_75p-nightly.png
  taskcluster/docker/snap-coreXX-build/snap-tests/qa_tests/test_pdf_zoom_p1_actual-nightly.png
  taskcluster/docker/snap-coreXX-build/snap-tests/qa_tests/test_pdf_zoom_p1_fit-nightly.png
  taskcluster/docker/snap-coreXX-build/snap-tests/qa_tests/test_pdf_zoom_p1_width-nightly.png
Due: eslint

Bug 1077791 - reenable reftest r=emilio
  layout/reftests/svg/reftest.list
Due: none

Bug 1920802 - Update node_modules related to ESLint as far as possible. r=frontend-codestyle-reviewers,Gijs
  .eslintrc.js
  package-lock.json
  package.json
  tools/lint/eslint/eslint-plugin-mozilla/manifest.tt
  tools/lint/eslint/eslint-plugin-mozilla/package-lock.json
  tools/lint/eslint/eslint-plugin-mozilla/package.json
  tools/lint/eslint/manifest.tt
Due: eslint

Bug 1919709 - Move ESLint CI runners to use node from the toolchains rather than a separate install. r=glandium
  devtools/client/debugger/package.json
  devtools/client/debugger/yarn.lock
  taskcluster/kinds/source-test/buildconfig.yml
  taskcluster/kinds/source-test/doc.yml
  taskcluster/kinds/source-test/mozlint.yml
  taskcluster/kinds/source-test/node.yml
Due: eslint, yaml

Bug 1917794 [Wayland] Doesn't crash on null surface passed to gesture_hold_begin r=emilio
  widget/gtk/nsWaylandDisplay.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Backed out 2 changesets (bug 1917740) for causing lint failure. CLOSED TREE
  taskcluster/docker/snap-coreXX-build/snap-tests/qa_tests/qa_expectations.json
  taskcluster/docker/snap-coreXX-build/snap-tests/qa_tests/test_custom_fonts_ref-nightly.png
  taskcluster/docker/snap-coreXX-build/snap-tests/qa_tests/test_pdf_download_base-nightly.png
  taskcluster/docker/snap-coreXX-build/snap-tests/qa_tests/test_pdf_navigation_base-nightly.png
  taskcluster/docker/snap-coreXX-build/snap-tests/qa_tests/test_pdf_navigation_documentProperties-nightly.png
  taskcluster/docker/snap-coreXX-build/snap-tests/qa_tests/test_pdf_navigation_down-nightly.png
  taskcluster/docker/snap-coreXX-build/snap-tests/qa_tests/test_pdf_navigation_end-nightly.png
  taskcluster/docker/snap-coreXX-build/snap-tests/qa_tests/test_pdf_navigation_firstPage-nightly.png
  taskcluster/docker/snap-coreXX-build/snap-tests/qa_tests/test_pdf_navigation_hand_tool-nightly.png
  taskcluster/docker/snap-coreXX-build/snap-tests/qa_tests/test_pdf_navigation_home-nightly.png
  taskcluster/docker/snap-coreXX-build/snap-tests/qa_tests/test_pdf_navigation_lastPage-nightly.png
  taskcluster/docker/snap-coreXX-build/snap-tests/qa_tests/test_pdf_navigation_left-nightly.png
  taskcluster/docker/snap-coreXX-build/snap-tests/qa_tests/test_pdf_navigation_next-nightly.png
  taskcluster/docker/snap-coreXX-build/snap-tests/qa_tests/test_pdf_navigation_pageRotateCcw-nightly.png
  taskcluster/docker/snap-coreXX-build/snap-tests/qa_tests/test_pdf_navigation_pageRotateCw-nightly.png
  taskcluster/docker/snap-coreXX-build/snap-tests/qa_tests/test_pdf_navigation_pagedown-nightly.png
  taskcluster/docker/snap-coreXX-build/snap-tests/qa_tests/test_pdf_navigation_pageup-nightly.png
  taskcluster/docker/snap-coreXX-build/snap-tests/qa_tests/test_pdf_navigation_previous-nightly.png
  taskcluster/docker/snap-coreXX-build/snap-tests/qa_tests/test_pdf_navigation_right-nightly.png
  taskcluster/docker/snap-coreXX-build/snap-tests/qa_tests/test_pdf_navigation_select_text_with_highlight-nightly.png
  taskcluster/docker/snap-coreXX-build/snap-tests/qa_tests/test_pdf_navigation_up-nightly.png
  taskcluster/docker/snap-coreXX-build/snap-tests/qa_tests/test_pdf_zoom_p1_100p-nightly.png
  taskcluster/docker/snap-coreXX-build/snap-tests/qa_tests/test_pdf_zoom_p1_150p-nightly.png
  taskcluster/docker/snap-coreXX-build/snap-tests/qa_tests/test_pdf_zoom_p1_400p-nightly.png
  taskcluster/docker/snap-coreXX-build/snap-tests/qa_tests/test_pdf_zoom_p1_50p-nightly.png
  taskcluster/docker/snap-coreXX-build/snap-tests/qa_tests/test_pdf_zoom_p1_75p-nightly.png
  taskcluster/docker/snap-coreXX-build/snap-tests/qa_tests/test_pdf_zoom_p1_actual-nightly.png
  taskcluster/docker/snap-coreXX-build/snap-tests/qa_tests/test_pdf_zoom_p1_fit-nightly.png
  taskcluster/docker/snap-coreXX-build/snap-tests/qa_tests/test_pdf_zoom_p1_width-nightly.png
  taskcluster/docker/snap-coreXX-build/snap-tests/update-references.sh
Due: eslint, shellcheck

Bug 1920472 - WebRTC backport: PipeWire camera: use exact stream parameters specified by capability r=pehrsons,webrtc-reviewers
  third_party/libwebrtc/modules/video_capture/linux/video_capture_pipewire.cc
  third_party/libwebrtc/modules/video_capture/linux/video_capture_pipewire.h
  third_party/libwebrtc/moz-patch-stack/9703f8474f.no-op-cherry-pick-msg
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  browser/locales/l10n-changesets.json
Due: eslint

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  mobile/locales/l10n-changesets.json
Due: eslint

Bug 1920445 - Improve scraping Microsoft system symbols when the file name and debug name differ r=afranchuk
  tools/crashreporter/system-symbols/win/run.sh
Due: shellcheck

Bug 1913978 - Add AsyncPanZoomController::ToCSSPoint and use it r=ajakobi
  gfx/layers/apz/src/AsyncPanZoomController.cpp
  gfx/layers/apz/src/AsyncPanZoomController.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1912403 - Remove inline command handlers from navigator-toolbox. r=Gijs,mossop
  browser/base/content/navigator-toolbox.inc.xhtml
  browser/base/content/navigator-toolbox.js
Due: eslint, file-whitespace

Backed out changeset 621b4944617c (bug 1919368) for causing py3 unit test failures CLOSED TREE
  image/SurfacePipeFactory.h
  image/test/reftest/downscaling/1919368-1-ref.html
  image/test/reftest/downscaling/1919368-1.avif
  image/test/reftest/downscaling/1919368-1.html
  image/test/reftest/downscaling/1919368-1.png
  image/test/reftest/downscaling/reftest.list
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1918702 - Migrate telemetry events to use Glean APIs for pwmgr.doorhanger_submitted, r=chutten,credential-management-reviewers,dimi.
  toolkit/components/passwordmgr/LoginManagerPrompter.sys.mjs
  toolkit/components/passwordmgr/metrics.yaml
Due: eslint, yaml

Bug 1918702 - Migrate telemetry events to use Glean APIs for pwmgr.autocomplete_field and pwmgr.filled_field_edited, r=chutten,credential-management-reviewers,dimi.
  toolkit/components/passwordmgr/LoginManagerParent.sys.mjs
  toolkit/components/passwordmgr/metrics.yaml
Due: eslint, yaml

Bug 1918702 - Migrate telemetry events to use Glean APIs for password manager, r=chutten,settings-reviewers,credential-management-reviewers,mossop,mtigley,dimi.
  browser/actors/AboutProtectionsParent.sys.mjs
  browser/base/content/nsContextMenu.sys.mjs
  browser/base/content/pageinfo/security.js
  browser/components/aboutlogins/AboutLoginsChild.sys.mjs
  browser/components/aboutlogins/AboutLoginsParent.sys.mjs
  browser/components/aboutlogins/content/aboutLogins.mjs
  browser/components/aboutlogins/content/components/login-filter.mjs
  browser/components/aboutlogins/content/components/login-item.mjs
  browser/components/aboutlogins/content/components/login-list.mjs
  browser/components/customizableui/CustomizableWidgets.sys.mjs
  browser/components/customizableui/content/panelUI.js
  browser/components/preferences/privacy.js
  toolkit/components/passwordmgr/LoginAutoComplete.sys.mjs
  toolkit/components/passwordmgr/LoginHelper.sys.mjs
  toolkit/components/passwordmgr/metrics.yaml
  toolkit/components/satchel/megalist/aggregator/datasources/LoginDataSource.sys.mjs
Due: eslint, yaml

Bug 1918702 - Migrate telemetry events to use Glean APIs for pwmgr.saved_login_used, r=chutten,credential-management-reviewers,dimi.
  toolkit/components/passwordmgr/LoginManager.sys.mjs
  toolkit/components/passwordmgr/LoginManagerAuthPrompter.sys.mjs
  toolkit/components/passwordmgr/LoginManagerParent.sys.mjs
  toolkit/components/passwordmgr/LoginManagerPrompter.sys.mjs
  toolkit/components/passwordmgr/metrics.yaml
Due: eslint, yaml

Bug 1918702 - Migrate telemetry events to use Glean APIs for form_autocomplete.show, r=chutten,credential-management-reviewers,dimi.
  toolkit/actors/AutoCompleteParent.sys.mjs
  toolkit/components/passwordmgr/metrics.yaml
Due: eslint, yaml

Bug 1917272 [wpt PR 48017] - HTML: test more body/frameset event handler reflection scenarios, a=testonly
  testing/web-platform/tests/html/webappapis/scripting/events/event-handler-all-global-events.html
  testing/web-platform/tests/html/webappapis/scripting/events/resources/event-handler-body.js
Due: eslint, file-whitespace

Bug 1917272 [wpt PR 48017] - Update wpt metadata, a=testonly
  testing/web-platform/meta/html/webappapis/scripting/events/event-handler-all-global-events.html.ini
  testing/web-platform/meta/html/webappapis/scripting/events/event-handler-attributes-body-window.html.ini
  testing/web-platform/meta/html/webappapis/scripting/events/event-handler-attributes-frameset-window.html.ini
Due: test-manifest

Bug 1917534 [wpt PR 48035] - Add compute pressure-related commands to testdriver, a=testonly
  testing/web-platform/tests/docs/writing-tests/testdriver.md
  testing/web-platform/tests/resources/testdriver.js
  testing/web-platform/tests/tools/wptrunner/wptrunner/executors/actions.py
  testing/web-platform/tests/tools/wptrunner/wptrunner/executors/executormarionette.py
  testing/web-platform/tests/tools/wptrunner/wptrunner/executors/executorwebdriver.py
  testing/web-platform/tests/tools/wptrunner/wptrunner/executors/protocol.py
  testing/web-platform/tests/tools/wptrunner/wptrunner/testdriver-extra.js
Due: eslint, py-black, py-ruff, file-whitespace, trojan-source

Bug 1919931 [wpt PR 48200] - webrtc wpt: fix generateCertificates WPT, add one for rejecting SHA-1 and delete legacy tests, a=testonly
  testing/web-platform/tests/webrtc/RTCPeerConnection-generateCertificate.html
Due: eslint, file-whitespace

Bug 1919931 [wpt PR 48200] - Update wpt metadata, a=testonly
  testing/web-platform/meta/webrtc/RTCPeerConnection-generateCertificate.html.ini
Due: test-manifest

Bug 1918761 [wpt PR 48165] - Skip one slow timeout test, a=testonly
  testing/web-platform/tests/editing/crashtests/insertparagraph-in-listitem-in-svg-followed-by-collapsible-spaces.html
Due: eslint, file-whitespace
