Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, **/*.java, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml

Bug 1956259 - Update the product for updatebot AppServices nightly bumps. r=me a=NPOTB DONTBUILD
  mobile/android/android-components/plugins/dependencies/src/main/java/moz.yaml
Due: yaml

Bug 1955397 - Only get computed theme colors if default theme. r=profiles-reviewers,jhirsch
  browser/components/profiles/SelectableProfileService.sys.mjs
Due: eslint

Bug 1955276 - Consolidate moveTabTo checks. r=dwalker,tabbrowser-reviewers
  browser/components/tabbrowser/content/tabbrowser.js
Due: eslint

Bug 1944211: Match PointerEvents's implementation for mozPressure. r=tjr
  dom/events/MouseEvent.cpp
  dom/events/MouseEvent.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1956173 - [devtools] Remove editing features from VariablesView r=nchevobbe
  devtools/client/jar.mn
  devtools/client/shared/widgets/widgets.css
  devtools/client/storage/VariablesView.sys.mjs
  devtools/client/storage/test/head.js
  devtools/client/themes/images/vview-delete.svg
  devtools/client/themes/images/vview-edit.svg
  devtools/client/themes/widgets.css
Due: eslint, stylelint, file-whitespace

Bug 1956173 - [devtools] Remove unused code in VariablesView.sys.mjs r=nchevobbe
  devtools/client/jar.mn
  devtools/client/locales/en-US/debugger.properties
  devtools/client/shared/widgets/widgets.css
  devtools/client/storage/VariablesView.sys.mjs
  devtools/client/storage/ui.js
  devtools/client/themes/images/vview-lock.svg
  devtools/client/themes/widgets.css
Due: eslint, stylelint, localization, file-whitespace

Bug 1954963 - Fix test_chrome_only_media_queries to account for mica popups pref not being a bool anymore.
  layout/style/test/chrome/test_chrome_only_media_queries.html
Due: eslint, file-whitespace

No bug - Tagging 7661668375647ab0eef1674279cb262d14530b1e with FIREFOX_136_0_3_RELEASE a=release CLOSED TREE DONTBUILD
  .hgtags
Due: none

Automatic version bump CLOSED TREE NO BUG a=release DONTBUILD
  browser/config/version.txt
  browser/config/version_display.txt
  config/milestone.txt
  mobile/android/version.txt
Due: none

Bug 1899503 - P2 PRemoteWorkerDebuggerMangaer binding implementation. r=asuth
  dom/ipc/ContentChild.cpp
  dom/ipc/ContentChild.h
  dom/ipc/ContentParent.cpp
  dom/ipc/ContentParent.h
  dom/ipc/PContent.ipdl
  dom/workers/remoteworkers/RemoteWorkerDebuggerManagerParent.cpp
  dom/workers/remoteworkers/RemoteWorkerDebuggerManagerParent.h
  dom/workers/remoteworkers/RemoteWorkerService.cpp
  dom/workers/remoteworkers/RemoteWorkerService.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1899503 - P1 New top-level IPC PRemoteWorkerDebuggerManager and PRemoteWorkerDebugger to support nsIWorkerDebugger interface for Workers in the parent process. r=asuth
  dom/workers/WorkerDebuggerManager.cpp
  dom/workers/WorkerDebuggerManager.h
  dom/workers/WorkerPrivate.cpp
  dom/workers/remoteworkers/PRemoteWorkerDebugger.ipdl
  dom/workers/remoteworkers/PRemoteWorkerDebuggerManager.ipdl
  dom/workers/remoteworkers/RemoteWorkerDebuggerChild.cpp
  dom/workers/remoteworkers/RemoteWorkerDebuggerChild.h
  dom/workers/remoteworkers/RemoteWorkerDebuggerManagerChild.cpp
  dom/workers/remoteworkers/RemoteWorkerDebuggerManagerChild.h
  dom/workers/remoteworkers/RemoteWorkerDebuggerManagerParent.cpp
  dom/workers/remoteworkers/RemoteWorkerDebuggerManagerParent.h
  dom/workers/remoteworkers/RemoteWorkerDebuggerParent.cpp
  dom/workers/remoteworkers/RemoteWorkerDebuggerParent.h
  dom/workers/remoteworkers/RemoteWorkerTypes.ipdlh
  dom/workers/remoteworkers/moz.build
Due: py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1899503 - P4 Update SharedWorker windowID for remote worker debugger. r=asuth
  dom/workers/WorkerPrivate.cpp
  dom/workers/WorkerPrivate.h
  dom/workers/sharedworkers/SharedWorkerOp.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1899503 - P3 PRemoteWorkerDebugger binding implementation. r=asuth
  dom/workers/RuntimeService.cpp
  dom/workers/WorkerDebugger.cpp
  dom/workers/WorkerDebuggerManager.cpp
  dom/workers/WorkerEventTarget.cpp
  dom/workers/WorkerEventTarget.h
  dom/workers/WorkerPrivate.cpp
  dom/workers/WorkerPrivate.h
  dom/workers/WorkerRunnable.h
  dom/workers/nsIWorkerDebugger.idl
  dom/workers/remoteworkers/PRemoteWorkerDebugger.ipdl
  dom/workers/remoteworkers/RemoteWorkerChild.cpp
  dom/workers/remoteworkers/RemoteWorkerChild.h
  dom/workers/remoteworkers/RemoteWorkerDebuggerChild.cpp
  dom/workers/remoteworkers/RemoteWorkerDebuggerChild.h
  dom/workers/remoteworkers/RemoteWorkerDebuggerManagerChild.cpp
  dom/workers/remoteworkers/RemoteWorkerDebuggerManagerParent.cpp
  dom/workers/remoteworkers/RemoteWorkerDebuggerParent.cpp
  dom/workers/remoteworkers/RemoteWorkerService.cpp
  dom/workers/remoteworkers/RemoteWorkerService.h
  dom/workers/sharedworkers/SharedWorkerOp.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1951426 - Request messages from OMC in newtab r=home-newtab-reviewers,omc-reviewers,mconley,aminomancer,maxx
  browser/actors/AboutNewTabParent.sys.mjs
  browser/components/asrouter/bin/import-rollouts.js
  browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  browser/components/asrouter/content-src/schemas/make-schemas.py
  browser/components/asrouter/content-src/templates/OnboardingMessage/NewtabMessage.schema.json
  browser/components/asrouter/content/asrouter-admin.bundle.js
  browser/components/asrouter/modules/ASRouter.sys.mjs
  browser/components/asrouter/modules/ASRouterParentProcessMessageHandler.sys.mjs
  browser/components/asrouter/modules/ASRouterTelemetry.sys.mjs
  browser/components/asrouter/modules/ActorConstants.mjs
  browser/components/asrouter/modules/PanelTestProvider.sys.mjs
  browser/components/asrouter/moz.build
  browser/components/asrouter/tests/xpcshell/head.js
  browser/components/asrouter/tests/xpcshell/test_PanelTestProvider.js
  browser/extensions/newtab/common/Actions.mjs
  browser/extensions/newtab/common/Reducers.sys.mjs
  browser/extensions/newtab/content-src/components/Base/Base.jsx
  browser/extensions/newtab/data/content/activity-stream.bundle.js
  browser/extensions/newtab/lib/ActivityStream.sys.mjs
  browser/extensions/newtab/lib/NewTabMessaging.sys.mjs
  toolkit/components/messaging-system/schemas/index.rst
Due: eslint, py-black, py-ruff, file-whitespace, trojan-source

Bug 1953632 - Update WallpaperHighlight for use with MessageWrapper r=home-newtab-reviewers,fluent-reviewers,bolsson,omc-reviewers,aminomancer,mconley,maxx
  browser/extensions/newtab/content-src/components/Base/Base.jsx
  browser/extensions/newtab/content-src/components/DiscoveryStreamComponents/FeatureHighlight/FeatureHighlight.jsx
  browser/extensions/newtab/content-src/components/DiscoveryStreamComponents/FeatureHighlight/WallpaperFeatureHighlight.jsx
  browser/extensions/newtab/content-src/components/DiscoveryStreamComponents/FeatureHighlight/_FeatureHighlight.scss
  browser/extensions/newtab/content-src/components/DiscoveryStreamComponents/FeatureHighlight/_WallpaperFeatureHighlight.scss
  browser/extensions/newtab/content-src/components/MessageWrapper/MessageWrapper.jsx
  browser/extensions/newtab/content-src/lib/utils.jsx
  browser/extensions/newtab/css/activity-stream.css
  browser/extensions/newtab/data/content/activity-stream.bundle.js
  browser/extensions/newtab/data/content/assets/custom-wp-highlight.png
  browser/extensions/newtab/karma.mc.config.js
  browser/extensions/newtab/lib/NewTabMessaging.sys.mjs
  browser/locales/en-US/browser/newtab/newtab.ftl
Due: eslint, stylelint, fluent-lint, file-whitespace

Bug 1954848 - Write tests for NewtabMessaging r=home-newtab-reviewers,mconley,maxx
  browser/extensions/newtab/test/xpcshell/test_NewTabMessaging.js
  browser/extensions/newtab/test/xpcshell/xpcshell.toml
Due: eslint

Bug 1951782 - Add JSX component for messages from ASRouter in newtab r=home-newtab-reviewers,omc-reviewers,aminomancer,thecount,maxx
  browser/extensions/newtab/content-src/components/DiscoveryStreamComponents/FeatureHighlight/_WallpaperFeatureHighlight.scss
  browser/extensions/newtab/content-src/components/MessageWrapper/MessageWrapper.jsx
  browser/extensions/newtab/css/activity-stream.css
  browser/extensions/newtab/test/unit/content-src/components/MessageWrapper.test.jsx
Due: eslint, stylelint, file-whitespace

Bug 1877330 Part 6: Fix WebGPUChild::ActorDestroy to resolve the lost promise in more cases. r=webgpu-reviewers,teoxoy,nical
  dom/webgpu/ipc/WebGPUChild.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1877330 Part 5: Add more logging to test_device_lost.html. r=webgpu-reviewers,teoxoy
  dom/webgpu/mochitest/test_device_lost.html
Due: eslint, file-whitespace

Bug 1950984 - Add flags and prefs for consent manager annotation feature. r=timhuang,necko-reviewers,jesup,valentin
  dom/chrome-webidl/ChannelWrapper.webidl
  modules/libpref/init/all.js
  netwerk/base/nsIClassifiedChannel.idl
  toolkit/components/extensions/schemas/web_request.json
  toolkit/components/extensions/webrequest/ChannelWrapper.cpp
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1950984 - Add consent manager annotation feature. r=timhuang
  modules/libpref/init/StaticPrefList.yaml
  netwerk/url-classifier/UrlClassifierCommon.cpp
  netwerk/url-classifier/UrlClassifierCommon.h
  netwerk/url-classifier/UrlClassifierFeatureConsentManagerAnnotation.cpp
  netwerk/url-classifier/UrlClassifierFeatureConsentManagerAnnotation.h
  netwerk/url-classifier/UrlClassifierFeatureFactory.cpp
  netwerk/url-classifier/moz.build
  toolkit/components/url-classifier/SafeBrowsing.sys.mjs
Due: eslint, py-black, yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1955107 - Add test for consent manager integration. r=timhuang
  build/pgo/certs/cert9.db
  build/pgo/certs/key4.db
  build/pgo/certs/mochitest.client
  build/pgo/server-locations.txt
  toolkit/components/url-classifier/tests/UrlClassifierTestUtils.sys.mjs
  toolkit/components/url-classifier/tests/browser/browser.toml
  toolkit/components/url-classifier/tests/browser/browser_consentmanager_annotation.js
Due: eslint

Bug 1950985 - Add tracking protection skip for channels annotated as a consent manager. r=timhuang
  modules/libpref/init/StaticPrefList.yaml
  netwerk/url-classifier/UrlClassifierCommon.cpp
  netwerk/url-classifier/UrlClassifierCommon.h
  netwerk/url-classifier/UrlClassifierFeatureCryptominingProtection.cpp
  netwerk/url-classifier/UrlClassifierFeatureEmailTrackingProtection.cpp
  netwerk/url-classifier/UrlClassifierFeatureFingerprintingProtection.cpp
  netwerk/url-classifier/UrlClassifierFeatureSocialTrackingProtection.cpp
  netwerk/url-classifier/UrlClassifierFeatureTrackingProtection.cpp
Due: yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1948914 - Remove startup system XPI checks in tests, r=rpl,mconley
  browser/base/content/test/performance/browser_startup_content_mainthreadio.js
  browser/base/content/test/performance/browser_startup_mainthreadio.js
Due: eslint

Bug 1948914 - Suppress false-positive cond jump, r=glandium
  build/valgrind/x86_64-pc-linux-gnu.sup
Due: none

Bug 1953517 - Remove some unused defines in webcompat add-on, r=twisniewski,webcompat-reviewers
  browser/extensions/webcompat/moz.build
Due: py-black

Bug 1948914 - Bundle webcompat into Firefox Desktop omni jar, r=rpl,twisniewski,webcompat-reviewers,firefox-desktop-core-reviewers ,mak
  browser/base/content/test/performance/browser_startup_mainthreadio.js
  browser/base/content/test/static/browser_all_files_referenced.js
  browser/extensions/webcompat/jar.mn
  browser/extensions/webcompat/moz.build
  browser/extensions/webcompat/tests/browser/browser_interventions.js
  browser/extensions/webcompat/tests/browser/browser_ua_helpers.js
  browser/installer/allowed-dupes.mn
  browser/installer/package-manifest.in
Due: eslint, py-black

Bug 1940560 - Add test r=mgaudet
  js/src/tests/non262/JSON/parse-with-source-proto.js
Due: eslint

Bug 1956233 - avoid getting URI prefs when not contentprincipal. r=jesup
  caps/BasePrincipal.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1956252 - Don't let #moveTabNextTo move unpinned tabs between pinned ones. r=dwalker,tabbrowser-reviewers
  browser/components/tabbrowser/content/tabbrowser.js
Due: eslint

Bug 1954688 - [Downloads v2] Add missing telemetry probes for downloads. r=android-reviewers,calu,rsainani
  mobile/android/fenix/app/metrics.yaml
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/downloads/listscreen/DownloadFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/downloads/listscreen/middleware/DownloadTelemetryMiddleware.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/downloads/listscreen/store/DownloadUIAction.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/downloads/listscreen/store/DownloadUIStore.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/downloads/listscreen/middleware/DownloadTelemetryMiddlewareTest.kt
Due: yaml

Bug 1954803 - Pass current ASR to avoid debug-only asserts.
  layout/generic/ScrollContainerFrame.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Backed out 5 changesets (bug 1945576, bug 1945573, bug 1945577) for causing junit failures @ PromptDelegateTest CLOSED TREE
  dom/base/Navigator.cpp
  dom/base/Navigator.h
  dom/credentialmanagement/CredentialsContainer.cpp
  dom/credentialmanagement/CredentialsContainer.h
  dom/credentialmanagement/identity/IdentityCredential.cpp
  dom/credentialmanagement/identity/IdentityCredentialSerializationHelpers.h
  dom/credentialmanagement/identity/IdentityNetworkHelpers.h
  dom/credentialmanagement/identity/NavigatorLogin.cpp
  dom/credentialmanagement/identity/NavigatorLogin.h
  dom/credentialmanagement/identity/moz.build
  dom/credentialmanagement/identity/tests/browser/browser.toml
  dom/credentialmanagement/identity/tests/browser/browser_loginStatus.js
  dom/credentialmanagement/identity/tests/browser/server_loginStatus.sjs
  dom/credentialmanagement/identity/tests/browser/server_manifest.json
  dom/credentialmanagement/identity/tests/browser/server_manifest_disconnect_failure.json
  dom/credentialmanagement/identity/tests/browser/server_metadata.json
  dom/credentialmanagement/identity/tests/browser/server_metadata.json^headers^
  dom/credentialmanagement/identity/tests/mochitest/mochitest.toml
  dom/credentialmanagement/identity/tests/mochitest/server_manifest.sjs
  dom/credentialmanagement/identity/tests/mochitest/server_manifest_wrong_provider_in_manifest.sjs
  dom/credentialmanagement/identity/tests/mochitest/server_metadata.json
  dom/credentialmanagement/identity/tests/mochitest/server_metadata.json^headers^
  dom/ipc/PWindowGlobal.ipdl
  dom/ipc/WindowGlobalParent.cpp
  dom/ipc/WindowGlobalParent.h
  dom/tests/mochitest/general/test_interfaces.js
  dom/webidl/IdentityCredential.webidl
  dom/webidl/LoginStatus.webidl
  dom/webidl/Navigator.webidl
  dom/webidl/moz.build
  netwerk/protocol/http/nsHttpAtomList.h
  netwerk/protocol/http/nsHttpChannel.cpp
  toolkit/components/credentialmanagement/IdentityCredentialPromptService.sys.mjs
  toolkit/components/credentialmanagement/nsIIdentityCredentialPromptService.idl
  toolkit/components/credentialmanagement/tests/browser/browser.toml
  toolkit/components/credentialmanagement/tests/browser/browser_policy_dialog.js
Due: eslint, py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

No bug - tagging 01d05e15df8696d163d72b5af30972dc45085c5b with FIREFOX_RELEASE_137_BASE a=release DONTBUILD CLOSED TREE
  .hgtags
Due: none

Preserve old tags after debugsetparents. CLOSED TREE DONTBUILD a=release
  .hgtags
Due: none

No bug - tagging c5593f10dc3d2a1d697c756c10c5cd0a5af0b1ea with FIREFOX_RELEASE_136_END a=release DONTBUILD CLOSED TREE
  .hgtags
Due: none

Update configs. IGNORE BROKEN CHANGESETS CLOSED TREE NO BUG a=release ba=release
  .arcconfig
  CLOBBER
  browser/config/version_display.txt
  mobile/android/version.txt
Due: none

Bug 1955665 - Initialize rust components for sync-autofill unit tests. r=matt-tighe,joschmidt,android-reviewers
  mobile/android/android-components/components/service/sync-autofill/build.gradle
  mobile/android/android-components/components/service/sync-autofill/src/test/java/mozilla/components/service/sync/autofill/AutofillCreditCardsAddressesStorageTest.kt
  mobile/android/android-components/components/service/sync-autofill/src/test/java/mozilla/components/service/sync/autofill/AutofillCryptoTest.kt
  mobile/android/android-components/components/service/sync-autofill/src/test/java/mozilla/components/service/sync/autofill/DefaultCreditCardValidationDelegateTest.kt
  mobile/android/android-components/components/service/sync-autofill/src/test/java/mozilla/components/service/sync/autofill/GeckoCreditCardsAddressesStorageDelegateTest.kt
Due: none

Bug 1955729 - Fix custom-car build failures by updating python version. r=perftest-reviewers,sparky
  taskcluster/kinds/toolchain/misc.yml
  taskcluster/scripts/misc/build-custom-car.sh
Due: yaml, shellcheck

Bug 1954803 - Annotate some flaky tests.
  testing/web-platform/meta/css/css-view-transitions/element-is-grouping-during-animation.html.ini
  testing/web-platform/meta/css/css-view-transitions/pseudo-with-classes-mismatch-wildcard.html.ini
  testing/web-platform/meta/css/css-view-transitions/scroller-child.html.ini
Due: test-manifest
