Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

eslint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

stylelint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

py-black:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

py-ruff:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

yaml:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

shellcheck:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

clang-format:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

rustfmt:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

fluent-lint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

Bug 1923448 - Generalized Windows Pinning, r=nrishel,gfx-reviewers,nical
  browser/components/shell/nsIWindowsShellService.idl
  browser/components/shell/nsWindowsShellService.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1929801 - [MIPS64] Implement undefined and MOZ_CRASH methods. r=anba
  js/src/jit/MacroAssembler.h
  js/src/jit/mips-shared/Lowering-mips-shared.cpp
  js/src/jit/mips-shared/Lowering-mips-shared.h
  js/src/jit/mips-shared/MacroAssembler-mips-shared-inl.h
  js/src/jit/mips32/CodeGenerator-mips32.cpp
  js/src/jit/mips32/CodeGenerator-mips32.h
  js/src/jit/mips32/Lowering-mips32.cpp
  js/src/jit/mips32/Lowering-mips32.h
  js/src/jit/mips64/CodeGenerator-mips64.cpp
  js/src/jit/mips64/CodeGenerator-mips64.h
  js/src/jit/mips64/Lowering-mips64.cpp
  js/src/jit/mips64/Lowering-mips64.h
  js/src/jit/mips64/MacroAssembler-mips64-inl.h
  js/src/jit/mips64/MacroAssembler-mips64.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1929736. Init Document::mIsInPrivateBrowsing. r=smaug
  dom/base/Document.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1905904 - Always preserve collapsible spaces in text controls. r=masayuki
  layout/reftests/bugs/82711-1-ref.html
  layout/reftests/bugs/82711-1.html
  layout/reftests/bugs/82711-2-ref.html
  layout/reftests/bugs/82711-2.html
  layout/reftests/bugs/82711-3-ref.html
  layout/reftests/bugs/82711-3.html
  layout/reftests/bugs/reftest.list
  servo/components/style/style_adjuster.rs
  testing/web-platform/tests/css/css-text/white-space/textarea-always-preserves-spaces-001-ref.html
  testing/web-platform/tests/css/css-text/white-space/textarea-always-preserves-spaces-001.tentative.html
Due: eslint, rustfmt, file-whitespace, trojan-source

Bug 1929792 - Update android nightly application-services version bump to 48a71c2ebeace366cde98977f0bd13da7dbf7121 r=pascalc
  mobile/android/android-components/plugins/dependencies/src/main/java/ApplicationServices.kt
  mobile/android/android-components/plugins/dependencies/src/main/java/moz.yaml
Due: yaml

Bug 1862256 - Fix textarea home/end behavior r=saschanaz
  dom/base/nsGlobalWindowCommands.cpp
  dom/base/nsISelectionController.idl
  dom/html/TextControlState.cpp
  editor/libeditor/EditorCommands.cpp
  editor/libeditor/EditorCommands.h
  editor/libeditor/EditorController.cpp
  layout/base/PresShell.cpp
  layout/base/PresShell.h
  layout/generic/SelectionMovementUtils.h
  layout/generic/nsFrameSelection.cpp
  layout/generic/nsFrameSelection.h
  layout/generic/nsIFrame.cpp
  layout/generic/nsIFrame.h
  modules/libpref/init/StaticPrefList.yaml
  widget/CommandList.h
  widget/cocoa/NativeKeyBindings.mm
  widget/cocoa/TextInputHandler.mm
Due: yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1862256 - Part 2: Add test r=masayuki
  testing/web-platform/mozilla/tests/editor/selection-move-commands-wrapped.html
Due: eslint, file-whitespace

Backed out changeset 2fe294eb4a06 (bug 1923448) for causing nsWindowsShellService.cpp. CLOSED TREE
  browser/components/shell/nsIWindowsShellService.idl
  browser/components/shell/nsWindowsShellService.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1928676 - Part 2: Use GCPtr instead of HeapPtr in RegExpShared r=sfink
  js/src/vm/RegExpShared.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1928676 - Part 1: Use GCPtr instead of HeapPtr in Scope r=sfink
  js/src/gc/Barrier.h
  js/src/vm/Scope.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1928676 - Part 3: Use GCPtr instead of HeapPtr in GlobalObjectData r=sfink
  js/src/vm/ArgumentsObject.cpp
  js/src/vm/GlobalObject.h
  js/src/vm/Iteration.cpp
  js/src/vm/JSFunction.cpp
  js/src/vm/PlainObject.cpp
  js/src/vm/RegExpShared.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1915191 - Provide a minimal linter for configure help r=glandium,geckoview-reviewers,owlish
  build/moz.configure/android-ndk.configure
  build/moz.configure/android-sdk.configure
  build/moz.configure/clang_plugin.configure
  build/moz.configure/init.configure
  build/moz.configure/lto-pgo.configure
  build/moz.configure/nss.configure
  build/moz.configure/rust.configure
  build/moz.configure/toolchain.configure
  build/moz.configure/update-programs.configure
  build/moz.configure/windows.configure
  js/moz.configure
  mobile/android/gradle.configure
  mobile/android/moz.configure
  moz.configure
  python/mozbuild/mozbuild/configure/__init__.py
  python/mozbuild/mozbuild/configure/lint.py
  python/mozbuild/mozbuild/test/configure/data/imply_option/imm.configure
  python/mozbuild/mozbuild/test/configure/data/imply_option/infer.configure
  python/mozbuild/mozbuild/test/configure/data/imply_option/infer_ko.configure
  python/mozbuild/mozbuild/test/configure/data/imply_option/negative.configure
  python/mozbuild/mozbuild/test/configure/data/imply_option/simple.configure
  python/mozbuild/mozbuild/test/configure/data/imply_option/values.configure
  python/mozbuild/mozbuild/test/configure/data/set_config.configure
  python/mozbuild/mozbuild/test/configure/data/set_define.configure
  python/mozbuild/mozbuild/test/configure/test_checks_configure.py
  python/mozbuild/mozbuild/test/configure/test_configure.py
  python/mozbuild/mozbuild/test/configure/test_lint.py
  toolkit/moz.configure
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1734476 - Don't run on compositor when content may contain non-scaling-stroke r=emilio
  dom/animation/AnimationPerformanceWarning.cpp
  dom/animation/AnimationPerformanceWarning.h
  dom/animation/KeyframeEffect.cpp
  dom/animation/test/mozilla/file_restyles.html
  dom/locales/en-US/chrome/layout/layout_errors.properties
  layout/generic/nsBlockFrame.cpp
  layout/generic/nsFrameStateBits.h
  layout/svg/SVGGeometryFrame.cpp
  layout/svg/SVGTextFrame.cpp
  layout/svg/SVGTextFrame.h
  layout/svg/SVGUtils.cpp
  layout/svg/SVGUtils.h
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1929626 - Remove more uses/includes of nsAlgorithm.h r=emilio,win-reviewers,gstoll
  dom/base/nsTextFragmentVMX.cpp
  dom/file/FileReader.cpp
  dom/media/webm/WebMBufferedParser.cpp
  dom/xhr/XMLHttpRequestMainThread.h
  editor/libeditor/HTMLAbsPositionEditor.cpp
  editor/libeditor/HTMLEditSubActionHandler.cpp
  editor/libeditor/HTMLEditorObjectResizer.cpp
  editor/libeditor/HTMLEditorState.cpp
  editor/libeditor/HTMLTableEditor.cpp
  gfx/thebes/gfxPlatform.cpp
  gfx/thebes/gfxXlibSurface.cpp
  layout/svg/SVGTextFrame.cpp
  layout/svg/SVGUtils.h
  layout/tables/nsCellMap.h
  testing/mochitest/ssltunnel/ssltunnel.cpp
  toolkit/components/aboutthirdparty/AboutThirdPartyUtils.cpp
  widget/nsNativeTheme.h
  widget/windows/IEnumFE.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1905904 - Remove a reftest that now expectedly fails.
  dom/html/reftests/82711-2-ref.html
  dom/html/reftests/82711-2.html
  dom/html/reftests/reftest.list
Due: eslint, file-whitespace

Backed out changeset c0519f58181d (bug 1734476) for causing build bustages in SVGUtils.cpp. CLOSED TREE
  dom/animation/AnimationPerformanceWarning.cpp
  dom/animation/AnimationPerformanceWarning.h
  dom/animation/KeyframeEffect.cpp
  dom/animation/test/mozilla/file_restyles.html
  dom/locales/en-US/chrome/layout/layout_errors.properties
  layout/generic/nsBlockFrame.cpp
  layout/generic/nsFrameStateBits.h
  layout/svg/SVGGeometryFrame.cpp
  layout/svg/SVGTextFrame.cpp
  layout/svg/SVGTextFrame.h
  layout/svg/SVGUtils.cpp
  layout/svg/SVGUtils.h
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1928135 - Output suite-level description missing error on all changed files. r=perftest-reviewers,fbilt DONTBUILD
  python/mozperftest/perfdocs/config.yml
  testing/perfdocs/generated/mozperftest.rst
  tools/lint/perfdocs/framework_gatherers.py
  tools/lint/perfdocs/verifier.py
Due: py-black, py-ruff, yaml, file-whitespace, trojan-source

Bug 1926930 - Move power profile artifacts to browsertime-results directory. r=perftest-reviewers,kshampur
  testing/raptor/browsertime/utils/profiling.js
Due: eslint

Bug 1925593 - Enable power testing for pageload on Windows 11. r=perftest-reviewers,kshampur
  taskcluster/gecko_taskgraph/transforms/test/raptor.py
  testing/raptor/browsertime/support-scripts/browsertime_pageload.py
  testing/raptor/raptor/base_python_support.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1926288 - Gather power usage profile from android support measurements. r=perftest-reviewers,afinder
  testing/raptor/browsertime/utils/support_measurements.js
Due: eslint

Bug 1927863 - Rename cpu time metric to cpuTime, and only gather one version of it. r=fbilt,perftest-reviewers
  testing/raptor/raptor/base_python_support.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1928140 - Rename power usage metric to powerUsage, and only gather one version of it. r=fbilt,perftest-reviewers
  testing/raptor/raptor/base_python_support.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Backed out 2 changesets (bug 1862256) for causing mochitests failures in test_native_key_bindings_mac.html. CLOSED TREE
  dom/base/nsGlobalWindowCommands.cpp
  dom/base/nsISelectionController.idl
  dom/html/TextControlState.cpp
  editor/libeditor/EditorCommands.cpp
  editor/libeditor/EditorCommands.h
  editor/libeditor/EditorController.cpp
  layout/base/PresShell.cpp
  layout/base/PresShell.h
  layout/generic/SelectionMovementUtils.h
  layout/generic/nsFrameSelection.cpp
  layout/generic/nsFrameSelection.h
  layout/generic/nsIFrame.cpp
  layout/generic/nsIFrame.h
  modules/libpref/init/StaticPrefList.yaml
  testing/web-platform/mozilla/tests/editor/selection-move-commands-wrapped.html
  widget/CommandList.h
  widget/cocoa/NativeKeyBindings.mm
  widget/cocoa/TextInputHandler.mm
Due: eslint, yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1929600 r=robwu
  toolkit/mozapps/extensions/internal/XPIDatabase.sys.mjs
Due: eslint

Bug 1848134 - Do not throw UnboundHandlerException for crash notifications when permission is not already granted. r=android-reviewers,boek
  mobile/android/android-components/components/feature/media/src/test/java/mozilla/components/feature/media/service/MediaSessionServiceDelegateTest.kt
  mobile/android/android-components/components/feature/webnotifications/src/test/java/mozilla/components/feature/webnotifications/WebNotificationFeatureTest.kt
  mobile/android/android-components/components/lib/crash/src/main/java/mozilla/components/lib/crash/notification/CrashNotification.kt
  mobile/android/android-components/components/support/base/src/main/java/mozilla/components/support/base/android/NotificationsDelegate.kt
Due: none

Bug 1924087: Check language spoofing in SVG's switch element. r=tjr,longsonr
  dom/base/nsContentUtils.cpp
  dom/base/nsContentUtils.h
  dom/svg/SVGTests.cpp
  dom/svg/test/mochitest.toml
  dom/svg/test/test_SVG_switch_language_spoof.html
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1916877 - Replace deprecated ClickableText r=android-reviewers,rsainani
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/compose/LinkText.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/compose/LinkTextTest.kt
Due: none

Bug 1922506: Implement CanvasRenderingContext2D::GetDebugInfo. r=tjr,jgilbert,webidl,smaug
  dom/canvas/CanvasRenderingContext2D.cpp
  dom/canvas/CanvasRenderingContext2D.h
  dom/webidl/CanvasRenderingContext2D.webidl
  dom/webidl/WebGLRenderingContext.webidl
  toolkit/components/resistfingerprinting/nsRFPService.cpp
  toolkit/components/resistfingerprinting/nsRFPService.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1922506: Implement UserCharacteristicsCanvasRenderingChild to render canvases in an actor canvas. r=tjr
  toolkit/actors/UserCharacteristicsCanvasRenderingChild.sys.mjs
  toolkit/actors/UserCharacteristicsParent.sys.mjs
  toolkit/actors/moz.build
  toolkit/components/resistfingerprinting/UserCharacteristicsPageService.sys.mjs
Due: eslint, py-black

Bug 1922506: Move rendering instructions to actor (just copy + paste). r=tjr
  toolkit/actors/UserCharacteristicsCanvasRenderingChild.sys.mjs
  toolkit/components/resistfingerprinting/UserCharacteristicsPageService.sys.mjs
  toolkit/components/resistfingerprinting/content/usercharacteristics.html
  toolkit/components/resistfingerprinting/content/usercharacteristics.js
Due: eslint, file-whitespace

Bug 1922506: Change actor messages to queries and reattempt rendering if it fails. r=tjr
  toolkit/actors/UserCharacteristicsCanvasRenderingChild.sys.mjs
  toolkit/actors/UserCharacteristicsParent.sys.mjs
  toolkit/components/resistfingerprinting/UserCharacteristicsPageService.sys.mjs
Due: eslint

Bug 1922506: Improve error reporting. r=tjr
  toolkit/actors/UserCharacteristicsCanvasRenderingChild.sys.mjs
  toolkit/components/resistfingerprinting/UserCharacteristicsPageService.sys.mjs
Due: eslint

Bug 1922506: Double deregister to ensure we don't leave any window actors. r=tjr
  toolkit/components/resistfingerprinting/UserCharacteristicsPageService.sys.mjs
Due: eslint

Bug 1922506: Tree-shake gl-matrix. r=tjr
  toolkit/components/resistfingerprinting/content/gl-matrix.js
Due: eslint

Bug 1922506: Improve error handling. r=tjr
  toolkit/actors/UserCharacteristicsCanvasRenderingChild.sys.mjs
  toolkit/actors/UserCharacteristicsWindowInfoChild.sys.mjs
  toolkit/components/resistfingerprinting/UserCharacteristicsPageService.sys.mjs
  toolkit/components/resistfingerprinting/content/usercharacteristics.js
Due: eslint

Bug 1922506: Request EGL if forbid hardware is true. r=jgilbert
  gfx/gl/GLContextProviderLinux.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1922506: EGL software rendering fixup. r=jgilbert
  gfx/gl/GLContextEGL.h
  gfx/gl/GLContextProviderEGL.cpp
  gfx/gl/GLLibraryEGL.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1922506: WGL software rendering fixup. r=jgilbert,tjr
  gfx/gl/GLContextProviderWGL.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1922506: Update base64 canvas3. r=tjr
  toolkit/actors/UserCharacteristicsCanvasRenderingChild.sys.mjs
Due: eslint

Bug 1922506: GLX software rendering fix up. r=jgilbert
  gfx/gl/GLContextProviderGLX.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, **/*.java, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml
