Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

eslint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

stylelint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

py-black:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

py-ruff:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

yaml:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

shellcheck:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

clang-format:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

rustfmt:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

fluent-lint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

Bug 1950853 - Avoid overwriting the cached image info when updating a snapshot. r=emilio
  gfx/wr/webrender/src/resource_cache.rs
Due: rustfmt, file-whitespace, trojan-source

No Bug, mozilla-central repo-update HSTS HPKP remote-settings tld-suffixes ct-logs - r=release-managers,diannaS
  netwerk/dns/effective_tld_names.dat
  security/ct/CTKnownLogs.h
  security/manager/ssl/StaticHPKPins.h
  security/manager/ssl/nsSTSPreloadList.inc
  security/manager/tools/log_list.json
  services/settings/dumps/main/devtools-compatibility-browsers.json
  services/settings/dumps/security-state/intermediates.json
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1562082 - Always enable the profiler popup icon in local builds r=canaltinova,profiler-reviewers
  devtools/startup/DevToolsStartup.sys.mjs
Due: eslint

Backed out changeset 72ea1c22c996 (bug 1937061) for causing failures at test_delete_last_profile.js.
  browser/components/profiles/SelectableProfileService.sys.mjs
  browser/components/profiles/tests/browser/browser_appmenu_menuitem_updates.js
  browser/components/profiles/tests/browser/browser_test_db_lazily_created.js
  browser/components/profiles/tests/browser/browser_test_profile_selector.js
  browser/components/profiles/tests/unit/test_selectable_profile_launch.js
  widget/cocoa/nsMacDockSupport.mm
  widget/nsIMacDockSupport.idl
Due: eslint, clang-format, file-whitespace

Bug 1952188 - [devtools] Remove unused react-dom-server file. r=devtools-reviewers,jdescottes
  devtools/client/shared/vendor/moz.build
  devtools/client/shared/vendor/react-dom-server-dev.mjs
  devtools/client/shared/vendor/react-dom-server.js
  devtools/client/shared/vendor/react-dom-server.mjs
Due: eslint, py-black

Bug 1951939 - Save and close tab group when middle clicking the group label. r=jswinarton,tabbrowser-reviewers
  browser/components/tabbrowser/content/tabgroup-menu.js
  browser/components/tabbrowser/content/tabgroup.js
  browser/components/tabbrowser/content/tabs.js
  browser/components/tabbrowser/test/browser/tabs/browser_tab_groups.js
Due: eslint

Backed out changeset 04574e76f8f5 (bug 1943391) for causing high frequency failures at browser_bannerClicking.js. CLOSED TREE
  browser/app/profile/firefox.js
  browser/base/content/browser.js
  browser/base/content/test/static/browser_all_files_referenced.js
  browser/components/BrowserComponents.manifest
  browser/components/genai/LinkPreview.sys.mjs
  browser/components/genai/moz.build
  browser/components/genai/tests/browser/browser.toml
  browser/components/genai/tests/browser/browser_link_preview.js
Due: eslint, py-black

Bug 1942551 - WebRTC backport: PipeWire camera: Fix cleanup order a=pascalc
  third_party/libwebrtc/modules/video_capture/linux/pipewire_session.cc
  third_party/libwebrtc/moz-patch-stack/caa8ef3ab5.no-op-cherry-pick-msg
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1952190 - [devtools] Fix the dev version of React es module. r=devtools-reviewers,jdescottes
  devtools/client/shared/vendor/REACT_UPGRADING.md
  devtools/client/shared/vendor/react-dev.mjs
Due: eslint, file-whitespace

Bug 1952190 - [devtools] Fix PropTypes imports. r=devtools-reviewers,jdescottes
  devtools/client/jsonview/components/Headers.mjs
  devtools/client/jsonview/components/HeadersPanel.mjs
  devtools/client/jsonview/components/HeadersToolbar.mjs
  devtools/client/jsonview/components/JsonPanel.mjs
  devtools/client/jsonview/components/JsonToolbar.mjs
  devtools/client/jsonview/components/LiveText.mjs
  devtools/client/jsonview/components/MainTabbedArea.mjs
  devtools/client/jsonview/components/SearchBox.mjs
  devtools/client/jsonview/components/TextPanel.mjs
  devtools/client/jsonview/components/TextToolbar.mjs
  devtools/client/jsonview/components/reps/Toolbar.mjs
  devtools/client/shared/components/tabs/Tabs.mjs
  devtools/client/shared/components/tree/LabelCell.mjs
  devtools/client/shared/components/tree/TreeCell.mjs
  devtools/client/shared/components/tree/TreeHeader.mjs
  devtools/client/shared/components/tree/TreeRow.mjs
  devtools/client/shared/components/tree/TreeView.mjs
Due: eslint

Bug 1912944 - Go through usual GPU process fallback logic even for early process losses. r=aosmond
  gfx/ipc/GPUProcessManager.cpp
  gfx/ipc/GPUProcessManager.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

No Bug, mozilla-beta repo-update HSTS HPKP remote-settings tld-suffixes ct-logs - a=pascalc
  netwerk/dns/effective_tld_names.dat
  security/ct/CTKnownLogs.h
  security/manager/ssl/StaticHPKPins.h
  security/manager/ssl/nsSTSPreloadList.inc
  security/manager/tools/log_list.json
  services/settings/dumps/main/devtools-compatibility-browsers.json
  services/settings/dumps/main/moz-essential-domain-fallbacks.json
  services/settings/dumps/main/url-parser-default-unknown-schemes-interventions.json
  services/settings/dumps/security-state/intermediates.json
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1952199 - Fix browser_pdfjs_check_alttext_en.js in beta r=marco
  toolkit/components/pdfjs/test/browser_pdfjs_check_alttext_en.js
Due: eslint

Bug 1950422 - Rename A-C `WebExtensionController` to `BuiltInWebExtensionController`. r=android-reviewers,webcompat-reviewers,twisniewski,twhite
  mobile/android/android-components/components/feature/accounts/src/main/java/mozilla/components/feature/accounts/FxaWebChannelFeature.kt
  mobile/android/android-components/components/feature/accounts/src/test/java/mozilla/components/feature/accounts/FxaWebChannelFeatureTest.kt
  mobile/android/android-components/components/feature/readerview/src/main/java/mozilla/components/feature/readerview/ReaderViewFeature.kt
  mobile/android/android-components/components/feature/readerview/src/main/java/mozilla/components/feature/readerview/ReaderViewMiddleware.kt
  mobile/android/android-components/components/feature/readerview/src/test/java/mozilla/components/feature/readerview/ReaderViewFeatureTest.kt
  mobile/android/android-components/components/feature/readerview/src/test/java/mozilla/components/feature/readerview/ReaderViewMiddlewareTest.kt
  mobile/android/android-components/components/feature/webcompat-reporter/src/main/java/mozilla/components/feature/webcompat/reporter/WebCompatReporterFeature.kt
  mobile/android/android-components/components/feature/webcompat-reporter/src/test/java/mozilla/components/feature/webcompat/reporter/WebCompatReporterFeatureTest.kt
  mobile/android/android-components/components/feature/webcompat/src/test/java/mozilla/components/feature/webcompat/WebCompatFeatureTest.kt
  mobile/android/android-components/components/support/webextensions/src/main/java/mozilla/components/support/webextensions/BuiltInWebExtensionController.kt
  mobile/android/android-components/components/support/webextensions/src/test/java/mozilla/components/support/webextensions/BuiltInWebExtensionControllerTest.kt
  mobile/android/android-components/docs/changelog.md
Due: file-whitespace

Bug 1951128 - Fix the performance regression when decoding jpeg2000 images a=pascalc
  toolkit/components/pdfjs/content/web/wasm/openjpeg.wasm
Due: none

Bug 1951780: Allow parsing anchor-size function in math function in margin properties. r=firefox-style-system-reviewers,emilio
  servo/components/style/values/specified/length.rs
  testing/web-platform/meta/css/css-anchor-position/anchor-size-parse-valid.html.ini
  testing/web-platform/tests/css/css-anchor-position/anchor-size-parse-valid.html
Due: eslint, rustfmt, file-whitespace, test-manifest, trojan-source

Bug 1949914 - Allow to ignore missing canvas pipeline. r=gfx-reviewers,aosmond
  layout/generic/nsHTMLCanvasFrame.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1949914 - Allow to ignore missing canvas pipeline. r=gfx-reviewers,aosmond a=pascalc
  layout/generic/nsHTMLCanvasFrame.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1949914 - Clear all cached WR resources when hiding a popup. r=gfx-reviewers,gw
  layout/xul/nsMenuPopupFrame.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1949914 - Clear all cached WR resources when hiding a popup. r=gfx-reviewers,gw a=pascalc
  layout/xul/nsMenuPopupFrame.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1949711: Fix test_skipfails input r=jmaher
  testing/test/test_skipfails.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1949711: Fix skipfails typing r=jmaher
  testing/failedplatform.py
  testing/skipfails.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1949711: Do not optimize skip-if conditions if no data available in test-run-matrix r=jmaher
  testing/failedplatform.py
  testing/skipfails.py
  testing/test/test_failedplatform.py
  testing/test/test_skipfails.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1949711: Add macosx 11.20 rosetta hack r=jmaher
  testing/skipfails.py
  testing/test/test_skipfails.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1949711: Convert macosx version 11.00 to 11.20 for skipfails r=jmaher
  testing/mozbase/mozinfo/mozinfo/platforminfo.py
  testing/mozbase/mozinfo/tests/test_platforminfo.py
  testing/test/test_skipfails.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1949711: Update some toolkit/components skip-if r=jmaher
  toolkit/components/aboutconfig/test/browser/browser.toml
  toolkit/components/aboutmemory/tests/chrome.toml
  toolkit/components/aboutprocesses/tests/browser/browser.toml
  toolkit/components/antitracking/test/browser/browser-blocking.toml
  toolkit/components/antitracking/test/browser/browser.toml
  toolkit/components/antitracking/test/xpcshell/xpcshell.toml
  toolkit/components/backgroundhangmonitor/tests/xpcshell.toml
  toolkit/components/contentanalysis/tests/browser/browser.toml
  toolkit/components/crashes/tests/xpcshell/xpcshell.toml
Due: none

Bug 1949711: skipfails: Only overwrite condition if new one is simpler r=jmaher
  testing/mozbase/manifestparser/manifestparser/toml.py
  testing/mozbase/manifestparser/tests/edit-manifest-after.toml
  testing/mozbase/manifestparser/tests/edit-manifest-before.toml
  testing/mozbase/manifestparser/tests/test_manifestparser.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1945831 - Enable Prettier for chrome tests in toolkit/content/tests/widgets r=reusable-components-reviewers,frontend-codestyle-reviewers,Standard8,mstriemer
  .prettierignore
Due: none

Bug 1950616 - In WebVTT use font-size 9px on the cue container. r=alwu,emilio
  dom/media/webvtt/vtt.sys.mjs
  testing/web-platform/meta/webvtt/rendering/cues-with-video/processing-model/selectors/cue/fontsize_smaller_than_container.tentative.html.ini
  testing/web-platform/tests/webvtt/rendering/cues-with-video/processing-model/selectors/cue/fontsize_smaller_than_container-ref.tentative.html
  testing/web-platform/tests/webvtt/rendering/cues-with-video/processing-model/selectors/cue/fontsize_smaller_than_container.tentative.html
Due: eslint, file-whitespace, test-manifest

Bug 1950616 - In WebVTT use min(width, height) for more sensible font-size for portrait videos. r=alwu,emilio
  dom/media/webvtt/vtt.sys.mjs
  testing/web-platform/meta/webvtt/rendering/cues-with-video/processing-model/portrait.tentative.html.ini
  testing/web-platform/tests/webvtt/rendering/cues-with-video/processing-model/portrait-ref.tentative.html
  testing/web-platform/tests/webvtt/rendering/cues-with-video/processing-model/portrait.tentative.html
Due: eslint, file-whitespace, test-manifest

Bug 1945540: Part 1 - Implement parsing of integrity field. r=tschuster,jonco
  dom/locales/en-US/chrome/dom/dom.properties
  js/loader/ImportMap.cpp
  js/loader/ImportMap.h
  js/public/friend/ErrorNumbers.msg
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1945540: Part 2 - Make integrity VoidString if no integrity attribute was provided. r=tschuster
  uriloader/preload/PreloadService.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1945540: Part 3 - Get integrity from import map. r=tschuster,jonco,dom-core,mccr8
  dom/script/ModuleLoader.cpp
  dom/script/ModuleLoader.h
  dom/script/ScriptLoader.cpp
  dom/script/ScriptLoader.h
  dom/workers/loader/WorkerModuleLoader.cpp
  dom/workers/loader/WorkerModuleLoader.h
  dom/worklet/loader/WorkletModuleLoader.cpp
  dom/worklet/loader/WorkletModuleLoader.h
  js/loader/ModuleLoaderBase.cpp
  js/loader/ModuleLoaderBase.h
  js/xpconnect/loader/SyncModuleLoader.cpp
  js/xpconnect/loader/SyncModuleLoader.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1945540: Enable WPT tests. r=tschuster
  testing/web-platform/meta/import-maps/dynamic-integrity.html.ini
  testing/web-platform/meta/import-maps/no-referencing-script-integrity.html.ini
  testing/web-platform/meta/import-maps/nonimport-integrity.html.ini
  testing/web-platform/meta/import-maps/static-integrity.html.ini
Due: test-manifest

Bug 1937061: Hide new profile instances from the recent applications section of the dock. r=nika,spohl,profiles-reviewers,jhirsch
  browser/components/profiles/SelectableProfileService.sys.mjs
  browser/components/profiles/tests/browser/browser_appmenu_menuitem_updates.js
  browser/components/profiles/tests/browser/browser_test_db_lazily_created.js
  browser/components/profiles/tests/browser/browser_test_profile_selector.js
  browser/components/profiles/tests/unit/test_delete_last_profile.js
  browser/components/profiles/tests/unit/test_selectable_profile_launch.js
  widget/cocoa/nsMacDockSupport.mm
  widget/nsIMacDockSupport.idl
Due: eslint, clang-format, file-whitespace

Bug 1951476 - Make the about:profiling index file an html file instead of an xhtml file r=canaltinova,profiler-reviewers
  browser/components/about/AboutRedirector.cpp
  devtools/client/jar.mn
  devtools/client/performance-new/aboutprofiling/index.html
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1940975 - Test that custom_distributions mirroring to enumerated histograms have compatible bucket layouts r=TravisLong
  toolkit/components/telemetry/tests/python/test_mirrors.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1950391 - Migrate Environment settings.default(Private)SearchEngineData r=florian
  toolkit/components/telemetry/app/TelemetryEnvironment.sys.mjs
Due: eslint

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, **/*.java, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml
