Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, **/*.java, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  mobile/locales/l10n-changesets.json
Due: eslint

Bug 1932668 - Fix page content assertions in verifyCalendarFormInteractionsTest r=aaronmt DONTBUILD
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/BrowserRobot.kt
Due: none

Bug 1653999 - Run web-platform unit tests in CI. r=jgraham,ahal
  taskcluster/kinds/source-test/kind.yml
  taskcluster/kinds/source-test/wpt-unittest.yml
Due: yaml

Bug 1932319 - update Rust zerovec-derive crate to v0.10.3 r=valentin,supply-chain-reviewers
  Cargo.lock
  supply-chain/audits.toml
  third_party/rust/zerovec-derive/.cargo-checksum.json
  third_party/rust/zerovec-derive/Cargo.lock
  third_party/rust/zerovec-derive/Cargo.toml
  third_party/rust/zerovec-derive/examples/derives.rs
  third_party/rust/zerovec-derive/src/make_ule.rs
  third_party/rust/zerovec-derive/src/ule.rs
  third_party/rust/zerovec-derive/src/utils.rs
  third_party/rust/zerovec-derive/src/varule.rs
Due: eslint, rustfmt, file-whitespace, trojan-source

Bug 1932316 - update Rust shlex crate to v1.0.3 r=valentin,supply-chain-reviewers
  Cargo.lock
  supply-chain/audits.toml
  third_party/rust/shlex/.cargo-checksum.json
  third_party/rust/shlex/CHANGELOG.md
  third_party/rust/shlex/Cargo.toml
  third_party/rust/shlex/README.md
  third_party/rust/shlex/src/bytes.rs
  third_party/rust/shlex/src/lib.rs
  third_party/rust/shlex/src/quoting_warning.md
Due: eslint, rustfmt, file-whitespace, trojan-source

Bug 1931797 - Added semantic headings to section card. r=home-newtab-reviewers,thecount
  browser/components/newtab/content-src/components/DiscoveryStreamComponents/DSCard/DSCard.jsx
  browser/components/newtab/content-src/components/DiscoveryStreamComponents/DSCard/_DSCard.scss
  browser/components/newtab/css/activity-stream.css
  browser/components/newtab/data/content/activity-stream.bundle.js
Due: eslint, stylelint, file-whitespace

Bug 1932809 - Update android nightly application-services version bump to 7b65c4913428d495f3d2bad411dae1c6c147cd17 r=pascalc
  mobile/android/android-components/plugins/dependencies/src/main/java/ApplicationServices.kt
  mobile/android/android-components/plugins/dependencies/src/main/java/moz.yaml
Due: yaml

Bug 1932668 - Fix trailing-comma lint. a=fix CLOSED TREE
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/BrowserRobot.kt
Due: none

Bug 1932425 - When dragging tabs, move other tabs over when hitting 70% instead of 50% of their width. r=sthompson,tabbrowser-reviewers
  browser/components/tabbrowser/content/tabs.js
Due: eslint

Bug 1932390 - WebCrypto: Empty algorithm should return TypeError r=keeler,JavierFernandez
  dom/crypto/WebCryptoTask.cpp
  testing/web-platform/meta/WebCryptoAPI/digest/digest.https.any.js.ini
  testing/web-platform/meta/WebCryptoAPI/generateKey/failures_AES-CBC.https.any.js.ini
  testing/web-platform/meta/WebCryptoAPI/generateKey/failures_AES-CTR.https.any.js.ini
  testing/web-platform/meta/WebCryptoAPI/generateKey/failures_AES-GCM.https.any.js.ini
  testing/web-platform/meta/WebCryptoAPI/generateKey/failures_AES-KW.https.any.js.ini
  testing/web-platform/meta/WebCryptoAPI/generateKey/failures_ECDH.https.any.js.ini
  testing/web-platform/meta/WebCryptoAPI/generateKey/failures_ECDSA.https.any.js.ini
  testing/web-platform/meta/WebCryptoAPI/generateKey/failures_Ed25519.https.any.js.ini
  testing/web-platform/meta/WebCryptoAPI/generateKey/failures_Ed448.https.any.js.ini
  testing/web-platform/meta/WebCryptoAPI/generateKey/failures_HMAC.https.any.js.ini
  testing/web-platform/meta/WebCryptoAPI/generateKey/failures_RSA-OAEP.https.any.js.ini
  testing/web-platform/meta/WebCryptoAPI/generateKey/failures_RSA-PSS.https.any.js.ini
  testing/web-platform/meta/WebCryptoAPI/generateKey/failures_RSASSA-PKCS1-v1_5.https.any.js.ini
  testing/web-platform/meta/WebCryptoAPI/generateKey/failures_X25519.https.any.js.ini
  testing/web-platform/meta/WebCryptoAPI/generateKey/failures_X448.https.any.js.ini
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Bug 1932605 - [loongarch] Implement atomicPause function. r=anba
  js/src/jit/loong64/MacroAssembler-loong64.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Backed out changeset 908e6fbd94a0 (bug 1932319) for causing SM build bustages @ rust.mk . CLOSED TREE
  Cargo.lock
  supply-chain/audits.toml
  third_party/rust/zerovec-derive/.cargo-checksum.json
  third_party/rust/zerovec-derive/Cargo.lock
  third_party/rust/zerovec-derive/Cargo.toml
  third_party/rust/zerovec-derive/examples/derives.rs
  third_party/rust/zerovec-derive/src/make_ule.rs
  third_party/rust/zerovec-derive/src/ule.rs
  third_party/rust/zerovec-derive/src/utils.rs
  third_party/rust/zerovec-derive/src/varule.rs
Due: eslint, rustfmt, file-whitespace, trojan-source

Bug 1932381 - Limit screen capture resolution in simulcast test to ease load on CI machines. r=webrtc-reviewers,mjf
  dom/media/webrtc/tests/mochitests/test_peerConnection_simulcastOffer_screenshare.html
Due: eslint, file-whitespace

Bug 1932305 part 2 - Stop using CallObjFunc for Map/Set APIs. r=iain
  js/src/builtin/MapObject.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1932305 part 3 - Improve MapObject::clear and SetObject::clear. r=iain
  js/src/builtin/MapObject.cpp
  js/src/builtin/MapObject.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1932305 part 1 - Add jsapi-tests for Map/Set APIs. r=iain
  js/src/jsapi-tests/moz.build
  js/src/jsapi-tests/testMapSet.cpp
Due: py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1932305 part 5 - Improve MapObject::get. r=iain
  js/src/builtin/MapObject.cpp
  js/src/builtin/MapObject.h
  js/src/jit/CacheIRCompiler.cpp
  js/src/jit/CodeGenerator.cpp
  js/src/jit/VMFunctions.cpp
  js/src/jit/VMFunctions.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1932305 part 4 - Improve MapObject::size and SetObject::size. r=iain
  js/src/builtin/MapObject.cpp
  js/src/builtin/MapObject.h
  js/src/shell/js.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1932305 part 6 - Improve MapObject::has and SetObject::has. r=iain
  js/src/builtin/MapObject.cpp
  js/src/builtin/MapObject.h
  js/src/jit/CacheIRCompiler.cpp
  js/src/jit/CodeGenerator.cpp
  js/src/jit/VMFunctions.cpp
  js/src/jit/VMFunctions.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1932305 part 7 - Improve MapObject::delete_ and SetObject::delete_. r=iain
  js/src/builtin/MapObject.cpp
  js/src/builtin/MapObject.h
  js/src/shell/js.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1932305 part 10 - Improve MapObject::getKeysAndValuesInterleaved and SetObject::keys. r=iain
  js/src/builtin/MapObject.cpp
  js/src/builtin/MapObject.h
  js/src/vm/StructuredClone.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1932305 part 9 - Improve MapObject::iterator and SetObject::iterator. r=iain
  js/src/builtin/MapObject.cpp
  js/src/builtin/MapObject.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1932305 part 8 - Improve MapObject::set and SetObject::add. r=iain
  js/src/builtin/MapObject.cpp
  js/src/builtin/MapObject.h
  js/src/shell/js.cpp
  js/src/vm/StructuredClone.cpp
  js/src/vm/UbiNodeCensus.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1932305 part 11 - Improve Set constructor fast path. r=iain
  js/src/builtin/MapObject.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1932305 part 12 - Optimize calls to Map.prototype.set and Set.prototype.add. r=iain
  js/src/builtin/MapObject.cpp
  js/src/jit-test/tests/cacheir/map-set-chaining.js
  js/src/jit/CacheIR.cpp
  js/src/jit/CacheIRCompiler.cpp
  js/src/jit/CacheIRGenerator.h
  js/src/jit/CacheIROps.yaml
  js/src/jit/CodeGenerator.cpp
  js/src/jit/InlinableNatives.cpp
  js/src/jit/InlinableNatives.h
  js/src/jit/Lowering.cpp
  js/src/jit/MIROps.yaml
  js/src/jit/VMFunctionList-inl.h
  js/src/jit/VMFunctions.cpp
  js/src/jit/VMFunctions.h
  js/src/jit/WarpCacheIRTranspiler.cpp
Due: eslint, yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1932305 part 13 - Optimize calls to Map.prototype.delete and Set.prototype.delete. r=iain
  js/src/builtin/MapObject.cpp
  js/src/jit-test/tests/cacheir/map-set-delete.js
  js/src/jit/CacheIR.cpp
  js/src/jit/CacheIRCompiler.cpp
  js/src/jit/CacheIRGenerator.h
  js/src/jit/CacheIROps.yaml
  js/src/jit/CodeGenerator.cpp
  js/src/jit/InlinableNatives.cpp
  js/src/jit/InlinableNatives.h
  js/src/jit/Lowering.cpp
  js/src/jit/MIROps.yaml
  js/src/jit/VMFunctionList-inl.h
  js/src/jit/VMFunctions.cpp
  js/src/jit/VMFunctions.h
  js/src/jit/WarpCacheIRTranspiler.cpp
Due: eslint, yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1917799 - Implement a WebExtension experimental API for Firefox AI Platform r=zombie
  modules/libpref/init/all.js
  toolkit/components/extensions/ext-toolkit.json
  toolkit/components/extensions/jar.mn
  toolkit/components/extensions/parent/ext-trial-ml.js
  toolkit/components/extensions/schemas/jar.mn
  toolkit/components/extensions/schemas/manifest.json
  toolkit/components/extensions/schemas/trial_ml.json
  toolkit/components/extensions/test/browser/browser.toml
  toolkit/components/extensions/test/browser/browser_ext_trial_ml.js
  toolkit/components/ml/docs/extensions-api-example/README.rst
  toolkit/components/ml/docs/extensions-api-example/alt-text-modal.css
  toolkit/components/ml/docs/extensions-api-example/background.js
  toolkit/components/ml/docs/extensions-api-example/content-script.js
  toolkit/components/ml/docs/extensions-api-example/icon.png
  toolkit/components/ml/docs/extensions-api-example/manifest.json
  toolkit/components/ml/docs/extensions-api-example/settings.html
  toolkit/components/ml/docs/extensions-api-example/settings.js
  toolkit/components/ml/tests/browser/browser_ml_engine.js
Due: eslint, stylelint, file-whitespace

Bug 1932472 - [perfdocs] Prevent objdir paths from being checked. r=perftest-reviewers,fbilt DONTBUILD
  tools/lint/perfdocs/framework_gatherers.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1932471 - [perfdocs] Add ML perftest directory to files-changed list. r=perftest-reviewers,fbilt DONTBUILD
  taskcluster/kinds/source-test/mozlint.yml
Due: yaml

Bug 1932738 - fix(webgpu): emit `TypeError` on request of an unimplemented feature instead of warning and `MOZ_RELEASE_ASSERT`ing r=webgpu-reviewers,teoxoy
  dom/webgpu/Adapter.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1932738 - fix(webgpu): prioritize Firefox-unimplemented feature errors over adapter lack-of-support errors r=webgpu-reviewers,teoxoy
  dom/webgpu/Adapter.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1932738 - diag(webgpu): clarify meaning of unsupported feature errors r=webgpu-reviewers,teoxoy
  dom/webgpu/Adapter.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1923868 - Support setting Firefox as default based on installer attribution campaign r=firefox-desktop-core-reviewers ,nalexander,omc-reviewers,pdahiya
  browser/components/aboutwelcome/actors/AboutWelcomeChild.sys.mjs
  browser/components/aboutwelcome/actors/AboutWelcomeParent.sys.mjs
  browser/components/aboutwelcome/content-src/components/MultiStageAboutWelcome.jsx
  browser/components/aboutwelcome/content-src/lib/aboutwelcome-utils.mjs
  browser/components/aboutwelcome/content/aboutwelcome.bundle.js
  browser/components/aboutwelcome/modules/AWScreenUtils.sys.mjs
  browser/components/aboutwelcome/modules/AboutWelcomeDefaults.sys.mjs
  browser/components/aboutwelcome/tests/browser/browser.toml
  browser/components/aboutwelcome/tests/browser/browser_aboutwelcome_campaign_actions.js
  browser/components/aboutwelcome/tests/browser/browser_aboutwelcome_multistage_mr.js
  browser/components/aboutwelcome/tests/unit/AWScreenUtils.test.jsx
  browser/components/aboutwelcome/tests/unit/MultiStageAboutWelcome.test.jsx
  browser/components/asrouter/docs/targeting-attributes.md
  browser/components/asrouter/modules/ASRouterTargeting.sys.mjs
  browser/components/asrouter/tests/browser/browser_asrouter_targeting.js
Due: eslint, file-whitespace

Bug 1794360 - Fail to clone ImageBitmap if no data surface available. r=gfx-reviewers,lsalzman
  dom/canvas/ImageBitmap.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1931822 - [marionette] Do not always wrap errors into a WebDriver error for IPC messages. r=webdriver-reviewers,jdescottes
  remote/marionette/actors/MarionetteCommandsChild.sys.mjs
  remote/marionette/actors/MarionetteCommandsParent.sys.mjs
Due: eslint

Bug 1922077 - [wdspec] Fix expectation for several tests when remote async events are enabled. r=webdriver-reviewers,Sasha
  testing/web-platform/meta/webdriver/tests/bidi/input/perform_actions/pointer_mouse_drag.py.ini
  testing/web-platform/meta/webdriver/tests/classic/perform_actions/navigation.py.ini
  testing/web-platform/meta/webdriver/tests/classic/perform_actions/pointer_mouse.py.ini
Due: test-manifest

Bug 1932314 - Disable SCContentSharingPicker in all tests as it requires user interaction. r=jib
  testing/profiles/common/user.js
Due: eslint

Bug 1932893: Change gfx-features-ready to compositor:created. r=tjr
  toolkit/components/resistfingerprinting/nsRFPService.cpp
  toolkit/components/resistfingerprinting/nsUserCharacteristics.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1917000 - Turn "userScripts" into optional-only permission r=zombie
  toolkit/components/extensions/Extension.sys.mjs
  toolkit/components/extensions/parent/ext-userScripts.js
  toolkit/components/extensions/schemas/user_scripts.json
  toolkit/components/extensions/test/xpcshell/test_ext_userScripts_mv3_availability.js
  toolkit/components/extensions/test/xpcshell/test_ext_userScripts_mv3_csp.js
  toolkit/components/extensions/test/xpcshell/test_ext_userScripts_mv3_injection.js
  toolkit/components/extensions/test/xpcshell/test_ext_userScripts_mv3_messaging.js
  toolkit/components/extensions/test/xpcshell/test_ext_userScripts_mv3_persistence.js
  toolkit/components/extensions/test/xpcshell/test_ext_userScripts_mv3_worlds.js
Due: eslint

Bug 1917000 - Stop injecting after "userScripts" revocation r=zombie
  toolkit/components/extensions/WebExtensionPolicy.cpp
  toolkit/components/extensions/test/xpcshell/test_ext_userScripts_mv3_injection.js
  xpcom/ds/StaticAtoms.py
Due: eslint, py-black, py-ruff, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source
