Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

eslint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

stylelint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

py-black:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

py-ruff:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

yaml:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

shellcheck:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

clang-format:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

rustfmt:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

fluent-lint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

Bug 1954751: SelectionManager::SelectionRangeChanged: Fail gracefully if the range's closest common ancestor is null. r=eeejay
  accessible/base/SelectionManager.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1955866 - Clean up New Tab Customization Panel r=home-newtab-reviewers,maxx
  browser/extensions/newtab/content-src/components/Base/Base.jsx
  browser/extensions/newtab/content-src/components/CustomizeMenu/ContentSection/ContentSection.jsx
  browser/extensions/newtab/content-src/components/CustomizeMenu/CustomizeMenu.jsx
  browser/extensions/newtab/data/content/activity-stream.bundle.js
  browser/extensions/newtab/test/unit/content-src/components/CustomiseMenu.test.jsx
  browser/locales/en-US/browser/newtab/newtab.ftl
Due: eslint, fluent-lint, file-whitespace

Bug 1909470 - Transfer auxv from child processes to crash reporter r=media-playback-reviewers,gsvelto,padenot
  dom/ipc/ContentParent.cpp
  dom/ipc/ContentParent.h
  dom/ipc/PContent.ipdl
  dom/media/gmp/PGMP.ipdl
  dom/media/ipc/PRDD.ipdl
  gfx/ipc/PGPU.ipdl
  gfx/vr/ipc/PVR.ipdl
  ipc/glue/CrashReporterClient.cpp
  ipc/glue/CrashReporterClient.h
  ipc/glue/CrashReporterHelper.h
  ipc/glue/CrashReporterHost.cpp
  ipc/glue/CrashReporterHost.h
  ipc/glue/PUtilityProcess.ipdl
  netwerk/ipc/PSocketProcess.ipdl
  toolkit/crashreporter/breakpad-client/linux/crash_generation/crash_generation_server.cc
  toolkit/crashreporter/breakpad-client/linux/crash_generation/crash_generation_server.h
  toolkit/crashreporter/breakpad-client/linux/handler/exception_handler.cc
  toolkit/crashreporter/breakpad-client/linux/handler/exception_handler.h
  toolkit/crashreporter/ipc/CrashReporterInitArgs.ipdlh
  toolkit/crashreporter/moz.build
  toolkit/crashreporter/nsExceptionHandler.cpp
  toolkit/crashreporter/nsExceptionHandler.h
  toolkit/crashreporter/rust_minidump_writer_linux/src/lib.rs
Due: py-black, clang-format, rustfmt, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Backed out changeset 95a03ec82813 (bug 1955398) for causing devtools failures. CLOSED TREE
  gfx/wr/webrender/src/tile_cache.rs
Due: rustfmt, file-whitespace, trojan-source

Bug 1955997 - Use synthesizeMouseAtCenter instead of sendMouseEvent so that the interactive element is used r=canaltinova,profiler-reviewers
  devtools/client/performance-new/test/browser/browser_aboutprofiling-more-actions-menu.js
Due: eslint

Bug 1956131 - Pin folders to the top of a bookmarks list r=android-reviewers,matt-tighe
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/library/bookmarks/ui/BookmarkItem.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/library/bookmarks/ui/BookmarksScreen.kt
Due: none

Bug 1956088 - Update opus to d4494e6ed7d564cbee3cfdfe41d0c0989c4345ff r=kinetik
  media/libopus/celt/arch.h
  media/libopus/celt/arm/arm_celt_map.c
  media/libopus/celt/arm/celt_neon_intr.c
  media/libopus/celt/arm/mathops_arm.h
  media/libopus/celt/bands.c
  media/libopus/celt/fixed_debug.h
  media/libopus/celt/fixed_generic.h
  media/libopus/celt/float_cast.h
  media/libopus/celt/mathops.c
  media/libopus/celt/mathops.h
  media/libopus/celt/mdct.c
  media/libopus/celt/quant_bands.c
  media/libopus/moz.build
  media/libopus/moz.yaml
  media/libopus/silk/decode_core.c
  media/libopus/src/opus_decoder.c
Due: py-black, yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1950485 - Set new bookmarks UI to enabled by default r=android-reviewers,007
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
Due: none

Bug 1954448: Add a contentSetup argument to addAccessibleTask to facilitate content setup before a test starts. r=tschuster,eeejay
  accessible/tests/browser/shared-head.js
Due: eslint

Bug 1954448: Adjust several accessibility tests which specify chrome: true to use contentSetup instead of inline script. r=tschuster,eeejay
  accessible/tests/browser/e10s/browser_caching_relations_002.js
  accessible/tests/browser/text/browser_highlights.js
Due: eslint

Backed out changeset ae92bb24b819 (bug 1909470) for causing build bustages in CrashReporterInitArgs.cpp. CLOSED TREE
  dom/ipc/ContentParent.cpp
  dom/ipc/ContentParent.h
  dom/ipc/PContent.ipdl
  dom/media/gmp/PGMP.ipdl
  dom/media/ipc/PRDD.ipdl
  gfx/ipc/PGPU.ipdl
  gfx/vr/ipc/PVR.ipdl
  ipc/glue/CrashReporterClient.cpp
  ipc/glue/CrashReporterClient.h
  ipc/glue/CrashReporterHelper.h
  ipc/glue/CrashReporterHost.cpp
  ipc/glue/CrashReporterHost.h
  ipc/glue/PUtilityProcess.ipdl
  netwerk/ipc/PSocketProcess.ipdl
  toolkit/crashreporter/breakpad-client/linux/crash_generation/crash_generation_server.cc
  toolkit/crashreporter/breakpad-client/linux/crash_generation/crash_generation_server.h
  toolkit/crashreporter/breakpad-client/linux/handler/exception_handler.cc
  toolkit/crashreporter/breakpad-client/linux/handler/exception_handler.h
  toolkit/crashreporter/ipc/CrashReporterInitArgs.ipdlh
  toolkit/crashreporter/moz.build
  toolkit/crashreporter/nsExceptionHandler.cpp
  toolkit/crashreporter/nsExceptionHandler.h
  toolkit/crashreporter/rust_minidump_writer_linux/src/lib.rs
Due: py-black, clang-format, rustfmt, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1955115 - Respond to GetShaderPrecisionFormat from client instead of sync IPC. r=gfx-reviewers,ipc-reviewers,mccr8,lsalzman
  dom/canvas/ClientWebGLContext.cpp
  dom/canvas/HostWebGLContext.h
  dom/canvas/PWebGL.ipdl
  dom/canvas/ParamTraits_STL.h
  dom/canvas/QueueParamTraits.h
  dom/canvas/WebGLContext.cpp
  dom/canvas/WebGLContext.h
  dom/canvas/WebGLContextGL.cpp
  dom/canvas/WebGLIpdl.h
  dom/canvas/WebGLParent.cpp
  dom/canvas/WebGLParent.h
  dom/canvas/WebGLTypes.h
  ipc/ipdl/sync-messages.ini
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

no bug - Import translations from android-l10n r=release a=l10n CLOSED TREE
  mobile/android/android-components/components/browser/errorpages/src/main/res/values-et/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-et/strings.xml
  mobile/android/fenix/app/src/main/res/values-en-rGB/strings.xml
  mobile/android/fenix/app/src/main/res/values-es/strings.xml
  mobile/android/focus-android/app/src/main/res/values-cy/strings.xml
Due: eslint

Bug 1956147 - Update AGP to version 8.9.1. r=android-reviewers,adhingra
  gradle/libs.versions.toml
Due: none

Backed out changeset 175bf5000192 (bug 1955866) for causing mochitests failures in browser_customize_menu_content.js. CLOSED TREE
  browser/extensions/newtab/content-src/components/Base/Base.jsx
  browser/extensions/newtab/content-src/components/CustomizeMenu/ContentSection/ContentSection.jsx
  browser/extensions/newtab/content-src/components/CustomizeMenu/CustomizeMenu.jsx
  browser/extensions/newtab/data/content/activity-stream.bundle.js
  browser/extensions/newtab/test/unit/content-src/components/CustomiseMenu.test.jsx
  browser/locales/en-US/browser/newtab/newtab.ftl
Due: eslint, fluent-lint, file-whitespace

no bug - Merge android-l10n translations from mozilla-central r=release a=l10n
  mobile/android/android-components/components/feature/addons/src/main/res/values-co/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-kmr/strings.xml
  mobile/android/android-components/components/feature/app-links/src/main/res/values-bs/strings.xml
  mobile/android/android-components/components/feature/app-links/src/main/res/values-co/strings.xml
  mobile/android/android-components/components/feature/app-links/src/main/res/values-kmr/strings.xml
  mobile/android/android-components/components/feature/app-links/src/main/res/values-pl/strings.xml
  mobile/android/fenix/app/src/main/res/values-bs/strings.xml
  mobile/android/fenix/app/src/main/res/values-da/strings.xml
  mobile/android/fenix/app/src/main/res/values-es-rES/strings.xml
  mobile/android/fenix/app/src/main/res/values-kmr/strings.xml
  mobile/android/fenix/app/src/main/res/values-pl/strings.xml
  mobile/android/fenix/app/src/main/res/values-rm/strings.xml
  mobile/android/focus-android/app/src/main/res/values-be/strings.xml
  mobile/android/focus-android/app/src/main/res/values-bs/strings.xml
  mobile/android/focus-android/app/src/main/res/values-es-rES/strings.xml
  mobile/android/focus-android/app/src/main/res/values-in/strings.xml
  mobile/android/focus-android/app/src/main/res/values-pl/strings.xml
Due: eslint

Bug 1947520 - Wait until we achieve visual completeness to dispatch microsurvey events r=android-reviewers,matt-tighe
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/BaseBrowserFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/messaging/MessagingFeature.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/messaging/MessagingFeatureTest.kt
Due: none

Bug 1955866 - Clean up New Tab Customization Panel r=home-newtab-reviewers,maxx
  browser/extensions/newtab/content-src/components/Base/Base.jsx
  browser/extensions/newtab/content-src/components/CustomizeMenu/ContentSection/ContentSection.jsx
  browser/extensions/newtab/content-src/components/CustomizeMenu/CustomizeMenu.jsx
  browser/extensions/newtab/data/content/activity-stream.bundle.js
  browser/extensions/newtab/test/browser/browser_customize_menu_content.js
  browser/extensions/newtab/test/unit/content-src/components/CustomiseMenu.test.jsx
  browser/locales/en-US/browser/newtab/newtab.ftl
Due: eslint, fluent-lint, file-whitespace

Bug 1955488 - Reduces leading padding amount for the select folder screen to provide more space r=android-reviewers,sfamisa
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/library/bookmarks/ui/BookmarksScreen.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/library/bookmarks/ui/BookmarksState.kt
Due: none

Bug 1950731 - Don't implicitly unwrap null title when mapping folder nodes r=android-reviewers,matt-tighe
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/library/bookmarks/ui/BookmarksMiddleware.kt
Due: none

Bug 1955472 - Clear out selected items on BackClicked r=android-reviewers,matt-tighe
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/library/bookmarks/ui/BookmarksMiddleware.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/library/bookmarks/ui/BookmarksReducer.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/library/bookmarks/ui/BookmarksMiddlewareTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/library/bookmarks/ui/BookmarksReducerTest.kt
Due: none

Bug 1955463 - Local non-release Fenix builds should use debug signing r=nalexander,android-reviewers,adhingra
  mobile/android/fenix/app/build.gradle
  mobile/android/focus-android/app/build.gradle
Due: none

Bug 1955463 - Allow controlling Fenix android:debuggable flag from mozconfig r=nalexander
  mobile/android/fenix/app/build.gradle
  mobile/android/focus-android/app/build.gradle
  mobile/android/moz.configure
Due: py-black, py-ruff

Bug 1955503 - Mark browser_preferences.js as failing on a11y until a fix is in place. r=intermittent-reviewers,jmaher DONTBUILD
  browser/components/profiles/tests/browser/browser.toml
Due: none

Bug 1955872 - Discover geckodriver arguments for allowing chrome access r=whimboo
  taskcluster/docker/snap-coreXX-build/snap-tests/basic_tests.py
Due: py-black, py-ruff, file-whitespace, trojan-source

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  browser/locales/l10n-changesets.json
Due: eslint

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  mobile/locales/l10n-changesets.json
Due: eslint

Bug 1955556 - ConcurrentConnection should check mConn before initializing functions as it may have been destroyed. a=pascalc
  toolkit/components/places/ConcurrentConnection.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1947395 - Add search suggestions sub-string UI test matcher r=ajoltan
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/SearchTest.kt
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/SearchRobot.kt
Due: none

Bug 1955976 - [devtools] Set fail-if a11y_checks on browser_dbg-preview-multiple-threads.js r=jdescottes,devtools-reviewers,nchevobbe
  devtools/client/debugger/test/mochitest/browser_kz.toml
Due: none

Bug 1913456 - Add "Città" (Italian keyword) to address-level2 search keywords. r=NeilDeakin,credential-management-reviewers
  toolkit/components/formautofill/shared/HeuristicsRegExp.sys.mjs
Due: eslint

Bug 1775913 - add missing await keywords to popPrefEnv calls - r=credential-management-reviewers,dimi
  browser/extensions/formautofill/test/browser/creditCard/browser_creditCard_telemetry.js
Due: eslint

Bug 1949994 - [devtools] Properly escape the ampersand for Copy as cURL (POSIX) r=devtools-reviewers,ochameau
  devtools/client/netmonitor/test/browser_net_curl-utils.js
  devtools/client/shared/curl.js
Due: eslint

Bug 1955331 - [devtools] Remove inline style in dagre-d3.js. r=devtools-reviewers,ochameau.
  devtools/client/shared/vendor/DAGRE_D3_UPGRADING.md
  devtools/client/shared/vendor/dagre-d3.js
  devtools/client/themes/memory.css
Due: eslint, stylelint, file-whitespace

Bug 1955050 - [devtools] Convert the cm6 variant to cm5 r=devtools-reviewers,ochameau
  devtools/client/debugger/test/mochitest/browser_aj.toml
  devtools/client/debugger/test/mochitest/browser_kz.toml
  taskcluster/kinds/test/mochitest.yml
  taskcluster/kinds/test/variants.yml
  testing/mochitest/runtests.py
Due: py-black, py-ruff, yaml, file-whitespace, trojan-source

Bug 1916581: Add a test case. r=jandem
  js/src/jit-test/tests/auto-regress/bug1916581.js
Due: eslint

Bug 1956168 - Remove unused strings in DevTools, r=devtools-reviewers,jdescottes
  devtools/client/locales/en-US/aboutdebugging.ftl
  devtools/client/locales/en-US/application.ftl
  devtools/client/locales/en-US/debugger.properties
  devtools/client/locales/en-US/netmonitor.properties
  devtools/client/locales/en-US/sourceeditor.properties
  devtools/client/locales/en-US/webconsole.properties
Due: fluent-lint, localization, file-whitespace

Bug 1955230: Remove unused UTF-8 code path from FormatBuffer::toString. r=spidermonkey-reviewers,dminor
  js/src/builtin/intl/FormatBuffer.h
  js/src/builtin/intl/IntlObject.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1955697 - Simplify scrolled canvas background painting. r=mstange
  layout/base/PresShell.cpp
  layout/base/PresShell.h
  layout/generic/nsCanvasFrame.cpp
  layout/generic/nsCanvasFrame.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1955697 - Paint the scrolled canvas background if not observable by blending. r=mstange
  layout/base/PresShell.h
  layout/generic/nsCanvasFrame.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, **/*.java, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml
