Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, **/*.java, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml

Bug 1944631 - Migrate histograms to use Glean APIs in browser/modules/Sanitizer.sys.mjs, r=chutten.
  browser/modules/Sanitizer.sys.mjs
  browser/modules/metrics.yaml
Due: eslint, yaml

Bug 1944631 - Migrate histograms to use Glean APIs for READER_MODE_* histograms, r=chutten.
  toolkit/components/reader/ReaderMode.sys.mjs
  toolkit/components/reader/metrics.yaml
Due: eslint, yaml

Bug 1948598 - Fix for verifySecurePageSecuritySubMenuTest UI test r=ohorvath
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/NavigationToolbarComposeTest.kt
Due: none

Bug 1948584: Remove MCompare::inputType(). r=jandem
  js/src/jit/MIR.cpp
  js/src/jit/MIR.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1948178 - Implement a marketing attribution service to determine whether the marketing onboarding should be displayed. r=android-reviewers,twhite
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/metrics/MarketingAttributionService.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  mobile/android/fenix/app/src/main/res/values/preference_keys.xml
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/components/metrics/MarketingAttributionServiceTest.kt
Due: eslint

Bug 1948178 - Implement a marketing attribution service to determine whether the marketing onboarding should be displayed. r=android-reviewers,twhite, a=dmeehan
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/metrics/MarketingAttributionService.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  mobile/android/fenix/app/src/main/res/values/preference_keys.xml
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/components/metrics/MarketingAttributionServiceTest.kt
Due: eslint

Bug 1944631 - Migrate histograms to use Glean APIs for HTTP3_* histograms in netwerk/protocol/http/, r=chutten,necko-reviewers,kershaw.
  netwerk/protocol/http/Http3Session.cpp
  netwerk/protocol/http/Http3Stream.cpp
  netwerk/protocol/http/metrics.yaml
Due: yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1910298 - Make EchConfig a part of the connection hash key, r=necko-reviewers,valentin
  netwerk/protocol/http/ConnectionEntry.cpp
  netwerk/protocol/http/ConnectionEntry.h
  netwerk/protocol/http/nsHttpConnectionInfo.cpp
  netwerk/protocol/http/nsHttpConnectionInfo.h
  netwerk/protocol/http/nsHttpConnectionMgr.cpp
  security/manager/ssl/components.conf
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

No bug - Tagging 2186df400f77c78749d286281d224bc27d11c844 with FIREFOX-ANDROID_136_0b7_RELEASE a=release CLOSED TREE DONTBUILD
  .hgtags
Due: none

Automatic version bump CLOSED TREE NO BUG a=release DONTBUILD
  browser/config/version_display.txt
  mobile/android/version.txt
Due: none

Bug 1942817: null-check Zstd creation r=necko-reviewers,valentin
  netwerk/streamconv/converters/nsHTTPCompressConv.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1945092 - extend conditioned profile. r=aryx
  taskcluster/kinds/test/variants.yml
Due: yaml

Bug 1948412 - disable pip cache on windows hw-ref tests. r=taskgraph-reviewers,jmaher,Eijebong
  taskcluster/kinds/test/mochitest.yml
Due: yaml

No bug - Tagging 2186df400f77c78749d286281d224bc27d11c844 with DEVEDITION_136_0b7_RELEASE a=release CLOSED TREE DONTBUILD
  .hgtags
Due: none

Bug 1948682 - [wdspec] Increase chunking for debug builds on desktop platforms. r=webdriver-reviewers,jdescottes
  taskcluster/kinds/test/web-platform.yml
Due: yaml

Bug 1937367 - Extra proxy logging r=necko-reviewers,kershaw
  netwerk/base/nsPACMan.cpp
  netwerk/base/nsProtocolProxyService.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

No bug - Tagging 2186df400f77c78749d286281d224bc27d11c844 with FIREFOX_136_0b7_RELEASE a=release CLOSED TREE DONTBUILD
  .hgtags
Due: none

Bug 421436 - Fix y coordinate when calling focusEditableField in browser_rules_grid-template-areas.js. r=devtools-reviewers,nchevobbe
  devtools/client/inspector/rules/test/browser_rules_grid-template-areas.js
Due: eslint

Bug 421436 - Remove the hack that forces all <br> frames to be 1 app unit wide. r=emilio
  editor/libeditor/tests/browserscope/lib/richtext2/currentStatus.js
  layout/base/tests/test_bug1216483.html
  layout/forms/nsTextControlFrame.cpp
  layout/generic/BRFrame.cpp
  layout/generic/test/test_bug421436.html
  layout/reftests/bugs/465574-1-ref.html
  layout/reftests/bugs/reftest.list
  layout/reftests/text/reftest.list
  testing/web-platform/meta/css/css-grid/layout-algorithm/grid-intrinsic-track-sizes-001.html.ini
  testing/web-platform/meta/css/css-writing-modes/forms/button-appearance-native-computed-style.html.ini
  testing/web-platform/meta/css/cssom-view/getClientRects-br-htb-rtl.html.ini
  testing/web-platform/meta/css/cssom-view/getClientRects-br-vlr-rtl.html.ini
  testing/web-platform/meta/css/cssom-view/getClientRects-br-vrl-rtl.html.ini
  testing/web-platform/meta/editing/run/caret-navigation-around-line-break.html.ini
  testing/web-platform/meta/selection/caret-position-should-be-correct-while-moveup-movedown.html.ini
  testing/web-platform/meta/webvtt/rendering/cues-with-video/processing-model/one_line_cue_plus_wrapped_cue.html.ini
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Bug 1948710 - convert most Throw calls r=emilio
  dom/svg/DOMSVGAngle.cpp
  dom/svg/DOMSVGAngle.h
  dom/svg/DOMSVGLength.cpp
  dom/svg/DOMSVGLengthList.cpp
  dom/svg/DOMSVGLengthList.h
  dom/svg/DOMSVGNumber.cpp
  dom/svg/DOMSVGNumberList.cpp
  dom/svg/DOMSVGNumberList.h
  dom/svg/DOMSVGPoint.cpp
  dom/svg/DOMSVGPointList.cpp
  dom/svg/DOMSVGPointList.h
  dom/svg/DOMSVGStringList.cpp
  dom/svg/DOMSVGTransform.cpp
  dom/svg/DOMSVGTransform.h
  dom/svg/DOMSVGTransformList.cpp
  dom/svg/SVGAnimationElement.cpp
  dom/svg/SVGAnimationElement.h
  dom/svg/SVGMatrix.cpp
  dom/svg/SVGMatrix.h
  dom/svg/SVGPreserveAspectRatio.cpp
  dom/svg/SVGPreserveAspectRatio.h
  dom/svg/SVGRect.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1948304 - [devtools] Fix image name in netmonitor docs r=devtools-reviewers,bomsy
  devtools/docs/user/network_monitor/inspecting_web_sockets/index.rst
  devtools/docs/user/network_monitor/inspecting_web_sockets/wsi-filter.png
Due: file-whitespace

Bug 1948304 - [devtools] Add user documentation for DevTools Network Override r=devtools-reviewers,bomsy,nchevobbe
  devtools/docs/user/network_monitor/index.rst
  devtools/docs/user/network_monitor/network_overrides/debugger_script_override.png
  devtools/docs/user/network_monitor/network_overrides/index.rst
  devtools/docs/user/network_monitor/network_overrides/network_disable_cache.png
  devtools/docs/user/network_monitor/network_overrides/network_override_column.png
  devtools/docs/user/network_monitor/network_overrides/set_network_override.png
Due: file-whitespace

Bug 1948734 - Fix --disable-backgroundtasks on macOS r=emilio
  toolkit/xre/nsAppRunner.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1947240 - [devtools] Fix deleting cookies with Domain attributes in Storage panel. a=dmeehan.
  devtools/client/storage/test/browser_storage_cookies_delete_all.js
  devtools/client/storage/test/head.js
  devtools/server/actors/resources/storage/cookies.js
Due: eslint

Bug 1945868: Fix creating a new profile from the profile downgrade screen. a=dmeehan
  toolkit/profile/content/profileDowngrade.js
  toolkit/profile/content/profileDowngrade.xhtml
  toolkit/profile/jar.mn
Due: eslint, file-whitespace

Bug 1948492 - Re-apply workaround for Bug 1932498 in UI tests failing on Beta a=dmeehan
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/SettingsHTTPSOnlyModeTest.kt
Due: none

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  browser/locales/l10n-changesets.json
Due: eslint

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  mobile/locales/l10n-changesets.json
Due: eslint

Bug 1946774 - [geckodriver] Support fractional numbers for x and y positions for mouse and touch pointer actions. r=webdriver-reviewers,jgraham
  testing/webdriver/src/actions.rs
Due: rustfmt, file-whitespace, trojan-source

Bug 1946774 - [wdspec] Add tests for fractional x and y values for pointer move action (mouse, touch). r=webdriver-reviewers,jgraham,masayuki
  testing/web-platform/meta/webdriver/tests/bidi/input/perform_actions/pointer_touch.py.ini
  testing/web-platform/tests/webdriver/tests/bidi/input/perform_actions/invalid.py
  testing/web-platform/tests/webdriver/tests/bidi/input/perform_actions/pointer_mouse.py
  testing/web-platform/tests/webdriver/tests/bidi/input/perform_actions/pointer_touch.py
  testing/web-platform/tests/webdriver/tests/classic/perform_actions/invalid.py
  testing/web-platform/tests/webdriver/tests/classic/perform_actions/pointer_mouse.py
  testing/web-platform/tests/webdriver/tests/classic/perform_actions/pointer_touch.py
Due: py-black, py-ruff, file-whitespace, test-manifest, trojan-source

Bug 1946774 - [remote] Support fractional numbers for x and y positions for mouse and touch pointer actions. r=webdriver-reviewers,jgraham
  remote/shared/webdriver/Actions.sys.mjs
  remote/shared/webdriver/test/xpcshell/test_Actions.js
Due: eslint

Bug 1948083 - Fix broken link in search-detection code comment. r=rpl
  browser/extensions/search-detection/extension/api.js
Due: eslint

Bug 1701557 - introduced context menu for results in SearchPanel. r=devtools-reviewers,ochameau
  devtools/client/locales/en-US/netmonitor.properties
  devtools/client/netmonitor/src/components/request-list/RequestListContent.js
  devtools/client/netmonitor/src/components/search/SearchPanel.js
  devtools/client/netmonitor/src/widgets/PropertiesViewContextMenu.js
  devtools/client/netmonitor/src/widgets/RequestListContextMenu.js
  devtools/client/netmonitor/test/browser_net_search-results.js
Due: eslint, localization, file-whitespace

Bug 1947911 - Increase CaR linux build time. r=fbilt
  taskcluster/kinds/toolchain/misc.yml
Due: yaml

Bug 1946985 [Linux] Get RGB alpha dmabuf format if Wayland compositor doesn't provide modifiers for it r=emilio
  widget/gtk/DMABufLibWrapper.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1948612 - Make sure we override the min-width of all tabs in collapsed groups. r=emilio,desktop-theme-reviewers
  browser/themes/shared/tabbrowser/tabs.css
Due: stylelint, file-whitespace

Bug 1944707 - Fix certificate verification and chain building for email usages. r=keeler
  security/certverifier/CertVerifier.cpp
  security/certverifier/CertVerifier.h
  security/manager/pki/pippki.sys.mjs
  security/manager/ssl/nsIX509CertDB.idl
  security/manager/ssl/nsNSSCertificateDB.cpp
  security/manager/ssl/tests/unit/corrupted_crlite_helper.js
  security/manager/ssl/tests/unit/head_psm.js
  security/manager/ssl/tests/unit/test_add_preexisting_cert.js
  security/manager/ssl/tests/unit/test_baseline_requirements_subject_common_name.js
  security/manager/ssl/tests/unit/test_builtins.js
  security/manager/ssl/tests/unit/test_cert_eku.js
  security/manager/ssl/tests/unit/test_cert_embedded_null.js
  security/manager/ssl/tests/unit/test_cert_expiration_canary.js
  security/manager/ssl/tests/unit/test_cert_keyUsage.js
  security/manager/ssl/tests/unit/test_cert_sha1.js
  security/manager/ssl/tests/unit/test_cert_signatures.js
  security/manager/ssl/tests/unit/test_cert_storage.js
  security/manager/ssl/tests/unit/test_cert_storage_direct.js
  security/manager/ssl/tests/unit/test_cert_storage_preexisting_crlite.js
  security/manager/ssl/tests/unit/test_cert_trust.js
  security/manager/ssl/tests/unit/test_cert_version.js
  security/manager/ssl/tests/unit/test_crlite_filters.js
  security/manager/ssl/tests/unit/test_crlite_preexisting.js
  security/manager/ssl/tests/unit/test_crlite_stash_corrupted.js
  security/manager/ssl/tests/unit/test_enterprise_roots.js
  security/manager/ssl/tests/unit/test_ev_certs.js
  security/manager/ssl/tests/unit/test_intermediate_basic_usage_constraints.js
  security/manager/ssl/tests/unit/test_intermediate_preloads.js
  security/manager/ssl/tests/unit/test_keysize.js
  security/manager/ssl/tests/unit/test_keysize_ev.js
  security/manager/ssl/tests/unit/test_name_constraints.js
  security/manager/ssl/tests/unit/test_ocsp_enabled_pref.js
  security/manager/ssl/tests/unit/test_ocsp_url.js
  security/manager/ssl/tests/unit/test_sanctions_symantec_apple_google.js
  security/manager/ssl/tests/unit/test_self_signed_certs.js
  security/manager/ssl/tests/unit/test_validity.js
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1946707 - Call NotifyFinished earlier for existing listener r=stransky
  toolkit/system/gnome/nsAlertsIconListener.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1890560 - Call UnregisterHandler earlier for the old handler r=asuth,nalexander,win-reviewers,gstoll
  testing/web-platform/meta/notifications/tag.https.html.ini
  testing/web-platform/tests/notifications/tag.https.html
  widget/windows/ToastNotification.cpp
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Backed out 2 changesets (bug 421436) for mochitest failure on test_accessiblecaret_cursor_mode.py . CLOSED TREE
  devtools/client/inspector/rules/test/browser_rules_grid-template-areas.js
  editor/libeditor/tests/browserscope/lib/richtext2/currentStatus.js
  layout/base/tests/test_bug1216483.html
  layout/forms/nsTextControlFrame.cpp
  layout/generic/BRFrame.cpp
  layout/generic/test/test_bug421436.html
  layout/reftests/bugs/465574-1-ref.html
  layout/reftests/bugs/reftest.list
  layout/reftests/text/reftest.list
  testing/web-platform/meta/css/css-grid/layout-algorithm/grid-intrinsic-track-sizes-001.html.ini
  testing/web-platform/meta/css/css-writing-modes/forms/button-appearance-native-computed-style.html.ini
  testing/web-platform/meta/css/cssom-view/getClientRects-br-htb-rtl.html.ini
  testing/web-platform/meta/css/cssom-view/getClientRects-br-vlr-rtl.html.ini
  testing/web-platform/meta/css/cssom-view/getClientRects-br-vrl-rtl.html.ini
  testing/web-platform/meta/editing/run/caret-navigation-around-line-break.html.ini
  testing/web-platform/meta/selection/caret-position-should-be-correct-while-moveup-movedown.html.ini
  testing/web-platform/meta/webvtt/rendering/cues-with-video/processing-model/one_line_cue_plus_wrapped_cue.html.ini
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source
