Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, **/*.java, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml

Bug 1929284 - Part 15: Remove individual AOs for each calendar field. r=mgaudet
  js/src/builtin/temporal/Calendar.cpp
  js/src/builtin/temporal/Calendar.h
  js/src/builtin/temporal/PlainYearMonth.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1929284 - Part 18: Sync Calendar{Date,YearMonth,MonthDay}FromFields. r=dminor
  js/src/builtin/temporal/Calendar.cpp
  js/src/tests/non262/Temporal/PlainMonthDay/from-gregory.js
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1929284 - Part 17: More editorial changes. r=mgaudet
  js/src/builtin/temporal/Duration.cpp
  js/src/builtin/temporal/Duration.h
  js/src/builtin/temporal/PlainDate.cpp
  js/src/builtin/temporal/PlainDateTime.cpp
  js/src/builtin/temporal/PlainYearMonth.cpp
  js/src/builtin/temporal/Temporal.cpp
  js/src/builtin/temporal/ZonedDateTime.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1929284 - Part 19: Merge operations into CalendarDateAdd and CalendarDateUntil. r=dminor
  js/src/builtin/temporal/Calendar.cpp
  js/src/builtin/temporal/Duration.cpp
  js/src/builtin/temporal/PlainDate.cpp
  js/src/builtin/temporal/PlainDate.h
  js/src/builtin/temporal/PlainDateTime.cpp
  js/src/builtin/temporal/PlainYearMonth.cpp
  js/src/builtin/temporal/TimeZone.cpp
  js/src/builtin/temporal/ZonedDateTime.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1929284 - Part 20: Sync BalanceISODate. r=dminor
  js/src/builtin/temporal/Calendar.cpp
  js/src/builtin/temporal/Calendar.h
  js/src/builtin/temporal/Duration.cpp
  js/src/builtin/temporal/PlainDate.cpp
  js/src/builtin/temporal/PlainDate.h
  js/src/builtin/temporal/ZonedDateTime.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1933891 - Land strings for Android homepage card and push notifications about root certificate expiration. r=android-reviewers,gmalekpour
  mobile/android/fenix/app/src/main/res/values/strings.xml
Due: eslint

Bug 1933803 - Remove explicitly stored per-span data from nsGridContainerFrame::Tracks::ResolveIntrinsicSize r=dholbert
  layout/generic/nsGridContainerFrame.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Backed out changeset d225e9dea8be (bug 1934204) for causing bc failures on browser_contextmenu.js CLOSED TREE
  browser/locales/en-US/browser/browserContext.ftl
Due: fluent-lint, file-whitespace

Bug 1927386 - [FxMS Docs] Updates Remote CFR Messages documentation in Source doc r=omc-reviewers,emcminn
  browser/components/asrouter/docs/remote_cfr.md
Due: file-whitespace

Bug 1934640 - Don't let the rounded content area ride the trains for now. r=sidebar-reviewers,sfoster
  browser/app/profile/firefox.js
  browser/themes/shared/tabbrowser/content-area.css
Due: eslint, stylelint, file-whitespace

Bug 1915535 - Ensure consistent cleanup in nsLineBreaker::FlushCurrentWord. r=layout-reviewers,emilio
  dom/base/nsLineBreaker.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1934324 [Wayland] Add color info to DMABuf surface and allow to create wl_buffer from YUV surface r=emilio
  gfx/layers/ipc/LayersSurfaces.ipdlh
  widget/gtk/DMABufSurface.cpp
  widget/gtk/DMABufSurface.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1934324 [Wayland] Pass HDR color info to DMABuf surface r=alwu
  dom/media/platforms/ffmpeg/FFmpegVideoDecoder.cpp
  dom/media/platforms/ffmpeg/FFmpegVideoFramePool.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1884960 - Add HDR capability check to ScreenHelperAndroid r=jolin,geckoview-reviewers,jnicol,m_kato
  mobile/android/geckoview/src/main/java/org/mozilla/gecko/GeckoAppShell.java
  widget/android/ScreenHelperAndroid.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1934368 - Update eslint-plugin-mozilla and top-level modules as far as possible. r=frontend-codestyle-reviewers,mossop
  package-lock.json
  package.json
  tools/lint/eslint/eslint-plugin-mozilla/package-lock.json
  tools/lint/eslint/eslint-plugin-mozilla/package.json
Due: eslint

Bug 1934056 - Update devtools document to use ESM-based API. r=devtools-reviewers,ochameau
  devtools/docs/contributor/contributing/javascript.md
  devtools/docs/contributor/files/adding-files.md
Due: file-whitespace

Bug 1934044 - Update obsoleve comments about JSM in devtools. r=devtools-reviewers,ochameau
  devtools/shared/loader/Loader.sys.mjs
Due: eslint

Bug 1934077 - Update filename label to use sys.mjs. r=devtools-reviewers,ochameau
  devtools/shared/heapsnapshot/tests/xpcshell/Census.sys.mjs
  devtools/startup/DevToolsStartup.sys.mjs
Due: eslint

Bug 1810464 - Stop using UNSAFE_componentWillMount in devtools/client/inspector/animation/components/PauseResumeButton.js r=bomsy
  devtools/client/inspector/animation/components/PauseResumeButton.js
Due: eslint

Backed out changeset f43628cc3782 (bug 1933891) for causing fenix lint failure
  mobile/android/fenix/app/src/main/res/values/strings.xml
Due: eslint

Backed out 2 changesets (bug 1934324) for causing build bustage on DMABufSurface.cpp
  dom/media/platforms/ffmpeg/FFmpegVideoDecoder.cpp
  dom/media/platforms/ffmpeg/FFmpegVideoFramePool.h
  gfx/layers/ipc/LayersSurfaces.ipdlh
  widget/gtk/DMABufSurface.cpp
  widget/gtk/DMABufSurface.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Backed out changeset 02860b2290c9 (bug 1931401) for causing jit-1proc3 failures on max-typed-array-size.js CLOSED TREE
  dom/streams/test/xpcshell/too-big-array-buffer.js
  js/src/jit-test/tests/large-arraybuffers/max-typed-array-size.js
  js/src/jit-test/tests/large-arraybuffers/typed-array.js
  js/src/jit-test/tests/warp/bug1703817.js
  js/src/tests/non262/TypedArray/constructor-length-too-large.js
  js/src/vm/ArrayBufferObject.h
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1933827 - OSX 10.15->14.70 migration: most of the remaining web-platform-tests. r=taskgraph-reviewers,ahal
  taskcluster/kinds/test/test-sets.yml
  taskcluster/kinds/test/web-platform.yml
Due: yaml

Bug 1934057 - Update jsactor document to use ESM-based API. r=ipc-reviewers,mccr8
  dom/docs/ipc/jsactors.rst
Due: file-whitespace

Bug 1934665 - Add script to help verify Balrog configuration for GMP plugins. r=media-playback-reviewers,azebrowski
  dom/media/tools/checkGmpBalrog.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1863217 - Add test for opening popup in microtask; r=smaug
  dom/base/test/useractivation/mochitest.toml
  dom/base/test/useractivation/test_popup_blocker_microtask.html
Due: eslint, file-whitespace

Bug 1927894 - Add a middleware to persist the Web Compat form data r=android-reviewers,calu
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/appstate/AppAction.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/appstate/AppState.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/appstate/AppStoreReducer.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/appstate/webcompat/WebCompatReducer.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/appstate/webcompat/WebCompatState.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/webcompat/store/WebCompatReporterStorageMiddleware.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/webcompat/store/WebCompatReporterStore.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/webcompat/ui/WebCompatReporter.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/webcompat/ui/WebCompatReporterFragment.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/components/appstate/WebCompatReducerTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/webcompatreporter/store/WebCompatReporterStorageMiddlewareTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/webcompatreporter/store/WebCompatReporterStoreTest.kt
Due: none

Bug 1920539 - Integrate new WebCompat feature into Menu redesign via feature flag r=android-reviewers,calu
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/FeatureFlags.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/menu/MenuDialogFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/menu/WebExtensionsMenuBinding.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/menu/compose/ExtensionsSubmenu.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/menu/compose/MainMenu.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/menu/compose/ToolsSubmenu.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/menu/middleware/MenuNavigationMiddleware.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/menu/middleware/MenuTelemetryMiddleware.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/menu/store/MenuAction.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/menu/store/MenuState.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/menu/store/MenuStore.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/webcompat/Constants.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/webcompat/ui/WebCompatReporterFragment.kt
  mobile/android/fenix/app/src/main/res/navigation/nav_graph.xml
  mobile/android/fenix/app/src/main/res/values/strings.xml
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/components/menu/MenuNavigationMiddlewareTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/components/menu/MenuStoreTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/components/menu/WebExtensionsMenuBindingTest.kt
Due: eslint

Bug 1927893 - Add a navigation middleware for the WebCompat Reporter r=android-reviewers,rsainani
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/BrowserDirection.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/ext/Activity.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/webcompat/store/WebCompatNavigationMiddleware.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/webcompat/store/WebCompatReporterStore.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/webcompat/ui/WebCompatReporterFragment.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/webcompat/WebCompatNavigationMiddlewareTest.kt
Due: none

Bug 1933769 - Move focus to window directly if we are already the active window. r=smaug
  dom/base/nsFocusManager.cpp
  dom/base/nsFocusManager.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1934145 - Add CompositorConfig::Layer r=gfx-reviewers,lsalzman
  gfx/wr/webrender/src/composite.rs
  gfx/wr/webrender/src/lib.rs
  gfx/wr/webrender/src/picture.rs
  gfx/wr/webrender/src/renderer/init.rs
  gfx/wr/webrender/src/renderer/mod.rs
  gfx/wr/wrench/src/composite.cpp
  gfx/wr/wrench/src/composite.rs
  gfx/wr/wrench/src/main.rs
  gfx/wr/wrench/src/wrench.rs
Due: clang-format, rustfmt, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1934291 - Tweak tab group menu icon so that the stroke doesn't get cut off on the edges. r=jswinarton,tabbrowser-reviewers,sthompson
  browser/themes/shared/tabbrowser/tab-group-chicklet.svg
  browser/themes/shared/tabbrowser/tabs.css
Due: stylelint, file-whitespace

Bug 1923726 - Update NimbusRolloutMessageProvider with recent messaging rollouts r=negin,omc-reviewers
  browser/components/asrouter/tests/NimbusRolloutMessageProvider.sys.mjs
Due: eslint

Bug 1933570 - correctly set the prefer resident key flag in webauthn calls on windows. r=keeler
  dom/webauthn/WinWebAuthnService.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1925785 - webauthn: add "hybrid" to passkey transports on macOS r=jschanck
  dom/webauthn/MacOSWebAuthnService.mm
Due: clang-format

Bug 1933631: Propagate the name of the task function passed to addAccessibleTask in browser tests. r=nlapre
  accessible/tests/browser/shared-head.js
Due: eslint

Bug 1934698 - Support Firefox Labs Opt-ins in the Experiment API and RemoteSettingsExperimentLoader r=beth
  toolkit/components/nimbus/ExperimentAPI.sys.mjs
  toolkit/components/nimbus/lib/ExperimentManager.sys.mjs
  toolkit/components/nimbus/lib/RemoteSettingsExperimentLoader.sys.mjs
  toolkit/components/nimbus/test/unit/test_ExperimentAPI.js
  toolkit/components/nimbus/test/unit/test_ExperimentManager_enroll.js
  toolkit/components/nimbus/test/unit/test_ExperimentManager_lifecycle.js
  toolkit/components/nimbus/test/unit/test_RemoteSettingsExperimentLoader.js
  toolkit/components/nimbus/test/unit/test_RemoteSettingsExperimentLoader_updateRecipes.js
  toolkit/components/nimbus/test/unit/test_localization.js
Due: eslint

no bug - Import translations from android-l10n r=release a=l10n CLOSED TREE
  mobile/android/android-components/components/feature/addons/src/main/res/values-es/strings.xml
  mobile/android/fenix/app/src/main/res/values-es/strings.xml
Due: eslint

Bug 1934165 - Add swap-chain surface wrapper to DCLayerTree r=gfx-reviewers,lsalzman
  gfx/webrender_bindings/DCLayerTree.cpp
  gfx/webrender_bindings/DCLayerTree.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source
