Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, **/*.java, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml

Bug 1921846 - Add profiles section to about:preferences. r=profiles-reviewers,settings-reviewers,fluent-reviewers,bolsson,niklas,mossop
  browser/components/preferences/main.inc.xhtml
  browser/components/preferences/main.js
  browser/components/preferences/tests/browser_bug731866.js
  browser/components/profiles/tests/browser/browser.toml
  browser/components/profiles/tests/browser/browser_preferences.js
  browser/locales/en-US/browser/preferences/preferences.ftl
Due: eslint, fluent-lint, file-whitespace

Bug 1945847 - Handle BTP storage connection not ready and retry. r=bvandersloot,anti-tracking-reviewers
  toolkit/components/antitracking/bouncetrackingprotection/BounceTrackingProtectionStorage.cpp
  toolkit/components/antitracking/bouncetrackingprotection/BounceTrackingProtectionStorage.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1863250 - Support for base domain filtering in CacheFileContextEvictor. r=necko-reviewers,valentin
  netwerk/cache2/CacheFileContextEvictor.cpp
  netwerk/cache2/CacheFileContextEvictor.h
  netwerk/cache2/CacheFileIOManager.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1863250 - Update on-disk eviction info logic to support base domain clearing. r=necko-reviewers,valentin
  netwerk/cache2/CacheFileContextEvictor.cpp
  netwerk/cache2/CacheFileContextEvictor.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1863250 - Test, r=necko-reviewers,valentin
  netwerk/test/unit/head_cache2.js
  netwerk/test/unit/test_cache2-33-clear-base-domain.js
  netwerk/test/unit/xpcshell.toml
Due: eslint

Update configs. IGNORE BROKEN CHANGESETS CLOSED TREE NO BUG a=release ba=release
  CLOBBER
  build/defines.sh
Due: shellcheck

Backed out changeset aedc669b8499 (bug 1919598) for causing failures at browser_tabnotificationbox_switch_tabs.js. CLOSED TREE
  browser/components/asrouter/content/assets/fox-question-mark-icon.svg
  browser/components/asrouter/jar.mn
  browser/components/asrouter/modules/FeatureCalloutMessages.sys.mjs
  browser/locales/en-US/browser/featureCallout.ftl
  python/l10n/fluent_migrations/bug_1919598_firefoxview_split_dismiss_migrations.py
Due: eslint, py-black, py-ruff, fluent-lint, file-whitespace, trojan-source

Bug 1945470 - enable dom.workers.timeoutmanager for Nightly, r=smaug
  modules/libpref/init/StaticPrefList.yaml
  toolkit/modules/subprocess/test/xpcshell/test_subprocess.js
Due: eslint, yaml

Bug 1937634 - Make txMozillaXSLTProcessor::mStylesheetDocument strong. r=peterv
  dom/xslt/xslt/txMozillaXSLTProcessor.cpp
  dom/xslt/xslt/txMozillaXSLTProcessor.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1944513 - avoid symbol visibility issues for getauxval() r=mjf, a=dmeehan Resolve the issue by using a system header in abseil-cpp instead of a "private" re-declaration of getauxval().
  third_party/abseil-cpp/absl/random/internal/randen_detect.cc
  third_party/abseil-cpp/moz-patch-stack/0011.patch
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1948316 - Move TerminatingFlowMarker into geckoprofiler::markers namespace. r=profiler-reviewers,mstange
  tools/profiler/public/FlowMarkers.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1948322 - Update PDF.js to new version 144e5fe19692cf5039c0fa944d11b0f4dc0efa69 r=pdfjs-reviewers,fluent-reviewers,flod,marco
  toolkit/components/pdfjs/content/build/pdf.mjs
  toolkit/components/pdfjs/content/build/pdf.scripting.mjs
  toolkit/components/pdfjs/content/build/pdf.worker.mjs
  toolkit/components/pdfjs/content/web/images/editor-toolbar-edit.svg
  toolkit/components/pdfjs/content/web/viewer-geckoview.css
  toolkit/components/pdfjs/content/web/viewer-geckoview.mjs
  toolkit/components/pdfjs/content/web/viewer.css
  toolkit/components/pdfjs/content/web/viewer.html
  toolkit/components/pdfjs/content/web/viewer.mjs
  toolkit/components/pdfjs/moz.yaml
  toolkit/locales/en-US/toolkit/pdfviewer/viewer.ftl
Due: eslint, stylelint, yaml, fluent-lint, file-whitespace

Bug 1946322 Land SmartTabGrouping utility class and tabbrowser code for Smart Tab Grouping r=tabbrowser-reviewers,dao,tarek
  browser/components/tabbrowser/SmartTabGrouping.sys.mjs
  browser/components/tabbrowser/content/tabbrowser.js
  browser/components/tabbrowser/moz.build
  browser/components/tabbrowser/test/browser/smarttabgrouping/browser.toml
  browser/components/tabbrowser/test/browser/smarttabgrouping/browser_tab_grouping.js
  browser/components/tabbrowser/test/browser/smarttabgrouping/data/animal_embeddings.tsv
  browser/components/tabbrowser/test/browser/smarttabgrouping/data/animal_labels.tsv
  browser/components/tabbrowser/test/browser/smarttabgrouping/data/gen_set_2_embeddings.tsv
  browser/components/tabbrowser/test/browser/smarttabgrouping/data/gen_set_2_labels.tsv
  browser/components/tabbrowser/test/browser/smarttabgrouping/data/pgh_trip_embeddings.tsv
  browser/components/tabbrowser/test/browser/smarttabgrouping/data/pgh_trip_labels.tsv
  browser/components/tabbrowser/test/browser/smarttabgrouping/head.js
  toolkit/components/ml/content/ClusterAlgos.sys.mjs
  toolkit/components/ml/content/EngineProcess.sys.mjs
  toolkit/components/ml/jar.mn
  toolkit/components/ml/tests/browser/browser.toml
  toolkit/components/ml/tests/browser/browser_ml_cluster_algos.js
  toolkit/components/ml/tests/browser/head.js
  toolkit/components/ml/tests/browser/perftest.toml
  toolkit/components/ml/tests/browser/shared-head.js
Due: eslint, py-black

Bug 1947606 - Add Nimbus support for calculator. r=daleharvey
  toolkit/components/nimbus/FeatureManifest.yaml
Due: yaml

Bug 1948311 - Let UAPI client integration for newtab ride the trains. r=home-newtab-reviewers,maxx
  browser/app/profile/firefox.js
Due: eslint

Bug 1948089 - Copy localized string on calculator result selection. r=urlbar-reviewers,jteow
  browser/components/urlbar/UrlbarProviderCalculator.sys.mjs
  browser/components/urlbar/tests/browser/browser_calculator.js
Due: eslint

Bug 1948334 - Subview sub header is too small on Linux, should use relative font size instead of hardcoded px value. r=dwalker
  browser/themes/shared/customizableui/panelUI-shared.css
Due: stylelint, file-whitespace

Bug 1946868 - Remove "Turn on/off Vertical Tabs" in the tab context menu a=dmeehan
  browser/base/content/main-popupset.inc.xhtml
  browser/base/content/main-popupset.js
  browser/components/sidebar/tests/browser/browser_sidebar_context_menu.js
  browser/components/tabbrowser/content/tabbrowser.js
  browser/locales/en-US/browser/tabContextMenu.ftl
Due: eslint, fluent-lint, file-whitespace

Bug 1935254 - Adds expanded and aria-haspopup to Submenu button component r=omc-reviewers,emcminn
  browser/components/aboutwelcome/content-src/components/SubmenuButton.jsx
  browser/components/aboutwelcome/content/aboutwelcome.bundle.js
Due: eslint

Bug 1947906 - Newtab fixing image sizing and cropping for sections layout r=home-newtab-reviewers,nbarrett
  browser/extensions/newtab/content-src/components/DiscoveryStreamComponents/CardSections/CardSections.jsx
  browser/extensions/newtab/content-src/components/DiscoveryStreamComponents/DSCard/DSCard.jsx
  browser/extensions/newtab/data/content/activity-stream.bundle.js
  browser/extensions/newtab/karma.mc.config.js
Due: eslint

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  browser/locales/l10n-changesets.json
Due: eslint

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  mobile/locales/l10n-changesets.json
Due: eslint

Bug 1948074 - update impression event for IAB Banners a=dmeehan
  browser/components/newtab/content-src/components/DiscoveryStreamComponents/AdBanner/AdBanner.jsx
  browser/components/newtab/data/content/activity-stream.bundle.js
  browser/components/newtab/karma.mc.config.js
Due: eslint

Bug 1948355 - Enable adding a signature in PDF by default in Nightly and early Beta r=marco
  modules/libpref/init/all.js
Due: eslint

Bug 1947634 - Add a Glean event for CPM tile interactions. r=rsafaeian,credential-management-reviewers
  toolkit/components/satchel/megalist/content/components/password-card/password-card.mjs
  toolkit/components/satchel/megalist/metrics.yaml
Due: eslint, yaml

Bug 1947634 - Add tests for CPM tile interaction Glean events. r=rsafaeian,credential-management-reviewers
  toolkit/components/satchel/megalist/content/components/password-card/password-card.mjs
  toolkit/components/satchel/megalist/content/tests/browser/browser_passwords_list_alerts.js
  toolkit/components/satchel/megalist/content/tests/browser/browser_passwords_sidebar.js
  toolkit/components/satchel/megalist/content/tests/browser/browser_passwords_update_login.js
Due: eslint

Bug 1947634 - Add Glean event for changes to password records. r=rsafaeian,credential-management-reviewers
  toolkit/components/satchel/megalist/aggregator/datasources/LoginDataSource.sys.mjs
  toolkit/components/satchel/megalist/content/tests/browser/browser_passwords_create_login.js
  toolkit/components/satchel/megalist/content/tests/browser/browser_passwords_delete_login.js
  toolkit/components/satchel/megalist/content/tests/browser/browser_passwords_remove_all_notification.js
  toolkit/components/satchel/megalist/content/tests/browser/browser_passwords_sidebar_import_from_csv.js
  toolkit/components/satchel/megalist/content/tests/browser/browser_passwords_update_login.js
  toolkit/components/satchel/megalist/content/tests/browser/head.js
  toolkit/components/satchel/megalist/metrics.yaml
Due: eslint, yaml

Backed out 3 changesets (bug 1940767) for causing non-unified build bustages.
  dom/webtransport/parent/WebTransportParent.cpp
  netwerk/protocol/http/ASpdySession.h
  netwerk/protocol/http/ConnectionEntry.cpp
  netwerk/protocol/http/ConnectionEntry.h
  netwerk/protocol/http/Http2Session.cpp
  netwerk/protocol/http/Http2Session.h
  netwerk/protocol/http/Http2StreamTunnel.cpp
  netwerk/protocol/http/Http2StreamTunnel.h
  netwerk/protocol/http/Http2WebTransportSession.cpp
  netwerk/protocol/http/Http2WebTransportSession.h
  netwerk/protocol/http/HttpConnectionBase.h
  netwerk/protocol/http/moz.build
  netwerk/protocol/http/nsAHttpTransaction.h
  netwerk/protocol/http/nsHttpChannel.cpp
  netwerk/protocol/http/nsHttpConnection.cpp
  netwerk/protocol/http/nsHttpConnection.h
  netwerk/protocol/http/nsHttpConnectionInfo.cpp
  netwerk/protocol/http/nsHttpConnectionMgr.cpp
  netwerk/protocol/http/nsHttpTransaction.cpp
  netwerk/protocol/http/nsHttpTransaction.h
  netwerk/protocol/webtransport/WebTransportSessionProxy.cpp
  netwerk/protocol/webtransport/WebTransportSessionProxy.h
  netwerk/protocol/webtransport/nsIWebTransport.idl
Due: py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Backed out changeset 650ff35a3ff0 (bug 1941625) for causing browser_sidebar related failures. CLOSED TREE
  browser/base/content/main-popupset.inc.xhtml
  browser/components/sidebar/SidebarState.sys.mjs
  browser/components/sidebar/sidebar-main.mjs
  browser/components/sidebar/tests/browser/browser_sidebar_context_menu.js
  browser/locales/en-US/browser/sidebar.ftl
Due: eslint, fluent-lint, file-whitespace

Backed out changeset a0cb59628f16 (bug 1945470) for causing mochitest plain failures on test_clearTimeoutsImplicit. CLOSED TREE
  modules/libpref/init/StaticPrefList.yaml
  toolkit/modules/subprocess/test/xpcshell/test_subprocess.js
Due: eslint, yaml

Bug 421436 - Remove the hack that forces all <br> frames to be 1 app unit wide. r=emilio
  editor/libeditor/tests/browserscope/lib/richtext2/currentStatus.js
  layout/base/tests/test_bug1216483.html
  layout/forms/nsTextControlFrame.cpp
  layout/generic/BRFrame.cpp
  layout/generic/test/test_bug421436.html
  layout/reftests/bugs/465574-1-ref.html
  layout/reftests/bugs/reftest.list
  layout/reftests/text/reftest.list
  testing/web-platform/meta/css/css-grid/layout-algorithm/grid-intrinsic-track-sizes-001.html.ini
  testing/web-platform/meta/css/css-writing-modes/forms/button-appearance-native-computed-style.html.ini
  testing/web-platform/meta/css/cssom-view/getClientRects-br-htb-rtl.html.ini
  testing/web-platform/meta/css/cssom-view/getClientRects-br-vlr-rtl.html.ini
  testing/web-platform/meta/css/cssom-view/getClientRects-br-vrl-rtl.html.ini
  testing/web-platform/meta/editing/run/caret-navigation-around-line-break.html.ini
  testing/web-platform/meta/selection/caret-position-should-be-correct-while-moveup-movedown.html.ini
  testing/web-platform/meta/webvtt/rendering/cues-with-video/processing-model/one_line_cue_plus_wrapped_cue.html.ini
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Bug 1946823 - Enable Temporal in Nightly builds; r=mgaudet
  modules/libpref/init/StaticPrefList.yaml
Due: yaml

Bug 1946823 - Adjust interfaces tests to expose Temporal on Nightly only; r=mgaudet,webidl,smaug
  dom/serviceworkers/test/test_serviceworker_interfaces.js
  dom/tests/mochitest/general/test_interfaces.js
  dom/workers/test/test_worker_interfaces.js
Due: eslint

Bug 1946823 - Adjust test_xrayToJS.html expectations; r=peterv
  js/xpconnect/tests/chrome/test_xrayToJS.xhtml
Due: eslint, file-whitespace

Bug 1946823 - Fix multi-header.js skip-if; r=mgaudet
  js/src/tests/test/fixtures/export/multi-header.js
Due: eslint

Bug 1946823 - Add Temporal to browser_jsterm_autocomplete_mapped_variables.js expectations; r=nchevobbe,devtools-reviewers
  devtools/client/webconsole/test/browser/browser_jsterm_autocomplete_mapped_variables.js
Due: eslint

Bug 1948174 - Add flow markers to nsHttpChannel. r=valentin,necko-reviewers
  netwerk/protocol/http/nsHttpChannel.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Backed out changeset ee75150a57d2 (bug 1946171) for causing failures on browser_pdfjs_signature_storage. CLOSED TREE
  toolkit/components/pdfjs/content/PdfStreamConverter.sys.mjs
  toolkit/components/pdfjs/content/PdfjsParent.sys.mjs
  toolkit/components/pdfjs/test/browser.toml
  toolkit/components/pdfjs/test/browser_pdfjs_signature_storage.js
Due: eslint

Bug 1943686 - add a nimbus feature for post-quantum key exchange on android. r=geckoview-reviewers,android-reviewers,owlish,ohall
  mobile/android/android-components/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/GeckoEngine.kt
  mobile/android/android-components/components/concept/engine/src/main/java/mozilla/components/concept/engine/Settings.kt
  mobile/android/fenix/app/nimbus.fml.yaml
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/Core.kt
  mobile/android/geckoview/api.txt
  mobile/android/geckoview/src/androidTest/java/org/mozilla/geckoview/test/RuntimeSettingsTest.kt
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/GeckoRuntimeSettings.java
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/doc-files/CHANGELOG.md
Due: yaml, file-whitespace

Bug 1948279 - Text Fragments: Allow creating text fragments for multiple ranges. r=mconley
  browser/actors/ContextMenuChild.sys.mjs
  browser/base/content/test/contextMenu/browser_copy_link_to_highlight.js
Due: eslint
