Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

eslint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

stylelint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

py-black:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

py-ruff:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

yaml:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

shellcheck:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

clang-format:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

rustfmt:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

fluent-lint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

Bug 1948431 [wpt PR 50736] - WebKit export of https://bugs.webkit.org/show_bug.cgi?id=286723, a=testonly
  testing/web-platform/tests/scroll-animations/css/view-timeline-pseudo-on-scroller.html
Due: eslint, file-whitespace

Bug 1948434 [wpt PR 50737] - WebKit export of https://bugs.webkit.org/show_bug.cgi?id=286781, a=testonly
  testing/web-platform/tests/scroll-animations/css/pseudo-on-scroller-named-timeline.html
Due: eslint, file-whitespace

Bug 1948607 [wpt PR 50738] - Fix <select> GetListItems crash, a=testonly
  testing/web-platform/tests/html/semantics/forms/the-select-element/customizable-select/select-listitems-crash.html
Due: eslint, file-whitespace

Bug 1948395 [wpt PR 50732] - Add a parameter to control whether canvas test variants are enabled, a=testonly
  testing/web-platform/tests/html/canvas/tools/gentestutilsunion.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1948616 [wpt PR 50739] - WebKit export of https://bugs.webkit.org/show_bug.cgi?id=285990, a=testonly
  testing/web-platform/tests/scroll-animations/view-timelines/intermediate-transform.html
Due: eslint, file-whitespace

Bug 1948386 [wpt PR 50729] - WebKit export of https://bugs.webkit.org/show_bug.cgi?id=287410, a=testonly
  testing/web-platform/tests/css/css-color/parsing/color-computed-contrast-color-function.html
  testing/web-platform/tests/css/css-color/parsing/color-invalid-contrast-color-function.html
  testing/web-platform/tests/css/css-color/parsing/color-valid-contrast-color-function.html
Due: eslint, file-whitespace

Bug 1947420 [wpt PR 50623] - `DataTransferItem`: improve spec compliance, a=testonly
  testing/web-platform/tests/html/editing/dnd/datastore/datatransferitemlist-remove.html
Due: eslint, file-whitespace

Bug 1948386 [wpt PR 50729] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-color/parsing/color-computed-contrast-color-function.html.ini
  testing/web-platform/meta/css/css-color/parsing/color-valid-contrast-color-function.html.ini
Due: test-manifest

Bug 1947420 [wpt PR 50623] - Update wpt metadata, a=testonly
  testing/web-platform/meta/html/editing/dnd/datastore/datatransferitemlist-remove.html.ini
Due: test-manifest

Bug 1948095 [wpt PR 50692] - Handle the case when a gradient only have a single stop which contains missing components, a=testonly
  testing/web-platform/tests/css/css-images/gradient/gradient-single-stop-none-interpolation-ref.html
  testing/web-platform/tests/css/css-images/gradient/gradient-single-stop-none-interpolation.html
Due: eslint, file-whitespace

Bug 1948095 [wpt PR 50692] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-images/gradient/gradient-single-stop-none-interpolation.html.ini
Due: test-manifest

Bug 1948325 [wpt PR 50715] - [Editing] Include open shadow roots in RangeLength for MoveParagraphs., a=testonly
  testing/web-platform/tests/shadow-dom/execcommand-insertList-in-shadow.html
Due: eslint, file-whitespace

Bug 1948641 [wpt PR 50747] - Try to de-flake registered-neutral-keyframe.html, a=testonly
  testing/web-platform/tests/css/css-properties-values-api/animation/registered-neutral-keyframe.html
Due: eslint, file-whitespace

Bug 1948611 [wpt PR 50743] - [Signature-based SRI] Typo in test description., a=testonly
  testing/web-platform/tests/subresource-integrity/signatures/tentative/csp.window.js
Due: eslint

Bug 1948648 [wpt PR 50748] - Fix the reference link for canvas turbulence test, a=testonly
  testing/web-platform/tests/html/canvas/element/manual/filters/tentative/canvas-filter-object-turbulence.html
Due: eslint, file-whitespace

Bug 1948643 [wpt PR 50749] - [webrtc-encoded-transform] Add support for metadata timestamps., a=testonly
  testing/web-platform/tests/webrtc-encoded-transform/tentative/RTCEncodedFrame-timestamps-helper.js
  testing/web-platform/tests/webrtc-encoded-transform/tentative/RTCEncodedFrame-timestamps.html
Due: eslint, file-whitespace

Bug 1948157 [wpt PR 50704] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-ui/compute-kind-widget-generated/grouped-kind-of-widget-fallback-background-attachment-001.html.ini
  testing/web-platform/meta/css/css-ui/compute-kind-widget-generated/grouped-kind-of-widget-fallback-background-color-001.html.ini
  testing/web-platform/meta/css/css-ui/compute-kind-widget-generated/grouped-kind-of-widget-fallback-border-block-start-color-001.html.ini
  testing/web-platform/meta/css/css-ui/compute-kind-widget-generated/grouped-kind-of-widget-fallback-border-block-start-style-001.html.ini
  testing/web-platform/meta/css/css-ui/compute-kind-widget-generated/grouped-kind-of-widget-fallback-border-block-start-width-001.html.ini
  testing/web-platform/meta/css/css-ui/compute-kind-widget-generated/grouped-kind-of-widget-fallback-border-image-source-001.html.ini
  testing/web-platform/meta/css/css-ui/compute-kind-widget-generated/grouped-kind-of-widget-fallback-border-top-color-001.html.ini
  testing/web-platform/meta/css/css-ui/compute-kind-widget-generated/grouped-kind-of-widget-fallback-border-top-left-radius-001.html.ini
  testing/web-platform/meta/css/css-ui/compute-kind-widget-generated/grouped-kind-of-widget-fallback-border-top-style-001.html.ini
  testing/web-platform/meta/css/css-ui/compute-kind-widget-generated/grouped-kind-of-widget-fallback-border-top-width-001.html.ini
Due: test-manifest

Bug 1948643 [wpt PR 50749] - Update wpt metadata, a=testonly
  testing/web-platform/meta/webrtc-encoded-transform/tentative/RTCEncodedFrame-timestamps.html.ini
Due: test-manifest

Bug 1948686 [wpt PR 50751] - Respect FunctionContext when substituting if(), a=testonly
  testing/web-platform/tests/css/css-mixins/local-if-substitution.html
Due: eslint, file-whitespace

Bug 1948686 [wpt PR 50751] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-mixins/local-if-substitution.html.ini
Due: test-manifest

Bug 1948720 [wpt PR 50752] - [cssom] Reattach wrappers during CSSStyleRule::setSelectorText, a=testonly
  testing/web-platform/tests/css/cssom/set-selector-text-attachment.html
Due: eslint, file-whitespace

Bug 1948733 [wpt PR 50742] - [Sanitizer] Implement new defaults API., a=testonly
  testing/web-platform/tests/sanitizer-api/sanitizer-boolean-defaults.tentative.html
  testing/web-platform/tests/sanitizer-api/sanitizer-config.tentative.html
  testing/web-platform/tests/sanitizer-api/sanitizer-names.tenative.html
  testing/web-platform/tests/sanitizer-api/sethtml-safety.sub.dat
  testing/web-platform/tests/sanitizer-api/sethtml-tree-construction.sub.dat
  testing/web-platform/tests/sanitizer-api/sethtml-tree-construction.tentative.html
  testing/web-platform/tests/sanitizer-api/sethtml-unsafety.sub.dat
  testing/web-platform/tests/sanitizer-api/support/html5lib-testcase-support.js
Due: eslint, file-whitespace

Bug 1948735 [wpt PR 50753] - Resolve css scale interpolation number before interpolation, a=testonly
  testing/web-platform/tests/css/css-values/animations/scale-interpolation-crash.html
Due: eslint, file-whitespace

Bug 1948733 [wpt PR 50742] - Update wpt metadata, a=testonly
  testing/web-platform/meta/sanitizer-api/sanitizer-names.tenative.html.ini
  testing/web-platform/meta/sanitizer-api/sethtml-tree-construction.tentative.html.ini
Due: test-manifest

Bug 1948361 [wpt PR 50721] - layout: Partial support for sizing keywords on flex items, a=testonly
  testing/web-platform/tests/css/css-sizing/keyword-sizes-on-flex-item-001.html
  testing/web-platform/tests/css/css-sizing/keyword-sizes-on-flex-item-002.html
Due: eslint, file-whitespace

Bug 1948763 [wpt PR 50755] - WebKit export of https://bugs.webkit.org/show_bug.cgi?id=285560, a=testonly
  testing/web-platform/tests/scroll-animations/css/animation-fill-outside-range-test.html
Due: eslint, file-whitespace

Bug 1948361 [wpt PR 50721] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-sizing/keyword-sizes-on-flex-item-001.html.ini
  testing/web-platform/meta/css/css-sizing/keyword-sizes-on-flex-item-002.html.ini
Due: test-manifest

Bug 1948772 [wpt PR 50758] - [css-mixins] Remove ShadowDOM tests from dashed-function-eval.html, a=testonly
  testing/web-platform/tests/css/css-mixins/dashed-function-eval.html
  testing/web-platform/tests/css/css-mixins/resources/utils.js
Due: eslint, file-whitespace

Bug 1948789 [wpt PR 50762] - webrtc wpt: add tests for bundlePolicy, a=testonly
  testing/web-platform/tests/webrtc/RTCConfiguration-bundlePolicy.html
Due: eslint, file-whitespace

Bug 1948766 [wpt PR 50756] - WebKit export of https://bugs.webkit.org/show_bug.cgi?id=287806, a=testonly
  testing/web-platform/tests/scroll-animations/view-timelines/block-view-timeline-current-time-vertical-rl.tentative.html
  testing/web-platform/tests/scroll-animations/view-timelines/block-view-timeline-current-time.tentative.html
  testing/web-platform/tests/scroll-animations/view-timelines/block-view-timeline-nested-subject.tentative.html
  testing/web-platform/tests/scroll-animations/view-timelines/inline-view-timeline-current-time.tentative.html
Due: eslint, file-whitespace

Bug 1948873 [wpt PR 50767] - Create META.yml for css-view-transitions, a=testonly
  testing/web-platform/tests/css/css-view-transitions/META.yml
Due: yaml

Bug 1948964 - [wpt-sync] Update web-platform-tests to fb3886fcf23b60dc56f7157a9403599986f1801d, a=testonly
  testing/web-platform/meta/css/css-mixins/dashed-function-eval.html.ini
  testing/web-platform/meta/custom-elements/htmlconstructor/newtarget-customized-builtins.html.ini
  testing/web-platform/meta/fetch/fetch-later/quota/cross-origin-iframe/small-payload.tentative.https.window.js.ini
  testing/web-platform/meta/html/browsers/browsing-the-web/__dir__.ini
  testing/web-platform/meta/html/browsers/browsing-the-web/back-forward-cache/timers.html.ini
  testing/web-platform/meta/html/cross-origin-opener-policy/iframe-popup-unsafe-none-to-unsafe-none.https.html.ini
  testing/web-platform/meta/html/semantics/popovers/popover-top-layer-nesting-anchor.tentative.html.ini
  testing/web-platform/meta/mozilla-sync
  testing/web-platform/meta/sanitizer-api/sanitizer-names.tenative.html.ini
  testing/web-platform/meta/sanitizer-api/sethtml-tree-construction.tentative.html.ini
  testing/web-platform/meta/scroll-animations/css/view-timeline-pseudo-on-scroller.html.ini
  testing/web-platform/meta/service-workers/service-worker/fetch-event-respond-with-readable-stream.https.html.ini
  testing/web-platform/meta/webdriver/tests/bidi/browsing_context/navigate/hash.py.ini
  testing/web-platform/meta/webdriver/tests/bidi/script/add_preload_script/add_preload_script.py.ini
  testing/web-platform/meta/webdriver/tests/classic/fullscreen_window/fullscreen.py.ini
  testing/web-platform/meta/webrtc/simulcast/h264.https.html.ini
Due: test-manifest

Bug 1948575 - Delay page refresh until page is fully loaded r=ajoltan DONTBUILD
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/NavigationToolbarComposeTest.kt
Due: none

Bug 1946389 - Set initial coordinates in WindowManager mochitests. r=webdriver-reviewers,whimboo,jdescottes
  remote/shared/test/browser/browser.toml
  remote/shared/test/browser/browser_WindowManager.js
Due: eslint

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump
  browser/locales/l10n-changesets.json
Due: eslint

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump
  mobile/locales/l10n-changesets.json
Due: eslint

Bug 1948872 - Add an API to capture telemetry in the shell and fix GC edge cases r=sfink
  js/src/gc/GC.cpp
  js/src/gc/GCRuntime.h
  js/src/jit-test/tests/gc/telemetry.js
  js/src/shell/js.cpp
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1948926 - Make packaging warnings fatal in mobile/android/, r=geckoview-reviewers,calu.
  mobile/android/installer/Makefile.in
Due: none

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, **/*.java, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml
