Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

eslint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

stylelint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

py-black:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

py-ruff:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

yaml:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

shellcheck:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

clang-format:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

rustfmt:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

fluent-lint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

Bug 1947313 - Instrument the ChannelEvent queue with flows. r=valentin,necko-reviewers
  netwerk/ipc/ChannelEventQueue.cpp
  netwerk/ipc/ChannelEventQueue.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1947313 - Instrument the ChannelEvent queue with flows. r=valentin,necko-reviewers CLOSED TREE
  netwerk/ipc/ChannelEventQueue.cpp
  netwerk/ipc/ChannelEventQueue.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1945762 - Remove DOM Sanitizer code from nsTreeSanitizer. r=emilio
  dom/base/nsTreeSanitizer.cpp
  dom/base/nsTreeSanitizer.h
  dom/security/sanitizer/Sanitizer.cpp
  dom/security/sanitizer/Sanitizer.h
  dom/security/sanitizer/tests/mochitest/test_sanitizer_api.html
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1946445 - [devtools] Fix parseDeclarationsInternal for nested declarations. r=devtools-reviewers,jdescottes.
  devtools/client/inspector/rules/test/browser_rules_nested_rules.js
  devtools/client/shared/test/xpcshell/test_parseDeclarations.js
  devtools/shared/css/parsing-utils.js
Due: eslint

Bug 1947148 - Implement NavigationTransition. r=dom-core,jjaschke
  dom/navigation/NavigationTransition.cpp
  dom/navigation/NavigationTransition.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Backed out changeset 7724459a082a (bug 1947313) for causing build bustages.
  netwerk/ipc/ChannelEventQueue.cpp
  netwerk/ipc/ChannelEventQueue.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1946872 - Change tokens-config.js to reorganize --table-row-background-color tokens in Storybook token tables r=reusable-components-reviewers,desktop-theme-reviewers,hjones
  toolkit/themes/shared/design-system/tokens-config.js
  toolkit/themes/shared/design-system/tokens-storybook.mjs
  toolkit/themes/shared/design-system/tokens-table.stories.mjs
Due: eslint

Bug 1944063 - Improve error propagation hygiene. r=edenchuang,smaug
  dom/serviceworkers/ServiceWorkerUtils.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1947348 - Better support `mach run --debug` on unrooted Android devices r=owlish
  testing/mozbase/mozdevice/mozdevice/adb.py
  testing/mozbase/mozrunner/mozrunner/devices/android_device.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1946234 - Fetch version.txt relative to gradle project instead of working directory r=nalexander
  mobile/android/android-components/plugins/config/src/main/java/ConfigPlugin.kt
  mobile/android/shared-settings.gradle
Due: none

Backed out changeset 458fc7644a27 (bug 1947148) for causing build bustages. CLOSED TREE
  dom/navigation/NavigationTransition.cpp
  dom/navigation/NavigationTransition.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1943149 - test(webgpu): promote newly `PASS`ing tests to tier 2 r=webgpu-reviewers,nical
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/execution/expression/access/array/index/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/execution/expression/binary/f32_matrix_scalar_multiplication/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/execution/expression/constructor/non_zero/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/execution/expression/constructor/zero_value/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/validation/decl/override/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/validation/functions/restrictions/cts.https.html.ini
Due: test-manifest

Bug 1943149 - test(webgpu): demote newly failing tests to tier 3 r=webgpu-reviewers,nical
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/capability_checks/limits/maxSamplersPerShaderStage/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/execution/expression/binary/f32_matrix_addition/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/execution/expression/binary/f32_matrix_matrix_multiplication/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/validation/extension/pointer_composite_access/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/validation/parse/requires/cts.https.html.ini
Due: test-manifest

Bug 1943149 - test(webgpu): adjust for new perma outcomes in tier 3 r=webgpu-reviewers,nical
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/layout_shader_compat/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/validation/decl/context_dependent_resolution/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/validation/expression/unary/address_of_and_indirection/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/validation/functions/restrictions/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/validation/parse/must_use/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/web_platform/canvas/readbackFromWebGPUCanvas/cts.https.html.ini
Due: test-manifest

Bug 1943149 - test(webgpu): accept observed intermittents in tier 3 r=webgpu-reviewers,nical
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/operation/buffers/map/shared.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/buffer/mapping/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/capability_checks/limits/maxComputeWorkgroupSizeX/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/capability_checks/limits/maxComputeWorkgroupStorageSize/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/capability_checks/limits/maxComputeWorkgroupsPerDimension/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/capability_checks/limits/maxInterStageShaderVariables/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/capability_checks/limits/maxSampledTexturesPerShaderStage/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/capability_checks/limits/maxSamplersPerShaderStage/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/capability_checks/limits/maxStorageTexturesPerShaderStage/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/capability_checks/limits/minStorageBufferOffsetAlignment/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/render_pipeline/resource_compatibility/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/render_pipeline/shader_module/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/state/device_lost/destroy/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/compat/api/validation/render_pipeline/unsupported_wgsl/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/execution/expression/call/builtin/atomics/atomicAdd/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/execution/expression/call/builtin/distance/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/execution/expression/call/builtin/textureSample/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/execution/expression/call/builtin/textureSampleCompare/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/execution/expression/call/builtin/texture_utils/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/execution/limits/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/validation/expression/call/builtin/acos/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/validation/expression/call/builtin/derivatives/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/validation/expression/call/builtin/max/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/validation/expression/call/builtin/round/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/validation/expression/call/builtin/textureGather/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/validation/expression/call/builtin/unpack4xU8/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/validation/parse/attribute/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/validation/shader_io/locations/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/validation/types/atomics/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/web_platform/canvas/readbackFromWebGPUCanvas/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/web_platform/canvas/readbackFromWebGPUCanvas/dedicated.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/web_platform/canvas/readbackFromWebGPUCanvas/shared.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/web_platform/copyToTexture/ImageBitmap/dedicated.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/web_platform/copyToTexture/ImageBitmap/shared.https.html.ini
Due: test-manifest

Bug 1947475 - Replace deprecated Locale constructor. r=android-reviewers,giorga
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/compose/ext/Int.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/ext/Context.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/translations/TranslationOptionsDialog.kt
Due: none

Bug 1947485 - Use proper RANGE_TYPE_PERCENT constant. r=android-reviewers,giorga,rebecatudor273
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/TextPercentageSeekBarPreference.kt
Due: none

Bug 1946899: Clarify in comment which block edge (i.e. block-start edge) is being zeroed out. a=dmeehan
  layout/generic/nsLineLayout.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1946899: Clarify in comment which block edge (i.e. block-start edge) is being zeroed out. DONTBUILD
  layout/generic/nsLineLayout.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1946899: Ensure child spans of an empty span receive a zero block start edge. r=layout-reviewers,dholbert, a=RyanVM
  layout/generic/nsLineLayout.cpp
  testing/web-platform/tests/css/css-inline/empty-span-scroll-ref.html
  testing/web-platform/tests/css/css-inline/empty-span-scroll.html
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1940351 - Make --button-background-color-ghost transparent in forced-colors and high-contrast modes in chrome. r=hjones,desktop-theme-reviewers,reusable-components-reviewers
  toolkit/themes/shared/design-system/design-tokens.json
  toolkit/themes/shared/design-system/tokens-brand.css
  toolkit/themes/shared/design-system/tokens-figma.json
  toolkit/themes/shared/design-system/tokens-shared.css
  toolkit/themes/shared/design-system/tokens-storybook.mjs
Due: eslint, stylelint, file-whitespace

Bug 1944910 - Hide sidebar main element when "hide-sidebar" is selected in vertical tabs mode.r=sidebar-reviewers,kcochrane
  browser/components/contextualidentity/test/browser/browser_newtabButton.js
  browser/components/sidebar/SidebarState.sys.mjs
  browser/components/sidebar/browser-sidebar.js
  browser/components/sidebar/tests/browser/browser_customize_sidebar.js
  browser/components/sidebar/tests/browser/browser_sidebar_collapsed_close_tab_button.js
  browser/components/sidebar/tests/browser/browser_sidebar_context_menu.js
  browser/components/sidebar/tests/browser/browser_vertical_tabs.js
Due: eslint

Backed out changeset 7a43153048af (bug 1944063) for causing build bustages @ 'ServiceWorkerUtils.cpp'
  dom/serviceworkers/ServiceWorkerUtils.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1947314: Make iongraph prettier. r=iain
  js/src/devtools/iongraph/iongraph
  js/src/jit/JSONSpewer.cpp
  js/src/jit/LIR.cpp
  js/src/jit/MIR.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1943149 - Fix wpt lint failure. CLOSED TREE
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/capability_checks/limits/maxSampledTexturesPerShaderStage/cts.https.html.ini
Due: test-manifest

Bug 1727389 - Fixed most of the broken developer.mozilla.org links in devtools documentation. r=devtools-reviewers,jdescottes
  devtools/client/aboutdebugging/documentation/ANDROID_BUILD.md
  devtools/client/aboutdebugging/documentation/GECKOVIEW_EXAMPLE_BUILD.md
  devtools/client/aboutdebugging/documentation/GECKOVIEW_REFERENCE_BROWSER_BUILD.md
  devtools/client/aboutdebugging/documentation/TESTS.md
  devtools/client/webconsole/test/README.md
  devtools/docs/contributor/contributing/performance.md
  devtools/docs/contributor/getting-started/development-profiles.md
Due: file-whitespace

Bug 1947518 - newtab shortcuts refresh padding and border radius r=home-newtab-reviewers,maxx
  browser/extensions/newtab/content-src/components/TopSites/_TopSites.scss
  browser/extensions/newtab/css/activity-stream.css
Due: stylelint, file-whitespace

Bug 1945639 - Adding Solo to More from Mozilla - Add card r=settings-reviewers,desktop-theme-reviewers,omc-reviewers,Gijs,dao,pdahiya,jprickett, a=dmeehan
  browser/components/preferences/moreFromMozilla.js
  browser/components/preferences/tests/browser_moreFromMozilla.js
  browser/themes/shared/jar.inc.mn
  browser/themes/shared/preferences/preferences.css
  browser/themes/shared/preferences/solo-ai-logo.svg
Due: eslint, stylelint, file-whitespace

Bug 1945639 - Adding Solo to More from Mozilla - Add card r=settings-reviewers,desktop-theme-reviewers,omc-reviewers,Gijs,dao,pdahiya,jprickett
  browser/components/preferences/moreFromMozilla.js
  browser/components/preferences/tests/browser_moreFromMozilla.js
  browser/themes/shared/jar.inc.mn
  browser/themes/shared/preferences/preferences.css
  browser/themes/shared/preferences/solo-ai-logo.svg
Due: eslint, stylelint, file-whitespace

Bug 1945291 - Make `preonboarding` feature be `isEarlyStartup: true`. a=dmeehan
  toolkit/components/nimbus/FeatureManifest.yaml
  toolkit/components/nimbus/generate/generate_feature_manifest.py
Due: py-black, py-ruff, yaml, file-whitespace, trojan-source

Bug 1945301 - tweak how we find optimal concurrency for ML r=padenot
  toolkit/components/aboutinference/content/aboutInference.js
  toolkit/components/ml/MLUtils.cpp
  toolkit/components/ml/actors/MLEngineChild.sys.mjs
  toolkit/components/ml/content/Utils.sys.mjs
  toolkit/components/ml/nsIMLUtils.idl
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1936647: Improve font fingerprinting detection. r=tjr
  gfx/src/nsFontCache.cpp
  gfx/src/nsFontCache.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1942339 - Add `SUBMIT_ONBOARDING_OPT_OUT_PING` Special Message Action. a=dmeehan
  toolkit/components/messaging-system/lib/SpecialMessageActions.sys.mjs
  toolkit/components/messaging-system/schemas/SpecialMessageActionSchemas/SpecialMessageActionSchemas.json
  toolkit/components/messaging-system/schemas/SpecialMessageActionSchemas/index.md
  toolkit/components/messaging-system/schemas/SpecialMessageActionSchemas/test/browser/browser.toml
  toolkit/components/messaging-system/schemas/SpecialMessageActionSchemas/test/browser/browser_sma_submit_onboarding_opt_out_ping.js
Due: eslint, file-whitespace

Bug 1942194 - Add `onboarding-opt-out` ping counting technical and usage telemetry opt outs. a=dmeehan
  toolkit/components/telemetry/metrics.yaml
  toolkit/components/telemetry/pings.yaml
Due: yaml

Bug 1945290 - Part 1: Hide `TelemetryReportingPolicyImpl`. a=dmeehan
  browser/components/tests/browser/browser_browserGlue_showModal_trigger.js
  toolkit/components/telemetry/app/TelemetryReportingPolicy.sys.mjs
  toolkit/components/telemetry/tests/unit/test_TelemetryReportingPolicy.js
Due: eslint

Bug 1945290 - Part 2: Make `TelemetryReportingPolicy` more async. a=dmeehan
  browser/base/content/test/general/browser_datachoices_notification.js
  toolkit/components/telemetry/app/TelemetryReportingPolicy.sys.mjs
  toolkit/components/telemetry/tests/unit/test_TelemetryReportingPolicy.js
Due: eslint

Bug 1945672 - Part 3: Block Glean startup and default browser prompt on notifying user. a=dmeehan
  browser/components/BrowserGlue.sys.mjs
  browser/components/tests/browser/browser_browserGlue_showModal_trigger.js
Due: eslint

Bug 1945672 - Part 2: Allow Nimbus feature to control policy notification. a=dmeehan
  toolkit/components/nimbus/FeatureManifest.yaml
  toolkit/components/telemetry/app/TelemetryReportingPolicy.sys.mjs
  toolkit/components/telemetry/tests/unit/test_TelemetryReportingPolicy.js
Due: eslint, yaml

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, **/*.java, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml
