Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

eslint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

stylelint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

py-black:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

py-ruff:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

yaml:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

shellcheck:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

clang-format:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

rustfmt:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

fluent-lint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

Bug 1955697 - Remove nsDisplayCanvasThemedBackground. r=mstange
  layout/generic/nsCanvasFrame.cpp
  layout/generic/nsCanvasFrame.h
  layout/painting/nsDisplayItemTypesList.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1955697 - Remove nsDisplayCanvasBackgroundColor. r=mstange
  dom/tests/mochitest/general/test_domWindowUtils.html
  layout/generic/nsCanvasFrame.cpp
  layout/generic/nsCanvasFrame.h
  layout/painting/RetainedDisplayListBuilder.cpp
  layout/painting/nsDisplayItemTypesList.h
  layout/painting/nsDisplayList.cpp
  layout/painting/nsDisplayList.h
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1949770: Remove unreachable code to encode argument-allocation for Int64/IntPtr. r=iain
  js/src/jit/shared/CodeGenerator-shared.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1928604 - P2. Add getAutoCompleteInfo and autofillState API for TextAreaElement r=NeilDeakin,webidl,edgar
  dom/html/HTMLTextAreaElement.cpp
  dom/html/HTMLTextAreaElement.h
  dom/webidl/HTMLTextAreaElement.webidl
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1928604 - P1. Support textarea in formautofill module r=NeilDeakin,credential-management-reviewers,issammani
  browser/extensions/formautofill/test/browser/browser.toml
  browser/extensions/formautofill/test/browser/browser_autofill_address_textarea.js
  browser/extensions/formautofill/test/browser/head.js
  browser/extensions/formautofill/test/mochitest/formautofill_common.js
  browser/extensions/formautofill/test/mochitest/test_formautofill_preview_highlight.html
  toolkit/components/formautofill/FormAutofillChild.sys.mjs
  toolkit/components/formautofill/Helpers.ios.mjs
  toolkit/components/formautofill/shared/FormAutofillHandler.sys.mjs
  toolkit/components/formautofill/shared/FormAutofillHeuristics.sys.mjs
  toolkit/components/formautofill/shared/FormAutofillUtils.sys.mjs
  toolkit/components/formautofill/shared/FormStateManager.sys.mjs
  toolkit/modules/FormLikeFactory.sys.mjs
Due: eslint, file-whitespace

Bug 1928604 - P4. Apply autofill styling to <textarea> r=emilio
  layout/reftests/forms/textarea/autofill-author-background.html
  layout/reftests/forms/textarea/autofill-blank.html
  layout/reftests/forms/textarea/autofill-line-height.html
  layout/reftests/forms/textarea/autofill-prefilled-value.html
  layout/reftests/forms/textarea/autofill-preview-blank.html
  layout/reftests/forms/textarea/autofill-preview-line-height.html
  layout/reftests/forms/textarea/autofill-preview.html
  layout/reftests/forms/textarea/autofill.html
  layout/reftests/forms/textarea/reftest.list
  layout/style/res/forms.css
Due: eslint, stylelint, file-whitespace

Bug 1928604 - P3. Make FormFillController to support textarea r=NeilDeakin,credential-management-reviewers,edgar
  browser/extensions/formautofill/test/browser/browser_cancel_attribute_change_task.js
  dom/base/nsContentUtils.cpp
  dom/base/nsContentUtils.h
  dom/html/HTMLTextAreaElement.cpp
  dom/html/HTMLTextAreaElement.h
  toolkit/components/formautofill/FormAutofillChild.sys.mjs
  toolkit/components/formautofill/FormAutofillContent.sys.mjs
  toolkit/components/passwordmgr/LoginManagerChild.sys.mjs
  toolkit/components/satchel/nsFormFillController.cpp
  toolkit/components/satchel/nsFormFillController.h
  toolkit/components/satchel/nsIFormFillController.idl
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1954446 [Linux] Add widget.dmabuf-export.force-enabled pref to force use EGL_dmabuf_export GL extension r=emilio
  gfx/thebes/gfxPlatform.cpp
  modules/libpref/init/StaticPrefList.yaml
Due: yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1954446 [Linux] Use new unified DMABufSurface by SharedSurfaceDMABUF, DMABUFTextureData and WaylandBuffer r=emilio
  gfx/gl/SharedSurfaceDMABUF.cpp
  gfx/layers/opengl/DMABUFTextureClientOGL.cpp
  widget/gtk/WaylandBuffer.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1954446 [Linux] Implement eglExportDMABUFImage() to create DMABuf surface r=emilio
  widget/gtk/DMABufSurface.cpp
  widget/gtk/DMABufSurface.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1828113 Fix no strings exist for error: corruptedContentErrorv2 in aboutNetError.mjs. r=necko-reviewers,valentin
  toolkit/content/aboutNetError.mjs
Due: eslint

fixup! MB 63: Customize some about pages for Mullvad Browser
  toolkit/content/jar.mn
Due: none

Bug 1950710 - Migrate histograms to use Glean APIs for FX_ABOUTHOME_CACHE_CONSTRUCTION, r=home-newtab-reviewers,mconley.
  browser/components/newtab/AboutNewTabRedirector.sys.mjs
  browser/components/newtab/metrics.yaml
Due: eslint, yaml

Bug 1954109 - [devtools] Update breakpoint positions after pretty-printing. r=ochameau,devtools-reviewers
  devtools/client/debugger/src/actions/breakpoints/breakpointPositions.js
  devtools/client/debugger/src/actions/sources/prettyPrint.js
  devtools/client/debugger/src/reducers/sources.js
  devtools/client/debugger/test/mochitest/browser_dbg-pretty-print-breakpoints.js
Due: eslint

Bug 1899503 - P2 PRemoteWorkerDebuggerMangaer binding implementation. r=asuth
  dom/ipc/ContentChild.cpp
  dom/ipc/ContentChild.h
  dom/ipc/ContentParent.cpp
  dom/ipc/ContentParent.h
  dom/ipc/PContent.ipdl
  dom/workers/remoteworkers/RemoteWorkerDebuggerManagerParent.cpp
  dom/workers/remoteworkers/RemoteWorkerDebuggerManagerParent.h
  dom/workers/remoteworkers/RemoteWorkerService.cpp
  dom/workers/remoteworkers/RemoteWorkerService.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1899503 - P3 PRemoteWorkerDebugger binding implementation. r=asuth
  dom/workers/RuntimeService.cpp
  dom/workers/WorkerDebugger.cpp
  dom/workers/WorkerDebuggerManager.cpp
  dom/workers/WorkerEventTarget.cpp
  dom/workers/WorkerEventTarget.h
  dom/workers/WorkerPrivate.cpp
  dom/workers/WorkerPrivate.h
  dom/workers/WorkerRunnable.h
  dom/workers/nsIWorkerDebugger.idl
  dom/workers/remoteworkers/PRemoteWorkerDebugger.ipdl
  dom/workers/remoteworkers/RemoteWorkerChild.cpp
  dom/workers/remoteworkers/RemoteWorkerChild.h
  dom/workers/remoteworkers/RemoteWorkerDebuggerChild.cpp
  dom/workers/remoteworkers/RemoteWorkerDebuggerChild.h
  dom/workers/remoteworkers/RemoteWorkerDebuggerManagerChild.cpp
  dom/workers/remoteworkers/RemoteWorkerDebuggerManagerParent.cpp
  dom/workers/remoteworkers/RemoteWorkerDebuggerParent.cpp
  dom/workers/remoteworkers/RemoteWorkerService.cpp
  dom/workers/remoteworkers/RemoteWorkerService.h
  dom/workers/sharedworkers/SharedWorkerOp.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1899503 - P1 New top-level IPC PRemoteWorkerDebuggerManager and PRemoteWorkerDebugger to support nsIWorkerDebugger interface for Workers in the parent process. r=asuth
  dom/workers/WorkerDebuggerManager.cpp
  dom/workers/WorkerDebuggerManager.h
  dom/workers/WorkerPrivate.cpp
  dom/workers/remoteworkers/PRemoteWorkerDebugger.ipdl
  dom/workers/remoteworkers/PRemoteWorkerDebuggerManager.ipdl
  dom/workers/remoteworkers/RemoteWorkerDebuggerChild.cpp
  dom/workers/remoteworkers/RemoteWorkerDebuggerChild.h
  dom/workers/remoteworkers/RemoteWorkerDebuggerManagerChild.cpp
  dom/workers/remoteworkers/RemoteWorkerDebuggerManagerChild.h
  dom/workers/remoteworkers/RemoteWorkerDebuggerManagerParent.cpp
  dom/workers/remoteworkers/RemoteWorkerDebuggerManagerParent.h
  dom/workers/remoteworkers/RemoteWorkerDebuggerParent.cpp
  dom/workers/remoteworkers/RemoteWorkerDebuggerParent.h
  dom/workers/remoteworkers/RemoteWorkerTypes.ipdlh
  dom/workers/remoteworkers/moz.build
Due: py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1899503 - P4 Update SharedWorker windowID for remote worker debugger. r=asuth
  dom/workers/WorkerPrivate.cpp
  dom/workers/WorkerPrivate.h
  dom/workers/sharedworkers/SharedWorkerOp.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump
  browser/locales/l10n-changesets.json
Due: eslint

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump
  mobile/locales/l10n-changesets.json
Due: eslint

Bug 1955631. Improve CSP crash error for internal pages r=tschuster
  dom/security/nsCSPContext.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1952221 - Add telemetry for grace period induced DNS cache renewals. r=necko-reviewers,valentin
  netwerk/dns/metrics.yaml
  netwerk/dns/nsHostRecord.h
  netwerk/dns/nsHostResolver.cpp
Due: yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1930500 - Enable `Clear-Site-Data: "cache"` in all channels r=anti-tracking-reviewers,timhuang
  modules/libpref/init/StaticPrefList.yaml
  testing/web-platform/meta/clear-site-data/clear-cache-partitioning.https.html.ini
  testing/web-platform/meta/clear-site-data/clear-cache.https.html.ini
Due: yaml, test-manifest

Bug 1955950 - Add a capability to use DCompositionSurface instead of swap chain with layer compositor enabled r=gfx-reviewers,lsalzman
  gfx/webrender_bindings/DCLayerTree.cpp
  gfx/webrender_bindings/DCLayerTree.h
  modules/libpref/init/StaticPrefList.yaml
Due: yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1955650 - Remove unused strings from bookmarkProperties.properties, r=mak,places-reviewers
  browser/locales/en-US/chrome/browser/places/bookmarkProperties.properties
Due: file-whitespace

Backed out 4 changesets (bug 1899503) for causing btime failures & build bustages @ nsTArray_base<nsTArrayInfallibleAllocator
  dom/ipc/ContentChild.cpp
  dom/ipc/ContentChild.h
  dom/ipc/ContentParent.cpp
  dom/ipc/ContentParent.h
  dom/ipc/PContent.ipdl
  dom/workers/RuntimeService.cpp
  dom/workers/WorkerDebugger.cpp
  dom/workers/WorkerDebuggerManager.cpp
  dom/workers/WorkerDebuggerManager.h
  dom/workers/WorkerEventTarget.cpp
  dom/workers/WorkerEventTarget.h
  dom/workers/WorkerPrivate.cpp
  dom/workers/WorkerPrivate.h
  dom/workers/WorkerRunnable.h
  dom/workers/nsIWorkerDebugger.idl
  dom/workers/remoteworkers/PRemoteWorkerDebugger.ipdl
  dom/workers/remoteworkers/PRemoteWorkerDebuggerManager.ipdl
  dom/workers/remoteworkers/RemoteWorkerChild.cpp
  dom/workers/remoteworkers/RemoteWorkerChild.h
  dom/workers/remoteworkers/RemoteWorkerDebuggerChild.cpp
  dom/workers/remoteworkers/RemoteWorkerDebuggerChild.h
  dom/workers/remoteworkers/RemoteWorkerDebuggerManagerChild.cpp
  dom/workers/remoteworkers/RemoteWorkerDebuggerManagerChild.h
  dom/workers/remoteworkers/RemoteWorkerDebuggerManagerParent.cpp
  dom/workers/remoteworkers/RemoteWorkerDebuggerManagerParent.h
  dom/workers/remoteworkers/RemoteWorkerDebuggerParent.cpp
  dom/workers/remoteworkers/RemoteWorkerDebuggerParent.h
  dom/workers/remoteworkers/RemoteWorkerService.cpp
  dom/workers/remoteworkers/RemoteWorkerService.h
  dom/workers/remoteworkers/RemoteWorkerTypes.ipdlh
  dom/workers/remoteworkers/moz.build
  dom/workers/sharedworkers/SharedWorkerOp.cpp
Due: py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Backed out changeset 6c981224a5c4 (bug 1952221) for causing build bustages @ nsHostResolver.cpp CLOSED TREE
  netwerk/dns/metrics.yaml
  netwerk/dns/nsHostRecord.h
  netwerk/dns/nsHostResolver.cpp
Due: yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1822665 - Remove references to no longer supported MozDialog Help button. r=settings-reviewers,Gijs@mozilla.com
  browser/base/content/utilityOverlay.js
  browser/components/preferences/dialogs/browserLanguages.js
  browser/components/preferences/dialogs/browserLanguages.xhtml
  browser/components/preferences/dialogs/colors.js
  browser/components/preferences/dialogs/colors.xhtml
  browser/components/preferences/dialogs/connection.js
  browser/components/preferences/dialogs/connection.xhtml
  browser/components/preferences/dialogs/fonts.js
  browser/components/preferences/dialogs/fonts.xhtml
  browser/components/preferences/dialogs/languages.js
  browser/components/preferences/dialogs/languages.xhtml
  browser/components/preferences/dialogs/sanitize.js
  browser/components/preferences/dialogs/sanitize.xhtml
  browser/components/preferences/preferences.xhtml
Due: eslint, file-whitespace

Bug 1956181 - [wdspec] Extend timeout for /mozilla/tests/webdriver/bidi/browser/close/close.py. r=webdriver-reviewers,jdescottes
  testing/web-platform/mozilla/tests/webdriver/bidi/browser/close/close.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1954637 - allow loading webExt with empty background.scripts r=robwu
  toolkit/components/extensions/Schemas.sys.mjs
  toolkit/components/extensions/test/xpcshell/test_ext_background_empty.js
  toolkit/components/extensions/test/xpcshell/xpcshell-common.toml
Due: eslint

Bug 1954688 - [Downloads v2] Add missing telemetry probes for downloads. r=android-reviewers,calu,rsainani
  mobile/android/fenix/app/metrics.yaml
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/downloads/listscreen/DownloadFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/downloads/listscreen/middleware/DownloadTelemetryMiddleware.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/downloads/listscreen/store/DownloadUIAction.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/downloads/listscreen/store/DownloadUIStore.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/downloads/listscreen/middleware/DownloadTelemetryMiddlewareTest.kt
Due: yaml

Bug 1955388 - prevent pinned tabs from commingling with non-pinned tabs when there are hidden tabs present. a=pascalc
  browser/components/tabbrowser/content/tabbrowser.js
Due: eslint

Bug 1838158 - [remote] Consume "--remote-allow-hosts" and "--remote-allow-origins" arguments to prevent warnings during startup. r=webdriver-reviewers,jdescottes
  remote/components/RemoteAgent.sys.mjs
Due: eslint

Bug 1955956 - Reduce arrowpanel padding on small screen sizes when not using touch density. r=desktop-theme-reviewers,dao
  browser/themes/shared/customizableui/panelUI-shared.css
Due: stylelint, file-whitespace

Bug 1954708 - lookup_method telemetry now only records one lookup-method per lookup. r=necko-reviewers,valentin
  netwerk/dns/metrics.yaml
  netwerk/dns/nsHostResolver.cpp
  netwerk/dns/nsHostResolver.h
Due: yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1953970 - Automatically fix issues relating to ESLint mozilla/valid-jsdoc configuration rules in toolkit places code. r=places-reviewers,daisuke
  toolkit/components/places/BookmarkHTMLUtils.sys.mjs
  toolkit/components/places/BookmarkJSONUtils.sys.mjs
  toolkit/components/places/BookmarkList.sys.mjs
  toolkit/components/places/Bookmarks.sys.mjs
  toolkit/components/places/ExtensionSearchHandler.sys.mjs
  toolkit/components/places/History.sys.mjs
  toolkit/components/places/PlacesBackups.sys.mjs
  toolkit/components/places/PlacesDBUtils.sys.mjs
  toolkit/components/places/PlacesExpiration.sys.mjs
  toolkit/components/places/PlacesFrecencyRecalculator.sys.mjs
  toolkit/components/places/PlacesPreviews.sys.mjs
  toolkit/components/places/PlacesQuery.sys.mjs
  toolkit/components/places/PlacesSyncUtils.sys.mjs
  toolkit/components/places/PlacesTransactions.sys.mjs
  toolkit/components/places/PlacesUtils.sys.mjs
  toolkit/components/places/SyncedBookmarksMirror.sys.mjs
  toolkit/components/places/TaggingService.sys.mjs
Due: eslint

Bug 1953970 - Use cenums in mozISyncedBookmarksMirror to make it easier for TypeScript to handle the constants. r=places-reviewers,daisuke
  toolkit/components/places/bookmark_sync/src/store.rs
  toolkit/components/places/mozISyncedBookmarksMirror.idl
  tools/@types/lib.gecko.xpcom.d.ts
Due: rustfmt, file-whitespace, trojan-source

Bug 1953970 - Add Glean typescript definitions for toolkit places metrics. r=places-reviewers,daisuke
  tools/@types/glean/toolkit_components_places.d.ts
  tools/@types/lib.gecko.glean.d.ts
Due: none

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, **/*.java, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml
