Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, **/*.java, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump
  mobile/locales/l10n-changesets.json
Due: eslint

Bug 1931748. Fix some readability-else-after-return issues in layout code. r=jfkthame
  layout/tables/nsTableCellFrame.cpp
  layout/tables/nsTableFrame.cpp
  layout/xul/tree/nsTreeBodyFrame.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1931739. Switch RAII classes in layout code from MOZ_STACK_CLASS to MOZ_RAII. r=longsonr
  layout/base/PresShell.cpp
  layout/base/PresShell.h
  layout/generic/nsFrameSelection.h
  layout/generic/nsILineIterator.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  browser/locales/l10n-changesets.json
Due: eslint

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  mobile/locales/l10n-changesets.json
Due: eslint

no bug - Import translations from android-l10n r=release a=l10n CLOSED TREE
  mobile/android/android-components/components/browser/errorpages/src/main/res/values-da/strings.xml
  mobile/android/android-components/components/browser/errorpages/src/main/res/values-lij/strings.xml
  mobile/android/android-components/components/browser/errorpages/src/main/res/values-lo/strings.xml
  mobile/android/android-components/components/browser/errorpages/src/main/res/values-pa-rIN/strings.xml
  mobile/android/android-components/components/browser/errorpages/src/main/res/values-pl/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-da/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-pa-rIN/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-pl/strings.xml
  mobile/android/android-components/components/feature/app-links/src/main/res/values-pa-rIN/strings.xml
  mobile/android/android-components/components/feature/contextmenu/src/main/res/values-pa-rIN/strings.xml
  mobile/android/android-components/components/feature/downloads/src/main/res/values-pa-rIN/strings.xml
  mobile/android/android-components/components/feature/privatemode/src/main/res/values-pa-rIN/strings.xml
  mobile/android/android-components/components/feature/prompts/src/main/res/values-lo/strings.xml
  mobile/android/android-components/components/ui/tabcounter/src/main/res/values-pa-rIN/strings.xml
  mobile/android/fenix/app/src/main/res/values-da/strings.xml
  mobile/android/fenix/app/src/main/res/values-pa-rIN/strings.xml
  mobile/android/fenix/app/src/main/res/values-pl/strings.xml
  mobile/android/fenix/app/src/main/res/values-sl/strings.xml
  mobile/android/focus-android/app/src/main/res/values-pa-rIN/strings.xml
  mobile/android/focus-android/app/src/main/res/values-su/strings.xml
Due: eslint

Bug 1930105 - The main menu has the same color as the homepage in private mode. r=giorga,android-reviewers
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/menu/MenuDialogFragment.kt
Due: none

Bug 1929160 - Update InputContext when clicking design mode document. r=masayuki,geckoview-reviewers,ohall
  dom/events/IMEStateManager.cpp
  mobile/android/geckoview/src/androidTest/java/org/mozilla/geckoview/test/TextInputDelegateTest.kt
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

no bug - Merge android-l10n translations from mozilla-central r=release a=l10n
  mobile/android/android-components/components/browser/errorpages/src/main/res/values-rm/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-rm/strings.xml
  mobile/android/fenix/app/src/main/res/values-rm/strings.xml
  mobile/android/focus-android/app/src/main/res/values-co/strings.xml
  mobile/android/focus-android/app/src/main/res/values-iw/strings.xml
  mobile/android/focus-android/app/src/main/res/values-ur/strings.xml
Due: eslint

Bug 1931796. Don't UpdateCanvasBackground when the display we are building is for event handling. r=gfx-reviewers,lsalzman
  layout/painting/nsDisplayList.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1931646 [wpt PR 49206] - Fix: Mis-nested form tags inside template parsed incorrectly, a=testonly
  testing/web-platform/tests/html/syntax/parsing/misnested-form-in-template.html
Due: eslint, file-whitespace

Bug 1931775 - [wpt-sync] Update web-platform-tests to 577bbc90555b690f61071a2a42853d14c98c3b25, a=testonly
  testing/web-platform/meta/css/css-borders/tentative/border-radius-side-shorthands/border-radius-side-shorthands-001.html.ini
  testing/web-platform/meta/css/css-pseudo/slider/slider-fill-001.html.ini
  testing/web-platform/meta/css/css-view-transitions/navigation/pagereveal-no-view-transition-new-opt-out.html.ini
  testing/web-platform/meta/html/browsers/browsing-the-web/navigating-across-documents/navigation-unload-same-origin.window.js.ini
  testing/web-platform/meta/html/browsers/browsing-the-web/navigating-across-documents/plugin-document.historical.html.ini
  testing/web-platform/meta/html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/location-setter-user-click.html.ini
  testing/web-platform/meta/html/semantics/forms/the-input-element/time.html.ini
  testing/web-platform/meta/mozilla-sync
  testing/web-platform/meta/push-api/push-with-applicationServerKey.https.any.js.ini
  testing/web-platform/meta/service-workers/service-worker/ServiceWorkerGlobalScope/postmessage.https.html.ini
  testing/web-platform/meta/web-animations/responsive/neutral-keyframe.html.ini
  testing/web-platform/meta/webdriver/tests/classic/element_click/navigate.py.ini
Due: test-manifest

Bug 1567058: part 3) Simplify <to-javascript-parent-initiated-child-csp.html>. r=freddyb
  testing/web-platform/tests/content-security-policy/navigation/to-javascript-parent-initiated-child-csp.html
Due: eslint, file-whitespace

Bug 1567058: part 2) Add tests for when the parent global has CSP and the target global hasn't. r=freddyb
  testing/web-platform/tests/content-security-policy/navigation/to-javascript-parent-initiated-parent-csp.html
Due: eslint, file-whitespace

Bug 1567058: part 1) Transform <to-javascript-parent-initiated-parent-csp.html> to promised-based test. r=freddyb
  testing/web-platform/tests/content-security-policy/navigation/to-javascript-parent-initiated-parent-csp.html
Due: eslint, file-whitespace

Bug 1567058: part 5) Factor some code from <to-javascript-parent-initiated-parent-csp.html> out. r=freddyb
  testing/web-platform/tests/content-security-policy/navigation/support/utils.js
  testing/web-platform/tests/content-security-policy/navigation/to-javascript-parent-initiated-parent-csp.html
Due: eslint, file-whitespace

Bug 1567058: part 4) Transform <to-javascript-parent-initiated-child-csp.html> to promise-test. r=freddyb
  testing/web-platform/tests/content-security-policy/navigation/to-javascript-parent-initiated-child-csp.html
Due: eslint, file-whitespace

Bug 1567058: part 6) Add missing tests to <to-javascript-parent-initiated-child-csp.html>. r=freddyb
  testing/web-platform/tests/content-security-policy/navigation/to-javascript-parent-initiated-child-csp.html
Due: eslint, file-whitespace

Bug 1930474 - [Menu Redesign] The main menu should open after removing an account that was previously disconnected in landscape mode. r=android-reviewers,avirvara
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/account/SignOutFragment.kt
Due: none

Bug 1916688 - [devtools] Add color for markup node in High Contrast Mode. r=ochameau,accessibility-frontend-reviewers,nlapre.
  devtools/client/themes/markup.css
Due: stylelint, file-whitespace

Bug 1931499 - [devtools] Only re-set forced-color-adjust if forced colors is enabled. r=devtools-reviewers,ochameau
  devtools/client/netmonitor/src/assets/styles/RequestList.css
Due: stylelint, file-whitespace

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump
  browser/locales/l10n-changesets.json
Due: eslint

Bug 1929683 - Fix some trivial clippy lints in webrender_api. r=gfx-reviewers,gw
  gfx/wr/webrender_api/src/color.rs
  gfx/wr/webrender_api/src/display_item.rs
  gfx/wr/webrender_api/src/display_item_cache.rs
  gfx/wr/webrender_api/src/display_list.rs
  gfx/wr/webrender_api/src/font.rs
  gfx/wr/webrender_api/src/image.rs
  gfx/wr/webrender_api/src/lib.rs
  gfx/wr/webrender_api/src/units.rs
Due: rustfmt, file-whitespace, trojan-source

Bug 1929683 - Fix a number of trivial warnings in WebRender. r=gfx-reviewers,gw
  gfx/wr/webrender/src/frame_builder.rs
  gfx/wr/webrender/src/hit_test.rs
  gfx/wr/webrender/src/prim_store/borders.rs
  gfx/wr/webrender/src/prim_store/interned.rs
  gfx/wr/webrender/src/prim_store/line_dec.rs
  gfx/wr/webrender/src/prim_store/text_run.rs
  gfx/wr/webrender/src/render_backend.rs
  gfx/wr/webrender/src/render_task_cache.rs
  gfx/wr/webrender/src/renderer/mod.rs
  gfx/wr/webrender/src/renderer/vertex.rs
  gfx/wr/webrender/src/segment.rs
  gfx/wr/webrender/src/spatial_node.rs
  gfx/wr/webrender/src/surface.rs
  gfx/wr/webrender/src/tile_cache.rs
  gfx/wr/webrender/src/visibility.rs
  gfx/wr/wr_glyph_rasterizer/src/platform/unix/font.rs
Due: rustfmt, file-whitespace, trojan-source

Bug 1929683 - Address clippy lints in peek-poke. r=gfx-reviewers,gw
  gfx/wr/peek-poke/peek-poke-derive/src/lib.rs
  gfx/wr/peek-poke/src/euclid.rs
  gfx/wr/peek-poke/src/lib.rs
  gfx/wr/peek-poke/src/slice_ext.rs
Due: rustfmt, file-whitespace, trojan-source

Bug 1929683 - Fix whitespace issues in frame_allocator.rs. r=gfx-reviewers,gw
  gfx/wr/webrender/src/frame_allocator.rs
Due: rustfmt, file-whitespace, trojan-source

Bug 1929683 - Address clippy lints in webrender_build. r=gfx-reviewers,gw
  gfx/wr/webrender_build/src/lib.rs
  gfx/wr/webrender_build/src/shader.rs
  gfx/wr/webrender_build/src/shader_features.rs
Due: rustfmt, file-whitespace, trojan-source

Bug 1922014 - [bidi] Don't emit "browsingContext.navigationStarted" event when creating a new top-level browsing contexts when "about:blank" is loaded. r=webdriver-reviewers,whimboo,jdescottes
  remote/shared/NavigationManager.sys.mjs
Due: eslint

Bug 1922014 - [wdspec] Add tests for "browsingContext.navigationStarted" event when a top-level browsing context get created. r=webdriver-reviewers,whimboo
  testing/web-platform/tests/webdriver/tests/bidi/browsing_context/navigation_started/navigation_started.py
  testing/web-platform/tests/webdriver/tests/bidi/browsing_context/navigation_started/navigation_started_initial_navigation_tentative.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1926311 - [geckodriver] Add flag to allow installing an add-on that is enabled in Private Browsing mode. r=webdriver-reviewers,jgraham
  testing/geckodriver/src/command.rs
  testing/geckodriver/src/marionette.rs
Due: rustfmt, file-whitespace, trojan-source

Bug 1810718 - Add tests for installing an add-on that is enabled in Private Browsing mode. r=webdriver-reviewers,whimboo
  testing/web-platform/mozilla/tests/webdriver/classic/addon_install/__init__.py
  testing/web-platform/mozilla/tests/webdriver/classic/addon_install/addon.py
  testing/web-platform/mozilla/tests/webdriver/classic/addon_install/path.py
  testing/web-platform/mozilla/tests/webdriver/support/addons.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1810718 - Add support for installing an add-on that is enabled in Private Browsing mode. r=webdriver-reviewers,whimboo
  remote/marionette/addon.sys.mjs
  remote/marionette/driver.sys.mjs
Due: eslint

Bug 1928369 - Integrate ML Autofill Model r=credential-management-reviewers,tarek,jneuberger
  browser/extensions/formautofill/test/browser/browser.toml
  browser/extensions/formautofill/test/browser/browser_ml_model.js
  modules/libpref/init/all.js
  toolkit/components/formautofill/Constants.ios.mjs
  toolkit/components/formautofill/FormAutofill.sys.mjs
  toolkit/components/formautofill/FormAutofillParent.sys.mjs
  toolkit/components/formautofill/MLAutofill.sys.mjs
  toolkit/components/formautofill/metrics.yaml
  toolkit/components/formautofill/shared/FieldScanner.sys.mjs
  toolkit/components/ml/content/EngineProcess.sys.mjs
Due: eslint, yaml

Bug 1925694 - Mark /media-source/mediasource-correct-frames-after-reappend.html as timing out on Android regardless of fission status. r=media-playback-reviewers,alwu
  testing/web-platform/meta/media-source/mediasource-correct-frames-after-reappend.html.ini
Due: test-manifest

Bug 1924827: Open "manage profiles" in dialog not tab. r=niklas,jhirsch
  browser/base/content/browser-profiles.js
  browser/components/profiles/SelectableProfileService.sys.mjs
  browser/components/profiles/content/profile-selector.mjs
  browser/components/profiles/content/profiles.html
  browser/components/profiles/tests/browser/browser.toml
  browser/components/profiles/tests/browser/browser_appmenu_menuitem_updates.js
  browser/components/profiles/tests/browser/browser_test_profile_selector.js
Due: eslint, file-whitespace

Bug 1926591 - PreferencesCleaner support for OriginAttributesPattern. r=mak
  dom/interfaces/base/nsIContentPrefService2.idl
  toolkit/components/cleardata/ClearDataService.sys.mjs
  toolkit/components/cleardata/tests/unit/test_content_preferences.js
  toolkit/components/cleardata/tests/unit/xpcshell.toml
  toolkit/components/contentprefs/ContentPrefService2.sys.mjs
  toolkit/components/contentprefs/tests/unit_cps2/test_remove.js
  toolkit/components/contentprefs/tests/unit_cps2/test_removeAllDomains.js
  toolkit/components/contentprefs/tests/unit_cps2/test_removeAllDomainsSince.js
  toolkit/components/contentprefs/tests/unit_cps2/test_removeByDomain.js
  toolkit/components/contentprefs/tests/unit_cps2/test_removeByName.js
  toolkit/mozapps/downloads/DownloadLastDir.sys.mjs
Due: eslint, file-whitespace

Bug 1929896 - Add a UML class diagram for Bounce Tracking Protection components. r=manuel
  toolkit/components/antitracking/docs/bounce-tracking-protection/index.md
Due: file-whitespace
