Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, **/*.java, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml

Bug 1938409 - Add two test cases caused two different assertions. r=botond
  gfx/layers/apz/test/mochitest/browser.toml
  gfx/layers/apz/test/mochitest/browser_test_popup_menu_in_parent_process.js
  gfx/layers/apz/test/mochitest/helper_popup_menu_in_parent_process-1.html
  gfx/layers/apz/test/mochitest/helper_popup_menu_in_parent_process-2.html
Due: eslint, file-whitespace

Bug 1938409: apply code formatting via Lando
  gfx/layers/apz/src/InputQueue.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1938668 - Add individual strings for top and bottom toolbar placement r=android-reviewers,Roger
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/view/ToolbarOnboardingPage.kt
  mobile/android/fenix/app/src/main/res/values/strings.xml
Due: eslint

Bug 1922724 - Ship `contenteditable="plaintext-only"` in early beta builds r=m_kato
  modules/libpref/init/StaticPrefList.yaml
  testing/web-platform/meta/html/editing/editing-0/contenteditable/contenteditable-enumerated-ascii-case-insensitive.html.ini
  testing/web-platform/meta/html/editing/editing-0/contenteditable/user-interaction-editing-contenteditable.html.ini
Due: yaml, test-manifest

no bug - Merge android-l10n translations from mozilla-central r=release a=l10n
  mobile/android/android-components/components/feature/addons/src/main/res/values-eu/strings.xml
  mobile/android/android-components/components/feature/sitepermissions/src/main/res/values-ml/strings.xml
  mobile/android/fenix/app/src/main/res/values-ast/strings.xml
  mobile/android/fenix/app/src/main/res/values-es-rES/strings.xml
  mobile/android/fenix/app/src/main/res/values-eu/strings.xml
  mobile/android/fenix/app/src/main/res/values-ia/strings.xml
  mobile/android/fenix/app/src/main/res/values-ka/strings.xml
  mobile/android/fenix/app/src/main/res/values-ml/strings.xml
  mobile/android/fenix/app/src/main/res/values-sk/strings.xml
Due: eslint

Bug 1937363: Show/Focus Unified Search Button when P&S icon group gets focus r=desktop-theme-reviewers,urlbar-reviewers,dao,tabbrowser-reviewers,daleharvey
  browser/base/content/navigator-toolbox.inc.xhtml
  browser/base/content/test/protectionsUI/head.js
  browser/base/content/test/siteIdentity/browser_identityPopup_focus.js
  browser/components/tabbrowser/test/browser/tabs/browser_multiselect_tabs_using_keyboard.js
  browser/components/urlbar/SearchModeSwitcher.sys.mjs
  browser/components/urlbar/UrlbarController.sys.mjs
  browser/components/urlbar/UrlbarInput.sys.mjs
  browser/components/urlbar/tests/browser/browser_searchModeSwitcher_dynamicUSB.js
  browser/themes/shared/urlbar-searchbar.css
Due: eslint, stylelint, file-whitespace

Bug 1937363: Use Unified Search Button full name r=desktop-theme-reviewers,dao,daleharvey
  browser/app/profile/firefox.js
  browser/components/urlbar/SearchModeSwitcher.sys.mjs
  browser/components/urlbar/UrlbarPrefs.sys.mjs
  browser/components/urlbar/tests/browser/browser.toml
  browser/components/urlbar/tests/browser/browser_searchModeSwitcher_dynamicUnifiedSearchButton.js
  browser/components/urlbar/tests/browser/browser_searchModeSwitcher_keyNavigation.js
  browser/themes/shared/urlbar-searchbar.css
Due: eslint, stylelint, file-whitespace

Bug 1938272 - Update automatic crash reporting setting's strings. r=matt-tighe,android-reviewers
  mobile/android/fenix/app/src/main/res/values/strings.xml
  mobile/android/fenix/app/src/main/res/xml/data_choices_preferences.xml
Due: eslint

Bug 1781600 - disable test_bug279495.html for frequent failures on android debug. r=intermittent-reviewers,jmaher
  docshell/test/navigation/mochitest.toml
Due: none

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  browser/locales/l10n-changesets.json
Due: eslint

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  mobile/locales/l10n-changesets.json
Due: eslint

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump
  browser/locales/l10n-changesets.json
Due: eslint

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump
  mobile/locales/l10n-changesets.json
Due: eslint

Bug 1931692 - Make `MouseEvent::DuplicatePrivateData()` keep storing `mPresContext` r=smaug
  dom/events/Event.h
  dom/events/MouseEvent.cpp
  dom/events/PointerEvent.cpp
  dom/events/UIEvent.cpp
  testing/web-platform/tests/uievents/mouse/offset_and_page_after_dispatch.tentative.html
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1931692 - part 2: Make `dom::Event::mPresContext` a `WeakPtr` r=smaug
  dom/events/Event.cpp
  dom/events/Event.h
  dom/events/MouseEvent.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Backed out changeset a5c5bfff3e12 (bug 1919488) requested by developer.
  mobile/android/android-components/components/support/locale/src/main/java/mozilla/components/support/locale/LocaleAwareAppCompatActivity.kt
Due: none

Backed out changeset 2c48aa9b6764 (bug 1919488) because it was requested by developer.
  mobile/android/android-components/components/support/ktx/src/main/java/mozilla/components/support/ktx/android/content/Context.kt
  mobile/android/android-components/components/support/ktx/src/test/java/mozilla/components/support/ktx/android/content/NightModeTest.kt
  mobile/android/android-components/components/support/locale/src/main/java/mozilla/components/support/locale/LocaleAwareAppCompatActivity.kt
  mobile/android/android-components/docs/changelog.md
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/FenixApplication.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/view/ThemeOnboardingPage.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/CustomizationFragment.kt
Due: file-whitespace

No Bug, mozilla-central repo-update HSTS HPKP remote-settings tld-suffixes ct-logs - r=release-managers,RyanVM
  netwerk/dns/effective_tld_names.dat
  security/ct/CTKnownLogs.h
  security/manager/ssl/StaticHPKPins.h
  security/manager/ssl/nsSTSPreloadList.inc
  security/manager/tools/log_list.json
  services/settings/dumps/blocklists/addons-bloomfilters.json
  services/settings/dumps/security-state/intermediates.json
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1933003 - Add support to use restricted search keywords in both en-US and the localized language. r=mak,fluent-reviewers,settings-reviewers,urlbar-reviewers,mossop
  browser/components/preferences/search.js
  browser/components/preferences/tests/browser_localSearchShortcuts.js
  browser/components/urlbar/UrlbarProviderRestrictKeywords.sys.mjs
  browser/components/urlbar/UrlbarProviderRestrictKeywordsAutofill.sys.mjs
  browser/components/urlbar/UrlbarTokenizer.sys.mjs
  browser/components/urlbar/UrlbarUtils.sys.mjs
  browser/components/urlbar/UrlbarView.sys.mjs
  browser/components/urlbar/content/enUS-searchFeatures.ftl
  browser/components/urlbar/tests/browser/browser.toml
  browser/components/urlbar/tests/browser/browser_restrict_keywords.js
  browser/components/urlbar/tests/browser/browser_restrict_keywords_autofill_locales.js
  browser/components/urlbar/tests/browser/browser_tokenAlias.js
  browser/components/urlbar/tests/browser/browser_urlbar_telemetry_searchmode.js
  browser/components/urlbar/tests/engagementTelemetry/browser/head-groups.js
Due: eslint, fluent-lint, file-whitespace

Bug 1938040: Contextual search supports multiple words r=daleharvey
  browser/components/urlbar/ActionsProviderContextualSearch.sys.mjs
  browser/components/urlbar/tests/browser/browser_secondaryActions.js
Due: eslint

no bug - Import translations from android-l10n r=release a=l10n CLOSED TREE
  mobile/android/android-components/components/browser/errorpages/src/main/res/values-tt/strings.xml
  mobile/android/android-components/components/feature/media/src/main/res/values-tt/strings.xml
  mobile/android/fenix/app/src/main/res/values-pa-rIN/strings.xml
  mobile/android/fenix/app/src/main/res/values-tt/strings.xml
Due: eslint

Backed out changeset 6e615e9f5457 (bug 1938040) for causing xpcshell failures in test_providerOmnibox.js.
  browser/components/urlbar/ActionsProviderContextualSearch.sys.mjs
  browser/components/urlbar/tests/browser/browser_secondaryActions.js
Due: eslint

no bug - Merge android-l10n translations from mozilla-central r=release a=l10n
  mobile/android/android-components/components/lib/crash/src/main/res/values-ka/strings.xml
  mobile/android/fenix/app/src/main/res/values-ast/strings.xml
  mobile/android/fenix/app/src/main/res/values-es/strings.xml
  mobile/android/fenix/app/src/main/res/values-ja/strings.xml
  mobile/android/fenix/app/src/main/res/values-ka/strings.xml
  mobile/android/fenix/app/src/main/res/values-pt-rBR/strings.xml
  mobile/android/fenix/app/src/main/res/values-th/strings.xml
  mobile/android/fenix/app/src/main/res/values-tr/strings.xml
  mobile/android/fenix/app/src/main/res/values-zh-rCN/strings.xml
  mobile/android/focus-android/app/src/main/res/values-ka/strings.xml
  mobile/android/focus-android/app/src/main/res/values-scn/strings.xml
Due: eslint

Bug 1936278 - Prevent search mode chiclet from being dismissed when clicking in page content. r=jteow
  browser/components/urlbar/UrlbarInput.sys.mjs
  browser/components/urlbar/tests/browser/browser.toml
  browser/components/urlbar/tests/browser/browser_searchModeSwitcher_emptyInput.js
Due: eslint

Bug 1938259 - Skip the upload of pdb files larger than 2GB. r=willkg
  toolkit/crashreporter/tools/upload_symbols.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1918459 - Use platform.machine to detect architecture on Windows r=mozbase-reviewers,jmaher
  testing/mozbase/mozinfo/mozinfo/mozinfo.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1935611 - Fix libyuv/libpng link failed for loongarch64. r=glandium,tnikkel,ng
  media/libpng/moz.build
  media/libyuv/05_fix_loongarch64_link_failed.patch
  media/libyuv/libyuv/libyuv.gyp
  media/libyuv/moz.yaml
Due: py-black, yaml

Bug 1936724 Schedule MediaDecoderStateMachine immediately on pause to halt clock advance r=media-playback-reviewers,alwu
  dom/media/MediaDecoderStateMachine.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1930441 - Add telemetry type for search mode actions. r=daisuke,urlbar-reviewers
  browser/components/urlbar/UrlbarUtils.sys.mjs
  browser/components/urlbar/tests/engagementTelemetry/browser/browser_glean_telemetry_engagement_groups.js
Due: eslint

Bug 1819938 - Enable dom.forms.fieldset_disable_only_descendants.enabled by default; r=smaug,masayuki,dom-core
  modules/libpref/init/StaticPrefList.yaml
  testing/web-platform/meta/html/semantics/disabled-elements/__dir__.ini
Due: yaml, test-manifest

no bug - Import translations from android-l10n r=release a=l10n CLOSED TREE
  mobile/android/android-components/components/browser/errorpages/src/main/res/values-scn/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-lo/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-nn-rNO/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-te/strings.xml
  mobile/android/android-components/components/feature/prompts/src/main/res/values-zh-rCN/strings.xml
  mobile/android/fenix/app/src/main/res/values-lo/strings.xml
  mobile/android/fenix/app/src/main/res/values-ml/strings.xml
  mobile/android/fenix/app/src/main/res/values-nn-rNO/strings.xml
  mobile/android/fenix/app/src/main/res/values-te/strings.xml
  mobile/android/fenix/app/src/main/res/values-uk/strings.xml
  mobile/android/fenix/app/src/main/res/values-zh-rCN/strings.xml
Due: eslint
