Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, **/*.java, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml

Bug 1934497 [Wayland] Allow to run GetDesktopEnvironmentIdentifier() from different threads r=emilio
  widget/gtk/WidgetUtilsGtk.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1934497 [Wayland] Udate WaylandBuffer to work with WaylandSurface and implement WaylandBufferDMABUF r=emilio
  widget/gtk/WaylandBuffer.cpp
  widget/gtk/WaylandBuffer.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1934497 [Wayland] Implement wl_surface abstraction as WaylandSurface r=emilio
  mfbt/Atomics.h
  modules/libpref/init/StaticPrefList.yaml
  widget/gtk/WaylandSurface.cpp
  widget/gtk/WaylandSurface.h
  widget/gtk/moz.build
Due: py-black, yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1934497 [Wayland] Implement WaylandSurface lock as WaylandSurfaceLock class r=emilio
  widget/gtk/WaylandSurfaceLock.cpp
  widget/gtk/WaylandSurfaceLock.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1934497 [Wayland] Update WindowSurfaceWaylandMultiBuffer to work with WaylandSurface r=emilio
  widget/gtk/WindowSurfaceWaylandMultiBuffer.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1934497 [Wayland] Move wl_surface management from MozContainerWayland to WaylandSurface and reference it from MozContainerWayland r=emilio
  widget/gtk/MozContainer.cpp
  widget/gtk/MozContainer.h
  widget/gtk/MozContainerWayland.cpp
  widget/gtk/MozContainerWayland.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1934497 [Wayland] Rework WaylandVsyncSource for WaylandSurface r=emilio
  widget/gtk/WaylandVsyncSource.cpp
  widget/gtk/WaylandVsyncSource.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1934497 [Wayland] Switch MozContainerSurfaceLock for WaylandSurfaceClock at RenderCompositorEGL r=emilio
  gfx/webrender_bindings/RenderCompositorEGL.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1934497 [Wayland] Make nsWindow to use WaylandSurface and new VSync interface r=emilio
  widget/gtk/nsWindow.cpp
  widget/gtk/nsWindow.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1934497 [Wayland] Temporary disable layer rendering r=emilio
  gfx/layers/NativeLayerWayland.cpp
  gfx/layers/NativeLayerWayland.h
  gfx/layers/SurfacePoolWayland.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1934497 [Wayland] Update GtkCompositorWidget for WaylandSurface r=emilio
  widget/gtk/GtkCompositorWidget.cpp
  widget/gtk/GtkCompositorWidget.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1934497 [Wayland] Remove MozContainerSurfaceLock r=emilio
  widget/gtk/MozContainerSurfaceLock.cpp
  widget/gtk/MozContainerSurfaceLock.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1934497 [Wayland] Propagate HDR info from WaylandDisplay to Screen r=emilio
  widget/gtk/ScreenHelperGTK.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1934497 [Wayland] Use wl_surface owned by Gtk to set Wayland WakeLockListener r=emilio
  widget/gtk/WakeLockListener.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1935611 - Fix skia build failed for loongarch64. r=lsalzman
  gfx/skia/generate_mozbuild.py
  gfx/skia/moz.build
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1935417 - Add telemetry for navigation bar landscape mode r=android-reviewers,tchoh,petru
  mobile/android/android-components/components/feature/tabs/build.gradle
  mobile/android/android-components/components/feature/tabs/src/main/java/mozilla/components/feature/tabs/toolbar/TabCounterToolbarButton.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/BrowserFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/metrics/MetricController.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/customtabs/CustomTabsIntegration.kt
Due: none

Bug 1935417 - Add telemetry for navigation bar landscape mode r=android-reviewers,tchoh,petru a=pascalc
  mobile/android/android-components/components/feature/tabs/build.gradle
  mobile/android/android-components/components/feature/tabs/src/main/java/mozilla/components/feature/tabs/toolbar/TabCounterToolbarButton.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/BrowserFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/metrics/MetricController.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/customtabs/CustomTabsIntegration.kt
Due: none

Bug 1933488 - Stop manually handling window insets r=android-reviewers,tchoh
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/BaseBrowserFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/search/SearchDialogFragment.kt
Due: none

Bug 1933488 - Stop manually handling window insets r=android-reviewers,tchoh a=pascalc
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/BaseBrowserFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/search/SearchDialogFragment.kt
Due: none

Bug 1936021 - Rename `extensions.ui.ignoreUnsigned` pref to `extensions.ui.showAddonIconForUnsigned`. r=rpl
  browser/base/content/test/webextensions/browser_extension_sideloading.js
  browser/modules/ExtensionsUI.sys.mjs
  toolkit/mozapps/extensions/test/browser/browser_local_install.js
  toolkit/mozapps/extensions/test/browser/browser_permission_prompt.js
Due: eslint

Bug 1930342 - Drop debug a printf in HeadlessWidget.cpp. r=emilio
  widget/headless/HeadlessWidget.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1930342 - Clamp sampled visual scroll offsets after applying scroll updates to them. r=botond
  gfx/layers/apz/src/AsyncPanZoomController.cpp
  gfx/layers/apz/test/mochitest/helper_bug1930342.html
  gfx/layers/apz/test/mochitest/mochitest.toml
  gfx/layers/apz/test/mochitest/test_group_scroll_anchor.html
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1935688 - Remove inline event handlers from MozTabbrowserTab. r=tabbrowser-reviewers,mconley
  browser/components/tabbrowser/content/tab.js
Due: eslint

Bug 1912697 - Refresh and delete history should work after the device theme has changed. r=android-reviewers,npoon
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/library/history/HistoryFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/library/history/HistoryView.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/library/history/state/HistoryNavigationMiddleware.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/library/history/state/HistorySyncMiddleware.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/library/history/state/HistoryNavigationMiddlewareTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/library/history/state/HistorySyncMiddlewareTest.kt
Due: none

Bug 1935419 - Instrument histograms that use AccumulateTimeDelta backwards a=pascalc
  toolkit/components/telemetry/core/Telemetry.cpp
  toolkit/components/telemetry/metrics.yaml
  toolkit/components/telemetry/tests/gtest/TestHistograms.cpp
Due: yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump
  browser/locales/l10n-changesets.json
Due: eslint

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump
  mobile/locales/l10n-changesets.json
Due: eslint

Bug 1935940 - Update to fluent.migrate 0.13.2. r=bolsson,mach-reviewers,ahal
  third_party/python/fluent.migrate/fluent.migrate-0.13.2.dist-info/LICENSE
  third_party/python/fluent.migrate/fluent.migrate-0.13.2.dist-info/METADATA
  third_party/python/fluent.migrate/fluent.migrate-0.13.2.dist-info/RECORD
  third_party/python/fluent.migrate/fluent.migrate-0.13.2.dist-info/WHEEL
  third_party/python/fluent.migrate/fluent.migrate-0.13.2.dist-info/entry_points.txt
  third_party/python/fluent.migrate/fluent.migrate-0.13.2.dist-info/top_level.txt
  third_party/python/fluent.migrate/fluent/migrate/repo_client.py
  third_party/python/fluent.migrate/fluent/migrate/validator.py
  third_party/python/pyproject.toml
  third_party/python/requirements.txt
  third_party/python/uv.lock
  third_party/python/uv.lock.hash
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1933331 - [bidi] Update initiatorType and destination for top level document loads a=pascalc
  remote/shared/NetworkRequest.sys.mjs
Due: eslint

Bug 1933331 - [wdspec] Update initiatorType and destination tests for top level loads a=pascalc
  testing/web-platform/tests/webdriver/tests/bidi/network/before_request_sent/before_request_sent.py
  testing/web-platform/tests/webdriver/tests/bidi/network/response_completed/response_completed.py
  testing/web-platform/tests/webdriver/tests/bidi/network/response_started/response_started.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1933331 - [wdspec] Add tests for initiatorType and destination for iframe loads a=pascalc
  testing/web-platform/tests/webdriver/tests/bidi/network/before_request_sent/before_request_sent.py
  testing/web-platform/tests/webdriver/tests/bidi/network/response_completed/response_completed.py
  testing/web-platform/tests/webdriver/tests/bidi/network/response_started/response_started.py
  testing/web-platform/tests/webdriver/tests/bidi/network/support/initiator/simple-initiator.html
Due: eslint, py-black, py-ruff, file-whitespace, trojan-source

Bug 1935475 - Defend against sync callbacks in Show call. a=pascalc
  dom/notification/NotificationParent.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1657404 - Gamepad: Make a singleton to hold monitoring observers r=handyman
  dom/gamepad/GamepadPlatformService.cpp
  dom/gamepad/GamepadPlatformService.h
  dom/gamepad/ipc/GamepadTestChannelParent.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Backed out 16 changesets (bug 1934497) for causing Wayland related mochitest failures and bustage on WaylandSurface.cpp CLOSED TREE
  gfx/layers/NativeLayerWayland.cpp
  gfx/layers/NativeLayerWayland.h
  gfx/layers/SurfacePoolWayland.cpp
  gfx/webrender_bindings/RenderCompositorEGL.cpp
  mfbt/Atomics.h
  modules/libpref/init/StaticPrefList.yaml
  widget/gtk/GRefPtr.h
  widget/gtk/GtkCompositorWidget.cpp
  widget/gtk/GtkCompositorWidget.h
  widget/gtk/MozContainer.cpp
  widget/gtk/MozContainer.h
  widget/gtk/MozContainerSurfaceLock.cpp
  widget/gtk/MozContainerSurfaceLock.h
  widget/gtk/MozContainerWayland.cpp
  widget/gtk/MozContainerWayland.h
  widget/gtk/ScreenHelperGTK.cpp
  widget/gtk/WakeLockListener.cpp
  widget/gtk/WaylandBuffer.cpp
  widget/gtk/WaylandBuffer.h
  widget/gtk/WaylandSurface.cpp
  widget/gtk/WaylandSurface.h
  widget/gtk/WaylandSurfaceLock.cpp
  widget/gtk/WaylandSurfaceLock.h
  widget/gtk/WaylandVsyncSource.cpp
  widget/gtk/WaylandVsyncSource.h
  widget/gtk/WidgetUtilsGtk.cpp
  widget/gtk/WindowSurfaceWaylandMultiBuffer.cpp
  widget/gtk/moz.build
  widget/gtk/nsAppShell.cpp
  widget/gtk/nsWindow.cpp
  widget/gtk/nsWindow.h
Due: py-black, yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1935594 - Enable TrustedType support when running content-security-policy WPT tests. r=smaug
  testing/web-platform/meta/content-security-policy/__dir__.ini
  testing/web-platform/meta/content-security-policy/securitypolicyviolation/source-file.html.ini
Due: test-manifest

Bug 1934962 [wpt PR 49498] - WebKit export of https://bugs.webkit.org/show_bug.cgi?id=283920, a=testonly
  testing/web-platform/tests/css/css-grid/masonry/tentative/subgrid/track-sizing/masonry-subgrid-flex-ref.html
  testing/web-platform/tests/css/css-grid/masonry/tentative/subgrid/track-sizing/masonry-subgrid-flex.html
  testing/web-platform/tests/css/css-grid/masonry/tentative/subgrid/track-sizing/masonry-subgrid-intrinsic-sizing-ref.html
  testing/web-platform/tests/css/css-grid/masonry/tentative/subgrid/track-sizing/masonry-subgrid-intrinsic-sizing.html
  testing/web-platform/tests/css/css-grid/masonry/tentative/subgrid/track-sizing/masonry-subgrid-ref.html
  testing/web-platform/tests/css/css-grid/masonry/tentative/subgrid/track-sizing/masonry-subgrid.html
Due: eslint, file-whitespace

Bug 1934962 [wpt PR 49498] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-grid/masonry/tentative/subgrid/track-sizing/masonry-subgrid-flex.html.ini
  testing/web-platform/meta/css/css-grid/masonry/tentative/subgrid/track-sizing/masonry-subgrid-intrinsic-sizing.html.ini
Due: test-manifest

Bug 1934691 [wpt PR 49475] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-cols-001-auto.html.ini
  testing/web-platform/meta/css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-cols-001-fr.html.ini
  testing/web-platform/meta/css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-cols-001-mix1.html.ini
  testing/web-platform/meta/css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-cols-001-mix2.html.ini
  testing/web-platform/meta/css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-cols-001.html.ini
  testing/web-platform/meta/css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-cols-002-auto.html.ini
  testing/web-platform/meta/css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-cols-002-fr.html.ini
  testing/web-platform/meta/css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-cols-002-mix1.html.ini
  testing/web-platform/meta/css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-cols-002-mix2.html.ini
  testing/web-platform/meta/css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-cols-002.html.ini
  testing/web-platform/meta/css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-cols-003-auto.html.ini
  testing/web-platform/meta/css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-cols-003-fr.html.ini
  testing/web-platform/meta/css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-cols-003-mix1.html.ini
  testing/web-platform/meta/css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-cols-003-mix2.html.ini
  testing/web-platform/meta/css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-cols-003.html.ini
  testing/web-platform/meta/css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-cols-004-auto.html.ini
  testing/web-platform/meta/css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-cols-004-fr.html.ini
  testing/web-platform/meta/css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-cols-004-mix1.html.ini
  testing/web-platform/meta/css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-cols-004-mix2.html.ini
  testing/web-platform/meta/css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-cols-004.html.ini
  testing/web-platform/meta/css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-rows-001-auto.html.ini
  testing/web-platform/meta/css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-rows-001-fr.html.ini
  testing/web-platform/meta/css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-rows-001-mix1.html.ini
  testing/web-platform/meta/css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-rows-001-mix2.html.ini
  testing/web-platform/meta/css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-rows-001.html.ini
  testing/web-platform/meta/css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-rows-002-auto.html.ini
  testing/web-platform/meta/css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-rows-002-fr.html.ini
  testing/web-platform/meta/css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-rows-002-mix1.html.ini
  testing/web-platform/meta/css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-rows-002-mix2.html.ini
  testing/web-platform/meta/css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-rows-002.html.ini
  testing/web-platform/meta/css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-rows-003-auto.html.ini
  testing/web-platform/meta/css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-rows-003-fr.html.ini
  testing/web-platform/meta/css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-rows-003-mix1.html.ini
  testing/web-platform/meta/css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-rows-003-mix2.html.ini
  testing/web-platform/meta/css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-rows-003.html.ini
  testing/web-platform/meta/css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-rows-004-auto.html.ini
  testing/web-platform/meta/css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-rows-004-fr.html.ini
  testing/web-platform/meta/css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-rows-004-mix1.html.ini
  testing/web-platform/meta/css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-rows-004-mix2.html.ini
  testing/web-platform/meta/css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-rows-004.html.ini
Due: test-manifest

Bug 1934953 [wpt PR 49497] - [wptrunner] Always bypass reftest image diff when hashes match, a=testonly
  testing/web-platform/tests/tools/wptrunner/wptrunner/executors/base.py
Due: py-black, py-ruff, file-whitespace, trojan-source
