Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

eslint:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py eslint

stylelint:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py stylelint

py-black:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py black

py-ruff:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py ruff

yaml:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py yaml

shellcheck:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py shellcheck

clang-format:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  ...

rustfmt:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py rustfmt

fluent-lint:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py fluent-lint

localization:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py l10n

Bug 1917453 - Clean up and modernize NotifyUtils.cpp; r=dom-storage-reviewers,jari
  dom/quota/NotifyUtils.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1917453 - Avoid firing notifications required only by tests when the testing pref is not set; r=dom-storage-reviewers,jari
  dom/quota/NotifyUtils.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1917453 - Use a common helper for observing notifications in tests; r=dom-storage-reviewers,jari
  dom/quota/test/xpcshell/test_idle_maintenance.js
  dom/quota/test/xpcshell/test_storagePressure.js
Due: eslint

Bug 1900395 - [devtools] Set cursor positon in the footer when doing file searches r=devtools-reviewers,nchevobbe
  devtools/client/debugger/src/components/Editor/SearchInFileBar.js
Due: eslint

Bug 1900395 - [devtools] Mark the last line in a blackboxed source r=devtools-reviewers,nchevobbe
  devtools/client/shared/sourceeditor/editor.js
Due: eslint

Bug 1900395 - [devtools] Remove the breakpoint panel editor only in CM6 r=devtools-reviewers,nchevobbe
  devtools/client/debugger/src/components/Editor/ConditionalPanel.js
  devtools/client/debugger/test/mochitest/shared-head.js
Due: eslint

Bug 1900395 - [devtools] Fix failing accessibility tests r=devtools-reviewers,nchevobbe
  devtools/client/debugger/test/mochitest/browser_aj.toml
  devtools/client/debugger/test/mochitest/browser_kz.toml
Due: none

Bug 1918547 - Add `filled_modified` event back to iOS. r=dimi
  browser/extensions/formautofill/test/unit/test_autofill_ios_library.js
  toolkit/components/formautofill/FormAutofillChild.ios.sys.mjs
  toolkit/components/formautofill/shared/FormAutofillHandler.sys.mjs
Due: eslint

Backed out 2 changesets (bug 1917579) for causing multiple webcodecs failures. CLOSED TREE
  dom/media/platforms/ffmpeg/FFmpegAudioDecoder.cpp
  testing/web-platform/tests/webcodecs/README.md
  testing/web-platform/tests/webcodecs/audioDecoder-codec-specific.https.any.js
  testing/web-platform/tests/webcodecs/sfx.flac
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1918545 - Remove all panel item should be disabled when there are no logins. r=mtigley
  toolkit/components/satchel/megalist/content/MegalistAlpha.mjs
  toolkit/components/satchel/megalist/content/megalist.html
Due: eslint, file-whitespace

Bug 1908615 - [devtools] Convey the DOM event target type when tracing DOM events. r=devtools-reviewers,nchevobbe
  devtools/client/debugger/test/mochitest/browser_dbg-javascript-tracer-sidebar.js
  devtools/client/debugger/test/mochitest/browser_dbg-javascript-tracer-worker.js
  devtools/client/debugger/test/mochitest/browser_dbg-javascript-tracer.js
  devtools/server/tracer/tests/browser/browser_document_tracer.js
  devtools/server/tracer/tracer.sys.mjs
Due: eslint

Bug 1908615 - [devtools] Pass raw DOM event name from tracer RDP packet. r=devtools-reviewers,nchevobbe
  devtools/client/debugger/src/components/PrimaryPanes/Tracer.js
  devtools/client/webconsole/components/Output/message-types/JSTracerTrace.js
  devtools/server/tracer/tests/browser/browser_document_tracer.js
  devtools/server/tracer/tracer.sys.mjs
Due: eslint

Bug 1908615 - [devtools] Support Ctrl + Click to select only one type of events. r=devtools-reviewers,nchevobbe
  devtools/client/debugger/src/components/PrimaryPanes/Tracer.css
  devtools/client/debugger/src/components/PrimaryPanes/Tracer.js
  devtools/client/debugger/src/components/SecondaryPanes/tests/__snapshots__/EventListeners.spec.js.snap
  devtools/client/debugger/src/components/shared/EventListeners.js
  devtools/client/debugger/test/mochitest/browser_dbg-event-breakpoints.js
  devtools/client/debugger/test/mochitest/browser_dbg-javascript-tracer-sidebar.js
Due: eslint, stylelint, file-whitespace

Bug 1908615 - [devtools] Highlight DOM Events in the left timeline when hovering events in the events panel. r=devtools-reviewers,nchevobbe
  devtools/client/debugger/src/actions/event-listeners.js
  devtools/client/debugger/src/components/PrimaryPanes/Tracer.css
  devtools/client/debugger/src/components/PrimaryPanes/Tracer.js
  devtools/client/debugger/src/components/SecondaryPanes/tests/__snapshots__/EventListeners.spec.js.snap
  devtools/client/debugger/src/components/shared/EventListeners.js
  devtools/client/debugger/src/reducers/tracer-frames.js
  devtools/client/debugger/src/selectors/tracer.js
  devtools/client/debugger/test/mochitest/browser_dbg-javascript-tracer-sidebar.js
Due: eslint, stylelint, file-whitespace

Bug 1908615 - [devtools] Display all recorded DOM Events in a dedicated view to filter them. r=devtools-reviewers,nchevobbe
  devtools/client/debugger/src/actions/event-listeners.js
  devtools/client/debugger/src/client/firefox.js
  devtools/client/debugger/src/components/PrimaryPanes/Tracer.css
  devtools/client/debugger/src/components/PrimaryPanes/Tracer.js
  devtools/client/debugger/src/components/SecondaryPanes/index.js
  devtools/client/debugger/src/components/SecondaryPanes/moz.build
  devtools/client/debugger/src/components/SecondaryPanes/tests/EventListeners.spec.js
  devtools/client/debugger/src/components/shared/EventListeners.js
  devtools/client/debugger/src/components/shared/moz.build
  devtools/client/debugger/src/main.js
  devtools/client/debugger/src/reducers/event-listeners.js
  devtools/client/debugger/src/reducers/tracer-frames.js
  devtools/client/debugger/src/selectors/event-listeners.js
  devtools/client/debugger/src/selectors/tracer.js
  devtools/client/debugger/test/mochitest/browser_dbg-event-breakpoints-fission.js
  devtools/client/debugger/test/mochitest/browser_dbg-javascript-tracer-sidebar.js
  devtools/client/debugger/test/mochitest/browser_dbg-log-events.js
  devtools/server/actors/utils/event-breakpoints.js
Due: eslint, stylelint, py-black, file-whitespace

Bug 1918644 - Use xlarge instances for Android shippable builds. r=releng-reviewers,bhearsum
  taskcluster/kinds/build-fat-aar/kind.yml
  taskcluster/kinds/build/android.yml
  taskcluster/kinds/instrumented-build/kind.yml
Due: yaml

Bug 1918644 - Use xlarge instances for Android shippable builds. r=releng-reviewers,bhearsum a=release
  taskcluster/kinds/build-fat-aar/kind.yml
  taskcluster/kinds/build/android.yml
  taskcluster/kinds/instrumented-build/kind.yml
Due: yaml

No bug - Tagging eb3adbc33494ee43f69867e445e13a1250fc89c0 with FIREFOX-ANDROID_131_0b6_BUILD1 a=release CLOSED TREE DONTBUILD
  .hgtags
Due: none

Bug 1755634 - Extending regex for postal code input fields on german websites for better detection of autofill fields. r=dimi
  toolkit/components/formautofill/shared/HeuristicsRegExp.sys.mjs
Due: eslint

No bug - Tagging eb3adbc33494ee43f69867e445e13a1250fc89c0 with DEVEDITION_131_0b6_BUILD1 a=release CLOSED TREE DONTBUILD
  .hgtags
Due: none

No bug - Tagging eb3adbc33494ee43f69867e445e13a1250fc89c0 with FIREFOX_131_0b6_BUILD1 a=release CLOSED TREE DONTBUILD
  .hgtags
Due: none

Bug 1166408 - Part 1: Rename BindName to BindUnqualifiedName and add new BindName. r=spidermonkey-reviewers,jandem
  js/src/debugger/Script.cpp
  js/src/frontend/BytecodeEmitter.cpp
  js/src/frontend/NameOpEmitter.cpp
  js/src/jit/BaselineCodeGen.cpp
  js/src/jit/BaselineIC.cpp
  js/src/jit/CacheIR.cpp
  js/src/jit/IonIC.cpp
  js/src/jit/PerfSpewer.cpp
  js/src/jit/WarpBuilder.cpp
  js/src/jit/WarpOracle.cpp
  js/src/vm/BytecodeUtil.cpp
  js/src/vm/EnvironmentObject.h
  js/src/vm/Interpreter.cpp
  js/src/vm/JSObject.cpp
  js/src/vm/NativeObject.cpp
  js/src/vm/Opcodes.h
  js/src/vm/PortableBaselineInterpret.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1166408 - Part 2: Don't perform another scope lookup in ImplicitThis. r=spidermonkey-reviewers,jandem
  js/src/frontend/NameOpEmitter.cpp
  js/src/jit/BaselineCodeGen.cpp
  js/src/jit/CodeGenerator.cpp
  js/src/jit/Lowering.cpp
  js/src/jit/MIROps.yaml
  js/src/jit/WarpBuilder.cpp
  js/src/vm/Interpreter.cpp
  js/src/vm/Interpreter.h
  js/src/vm/Opcodes.h
  js/src/vm/PortableBaselineInterpret.cpp
Due: yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1166408 - Part 3: Inline ComputeImplicitThis in Ion. r=spidermonkey-reviewers,jandem
  js/src/jit/BaselineCodeGen.cpp
  js/src/jit/CodeGenerator.cpp
  js/src/jit/LIROps.yaml
  js/src/jit/Lowering.cpp
  js/src/jit/MIROps.yaml
  js/src/jit/MacroAssembler.cpp
  js/src/jit/MacroAssembler.h
  js/src/vm/EnvironmentObject.h
Due: yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1166408 - Part 4: Remove an unused out-param from LookupNameNoGC. r=spidermonkey-reviewers,jandem
  js/src/vm/Interpreter-inl.h
  js/src/vm/JSObject.cpp
  js/src/vm/JSObject.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1166408 - Part 5: Rename BindGName to BindUnqualifiedGName. r=jandem
  js/src/debugger/Script.cpp
  js/src/frontend/BytecodeEmitter.cpp
  js/src/frontend/NameOpEmitter.cpp
  js/src/jit/BaselineCodeGen.cpp
  js/src/jit/BaselineCodeGen.h
  js/src/jit/BaselineIC.cpp
  js/src/jit/IonIC.cpp
  js/src/jit/PerfSpewer.cpp
  js/src/jit/WarpBuilder.cpp
  js/src/jit/WarpOracle.cpp
  js/src/jit/WarpSnapshot.cpp
  js/src/jit/WarpSnapshot.h
  js/src/vm/BytecodeUtil.cpp
  js/src/vm/EnvironmentObject.cpp
  js/src/vm/EnvironmentObject.h
  js/src/vm/Interpreter.cpp
  js/src/vm/Opcodes.h
  js/src/vm/PortableBaselineInterpret.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1916188 - Fix issue with selected pinned tab reordering for vertical tabs r=mconley
  browser/components/sessionstore/test/browser_restore_verticalPinnedTabs.js
  browser/components/tabbrowser/content/tabbrowser.js
Due: eslint

Bug 1918220 - replace `T` output a=pascalc
  toolkit/components/ml/content/ONNXPipeline.mjs
Due: eslint

Bug 1915134 - Add pref to enable Extensible Prioritization Scheme without sending SETTINGS_NO_RFC7540_PRIORITIES r=acreskey,necko-reviewers,jesup
  modules/libpref/init/StaticPrefList.yaml
  netwerk/protocol/http/Http2Session.cpp
  toolkit/components/nimbus/FeatureManifest.yaml
Due: yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1915134 - Flip network.http.http2.enabled.deps to false r=acreskey
  modules/libpref/init/StaticPrefList.yaml
Due: yaml

Bug 1918304 - Fix l10n git repository cloning step in ./mach build installers-$AB_CD, r=bhearsum
  build/docs/locales.rst
  toolkit/locales/l10n.mk
Due: file-whitespace

Bug 1918308 - Add dynamic tests for mtable@align/frame/width attributes. r=emilio
  testing/web-platform/mozilla/tests/mathml/tables/mtable-dynamic-align-attribute-001-ref.html
  testing/web-platform/mozilla/tests/mathml/tables/mtable-dynamic-align-attribute-001.html
  testing/web-platform/mozilla/tests/mathml/tables/mtable-dynamic-align-attribute-002-ref.html
  testing/web-platform/mozilla/tests/mathml/tables/mtable-dynamic-align-attribute-002.html
  testing/web-platform/mozilla/tests/mathml/tables/mtable-dynamic-align-attribute-003-ref.html
  testing/web-platform/mozilla/tests/mathml/tables/mtable-dynamic-align-attribute-003.html
  testing/web-platform/mozilla/tests/mathml/tables/mtable-dynamic-frame-attribute-001-ref.html
  testing/web-platform/mozilla/tests/mathml/tables/mtable-dynamic-frame-attribute-001.html
  testing/web-platform/mozilla/tests/mathml/tables/mtable-dynamic-frame-attribute-002-ref.html
  testing/web-platform/mozilla/tests/mathml/tables/mtable-dynamic-frame-attribute-002.html
  testing/web-platform/mozilla/tests/mathml/tables/mtable-dynamic-frame-attribute-003-ref.html
  testing/web-platform/mozilla/tests/mathml/tables/mtable-dynamic-frame-attribute-003.html
  testing/web-platform/mozilla/tests/mathml/tables/mtable-dynamic-width-attribute-001-ref.html
  testing/web-platform/mozilla/tests/mathml/tables/mtable-dynamic-width-attribute-001.html
  testing/web-platform/mozilla/tests/mathml/tables/mtable-dynamic-width-attribute-002-ref.html
  testing/web-platform/mozilla/tests/mathml/tables/mtable-dynamic-width-attribute-002.html
  testing/web-platform/mozilla/tests/mathml/tables/mtable-dynamic-width-attribute-003-ref.html
  testing/web-platform/mozilla/tests/mathml/tables/mtable-dynamic-width-attribute-003.html
Due: eslint, file-whitespace

Bug 1918308 - Add WPT test for dynamic change of the MathML href attribute. r=emilio
  testing/web-platform/tests/mathml/relations/html5-tree/dynamic-href-001.tentative-ref.html
  testing/web-platform/tests/mathml/relations/html5-tree/dynamic-href-001.tentative.html
  testing/web-platform/tests/mathml/relations/html5-tree/dynamic-href-002.tentative.html
Due: eslint, file-whitespace

Bug 1918308 - Don't always force a reflow in nsMathMLContainerFrame::AttributeChanged. r=emilio
  layout/mathml/nsMathMLContainerFrame.cpp
  layout/mathml/nsMathMLContainerFrame.h
  layout/mathml/nsMathMLmencloseFrame.cpp
  layout/mathml/nsMathMLmfracFrame.cpp
  layout/mathml/nsMathMLmoFrame.cpp
  layout/mathml/nsMathMLmpaddedFrame.cpp
  layout/mathml/nsMathMLmspaceFrame.cpp
  layout/mathml/nsMathMLmtableFrame.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1918114 - Part 1: Optimise Int64 x IntPtr comparison. r=jandem
  js/src/jit-test/tests/warp/bigint64-cmp.js
  js/src/jit/MIR.cpp
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1918114 - Part 2: Add MCompare::Compare_IntPtr. r=jandem,nbp
  js/src/jit/CodeGenerator.cpp
  js/src/jit/Lowering.cpp
  js/src/jit/MIR.cpp
  js/src/jit/MIR.h
  js/src/jit/RangeAnalysis.cpp
  js/src/jit/TypePolicy.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1918114 - Part 3: Optimize BigInt-as-IntPtr comparison. r=jandem
  js/src/jit-test/tests/warp/bigintptr-cmp.js
  js/src/jit/MIR.cpp
  js/src/jit/MIR.h
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1918114 - Part 4: Fold MIntPtrToBigInt in MNot. r=jandem
  js/src/jit-test/tests/warp/bigintptr-test.js
  js/src/jit/CodeGenerator.cpp
  js/src/jit/LIROps.yaml
  js/src/jit/Lowering.cpp
  js/src/jit/MIR.cpp
  js/src/jit/shared/LIR-shared.h
Due: eslint, yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1918114 - Part 6: Split to avoid hitting max-script size limit. r=jandem
  js/src/jit-test/tests/warp/bigint64-cmp.js
Due: eslint

Bug 1918114 - Part 5: Move NotI/NotI64 into shared codegen. r=jandem
  js/src/jit/CodeGenerator.cpp
  js/src/jit/arm/CodeGenerator-arm.cpp
  js/src/jit/arm/MacroAssembler-arm-inl.h
  js/src/jit/arm64/CodeGenerator-arm64.cpp
  js/src/jit/loong64/CodeGenerator-loong64.cpp
  js/src/jit/mips-shared/CodeGenerator-mips-shared.cpp
  js/src/jit/mips32/CodeGenerator-mips32.cpp
  js/src/jit/mips64/CodeGenerator-mips64.cpp
  js/src/jit/riscv64/CodeGenerator-riscv64.cpp
  js/src/jit/wasm32/CodeGenerator-wasm32.cpp
  js/src/jit/x64/CodeGenerator-x64.cpp
  js/src/jit/x86-shared/CodeGenerator-x86-shared.cpp
  js/src/jit/x86/CodeGenerator-x86.cpp
  js/src/jit/x86/MacroAssembler-x86-inl.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml
