Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml

Bug 1925655 [wpt PR 48703] - Fix safari-wptrunner.yml to match the schema, a=testonly
  testing/web-platform/tests/.github/workflows/safari-wptrunner.yml
Due: yaml

Bug 1925683 - [wpt-sync] Update web-platform-tests to 7e91324675c24957fa5bdf82b16f0c337754cb17, a=testonly
  testing/web-platform/meta/IndexedDB/upgrade-transaction-deactivation-timing.html.ini
  testing/web-platform/meta/IndexedDB/upgrade-transaction-lifecycle-backend-aborted.html.ini
  testing/web-platform/meta/IndexedDB/upgrade-transaction-lifecycle-committed.html.ini
  testing/web-platform/meta/IndexedDB/upgrade-transaction-lifecycle-user-aborted.html.ini
  testing/web-platform/meta/accname/name/comp_embedded_control.html.ini
  testing/web-platform/meta/clipboard-apis/async-navigator-clipboard-basics.https.html.ini
  testing/web-platform/meta/content-security-policy/frame-ancestors/__dir__.ini
  testing/web-platform/meta/css/css-conditional/container-queries/scroll-state-stuck-container-type-change.html.ini
  testing/web-platform/meta/css/css-conditional/container-queries/scroll-state-stuck-writing-direction.html.ini
  testing/web-platform/meta/css/css-values/calc-size/animation/calc-size-height-interpolation.html.ini
  testing/web-platform/meta/css/css-values/calc-size/animation/interpolate-size-height-composition.html.ini
  testing/web-platform/meta/css/css-values/calc-size/animation/interpolate-size-max-height-composition.html.ini
  testing/web-platform/meta/css/css-values/calc-size/animation/interpolate-size-max-width-composition.html.ini
  testing/web-platform/meta/css/css-values/calc-size/animation/interpolate-size-min-height-composition.html.ini
  testing/web-platform/meta/css/css-values/calc-size/animation/interpolate-size-min-width-composition.html.ini
  testing/web-platform/meta/css/css-values/calc-size/animation/interpolate-size-width-composition.html.ini
  testing/web-platform/meta/css/css-view-transitions/parsing/view-transition-capture-mode-valid.html.ini
  testing/web-platform/meta/digital-credentials/allow-attribute.https.html.ini
  testing/web-platform/meta/digital-credentials/disabled-by-permissions-policy.https.sub.html.ini
  testing/web-platform/meta/digital-credentials/enabled-on-self-origin-by-permissions-policy.https.sub.html.ini
  testing/web-platform/meta/digital-credentials/get.tentative.https.html.ini
  testing/web-platform/meta/html/cross-origin-opener-policy/iframe-popup-same-origin-allow-popups-to-unsafe-none.https.html.ini
  testing/web-platform/meta/html/cross-origin-opener-policy/tentative/restrict-properties/iframe-popup-to-soap.https.html.ini
  testing/web-platform/meta/idle-detection/idle-detection-allowed-by-permissions-policy.https.sub.html.ini
  testing/web-platform/meta/intersection-observer/isIntersecting-threshold.html.ini
  testing/web-platform/meta/intersection-observer/root-margin-rounding.html.ini
  testing/web-platform/meta/intersection-observer/scroll-margin-non-scrolling-root.html.ini
  testing/web-platform/meta/mozilla-sync
  testing/web-platform/meta/navigation-api/navigation-history-entry/entries-after-bfcache-in-iframe.html.ini
  testing/web-platform/meta/partitioned-popins/partitioned-popins.permission-self.tentative.sub.https.window.js.ini
  testing/web-platform/meta/partitioned-popins/partitioned-popins.proxy-cross.tentative.sub.https.window.js.ini
  testing/web-platform/meta/pointerevents/pointerevent_after_target_appended.html.ini
  testing/web-platform/meta/shadow-dom/reference-target/tentative/property-reflection.html.ini
  testing/web-platform/meta/storage/quotachange-in-detached-iframe.tentative.https.html.ini
  testing/web-platform/meta/svg/layout/svg-embed-intrinsic-size-min-size.html.ini
  testing/web-platform/meta/webcodecs/videoFrame-construction.any.js.ini
  testing/web-platform/meta/webrtc-stats/supported-stats.https.html.ini
  testing/web-platform/meta/webrtc/RTCRtpReceiver-getStats.https.html.ini
Due: test-manifest

Bug 1922371 - part 1 - Show divider for navbar on homescreen r=android-reviewers,skhan
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  mobile/android/fenix/app/src/main/res/values/dimens.xml
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/utils/SettingsTest.kt
Due: eslint

Bug 1922371 - part 2 - Show divider for navbar in the browser screen r=android-reviewers,skhan
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/BaseBrowserFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/utils/SettingsTest.kt
Due: none

Bug 1924541 - Add and use assertThrowsInstanceOf helpers; r=dminor
  js/src/tests/non262/Array/iterator_edge_cases.js
  js/src/tests/non262/AsyncGenerators/for-await-of-error.js
  js/src/tests/non262/Function/function-bind.js
  js/src/tests/non262/PrivateName/illegal-in-class-context.js
  js/src/tests/non262/String/iterator_edge_cases.js
  js/src/tests/non262/String/thisv-error.js
  js/src/tests/non262/class/uninitializedThisError.js
  js/src/tests/non262/expressions/inNotObjectError.js
  js/src/tests/non262/expressions/optional-chain.js
  js/src/tests/non262/extensions/RegExp-error-message-skip-selfhosted-frames.js
  js/src/tests/non262/extensions/decompile-for-of.js
  js/src/tests/non262/extensions/quote-string-for-nul-character.js
  js/src/tests/non262/generators/yield-error.js
  js/src/tests/non262/regress/regress-1383630.js
  js/src/tests/non262/regress/regress-469625-03.js
  js/src/tests/non262/regress/regress-469758.js
  js/src/tests/non262/regress/regress-609617.js
  js/src/tests/non262/regress/regress-619003-1.js
  js/src/tests/non262/regress/regress-640075.js
  js/src/tests/non262/shell.js
  js/src/tests/non262/strict/deprecated-octal-noctal-tokens.js
  js/src/tests/non262/syntax/bug1863308.js
Due: eslint

Bug 1924541 - Fix a bug in non262/Iterator/from/modify-return.js; r=dminor
  js/src/tests/non262/Iterator/from/modify-return.js
Due: eslint

Bug 1924541 - Remove some console.log calls from non262 tests; r=dminor
  js/src/tests/non262/AsyncIterator/prototype/asIndexedPairs/asIndexedPairs.js
  js/src/tests/non262/AsyncIterator/prototype/filter/filter.js
  js/src/tests/non262/AsyncIterator/prototype/flatMap/throw-when-inner-not-iterable.js
  js/src/tests/non262/AsyncIterator/prototype/lazy-methods-iterator-not-closed-on-next-get-then-throws.js
  js/src/tests/non262/AsyncIterator/prototype/lazy-methods-iterator-not-closed-on-next-then-throws.js
  js/src/tests/non262/Iterator/prototype/map/proxy-abrupt-completion-in-iteratorValue.js
Due: eslint

Bug 1924541 - Tighten some non262 tests; r=dminor
  js/src/tests/non262/Array/iterator_edge_cases.js
  js/src/tests/non262/Number/20.1.3.2-toExponential.js
  js/src/tests/non262/Number/20.1.3.2-toPrecision.js
  js/src/tests/non262/RegExp/flag-accessors.js
  js/src/tests/non262/RegExp/match-trace.js
  js/src/tests/non262/RegExp/replace-trace.js
  js/src/tests/non262/String/thisv-error.js
  js/src/tests/non262/TypedArray/test-integrity-level-detached.js
  js/src/tests/non262/async-functions/syntax-arrow.js
Due: eslint

Bug 1924541 - Clean up some non262 tests; r=dminor
  js/src/tests/non262/Set/difference.js
  js/src/tests/non262/reflect-parse/class-static.js
  js/src/tests/non262/regress/regress-591846.js
  js/src/tests/non262/regress/regress-609617.js
  js/src/tests/non262/statements/property-reference-self-assignment.js
Due: eslint

Bug 1924541 - Port a test change from upstream and update URL; r=dminor
  js/src/tests/non262/generators/runtime.js
Due: eslint

Bug 1924541 - Remove spurious non-test file from non262; r=dminor
  js/src/tests/non262/Tuple/prototype/map/callbackfn-arguments-with-thisarg
Due: none

Bug 1924541 - Fix some copyright formatting issues in non262 tests; r=dminor
  js/src/tests/non262/Date/UTC-convert-all-arguments.js
  js/src/tests/non262/Date/constructor-convert-all-arguments.js
  js/src/tests/non262/Date/constructor-one-Date-argument.js
  js/src/tests/non262/Date/constructor-one-argument.js
  js/src/tests/non262/Date/defaultvalue.js
  js/src/tests/non262/Date/fractions.js
  js/src/tests/non262/Date/non-iso.js
  js/src/tests/non262/Date/timeclip.js
  js/src/tests/non262/Date/two-digit-years.js
  js/src/tests/non262/Number/conversion-invalid-precision.js
  js/src/tests/non262/Number/defaultvalue.js
  js/src/tests/non262/Number/toString-radix-handling.js
  js/src/tests/non262/Number/tonumber-string-hex.js
  js/src/tests/non262/regress/regress-567152.js
  js/src/tests/non262/regress/regress-601399.js
Due: eslint

Bug 1924541 - Fix tabs in non262/shell.js; r=dminor
  js/src/tests/non262/shell.js
Due: eslint

Bug 1924541 - Remove disabled jsx test; r=dminor
  js/src/tests/non262/regress/regress-452498-168-2.js
Due: eslint

Bug 1925378: Move accesses to `gProfileResetCleanupCompleted` to be main thread only. r=jhirsch
  toolkit/xre/ProfileReset.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1810429 - removing UNSAFE_componentWillReceiveProps in devtools/client/shared/components/splitter/SplitBox.js r=jdescottes,devtools-reviewers
  devtools/client/shared/components/splitter/SplitBox.js
Due: eslint

Bug 1925639 - Remove wake-lock meta file r=dom-core,farre
  testing/web-platform/meta/wake-lock/__dir__.ini
Due: test-manifest

Bug 1925683 - Fix metadata for js wasm tests. CLOSED TREE
  testing/web-platform/meta/wasm/jsapi/jspi/js-promise-integration.any.js.ini
  testing/web-platform/meta/wasm/jsapi/jspi/rejects.any.js.ini
Due: test-manifest

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump
  browser/locales/l10n-changesets.json
Due: eslint

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump
  mobile/locales/l10n-changesets.json
Due: eslint

Bug 1925683 - Update metadata for wasm/jsapi/jspi/js-promise-integration.any.js. CLOSED TREE
  testing/web-platform/meta/wasm/jsapi/jspi/js-promise-integration.any.js.ini
Due: test-manifest

Bug 1904562 - Clean up include directives in directory lock related source files; r=dom-storage-reviewers,asuth
  dom/quota/DirectoryLock.h
  dom/quota/DirectoryLockImpl.cpp
  dom/quota/DirectoryLockImpl.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1904562 - Move PersistenceScopeRef, OriginScopeRef and NullableClientType methods to DirectoryLock class; r=dom-storage-reviewers,asuth
  dom/quota/DirectoryLock.h
  dom/quota/DirectoryLockImpl.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1904562 - ClientImpl.h shouldn't include DirectoryLock.h; r=dom-storage-reviewers,asuth
  dom/cache/Manager.cpp
  dom/quota/ClientImpl.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1904562 - Change DirectoryLockImpl methods which are used only internally or by quota manager only to be private; r=dom-storage-reviewers,asuth
  dom/quota/DirectoryLockImpl.cpp
  dom/quota/DirectoryLockImpl.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1904562 - Update TestDirectoryLock.cpp to create directory locks through quota manager; r=dom-storage-reviewers,asuth
  dom/quota/test/gtest/TestDirectoryLock.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1904562 - Move OriginDirectoryLock to separate files and make it inherit from DirectoryLockImpl; r=dom-storage-reviewers,asuth
  dom/quota/ActorsParent.cpp
  dom/quota/CanonicalQuotaObject.cpp
  dom/quota/DirectoryLock.h
  dom/quota/DirectoryLockImpl.h
  dom/quota/OriginDirectoryLock.cpp
  dom/quota/OriginDirectoryLock.h
  dom/quota/OriginOperations.cpp
  dom/quota/moz.build
Due: py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1904562 - Move UniversalDirectoryLock to separate files and make it inherit from DirectoryLockImpl; r=dom-storage-reviewers,jari
  dom/indexedDB/ActorsParent.cpp
  dom/quota/ActorsParent.cpp
  dom/quota/DirectoryLock.h
  dom/quota/DirectoryLockImpl.cpp
  dom/quota/DirectoryLockImpl.h
  dom/quota/InitializationUtils.h
  dom/quota/OriginOperations.cpp
  dom/quota/QuotaManager.h
  dom/quota/UniversalDirectoryLock.cpp
  dom/quota/UniversalDirectoryLock.h
  dom/quota/moz.build
  dom/quota/test/gtest/TestDirectoryLock.cpp
  dom/quota/test/gtest/TestQuotaManager.cpp
Due: py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1904562 - Change ClientDirectoryLock to inherit from OriginDirectoryLock; r=dom-storage-reviewers,asuth
  dom/quota/ClientDirectoryLock.h
  dom/quota/OriginDirectoryLock.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1904562 - Move ClientDirectoryLock to separate files and make it inherit from DirectoryLockImpl; r=dom-storage-reviewers,aiunusov
  dom/cache/Context.cpp
  dom/cache/Manager.cpp
  dom/fs/parent/datamodel/FileSystemDataManager.cpp
  dom/indexedDB/ActorsParent.cpp
  dom/localstorage/ActorsParent.cpp
  dom/quota/ActorsParent.cpp
  dom/quota/ClientDirectoryLock.cpp
  dom/quota/ClientDirectoryLock.h
  dom/quota/DirectoryLock.h
  dom/quota/DirectoryLockImpl.h
  dom/quota/UniversalDirectoryLock.cpp
  dom/quota/moz.build
  dom/quota/test/gtest/QuotaManagerDependencyFixture.h
  dom/quota/test/gtest/TestFileOutputStream.cpp
  dom/quota/test/gtest/TestQuotaManager.cpp
  dom/simpledb/ActorsParent.cpp
Due: py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1904562 - Convert BucketFS to use concrete directory lock type; r=dom-storage-reviewers,asuth
  dom/fs/parent/datamodel/FileSystemDataManager.cpp
  dom/fs/parent/datamodel/FileSystemDataManager.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1904562 - Convert LSNG to use concrete directory lock type; r=dom-storage-reviewers,asuth
  dom/localstorage/ActorsParent.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1904562 - Convert SimpleDB to use concrete directory lock type; r=dom-storage-reviewers,asuth
  dom/simpledb/ActorsParent.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1904562 - Convert CacheAPI to use concrete directory lock type; r=dom-storage-reviewers,asuth
  dom/cache/Context.cpp
  dom/cache/Context.h
  dom/cache/Manager.cpp
  dom/cache/Manager.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1904562 - Convert IndexedDB to use concrete directory lock type; r=dom-storage-reviewers,jari
  dom/indexedDB/ActorsParent.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1904562 - Convert QuotaManager to use concrete directory lock type; r=dom-storage-reviewers,asuth
  dom/quota/ActorsParent.cpp
  dom/quota/test/gtest/QuotaManagerDependencyFixture.h
  dom/quota/test/gtest/TestFileOutputStream.cpp
  dom/quota/test/gtest/TestQuotaManager.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1904562 - Change DirectoryLockImpl to be topmost class; r=dom-storage-reviewers,asuth
  dom/cache/Context.cpp
  dom/fs/parent/datamodel/FileSystemDataManager.cpp
  dom/indexedDB/ActorsParent.cpp
  dom/localstorage/ActorsParent.cpp
  dom/quota/DirectoryLock.h
  dom/quota/DirectoryLockImpl.cpp
  dom/quota/DirectoryLockImpl.h
  dom/quota/test/gtest/QuotaManagerDependencyFixture.h
  dom/quota/test/gtest/TestQuotaManager.cpp
  dom/simpledb/ActorsParent.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1904562 - Remove unused DirectoryLock class; r=dom-storage-reviewers,asuth
  dom/quota/DirectoryLock.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1925778 - Do not add performance entry when the CSS loader is already dropped from the document. r=emilio
  layout/style/Loader.cpp
  layout/style/SharedSubResourceCache.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source
