Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, **/*.java, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml

Bug 1934663 - Report wasm function tier correctly to profiler with lazy tiering. r=rhunt
  js/public/ProfilingFrameIterator.h
  js/src/vm/Stack.cpp
  js/src/wasm/WasmCode.cpp
  js/src/wasm/WasmCode.h
  js/src/wasm/WasmFrameIter.cpp
  js/src/wasm/WasmFrameIter.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1937221 - [contexual-password-manager] Set search border color to --border-color-interactive. r=rsafaeian,credential-management-reviewers
  toolkit/components/satchel/megalist/content/megalist.css
Due: stylelint, file-whitespace

Bug 1931608 - Run inference performance tests on windows11 ref hardware. r=perftest-reviewers,sparky
  taskcluster/kinds/perftest/kind.yml
  taskcluster/kinds/perftest/windows11-ref.yml
Due: yaml

Bug 1325876 - Add a test for internal error page with error codes (4xx, 5xx) and Content-Length: 0 r=necko-reviewers,jesup,kershaw
  browser/base/content/test/about/blank_page.sjs
  browser/base/content/test/about/browser.toml
  browser/base/content/test/about/browser_aboutNetError_blank_page.js
Due: eslint

Backed out changeset 72b0ae433f15 (bug 1940947) for causing failures at seg-break-transformation-004.tentative.html.
  intl/unicharutil/util/nsUnicharUtils.cpp
  testing/web-platform/tests/css/css-text/line-breaking/segment-break-transformation-currency-001-ref.html
  testing/web-platform/tests/css/css-text/line-breaking/segment-break-transformation-currency-001.html
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Backed out changeset ead9919b0da6 (bug 1938249) for causing failures at test_restore_sidebar.py. CLOSED TREE
  browser/base/content/test/keyboard/browser_toolbarButtonKeyPress.js
  browser/base/content/test/sidebar/browser_sidebar_keys.js
  browser/components/sidebar/SidebarManager.sys.mjs
  browser/components/sidebar/SidebarState.sys.mjs
  browser/components/sidebar/browser-sidebar.js
  browser/components/sidebar/sidebar-customize.mjs
  browser/components/sidebar/tests/browser/browser_customize_sidebar.js
  browser/components/sidebar/tests/browser/browser_domfullscreen_sidebar.js
  browser/components/sidebar/tests/browser/browser_glean_sidebar.js
  browser/components/sidebar/tests/browser/browser_resize_sidebar.js
  browser/components/sidebar/tests/browser/browser_sidebar_max_width.js
  browser/components/sidebar/tests/browser/browser_toolbar_sidebar_button.js
  browser/themes/shared/toolbarbutton-icons.css
Due: eslint, stylelint, file-whitespace

Bug 1942829 - [marionette] Add "--allow-nonlocal-connections" argument to Marionette's mach command. r=webdriver-reviewers,Sasha
  testing/marionette/mach_commands.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1937801 - [ci] Use upstream taskgraph's logic for handling caches, r=taskgraph-reviewers,hneiva,bhearsum
  taskcluster/android_taskgraph/job.py
  taskcluster/gecko_taskgraph/config.py
  taskcluster/gecko_taskgraph/test/test_transforms_job.py
  taskcluster/gecko_taskgraph/transforms/job/common.py
  taskcluster/gecko_taskgraph/transforms/job/mozharness.py
  taskcluster/gecko_taskgraph/transforms/job/mozharness_test.py
  taskcluster/gecko_taskgraph/transforms/job/run_task.py
  taskcluster/gecko_taskgraph/transforms/repackage.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1943660 - [ci] Use 'task-defaults' in node source-test tasks, r=taskgraph-reviewers,jcristau
  taskcluster/kinds/source-test/node.yml
Due: yaml

Bug 1937801 - [ci] Replace 'cache-dotcache' feature with 'use-caches', r=taskgraph-reviewers,bhearsum
  taskcluster/docker/build-python-wheels/Dockerfile
  taskcluster/docker/build-python/Dockerfile
  taskcluster/docker/condprof/Dockerfile
  taskcluster/docker/lint/Dockerfile
  taskcluster/docker/ubuntu1804-test/Dockerfile
  taskcluster/docker/ubuntu2404-test/Dockerfile
  taskcluster/docker/update-verify/Dockerfile
  taskcluster/gecko_taskgraph/transforms/job/run_task.py
  taskcluster/kinds/source-test/node.yml
  taskcluster/kinds/source-test/python.yml
Due: py-black, py-ruff, yaml, file-whitespace, trojan-source

Bug 1937801 - [ci] Stop using checkout caches in test tasks, r=taskgraph-reviewers,bhearsum
  taskcluster/gecko_taskgraph/transforms/job/mozharness_test.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1937801 - [ci] Enable pip and uv caches for test tasks, r=taskgraph-reviewers,jmaher
  taskcluster/gecko_taskgraph/transforms/job/mozharness_test.py
Due: py-black, py-ruff, file-whitespace, trojan-source

No Bug - Fix typo in use counter documentation r=iain DONTBUILD
  js/src/doc/use_counter.md
Due: file-whitespace

Backed out 3 changesets (bug 1943736, bug 1942232) for causing Bug 1943732 and Bug 1943736 CLOSED TREE
  widget/gtk/WaylandBuffer.cpp
  widget/gtk/WaylandBuffer.h
  widget/gtk/WaylandSurface.cpp
  widget/gtk/WaylandSurface.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1325876 - Lint fix. CLOSED TREE
  browser/base/content/test/about/browser_aboutNetError_blank_page.js
Due: eslint

Bug 1942898 - Decouple UrlbarProviderTopSites.sys.mjs from Reducers.sys.mjs r=home-newtab-reviewers,urlbar-reviewers,mconley,jteow
  browser/components/newtab/common/Reducers.sys.mjs
  browser/components/newtab/data/content/activity-stream.bundle.js
  browser/components/newtab/lib/HighlightsFeed.sys.mjs
  browser/components/newtab/lib/TopSitesFeed.sys.mjs
  browser/components/newtab/test/unit/common/Reducers.test.js
  browser/components/newtab/test/unit/unit-entry.js
  browser/components/newtab/test/xpcshell/test_TopSitesFeed.js
  browser/components/newtab/webpack.system-addon.config.js
  browser/components/topsites/TopSites.sys.mjs
  browser/components/topsites/constants.mjs
  browser/components/topsites/moz.build
  browser/components/topsites/test/unit/test_top_sites.js
  browser/components/urlbar/UrlbarProviderTopSites.sys.mjs
Due: eslint, py-black

Bug 1944129 - Newtab small UI changes to sections section in customize menu r=home-newtab-reviewers,nbarrett
  browser/components/newtab/content-src/components/CustomizeMenu/SectionsMgmtPanel/SectionsMgmtPanel.jsx
  browser/components/newtab/content-src/components/CustomizeMenu/_CustomizeMenu.scss
  browser/components/newtab/css/activity-stream.css
  browser/components/newtab/data/content/activity-stream.bundle.js
Due: eslint, stylelint, file-whitespace

Bug 1944150 - Reapply local libcubeb patches. r=cubeb-reviewers,pehrsons
  media/libcubeb/src/cubeb_aaudio.cpp
  media/libcubeb/src/cubeb_audiounit.cpp
  media/libcubeb/test/test_duplex.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1944150 - Update libcubeb to revision 2816b5a. r=cubeb-reviewers,pehrsons
  media/libcubeb/moz.yaml
  media/libcubeb/src/cubeb_aaudio.cpp
  media/libcubeb/src/cubeb_audiounit.cpp
  media/libcubeb/src/cubeb_wasapi.cpp
  media/libcubeb/test/test_duplex.cpp
Due: yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1941170: Convert about:config pref "layout.spellcheckDefault" to be a static pref. r=masayuki
  browser/app/profile/firefox.js
  dom/html/nsGenericHTMLElement.cpp
  editor/libeditor/EditorBase.cpp
  modules/libpref/init/StaticPrefList.yaml
Due: eslint, yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1943473 - Always set isSponsored on Suggest results and refactor "can add suggestion?" logic. r=daisuke
  browser/components/urlbar/UrlbarProviderQuickSuggest.sys.mjs
  browser/components/urlbar/private/AmpSuggestions.sys.mjs
  browser/components/urlbar/private/OfflineWikipediaSuggestions.sys.mjs
  browser/components/urlbar/tests/quicksuggest/QuickSuggestTestUtils.sys.mjs
  browser/components/urlbar/tests/quicksuggest/unit/test_quicksuggest_exposures.js
  browser/components/urlbar/tests/quicksuggest/unit/test_quicksuggest_exposures_locales.js
  browser/components/urlbar/tests/quicksuggest/unit/test_quicksuggest_fakespot.js
  browser/components/urlbar/tests/quicksuggest/unit/test_quicksuggest_pocket.js
  browser/components/urlbar/tests/quicksuggest/unit/test_quicksuggest_yelp.js
  browser/components/urlbar/tests/quicksuggest/unit/test_quicksuggest_yelp_ml.js
Due: eslint

Bug 1943795 - Add BlockedSuggestions.blockResult() and don't set originalUrl unnecessarily. r=daisuke
  browser/components/urlbar/UrlbarProviderQuickSuggest.sys.mjs
  browser/components/urlbar/UrlbarView.sys.mjs
  browser/components/urlbar/private/AddonSuggestions.sys.mjs
  browser/components/urlbar/private/AmpSuggestions.sys.mjs
  browser/components/urlbar/private/BlockedSuggestions.sys.mjs
  browser/components/urlbar/private/FakespotSuggestions.sys.mjs
  browser/components/urlbar/private/MDNSuggestions.sys.mjs
  browser/components/urlbar/private/OfflineWikipediaSuggestions.sys.mjs
  browser/components/urlbar/private/PocketSuggestions.sys.mjs
  browser/components/urlbar/private/YelpSuggestions.sys.mjs
  browser/components/urlbar/tests/quicksuggest/QuickSuggestTestUtils.sys.mjs
  browser/components/urlbar/tests/quicksuggest/browser/browser_quicksuggest_addons.js
  browser/components/urlbar/tests/quicksuggest/browser/browser_quicksuggest_block.js
  browser/components/urlbar/tests/quicksuggest/browser/browser_quicksuggest_fakespot.js
  browser/components/urlbar/tests/quicksuggest/browser/browser_quicksuggest_yelp.js
  browser/components/urlbar/tests/quicksuggest/unit/test_quicksuggest.js
  browser/components/urlbar/tests/quicksuggest/unit/test_quicksuggest_fakespot.js
  browser/components/urlbar/tests/quicksuggest/unit/test_quicksuggest_merino.js
  browser/components/urlbar/tests/quicksuggest/unit/test_quicksuggest_pocket.js
  browser/components/urlbar/tests/quicksuggest/unit/test_quicksuggest_scoreMap.js
  browser/components/urlbar/tests/quicksuggest/unit/test_quicksuggest_yelp.js
  browser/components/urlbar/tests/quicksuggest/unit/test_quicksuggest_yelp_ml.js
Due: eslint

Bug 1943415 - Try to find OOP iframe by checking `state.mOverrideFlags`. r=botond
  gfx/layers/apz/src/APZCTreeManager.cpp
  gfx/layers/apz/test/mochitest/helper_mousemove_optimization_on_oop_in_fixed_position.html
  gfx/layers/apz/test/mochitest/test_group_mouseevents.html
  modules/libpref/init/StaticPrefList.yaml
Due: eslint, yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

no bug - update expectation for content-visibility-028.html. CLOSED TREE
  testing/web-platform/meta/css/css-contain/content-visibility/content-visibility-028.html.ini
Due: test-manifest

Bug 1932985 - Do not cancel animations when starting a new wheel block. r=dlrobertson,hiro
  gfx/layers/apz/src/InputQueue.cpp
  gfx/layers/apz/test/mochitest/helper_custom_scrolling_bug1932985.html
  gfx/layers/apz/test/mochitest/test_group_wheelevents.html
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

No bug - Tagging 983c92bf7d784b40684da7409a2f72d69a14eec0 with FIREFOX-ANDROID_135_0_BUILD1 a=release CLOSED TREE DONTBUILD
  .hgtags
Due: none
