Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml

Bug 1905611 - apply clipping to PictureCompositeMode::SVGFEGraph r=gfx-reviewers,gw
  gfx/wr/webrender/src/picture.rs
  gfx/wr/webrender/src/render_task.rs
  gfx/wr/webrender/src/scene_building.rs
  gfx/wr/webrender_api/src/display_item.rs
  gfx/wr/wrench/reftests/filters/reftest.list
  gfx/wr/wrench/reftests/filters/svgfe-dropshadow-offscreen-source-ref.yaml
  gfx/wr/wrench/reftests/filters/svgfe-dropshadow-offscreen-source.yaml
  layout/reftests/css-blending/reftest.list
  layout/reftests/image-element/reftest.list
  layout/reftests/svg/filters/svg-filter-chains/reftest.list
  layout/svg/FilterInstance.cpp
  modules/libpref/init/StaticPrefList.yaml
  testing/web-platform/meta/css/filter-effects/filter-region-transformed-child-001.html.ini
Due: yaml, clang-format, rustfmt, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Bug 1916581: Use consistent approach for BigInt conversion. a=diannaS
  js/src/jit/WarpBuilderShared.cpp
  js/src/jit/WarpCacheIRTranspiler.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Backed out changeset a2fa22990548 (bug 1918317) for causing failures at browser_html_detail_view.js. CLOSED TREE
  browser/themes/BuiltInThemeConfig.sys.mjs
  browser/themes/addons/dark/manifest.json
  browser/themes/addons/light/manifest.json
  browser/themes/shared/browser-custom-colors.css
  browser/themes/shared/downloads/downloads.inc.css
  toolkit/mozapps/extensions/default-theme/manifest.json
  toolkit/themes/shared/design-system/design-tokens.json
  toolkit/themes/shared/design-system/tokens-platform.css
  toolkit/themes/shared/design-system/tokens-storybook.mjs
Due: eslint, stylelint, file-whitespace

Bug 1909147 - [Menu Redesign] Implement conditions to hide the recommend extensions r=android-reviewers,gl
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/menu/MenuDialogFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/menu/middleware/MenuDialogMiddleware.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/components/menu/MenuDialogMiddlewareTest.kt
Due: none

Bug 1917034 - Apply color-scheme after forced-color-adjust. r=firefox-style-system-reviewers,zrhoffman
  layout/reftests/high-contrast/color-scheme-ref.html
  layout/reftests/high-contrast/color-scheme.html
  layout/reftests/high-contrast/reftest.list
  servo/components/style/properties/cascade.rs
Due: eslint, rustfmt, file-whitespace, trojan-source

Bug 1917034 - Remove some related always-on prefs. r=firefox-style-system-reviewers,zrhoffman
  browser/base/content/test/static/browser_parsable_css.js
  browser/components/reportbrokensite/test/browser/browser_prefers_contrast.js
  browser/components/reportbrokensite/test/browser/head.js
  layout/base/nsPresContext.cpp
  layout/reftests/high-contrast/reftest.list
  layout/style/test/chrome/test_chrome_only_media_queries.html
  layout/style/test/property_database.js
  layout/style/test/test_media_queries.html
  layout/style/test/test_mq_prefers_contrast_dynamic.html
  modules/libpref/init/StaticPrefList.yaml
  servo/components/style/gecko/media_features.rs
  servo/components/style/properties/longhands/inherited_text.mako.rs
  servo/components/style/queries/feature_expression.rs
Due: eslint, yaml, clang-format, rustfmt, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1918362 - Collect autofill-related telemetry for iOS r=issammani
  toolkit/components/formautofill/FormAutofillChild.ios.sys.mjs
Due: eslint

No Bug, mozilla-beta repo-update HSTS HPKP remote-settings tld-suffixes ct-logs - a=diannaS
  netwerk/dns/effective_tld_names.dat
  security/ct/CTKnownLogs.h
  security/manager/ssl/StaticHPKPins.h
  security/manager/ssl/nsSTSPreloadList.inc
  security/manager/tools/log_list.json
  services/settings/dumps/blocklists/addons-bloomfilters.json
  services/settings/dumps/security-state/intermediates.json
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

No Bug, mozilla-central repo-update HSTS HPKP remote-settings tld-suffixes ct-logs - r=release-managers,diannaS
  netwerk/dns/effective_tld_names.dat
  security/ct/CTKnownLogs.h
  security/manager/ssl/StaticHPKPins.h
  security/manager/ssl/nsSTSPreloadList.inc
  security/manager/tools/log_list.json
  services/settings/dumps/blocklists/addons-bloomfilters.json
  services/settings/dumps/security-state/intermediates.json
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1917558 [Wayland] Explicitly request wl-pointer v.3 interface r=emilio
  widget/gtk/mozwayland/mozwayland.h
  widget/gtk/nsWaylandDisplay.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1913752 - Ship Regular Expression Pattern Modifiers; r=mgaudet
  js/src/shell/js.cpp
  js/xpconnect/src/XPCJSContext.cpp
  modules/libpref/init/StaticPrefList.yaml
Due: yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1917515 [Linux] Check remote command line params before use r=emilio
  browser/components/shell/nsGNOMEShellDBusHelper.cpp
  browser/components/shell/nsGNOMEShellSearchProvider.h
  toolkit/components/remote/nsDBusRemoteServer.cpp
  toolkit/components/remote/nsDBusRemoteServer.h
  toolkit/components/remote/nsUnixRemoteServer.cpp
  toolkit/components/remote/nsUnixRemoteServer.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1899299 [Linux] Listen mouse events on mShell for modal popups r=emilio
  widget/gtk/nsWindow.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1917794 [Wayland] Use and store wl_surface passed to touch events r=emilio
  widget/gtk/nsWaylandDisplay.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1918289 - Switch AC & GV from junit4 to junit-vintage. r=android-reviewers,mcarare
  mobile/android/android-components/build.gradle
  mobile/android/android-components/components/browser/engine-gecko/build.gradle
  mobile/android/android-components/components/browser/state/build.gradle
  mobile/android/android-components/components/compose/cfr/build.gradle
  mobile/android/android-components/components/concept/push/build.gradle
  mobile/android/android-components/components/concept/storage/build.gradle
  mobile/android/android-components/components/feature/accounts-push/build.gradle
  mobile/android/android-components/components/feature/logins/build.gradle
  mobile/android/android-components/components/feature/media/build.gradle
  mobile/android/android-components/components/feature/recentlyclosed/build.gradle
  mobile/android/android-components/components/feature/share/build.gradle
  mobile/android/android-components/components/feature/tab-collections/build.gradle
  mobile/android/android-components/components/feature/top-sites/build.gradle
  mobile/android/android-components/components/lib/jexl/build.gradle
  mobile/android/android-components/components/lib/push-firebase/build.gradle
  mobile/android/android-components/components/service/digitalassetlinks/build.gradle
  mobile/android/android-components/components/service/glean/build.gradle
  mobile/android/android-components/components/support/rustlog/build.gradle
  mobile/android/android-components/components/tooling/detekt/build.gradle
  mobile/android/android-components/components/tooling/fetch-tests/build.gradle
  mobile/android/android-components/components/tooling/lint/build.gradle
  mobile/android/android-components/plugins/dependencies/src/main/java/DependenciesPlugin.kt
  mobile/android/examples/messaging_example/app/build.gradle
  mobile/android/examples/port_messaging_example/app/build.gradle
  mobile/android/fenix/mozilla-lint-rules/build.gradle
  mobile/android/geckoview/build.gradle
Due: none

Bug 1918289 - Migrate junit to the AC dependencies plugin. r=android-reviewers,mcarare
  mobile/android/android-components/plugins/dependencies/src/main/java/DependenciesPlugin.kt
  mobile/android/fenix/mozilla-detekt-rules/build.gradle
  mobile/android/fenix/plugins/fenixdependencies/src/main/java/FenixDependenciesPlugin.kt
  mobile/android/focus-android/app/build.gradle
  mobile/android/focus-android/plugins/focusdependencies/src/main/java/FocusDependenciesPlugin.kt
Due: none

Bug 1918289 - Update junit to version 5.11.0. r=android-reviewers,mcarare
  mobile/android/android-components/plugins/dependencies/src/main/java/DependenciesPlugin.kt
Due: none

Bug 1918317 - Remove --button-bgcolor, --button-hover-bgcolor, --button-active-bgcolor. r=desktop-theme-reviewers,emilio
  browser/themes/BuiltInThemeConfig.sys.mjs
  browser/themes/addons/dark/manifest.json
  browser/themes/addons/light/manifest.json
  browser/themes/shared/browser-custom-colors.css
  browser/themes/shared/downloads/downloads.inc.css
  toolkit/mozapps/extensions/default-theme/manifest.json
  toolkit/mozapps/extensions/test/browser/browser_html_detail_view.js
  toolkit/themes/shared/design-system/design-tokens.json
  toolkit/themes/shared/design-system/tokens-platform.css
  toolkit/themes/shared/design-system/tokens-storybook.mjs
Due: eslint, stylelint, file-whitespace

Bug 1917397 - Tenure substrings in String.prototype.split where appropriate r=jandem
  js/src/builtin/String.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1918113: Don't try to reuse input for LInt64ToIntPtr on 32-bit. r=jandem
  js/src/jit/CodeGenerator.cpp
  js/src/jit/Lowering.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1918153: Use signalling instruction for branchNegPtr. r=jandem
  js/src/jit/arm64/MacroAssembler-arm64-inl.h
  js/src/jit/arm64/MacroAssembler-arm64.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1900231: Parse anchor-center for self-alignment properties. r=firefox-style-system-reviewers,emilio
  layout/generic/CSSAlignUtils.cpp
  layout/generic/nsFlexContainerFrame.cpp
  servo/components/style/values/specified/align.rs
  testing/web-platform/meta/css/css-anchor-position/anchor-center-001.html.ini
  testing/web-platform/meta/css/css-anchor-position/anchor-center-002.html.ini
Due: clang-format, rustfmt, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Bug 1917369 - Track user interaction state in docshell's active entry. r=dom-core,peterv
  docshell/base/CanonicalBrowsingContext.cpp
  docshell/shistory/SessionHistoryEntry.cpp
  docshell/shistory/nsSHistory.cpp
  docshell/test/browser/browser.toml
  docshell/test/browser/browser_replace_state_during_navigation_from_first_page.js
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1912672 - Count STATE_LOADING tabs as pending even if they are in the do-not-deactivate set. r=tabbrowser-reviewers,dao
  browser/components/tabbrowser/AsyncTabSwitcher.sys.mjs
Due: eslint

Bug 1918081 - Fix verifyQRScanningCameraAccessDialogTest UI test on API 34 r=ohorvath
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/helpers/AppAndSystemHelper.kt
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/SearchTest.kt
Due: none

Bug 1917838 - Remove expired telemetry event cookie_banner.reload, r=chutten.
  toolkit/components/cookiebanners/metrics.yaml
  toolkit/components/telemetry/Events.yaml
Due: yaml

Bug 1917838 - Remove expired telemetry event close_tab_warning.shown, r=chutten,tabbrowser-reviewers,firefox-desktop-core-reviewers ,dao.
  browser/base/content/browser.js
  browser/components/BrowserGlue.sys.mjs
  browser/components/tabbrowser/content/tabbrowser.js
  toolkit/components/telemetry/Events.yaml
  toolkit/content/globalOverlay.js
Due: eslint, yaml

Bug 1917838 - Remove expired telemetry event webrtc.ui.share_display, r=chutten.
  browser/modules/webrtcUI.sys.mjs
  toolkit/components/telemetry/Events.yaml
Due: eslint, yaml

Bug 1905954 - Enable cpuTime metric on sp3 test. r=perftest-reviewers,sparky
  testing/perfdocs/generated/raptor.rst
  testing/raptor/browsertime/support-scripts/browsertime_pageload.py
  testing/raptor/browsertime/support-scripts/browsertime_tp6_bench.py
  testing/raptor/browsertime/support-scripts/network_bench.py
  testing/raptor/browsertime/support-scripts/video_playback_latency.py
  testing/raptor/raptor/base_python_support.py
  testing/raptor/raptor/results.py
  testing/raptor/raptor/tests/benchmarks/speedometer-desktop.toml
  testing/raptor/raptor/tests/benchmarks/speedometer-mobile.toml
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1916541 - create listfeed component r=home-newtab-reviewers,thecount
  browser/components/newtab/content-src/components/DiscoveryStreamComponents/CardGrid/CardGrid.jsx
  browser/components/newtab/content-src/components/DiscoveryStreamComponents/DSCard/DSCard.jsx
  browser/components/newtab/content-src/components/DiscoveryStreamComponents/DSCard/_DSCard.scss
  browser/components/newtab/content-src/components/DiscoveryStreamComponents/ListFeed/ListFeed.jsx
  browser/components/newtab/content-src/components/DiscoveryStreamComponents/ListFeed/_ListFeed.scss
  browser/components/newtab/content-src/styles/activity-stream.scss
  browser/components/newtab/css/activity-stream.css
  browser/components/newtab/data/content/activity-stream.bundle.js
Due: eslint, stylelint, file-whitespace

Bug 1918369 - Add 'ic_synced_tabs' to the keep.xml file r=android-reviewers,gmalekpour
  mobile/android/fenix/app/src/main/res/raw/keep.xml
Due: eslint

Bug 1918374: Enable adjust_for_table_text_align in Servo (r=emilio)
  servo/components/style/style_adjuster.rs
Due: rustfmt, file-whitespace, trojan-source

Bug 1917329 - Remove layers.child-process-shutdown pref. r=gregp,gfx-reviewers,nical
  gfx/thebes/gfxPlatform.cpp
  modules/libpref/init/StaticPrefList.yaml
Due: yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1910838 - Part 1: Add the search microsurvey prompt title r=android-reviewers,amejiamarmol
  mobile/android/fenix/app/src/main/res/values/strings.xml
Due: eslint

Bug 1917763 - Remove PlaceInternal methods from MathML layout classes. r=emilio
  layout/mathml/nsMathMLmencloseFrame.cpp
  layout/mathml/nsMathMLmencloseFrame.h
  layout/mathml/nsMathMLmfracFrame.cpp
  layout/mathml/nsMathMLmfracFrame.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1917763 - More consistent handling of MathML's AttributeChanged(). r=emilio
  layout/mathml/nsMathMLContainerFrame.cpp
  layout/mathml/nsMathMLmencloseFrame.cpp
  layout/mathml/nsMathMLmfracFrame.cpp
  layout/mathml/nsMathMLmsqrtFrame.cpp
  layout/mathml/nsMathMLmsqrtFrame.h
  layout/mathml/nsMathMLmtableFrame.cpp
  layout/mathml/nsMathMLmunderoverFrame.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1917763 - Refactor parsing of mpadded attributes. r=emilio
  layout/mathml/nsMathMLmpaddedFrame.cpp
  layout/mathml/nsMathMLmpaddedFrame.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1917763 - Do not override MeasureForWidth/Reflow for mpadded. r=emilio
  layout/mathml/nsMathMLmpaddedFrame.cpp
  layout/mathml/nsMathMLmpaddedFrame.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1917763 - Do not override MeasureForWidth/Reflow for mspace. r=emilio
  layout/mathml/nsMathMLmspaceFrame.cpp
  layout/mathml/nsMathMLmspaceFrame.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source
