Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

eslint:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py eslint

stylelint:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py stylelint

py-black:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py black

py-ruff:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py ruff

yaml:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py yaml

shellcheck:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py shellcheck

clang-format:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  ...

rustfmt:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py rustfmt

fluent-lint:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py fluent-lint

localization:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py l10n

Bug 1923907 - Part 3: Use ToYearMonthDay and ToHourMinuteSecond in Temporal. r=spidermonkey-reviewers,jandem
  js/src/builtin/temporal/TimeZone.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1923907 - Part 5: Add missing "static" modifiers. r=spidermonkey-reviewers,jandem
  js/src/jsdate.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1923907 - Part 6: Add early return for NaN date-values. r=spidermonkey-reviewers,jandem
  js/src/jsdate.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1923907 - Part 7: Add more assertions when time values are finite. r=spidermonkey-reviewers,jandem
  js/src/jsdate.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1923907 - Part 9: Perform cast to int before calling into DateTimeHelper. r=spidermonkey-reviewers,jandem
  js/src/jsdate.cpp
  js/src/vm/DateTime.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1923907 - Part 8: Update some spec references. r=spidermonkey-reviewers,jandem
  js/src/jsdate.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1923907 - Part 10: Prefer int64 for local time. r=spidermonkey-reviewers,jandem
  js/src/jsdate.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1923907 - Part 11: Use integer math for {Hour,Min,Sec,ms}FromTime and TimeWithinDay. r=spidermonkey-reviewers,jandem
  js/src/jsdate.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1923907 - Part 14: Add or update spec references for remaining functions. r=spidermonkey-reviewers,jandem
  js/src/jsdate.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1923907 - Part 12: Use integer math for date operations. r=spidermonkey-reviewers,jandem
  js/src/jsdate.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1923907 - Part 13: Align Date constructor and Date.UTC with current spec text. r=spidermonkey-reviewers,jandem
  js/src/jsdate.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1923907 - Part 15: Add int32 code path to MakeDay. r=spidermonkey-reviewers,jandem
  js/src/jsdate.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1923907 - Part 16: Use a single ToYearMonthDay function. r=spidermonkey-reviewers,jandem
  js/src/jsdate.cpp
  js/src/jsdate.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1923907 - Part 18: Add missing Intl checks in non262 tests. r=spidermonkey-reviewers,jandem
  js/src/tests/non262/Date/reset-time-zone-cache-same-offset.js
  js/src/tests/non262/Date/time-zone-etc_localetime.js
  js/src/tests/non262/Intl/DateTimeFormat/calendar-option.js
  js/src/tests/non262/Intl/DateTimeFormat/numberingSystem-option.js
  js/src/tests/non262/Intl/NumberFormat/numberingSystem-format.js
  js/src/tests/non262/Intl/NumberFormat/numberingSystem-option.js
  js/src/tests/non262/Intl/RelativeTimeFormat/numberingSystem-option.js
  js/src/tests/non262/Intl/extensions/unicode-extension-sequences.js
  js/src/tests/non262/PrivateName/illegal-in-class-context.js
  js/src/tests/non262/RegExp/ignoreCase-non-latin1-to-latin1.js
  js/src/tests/non262/RegExp/unicode-class-ignoreCase.js
  js/src/tests/non262/RegExp/unicode-ignoreCase-ascii.js
  js/src/tests/non262/RegExp/unicode-ignoreCase-escape.js
  js/src/tests/non262/RegExp/unicode-ignoreCase-word-boundary.js
  js/src/tests/non262/RegExp/unicode-ignoreCase.js
  js/src/util/make_unicode.py
Due: eslint, py-black, py-ruff, file-whitespace, trojan-source

Bug 1923907 - Part 19: Switch time constants from double to int. r=spidermonkey-reviewers,jandem
  js/src/jsdate.cpp
  js/src/vm/DateTime.cpp
  js/src/vm/DateTime.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1923907 - Part 17: Add more assertions that time values are within range. r=spidermonkey-reviewers,jandem
  js/src/jsdate.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1923907 - Part 21: Use signed integer for YearMonthDay struct. r=jandem
  js/src/builtin/temporal/TimeZone.cpp
  js/src/jsdate.cpp
  js/src/jsdate.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1923907 - Part 20: Consistently use Value::toDouble to extract the UTC time. r=spidermonkey-reviewers,jandem
  js/src/jsdate.cpp
  js/src/vm/DateObject.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1923953 - Be more specific in 'deprecation' notices for no-op'd browser.telemetry.* APIs r=willdurand DONTBUILD
  toolkit/components/extensions/schemas/telemetry.json
  toolkit/components/extensions/test/xpcshell/test_ext_telemetry.js
  toolkit/components/telemetry/docs/collection/webextension-api.rst
Due: eslint, file-whitespace

Bug 1923973 - Increase size of intermediate PHF table r=janerik
  toolkit/components/glean/build_scripts/glean_parser_ext/js.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1924094 - Wait for add-on list to be loaded and download to be finalised in UI tests r=aaronmt,ohorvath
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/SettingsAddonsTest.kt
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/SettingsSubMenuAddonsManagerRobot.kt
Due: none

Bug 1922250 - Make sure mBounds is correct after consuming maximized skeleton UI. r=fix. CLOSED TREE This is a hunk from D224933 that should've really gone in D225101.
  widget/windows/nsWindow.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1923204 [wpt PR 48506] - Add a WPT test validating a canvas filter with a globalAlpha, a=testonly
  testing/web-platform/tests/html/canvas/element/filters/2d.filter.drop-shadow-globalAlpha-expected.html
  testing/web-platform/tests/html/canvas/element/filters/2d.filter.drop-shadow-globalAlpha.html
  testing/web-platform/tests/html/canvas/offscreen/filters/2d.filter.drop-shadow-globalAlpha-expected.html
  testing/web-platform/tests/html/canvas/offscreen/filters/2d.filter.drop-shadow-globalAlpha.html
  testing/web-platform/tests/html/canvas/offscreen/filters/2d.filter.drop-shadow-globalAlpha.w.html
  testing/web-platform/tests/html/canvas/tools/yaml-new/filters.yaml
Due: eslint, yaml, file-whitespace

Bug 1923204 [wpt PR 48506] - Update wpt metadata, a=testonly
  testing/web-platform/meta/html/canvas/element/filters/2d.filter.drop-shadow-globalAlpha.html.ini
  testing/web-platform/meta/html/canvas/offscreen/filters/2d.filter.drop-shadow-globalAlpha.html.ini
  testing/web-platform/meta/html/canvas/offscreen/filters/2d.filter.drop-shadow-globalAlpha.w.html.ini
Due: test-manifest

Bug 1923341 [wpt PR 48520] - Revert "webnn: add int4 and uint4 support for quantizeLinear and dequantizeLinear", a=testonly
  testing/web-platform/tests/webnn/conformance_tests/dequantizeLinear.https.any.js
  testing/web-platform/tests/webnn/conformance_tests/quantizeLinear.https.any.js
  testing/web-platform/tests/webnn/resources/utils.js
Due: eslint

Bug 1919994 [wpt PR 48252] - Update wpt metadata, a=testonly
  testing/web-platform/meta/html/document-isolation-policy/credentialless-cache-storage.https.tentative.window.js.ini
  testing/web-platform/meta/html/document-isolation-policy/credentialless-cache.tentative.window.js.ini
  testing/web-platform/meta/html/document-isolation-policy/credentialless-cross-origin-isolated.tentative.window.js.ini
  testing/web-platform/meta/html/document-isolation-policy/credentialless-dedicated-worker.https.tentative.window.js.ini
  testing/web-platform/meta/html/document-isolation-policy/credentialless-fetch.https.tentative.window.js.ini
  testing/web-platform/meta/html/document-isolation-policy/credentialless-link.https.tentative.window.js.ini
  testing/web-platform/meta/html/document-isolation-policy/credentialless-redirect.tentative.window.js.ini
  testing/web-platform/meta/html/document-isolation-policy/credentialless-script.https.tentative.window.js.ini
  testing/web-platform/meta/html/document-isolation-policy/credentialless-service-worker.https.tentative.window.js.ini
  testing/web-platform/meta/html/document-isolation-policy/credentialless-shared-worker.https.tentative.window.js.ini
  testing/web-platform/meta/html/document-isolation-policy/credentialless-video.https.tentative.window.js.ini
  testing/web-platform/meta/html/document-isolation-policy/service-worker-coep-credentialless-proxy.https.tentative.window.js.ini
  testing/web-platform/meta/html/document-isolation-policy/service-worker-coep-none-proxy.https.tentative.window.js.ini
Due: test-manifest

Bug 1919994 [wpt PR 48252] - [DIP] Add support for isolate-and-credentialless, a=testonly
  testing/web-platform/tests/html/document-isolation-policy/credentialless-cache-storage.https.tentative.window.js
  testing/web-platform/tests/html/document-isolation-policy/credentialless-cache.tentative.window.js
  testing/web-platform/tests/html/document-isolation-policy/credentialless-cross-origin-isolated.tentative.window.js
  testing/web-platform/tests/html/document-isolation-policy/credentialless-dedicated-worker.https.tentative.window.js
  testing/web-platform/tests/html/document-isolation-policy/credentialless-fetch.https.tentative.window.js
  testing/web-platform/tests/html/document-isolation-policy/credentialless-link.https.tentative.window.js
  testing/web-platform/tests/html/document-isolation-policy/credentialless-redirect.tentative.window.js
  testing/web-platform/tests/html/document-isolation-policy/credentialless-script.https.tentative.window.js
  testing/web-platform/tests/html/document-isolation-policy/credentialless-service-worker.https.tentative.window.js
  testing/web-platform/tests/html/document-isolation-policy/credentialless-shared-worker.https.tentative.window.js
  testing/web-platform/tests/html/document-isolation-policy/credentialless-video.https.tentative.window.js
  testing/web-platform/tests/html/document-isolation-policy/credentialless-video.https.tentative.window.js.headers
  testing/web-platform/tests/html/document-isolation-policy/credentialless-websocket.https.tentative.window.js
  testing/web-platform/tests/html/document-isolation-policy/resources/common.js
  testing/web-platform/tests/html/document-isolation-policy/resources/redirect_none_to_credentialless.py
  testing/web-platform/tests/html/document-isolation-policy/service-worker-coep-credentialless-proxy.https.tentative.window.js
  testing/web-platform/tests/html/document-isolation-policy/service-worker-coep-none-proxy.https.tentative.window.js
Due: eslint, py-black, py-ruff, file-whitespace, trojan-source

Bug 1923418 [wpt PR 48524] - [Fontations] Switch usage of Fontations for web fonts to experimental, a=testonly
  testing/web-platform/tests/css/css-fonts/font-size-adjust-010.html
Due: eslint, file-whitespace

Bug 1923372 [wpt PR 48521] - Add WPT for CSP exemption of speculation rules via the SR header, a=testonly
  testing/web-platform/tests/speculation-rules/prefetch/out-of-document-rule-set.https.html
  testing/web-platform/tests/speculation-rules/prefetch/resources/executor.sub.html
Due: eslint, file-whitespace

Bug 1923372 [wpt PR 48521] - Update wpt metadata, a=testonly
  testing/web-platform/meta/speculation-rules/prefetch/out-of-document-rule-set.https.html.ini
Due: test-manifest

Bug 1923529 [wpt PR 48532] - Update wpt metadata, a=testonly
  testing/web-platform/meta/webauthn/createcredential-nested-frame.https.html.ini
Due: test-manifest

Bug 1923529 [wpt PR 48532] - [webauthn] Move nested frame tests to WPTs, a=testonly
  testing/web-platform/tests/credential-management/credentialscontainer-frame-basics.https.html
  testing/web-platform/tests/webauthn/createcredential-nested-frame.https.html
Due: eslint, file-whitespace

Bug 1923533 [wpt PR 48533] - WebNN: Add IDL and mojo definitions for `logical[And|Or|Xor]` operators, a=testonly
  testing/web-platform/tests/webnn/conformance_tests/logical_and.https.any.js
  testing/web-platform/tests/webnn/conformance_tests/logical_or.https.any.js
  testing/web-platform/tests/webnn/conformance_tests/logical_xor.https.any.js
  testing/web-platform/tests/webnn/validation_tests/elementwise-logical.https.any.js
Due: eslint

Bug 1923571 [wpt PR 48535] - [@container] Create SnappedQueryScrollSnapshot for evaluator, a=testonly
  testing/web-platform/tests/css/css-conditional/container-queries/scroll-state-target-query-change.html
Due: eslint, file-whitespace

Bug 1923632 [wpt PR 48539] - [nesting] Move CSSNestedDeclarations/whitespace tests to separate file, a=testonly
  testing/web-platform/tests/css/css-nesting/nested-declarations-cssom-whitespace.html
  testing/web-platform/tests/css/css-nesting/nested-declarations-cssom.html
Due: eslint, file-whitespace

Bug 1923571 [wpt PR 48535] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-conditional/container-queries/scroll-state-target-query-change.html.ini
Due: test-manifest

Bug 1923632 [wpt PR 48539] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-nesting/nested-declarations-cssom-whitespace.html.ini
Due: test-manifest

Bug 1923627 [wpt PR 48538] - [PEPC] Allow unbounded element width if the border is present, a=testonly
  testing/web-platform/tests/html/semantics/permission-element/bounded-sizes-reftest-ref.html
  testing/web-platform/tests/html/semantics/permission-element/bounded-sizes-reftest.tentative.html
  testing/web-platform/tests/html/semantics/permission-element/bounded-sizes.tentative.html
  testing/web-platform/tests/html/semantics/permission-element/invalid-css-properties.tentative.html
  testing/web-platform/tests/html/semantics/permission-element/large-min-size-reftest-ref.html
  testing/web-platform/tests/html/semantics/permission-element/large-min-size-reftest.tentative.html
  testing/web-platform/tests/html/semantics/permission-element/unbounded-width-with-border-reftest-ref.html
  testing/web-platform/tests/html/semantics/permission-element/unbounded-width-with-border-reftest.tentative.html
Due: eslint, file-whitespace

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml
