Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

eslint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

stylelint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

py-black:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

py-ruff:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

yaml:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

shellcheck:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

clang-format:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

rustfmt:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

fluent-lint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

Bug 1953390 - Revert Bug 1910298, a=pascalc
  netwerk/protocol/http/AlternateServices.cpp
  netwerk/protocol/http/ConnectionEntry.cpp
  netwerk/protocol/http/ConnectionEntry.h
  netwerk/protocol/http/nsHttpConnectionInfo.cpp
  netwerk/protocol/http/nsHttpConnectionInfo.h
  netwerk/protocol/http/nsHttpConnectionMgr.cpp
  security/manager/ssl/components.conf
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1953969 - Fix geckodriver snap doc: missing path component r=whimboo,webdriver-reviewers
  testing/geckodriver/doc/Usage.md
Due: file-whitespace

Bug 1953702 - Remove medata for "/webdriver/tests/classic/set_window_rect/set.py" on Mac. a=pascalc
  testing/web-platform/meta/webdriver/tests/classic/set_window_rect/set.py.ini
Due: test-manifest

Bug 1952250 - Implement the Sanitizer removeUnsafe method. r=emilio
  dom/base/nsContentUtils.cpp
  dom/base/nsContentUtils.h
  dom/security/sanitizer/Sanitizer.cpp
  dom/security/sanitizer/Sanitizer.h
  testing/web-platform/tests/sanitizer-api/sanitizer-removeUnsafe.tentative.html
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1952276 - Optimize sanitizing with the default config. r=emilio
  dom/base/StaticAtomSet.h
  dom/base/moz.build
  dom/base/nsTreeSanitizer.cpp
  dom/base/nsTreeSanitizer.h
  dom/security/sanitizer/Sanitizer.cpp
  dom/security/sanitizer/Sanitizer.h
  dom/security/sanitizer/SanitizerDefaultConfig.h
  dom/security/sanitizer/safe-default-configuration.json
  dom/security/sanitizer/update-safe-default-configuration.py
Due: eslint, py-black, py-ruff, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1953720 - In SetHTML create the inert document by inherting from the current document. r=emilio
  dom/base/Element.cpp
  dom/security/sanitizer/Sanitizer.cpp
  testing/web-platform/meta/sanitizer-api/sethtml-tree-construction.tentative.html.ini
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Bug 1952250, 1952276, 1953720: apply code formatting via Lando
  dom/base/StaticAtomSet.h
  dom/security/sanitizer/Sanitizer.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1954019 - Update test expectations for /storage-access-api/requestStorageAccess-sandboxed-iframe-no-storage-access.sub.https.window.html on Linux.
  testing/web-platform/meta/storage-access-api/requestStorageAccess-sandboxed-iframe-no-storage-access.sub.https.window.js.ini
Due: test-manifest

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump
  browser/locales/l10n-changesets.json
Due: eslint

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump
  mobile/locales/l10n-changesets.json
Due: eslint

Bug 1941671 Allow to create PlanarYCbCrData from VideoData::YCbCrBuffer r=lsalzman
  gfx/layers/ImageContainer.cpp
  gfx/layers/ImageContainer.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1941671 Add SurfaceFormat::YUV420P10 to support FFmpeg HDR SW decoded formats r=lsalzman
  gfx/2d/Types.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1941671 [Linux] Update BlitHelper to convert YUV420P10 to P010 r=lsalzman
  gfx/gl/GLBlitHelper.cpp
  gfx/gl/GLBlitHelper.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1941671 [Linux] Remove widget/gtk/gbm.h and use third_party/gbm/gbm.h r=emilio
  dom/webgpu/ExternalTextureDMABuf.cpp
  widget/gtk/DMABufFormats.cpp
  widget/gtk/DMABufLibWrapper.cpp
  widget/gtk/DMABufLibWrapper.h
  widget/gtk/gbm.h
  widget/gtk/moz.build
  widget/gtk/nsWaylandDisplay.h
Due: py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1941671 [Linux] Decode HDR video produced by SW FFmpeg decoder to dmabuf surfaces r=alwu
  dom/media/platforms/ffmpeg/FFmpegVideoDecoder.cpp
  dom/media/platforms/ffmpeg/FFmpegVideoDecoder.h
  dom/media/platforms/ffmpeg/FFmpegVideoFramePool.cpp
  dom/media/platforms/ffmpeg/FFmpegVideoFramePool.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1941671 [Linux] Implement DMABufSurfaceYUV update and convert from layers::PlanarYCbCrData r=emilio
  widget/gtk/DMABufSurface.cpp
  widget/gtk/DMABufSurface.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1953802 - Fix download groups sort order r=android-reviewers,tthibaud
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/downloads/listscreen/store/DownloadUIState.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/downloads/listscreen/store/DownloadUIStateTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/downloads/listscreen/store/DownloadUIStateTestData.kt
Due: none

Bug 1953331 - Generate WebTransport ID in a static function, r=jesup,necko-reviewers
  netwerk/protocol/http/nsHttpChannel.cpp
  netwerk/protocol/http/nsHttpConnectionInfo.cpp
  netwerk/protocol/http/nsHttpConnectionInfo.h
  netwerk/protocol/http/nsHttpConnectionMgr.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1951423. Use the sRGB transfer characteristics for BT.709, BT.601, and BT.2020. r=gfx-reviewers,aosmond
  image/Decoder.cpp
  image/Decoder.h
  image/decoders/nsAVIFDecoder.cpp
  image/decoders/nsPNGDecoder.cpp
  image/test/reftest/color-management/720p-CCWH.png
  image/test/reftest/color-management/720p-CCWH_yuv444p_pc-1-13-6.avif
  image/test/reftest/color-management/720p-CCWH_yuv444p_tv-1-1-1.avif
  image/test/reftest/color-management/reftest.list
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1953636 - Let mica popups ride the trains. r=desktop-theme-reviewers,win-reviewers,dao,handyman
  browser/base/content/test/forms/browser_selectpopup_colors.js
  layout/style/test/chrome/test_chrome_only_media_queries.html
  modules/libpref/init/StaticPrefList.yaml
Due: eslint, yaml, file-whitespace

Bug 1952111 - Extend aboutprivatebrowsing.click_* telemetry. r=anti-tracking-reviewers,timhuang
  browser/components/privatebrowsing/metrics.yaml
Due: yaml

Bug 1880509 - [devtools] Use 'eventsource' for the type server sent event requests r=devtools-reviewers,nchevobbe
  devtools/client/netmonitor/src/utils/request-utils.js
  devtools/client/netmonitor/test/browser_net_sse-basic.js
Due: eslint

Backed out 4 changesets (bug 1952276, bug 1953720, bug 1952250) for causing build bustages
  dom/base/Element.cpp
  dom/base/StaticAtomSet.h
  dom/base/moz.build
  dom/base/nsContentUtils.cpp
  dom/base/nsContentUtils.h
  dom/base/nsTreeSanitizer.cpp
  dom/base/nsTreeSanitizer.h
  dom/security/sanitizer/Sanitizer.cpp
  dom/security/sanitizer/Sanitizer.h
  dom/security/sanitizer/SanitizerDefaultConfig.h
  dom/security/sanitizer/safe-default-configuration.json
  dom/security/sanitizer/update-safe-default-configuration.py
  testing/web-platform/meta/sanitizer-api/sethtml-tree-construction.tentative.html.ini
  testing/web-platform/tests/sanitizer-api/sanitizer-removeUnsafe.tentative.html
Due: eslint, py-black, py-ruff, clang-format, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Backed out 2 changesets (bug 1946905) for causing android perftest failures
  gfx/wr/wrench/android.txt
  layout/tools/reftest/mach_test_package_commands.py
  python/mozbuild/mozbuild/mach_commands.py
  testing/mochitest/mach_test_package_commands.py
  testing/mozbase/mozdevice/mozdevice/adb.py
  testing/mozbase/mozrunner/mozrunner/devices/android_device.py
  testing/mozharness/mozharness/mozilla/testing/android.py
  testing/webcompat/mach_commands.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Backed out changeset f74a557cdb43 (bug 1951190) for causing btime failures. CLOSED TREE
  build.gradle
  mobile/android/android-components/plugins/config/build.gradle
  mobile/android/android-components/plugins/dependencies/build.gradle
  mobile/android/android-components/plugins/publicsuffixlist/build.gradle
  mobile/android/android-components/samples/browser/build.gradle
  mobile/android/annotations/build.gradle
  mobile/android/docs/fenix.rst
  mobile/android/examples/messaging_example/app/build.gradle
  mobile/android/examples/port_messaging_example/app/build.gradle
  mobile/android/exoplayer2/build.gradle
  mobile/android/fenix/app/build.gradle
  mobile/android/fenix/plugins/apksize/build.gradle
  mobile/android/focus-android/app/build.gradle
  mobile/android/geckoview/build.gradle
  mobile/android/geckoview_example/build.gradle
  mobile/android/shared-settings.gradle
  mobile/android/test_runner/build.gradle
  taskcluster/kinds/build/fenix.yml
Due: yaml, file-whitespace

Bug 1933169 - add a desktop-only UA override for next.goalplan.com; r=denschub,webcompat-reviewers
  browser/extensions/webcompat/data/interventions.json
  testing/webcompat/interventions/tests/test_1933169_next_goalplan_com.py
Due: eslint, py-black, py-ruff, file-whitespace, trojan-source

Bug 1923656 - add a UA override for ipmph.com; r=denschub,webcompat-reviewers
  browser/extensions/webcompat/data/interventions.json
  testing/webcompat/interventions/tests/test_1923656_ipmph_com.py
Due: eslint, py-black, py-ruff, file-whitespace, trojan-source

Bug 1928941 - add a desktop-only UA override for oasis.decart.ai; r=denschub,webcompat-reviewers
  browser/extensions/webcompat/data/interventions.json
  testing/webcompat/interventions/tests/test_1928941_oasis_decart_ai.py
Due: eslint, py-black, py-ruff, file-whitespace, trojan-source

Bug 1927984 - add a UA override and window.chrome shim for modules.sms-timing.com; r=denschub,webcompat-reviewers
  browser/extensions/webcompat/data/interventions.json
  browser/extensions/webcompat/injections/js/bug1927984-modules.sms-timing.com-chrome-shim.js
  browser/extensions/webcompat/moz.build
  testing/webcompat/interventions/tests/test_1927984_modules_sms-timing_com.py
Due: eslint, py-black, py-ruff, file-whitespace, trojan-source

Bug 1919698 - add a desktop-only UA override for anecdotes.ai; r=denschub,webcompat-reviewers
  browser/extensions/webcompat/data/interventions.json
  testing/webcompat/interventions/tests/test_1919698_anecdotes_ai.py
Due: eslint, py-black, py-ruff, file-whitespace, trojan-source

Bug 1898932 - add a UA override for account.gov.il; r=denschub,webcompat-reviewers
  browser/extensions/webcompat/data/interventions.json
  testing/webcompat/interventions/tests/test_1898932_account_gov_il.py
Due: eslint, py-black, py-ruff, file-whitespace, trojan-source

Bug 1949491 - Implement a shim for resolving stackoverflow login issue. r=twisniewski,anti-tracking-reviewers,webcompat-reviewers,bvandersloot
  browser/extensions/webcompat/data/shims.js
  browser/extensions/webcompat/manifest.json
  browser/extensions/webcompat/moz.build
  browser/extensions/webcompat/shims/stackoverflow-login.js
Due: eslint, py-black

Bug 1938299 - Allow steam sites to access cookies on other steam sites. r=anti-tracking-reviewers,webcompat-reviewers,timhuang,twisniewski
  browser/extensions/webcompat/data/shims.js
Due: eslint

Bug 1902403 - add a UA override for musicstore.auone.jp; r=denschub,webcompat-reviewers
  testing/webcompat/interventions/tests/test_1902403_musicstore_auone_jp.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1953503 part 1 - Add some additional helper functions to avoid code duplication. r=mgaudet
  js/src/vm/RealmFuses.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1953503 part 2 - Add and use template versions of GlobalObject::{maybeGetPrototype,maybeGetConstructor}. r=mgaudet
  js/src/vm/GlobalObject.h
  js/src/vm/RealmFuses.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1953503 part 4 - Add fuse for promise lookups. r=mgaudet
  js/src/builtin/Promise.cpp
  js/src/jit-test/tests/fuses/promise-1.js
  js/src/vm/RealmFuses.cpp
  js/src/vm/RealmFuses.h
  js/src/vm/Watchtower.cpp
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1953503 part 3 - Add GenericFinishInit template. r=mgaudet
  js/src/builtin/WeakMapObject.cpp
  js/src/builtin/WeakSetObject.cpp
  js/src/vm/GlobalObject.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1953503 part 6 - Add use counter for PromiseLookup fuse. r=mgaudet
  dom/base/UseCounters.conf
  dom/base/use_counter_metrics.yaml
  js/public/friend/UsageStatistics.h
  js/src/jit-test/tests/fuses/promise-1.js
  js/src/vm/RealmFuses.cpp
  js/src/vm/RealmFuses.h
  js/xpconnect/src/XPCJSRuntime.cpp
Due: eslint, yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1953503 part 5 - Replace PromiseLookup code with a fuse check. r=mgaudet
  js/src/builtin/Promise.cpp
  js/src/jit-test/tests/fuses/promise-2.js
  js/src/moz.build
  js/src/vm/PromiseLookup.cpp
  js/src/vm/PromiseLookup.h
  js/src/vm/Realm.cpp
  js/src/vm/Realm.h
Due: eslint, py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, **/*.java, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml
