Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

eslint:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py eslint

stylelint:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py stylelint

py-black:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py black

py-ruff:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py ruff

yaml:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py yaml

shellcheck:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py shellcheck

clang-format:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  ...

rustfmt:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py rustfmt

fluent-lint:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py fluent-lint

localization:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py l10n

Bug 1917093 [wpt PR 47993] - [line-clamp] Change the computed value of `display: -webkit-box` when used with `line-clamp`, a=testonly
  testing/web-platform/tests/css/css-overflow/line-clamp/webkit-line-clamp-048.html
  testing/web-platform/tests/css/css-overflow/parsing/webkit-box-computed.html
Due: eslint, file-whitespace

Bug 1917093 [wpt PR 47993] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-overflow/line-clamp/webkit-line-clamp-048.html.ini
Due: test-manifest

Bug 1917117 [wpt PR 48000] - [css-text-decor] Add test for omitted text-emphasis-position values, a=testonly
  testing/web-platform/tests/css/css-text-decor/text-emphasis-position-default-001-ref.html
  testing/web-platform/tests/css/css-text-decor/text-emphasis-position-default-001.html
Due: eslint, file-whitespace

Bug 1917041 [wpt PR 47986] - Add some basic pagination tests., a=testonly
  testing/web-platform/tests/css/css-page/basic-pagination-001-print-ref.html
  testing/web-platform/tests/css/css-page/basic-pagination-001-print.html
  testing/web-platform/tests/css/css-page/basic-pagination-002-print-ref.html
  testing/web-platform/tests/css/css-page/basic-pagination-002-print.html
  testing/web-platform/tests/css/css-page/basic-pagination-003-print-ref.html
  testing/web-platform/tests/css/css-page/basic-pagination-003-print.html
  testing/web-platform/tests/css/css-page/basic-pagination-004-print-ref.html
  testing/web-platform/tests/css/css-page/basic-pagination-004-print.html
  testing/web-platform/tests/css/css-page/basic-pagination-005-print.html
Due: eslint, file-whitespace

Bug 1917041 [wpt PR 47986] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-page/basic-pagination-002-print.html.ini
  testing/web-platform/meta/css/css-page/basic-pagination-003-print.html.ini
Due: test-manifest

Bug 1917137 [wpt PR 48004] - Simplify directory creation in canvas WPT generator, a=testonly
  testing/web-platform/tests/html/canvas/tools/gentestutilsunion.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1917064 [wpt PR 47990] - IDB WPTs: Extend IDBCursor update() index WPTs to run on workers, a=testonly
  testing/web-platform/tests/IndexedDB/idbcursor_update_index.any.js
  testing/web-platform/tests/IndexedDB/idbcursor_update_index.htm
  testing/web-platform/tests/IndexedDB/idbcursor_update_index2.htm
  testing/web-platform/tests/IndexedDB/idbcursor_update_index3.htm
  testing/web-platform/tests/IndexedDB/idbcursor_update_index4.htm
  testing/web-platform/tests/IndexedDB/idbcursor_update_index5.htm
  testing/web-platform/tests/IndexedDB/idbcursor_update_index6.htm
  testing/web-platform/tests/IndexedDB/idbcursor_update_index7.htm
  testing/web-platform/tests/IndexedDB/idbcursor_update_index8.htm
  testing/web-platform/tests/IndexedDB/idbcursor_update_index9.any.js
Due: eslint

Bug 1917115 [wpt PR 47999] - webnn: add IDL and mojo definition of quantizeLinear and dequantizeLinear, a=testonly
  testing/web-platform/tests/webnn/validation_tests/dequantizeLinear.https.any.js
  testing/web-platform/tests/webnn/validation_tests/quantizeLinear.https.any.js
Due: eslint

Bug 1917165 [wpt PR 48007] - [Editing] Reset |input_type| to |kNone| before character input, a=testonly
  testing/web-platform/tests/input-events/input-events-typing.html
Due: eslint, file-whitespace

Bug 1917208 - [wpt-sync] Update web-platform-tests to ff8ec78f3504a09f25b9a83fdc42b0db94332605, a=testonly
  testing/web-platform/meta/IndexedDB/idbcursor_update_index.htm.ini
  testing/web-platform/meta/IndexedDB/idbcursor_update_index2.htm.ini
  testing/web-platform/meta/IndexedDB/idbcursor_update_index3.htm.ini
  testing/web-platform/meta/IndexedDB/idbcursor_update_index4.htm.ini
  testing/web-platform/meta/IndexedDB/idbcursor_update_index5.htm.ini
  testing/web-platform/meta/IndexedDB/idbcursor_update_index6.htm.ini
  testing/web-platform/meta/IndexedDB/idbcursor_update_index7.htm.ini
  testing/web-platform/meta/IndexedDB/idbcursor_update_index8.htm.ini
  testing/web-platform/meta/IndexedDB/idbcursor_update_index9.any.js.ini
  testing/web-platform/meta/IndexedDB/keygenerator-constrainterror.htm.ini
  testing/web-platform/meta/IndexedDB/keygenerator-explicit.html.ini
  testing/web-platform/meta/IndexedDB/keygenerator-inject.html.ini
  testing/web-platform/meta/IndexedDB/keygenerator-overflow.htm.ini
  testing/web-platform/meta/IndexedDB/keygenerator.htm.ini
  testing/web-platform/meta/cookies/attributes/domain.sub.html.ini
  testing/web-platform/meta/cookies/attributes/max-age.html.ini
  testing/web-platform/meta/css/css-conditional/at-media-001.html.ini
  testing/web-platform/meta/css/css-paint-api/custom-property-animation-on-main-thread.https.html.ini
  testing/web-platform/meta/css/css-paint-api/one-custom-property-animation.https.html.ini
  testing/web-platform/meta/css/css-view-transitions/unset-and-initial-view-transition-name.html.ini
  testing/web-platform/meta/css/css-view-transitions/update-callback-called-once.html.ini
  testing/web-platform/meta/editing/other/fire-selection-change-on-deleting-empty-element.html.ini
  testing/web-platform/meta/html/anonymous-iframe/embedding.tentative.https.window.js.ini
  testing/web-platform/meta/loading/early-hints/__dir__.ini
  testing/web-platform/meta/media-source/mediasource-correct-frames-after-reappend.html.ini
  testing/web-platform/meta/mozilla-sync
  testing/web-platform/meta/screen-orientation/active-lock.html.ini
  testing/web-platform/meta/upgrade-insecure-requests/gen/worker-classic.http-rp/upgrade/fetch.https.html.ini
  testing/web-platform/meta/webdriver/tests/bidi/network/continue_response/cookies.py.ini
  testing/web-platform/meta/webdriver/tests/bidi/network/continue_response/credentials.py.ini
  testing/web-platform/meta/webrtc-encoded-transform/RTCRtpScriptTransform-encoded-transform.https.html.ini
Due: test-manifest

Bug 1917757 - Collect telemetry for if the user has gesture navigation enabled r=android-reviewers,gmalekpour, a=dsmith
  mobile/android/fenix/app/metrics.yaml
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/ext/View.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/HomeActivityTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/ext/ViewTest.kt
Due: yaml

Bug 1917757 - Collect telemetry for if the user has gesture navigation enabled r=android-reviewers,gmalekpour
  mobile/android/fenix/app/metrics.yaml
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/ext/View.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/HomeActivityTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/ext/ViewTest.kt
Due: yaml

Bug 1911100 - Display Set as default Browser native prompt in home fragment r=android-reviewers,vdreghici,rebecatudor273,twhite
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
Due: none

Bug 1913279 - address review comment r=sclements
  browser/themes/shared/tabbrowser/tabs.css
Due: stylelint, file-whitespace

Bug 1904665 - [remote] Prepare the Remote Agent code base for parent process event dispatching. r=webdriver-reviewers,jdescottes
  remote/marionette/actors/MarionetteCommandsChild.sys.mjs
  remote/marionette/actors/MarionetteCommandsParent.sys.mjs
  remote/marionette/sync.sys.mjs
  remote/marionette/test/xpcshell/test_sync.js
  remote/marionette/transport.sys.mjs
  remote/shared/webdriver/Actions.sys.mjs
  remote/shared/webdriver/Event.sys.mjs
  remote/shared/webdriver/test/xpcshell/test_Actions.js
  remote/test/puppeteer/test/TestExpectations.json
  remote/webdriver-bidi/modules/root/input.sys.mjs
  remote/webdriver-bidi/modules/windowglobal/input.sys.mjs
Due: eslint

Bug 1904665 - [wdspec] Updated tests for perform actions to check for "move target out of bounds" errors. r=webdriver-reviewers,jdescottes
  testing/web-platform/tests/webdriver/tests/bidi/input/perform_actions/pointer_mouse.py
  testing/web-platform/tests/webdriver/tests/bidi/input/perform_actions/pointer_pen.py
  testing/web-platform/tests/webdriver/tests/bidi/input/perform_actions/pointer_touch.py
  testing/web-platform/tests/webdriver/tests/bidi/input/perform_actions/wheel.py
  testing/web-platform/tests/webdriver/tests/classic/perform_actions/pointer_mouse.py
  testing/web-platform/tests/webdriver/tests/classic/perform_actions/pointer_pen.py
  testing/web-platform/tests/webdriver/tests/classic/perform_actions/pointer_touch.py
  testing/web-platform/tests/webdriver/tests/classic/perform_actions/wheel.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1904665 - [webdriver] Update JSdoc in Actions module. r=webdriver-reviewers,jdescottes
  remote/shared/webdriver/Actions.sys.mjs
Due: eslint

Bug 1915798 - [wdspec] Add WebDriver BiDi tests to check queuing of actions. r=webdriver-reviewers,jdescottes
  testing/web-platform/tests/webdriver/tests/bidi/input/__init__.py
  testing/web-platform/tests/webdriver/tests/bidi/input/perform_actions/queue.py
  testing/web-platform/tests/webdriver/tests/bidi/input/release_actions/queue.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1915798 - [remote] Add support for "Action queues" to sequencially perform actions without races. r=webdriver-reviewers,jdescottes
  remote/jar.mn
  remote/marionette/actors/MarionetteCommandsParent.sys.mjs
  remote/shared/AsyncQueue.sys.mjs
  remote/shared/test/xpcshell/test_AsyncQueue.js
  remote/shared/test/xpcshell/xpcshell.toml
  remote/shared/webdriver/Actions.sys.mjs
  remote/test/puppeteer/test/TestExpectations.json
  remote/webdriver-bidi/modules/root/input.sys.mjs
  testing/web-platform/meta/webdriver/tests/classic/perform_actions/pointer_pen.py.ini
Due: eslint, test-manifest

Bug 1917791 - Reporting prefs for third-party cookie blocking in the broken site reports. r=twisniewski,webcompat-reviewers
  browser/components/reportbrokensite/ReportBrokenSite.sys.mjs
  browser/components/reportbrokensite/test/browser/send.js
  toolkit/components/reportbrokensite/ReportBrokenSiteParent.sys.mjs
  toolkit/components/reportbrokensite/metrics.yaml
Due: eslint, yaml

Bug 1898247 - Migrate all remaining HTTP_PAGE_* and HTTP_SUB_* probes to glean in nsLoadGroup.cpp r=kershaw,necko-reviewers,acreskey
  netwerk/base/nsLoadGroup.cpp
  netwerk/protocol/http/metrics.yaml
Due: yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1898247 - Add a test for migrated glean probes (HTTP_PAGE_* and HTTP_SUB_* in nsLoadGroup.cpp) r=kershaw,necko-reviewers
  netwerk/test/unit/test_loadgroup_glean.js
  netwerk/test/unit/xpcshell.toml
Due: eslint

Bug 1915642 - C++ intermediate representation, r=markh
  toolkit/components/uniffi-bindgen-gecko-js/components/generated/RustRelevancy.sys.mjs
  toolkit/components/uniffi-bindgen-gecko-js/components/generated/RustRemoteSettings.sys.mjs
  toolkit/components/uniffi-bindgen-gecko-js/components/generated/RustSuggest.sys.mjs
  toolkit/components/uniffi-bindgen-gecko-js/components/generated/RustTabs.sys.mjs
  toolkit/components/uniffi-bindgen-gecko-js/fixtures/generated/RustArithmetic.sys.mjs
  toolkit/components/uniffi-bindgen-gecko-js/fixtures/generated/RustCustomTypes.sys.mjs
  toolkit/components/uniffi-bindgen-gecko-js/fixtures/generated/RustExternalTypes.sys.mjs
  toolkit/components/uniffi-bindgen-gecko-js/fixtures/generated/RustGeometry.sys.mjs
  toolkit/components/uniffi-bindgen-gecko-js/fixtures/generated/RustRefcounts.sys.mjs
  toolkit/components/uniffi-bindgen-gecko-js/fixtures/generated/RustRondpoint.sys.mjs
  toolkit/components/uniffi-bindgen-gecko-js/fixtures/generated/RustSprites.sys.mjs
  toolkit/components/uniffi-bindgen-gecko-js/fixtures/generated/RustTodolist.sys.mjs
  toolkit/components/uniffi-bindgen-gecko-js/src/ci_list.rs
  toolkit/components/uniffi-bindgen-gecko-js/src/lib.rs
  toolkit/components/uniffi-bindgen-gecko-js/src/render/cpp.rs
  toolkit/components/uniffi-bindgen-gecko-js/src/templates/UniFFIScaffolding.cpp
  toolkit/components/uniffi-js/UniFFIFixtureScaffolding.cpp
  toolkit/components/uniffi-js/UniFFIGeneratedScaffolding.cpp
Due: eslint, clang-format, rustfmt, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1915644 - Generate a single scaffolding file, r=markh
  toolkit/components/uniffi-bindgen-gecko-js/mach_commands.py
  toolkit/components/uniffi-bindgen-gecko-js/src/lib.rs
  toolkit/components/uniffi-bindgen-gecko-js/src/render/cpp.rs
  toolkit/components/uniffi-bindgen-gecko-js/src/templates/UniFFIScaffolding.cpp
  toolkit/components/uniffi-js/README.md
  toolkit/components/uniffi-js/UniFFICallbacks.cpp
  toolkit/components/uniffi-js/UniFFICallbacks.h
  toolkit/components/uniffi-js/UniFFIFixtureScaffolding.cpp
  toolkit/components/uniffi-js/UniFFIGeneratedScaffolding.cpp
  toolkit/components/uniffi-js/UniFFIScaffolding.cpp
  toolkit/components/uniffi-js/moz.build
Due: py-black, py-ruff, clang-format, rustfmt, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1917664 - Ensure mMSAuthorities is loaded even when the preference is switched r=necko-reviewers,kershaw
  netwerk/protocol/http/nsHttpHandler.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1900230: Implement parsing of `anchor()` function in inset properties. r=firefox-style-system-reviewers,emilio
  layout/base/nsLayoutUtils.h
  layout/generic/ReflowInput.cpp
  layout/generic/StickyScrollContainer.cpp
  layout/generic/nsAbsoluteContainingBlock.cpp
  layout/style/ServoBindings.toml
  layout/style/ServoStyleConstsInlines.h
  layout/style/nsComputedDOMStyle.cpp
  layout/style/nsComputedDOMStyle.h
  layout/style/nsStyleStruct.cpp
  layout/style/nsStyleStruct.h
  servo/components/style/properties/longhands/position.mako.rs
  servo/components/style/properties/shorthands/position.mako.rs
  servo/components/style/values/computed/length.rs
  servo/components/style/values/computed/mod.rs
  servo/components/style/values/computed/position.rs
  servo/components/style/values/generics/length.rs
  servo/components/style/values/generics/position.rs
  servo/components/style/values/specified/length.rs
  servo/components/style/values/specified/mod.rs
  servo/components/style/values/specified/position.rs
  servo/ports/geckolib/cbindgen.toml
  testing/web-platform/meta/css/css-anchor-position/anchor-animation-iacvt.html.ini
  testing/web-platform/meta/css/css-anchor-position/anchor-parse-valid.html.ini
  testing/web-platform/meta/css/css-anchor-position/at-position-try-cssom.html.ini
  testing/web-platform/tests/css/css-anchor-position/anchor-parse-invalid.html
Due: eslint, clang-format, rustfmt, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Bug 1900230: Move `Inset` from `length` to `position` module. r=emilio
  layout/style/ServoBindings.toml
  servo/components/style/values/computed/length.rs
  servo/components/style/values/computed/mod.rs
  servo/components/style/values/computed/position.rs
  servo/components/style/values/generics/length.rs
  servo/components/style/values/generics/position.rs
  servo/components/style/values/specified/length.rs
  servo/components/style/values/specified/mod.rs
  servo/components/style/values/specified/position.rs
Due: rustfmt, file-whitespace, trojan-source

Bug 1900230 - Minor nits and improvements. r=dshin
  servo/components/style/values/computed/length.rs
  servo/components/style/values/generics/length.rs
  servo/components/style/values/generics/position.rs
  servo/components/style/values/mod.rs
  servo/components/style/values/specified/position.rs
Due: rustfmt, file-whitespace, trojan-source

Bug 1917208 - Fix metadata for js wasm test
  testing/web-platform/meta/wasm/jsapi/js-string/basic.tentative.any.js.ini
Due: test-manifest

Bug 1917208 - Revert incorrect sync change for view transitions test CLOSED TREE
  testing/web-platform/meta/css/css-view-transitions/unset-and-initial-view-transition-name.html.ini
Due: test-manifest

Bug 1917292 - Remove redundant canUseForTab from icon data payload and replace with not isRichIcon. r=mak
  browser/actors/LinkHandlerParent.sys.mjs
  browser/base/content/test/favicons/head.js
  browser/modules/FaviconLoader.sys.mjs
Due: eslint

Bug 1916411: Call InitializeMacApp before showing the profile locked dialog. a=diannaS
  toolkit/xre/nsAppRunner.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1826051: Improve PointerEvents RFP target for Android. r=tjr
  browser/components/resistfingerprinting/test/mochitest/test_pointer_event.html
  dom/base/Element.cpp
  dom/base/Navigator.cpp
  dom/events/PointerEvent.cpp
  dom/events/PointerEvent.h
  dom/events/PointerEventHandler.cpp
  toolkit/components/resistfingerprinting/RFPTargets.inc
  toolkit/components/resistfingerprinting/nsRFPService.cpp
  toolkit/components/resistfingerprinting/nsRFPService.h
  widget/WidgetEventImpl.cpp
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1916109: Don't force new process and improve the test. r=tjr
  browser/components/resistfingerprinting/test/browser/browser_exslt_timezone_load.js
Due: eslint

Bug 1917146 - Remove ripple disable theme in tabs tray row r=android-reviewers,007
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tabstray/TabsTrayBanner.kt
Due: none

Bug 1916727 - Only set import attributes pref if not release or beta r=spidermonkey-reviewers,mgaudet
  testing/web-platform/meta/html/semantics/scripting-1/the-script-element/json-module/__dir__.ini
Due: test-manifest

Bug 1916727 - Update WPT test expectations for JSON modules r=spidermonkey-reviewers,mgaudet
  testing/web-platform/meta/html/semantics/scripting-1/the-script-element/json-module/charset-2.html.ini
  testing/web-platform/meta/html/semantics/scripting-1/the-script-element/json-module/charset-bom.any.js.ini
  testing/web-platform/meta/html/semantics/scripting-1/the-script-element/json-module/charset.html.ini
  testing/web-platform/meta/html/semantics/scripting-1/the-script-element/json-module/cors-crossorigin-requests.html.ini
  testing/web-platform/meta/html/semantics/scripting-1/the-script-element/json-module/credentials.sub.html.ini
  testing/web-platform/meta/html/semantics/scripting-1/the-script-element/json-module/integrity.html.ini
  testing/web-platform/meta/html/semantics/scripting-1/the-script-element/json-module/invalid-content-type.any.js.ini
  testing/web-platform/meta/html/semantics/scripting-1/the-script-element/json-module/json-module-service-worker-test.https.html.ini
  testing/web-platform/meta/html/semantics/scripting-1/the-script-element/json-module/load-error-events.html.ini
  testing/web-platform/meta/html/semantics/scripting-1/the-script-element/json-module/module.html.ini
  testing/web-platform/meta/html/semantics/scripting-1/the-script-element/json-module/non-object.any.js.ini
  testing/web-platform/meta/html/semantics/scripting-1/the-script-element/json-module/parse-error.html.ini
  testing/web-platform/meta/html/semantics/scripting-1/the-script-element/json-module/referrer-policies.sub.html.ini
  testing/web-platform/meta/html/semantics/scripting-1/the-script-element/json-module/repeated-imports.any.js.ini
  testing/web-platform/meta/html/semantics/scripting-1/the-script-element/json-module/valid-content-type.html.ini
Due: test-manifest

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml
