Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

eslint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

stylelint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

py-black:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

py-ruff:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

yaml:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

shellcheck:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

clang-format:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

rustfmt:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

fluent-lint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

Bug 1943360 - Add a CSP to the devtool's Storage tab. r=devtools-reviewers,bomsy
  devtools/client/storage/index.xhtml
  dom/security/nsContentSecurityUtils.cpp
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1943360 - Add a CSP to the devtool's Style Editor. r=devtools-reviewers,bomsy
  devtools/client/jar.mn
  devtools/client/styleeditor/index.js
  devtools/client/styleeditor/index.xhtml
  dom/security/nsContentSecurityUtils.cpp
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Backed out changeset afe2ba0f432e (bug 1947164) for causing py3 failures @ test_faster_make
  Makefile.in
Due: none

Bug 1948969 - Update browser layout section r=sidebar-reviewers,settings-reviewers,kcochrane,mossop
  browser/components/preferences/main.inc.xhtml
Due: eslint, file-whitespace

Bug 1948969 - Update browser layout section r=sidebar-reviewers,settings-reviewers,kcochrane,mossop, a=dmeehan
  browser/components/preferences/main.inc.xhtml
Due: eslint, file-whitespace

Bug 1941446 - Allocate fixed slots for object literals with computed property names. r=mgaudet
  js/src/frontend/BytecodeEmitter.cpp
  js/src/frontend/ObjectEmitter.cpp
  js/src/jit-test/tests/bug1941446.js
  js/src/vm/BytecodeUtil.h
  js/src/vm/Interpreter.cpp
  js/src/vm/Opcodes.h
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1948589 - Part 1: Report exception if import() a unknown module type. r=jonco
  js/loader/ModuleLoaderBase.cpp
  testing/web-platform/meta/html/semantics/scripting-1/the-script-element/css-module/__dir__.ini
  testing/web-platform/meta/html/semantics/scripting-1/the-script-element/css-module/import-css-module-dynamic.html.ini
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Bug 1948589 - Part 2: Add sub test name in import-style-blocked-sub.html. r=jonco
  testing/web-platform/meta/content-security-policy/style-src/import-style-blocked.sub.html.ini
  testing/web-platform/tests/content-security-policy/style-src/import-style-blocked.sub.html
Due: eslint, file-whitespace, test-manifest

Bug 1948589 - Part 4: Update remaining ini files for JSON-module/CSS-module. r=jonco
  testing/web-platform/meta/content-security-policy/style-src/import-style-allowed.sub.html.ini
  testing/web-platform/meta/html/semantics/scripting-1/the-script-element/json-module/invalid-content-type.any.js.ini
  testing/web-platform/meta/html/semantics/scripting-1/the-script-element/module/dynamic-import/microtasks/css-import-in-worker.any.js.ini
  testing/web-platform/meta/html/semantics/scripting-1/the-script-element/module/dynamic-import/microtasks/with-import-assertions.any.js.ini
Due: test-manifest

Bug 1948589 - Part 3: Update cors-crossorigin-requests.html expected error message. r=jonco
  testing/web-platform/meta/html/semantics/scripting-1/the-script-element/json-module/cors-crossorigin-requests.html.ini
  testing/web-platform/tests/html/semantics/scripting-1/the-script-element/json-module/cors-crossorigin-requests.html
  testing/web-platform/tests/html/semantics/scripting-1/the-script-element/module/crossorigin-common.js
  testing/web-platform/tests/html/semantics/scripting-1/the-script-element/module/crossorigin.html
Due: eslint, file-whitespace, test-manifest

Bug 1946365 - Track already-clear region of transparent windows. r=win-reviewers,rkraesig
  widget/windows/nsWindow.cpp
  widget/windows/nsWindow.h
  widget/windows/nsWindowGfx.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1946365 - Use FillRect to clear window. r=win-reviewers,rkraesig
  widget/windows/nsWindowGfx.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Backed out 4 changesets (bug 1916424, bug 1946400) for causing leaks @ Alloc, JSString::OwnedChars
  browser/base/content/browser-init.js
  browser/base/content/browser.js
  browser/base/content/browser.js.globals
  browser/base/content/test/static/browser_all_files_referenced.js
  browser/components/BrowserComponents.manifest
  browser/components/BrowserGlue.sys.mjs
  browser/components/moz.build
  browser/modules/BrowserDOMWindow.sys.mjs
  browser/modules/WindowsJumpLists.sys.mjs
  browser/modules/moz.build
  toolkit/modules/BrowserUtils.sys.mjs
  toolkit/modules/tests/xpcshell/my_catman_1.sys.mjs
  toolkit/modules/tests/xpcshell/test_BrowserUtils.js
Due: eslint, py-black

Backed out changeset dbfd15553a78 (bug 1948166) for causing bc failures @ browser_search_firefoxSuggest.js CLOSED TREE
  browser/app/profile/firefox.js
  browser/components/preferences/privacy.js
  browser/components/preferences/search.inc.xhtml
  browser/components/preferences/search.js
  browser/components/preferences/tests/browser_privacy_firefoxSuggest.js
  browser/components/preferences/tests/browser_search_firefoxSuggest.js
  browser/components/urlbar/QuickSuggest.sys.mjs
  toolkit/components/nimbus/FeatureManifest.yaml
Due: eslint, yaml, file-whitespace

Bug 1948037 - UrlbarView shouldn't skip over existing rows when processing hidden-exposure results. r=mak,urlbar-reviewers
  browser/components/urlbar/UrlbarView.sys.mjs
  browser/components/urlbar/tests/UrlbarTestUtils.sys.mjs
  browser/components/urlbar/tests/browser-updateResults/browser.toml
  browser/components/urlbar/tests/browser-updateResults/browser_hiddenExposure.js
Due: eslint

Bug 1948037 - UrlbarView shouldn't skip over existing rows when processing hidden-exposure results. r=mak,urlbar-reviewers, a=dmeehan
  browser/components/urlbar/UrlbarView.sys.mjs
  browser/components/urlbar/tests/UrlbarTestUtils.sys.mjs
  browser/components/urlbar/tests/browser-updateResults/browser.toml
  browser/components/urlbar/tests/browser-updateResults/browser_hiddenExposure.js
Due: eslint

Bug 1936613 - Crash test. r=smaug
  dom/xslt/crashtests/1936613.html
  dom/xslt/crashtests/crashtests.list
Due: eslint, file-whitespace

Bug 1944981 - [devtools] Set targetType on xpcshell test target actors. r=devtools-reviewers,jdescottes
  devtools/server/tests/xpcshell/testactors.js
Due: eslint

Bug 1946446 - Update about:rights r=geckoview-reviewers,desktop-theme-reviewers,fluent-reviewers,dao,flod,m_kato,sessionstore-reviewers,Gijs,nsharpley
  browser/base/content/test/siteIdentity/browser_check_identity_state.js
  browser/base/content/test/static/browser_all_files_referenced.js
  browser/components/about/AboutRedirector.cpp
  browser/components/contextualidentity/test/browser/browser_aboutURLs.js
  browser/components/extensions/test/browser/browser_ext_pageAction_show_matches.js
  browser/components/originattributes/test/browser/browser_firstPartyIsolation_aboutPages.js
  browser/components/sessionstore/test/browser_579868.js
  browser/components/sessionstore/test/browser_615394-SSWindowState_events_duplicateTab.js
  browser/components/sessionstore/test/browser_615394-SSWindowState_events_setTabState.js
  browser/components/sessionstore/test/browser_615394-SSWindowState_events_undoCloseTab.js
  browser/components/sessionstore/test/browser_capabilities.js
  browser/tools/mozscreenshots/mozscreenshots/extension/configurations/ControlCenter.sys.mjs
  mobile/android/locales/jar.mn
  toolkit/content/aboutRights-unbranded.xhtml
  toolkit/content/aboutRights.js
  toolkit/content/aboutRights.xhtml
  toolkit/content/jar.mn
  toolkit/content/moz.build
  toolkit/content/tests/browser/browser.toml
  toolkit/content/tests/browser/browser_bug594509.js
  toolkit/content/tests/browser/browser_license_links.js
  toolkit/locales/en-US/toolkit/about/aboutRights.ftl
  toolkit/themes/shared/aboutRights.css
  toolkit/themes/shared/desktop-jar.inc.mn
  toolkit/themes/shared/illustrations/about-rights.svg
  tools/lint/fluent-lint/exclusions.yml
Due: eslint, stylelint, py-black, yaml, clang-format, fluent-lint, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1948293 - Align vertical tabs tab group line with bottom of last grouped tab without the tab shadow. r=dwalker,tabbrowser-reviewers
  browser/themes/shared/tabbrowser/tabs.css
Due: stylelint, file-whitespace

Bug 1941951 - Adjust expectations reftest '1384275-1.html' r=intermittent-reviewers,jmaher DONTBUILD
  layout/reftests/bugs/reftest.list
Due: none

Bug 1948068 - Make ChaosFeature an enum class. r=nika
  mfbt/ChaosMode.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1948068 - Make ChaosMode::isActive cheaper when disabled. r=glandium,nika
  js/xpconnect/src/XPCShellImpl.cpp
  mfbt/ChaosMode.cpp
  mfbt/ChaosMode.h
  toolkit/xre/nsAppRunner.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1948930 - Simplify DOM error handling r=emilio
  dom/svg/DOMSVGAngle.cpp
  dom/svg/DOMSVGAngle.h
  dom/svg/DOMSVGLength.cpp
  dom/svg/SVGAnimatedBoolean.cpp
  dom/svg/SVGAnimatedLength.cpp
  dom/svg/SVGAnimatedLength.h
  dom/svg/SVGAnimatedOrient.cpp
  dom/svg/SVGAnimatedOrient.h
  dom/svg/SVGPreserveAspectRatio.cpp
  dom/svg/SVGPreserveAspectRatio.h
  dom/svg/test/test_SVGLengthList.xhtml
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1946523 - STG - Step 1 UI migration r=fluent-reviewers,desktop-theme-reviewers,tabbrowser-reviewers,dao,bolsson
  browser/base/content/browser.xhtml
  browser/components/tabbrowser/SmartTabGrouping.sys.mjs
  browser/components/tabbrowser/content/tabbrowser.js
  browser/components/tabbrowser/content/tabgroup-menu.js
  browser/locales-preview/smartTabGroups.ftl
  browser/locales/jar.mn
  browser/themes/shared/tabbrowser/tabs.css
Due: eslint, stylelint, fluent-lint, file-whitespace

Bug 1946599: Fix off-center qr dialog spinner r=settings-reviewers,desktop-theme-reviewers,mossop,hjones
  browser/themes/shared/preferences/fxaPairDevice.css
Due: stylelint, file-whitespace

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  browser/locales/l10n-changesets.json
Due: eslint

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  mobile/locales/l10n-changesets.json
Due: eslint

Bug 1946365: apply code formatting via Lando
  widget/windows/nsWindow.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1947742 - Prevent search actions overriding other actions. r=urlbar-reviewers,dao a=dmeehan
  browser/components/urlbar/ActionsProviderContextualSearch.sys.mjs
  browser/components/urlbar/UrlbarInput.sys.mjs
  browser/components/urlbar/UrlbarProviderGlobalActions.sys.mjs
  browser/components/urlbar/tests/browser/browser_contextualsearch.js
Due: eslint

Bug 1941625 - Add context menu items for sidebar main r=sidebar-reviewers,fluent-reviewers,bolsson,kcochrane
  browser/base/content/main-popupset.inc.xhtml
  browser/components/sidebar/SidebarState.sys.mjs
  browser/components/sidebar/sidebar-main.mjs
  browser/components/sidebar/tests/browser/browser_sidebar_context_menu.js
  browser/locales/en-US/browser/sidebar.ftl
Due: eslint, fluent-lint, file-whitespace

Bug 1945985 - rsclientcerts: only search for new objects when the platform is actually looking for client auth certs r=jschanck
  security/manager/ssl/NSSSocketControl.cpp
  security/manager/ssl/TLSClientAuthCertSelection.cpp
  security/manager/ssl/nsNSSCertificateDB.cpp
  security/manager/ssl/nsNSSComponent.cpp
  security/manager/ssl/nsNSSComponent.h
  security/manager/ssl/rsclientcerts/src/manager.rs
Due: clang-format, rustfmt, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1933758 - Hide scrollbars in the profile selector dialog unless content overflows. r=profiles-reviewers,desktop-theme-reviewers,emilio,mossop
  browser/components/profiles/content/profile-selector.css
Due: stylelint, file-whitespace

Bug 1924576 - Fix "connect additional devices" link in new sidebar empty state for add a device in sync tabs r=sidebar-reviewers,fxview-reviewers,Gijs,kcochrane
  browser/components/firefoxview/SyncedTabsController.sys.mjs
  browser/components/firefoxview/tests/browser/browser_syncedtabs_firefoxview.js
  browser/components/sidebar/tests/browser/browser_syncedtabs_sidebar.js
Due: eslint

Bug 1894538: Part 2 - Cancel content analysis requests on timeout r=dlp-reviewers,fluent-reviewers,flod,gstoll
  browser/components/contentanalysis/content/ContentAnalysis.sys.mjs
  toolkit/components/contentanalysis/ContentAnalysis.cpp
  toolkit/components/contentanalysis/ContentAnalysis.h
  toolkit/components/contentanalysis/nsIContentAnalysis.idl
  toolkit/components/contentanalysis/tests/gtest/TestContentAnalysis.cpp
  toolkit/locales/en-US/toolkit/contentanalysis/contentanalysis.ftl
Due: eslint, clang-format, fluent-lint, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1894538: Part 1 - Repair autoAcknowledge implementation in content analysis r=dlp-reviewers,gstoll
  toolkit/components/contentanalysis/ContentAnalysis.cpp
  toolkit/components/contentanalysis/ContentAnalysis.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1926830 - Use the frame time rather than the event timestamp when updating a wheel scroll animation with a new delta. r=hiro
  gfx/layers/apz/src/AsyncPanZoomController.cpp
  gfx/layers/apz/test/gtest/TestBasic.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1948166 - Allow Suggest online settings UI to be hidden. r=daisuke,settings-reviewers,urlbar-reviewers,mossop
  browser/app/profile/firefox.js
  browser/components/preferences/privacy.js
  browser/components/preferences/search.inc.xhtml
  browser/components/preferences/search.js
  browser/components/preferences/tests/browser_privacy_firefoxSuggest.js
  browser/components/preferences/tests/browser_search_firefoxSuggest.js
  browser/components/preferences/tests/head.js
  browser/components/urlbar/QuickSuggest.sys.mjs
  toolkit/components/nimbus/FeatureManifest.yaml
Due: eslint, yaml, file-whitespace

Bug 1894538: apply code formatting via Lando
  toolkit/components/contentanalysis/ContentAnalysis.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1948119 - Reword JSMSG_TEMPORAL_MISSING_TEMPORAL_FIELDS error message; r=dminor
  js/public/friend/ErrorNumbers.msg
Due: none

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, **/*.java, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml
