Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

eslint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

stylelint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

py-black:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

py-ruff:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

yaml:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

shellcheck:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

clang-format:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

rustfmt:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

fluent-lint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

Bug 1929222 - Use std::clamp instead of min/max chain in gfx/ r=aosmond
  gfx/2d/BasePoint.h
  gfx/2d/BaseRect.h
  gfx/2d/Blur.cpp
  gfx/2d/FilterNodeSoftware.cpp
  gfx/2d/FilterProcessingSIMD-inl.h
  gfx/2d/ScaledFontMac.cpp
  gfx/gl/GLBlitHelper.cpp
  gfx/layers/apz/src/AndroidFlingPhysics.cpp
  gfx/src/FontPropertyTypes.h
  gfx/thebes/CoreTextFontList.cpp
  gfx/thebes/gfxDWriteFontList.h
  gfx/thebes/gfxGDIFont.cpp
  gfx/thebes/gfxUtils.cpp
  gfx/webrender_bindings/RenderCompositorANGLE.cpp
  gfx/webrender_bindings/RenderCompositorEGL.cpp
  gfx/webrender_bindings/RenderCompositorOGL.cpp
  gfx/webrender_bindings/WebRenderTypes.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1929204 - Use std::clamp instead of min/max combination in dom/base/IdleDeadline.cpp r=smaug
  dom/base/IdleDeadline.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1814024 - Fix verifyEditModeDismissalDoesNotSaveLoginCredentialsTest UI test r=aaronmt
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/LoginsTest.kt
Due: none

Bug 1928431 - [Menu Redesign][a11y] The description for the menu item is not read by accessibility. r=android-reviewers,rebecatudor273
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/menu/compose/MenuItem.kt
Due: none

Bug 1902667 - Add new trigger and callout for sidebar survey r=sidebar-reviewers,mviar,omc-reviewers,jsudiaman
  browser/components/sidebar/sidebar-main.mjs
  browser/components/sidebar/tests/browser/browser_glean_sidebar.js
  toolkit/components/messaging-system/schemas/TriggerActionSchemas/TriggerActionSchemas.json
  toolkit/components/messaging-system/schemas/TriggerActionSchemas/index.md
Due: eslint, file-whitespace

Backed out changeset 70210dd7915c (bug 1926722) for causing LeakSanitizer failures @ nsThread . CLOSED TREE
  dom/file/ipc/RemoteLazyInputStream.cpp
  dom/file/ipc/RemoteLazyInputStreamChild.cpp
  dom/file/ipc/RemoteLazyInputStreamThread.cpp
  dom/file/ipc/RemoteLazyInputStreamThread.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1915516 -Re-enable "Fenix-Fission" and "GeckoView-Fission" Android perf tests (on mozilla-central) r=perftest-reviewers,taskgraph-reviewers,kshampur,ahal
  taskcluster/config.yml
  taskcluster/gecko_taskgraph/target_tasks.py
  taskcluster/kinds/test/browsertime-mobile.yml
  testing/perfdocs/generated/raptor.rst
Due: py-black, py-ruff, yaml, file-whitespace, trojan-source

Bug 1916287 - Sleep when switching focus between iframe in formautofill testcase r=credential-management-reviewers,NeilDeakin
  browser/extensions/formautofill/test/browser/head.js
Due: eslint

Bug 1928943 - [devtools] Avoid running DevTools allocation tests on tsan. r=devtools-reviewers,nchevobbe
  devtools/client/framework/test/allocations/browser_allocations_browser_console.toml
  devtools/client/framework/test/allocations/browser_allocations_reload_debugger.toml
  devtools/client/framework/test/allocations/browser_allocations_reload_inspector.toml
  devtools/client/framework/test/allocations/browser_allocations_reload_netmonitor.toml
  devtools/client/framework/test/allocations/browser_allocations_reload_no_devtools.toml
  devtools/client/framework/test/allocations/browser_allocations_reload_webconsole.toml
  devtools/client/framework/test/allocations/browser_allocations_target.toml
  devtools/client/framework/test/allocations/browser_allocations_toolbox.toml
Due: none

Bug 1929254 - Updated the main image drawable with the latest asset provided by design. No update to the Dark Mode reader asset as the existing image is good enough. r=android-reviewers,amejiamarmol
  mobile/android/fenix/app/src/main/res/drawable/ic_onboarding_add_ons.xml
  mobile/android/fenix/app/src/main/res/raw/keep.xml
Due: eslint

Backed out changeset 17f9248f7a54 (bug 1929222) for causing build bustages @ ScaledFontMac.cpp. CLOSED TREE
  gfx/2d/BasePoint.h
  gfx/2d/BaseRect.h
  gfx/2d/Blur.cpp
  gfx/2d/FilterNodeSoftware.cpp
  gfx/2d/FilterProcessingSIMD-inl.h
  gfx/2d/ScaledFontMac.cpp
  gfx/gl/GLBlitHelper.cpp
  gfx/layers/apz/src/AndroidFlingPhysics.cpp
  gfx/src/FontPropertyTypes.h
  gfx/thebes/CoreTextFontList.cpp
  gfx/thebes/gfxDWriteFontList.h
  gfx/thebes/gfxGDIFont.cpp
  gfx/thebes/gfxUtils.cpp
  gfx/webrender_bindings/RenderCompositorANGLE.cpp
  gfx/webrender_bindings/RenderCompositorEGL.cpp
  gfx/webrender_bindings/RenderCompositorOGL.cpp
  gfx/webrender_bindings/WebRenderTypes.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1922276 - addTabGroup: add showCreateUI option and don't show post-create UI by default. r=dao,jswinarton,tabbrowser-reviewers
  browser/components/tabbrowser/content/tabbrowser.js
  browser/components/tabbrowser/content/tabs.js
  browser/components/tabbrowser/test/browser/tabs/browser_tab_groups.js
Due: eslint

Bug 1929176 - Update harfbuzz to 10.1.0 r=jfkthame
  gfx/harfbuzz/NEWS
  gfx/harfbuzz/moz.yaml
  gfx/harfbuzz/src/OT/Color/COLR/COLR.hh
  gfx/harfbuzz/src/gen-tag-table.py
  gfx/harfbuzz/src/gen-use-table.py
  gfx/harfbuzz/src/harfbuzz.cc
  gfx/harfbuzz/src/hb-blob.cc
  gfx/harfbuzz/src/hb-cairo.cc
  gfx/harfbuzz/src/hb-config.hh
  gfx/harfbuzz/src/hb-coretext-font.cc
  gfx/harfbuzz/src/hb-coretext-shape.cc
  gfx/harfbuzz/src/hb-coretext.h
  gfx/harfbuzz/src/hb-draw.h
  gfx/harfbuzz/src/hb-face.cc
  gfx/harfbuzz/src/hb-face.h
  gfx/harfbuzz/src/hb-font.cc
  gfx/harfbuzz/src/hb-ft.cc
  gfx/harfbuzz/src/hb-ft.h
  gfx/harfbuzz/src/hb-icu.cc
  gfx/harfbuzz/src/hb-limits.hh
  gfx/harfbuzz/src/hb-map.hh
  gfx/harfbuzz/src/hb-ms-feature-ranges.hh
  gfx/harfbuzz/src/hb-ot-font.cc
  gfx/harfbuzz/src/hb-ot-layout-common.hh
  gfx/harfbuzz/src/hb-ot-layout.hh
  gfx/harfbuzz/src/hb-ot-shape-normalize.cc
  gfx/harfbuzz/src/hb-ot-shape.cc
  gfx/harfbuzz/src/hb-ot-shaper-use-machine.hh
  gfx/harfbuzz/src/hb-ot-shaper-use-machine.rl
  gfx/harfbuzz/src/hb-ot-shaper-use-table.hh
  gfx/harfbuzz/src/hb-ot-tag-table.hh
  gfx/harfbuzz/src/hb-unicode.hh
  gfx/harfbuzz/src/hb-version.h
  gfx/harfbuzz/src/main.cc
  gfx/harfbuzz/src/meson.build
  gfx/harfbuzz/src/moz.build
  gfx/harfbuzz/src/ms-use/IndicPositionalCategory-Additional.txt
  gfx/harfbuzz/src/ms-use/IndicSyllabicCategory-Additional.txt
Due: py-black, py-ruff, yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1928016 - Add information to provide compatible Python version using virtual environments r=mac-reviewers,mstange
  docs/setup/macos_build.rst
Due: file-whitespace

Bug 1927546: Fix sieve port number r=necko-reviewers,valentin
  netwerk/base/nsIOService.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1921814 - add keyboard focus for tab group labels r=dao,dwalker,desktop-theme-reviewers,tabbrowser-reviewers
  browser/components/tabbrowser/content/tabbrowser.js
  browser/components/tabbrowser/content/tabgroup.js
  browser/components/tabbrowser/content/tabs.js
  browser/components/tabbrowser/test/browser/tabs/browser.toml
  browser/components/tabbrowser/test/browser/tabs/browser_multiselect_tabs_using_keyboard.js
  browser/components/tabbrowser/test/browser/tabs/browser_tab_groups.js
  browser/components/tabbrowser/test/browser/tabs/browser_tab_groups_a11y.js
  browser/components/tabbrowser/test/browser/tabs/browser_tab_groups_keyboard_focus.js
  browser/components/tabbrowser/test/browser/tabs/head.js
  browser/themes/shared/tabbrowser/tabs.css
  toolkit/content/widgets/tabbox.js
Due: eslint, stylelint, file-whitespace

Bug 1927677 - part 2 - Don't add top toolbar divider after microsurvey ends r=android-reviewers,Roger
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/BaseBrowserFragment.kt
Due: none

Bug 1927677 - part 1 - Remove divider from on top of the OS navigation bar r=android-reviewers,twhite
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/BaseBrowserFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt
Due: none

Bug 1927677 - part 3 - Show the navbar divider in the same layout as the navbar r=android-reviewers,Roger
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/BaseBrowserFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/TabPreview.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/navbar/NavigationBar.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/customtabs/ExternalAppBrowserFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  mobile/android/fenix/app/src/main/res/values/dimens.xml
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/utils/SettingsTest.kt
Due: eslint

Bug 1929272 - Move `transformRulesToMap` to shared file. r=dimi
  toolkit/components/passwordmgr/LoginManager.shared.sys.mjs
  toolkit/components/passwordmgr/PasswordRulesManager.sys.mjs
Due: eslint

Bug 1915092 - Menu CFR orientation position change r=android-reviewers,skhan
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/menu/MenuDialogFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/menu/compose/MainMenu.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/menu/compose/MenuDialogBottomSheet.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/menu/middleware/MenuDialogMiddleware.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/menu/middleware/MenuTelemetryMiddleware.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/menu/store/MenuAction.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/menu/store/MenuStore.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/components/menu/MenuDialogMiddlewareTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/components/menu/MenuTelemetryMiddlewareTest.kt
Due: none

Bug 1924789 - Ignore historical crash reports in the new crash reporter dialog flow r=android-reviewers,boek
  mobile/android/android-components/components/lib/crash/src/main/java/mozilla/components/lib/crash/CrashReporter.kt
  mobile/android/android-components/components/lib/crash/src/main/java/mozilla/components/lib/crash/db/CrashDao.kt
  mobile/android/android-components/components/lib/crash/src/main/java/mozilla/components/lib/crash/store/CrashMiddleware.kt
  mobile/android/android-components/components/lib/crash/src/test/java/mozilla/components/lib/crash/CrashReporterTest.kt
  mobile/android/android-components/components/lib/crash/src/test/java/mozilla/components/lib/crash/store/CrashMiddlewareTest.kt
  mobile/android/android-components/docs/changelog.md
Due: file-whitespace

Bug 1926893 - Change position of attention notification dot for vertical tabs r=sidebar-reviewers,desktop-theme-reviewers,dao,mconley,kcochrane, a=dmeehan
  browser/themes/shared/tabbrowser/tabs.css
Due: stylelint, file-whitespace

Bug 1926893 - Change position of attention notification dot for vertical tabs r=sidebar-reviewers,desktop-theme-reviewers,dao,mconley,kcochrane
  browser/themes/shared/tabbrowser/tabs.css
Due: stylelint, file-whitespace

Bug 1907644 - wasm: Only hold onto code section when lazy tiering. r=bvisness
  js/src/wasm/AsmJS.cpp
  js/src/wasm/WasmCode.h
  js/src/wasm/WasmCompile.cpp
  js/src/wasm/WasmDebug.h
  js/src/wasm/WasmGenerator.cpp
  js/src/wasm/WasmIonCompile.cpp
  js/src/wasm/WasmMetadata.h
  js/src/wasm/WasmModule.h
  js/src/wasm/WasmSerialize.cpp
  js/src/wasm/WasmValidate.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1928352: Make SMILCompositor fail earlier when adding an incorrectly configured animation. r=longsonr
  dom/smil/SMILAnimationFunction.cpp
  dom/smil/SMILAnimationFunction.h
  dom/smil/SMILCompositor.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1924623 - Only detour VariantClear in Firefox. r=gstoll,win-reviewers
  toolkit/xre/nsAppRunner.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1925198 - Move telnetlib import to BaseEmulator r=jmaher
  testing/mozbase/mozrunner/mozrunner/devices/emulator.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1928548 - Add a urlbar Nimbus variable for browser.ml.enable. r=mak
  toolkit/components/nimbus/FeatureManifest.yaml
Due: yaml

Bug 1922268: inserting tabs behaves with adjacent tab groups r=dao,tabbrowser-reviewers
  browser/components/tabbrowser/content/tabbrowser.js
  browser/components/tabbrowser/test/browser/tabs/browser.toml
  browser/components/tabbrowser/test/browser/tabs/browser_tab_groups.js
Due: eslint

Bug 1928706 [wpt PR 48933] - Clean up some old tests that use <select>, a=testonly
  testing/web-platform/tests/html/semantics/forms/the-select-element/customizable-select/select-parsing.tentative.html
Due: eslint, file-whitespace

Bug 1928706 [wpt PR 48933] - Update wpt metadata, a=testonly
  testing/web-platform/meta/html/semantics/forms/the-select-element/customizable-select/select-parsing.tentative.html.ini
Due: test-manifest

Bug 1929068 [wpt PR 48956] - Revert visibility:inert and implement interactivity:auto/inert, a=testonly
  testing/web-platform/tests/css/css-ui/interactivity-inert-click.html
  testing/web-platform/tests/css/css-ui/parsing/interactivity-computed.tentative.html
  testing/web-platform/tests/css/css-ui/parsing/interactivity.tentative.html
Due: eslint, file-whitespace

Bug 1929068 [wpt PR 48956] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-ui/interactivity-inert-click.html.ini
  testing/web-platform/meta/css/css-ui/parsing/interactivity-computed.tentative.html.ini
  testing/web-platform/meta/css/css-ui/parsing/interactivity.tentative.html.ini
Due: test-manifest

Bug 1928699 [wpt PR 48931] - [Event Timing] Drop interactionId for events affected by autoscroll, a=testonly
  testing/web-platform/tests/event-timing/resources/event-timing-test-utils.js
  testing/web-platform/tests/event-timing/selection-autoscroll.html
Due: eslint, file-whitespace

Bug 1928699 [wpt PR 48931] - Update wpt metadata, a=testonly
  testing/web-platform/meta/event-timing/selection-autoscroll.html.ini
Due: test-manifest

Bug 1929059 [wpt PR 48954] - [layout] Make flex-basis accept the 'stretch' keyword, a=testonly
  testing/web-platform/tests/css/css-sizing/stretch/flex-basis-1.html
  testing/web-platform/tests/css/css-sizing/stretch/parsing.html
  testing/web-platform/tests/css/css-values/calc-size/calc-size-flex-basis-on-column.html
Due: eslint, file-whitespace

Bug 1929059 [wpt PR 48954] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-sizing/stretch/flex-basis-1.html.ini
  testing/web-platform/meta/css/css-sizing/stretch/parsing.html.ini
Due: test-manifest

Bug 1928747 [wpt PR 48937] - Ensure XMLDocumentParser doesn't hit a nullptr isolate while parsing a fragment, a=testonly
  testing/web-platform/tests/domparsing/createContextualFragment-in-detached-xml-document-crash.html
  testing/web-platform/tests/domparsing/resources/dummy-xml.xml
Due: eslint, file-whitespace

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, **/*.java, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml
