Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

eslint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

stylelint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

py-black:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

py-ruff:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

yaml:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

shellcheck:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

clang-format:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

rustfmt:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

fluent-lint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

Bug 1922981 part 32 / 39: PBL: miscellaneous changes from overall diff. r=jandem
  js/src/vm/PortableBaselineInterpret.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1922981 part 31 / 39: PBL: exclude async/generator functions entirely (they cannot resume anyway). r=jandem
  js/src/vm/PortableBaselineInterpret.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1922981 part 34 / 39: PBL: put PC updates behind a macro to allow for related state to update. r=jandem
  js/src/vm/PortableBaselineInterpret.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1922981 part 33 / 39: PBL: cache icEntry in local. r=jandem
  js/src/vm/PortableBaselineInterpret.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1922981 part 35 / 39: PBL: modify GetElem hybrid IC impl a bit. r=jandem
  js/src/vm/PortableBaselineInterpret.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1922981 part 36 / 39: PBL: avoid call fastpath when constructing with a non-constructor. r=jandem
  js/src/vm/PortableBaselineInterpret.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1922981 part 38 / 39: PBL: remove redundant isd update. r=jandem
  js/src/vm/PortableBaselineInterpret.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1922981 part 37 / 39: PBL: cache resumeOffsets and argsObjAliasesFormals. r=jandem
  js/src/vm/PortableBaselineInterpret.cpp
  js/src/vm/PortableBaselineInterpret.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1922981 part 39 / 39: PBL: adjust some ops to use macros for locals. r=jandem
  js/src/vm/PortableBaselineInterpret.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Backed out changeset bb866e9aac62 (bug 1733498) for causing bc failures @ browser_necko_l10n.js . CLOSED TREE
  netwerk/test/browser/browser.toml
  netwerk/test/browser/browser_necko_l10n.js
Due: eslint

Bug 1927124 - Fix tests broken by enabling ScotchBonnet in nightly. r=daisuke,settings-reviewers,urlbar-reviewers,mossop
  browser/components/preferences/tests/browser_search_quickactions.js
  browser/components/urlbar/ActionsProviderContextualSearch.sys.mjs
Due: eslint

Bug 1926404 - Remove expired gfx.tmp_writable telemetry probe. r=gfx-reviewers,bradwerth
  gfx/metrics.yaml
  gfx/thebes/gfxPlatform.cpp
  toolkit/components/telemetry/Scalars.yaml
Due: yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1733498 - Migrate necko errors l10n strings from properties to Fluent r=necko-reviewers,valentin
  netwerk/locales/en-US/necko.ftl
  netwerk/locales/en-US/necko.properties
  netwerk/locales/jar.mn
  python/l10n/fluent_migrations/bug_1733498_necko.py
  uriloader/base/nsDocLoader.cpp
  uriloader/base/nsDocLoader.h
Due: py-black, py-ruff, clang-format, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1733498 - Add a test for migrated necko errors l10n strings r=necko-reviewers,jesup,valentin
  netwerk/test/browser/browser.toml
  netwerk/test/browser/browser_necko_l10n.js
Due: eslint

Bug 1924271 - disable browser_fullscreen_tab_preview.js on linux due to almost perma fail. r=aryx
  browser/base/content/test/fullscreen/browser.toml
Due: none

Bug 1864406 - Add ReadableStreamBYOBReader.prototype.read(view, { min }). r=saschanaz,webidl,smaug
  dom/streams/ReadableByteStreamController.cpp
  dom/streams/ReadableByteStreamController.h
  dom/streams/ReadableStreamBYOBReader.cpp
  dom/streams/ReadableStreamBYOBReader.h
  dom/streams/ReadableStreamTee.cpp
  dom/webidl/ReadableStreamBYOBReader.webidl
  testing/web-platform/meta/streams/readable-byte-streams/read-min.any.js.ini
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Bug 1927062 - Try to avoid redundant flipping between fluid and non-fluid continuations during bidi paragraph resolution. r=layout-reviewers,emilio
  layout/base/nsBidiPresUtils.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1925657 - use ffvpx for SW AV1 on all platforms. r=padenot
  dom/media/platforms/ffmpeg/FFmpegVideoDecoder.cpp
  media/ffvpx/config_android64.h
  media/ffvpx/config_android_x86_64.h
  media/ffvpx/config_darwin64.h
  media/ffvpx/config_darwin_aarch64.h
  media/ffvpx/config_win32.h
  media/ffvpx/config_win64.h
  media/ffvpx/config_win64_aarch64.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1926561 - Fix Breakpad's detection of anonymous mappings r=afranchuk
  toolkit/crashreporter/breakpad-client/linux/minidump_writer/linux_dumper.cc
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1922981: apply code formatting via Lando
  js/src/vm/PortableBaselineInterpret.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1926660 - Add documentation for new mach commands r=geckoview-reviewers,nalexander,ohall
  mobile/android/docs/fenix.rst
Due: file-whitespace

Bug 1926446 - Add missing error reporting to StreamCacheEntry testing functions. r=arai
  js/src/jit-test/tests/wasm/regress/cache-entry-error.js
  js/src/shell/js.cpp
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1916391 - [devtools] Use light-dark() in chart.css. r=devtools-reviewers,bomsy.
  devtools/client/themes/chart.css
Due: stylelint, file-whitespace

Bug 1916391 - [devtools] Display Netmonitor Statistics charts legend in High Contrast Mode. r=devtools-reviewers,bomsy.
  devtools/client/netmonitor/src/assets/styles/StatisticsPanel.css
Due: stylelint, file-whitespace

Bug 1916391 - [devtools] Adapt netmonitor charts to High Contrast Mode. r=devtools-reviewers,bomsy.
  devtools/client/themes/chart.css
  devtools/client/themes/variables.css
Due: stylelint, file-whitespace

Bug 1926878 - [devtools] Refactor Start Performance Analysis button style. r=devtools-reviewers,bomsy.
  devtools/client/netmonitor/src/assets/styles/StatusBar.css
  devtools/client/netmonitor/src/components/StatusBar.js
Due: eslint, stylelint, file-whitespace

Bug 1919603 - Add new machine learning module to mots r=shtrom,zeid
  mots.yaml
Due: yaml

Bug 1725806 - Part 2. Implement autocorrect attribute. r=dom-core,webidl,saschanaz,hsivonen
  dom/html/nsGenericHTMLElement.cpp
  dom/html/nsGenericHTMLElement.h
  dom/webidl/HTMLElement.webidl
  modules/libpref/init/StaticPrefList.yaml
  testing/web-platform/meta/html/dom/idlharness.https.html.ini
  testing/web-platform/meta/html/editing/editing-0/autocorrection/autocorrection.html.ini
Due: yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Bug 1725806 - Part 3. Autocorrect support in InputContext. r=masayuki
  dom/base/nsDOMWindowUtils.cpp
  dom/events/IMEStateManager.cpp
  dom/interfaces/base/nsIDOMWindowUtils.idl
  widget/IMEData.cpp
  widget/IMEData.h
  widget/nsGUIEventIPC.h
  widget/tests/chrome.toml
  widget/tests/mochitest.toml
  widget/tests/test_autocorrect.html
  widget/tests/test_autocorrect_in_parent.html
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1725806 - Part 1. Add autocorrect attribute in html parser. r=dom-core,hsivonen
  parser/html/javasrc/AttributeName.java
  parser/html/nsHtml5AttributeName.cpp
  parser/html/nsHtml5AttributeName.h
  xpcom/ds/HTMLAtoms.py
Due: py-black, py-ruff, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1725806 - Part 4. Support autocorrect on macOS backend. r=masayuki
  modules/libpref/init/StaticPrefList.yaml
  widget/cocoa/nsChildView.mm
Due: yaml, clang-format

Bug 1725806 - Part 5. Support autocorrect on GeckoView backend. r=geckoview-reviewers,owlish
  mobile/android/geckoview/src/androidTest/java/org/mozilla/geckoview/test/TextInputDelegateTest.kt
  mobile/android/geckoview/src/main/aidl/org/mozilla/gecko/IGeckoEditableParent.aidl
  mobile/android/geckoview/src/main/java/org/mozilla/gecko/GeckoEditableChild.java
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/GeckoEditable.java
  widget/android/GeckoEditableSupport.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1725806 - Part 6. Support autocorrect on UIKit backend. r=masayuki
  widget/uikit/UIKitUtils.h
  widget/uikit/UIKitUtils.mm
  widget/uikit/nsWindow.mm
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1919551 - Deduplicate "Copy Without Site Tracking" CanStrip/Strip code to avoid future divergence r=anti-tracking-reviewers,pbz
  toolkit/components/antitracking/URLQueryStringStripper.cpp
  toolkit/components/antitracking/URLQueryStringStripper.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1914407 - [wdspec] Fix blank js template for inline helper r=webdriver-reviewers,whimboo
  testing/web-platform/tests/webdriver/tests/support/inline.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1914407 - [bidi] Send custom error when navigation is aborted because of another navigation r=webdriver-reviewers,whimboo
  remote/shared/Navigate.sys.mjs
  remote/shared/NavigationManager.sys.mjs
  testing/web-platform/mozilla/tests/webdriver/bidi/browsing_context/navigate/error_early_abort_tentative.py
Due: eslint, py-black, py-ruff, file-whitespace, trojan-source

Bug 1927167 - Update email on telemetry probes for privacy-team from @mozilla.com to @mozilla.org r=anti-tracking-reviewers,pbz
  toolkit/components/antitracking/metrics.yaml
Due: yaml

Bug 1925479 - Remove security.external_protocol_requires_permission pref. r=Gijs,perftest-reviewers,fbilt
  browser/modules/SitePermissions.sys.mjs
  browser/modules/test/unit/test_SitePermissions.js
  modules/libpref/init/all.js
  testing/profiles/perf/user.js
  toolkit/mozapps/handling/ContentDispatchChooser.sys.mjs
  uriloader/exthandler/tests/mochitest/browser_ftp_protocol_handlers.js
  uriloader/exthandler/tests/mochitest/browser_protocol_ask_dialog_permission.js
  uriloader/exthandler/tests/mochitest/browser_standalone_application_chooser_window_fallback.js
  uriloader/exthandler/tests/mochitest/browser_web_protocol_handlers.js
  uriloader/exthandler/tests/mochitest/head.js
Due: eslint

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, **/*.java, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml
