Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

eslint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

stylelint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

py-black:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

py-ruff:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

yaml:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

shellcheck:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

clang-format:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

rustfmt:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

fluent-lint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

Bug 1920780 - Fix jitsrc failure on frames without name, clean up internal watchpoints when "rc" fails r=iain
  js/src/gdb/mozilla/jitsrc.py
Due: py-black, py-ruff, file-whitespace, trojan-source

No bug - Tagging 4142083c3870141291a0dd9920cd9fd6b433dfad with DEVEDITION_133_0b3_RELEASE a=release CLOSED TREE DONTBUILD
  .hgtags
Due: none

Backed out changeset 6539a7d0d9ca (bug 1894239) for causing xpcshell failures at test_selectable_profile_launch.js. CLOSED TREE
  browser/base/content/browser-profiles.js
  browser/base/content/test/performance/browser_appmenu.js
  browser/components/BrowserGlue.sys.mjs
  browser/components/asrouter/modules/ASRouterTargeting.sys.mjs
  browser/components/asrouter/tests/browser/browser_asrouter_targeting.js
  browser/components/profiles/SelectableProfileService.sys.mjs
  browser/components/profiles/tests/browser/browser_create_profile_page_test.js
  browser/components/profiles/tests/browser/browser_edit_profile_test.js
  browser/components/profiles/tests/browser/browser_test_db_lazily_created.js
  browser/components/profiles/tests/browser/browser_test_profile_selector.js
  browser/components/profiles/tests/browser/browser_update_profile_on_window_switch.js
  browser/components/profiles/tests/unit/test_fail_recover_storeID.js
  browser/components/profiles/tests/unit/test_recover_storeID.js
  browser/components/profiles/tests/unit/test_selectable_profile_launch.js
  browser/components/profiles/tests/unit/test_selectable_profile_service_exists.js
  browser/components/profiles/tests/unit/test_selectable_profiles_lifecycle.js
  browser/components/profiles/tests/unit/test_shared_prefs_lifecycles_methods.js
  browser/components/profiles/tests/unit/xpcshell.toml
  toolkit/moz.configure
  toolkit/profile/test/xpcshell/head.js
Due: eslint, py-black, py-ruff

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  browser/locales/l10n-changesets.json
Due: eslint

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  mobile/locales/l10n-changesets.json
Due: eslint

No bug - Tagging 0d717220e53f8dcae4ee418c7313d433bae8ef91 with FIREFOX_132_0_1_BUILD1 a=release CLOSED TREE DONTBUILD
  .hgtags
Due: none

No bug - Tagging 0d717220e53f8dcae4ee418c7313d433bae8ef91 with FIREFOX-ANDROID_132_0_1_BUILD1 a=release CLOSED TREE DONTBUILD
  .hgtags
Due: none

Bug 1833923: Start detecting when the Fn key is pressed on macOS, which allows for built-in macOS shortcuts (such as Fn+e for the emoji picker) to start working. r=masayuki
  dom/events/KeyEventHandler.h
  widget/TextEvents.h
  widget/cocoa/TextInputHandler.mm
  widget/cocoa/nsCocoaUtils.mm
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1927151 - Fix Bing follow-on searches incorrectly recorded as organic:none in telemetry. r=Standard8
  browser/components/search/SearchSERPTelemetry.sys.mjs
  browser/components/search/test/unit/test_urlTelemetry_generic.js
Due: eslint

Backed out 3 changesets (bug 1928690, bug 1924519) for causing linting and wpt failures on hash-empty-string.html. CLOSED TREE
  dom/base/FragmentDirective.cpp
  dom/base/FragmentDirective.h
  dom/base/TextDirectiveFinder.cpp
  dom/base/TextDirectiveFinder.h
  dom/base/TextDirectiveUtil.cpp
  dom/base/TextDirectiveUtil.h
  dom/base/fragmentdirectives/cbindgen.toml
  dom/base/moz.build
Due: py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1889505 - add a JS intervention for the bankmandiri.co.id app on Android; r=ksenia,webcompat-reviewers
  browser/extensions/webcompat/data/injections.js
  browser/extensions/webcompat/injections/js/bug1889505-bankmandiri.co.id-window.chrome.js
  browser/extensions/webcompat/moz.build
  mobile/android/android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/data/injections.js
  mobile/android/android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/injections/js/bug1889505-bankmandiri.co.id-window.chrome.js
  testing/webcompat/interventions/tests/test_1827678_1889505_67924_bankmandiri_co_id.py
Due: eslint, py-black, py-ruff, file-whitespace, trojan-source

Bug 1889818 - apply the CSS intervention for nppes.cms.hhs.gov on Android as well; r=ksenia,webcompat-reviewers
  browser/extensions/webcompat/data/injections.js
  mobile/android/android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/data/injections.js
  testing/webcompat/interventions/tests/test_1827678_119017_nppes_cms_hhs_gov.py
Due: eslint, py-black, py-ruff, file-whitespace, trojan-source

Bug 1901000 - add a CSS intervention to unbreak the PayPal button on EyeBuyDirect.ca; r=ksenia,webcompat-reviewers
  browser/extensions/webcompat/data/injections.js
  browser/extensions/webcompat/injections/css/bug1901000-eyebuydirect.ca-fix-paypal-button.css
  browser/extensions/webcompat/manifest.json
  browser/extensions/webcompat/moz.build
  mobile/android/android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/data/injections.js
  mobile/android/android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/injections/css/bug1901000-eyebuydirect.ca-fix-paypal-button.css
  mobile/android/android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/manifest.json
  testing/webcompat/client.py
  testing/webcompat/interventions/tests/test_1901000_eyebuydirect_ca.py
Due: eslint, stylelint, py-black, py-ruff, file-whitespace, trojan-source

Bug 1889520 - do not add FxQuantum to the UA string override used on avizia.com; r=ksenia,webcompat-reviewers
  browser/extensions/webcompat/data/ua_overrides.js
  browser/extensions/webcompat/lib/ua_helpers.js
  mobile/android/android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/data/ua_overrides.js
  mobile/android/android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/lib/ua_helpers.js
  testing/webcompat/interventions/tests/test_1827678_68635_avizia_com.py
Due: eslint, py-black, py-ruff, file-whitespace, trojan-source

Bug 1928477 - only override the UA string for admissions.nid.edu on Android; r=ksenia,webcompat-reviewers
  browser/extensions/webcompat/data/ua_overrides.js
  mobile/android/android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/data/ua_overrides.js
  testing/webcompat/client.py
  testing/webcompat/interventions/tests/test_1827678_65753_admissions_nid_edu.py
Due: eslint, py-black, py-ruff, file-whitespace, trojan-source

Bug 1928683 - add some automated tests for webcompat interventions and improve the one for livescience.com; r=ksenia
  testing/webcompat/client.py
  testing/webcompat/fixtures.py
  testing/webcompat/interventions/conftest.py
  testing/webcompat/interventions/pytest.ini
  testing/webcompat/interventions/tests/test_1650317_livescience_com.py
  testing/webcompat/interventions/tests/test_1827678_119012_roaming_kt_com.py
  testing/webcompat/interventions/tests/test_1827678_119402_sitc_oirsa_org.py
  testing/webcompat/interventions/tests/test_1827678_120450_waterloo_ca.py
  testing/webcompat/interventions/tests/test_1827678_68520_onvue_com.py
  testing/webcompat/interventions/tests/test_1827678_76785_yourtexasbenefits_com.py
  testing/webcompat/interventions/tests/test_1827678_77727_free4talk_com.py
  testing/webcompat/interventions/tests/test_1827678_77912_indee_tv.py
  testing/webcompat/interventions/tests/test_1827678_80180_books_com_tw.py
  testing/webcompat/interventions/tests/test_1827678_83269_jelly_jd_com.py
  testing/webcompat/interventions/tests/test_1830739_79490_captainjackcasino_com.py
  testing/webcompat/interventions/tests/test_1864999_autotrader_ca.py
  testing/webcompat/interventions/tests/test_1865000_bmo_com.py
  testing/webcompat/interventions/tests/test_1865004_digimart_net.py
  testing/webcompat/interventions/tests/test_1865007_portal_circle_ms.py
Due: py-black, py-ruff, file-whitespace, test-manifest, trojan-source

Bug 1928677 - disable the draft.js intervention when TextEvent is supported, and remove Reddit from the intervention; r=ksenia,webcompat-reviewers
  browser/extensions/webcompat/data/injections.js
  browser/extensions/webcompat/injections/js/bug1739489-draftjs-beforeinput.js
  browser/extensions/webcompat/lib/injections.js
  mobile/android/android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/data/injections.js
  mobile/android/android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/injections/js/bug1739489-draftjs-beforeinput.js
  mobile/android/android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/lib/injections.js
Due: eslint

Bug 1890350 - remove CSS intervention for foodora.cz; r=ksenia,webcompat-reviewers
  browser/extensions/webcompat/data/injections.js
  browser/extensions/webcompat/injections/css/bug1884842-foodora.cz-height-fix.css
  browser/extensions/webcompat/moz.build
  mobile/android/android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/data/injections.js
  mobile/android/android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/injections/css/bug1884842-foodora.cz-height-fix.css
Due: eslint, stylelint, py-black, file-whitespace

Bug 1909535 - Don't show select dropdown in background tabs; a=dmeehan
  toolkit/actors/SelectParent.sys.mjs
Due: eslint

Bug 1927857 - Add prefs for section experiment r=home-newtab-reviewers,maxx
  browser/app/profile/firefox.js
  browser/components/newtab/lib/ActivityStream.sys.mjs
  toolkit/components/nimbus/FeatureManifest.yaml
Due: eslint, yaml

Bug 1927908 - Add pref to enable new card UI for sections experiment r=home-newtab-reviewers,nbarrett
  browser/components/newtab/content-src/components/DiscoveryStreamComponents/CardGrid/CardGrid.jsx
  browser/components/newtab/content-src/components/DiscoveryStreamComponents/DSCard/DSCard.jsx
  browser/components/newtab/data/content/activity-stream.bundle.js
  browser/components/newtab/lib/ActivityStream.sys.mjs
  toolkit/components/nimbus/FeatureManifest.yaml
Due: eslint, yaml

Bug 1928661 - Make sure showing-fxa-menu-message attribute is set before ViewShowing fires for AppMenu or FxA avatar menu panels. r=pdahiya,omc-reviewers
  browser/components/asrouter/modules/MenuMessage.sys.mjs
Due: eslint

Backed out 2 changesets (bug 1855346, bug 1833923) for causing build bustages at nsMenuBarX. CLOSED TREE
  dom/events/KeyEventHandler.h
  toolkit/xre/MacApplicationDelegate.mm
  widget/TextEvents.h
  widget/cocoa/TextInputHandler.mm
  widget/cocoa/nsCocoaUtils.mm
  widget/cocoa/nsMenuBarX.h
  widget/cocoa/nsMenuBarX.mm
  widget/cocoa/nsMenuItemX.mm
  widget/cocoa/nsMenuUtilsX.mm
  widget/cocoa/nsMenuX.mm
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Backed out 2 changesets (bug 1926630) for causing mochitest failures at test_native_menus.xhtml. CLOSED TREE
  widget/cocoa/NativeMenuMac.mm
  widget/cocoa/nsMenuGroupOwnerX.h
  widget/cocoa/nsMenuGroupOwnerX.mm
  widget/cocoa/nsMenuUtilsX.mm
  widget/tests/chrome.toml
  widget/tests/test_native_context_menus.xhtml
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1927501 - Document GIFFT considerations for per-session Scalars a=dmeehan
  toolkit/components/glean/docs/user/gifft.md
Due: file-whitespace

Bug 1927501 - Convert API-migrated nsscomponent timespans to quantity to avoid invalid states a=dmeehan
  security/manager/ssl/metrics.yaml
  security/manager/ssl/nsNSSComponent.cpp
Due: yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1921333 - Part 2: Switch some AppConstants.platform checks to MOZ_GECKOVIEW, r=glandium,extension-reviewers,robwu
  testing/specialpowers/content/SpecialPowersParent.sys.mjs
  toolkit/components/extensions/ExtensionTestCommon.sys.mjs
  toolkit/components/extensions/ExtensionXPCShellUtils.sys.mjs
  toolkit/components/extensions/test/mochitest/test_ext_browserAction_openPopup.html
  toolkit/components/extensions/test/mochitest/test_ext_browserAction_openPopup_incognito_window.html
  toolkit/components/extensions/test/mochitest/test_ext_browserAction_openPopup_windowId.html
  toolkit/components/extensions/test/mochitest/test_ext_browserAction_openPopup_without_pref.html
Due: eslint, file-whitespace

Bug 1921333 - Part 1: Add MOZ_GECKOVIEW define, and "iOS" platform, r=glandium,geckoview-reviewers,owlish
  mobile/android/moz.configure
  mobile/ios/moz.configure
  mobile/shared/moz.configure
  toolkit/modules/AppConstants.sys.mjs
Due: eslint, py-black, py-ruff

Bug 1928099 - feat(webgpu): impl. `rgb10a2uint` texture format r=webgpu-reviewers,webidl,saschanaz,jimb,smaug
  dom/webgpu/Utility.cpp
  dom/webidl/WebGPU.webidl
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/operation/command_buffer/copyTextureToTexture/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/operation/command_buffer/image_copy/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/operation/render_pipeline/pipeline_output_targets/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/operation/resource_init/texture_zero/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/createTexture/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/createView/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/image_copy/texture_related/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/render_pass/attachment_compatibility/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/render_pipeline/fragment_state/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/state/device_lost/destroy/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/compat/api/validation/encoding/cmds/copyTextureToTexture/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/execution/expression/call/builtin/textureDimensions/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/util/texture/texel_data/cts.https.html.ini
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Bug 1928259 - Extend dom.contentprocess.buildID_mismatch_false_positive to Firefox 150 r=jld
  dom/metrics.yaml
  toolkit/components/telemetry/Scalars.yaml
Due: yaml

Bug 1928710 - Fix gcc linker error r=stransky
  dom/svg/SVGContentUtils.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1928710 - Fix gcc linker error r=stransky, a=dmeehan
  dom/svg/SVGContentUtils.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1922904 - Fix bug 1780701 in a different approach. r=botond
  gfx/layers/apz/test/mochitest/helper_bug1922904.html
  gfx/layers/apz/test/mochitest/test_group_scroll_snap.html
  layout/generic/ScrollContainerFrame.cpp
  layout/generic/ScrollSnap.cpp
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1928753 - Inline apz::ComputeFixedMarginsOffset into its caller. r=hiro
  gfx/layers/apz/src/APZCTreeManager.cpp
  gfx/layers/apz/src/APZCTreeManager.h
  gfx/layers/apz/src/APZUtils.cpp
  gfx/layers/apz/src/APZUtils.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1928745 - build(rust): update `thiserror` 1.0.64 → 1.0.65 r=supply-chain-reviewers
  Cargo.lock
  supply-chain/imports.lock
  third_party/rust/thiserror-impl/.cargo-checksum.json
  third_party/rust/thiserror-impl/Cargo.toml
  third_party/rust/thiserror-impl/src/attr.rs
  third_party/rust/thiserror/.cargo-checksum.json
  third_party/rust/thiserror/Cargo.toml
  third_party/rust/thiserror/README.md
  third_party/rust/thiserror/build.rs
  third_party/rust/thiserror/src/aserror.rs
  third_party/rust/thiserror/src/display.rs
  third_party/rust/thiserror/src/lib.rs
  third_party/rust/thiserror/tests/test_display.rs
  third_party/rust/thiserror/tests/ui/concat-display.stderr
Due: eslint, rustfmt, file-whitespace, trojan-source

Bug 1928745 - build(rust): update `serde` 1.0.210 → 1.0.213 r=supply-chain-reviewers
  Cargo.lock
  supply-chain/imports.lock
  third_party/rust/serde/.cargo-checksum.json
  third_party/rust/serde/Cargo.toml
  third_party/rust/serde/README.md
  third_party/rust/serde/build.rs
  third_party/rust/serde/src/de/mod.rs
  third_party/rust/serde/src/de/value.rs
  third_party/rust/serde/src/lib.rs
  third_party/rust/serde/src/private/de.rs
  third_party/rust/serde/src/ser/fmt.rs
  third_party/rust/serde_derive/.cargo-checksum.json
  third_party/rust/serde_derive/Cargo.toml
  third_party/rust/serde_derive/README.md
  third_party/rust/serde_derive/src/bound.rs
  third_party/rust/serde_derive/src/de.rs
  third_party/rust/serde_derive/src/internals/attr.rs
  third_party/rust/serde_derive/src/internals/receiver.rs
  third_party/rust/serde_derive/src/internals/symbol.rs
  third_party/rust/serde_derive/src/lib.rs
  third_party/rust/serde_derive/src/ser.rs
Due: eslint, rustfmt, file-whitespace, trojan-source

Bug 1928589 - Use gfx::FileHandleWrapper for DMABufSurface::mSyncFd r=gfx-reviewers,stransky,lsalzman
  gfx/layers/ipc/LayersSurfaces.ipdlh
  widget/gtk/DMABufSurface.cpp
  widget/gtk/DMABufSurface.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

no bug - Import translations from android-l10n r=release a=l10n CLOSED TREE
  mobile/android/android-components/components/browser/errorpages/src/main/res/values-hu/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-hu/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-si/strings.xml
  mobile/android/fenix/app/src/main/res/values-cs/strings.xml
  mobile/android/fenix/app/src/main/res/values-fur/strings.xml
  mobile/android/fenix/app/src/main/res/values-hu/strings.xml
  mobile/android/fenix/app/src/main/res/values-pt-rBR/strings.xml
  mobile/android/fenix/app/src/main/res/values-si/strings.xml
  mobile/android/fenix/app/src/main/res/values-sl/strings.xml
  mobile/android/fenix/app/src/main/res/values-tr/strings.xml
Due: eslint

Bug 1928750 - ensure RemoteTabsStorage.kt has a crash reporter. r=jonalmeida,android-reviewers
  mobile/android/android-components/components/browser/storage-sync/src/main/java/mozilla/components/browser/storage/sync/RemoteTabsStorage.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/Core.kt
Due: none

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, **/*.java, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml
