Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

eslint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

stylelint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

py-black:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

py-ruff:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

yaml:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

shellcheck:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

clang-format:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

rustfmt:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

fluent-lint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

Bug 1921536 - Make the SidebarState the source of truth for the current sidebar command/panel and re-open previous panel when toggling the sidebar open. r=sidebar-reviewers,jsudiaman
  browser/components/customizableui/test/browser_sidebar_toggle.js
  browser/components/sessionstore/test/marionette/test_restore_sidebar.py
  browser/components/shopping/tests/browser/browser_reviewchecker_sidebar.js
  browser/components/sidebar/SidebarState.sys.mjs
  browser/components/sidebar/browser-sidebar.js
  browser/components/sidebar/tests/browser/browser_a11y_sidebar.js
  browser/components/sidebar/tests/browser/browser_glean_sidebar.js
  browser/components/sidebar/tests/browser/browser_sidebar_context_menu.js
  browser/components/sidebar/tests/browser/browser_sidebar_menubar_item_commands.js
  browser/components/sidebar/tests/browser/browser_toolbar_sidebar_button.js
  browser/components/sidebar/tests/browser/head.js
  browser/components/sidebar/tests/unit/test_sidebar_state.js
Due: eslint, py-black, py-ruff, file-whitespace, trojan-source

Backed out 9 changesets (bug 1940377) for causing wpt failures @elete-to-join-blocks.tentative.html.
  browser/base/content/test/general/browser_clipboard.js
  docshell/test/navigation/test_bug386782.html
  dom/base/test/copypaste.js
  editor/libeditor/AutoClonedRangeArray.cpp
  editor/libeditor/AutoClonedRangeArray.h
  editor/libeditor/EditorBase.cpp
  editor/libeditor/EditorBase.h
  editor/libeditor/EditorDOMPoint.h
  editor/libeditor/HTMLEditSubActionHandler.cpp
  editor/libeditor/HTMLEditUtils.cpp
  editor/libeditor/HTMLEditUtils.h
  editor/libeditor/HTMLEditor.cpp
  editor/libeditor/HTMLEditor.h
  editor/libeditor/HTMLEditorDataTransfer.cpp
  editor/libeditor/HTMLEditorDeleteHandler.cpp
  editor/libeditor/HTMLEditorNestedClasses.h
  editor/libeditor/SelectionState.h
  editor/libeditor/WhiteSpaceVisibilityKeeper.cpp
  editor/libeditor/WhiteSpaceVisibilityKeeper.h
  editor/libeditor/tests/test_bug1314790.html
  editor/libeditor/tests/test_bug1315065.html
  editor/libeditor/tests/test_bug430392.html
  editor/libeditor/tests/test_bug857487.html
  editor/libeditor/tests/test_dom_input_event_on_htmleditor.html
  editor/spellchecker/tests/test_bug1418629.html
  testing/web-platform/meta/editing/whitespaces/chrome-compat/delete-img.tentative.html.ini
  testing/web-platform/meta/editing/whitespaces/chrome-compat/forwarddelete-to-join-blocks.tentative.html.ini
  testing/web-platform/meta/editing/whitespaces/chrome-compat/forwarddelete.tentative.html.ini
  testing/web-platform/meta/editing/whitespaces/chrome-compat/insert-or-paste-image.tentative.html.ini
  testing/web-platform/meta/editing/whitespaces/chrome-compat/inserttext.tentative.html.ini
  widget/tests/window_composition_text_querycontent.xhtml
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Bug 1951834 Part 2 - Simplify if-else branch in nsGridContainerFrame::Reflow(). r=layout-reviewers,emilio
  layout/generic/nsGridContainerFrame.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1951834 Part 1 - Use IsColSubgrid() and IsRowSubgrid() more. r=layout-reviewers,emilio
  layout/generic/nsGridContainerFrame.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  browser/locales/l10n-changesets.json
Due: eslint

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  mobile/locales/l10n-changesets.json
Due: eslint

Backed out changeset 4754bc9e58f3 (bug 1921536) for causing bc failures @browser_toolbarKeyNav.js
  browser/components/customizableui/test/browser_sidebar_toggle.js
  browser/components/sessionstore/test/marionette/test_restore_sidebar.py
  browser/components/shopping/tests/browser/browser_reviewchecker_sidebar.js
  browser/components/sidebar/SidebarState.sys.mjs
  browser/components/sidebar/browser-sidebar.js
  browser/components/sidebar/tests/browser/browser_a11y_sidebar.js
  browser/components/sidebar/tests/browser/browser_glean_sidebar.js
  browser/components/sidebar/tests/browser/browser_sidebar_context_menu.js
  browser/components/sidebar/tests/browser/browser_sidebar_menubar_item_commands.js
  browser/components/sidebar/tests/browser/browser_toolbar_sidebar_button.js
  browser/components/sidebar/tests/browser/head.js
  browser/components/sidebar/tests/unit/test_sidebar_state.js
Due: eslint, py-black, py-ruff, file-whitespace, trojan-source

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump
  browser/locales/l10n-changesets.json
Due: eslint

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump
  mobile/locales/l10n-changesets.json
Due: eslint

Bug 1950561, only allow address field types for input fields with type=search, r=dimi,credential-management-reviewers
  browser/extensions/formautofill/test/browser/heuristics/browser_parse_street_address_fields.js
  toolkit/components/formautofill/shared/FormAutofillHeuristics.sys.mjs
Due: eslint

Bug 1951869 - mark instance.https.window.html as failing on Android. r=saschanaz
  testing/web-platform/meta/notifications/instance.https.window.js.ini
Due: test-manifest

Bug 1950186 - Adjust platform name to correctly show it in Intermittent failures view. r=jmaher,taskgraph-reviewers
  taskcluster/gecko_taskgraph/transforms/test/other.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1949947 - disable test_multiple_frames.js for perma failures on macosx1100 opt. r=jmaher,glandium CLOSED TREE
  toolkit/components/places/tests/favicons/xpcshell.toml
Due: none

Bug 1949947 - disable test_multiple_frames.js for perma failures on macosx1100 opt. r=jmaher
  toolkit/components/places/tests/favicons/xpcshell.toml
Due: none

Bug 1949947 - disable test_multiple_frames.js for perma failures on macosx1100 opt.
  toolkit/components/places/tests/favicons/xpcshell.toml
Due: none

Bug 1952609 - Update android nightly application-services version bump to f7947a60b3e9957b97229d6dd08b458532e79c1c r=release-managers,dmeehan
  mobile/android/android-components/plugins/dependencies/src/main/java/ApplicationServices.kt
  mobile/android/android-components/plugins/dependencies/src/main/java/moz.yaml
Due: yaml

Backed out changeset 91f9c5a2bf63 (bug 1949947) for causing gecko failures.
  toolkit/components/places/tests/favicons/xpcshell.toml
Due: none

Backed out changeset 83d0a66975d9 (bug 1950186) for requiring changes.
  taskcluster/gecko_taskgraph/transforms/test/other.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1928391, improvements to support nested forms for form autofill, r=dimi
  browser/extensions/formautofill/test/browser/browser.toml
  browser/extensions/formautofill/test/browser/browser_nested_forms.js
  toolkit/components/formautofill/shared/FormAutofillHandler.sys.mjs
  toolkit/modules/FormLikeFactory.sys.mjs
Due: eslint

Bug 1948932 - Improve the robustness of the test for saving an image as a file; r=evilpie
  uriloader/exthandler/tests/mochitest/browser_save_filenames.js
Due: eslint

Bug 1950800 - make sure window width is big enough for Content Analysis icon with vertical tabs r=desktop-theme-reviewers,sidebar-reviewers,nsharpley,emilio
  browser/themes/shared/browser-shared.css
Due: stylelint, file-whitespace

Bug 1949604 - Linkify moz-url:///. r=asuth
  build/clang-plugin/mozsearch-plugin/MozsearchIndexer.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1951283 - Simplify BodyDeleteFiles. r=dom-storage-reviewers,asuth
  dom/cache/FileUtils.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1951283 - Speedup id lookups by using a hash set in BodyDeleteOrphanedFiles. r=dom-storage-reviewers,asuth
  dom/cache/DBSchema.cpp
  dom/cache/DBSchema.h
  dom/cache/FileUtils.cpp
  dom/cache/FileUtils.h
  dom/cache/Manager.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1951283 - Wrap aDirectoryMetadata into Some in BodyDeleteOrphanedFiles. r=dom-storage-reviewers,asuth
  dom/cache/FileUtils.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1951283 - Simplify and rename BodyTraverseFiles to BodyTraverseFilesForCleanup. r=dom-storage-reviewers,asuth
  dom/cache/FileUtils.cpp
  dom/cache/FileUtils.h
  dom/cache/FileUtilsImpl.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1951283 - Avoid needless attempt to create the cache directory in BodyFinalizeWrite. r=dom-storage-reviewers,asuth
  dom/cache/FileUtils.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1951283 - Avoid duplicate attempt to create the cache directory in BodyStartWriteStream. r=dom-storage-reviewers,asuth
  dom/cache/FileUtils.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1951283 - Avoid needless attempt to create the cache directory in GetBodyDiskSize. r=dom-storage-reviewers,asuth
  dom/cache/FileUtils.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1951283 - Avoid needless attempt to create the cache directory in BodyOpen. r=dom-storage-reviewers,asuth
  dom/cache/FileUtils.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1951283 - Invert the default of aCreateDirIfNotExists in BodyIdToFile. r=dom-storage-reviewers,asuth
  dom/cache/FileUtils.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1951283 - Avoid needless attempt to create the cache directory in BodyMaybeUpdatePaddingSize. r=dom-storage-reviewers,asuth
  dom/cache/FileUtils.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1940377 - part 2: Make `HandleInsertLineBreak` use the new normalizer if it's available r=m_kato
  editor/libeditor/EditorDOMPoint.h
  editor/libeditor/HTMLEditSubActionHandler.cpp
  editor/libeditor/HTMLEditor.cpp
  editor/libeditor/HTMLEditor.h
  editor/libeditor/HTMLEditorNestedClasses.h
  editor/libeditor/WhiteSpaceVisibilityKeeper.cpp
  editor/libeditor/WhiteSpaceVisibilityKeeper.h
  testing/web-platform/meta/editing/whitespaces/chrome-compat/insertlinebreak.tentative.html.ini
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Bug 1940377 - part 1: Make `WhiteSpaceVisibilityKeeper::InsertTextOrInsertOrUpdateCompositionString` support blink compatible white-space sequence r=m_kato
  editor/libeditor/EditorBase.cpp
  editor/libeditor/EditorBase.h
  editor/libeditor/EditorDOMPoint.h
  editor/libeditor/HTMLEditSubActionHandler.cpp
  editor/libeditor/HTMLEditUtils.cpp
  editor/libeditor/HTMLEditUtils.h
  editor/libeditor/HTMLEditor.cpp
  editor/libeditor/HTMLEditor.h
  editor/libeditor/HTMLEditorNestedClasses.h
  editor/libeditor/WhiteSpaceVisibilityKeeper.cpp
  editor/libeditor/WhiteSpaceVisibilityKeeper.h
  testing/web-platform/meta/editing/whitespaces/chrome-compat/insertlinebreak.tentative.html.ini
  testing/web-platform/meta/editing/whitespaces/chrome-compat/inserttext.tentative.html.ini
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Bug 1940377 - part 4: Make `HTMLEditor` normalize white-spaces before inserting HTML fragment if the new normalizer is enabled r=m_kato
  editor/libeditor/HTMLEditSubActionHandler.cpp
  editor/libeditor/HTMLEditorDataTransfer.cpp
  testing/web-platform/meta/editing/whitespaces/chrome-compat/insert-or-paste-image.tentative.html.ini
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Bug 1940377 - part 3: Make "insert paragraph" handlers use the new normalizer if it's enabled r=m_kato
  editor/libeditor/HTMLEditSubActionHandler.cpp
  editor/libeditor/HTMLEditor.cpp
  editor/libeditor/WhiteSpaceVisibilityKeeper.cpp
  editor/libeditor/WhiteSpaceVisibilityKeeper.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1940377 - part 5: Make `HTMLEditor::InsertElementAtSelectionAsAction` normalize white-spaces around the insertion point if the new normalizer is enabled r=m_kato
  editor/libeditor/HTMLEditor.cpp
  testing/web-platform/meta/editing/whitespaces/chrome-compat/insert-or-paste-image.tentative.html.ini
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Bug 1940377 - part 6: Make delete handlers use the new white-space normalizer r=m_kato
  editor/libeditor/AutoClonedRangeArray.cpp
  editor/libeditor/AutoClonedRangeArray.h
  editor/libeditor/EditorDOMPoint.h
  editor/libeditor/HTMLEditSubActionHandler.cpp
  editor/libeditor/HTMLEditUtils.cpp
  editor/libeditor/HTMLEditor.cpp
  editor/libeditor/HTMLEditor.h
  editor/libeditor/HTMLEditorDeleteHandler.cpp
  editor/libeditor/HTMLEditorNestedClasses.h
  editor/libeditor/SelectionState.h
  editor/libeditor/WhiteSpaceVisibilityKeeper.cpp
  editor/libeditor/WhiteSpaceVisibilityKeeper.h
  testing/web-platform/meta/editing/whitespaces/chrome-compat/delete-img.tentative.html.ini
  testing/web-platform/meta/editing/whitespaces/chrome-compat/forwarddelete-to-join-blocks.tentative.html.ini
  testing/web-platform/meta/editing/whitespaces/chrome-compat/forwarddelete.tentative.html.ini
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, **/*.java, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml
