Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, **/*.java, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml

Bug 1894437: Verify selectable containers contain no explicit selection before assigning implicit state r=Jamie
  accessible/base/Pivot.cpp
  accessible/base/Pivot.h
  accessible/basetypes/Accessible.cpp
  accessible/tests/browser/states/browser.toml
  accessible/tests/browser/states/browser_test_selection.js
  accessible/tests/mochitest/states/test_aria_widgetitems.html
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  browser/locales/l10n-changesets.json
Due: eslint

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  mobile/locales/l10n-changesets.json
Due: eslint

Bug 1947277 - Prevent opening new windows when policy notification via the messaging system is in progress r=omc-reviewers,mconley,jprickett
  browser/modules/WindowsJumpLists.sys.mjs
  toolkit/components/telemetry/app/TelemetryReportingPolicy.sys.mjs
  toolkit/components/telemetry/tests/unit/test_TelemetryReportingPolicy.js
Due: eslint

Bug 1954853 - fix verifyWebCompatPageIsLoadingTest after bug 1953314 changed the layout; r=aaronmt
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/AboutURITest.kt
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/BrowserRobot.kt
  mobile/android/focus-android/app/src/androidTest/java/org/mozilla/focus/activity/AboutURITest.kt
  mobile/android/focus-android/app/src/androidTest/java/org/mozilla/focus/activity/robots/BrowserRobot.kt
Due: none

Bug 1954237 - Add WPT test for relayProtocol and url in RTCIceCandidate constructor. r=bwc,webrtc-reviewers
  testing/web-platform/meta/webrtc/RTCIceCandidate-constructor.html.ini
  testing/web-platform/tests/webrtc/RTCIceCandidate-constructor.html
  testing/web-platform/tests/webrtc/RTCPeerConnection-addIceCandidate.html
Due: eslint, file-whitespace, test-manifest

Backed out 2 changesets (bug 1953530) for causing build bustages CLOSED TREE
  toolkit/components/nimbus/ExperimentAPI.sys.mjs
  toolkit/components/nimbus/lib/ExperimentManager.sys.mjs
  toolkit/components/nimbus/lib/Migrations.sys.mjs
  toolkit/components/nimbus/lib/Telemetry.sys.mjs
  toolkit/components/nimbus/metrics.yaml
  toolkit/components/nimbus/test/browser/browser_experiment_single_feature_enrollment.js
  toolkit/components/nimbus/test/browser/browser_remotesettingsexperimentloader_init.js
  toolkit/components/nimbus/test/unit/test_ExperimentAPI.js
  toolkit/components/nimbus/test/unit/test_ExperimentAPI_ExperimentFeature.js
  toolkit/components/nimbus/test/unit/test_ExperimentManager_enroll.js
  toolkit/components/nimbus/test/unit/test_ExperimentManager_lifecycle.js
  toolkit/components/nimbus/test/unit/test_ExperimentManager_unenroll.js
  toolkit/components/nimbus/test/unit/test_RemoteSettingsExperimentLoader_updateRecipes.js
  toolkit/components/normandy/lib/TelemetryEvents.sys.mjs
Due: eslint, yaml

Bug 1953817 - Avoid rebuilding toolkit/components/telemetry/test packages when not needed r=glandium
  config/rules.mk
  toolkit/components/telemetry/Makefile.in
Due: none

Bug 1949947 - Upgrade zlib-rs/libz-rs-sys to 0.4.2. r=supply-chain-reviewers
  Cargo.lock
  supply-chain/audits.toml
  supply-chain/imports.lock
  third_party/rust/libz-rs-sys/.cargo-checksum.json
  third_party/rust/libz-rs-sys/Cargo.lock
  third_party/rust/libz-rs-sys/Cargo.toml
  third_party/rust/libz-rs-sys/README.md
  third_party/rust/libz-rs-sys/src/lib.rs
  third_party/rust/zlib-rs/.cargo-checksum.json
  third_party/rust/zlib-rs/Cargo.lock
  third_party/rust/zlib-rs/Cargo.toml
  third_party/rust/zlib-rs/src/allocate.rs
  third_party/rust/zlib-rs/src/cpu_features.rs
  third_party/rust/zlib-rs/src/crc32.rs
  third_party/rust/zlib-rs/src/crc32/acle.rs
  third_party/rust/zlib-rs/src/deflate.rs
  third_party/rust/zlib-rs/src/deflate/algorithm/fast.rs
  third_party/rust/zlib-rs/src/deflate/algorithm/medium.rs
  third_party/rust/zlib-rs/src/deflate/algorithm/quick.rs
  third_party/rust/zlib-rs/src/deflate/algorithm/slow.rs
  third_party/rust/zlib-rs/src/deflate/hash_calc.rs
  third_party/rust/zlib-rs/src/deflate/longest_match.rs
  third_party/rust/zlib-rs/src/deflate/pending.rs
  third_party/rust/zlib-rs/src/deflate/trees_tbl.rs
  third_party/rust/zlib-rs/src/deflate/window.rs
  third_party/rust/zlib-rs/src/inflate.rs
  third_party/rust/zlib-rs/src/inflate/window.rs
  third_party/rust/zlib-rs/src/inflate/writer.rs
  third_party/rust/zlib-rs/src/read_buf.rs
Due: eslint, rustfmt, file-whitespace, trojan-source

Bug 1949947 - Adjust images tests for the new libz-rs release. r=gfx-reviewers,lsalzman
  image/test/unit/image3ico32x32.libz-rs.png
  image/test/unit/test_imgtools.js
Due: eslint

Bug 1949947 - Adjust browser_net_content-type.js for the new libz-rs release. r=devtools-reviewers,bomsy
  devtools/client/netmonitor/test/browser_net_content-type.js
Due: eslint

Bug 1949947 - Adjust favicons tests for the new libz-rs release. r=places-reviewers,mak
  toolkit/components/places/tests/favicons/expected-favicon-big48.ico.libz-rs.png
  toolkit/components/places/tests/favicons/expected-favicon-scale160x3.jpg.libz-rs.png
  toolkit/components/places/tests/favicons/expected-favicon-scale3x160.jpg.libz-rs.png
  toolkit/components/places/tests/favicons/favicon-multi-frame16.libz-rs.png
  toolkit/components/places/tests/favicons/favicon-multi-frame32.libz-rs.png
  toolkit/components/places/tests/favicons/favicon-multi-frame64.libz-rs.png
Due: none

Bug 1929478 - Update log statement r=skhan
  mobile/android/geckoview/src/main/java/org/mozilla/gecko/mozglue/GeckoLoader.java
Due: file-whitespace

Bug 1954151 - Add handling for multiple values in perftest. r=sparky
  toolkit/components/ml/tests/browser/head.js
Due: eslint

Bug 1950734 - Make MSIX builds skip the AUMID altering steps in taskbar pinning as it's unnecessary r=nrishel
  browser/components/shell/Windows11TaskbarPinning.cpp
  browser/components/shell/nsIWindowsShellService.idl
  browser/components/shell/nsWindowsShellService.cpp
  browser/components/shell/test/browser.toml
  browser/components/shell/test/browser_processAUMID.js
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1954725 - remove default value for `GPURenderCommandsMixin.set{Index,Vertex}Buffer`'s `size` argument r=webgpu-reviewers,webidl,smaug,nical
  dom/webgpu/RenderBundleEncoder.cpp
  dom/webgpu/RenderBundleEncoder.h
  dom/webgpu/RenderPassEncoder.cpp
  dom/webgpu/RenderPassEncoder.h
  dom/webidl/WebGPU.webidl
  gfx/wgpu_bindings/src/client.rs
  gfx/wgpu_bindings/src/command.rs
Due: clang-format, rustfmt, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Backed out changeset 98b15c826948 (bug 1893306) for causing build bustages @ TestScrollHandoff.cpp CLOSED TREE
  gfx/layers/apz/src/AsyncPanZoomController.cpp
  gfx/layers/apz/test/gtest/TestScrollHandoff.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1954702 - test(webgpu): demote `webgpu:shader,execution,expression,call,builtin,textureDimensions:sampled_and_multisampled:*` to tier 3 with observed `TIMEOUT`s r=webgpu-reviewers,nical
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/execution/expression/call/builtin/textureDimensions/cts.https.html.ini
Due: test-manifest

Bug 1954552 - Implement PositionIsBefore in terms of CompareTreePosition. r=smaug,firefox-animation-reviewers,boris
  dom/animation/Animation.cpp
  dom/animation/Animation.h
  dom/animation/AnimationComparator.h
  dom/animation/AnimationEventDispatcher.h
  dom/animation/CSSAnimation.cpp
  dom/animation/CSSAnimation.h
  dom/animation/CSSTransition.cpp
  dom/animation/CSSTransition.h
  dom/animation/EffectCompositor.cpp
  dom/base/nsContentUtils.cpp
  dom/base/nsContentUtils.h
  dom/base/nsINode.cpp
  dom/base/nsINode.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1954552 - Support passing a NodeIndexCache to CompareTreePosition. r=smaug
  dom/base/ChildIterator.cpp
  dom/base/ChildIterator.h
  dom/base/DocumentOrShadowRoot.cpp
  dom/base/TreeOrderedArrayInlines.h
  dom/base/nsContentUtils.cpp
  dom/base/nsContentUtils.h
  dom/base/nsINode.cpp
  dom/base/nsINode.h
  dom/html/HTMLFormControlsCollection.cpp
  dom/html/HTMLFormElement.cpp
  layout/base/ContainStyleScopeManager.cpp
  layout/style/AnimationCommon.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1954909 - Add Nikki to Tabbed Browser triage rotation. r=mconley
  browser/components/tabbrowser/triage.json
Due: eslint

Bug 1953530 - Use invalid-feature for enrollment_status and validation_failed telemetry r=chumphreys
  toolkit/components/nimbus/lib/ExperimentManager.sys.mjs
  toolkit/components/nimbus/metrics.yaml
Due: eslint, yaml

Bug 1953530 - Move most Nimbus telemetry code into a single module r=nimbus-reviewers,chumphreys
  toolkit/components/nimbus/ExperimentAPI.sys.mjs
  toolkit/components/nimbus/lib/ExperimentManager.sys.mjs
  toolkit/components/nimbus/lib/Migrations.sys.mjs
  toolkit/components/nimbus/lib/Telemetry.sys.mjs
  toolkit/components/nimbus/test/browser/browser_experiment_single_feature_enrollment.js
  toolkit/components/nimbus/test/browser/browser_remotesettingsexperimentloader_init.js
  toolkit/components/nimbus/test/unit/test_ExperimentAPI.js
  toolkit/components/nimbus/test/unit/test_ExperimentAPI_ExperimentFeature.js
  toolkit/components/nimbus/test/unit/test_ExperimentManager_enroll.js
  toolkit/components/nimbus/test/unit/test_ExperimentManager_lifecycle.js
  toolkit/components/nimbus/test/unit/test_ExperimentManager_unenroll.js
  toolkit/components/nimbus/test/unit/test_RemoteSettingsExperimentLoader_updateRecipes.js
  toolkit/components/normandy/lib/TelemetryEvents.sys.mjs
Due: eslint

Bug 1942707 - Enable crash symbols upload for try-comm-central. r=taskgraph-reviewers,jmaher
  taskcluster/gecko_taskgraph/transforms/build.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1954863 - Remove annotations for intermittent failure in overscroll-behavior-root.html.ini. r=botond
  testing/web-platform/meta/css/css-overscroll-behavior/overscroll-behavior-root.html.ini
Due: test-manifest

Backed out changeset 272d0dd8b6a7 (bug 1954648) for causing bc failures @ browser_experimental_features.js
  browser/app/profile/firefox.js
  browser/components/preferences/main.inc.xhtml
  browser/components/preferences/main.js
  browser/components/tabbrowser/content/tabgroup-menu.js
  browser/locales-preview/smartTabGroups.ftl
Due: eslint, fluent-lint, file-whitespace

Backed out changeset 62eaf38886fa (bug 1832745) for causing build bustages & lint failures CLOSED TREE
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/RadioButtonInfoPreference.kt
  mobile/android/fenix/app/src/main/res/layout/preference_widget_radiobutton_with_info.xml
Due: eslint

Bug 1955083 - connect another device button should be shown when sync is enabled r=markh
  browser/base/content/browser-sync.js
Due: eslint

Bug 1955111 - Hide biometric auth pref from settings in release/beta r=android-reviewers,boek
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/PrivateBrowsingFragment.kt
Due: none

Bug 1955081 – Uploaded wallpapers should be removed with the "reset to default" button. r=home-newtab-reviewers,nbarrett
  browser/extensions/newtab/common/Actions.mjs
  browser/extensions/newtab/content-src/components/WallpapersSection/WallpaperCategories.jsx
  browser/extensions/newtab/data/content/activity-stream.bundle.js
  browser/extensions/newtab/lib/WallpaperFeed.sys.mjs
Due: eslint

Bug 1954934 - Introduce signature verification checkpoint at startup r=willdurand a=pascalc
  toolkit/mozapps/extensions/internal/XPIProvider.sys.mjs
  toolkit/mozapps/extensions/test/xpcshell/test_signed_verify_timer.js
  toolkit/mozapps/extensions/test/xpcshell/xpcshell.toml
Due: eslint

Bug 1954934 - Introduce signature verification checkpoint at startup r=willdurand
  toolkit/mozapps/extensions/internal/XPIProvider.sys.mjs
  toolkit/mozapps/extensions/test/xpcshell/test_signed_verify_timer.js
  toolkit/mozapps/extensions/test/xpcshell/xpcshell.toml
Due: eslint

Bug 1952925 - Make it never start a drag session with synthesized `eMouseMove` r=edgar,dom-core
  dom/events/EventStateManager.cpp
  dom/events/PointerEventHandler.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Backed out changeset d113eaf04f97 (bug 1949947) to re-enable test. CLOSED TREE
  toolkit/components/places/tests/favicons/xpcshell.toml
Due: none

Bug 1936819 - Fix hit testing in some cases when item opacity is marked will-change. r=emilio
  layout/painting/nsDisplayList.cpp
  toolkit/components/pictureinpicture/tests/browser.toml
  toolkit/components/pictureinpicture/tests/browser_toggleTransparentOverlay-3.js
  toolkit/components/pictureinpicture/tests/test-transparent-overlay-3.html
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1954608 - disable discard element r=dholbert
  modules/libpref/init/StaticPrefList.yaml
Due: yaml

Bug 1954353 - Don't return IPC_FAIL for general errors r=edenchuang
  dom/payments/PaymentRequestData.h
  dom/payments/ipc/PaymentRequestParent.cpp
  dom/payments/ipc/PaymentRequestParent.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1951598 - allow showing mlmodel custom details r=zombie,fluent-reviewers,bolsson
  toolkit/locales-preview/localModelManagement.ftl
  toolkit/mozapps/extensions/content/aboutaddons.html
  toolkit/mozapps/extensions/content/aboutaddons.js
  toolkit/mozapps/extensions/content/components/addon-mlmodel-details.mjs
  toolkit/mozapps/extensions/internal/ModelHubProvider.sys.mjs
  toolkit/mozapps/extensions/test/browser/browser_html_mlmodel_addons.js
Due: eslint, fluent-lint, file-whitespace

Bug 1928584 - Part 1: Refactor deleting sessions from the HomeFragment into TabsCleanupFeature r=android-reviewers,devota
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/BrowserToolbarController.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/HomeScreenViewModel.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/TabsCleanupFeature.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tabstray/NavigationInteractor.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tabstray/TabsTrayController.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/components/toolbar/DefaultBrowserToolbarControllerTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/home/TabsCleanupFeatureTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/tabstray/DefaultTabsTrayControllerTest.kt
Due: none
