Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, **/*.java, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml

Bug 1922506: Collect MOZ_debug.CONTEXT_TYPE. r=tjr
  toolkit/components/resistfingerprinting/UserCharacteristicsPageService.sys.mjs
  toolkit/components/resistfingerprinting/metrics.yaml
  toolkit/components/resistfingerprinting/nsUserCharacteristics.cpp
Due: eslint, yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1922506: Collect webgl software renderer info. r=tjr
  toolkit/components/resistfingerprinting/UserCharacteristicsPageService.sys.mjs
  toolkit/components/resistfingerprinting/metrics.yaml
Due: eslint, yaml

Bug 1922506: Implement MOZ_debug.CONTEXT_TYPE extenstion. r=tjr,jgilbert,webidl,saschanaz
  dom/canvas/ClientWebGLContext.cpp
  dom/canvas/WebGLContext.cpp
  dom/webidl/WebGLRenderingContext.webidl
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1902570: Enable "Stix Two Math" on macOS 13 and above. r=tjr
  gfx/thebes/StandardFonts-macos.inc
  gfx/thebes/gfxMacPlatformFontList.mm
  widget/GfxInfoBase.cpp
  widget/nsIGfxInfo.idl
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

No Bug, mozilla-beta repo-update HSTS HPKP remote-settings tld-suffixes mobile-experiments ct-logs - a=dmeehan
  mobile/android/fenix/app/src/main/res/raw/initial_experiments.json
  netwerk/dns/effective_tld_names.dat
  security/ct/CTKnownLogs.h
  security/manager/ssl/StaticHPKPins.h
  security/manager/ssl/nsSTSPreloadList.inc
  security/manager/tools/log_list.json
  services/settings/dumps/blocklists/addons-bloomfilters.json
  services/settings/dumps/blocklists/addons-bloomfilters/addons-mlbf.bin
  services/settings/dumps/blocklists/addons-bloomfilters/addons-mlbf.bin.meta.json
  services/settings/dumps/main/devtools-compatibility-browsers.json
  services/settings/dumps/security-state/intermediates.json
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1921980 - Stub stacking context API. r=gfx-reviewers,gw
  gfx/webrender_bindings/WebRenderAPI.cpp
  gfx/webrender_bindings/WebRenderAPI.h
  gfx/webrender_bindings/src/bindings.rs
  gfx/wr/webrender/src/render_api.rs
  gfx/wr/webrender/src/resource_cache.rs
  gfx/wr/webrender_api/src/display_item.rs
  gfx/wr/webrender_api/src/display_list.rs
  gfx/wr/webrender_api/src/image.rs
  gfx/wr/wrench/src/yaml_frame_reader.rs
Due: clang-format, rustfmt, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1921980 - Add ResourceCache::render_as_image. r=gfx-reviewers,gw
  gfx/wr/webrender/src/resource_cache.rs
Due: rustfmt, file-whitespace, trojan-source

Bug 1921980 - Remove frame_state parameter from new_svg_filter_graph. r=gfx-reviewers,gw
  gfx/wr/webrender/src/filterdata.rs
  gfx/wr/webrender/src/picture.rs
  gfx/wr/webrender/src/render_task.rs
Due: rustfmt, file-whitespace, trojan-source

Bug 1921980 - Adjust the image primitive to compensate for the difference in the picture's rasterized area. r=gw
  gfx/wr/webrender/src/batch.rs
  gfx/wr/webrender/src/picture.rs
  gfx/wr/webrender/src/prepare.rs
  gfx/wr/webrender/src/prim_store/image.rs
  gfx/wr/webrender/src/resource_cache.rs
Due: rustfmt, file-whitespace, trojan-source

Bug 1921980 - Retain snapshotted pictures in the resource cache. r=gw
  gfx/wr/webrender/src/picture.rs
  gfx/wr/webrender/src/prepare.rs
  gfx/wr/webrender/src/prim_store/gradient/conic.rs
  gfx/wr/webrender/src/prim_store/gradient/linear.rs
  gfx/wr/webrender/src/prim_store/gradient/radial.rs
  gfx/wr/webrender/src/prim_store/image.rs
  gfx/wr/webrender/src/render_task.rs
  gfx/wr/webrender/src/render_task_cache.rs
  gfx/wr/webrender/src/resource_cache.rs
  gfx/wr/webrender/src/scene_building.rs
  gfx/wr/webrender/src/texture_cache.rs
  gfx/wr/webrender/src/tile_cache.rs
Due: rustfmt, file-whitespace, trojan-source

Bug 1929200 - [devtools] Adapt markup view expand button in High Contrast Mode. r=devtools-reviewers,ochameau.
  devtools/client/themes/badge.css
  devtools/client/themes/markup.css
Due: stylelint, file-whitespace

Bug 1916660 - [devtools] Adapt markup node drag and drop in High Contrast Mode. r=devtools-reviewers,ochameau.
  devtools/client/themes/markup.css
Due: stylelint, file-whitespace

Bug 1929857 - Fix failing report broken site related UI tests r=aaronmt
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/ThreeDotMenuMainRobot.kt
  mobile/android/focus-android/app/src/androidTest/java/org/mozilla/focus/activity/robots/ThreeDotMainMenuRobot.kt
Due: none

Bug 1922193 - Add telemetry probes for invalid first party partitioned cookies. r=valentin,cookie-reviewers,edgul
  netwerk/cookie/CookiePersistentStorage.cpp
  netwerk/cookie/CookieServiceChild.cpp
  netwerk/cookie/CookieStorage.cpp
  netwerk/metrics.yaml
Due: yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1922193 - Cleanup invalid first-party partitioned cookies in the cookie DB. r=valentin,cookie-reviewers,edgul
  netwerk/cookie/CookiePersistentStorage.cpp
  netwerk/test/unit/test_remove_invalid_first_party_partitioned_cookie.js
  netwerk/test/unit/xpcshell.toml
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1923663, part 2 - Re-enable CHIPS beyond nightly, done with database migrations - r=valentin,edgul
  modules/libpref/init/StaticPrefList.yaml
Due: yaml

Bug 1923663, part 1 - Cookie DB migration to remove first-party partitioned cookies. r=cookie-reviewers,edgul
  modules/libpref/init/StaticPrefList.yaml
  netwerk/cookie/CookiePersistentStorage.cpp
  netwerk/cookie/CookiePersistentStorage.h
  netwerk/test/unit/test_cookies_partition_migration.js
  netwerk/test/unit/xpcshell.toml
  toolkit/components/nimbus/FeatureManifest.yaml
Due: eslint, yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Backed out 5 changesets (bug 1921980) for causing Linux wrench bustages. CLOSED TREE
  gfx/webrender_bindings/WebRenderAPI.cpp
  gfx/webrender_bindings/WebRenderAPI.h
  gfx/webrender_bindings/src/bindings.rs
  gfx/wr/webrender/src/batch.rs
  gfx/wr/webrender/src/filterdata.rs
  gfx/wr/webrender/src/picture.rs
  gfx/wr/webrender/src/prepare.rs
  gfx/wr/webrender/src/prim_store/gradient/conic.rs
  gfx/wr/webrender/src/prim_store/gradient/linear.rs
  gfx/wr/webrender/src/prim_store/gradient/radial.rs
  gfx/wr/webrender/src/prim_store/image.rs
  gfx/wr/webrender/src/render_api.rs
  gfx/wr/webrender/src/render_task.rs
  gfx/wr/webrender/src/render_task_cache.rs
  gfx/wr/webrender/src/resource_cache.rs
  gfx/wr/webrender/src/scene_building.rs
  gfx/wr/webrender/src/texture_cache.rs
  gfx/wr/webrender/src/tile_cache.rs
  gfx/wr/webrender_api/src/display_item.rs
  gfx/wr/webrender_api/src/display_list.rs
  gfx/wr/webrender_api/src/image.rs
  gfx/wr/wrench/src/yaml_frame_reader.rs
Due: clang-format, rustfmt, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1926218 - Add a modelHub in PipelineOptions r=rrando
  toolkit/components/aboutinference/content/aboutInference.html
  toolkit/components/aboutinference/content/aboutInference.js
  toolkit/components/ml/content/EngineProcess.sys.mjs
  toolkit/components/ml/docs/api.rst
  toolkit/components/ml/tests/browser/browser_ml_engine.js
Due: eslint, file-whitespace

Bug 1925282 - models and organizations allow/deny lists r=rrando
  toolkit/components/ml/actors/MLEngineParent.sys.mjs
  toolkit/components/ml/content/ModelHub.sys.mjs
  toolkit/components/ml/content/Utils.sys.mjs
  toolkit/components/ml/docs/api.rst
  toolkit/components/ml/tests/browser/browser_ml_cache.js
  toolkit/components/ml/tests/browser/browser_ml_utils.js
  toolkit/components/ml/tests/browser/head.js
Due: eslint, file-whitespace

Bug 1929499 - provide a default for rootUrl r=rrando
  toolkit/components/ml/content/ModelHub.sys.mjs
  toolkit/components/ml/tests/browser/browser_ml_cache.js
Due: eslint

Bug 1929230 - Add verbosity in onnx-runtime r=rrando
  toolkit/components/ml/content/ONNXPipeline.mjs
Due: eslint

Bug 1926634 - Change axis locking mode enum to enum class r=dlrobertson
  gfx/layers/apz/src/AsyncPanZoomController.cpp
  gfx/layers/apz/src/AsyncPanZoomController.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1929372 - [mozversioncontrol] Refactor into vcs specific submodules, r=sheehan
  python/mozversioncontrol/mozversioncontrol/__init__.py
  python/mozversioncontrol/mozversioncontrol/errors.py
  python/mozversioncontrol/mozversioncontrol/factory.py
  python/mozversioncontrol/mozversioncontrol/repo/base.py
  python/mozversioncontrol/mozversioncontrol/repo/git.py
  python/mozversioncontrol/mozversioncontrol/repo/mercurial.py
  python/mozversioncontrol/mozversioncontrol/repo/source.py
  python/mozversioncontrol/mozversioncontrol/repoupdate.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1928993 - Fix an assertion failure with wasmGcReadField. r=rhunt
  js/src/jit-test/tests/wasm/regress/bug1928993.js
  js/src/wasm/WasmGcObject.cpp
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1928224 - Add intent and NER performance test in local r=sparky,tarek,perftest-reviewers
  python/mozperftest/perfdocs/config.yml
  testing/perfdocs/generated/mozperftest.rst
  toolkit/components/ml/tests/browser/browser_ml_suggest_intent_perf.js
  toolkit/components/ml/tests/browser/browser_ml_suggest_ner_perf.js
  toolkit/components/ml/tests/browser/perftest.toml
Due: eslint, yaml, file-whitespace

Bug 1929471 [wpt PR 48995] - webnn: support strides for slice operator, a=testonly
  testing/web-platform/tests/webnn/conformance_tests/slice.https.any.js
  testing/web-platform/tests/webnn/validation_tests/slice.https.any.js
Due: eslint

Bug 1929430 [wpt PR 48992] - Credentials Container abort reason tests, a=testonly
  testing/web-platform/tests/credential-management/credentialscontainer-create-basics.https.html
  testing/web-platform/tests/credential-management/credentialscontainer-get-basics.https.html
Due: eslint, file-whitespace

Bug 1929430 [wpt PR 48992] - Update wpt metadata, a=testonly
  testing/web-platform/meta/credential-management/credentialscontainer-create-basics.https.html.ini
  testing/web-platform/meta/credential-management/credentialscontainer-get-basics.https.html.ini
Due: test-manifest

Bug 1929504 [wpt PR 48997] - Add interactivity:inert focus() test, a=testonly
  testing/web-platform/tests/css/css-ui/interactivity-inert-click.tentative.html
  testing/web-platform/tests/css/css-ui/interactivity-inert-focus.tentative.html
Due: eslint, file-whitespace

Bug 1929504 [wpt PR 48997] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-ui/interactivity-inert-click.tentative.html.ini
  testing/web-platform/meta/css/css-ui/interactivity-inert-focus.tentative.html.ini
Due: test-manifest

Bug 1929283 [wpt PR 48971] - [wpt][webassembly][jspi] Correct WPT tests for JSPI, a=testonly
  testing/web-platform/tests/wasm/jsapi/jspi/js-promise-integration.any.js
  testing/web-platform/tests/wasm/jsapi/jspi/rejects.any.js
Due: eslint

Bug 1929505 [wpt PR 48998] - Add WebDX mapping and WPT test mapping for forced-colors, a=testonly
  testing/web-platform/tests/css/css-forced-color-adjust/WEB_FEATURES.yml
  testing/web-platform/tests/css/css-forced-color-adjust/parsing/WEB_FEATURES.yml
  testing/web-platform/tests/css/mediaqueries/WEB_FEATURES.yml
  testing/web-platform/tests/forced-colors-mode/WEB_FEATURES.yml
  testing/web-platform/tests/forced-colors-mode/backplate/WEB_FEATURES.yml
Due: yaml

Bug 1929548 [wpt PR 49004] - Multiple import maps, a=testonly
  testing/web-platform/tests/import-maps/acquiring/dynamic-import.html
  testing/web-platform/tests/import-maps/acquiring/modulepreload-link-header.html
  testing/web-platform/tests/import-maps/acquiring/modulepreload.html
  testing/web-platform/tests/import-maps/acquiring/script-tag-inline.html
  testing/web-platform/tests/import-maps/acquiring/script-tag.html
  testing/web-platform/tests/import-maps/multiple-import-maps/already-resolved-dropped.html
  testing/web-platform/tests/import-maps/multiple-import-maps/basic.html
  testing/web-platform/tests/import-maps/multiple-import-maps/conflict-first-persists.html
  testing/web-platform/tests/import-maps/multiple-import-maps/resolution-consistency-in-module-tree-inline.html
  testing/web-platform/tests/import-maps/multiple-import-maps/resolution-consistency-in-module-tree.html
  testing/web-platform/tests/import-maps/multiple-import-maps/url-resolution-conflict.html
  testing/web-platform/tests/import-maps/multiple-import-maps/with-errors.html
  testing/web-platform/tests/import-maps/not-overridden/dynamic.html
  testing/web-platform/tests/import-maps/not-overridden/external-script-bare-descendent.html
  testing/web-platform/tests/import-maps/not-overridden/external-script-descendent-with-scope.html
  testing/web-platform/tests/import-maps/not-overridden/external-script-descendent.html
  testing/web-platform/tests/import-maps/not-overridden/failed-resolution.html
  testing/web-platform/tests/import-maps/not-overridden/integrity.html
  testing/web-platform/tests/import-maps/not-overridden/modulepreload-header.html.headers
  testing/web-platform/tests/import-maps/not-overridden/prefix.html
  testing/web-platform/tests/import-maps/not-overridden/script-descendent.html
  testing/web-platform/tests/import-maps/not-overridden/url-resolution-conflict.html
  testing/web-platform/tests/import-maps/resources/importer.sub.js
  testing/web-platform/tests/import-maps/resources/in-scope-test.js
  testing/web-platform/tests/import-maps/resources/log.sub.js
  testing/web-platform/tests/import-maps/resources/test-helper.js
  testing/web-platform/tests/resources/out-of-scope-test.js
Due: eslint, file-whitespace

Bug 1929548 [wpt PR 49004] - Update wpt metadata, a=testonly
  testing/web-platform/meta/import-maps/acquiring/dynamic-import.html.ini
  testing/web-platform/meta/import-maps/acquiring/modulepreload-link-header.html.ini
  testing/web-platform/meta/import-maps/acquiring/modulepreload.html.ini
  testing/web-platform/meta/import-maps/acquiring/script-tag-inline.html.ini
  testing/web-platform/meta/import-maps/acquiring/script-tag.html.ini
  testing/web-platform/meta/import-maps/multiple-import-maps/basic.html.ini
  testing/web-platform/meta/import-maps/multiple-import-maps/conflict-first-persists.html.ini
  testing/web-platform/meta/import-maps/multiple-import-maps/resolution-consistency-in-module-tree-inline.html.ini
  testing/web-platform/meta/import-maps/multiple-import-maps/resolution-consistency-in-module-tree.html.ini
  testing/web-platform/meta/import-maps/multiple-import-maps/with-errors.html.ini
  testing/web-platform/meta/import-maps/not-overridden/external-script-bare-descendent.html.ini
  testing/web-platform/meta/import-maps/not-overridden/external-script-descendent-with-scope.html.ini
  testing/web-platform/meta/import-maps/not-overridden/failed-resolution.html.ini
Due: test-manifest

Bug 1929523 [wpt PR 49001] - WebDX mapping for white-space-collapse, a=testonly
  testing/web-platform/tests/css/css-text/parsing/WEB_FEATURES.yml
  testing/web-platform/tests/css/css-text/white-space/WEB_FEATURES.yml
Due: yaml

Bug 1929524 [wpt PR 49002] - Add WebDX use counter and test mapping for image-orientation, a=testonly
  testing/web-platform/tests/css/css-images/image-orientation/WEB_FEATURES.yml
  testing/web-platform/tests/css/css-images/parsing/WEB_FEATURES.yml
Due: yaml

Bug 1929542 [wpt PR 49003] - [Sanitizer] Implement the accessors of SanitizerConfig., a=testonly
  testing/web-platform/tests/sanitizer-api/sanitizer-config.https.html
  testing/web-platform/tests/sanitizer-api/sanitizer-config.tentative.html
Due: eslint, file-whitespace

Bug 1929542 [wpt PR 49003] - Update wpt metadata, a=testonly
  testing/web-platform/meta/sanitizer-api/sanitizer-config.https.html.ini
  testing/web-platform/meta/sanitizer-api/sanitizer-config.tentative.html.ini
Due: test-manifest

Bug 1929568 [wpt PR 49005] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-cascade/at-scope-parsing.html.ini
Due: test-manifest
