Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml

No Bug, mozilla-central repo-update HSTS HPKP remote-settings mobile-experiments ct-logs - r=release-managers,RyanVM
  mobile/android/fenix/app/src/main/res/raw/initial_experiments.json
  security/ct/CTKnownLogs.h
  security/manager/ssl/StaticHPKPins.h
  security/manager/ssl/nsSTSPreloadList.inc
  security/manager/tools/log_list.json
  services/settings/dumps/blocklists/addons-bloomfilters.json
  services/settings/dumps/main/devtools-compatibility-browsers.json
  services/settings/dumps/main/translations-models.json
  services/settings/dumps/security-state/intermediates.json
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1919668 - Update AndroidX Benchmark to version 1.3.1. r=android-reviewers,calu
  mobile/android/android-components/plugins/dependencies/src/main/java/DependenciesPlugin.kt
Due: none

Bug 1919668 - Update AndroidX ProfileInstaller to version 1.4.0. r=tthibaud,android-reviewers,calu
  mobile/android/android-components/plugins/dependencies/src/main/java/DependenciesPlugin.kt
Due: none

Bug 1915922 - Make help form options with choices more explicit r=glandium
  python/mozbuild/mozbuild/configure/help.py
  python/mozbuild/mozbuild/test/configure/data/moz.configure
  python/mozbuild/mozbuild/test/configure/test_configure.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1919537 - don't crash with DLP on when drag/drop text to a site on Deny list r=dlp-reviewers,reusable-components-reviewers,handyman,mstriemer
  toolkit/content/widgets/browser-custom-element.js
Due: eslint

No bug - tagging 4948dec60bb119cdf19a0747b33c985f6b21adf7 with FIREFOX_RELEASE_131_BASE a=release DONTBUILD CLOSED TREE
  .hgtags
Due: none

Preserve old tags after debugsetparents. CLOSED TREE DONTBUILD a=release
  .hgtags
Due: none

No bug - tagging c55deb4d22cde9f2915ec9a8d4bf57ea41913ff5 with FIREFOX_RELEASE_130_END a=release DONTBUILD CLOSED TREE
  .hgtags
Due: none

Update configs. IGNORE BROKEN CHANGESETS CLOSED TREE NO BUG a=release ba=release
  .arcconfig
  CLOBBER
  browser/config/version_display.txt
  mobile/android/version.txt
Due: none

Bug 1900232: Part 1 - Add `GenericAnchorSize()` for `anchor-size()`. r=firefox-style-system-reviewers,emilio
  servo/components/style/values/computed/length.rs
  servo/components/style/values/computed/mod.rs
  servo/components/style/values/generics/length.rs
  servo/components/style/values/specified/length.rs
  servo/components/style/values/specified/mod.rs
Due: rustfmt, file-whitespace, trojan-source

Bug 1900232: Part 2 - Create one place to shim inset getters. r=firefox-style-system-reviewers,emilio
  layout/base/PresShell.cpp
  layout/base/nsLayoutUtils.cpp
  layout/generic/ReflowInput.cpp
  layout/generic/StickyScrollContainer.cpp
  layout/generic/WritingModes.h
  layout/generic/nsAbsoluteContainingBlock.cpp
  layout/generic/nsFlexContainerFrame.cpp
  layout/generic/nsGridContainerFrame.cpp
  layout/generic/nsIFrame.cpp
  layout/generic/nsLineLayout.cpp
  layout/style/ServoStyleConstsInlines.h
  layout/style/nsComputedDOMStyle.cpp
  layout/style/nsStyleStruct.cpp
  layout/style/nsStyleStruct.h
  servo/ports/geckolib/cbindgen.toml
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1900232: Part 3 - Add `anchor-size()` to inset properties. r=firefox-style-system-reviewers,emilio
  layout/style/ServoStyleConstsInlines.h
  servo/components/style/values/generics/position.rs
  servo/components/style/values/specified/position.rs
  servo/ports/geckolib/cbindgen.toml
Due: clang-format, rustfmt, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1900232: Part 4 - Add `anchor-size()` to margin properties. r=firefox-style-system-reviewers,emilio
  accessible/generic/LocalAccessible.cpp
  layout/base/nsLayoutUtils.cpp
  layout/base/nsLayoutUtils.h
  layout/generic/CSSAlignUtils.cpp
  layout/generic/ReflowInput.cpp
  layout/generic/WritingModes.h
  layout/generic/nsAbsoluteContainingBlock.cpp
  layout/generic/nsContainerFrameInlines.h
  layout/generic/nsFirstLetterFrame.cpp
  layout/generic/nsFlexContainerFrame.cpp
  layout/generic/nsIFrame.cpp
  layout/generic/nsInlineFrame.cpp
  layout/generic/nsLineLayout.cpp
  layout/generic/nsPageFrame.cpp
  layout/generic/nsTextFrame.cpp
  layout/style/ServoBindings.toml
  layout/style/ServoStyleConstsInlines.h
  layout/style/nsComputedDOMStyle.cpp
  layout/style/nsComputedDOMStyle.h
  layout/style/nsStyleStruct.cpp
  layout/style/nsStyleStruct.h
  servo/components/style/properties/longhands/margin.mako.rs
  servo/components/style/properties/shorthands/margin.mako.rs
  servo/components/style/values/computed/length.rs
  servo/components/style/values/computed/mod.rs
  servo/components/style/values/generics/length.rs
  servo/components/style/values/specified/length.rs
  servo/components/style/values/specified/mod.rs
  servo/ports/geckolib/cbindgen.toml
  servo/ports/geckolib/glue.rs
Due: clang-format, rustfmt, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1900232: Part 5 - Add `anchor-size()` to sizing properties. r=firefox-style-system-reviewers,emilio
  dom/svg/SVGGeometryProperty.h
  dom/svg/SVGRectElement.cpp
  layout/base/PresShell.cpp
  layout/base/nsLayoutUtils.cpp
  layout/generic/ReflowInput.cpp
  layout/generic/WritingModes.h
  layout/generic/nsGridContainerFrame.cpp
  layout/generic/nsIFrame.cpp
  layout/generic/nsImageFrame.cpp
  layout/generic/nsSubDocumentFrame.cpp
  layout/style/nsComputedDOMStyle.cpp
  layout/style/nsStyleStruct.cpp
  layout/style/nsStyleStruct.h
  layout/svg/SVGForeignObjectFrame.cpp
  layout/tables/BasicTableLayoutStrategy.cpp
  layout/xul/nsSplitterFrame.cpp
  layout/xul/tree/nsTreeBodyFrame.cpp
  servo/components/style/values/computed/length.rs
  servo/components/style/values/generics/length.rs
  servo/components/style/values/specified/length.rs
  xpfe/appshell/AppWindow.cpp
Due: clang-format, rustfmt, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1900232: Part 6 - Adjust test expectations for `anchor-size`. r=firefox-style-system-reviewers,devtools-reviewers,nchevobbe,emilio
  devtools/client/shared/sourceeditor/test/browser_css_autocompletion.js
  devtools/client/shared/sourceeditor/test/css_autocompletion_tests.json
  devtools/server/tests/chrome/test_css-properties.html
  layout/inspector/tests/test_bug877690.html
  testing/web-platform/meta/css/css-anchor-position/anchor-size-parse-valid.html.ini
  testing/web-platform/tests/css/css-anchor-position/anchor-size-parse-invalid.html
  testing/web-platform/tests/css/css-anchor-position/anchor-size-parse-valid.html
Due: eslint, file-whitespace, test-manifest

Backed out changeset ad3e2b8657ee (bug 1917493) for causing crashes. CLOSED TREE
  gfx/wr/webrender/src/box_shadow.rs
  gfx/wr/webrender/src/pattern.rs
  gfx/wr/webrender/src/prepare.rs
  gfx/wr/wrench/reftests/boxshadow/box-shadow-border-radii.png
  gfx/wr/wrench/reftests/boxshadow/box-shadow-cache.png
  gfx/wr/wrench/reftests/boxshadow/box-shadow-huge-radius.png
  gfx/wr/wrench/reftests/boxshadow/box-shadow-stretch-mode-x.png
  gfx/wr/wrench/reftests/boxshadow/box-shadow-suite-blur.png
  gfx/wr/wrench/reftests/boxshadow/overlap1.png
  layout/reftests/box-shadow/reftest.list
  layout/reftests/bugs/reftest.list
  testing/web-platform/meta/html/semantics/forms/the-input-element/range-tick-marks-02.html.ini
Due: rustfmt, file-whitespace, test-manifest, trojan-source

Bug 1920244 - Remove serviceworker_e10s references in .toml and mochitest/xpcshell harnesses. r=aryx
  devtools/client/application/test/browser/browser.toml
  devtools/client/debugger/test/mochitest/browser_kz.toml
  dom/push/test/mochitest.toml
  dom/push/test/xpcshell/xpcshell.toml
  dom/serviceworkers/test/browser-common.toml
  dom/serviceworkers/test/chrome-common.toml
  dom/serviceworkers/test/mochitest-common.toml
  testing/mochitest/runtests.py
  testing/xpcshell/runxpcshelltests.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1775910 - disable browser_sitedata2.js on linux opt. r=aryx,settings-reviewers
  browser/components/preferences/tests/siteData/browser.toml
Due: none

Bug 1920486 - Fix systemBlockedPermissionsRedirectToSystemAppSettingsTest UI test on API 34 r=aaronmt
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/SettingsSitePermissionsTest.kt
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/SettingsSubMenuSitePermissionsCommonRobot.kt
Due: none

Bug 1905037 - Add Internal Redirect Support for RedirectTo API r=kershaw,necko-reviewers
  netwerk/protocol/http/HttpBaseChannel.cpp
  netwerk/protocol/http/HttpBaseChannel.h
  netwerk/protocol/http/HttpChannelChild.cpp
  netwerk/protocol/http/HttpChannelChild.h
  netwerk/protocol/http/nsHttpChannel.cpp
  netwerk/protocol/http/nsIHttpChannelInternal.idl
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1905037 - Add a test for Internal Redirect Support r=kershaw,jdescottes,necko-reviewers
  netwerk/test/unit/test_internal_redirect.js
  netwerk/test/unit/xpcshell.toml
Due: eslint

Bug 1919776 - part2: adjust skip-if for apple_silicon/catalina/os==mac to include os_version/cpu. r=aryx,credential-management-reviewers,tabbrowser-reviewers,dimi
  browser/extensions/formautofill/test/browser/creditCard/browser.toml
  browser/extensions/formautofill/test/browser/focus-leak/browser.toml
  browser/extensions/formautofill/test/browser/heuristics/browser.toml
  browser/extensions/formautofill/test/unit/xpcshell.toml
  dom/base/test/fullscreen/browser.toml
  dom/ipc/tests/JSWindowActor/browser.toml
  dom/media/test/browser/browser.toml
  layout/base/tests/browser.toml
  toolkit/components/passwordmgr/test/browser/browser.toml
  toolkit/components/thumbnails/test/browser.toml
  toolkit/content/tests/browser/browser.toml
  toolkit/modules/tests/browser/browser.toml
  uriloader/exthandler/tests/mochitest/browser.toml
Due: none

Bug 1913778 - Block DMABUF for mesa/radeonsi version 24.1.3.0 due to crash volume. r=gfx-reviewers,nical,lsalzman
  widget/GfxDriverInfo.cpp
  widget/GfxDriverInfo.h
  widget/gtk/GfxInfo.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1920532 - Remove unnecessary '../lib' path loading in requires in eslint-plugin-mozilla's index.js. r=frontend-codestyle-reviewers,Gijs
  tools/lint/eslint/eslint-plugin-mozilla/lib/index.js
Due: eslint

Bug 1920531 - Remove html, json and prettier plugin dependencies from eslint-plugin-mozilla. r=frontend-codestyle-reviewers,Gijs
  .eslintrc.js
  package-lock.json
  tools/lint/eslint/eslint-plugin-mozilla/README.md
  tools/lint/eslint/eslint-plugin-mozilla/lib/configs/recommended.js
  tools/lint/eslint/eslint-plugin-mozilla/package-lock.json
  tools/lint/eslint/eslint-plugin-mozilla/package.json
Due: eslint, file-whitespace

Bug 1894787 - Removing doc android/fenix/Guide-to-merging-contributor-PRs.html. r=ohall,android-reviewers,calu
  mobile/android/fenix/docs/Guide-to-merging-contributor-PRs.md
  mobile/android/fenix/docs/index.rst
Due: file-whitespace

Bug 1883824 - Adding back check for release channel. r=gl,android-reviewers
  mobile/android/android-components/components/browser/engine-gecko/src/test/java/mozilla/components/browser/engine/gecko/GeckoEngineTest.kt
  mobile/android/android-components/components/concept/engine/src/main/java/mozilla/components/concept/engine/utils/EngineVersion.kt
Due: none

Bug 1919908: Bump schema version. r=tjr
  toolkit/components/resistfingerprinting/nsUserCharacteristics.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1883086 - Adding a Mach Install Command for different Android Apps. r=firefox-build-system-reviewers,nalexander
  mobile/android/mach_commands.py
  python/mozbuild/mozbuild/mach_commands.py
  testing/mozbase/mozrunner/mozrunner/devices/android_device.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1919123 - part1 : add markers to show playback status. r=media-playback-reviewers,padenot
  dom/media/utils/MediaElementEventRunners.cpp
  dom/media/utils/MediaElementEventRunners.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1919123 - part2 : ensure EME information is captured by markers as well. r=media-playback-reviewers,padenot
  dom/html/HTMLMediaElement.cpp
  dom/media/eme/MediaKeys.cpp
  dom/media/eme/MediaKeys.h
  dom/media/utils/MediaElementEventRunners.cpp
  dom/media/utils/MediaProfilerMarkers.h
  dom/media/utils/moz.build
Due: py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1919123 - part4 : add marker to report how many video frames has been painted. r=media-playback-reviewers,padenot
  dom/html/HTMLMediaElement.h
  dom/html/HTMLVideoElement.h
  dom/media/utils/MediaElementEventRunners.cpp
  dom/media/utils/MediaProfilerMarkers.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1919123 - part3 : make ToCString output a valid JSON format. r=media-playback-reviewers,padenot
  dom/media/eme/MediaKeySystemAccess.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1919123 - part6 : add markers to show load details. r=media-playback-reviewers,aosmond
  dom/html/HTMLMediaElement.cpp
  dom/media/utils/MediaProfilerMarkers.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1919123 - part5 : add markers to show error details. r=media-playback-reviewers,aosmond
  dom/html/HTMLMediaElement.cpp
  dom/html/HTMLMediaElement.h
  dom/media/utils/MediaElementEventRunners.cpp
  dom/media/utils/MediaElementEventRunners.h
  dom/media/utils/MediaProfilerMarkers.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1919114 Part 1: Allow UtilityAudioDecoderChild::CreateVideoBridge to work without a GPU process. r=aosmond
  ipc/glue/UtilityAudioDecoderChild.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1919114 Part 2: Add a no-gpu-process test variant for reftests and media mochitests. r=taskgraph-reviewers,gfx-reviewers,jcristau,jmaher,aosmond
  taskcluster/config.yml
  taskcluster/kinds/test/mochitest.yml
  taskcluster/kinds/test/reftest.yml
  taskcluster/kinds/test/variants.yml
Due: yaml

No bug - Tagging 61268a890b3c86ab4f5cfd7c6e1e3d14cc68f0b6 with FIREFOX_131_0_BUILD1 a=release CLOSED TREE DONTBUILD
  .hgtags
Due: none

Bug 1919123: apply code formatting via Lando
  dom/media/utils/MediaElementEventRunners.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1920522: Add function name filter to iongraph. r=mgaudet
  js/src/devtools/iongraph/iongraph
Due: none
