Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

eslint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

stylelint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

py-black:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

py-ruff:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

yaml:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

shellcheck:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

clang-format:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

rustfmt:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

fluent-lint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

Backed out changeset 80dde8e4bf01 (bug 1943670) for causing py3 failures @test_fuzzy.py. CLOSED TREE
  taskcluster/kinds/source-test/python.yml
  testing/moz.build
  testing/mozharness/test/python.toml
  testing/mozharness/test/test_base_config.py
  testing/mozharness/test/test_base_diskutils.py
  testing/mozharness/test/test_base_log.py
  testing/mozharness/test/test_base_parallel.py
  testing/mozharness/test/test_base_python.py
  testing/mozharness/test/test_base_script.py
  testing/mozharness/test/test_base_vcs_mercurial.py
  testing/mozharness/test/test_l10n_locales.py
  testing/mozharness/test/test_mozilla_automation.py
  testing/mozharness/test/test_mozilla_building_buildbase.py
  testing/mozharness/test/test_mozilla_merkle.py
  testing/mozharness/test/test_mozilla_structured.py
  testing/mozharness/tox.ini
  tools/tryselect/test/test_fuzzy.py
Due: py-black, py-ruff, yaml, file-whitespace, test-manifest, trojan-source

Bug 1938968 - use atomic store in wasm::JumpTables::setJitEntry. r=rhunt.
  js/src/wasm/WasmCode.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1943766 - use msix install regkey for central/release as well in test setup. r=aryx
  testing/mozharness/configs/unittests/win_unittest.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1943741 - Fix issue with test-info-all. r=aryx
  testing/testinfo.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1943936 - codespell 2.4.0: typo fixes r=linter-reviewers,profiler-reviewers,canaltinova,ahal
  browser/base/content/docs/tabbrowser/async-tab-switcher.rst
  browser/components/urlbar/docs/preferences.rst
  docs/code-quality/coding-style/coding_style_js.rst
  docs/code-quality/coding-style/coding_style_python.rst
  docs/code-quality/lint/linters/ignorefile.rst
  dom/docs/ipc/process_model.rst
  tools/lint/ignorefile/__init__.py
  tools/profiler/docs/buffer.rst
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1943936 - Update codespell to 2.4.0 r=linter-reviewers,ahal
  python/sites/lint.txt
  python/sites/python-test.txt
Due: none

no bug - set content-visibility-028.html as failing on Windows swr. CLOSED TREE
  testing/web-platform/meta/css/css-contain/content-visibility/content-visibility-028.html.ini
Due: test-manifest

Bug 1943748 - Newtab fixing long shortcut title with higher font size causes content shifting on hover r=home-newtab-reviewers,nbarrett
  browser/components/newtab/content-src/components/TopSites/_TopSites.scss
  browser/components/newtab/css/activity-stream.css
Due: stylelint, file-whitespace

Bug 1938249 - Disable expanded sidebar behaviour for horizontal tabs mode r=sidebar-reviewers,desktop-theme-reviewers,dao,jsudiaman,kcochrane
  browser/base/content/test/sidebar/browser_sidebar_keys.js
  browser/components/sidebar/SidebarManager.sys.mjs
  browser/components/sidebar/SidebarState.sys.mjs
  browser/components/sidebar/browser-sidebar.js
  browser/components/sidebar/sidebar-customize.mjs
  browser/components/sidebar/tests/browser/browser_customize_sidebar.js
  browser/components/sidebar/tests/browser/browser_domfullscreen_sidebar.js
  browser/components/sidebar/tests/browser/browser_glean_sidebar.js
  browser/components/sidebar/tests/browser/browser_resize_sidebar.js
  browser/components/sidebar/tests/browser/browser_sidebar_max_width.js
  browser/components/sidebar/tests/browser/browser_toolbar_sidebar_button.js
  browser/themes/shared/toolbarbutton-icons.css
Due: eslint, stylelint, file-whitespace

Bug 1942618 - Remove inline event handler and use restrictive CSP for appManager. r=settings-reviewers,mossop
  browser/components/preferences/dialogs/applicationManager.js
  browser/components/preferences/dialogs/applicationManager.xhtml
Due: eslint, file-whitespace

Bug 1943946 - Set deduplication days threshold to zero. r=mbeier
  browser/app/profile/firefox.js
  browser/components/urlbar/UrlbarPrefs.sys.mjs
Due: eslint

Bug 1943050 - Enable userScripts API by default on desktop r=willdurand,geckoview-reviewers,calu
  mobile/android/app/geckoview-prefs.js
  modules/libpref/init/all.js
Due: eslint

Bug 1925553 - Document Permission Manager and Remote Permissions in Source Docs r=emz,permissions-reviewers
  docs/config.yml
  extensions/permissions/docs/index.rst
  extensions/permissions/docs/manager.rst
  extensions/permissions/docs/remote.rst
  extensions/permissions/moz.build
Due: py-black, yaml, file-whitespace

Bug 1745060 - Rewrite the devtool tests which use SVGPathSeg APIs r=boris,devtools-reviewers,ochameau
  devtools/client/inspector/animation/test/browser.toml
  devtools/client/inspector/animation/test/head.js
Due: eslint

Bug 1763671 - Part 1: Add a preference to disable basic HTTP Auth r=necko-reviewers,fluent-reviewers,kershaw,valentin
  browser/locales/en-US/chrome/overrides/appstrings.properties
  docshell/base/nsDocShell.cpp
  dom/locales/en-US/chrome/appstrings.properties
  js/xpconnect/src/xpc.msg
  modules/libpref/init/StaticPrefList.yaml
  netwerk/protocol/http/nsHttpChannel.cpp
  netwerk/protocol/http/nsHttpChannelAuthProvider.cpp
  toolkit/content/aboutNetError.mjs
  toolkit/locales/en-US/toolkit/neterror/netError.ftl
  xpcom/base/ErrorList.py
Due: eslint, py-black, py-ruff, yaml, clang-format, fluent-lint, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1763671 - Part 2: Add a test for a preference to disable basic HTTP Auth r=necko-reviewers,kershaw,valentin
  browser/base/content/test/about/basic_auth_route.sjs
  browser/base/content/test/about/browser.toml
  browser/base/content/test/about/browser_aboutNetError_basicHttpAuth.js
Due: eslint

Bug 385559 - stop putting full data URIs into the content preference service, r=firefox-desktop-core-reviewers ,mossop
  toolkit/components/contentprefs/ContentPrefService2.sys.mjs
  toolkit/components/contentprefs/tests/unit_cps2/test_setGet.js
Due: eslint

Bug 1941655 - Bump Application Services to 135.0.1. a=dmeehan
  mobile/android/android-components/plugins/dependencies/src/main/java/ApplicationServices.kt
Due: none

Bug 1938934 - skipfails: share platform handling logic r=jmaher,taskgraph-reviewers
  testing/failedplatform.py
  testing/mozbase/mozinfo/mozinfo/platforminfo.py
  testing/mozbase/mozinfo/tests/manifest.toml
  testing/mozbase/mozinfo/tests/test_platforminfo.py
  testing/skipfails.py
  testing/test/data/reftest-reorder-after.list
  testing/test/data/reftest-tasks-1.json
  testing/test/data/wayland-tasks-5.json
  testing/test/data/wpt-tasks-1.json
  testing/test/test_failedplatform.py
  testing/testinfo.py
Due: eslint, py-black, py-ruff, file-whitespace, trojan-source

Bug 1938934 - failedplatform: fix tests r=jmaher,aryx
  testing/failedplatform.py
  testing/test/test_failedplatform.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1938934 - use platforminfo.py in chunking r=jmaher,taskgraph-reviewers
  taskcluster/gecko_taskgraph/test/test_util_chunking.py
  taskcluster/gecko_taskgraph/util/chunking.py
  testing/mozbase/mozinfo/mozinfo/platforminfo.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1940924 [Wayland] Disable frame callback emission if Vsync source doesn't need it r=emilio a=RyanVM
  widget/gtk/WaylandSurface.cpp
  widget/gtk/WaylandSurface.h
  widget/gtk/WaylandVsyncSource.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1940924 [Wayland] Disable frame callback emission if Vsync source doesn't need it r=emilio
  widget/gtk/WaylandSurface.cpp
  widget/gtk/WaylandSurface.h
  widget/gtk/WaylandVsyncSource.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Backed out changeset 2e8e6c3c9ad8 (bug 1938249) for causing bc failures @browser_glean_sidebar.js. CLOSED TREE
  browser/base/content/test/sidebar/browser_sidebar_keys.js
  browser/components/sidebar/SidebarManager.sys.mjs
  browser/components/sidebar/SidebarState.sys.mjs
  browser/components/sidebar/browser-sidebar.js
  browser/components/sidebar/sidebar-customize.mjs
  browser/components/sidebar/tests/browser/browser_customize_sidebar.js
  browser/components/sidebar/tests/browser/browser_domfullscreen_sidebar.js
  browser/components/sidebar/tests/browser/browser_glean_sidebar.js
  browser/components/sidebar/tests/browser/browser_resize_sidebar.js
  browser/components/sidebar/tests/browser/browser_sidebar_max_width.js
  browser/components/sidebar/tests/browser/browser_toolbar_sidebar_button.js
  browser/themes/shared/toolbarbutton-icons.css
Due: eslint, stylelint, file-whitespace

Bug 1892175 - Add tests for smartblock embed unblocking. r=emz,webcompat-reviewers,twisniewski
  browser/base/content/browser-siteProtections.js
  browser/extensions/webcompat/data/shims.js
  browser/extensions/webcompat/manifest.json
  browser/extensions/webcompat/moz.build
  browser/extensions/webcompat/shims/embed-test-shim.js
  browser/extensions/webcompat/tests/browser/browser.toml
  browser/extensions/webcompat/tests/browser/browser_smartblockembeds.js
  browser/extensions/webcompat/tests/browser/embed_test.js
  browser/extensions/webcompat/tests/browser/head.js
  browser/extensions/webcompat/tests/browser/smartblock_embed_test.html
Due: eslint, py-black, file-whitespace

Bug 1920735 - Add telemetry for smartblock embeds. r=emz,webcompat-reviewers,twisniewski
  browser/base/content/browser-siteProtections.js
  browser/base/content/metrics.yaml
  browser/extensions/webcompat/data/shims.js
  browser/extensions/webcompat/experiment-apis/trackingProtection.js
  browser/extensions/webcompat/experiment-apis/trackingProtection.json
  browser/extensions/webcompat/lib/shims.js
  browser/extensions/webcompat/shims/embed-test-shim.js
  browser/extensions/webcompat/shims/instagram-embed.js
  browser/extensions/webcompat/shims/tiktok-embed.js
Due: eslint, yaml

Bug 1920735 - Remove broken legacy protections panel open telemetry. r=emz
  browser/base/content/metrics.yaml
  browser/base/content/test/protectionsUI/browser_protectionsUI.js
  browser/base/content/test/protectionsUI/browser_protectionsUI_info_message.js
  toolkit/components/telemetry/Events.yaml
Due: eslint, yaml

Bug 1920735 - Add telemetry testing to automated tests. r=emz,webcompat-reviewers,twisniewski
  browser/extensions/webcompat/tests/browser/browser_smartblockembeds.js
Due: eslint

Bug 1892175 - Change smartblock embed testing script to be a content script. r=emz,webcompat-reviewers,twisniewski
  browser/extensions/webcompat/data/shims.js
  browser/extensions/webcompat/shims/embed-test-shim.js
Due: eslint

Bug 1932687 - Separate webcompat opt-ins for private browsing and non-private browsing modes. r=webcompat-reviewers,twisniewski
  browser/extensions/webcompat/experiment-apis/trackingProtection.js
  browser/extensions/webcompat/experiment-apis/trackingProtection.json
  browser/extensions/webcompat/lib/shims.js
Due: eslint

Bug 1892175 - Update smartblock embed test to use new content script messaging. r=emz,webcompat-reviewers,twisniewski
  browser/extensions/webcompat/shims/embed-test-shim.js
Due: eslint

Bug 1936622 - Remove same host check from smartblock embed shims. r=emz,webcompat-reviewers,twisniewski
  browser/extensions/webcompat/lib/shims.js
  browser/extensions/webcompat/shims/instagram-embed.js
  browser/extensions/webcompat/shims/tiktok-embed.js
Due: eslint

Bug 1932687 - Copy files to mobile and update manifest version. r=twisniewski,webcompat-reviewers
  browser/extensions/webcompat/manifest.json
  mobile/android/android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/data/shims.js
  mobile/android/android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/experiment-apis/trackingProtection.js
  mobile/android/android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/experiment-apis/trackingProtection.json
  mobile/android/android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/lib/shims.js
  mobile/android/android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/manifest.json
  mobile/android/android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/shims/embed-test-shim.js
  mobile/android/android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/shims/instagram-embed.js
Due: eslint

Bug 1812785 - Include application/x-pdf as download mime type r=android-reviewers,tthibaud
  mobile/android/android-components/components/support/utils/src/main/java/mozilla/components/support/utils/DownloadUtils.kt
  mobile/android/android-components/components/support/utils/src/test/java/mozilla/components/support/utils/DownloadUtilsTest.kt
Due: none

Bug 1943588 - Update onTermsOfServiceLinkClick to call the correct probe r=android-reviewers,joberhauser
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/OnboardingTelemetryRecorder.kt
Due: none

Bug 1880023 - Truncate long file names for downloading r=android-reviewers,tthibaud
  mobile/android/android-components/components/feature/downloads/src/main/java/mozilla/components/feature/downloads/AbstractFetchDownloadService.kt
  mobile/android/android-components/components/support/utils/src/main/java/mozilla/components/support/utils/DownloadUtils.kt
  mobile/android/android-components/components/support/utils/src/test/java/mozilla/components/support/utils/DownloadUtilsTest.kt
Due: none

Bug 1905987 - Use invalidation for generation counter checking in Warp r=iain
  js/src/jit-test/tests/watchtower/generation-count-invalidation.js
  js/src/jit/CacheIR.cpp
  js/src/jit/CacheIRCompiler.cpp
  js/src/jit/CacheIROps.yaml
  js/src/jit/CompilationDependencyTracker.h
  js/src/jit/WarpCacheIRTranspiler.cpp
  js/src/jit/WarpOracle.cpp
  js/src/vm/EnvironmentObject.cpp
  js/src/vm/GlobalObject.cpp
  js/src/vm/GlobalObject.h
  js/src/vm/Logging.h
  js/src/vm/PortableBaselineInterpret.cpp
  js/src/vm/Realm.cpp
  js/src/vm/Realm.h
  js/src/vm/Watchtower.cpp
Due: eslint, yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1943588 - Add telemetry for privacy preferences modal r=android-reviewers,joberhauser
  mobile/android/fenix/app/metrics.yaml
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/store/PrivacyPreferencesMiddleware.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/store/PrivacyPreferencesStore.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/store/PrivacyPreferencesTelemetryMiddleware.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/view/ManagePrivacyPreferencesDialogFragment.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/onboarding/store/PrivacyPreferencesMiddlewareTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/onboarding/store/PrivacyPreferencesStoreTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/onboarding/store/PrivacyPreferencesTelemetryMiddlewareTest.kt
Due: yaml

Bug 1942991 - Block inline event handlers from browser.xhtml in Early Beta. r=freddyb,firefox-desktop-core-reviewers ,mconley
  browser/base/content/browser.xhtml
  browser/components/tests/browser/browser.toml
Due: eslint, file-whitespace

Bug 1943485 - Remove the need to qualify log levels with mozilla::LogLevel:: r=mgaudet
  js/src/jit/JitSpewer.cpp
  js/src/vm/InvalidatingFuse.cpp
  js/src/vm/Logging.h
  js/src/wasm/WasmGenerator.cpp
  js/src/wasm/WasmInstance.cpp
  js/src/wasm/WasmIonCompile.cpp
  js/src/wasm/WasmMetadata.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, **/*.java, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml
