Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, **/*.java, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml

Bug 1929058 - Remove search origin/verified instrumentation r=Standard8
  toolkit/components/search/SearchService.sys.mjs
  toolkit/components/search/metrics.yaml
  toolkit/components/search/tests/xpcshell/head_search.js
  toolkit/components/search/tests/xpcshell/test_defaultEngine.js
  toolkit/components/search/tests/xpcshell/test_defaultPrivateEngine.js
  toolkit/components/search/tests/xpcshell/test_opensearch.js
  toolkit/components/search/tests/xpcshell/test_override_allowlist.js
  toolkit/components/search/tests/xpcshell/test_policyEngine.js
  toolkit/components/search/tests/xpcshell/test_userEngine.js
  toolkit/components/telemetry/app/TelemetryEnvironment.sys.mjs
  toolkit/components/telemetry/docs/data/environment.rst
  toolkit/components/telemetry/tests/unit/test_TelemetryEnvironment_search.js
Due: eslint, yaml, file-whitespace

Bug 1951059 - Show feature values besides feature names in about:profiling r=canaltinova,profiler-reviewers
  devtools/client/performance-new/components/aboutprofiling/Settings.js
  devtools/client/themes/aboutprofiling.css
Due: eslint, stylelint, file-whitespace

Bug 1946569 - Part 1: Create nsISuspendableChannelWrapper and implementation. r=valentin,necko-reviewers
  netwerk/base/SuspendableChannelWrapper.cpp
  netwerk/base/SuspendableChannelWrapper.h
  netwerk/base/moz.build
  netwerk/base/nsIIOService.idl
  netwerk/base/nsIOService.cpp
  netwerk/base/nsISuspendableChannelWrapper.idl
  netwerk/test/unit/test_suspendable_channel_wrapper.js
  netwerk/test/unit/xpcshell.toml
Due: eslint, py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1946569 - Part 3: Suspend all about:newtab or about:home channels until the built-in addon is ready. r=thecount,pdahiya,home-newtab-reviewers,willdurand
  browser/components/newtab/AboutNewTabRedirector.sys.mjs
Due: eslint

Bug 1897564 - Add wpt test scenarios for BucketFS folder moves with open WritableFileStream. r=jesup,dom-storage-reviewers
  testing/web-platform/mozilla/meta/dom/fs/fs-writable_lifecycle_after_parent_dir_change.https.window.js.ini
  testing/web-platform/mozilla/tests/dom/fs/fs-writable_lifecycle_after_parent_dir_change.https.window.js
  testing/web-platform/mozilla/tests/dom/fs/support/fs-create_writables_and_close_on_trigger.sub.html
  testing/web-platform/mozilla/tests/dom/fs/support/fs-noop.sub.html
  testing/web-platform/mozilla/tests/dom/fs/support/fs-overwrite_existing_dir.sub.html
  testing/web-platform/mozilla/tests/dom/fs/support/fs-overwrite_leaves_no_files_behind.sub.html
  testing/web-platform/mozilla/tests/dom/fs/support/fs-relocate_dir_to_trash.sub.html
  testing/web-platform/mozilla/tests/dom/fs/support/fs-relocate_dir_to_trash_and_back.sub.html
  testing/web-platform/mozilla/tests/dom/fs/support/fs-relocate_dir_to_trash_and_recreate.sub.html
  testing/web-platform/mozilla/tests/dom/fs/support/fs-remove_dir.sub.html
Due: eslint, file-whitespace, test-manifest

Bug 1897564 - Expose DoesFileExist check for BucketFS. r=dom-storage-reviewers,janv
  dom/fs/parent/datamodel/FileSystemDatabaseManager.h
  dom/fs/parent/datamodel/FileSystemDatabaseManagerVersion001.cpp
  dom/fs/parent/datamodel/FileSystemDatabaseManagerVersion001.h
  dom/fs/parent/datamodel/FileSystemDatabaseManagerVersion002.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1897564 - Add fuzzing test case to BucketFS crashtest suite. r=dom-storage-reviewers,janv
  dom/fs/test/crashtests/1897564.html
  dom/fs/test/crashtests/crashtests.list
Due: eslint, file-whitespace

Bug 1897564 - Add a method to check for deprecated WritableFileStream locks. r=dom-storage-reviewers,janv
  dom/fs/parent/datamodel/FileSystemDataManager.cpp
  dom/fs/parent/datamodel/FileSystemDataManager.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1897564 - Introduce method to find file entries under BucketFS directory. r=dom-storage-reviewers,janv
  dom/fs/parent/datamodel/FileSystemDatabaseManagerVersion001.cpp
  dom/fs/parent/datamodel/FileSystemDatabaseManagerVersion001.h
  dom/fs/parent/datamodel/FileSystemDatabaseManagerVersion002.cpp
  dom/fs/parent/datamodel/FileSystemDatabaseManagerVersion002.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1897564 - Determine unlocked descendant files and their usage in one go. r=dom-storage-reviewers,janv
  dom/fs/parent/datamodel/FileSystemDatabaseManagerVersion001.cpp
  dom/fs/parent/datamodel/FileSystemDatabaseManagerVersion001.h
  dom/fs/parent/datamodel/FileSystemDatabaseManagerVersion002.cpp
  dom/fs/parent/datamodel/FileSystemDatabaseManagerVersion002.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1949349 - Turn BucketFS file handle move test back on. r=dom-storage-reviewers,janv
  testing/web-platform/meta/fs/FileSystemFileHandle-move.https.any.js.ini
Due: test-manifest

Bug 1897564 - Factor RemoveDirectory into precondition checks and execution. r=dom-storage-reviewers,janv
  dom/fs/parent/datamodel/FileSystemDatabaseManagerVersion001.cpp
  dom/fs/parent/datamodel/FileSystemDatabaseManagerVersion001.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1897564 - Ensure correct BucketFS WritableFileStream usage on move. r=dom-storage-reviewers,janv
  dom/fs/parent/datamodel/FileSystemDataManager.cpp
  dom/fs/parent/datamodel/FileSystemDataManager.h
  dom/fs/parent/datamodel/FileSystemDatabaseManagerVersion001.cpp
  dom/fs/parent/datamodel/FileSystemDatabaseManagerVersion002.cpp
  dom/fs/test/crashtests/crashtests.list
  testing/web-platform/mozilla/meta/dom/fs/fs-writable_lifecycle_after_parent_dir_change.https.window.js.ini
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Bug 1897564 - Disambiguation for deprecated and other WritableFileStreams. r=dom-storage-reviewers,janv
  dom/fs/parent/datamodel/FileSystemDataManager.cpp
  dom/fs/parent/datamodel/FileSystemDataManager.h
  dom/fs/parent/datamodel/FileSystemDatabaseManagerVersion001.cpp
  dom/fs/parent/datamodel/FileSystemDatabaseManagerVersion001.h
  dom/fs/parent/datamodel/FileSystemDatabaseManagerVersion002.cpp
  dom/fs/parent/datamodel/FileSystemDatabaseManagerVersion002.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1891685 - Add telemetry in the ml component r=Mardak,credential-management-reviewers,urlbar-reviewers,dimi,tabbrowser-reviewers
  browser/components/tabbrowser/SmartTabGrouping.sys.mjs
  browser/components/urlbar/private/MLSuggest.sys.mjs
  toolkit/components/aboutinference/content/aboutInference.js
  toolkit/components/formautofill/MLAutofill.sys.mjs
  toolkit/components/glean/metrics_index.py
  toolkit/components/ml/actors/MLEngineChild.sys.mjs
  toolkit/components/ml/actors/MLEngineParent.sys.mjs
  toolkit/components/ml/content/EngineProcess.sys.mjs
  toolkit/components/ml/metrics.yaml
  toolkit/components/ml/tests/browser/browser.toml
  toolkit/components/ml/tests/browser/browser_ml_telemetry.js
Due: eslint, py-black, py-ruff, yaml, file-whitespace, trojan-source

Bug 1952267 - Add H1 styling pref to the feature manifest. r=beth,zcorpan
  toolkit/components/nimbus/FeatureManifest.yaml
Due: yaml

Backed out changeset 6ad61b4ea16d (bug 1937905) as requested by Sean.
  dom/locales/en-US/chrome/appstrings.properties
Due: file-whitespace

Bug 1064621 - Allow setting filename when using perf r=nbp
  js/src/builtin/Profilers.cpp
  js/src/builtin/Profilers.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1949808 - Prevent smart tab topic output from replacing group label if user starts typing r=vazish,tabbrowser-reviewers,dao
  browser/components/tabbrowser/content/tabbrowser.js
  browser/components/tabbrowser/content/tabgroup-menu.js
Due: eslint

Backed out 2 changesets (bug 1938859, bug 1941472) for causing high frequency failures at browser_bannerClicking.js.
  js/public/CompileOptions.h
  js/src/frontend/Parser.cpp
  js/src/jsapi.cpp
  js/xpconnect/loader/mozJSModuleLoader.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1941498 - Fix deleteBookmarkFoldersTest UI test r=aaronmt,ohorvath
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/BookmarksRobotCompose.kt
Due: none

Bug 1952240 - Cleanup unused aSkipChromePrincipalCheck argument in nsRFPService::IsRFPEnabledFor. r=tjr
  toolkit/components/resistfingerprinting/nsRFPService.cpp
  toolkit/components/resistfingerprinting/nsRFPService.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1951837 - Bustage fix. r=RyanVM
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/TranslationsTest.kt
Due: none

Bug 1951575 - [devtools] Use the monosapce font-family defined for devtools r=devtools-reviewers,nchevobbe,jdescottes a=pascalc
  devtools/client/shared/sourceeditor/codemirror/mozilla.css
Due: stylelint, file-whitespace

Bug 1951575 - [devtools] Use the monosapce font-family defined for devtools r=devtools-reviewers,nchevobbe,jdescottes
  devtools/client/shared/sourceeditor/codemirror/mozilla.css
Due: stylelint, file-whitespace

Backed out changeset cd8f12bed08a (bug 1950973) for causing failures at test_restore_manually_with_tab_groups.py. CLOSED TREE
  browser/base/content/test/tabPrompts/browser.toml
  browser/base/content/test/tabPrompts/browser_prompt_close_groups.js
  browser/components/firefoxview/tests/browser/browser_recentlyclosed_firefoxview.js
  browser/components/sessionstore/SessionStore.sys.mjs
  browser/components/sessionstore/test/browser_tab_groups_closed.js
  browser/components/sessionstore/test/browser_tab_groups_restore_simple.js
  browser/components/sessionstore/test/browser_tab_groups_save_on_removeTabsToTheEnd.js
  browser/components/sessionstore/test/browser_tab_groups_save_on_removeTabsToTheStart.js
  browser/components/sessionstore/test/browser_tab_groups_saved.js
  browser/components/sessionstore/test/browser_tab_groups_undo.js
  browser/components/sessionstore/test/marionette/test_restore_manually_with_tab_groups.py
  browser/components/tabbrowser/content/tabbrowser.js
  browser/components/tabbrowser/test/browser/tabs/browser_1936752_lock_tab_sizing.js
  browser/components/tabbrowser/test/browser/tabs/browser_tab_groups.js
  browser/components/tabbrowser/test/browser/tabs/browser_tab_manager_groups.js
  browser/components/tabbrowser/test/browser/tabs/head.js
Due: eslint, py-black, py-ruff, file-whitespace, trojan-source

Bug 1948364 - part 1: Remove screenshots system addon r=sfoster
  browser/extensions/moz.build
  browser/extensions/screenshots/assertIsBlankDocument.js
  browser/extensions/screenshots/assertIsTrusted.js
  browser/extensions/screenshots/background/communication.js
  browser/extensions/screenshots/background/deviceInfo.js
  browser/extensions/screenshots/background/main.js
  browser/extensions/screenshots/background/selectorLoader.js
  browser/extensions/screenshots/background/senderror.js
  browser/extensions/screenshots/background/startBackground.js
  browser/extensions/screenshots/background/takeshot.js
  browser/extensions/screenshots/blank.html
  browser/extensions/screenshots/blobConverters.js
  browser/extensions/screenshots/build/inlineSelectionCss.js
  browser/extensions/screenshots/build/selection.js
  browser/extensions/screenshots/build/shot.js
  browser/extensions/screenshots/build/thumbnailGenerator.js
  browser/extensions/screenshots/catcher.js
  browser/extensions/screenshots/clipboard.js
  browser/extensions/screenshots/domainFromUrl.js
  browser/extensions/screenshots/experiments/screenshots/api.js
  browser/extensions/screenshots/experiments/screenshots/schema.json
  browser/extensions/screenshots/log.js
  browser/extensions/screenshots/manifest.json
  browser/extensions/screenshots/moz.build
  browser/extensions/screenshots/randomString.js
  browser/extensions/screenshots/selector/callBackground.js
  browser/extensions/screenshots/selector/documentMetadata.js
  browser/extensions/screenshots/selector/shooter.js
  browser/extensions/screenshots/selector/ui.js
  browser/extensions/screenshots/selector/uicontrol.js
  browser/extensions/screenshots/selector/util.js
  browser/extensions/screenshots/sitehelper.js
  browser/extensions/screenshots/test/browser/browser.toml
  browser/extensions/screenshots/test/browser/browser_screenshot_button.js
  browser/extensions/screenshots/test/browser/browser_screenshots_dimensions.js
  browser/extensions/screenshots/test/browser/browser_screenshots_download.js
  browser/extensions/screenshots/test/browser/browser_screenshots_injection.js
  browser/extensions/screenshots/test/browser/green2vh.html
  browser/extensions/screenshots/test/browser/head.js
  browser/extensions/screenshots/test/browser/injection-page.html
Due: eslint, py-black, file-whitespace

Bug 1948364 - part 2: Remove references to the removed browser/extensions/screenshots assets r=zeid,devtools-reviewers,frontend-codestyle-reviewers,ochameau
  .eslintrc-rollouts.js
  devtools/server/actors/utils/capture-screenshot.js
  mots.yaml
  testing/runtimes/manifest-runtimes-unix.json
  testing/runtimes/manifest-runtimes-windows.json
  tools/lint/rejected-words.yml
Due: eslint, yaml, test-manifest

Bug 1948364 - part 3: Adjust BrowserGlue _monitorScreenshotsPref. r=sfoster
  browser/components/BrowserGlue.sys.mjs
  browser/components/screenshots/ScreenshotsUtils.sys.mjs
  browser/components/screenshots/tests/browser/browser_screenshots_test_toggle_pref.js
Due: eslint

Bug 1948364 - part 4: adjust Enterprise Policies DisableFirefoxScreenshots setting mochitest. r=mkaply
  browser/components/enterprisepolicies/tests/browser/disable_fxscreenshots/browser_policy_disable_fxscreenshots.js
Due: eslint

Bug 1948364 - part 5: Remove call to force disable screenshots system addon from initPageActionsTest mochitest helper. r=sfoster
  browser/modules/test/browser/head.js
Due: eslint

Bug 1948908 - Cover system builtin location in test_nodisable_hidden.js. r=baku
  toolkit/mozapps/extensions/test/xpcshell/test_nodisable_hidden.js
Due: eslint

Bug 1948908 - Cover system builtin location in test_system_delay_update.js. r=baku,willdurand
  toolkit/mozapps/extensions/test/xpcshell/test_system_delay_update.js
Due: eslint

Bug 1948908 - Cover system builtin location in test_system_allowed.js. r=baku,willdurand
  toolkit/mozapps/extensions/test/xpcshell/test_system_allowed.js
Due: eslint

Bug 1948908 - Cover system builtin location in test_loadManifest_isPrivileged.js. r=baku
  toolkit/mozapps/extensions/test/xpcshell/test_loadManifest_isPrivileged.js
Due: eslint

Bug 1948908 - Cover system builtin location in test_system_repository.js. r=baku,willdurand
  toolkit/mozapps/extensions/test/xpcshell/head_system_addons.js
  toolkit/mozapps/extensions/test/xpcshell/test_system_repository.js
Due: eslint

Bug 1948908 - Cover system builtin location in test_system_update_blank.js. r=willdurand,baku
  toolkit/mozapps/extensions/test/xpcshell/test_system_update_blank.js
Due: eslint

Bug 1948908 - Tweak test_system_upgrades.js to explicit cover system addon precedence for the system builtin location. r=baku,willdurand
  toolkit/mozapps/extensions/test/xpcshell/test_system_upgrades.js
Due: eslint

Bug 1948908 - Cover system builtin location in test_system_update_checkSizeHash.js. r=baku,willdurand
  toolkit/mozapps/extensions/test/xpcshell/test_system_update_checkSizeHash.js
Due: eslint

Bug 1948908 - Cover system builtin location in test_system_startuppref.js. r=baku,willdurand
  toolkit/mozapps/extensions/test/xpcshell/test_system_startupprefs.js
  toolkit/mozapps/extensions/test/xpcshell/xpcshell.toml
Due: eslint
