Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

eslint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

stylelint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

py-black:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

py-ruff:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

yaml:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

shellcheck:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

clang-format:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

rustfmt:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

fluent-lint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

Bug 1945467 - [devtools] No longer using getScopes for inline previews in CM6 r=ochameau
  devtools/client/debugger/src/actions/pause/inlinePreview.js
  devtools/client/shared/sourceeditor/editor.js
  devtools/client/shared/sourceeditor/lezer-utils.js
  devtools/client/shared/sourceeditor/scope-utils.js
Due: eslint

Bug 1956585 - Annotate an intermittent crash to keep the tree green.
  testing/web-platform/meta/css/css-view-transitions/no-raf-while-render-blocked.html.ini
Due: test-manifest

Bug 1956707 - [Wayland] Switch to the kde-appmenu protocol, r=emilio
  widget/gtk/NativeMenuGtk.cpp
  widget/gtk/NativeMenuGtk.h
  widget/gtk/nsWaylandDisplay.cpp
  widget/gtk/nsWaylandDisplay.h
  widget/gtk/wayland/kde-appmenu-client-protocol.h
  widget/gtk/wayland/kde-appmenu-protocol.c
  widget/gtk/wayland/moz.build
  widget/gtk/wayland/xdg-dbus-annotation-v1-client-protocol.h
  widget/gtk/wayland/xdg-dbus-annotation-v1-protocol.c
Due: py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1927066 - Do not try to verify signatures of local data for Thunderbird, even if verifySignatures passed in as an option. r=leplatrem
  services/settings/RemoteSettingsClient.sys.mjs
Due: eslint

Bug 1945705 - Fix malformed download filename extracted from contentDisposition r=android-reviewers,rsainani
  mobile/android/android-components/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/GeckoEngineSession.kt
  mobile/android/android-components/components/support/utils/src/main/java/mozilla/components/support/utils/DownloadUtils.kt
Due: none

Bug 1956764 - Fix some vector access in ClearKeyUtils.cpp. r=padenot,media-playback-reviewers
  dom/media/eme/clearkey/ClearKeyUtils.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1945825 - Use macOS SDK 15.0 rather than 14.4 for Firefox builds. r=glandium,firefox-build-system-reviewers
  build/moz.configure/toolchain.configure
  layout/style/ServoBindings.toml
  python/mozbuild/mozbuild/test/configure/macos_fake_sdk/SDKSettings.plist
  taskcluster/kinds/toolchain/clang.yml
  taskcluster/kinds/toolchain/macos-sdk.yml
  taskcluster/kinds/webrender/kind.yml
  taskcluster/scripts/misc/build-cpython.sh
  taskcluster/scripts/misc/build-geckodriver.sh
  taskcluster/scripts/misc/build-gn-macosx.sh
  taskcluster/scripts/misc/build-llvm-common.sh
  taskcluster/scripts/misc/build-nasm.sh
  taskcluster/scripts/misc/build-pkgconf.sh
  taskcluster/scripts/misc/build-rust-based-toolchain.sh
  taskcluster/scripts/misc/wr-macos-cross-build-setup.sh
  toolkit/crashreporter/client/app/src/ui/macos/mod.rs
Due: py-black, py-ruff, yaml, shellcheck, rustfmt, file-whitespace, trojan-source

Bug 1956424 - Add tests for location of sink mismatch violation in workers. r=smaug
  testing/web-platform/meta/trusted-types/should-sink-type-mismatch-violation-be-blocked-by-csp-002-worker.html.ini
  testing/web-platform/tests/lint.ignore
  testing/web-platform/tests/trusted-types/should-sink-type-mismatch-violation-be-blocked-by-csp-002-worker.html
  testing/web-platform/tests/trusted-types/should-sink-type-mismatch-violation-be-blocked-by-csp-003.html
  testing/web-platform/tests/trusted-types/should-sink-type-mismatch-violation-be-blocked-by-csp-003.html.headers
  testing/web-platform/tests/trusted-types/support/should-sink-type-mismatch-violation-be-blocked-by-csp-002-worker-location.js
  testing/web-platform/tests/trusted-types/support/should-sink-type-mismatch-violation-be-blocked-by-csp-002-worker-location.js.headers
  testing/web-platform/tests/trusted-types/support/should-sink-type-mismatch-violation-be-blocked-by-csp-002-worker-multiple-violations.js
  testing/web-platform/tests/trusted-types/support/should-sink-type-mismatch-violation-be-blocked-by-csp-002-worker-multiple-violations.js.headers
  testing/web-platform/tests/trusted-types/support/should-sink-type-mismatch-violation-be-blocked-by-csp-location.js
Due: eslint, file-whitespace, test-manifest

Bug 1956424 - Pass JS location to ReportSinkTypeMismatchViolations for violations from workers. r=smaug
  dom/security/trusted-types/TrustedTypeUtils.cpp
  testing/web-platform/meta/trusted-types/should-sink-type-mismatch-violation-be-blocked-by-csp-002-worker.html.ini
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Bug 1950914: Add a simpleperf NDK toolchain task. r=jcristau
  taskcluster/kinds/toolchain/android.yml
  taskcluster/scripts/misc/repack-android-simpleperf-linux.sh
Due: yaml, shellcheck

Bug 1950914: Add a new version of the applink startup task that also performs simpleperf profiling. r=jcristau,perftest-reviewers,aglavic
  taskcluster/kinds/perftest/android.yml
  taskcluster/kinds/perftest/kind.yml
Due: yaml

Bug 1950914: Update the applink startup test to optionally perform simpleperf profiling. r=perftest-reviewers,aglavic
  testing/performance/mobile-startup/android_startup_videoapplink.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1950914: Add a new system layer in mozperftest to control simpleperf profiling. r=perftest-reviewers,sparky
  python/mozperftest/mozperftest/profiler.py
  python/mozperftest/mozperftest/system/__init__.py
  python/mozperftest/mozperftest/system/simpleperf.py
  python/mozperftest/mozperftest/tests/test_profiler.py
  python/mozperftest/mozperftest/tests/test_simpleperf.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1956764 - Fix a few others which I missed.
  dom/media/eme/clearkey/ClearKeyDecryptionManager.cpp
  dom/media/eme/clearkey/ClearKeySessionManager.cpp
  dom/media/eme/clearkey/ClearKeyStorage.cpp
  dom/media/eme/mediadrm/MediaDrmProxySupport.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Backed out changeset 1b5ab2185f35 (bug 1927066) for causing xpcshell failures in test_remote_settings.js. CLOSED TREE
  services/settings/RemoteSettingsClient.sys.mjs
Due: eslint

Bug 1956673 - Replace more Uri.parse() usage with String.toUri(). r=android-reviewers,mcarare
  mobile/android/android-components/components/browser/engine-system/src/test/java/mozilla/components/browser/engine/system/SystemEngineSessionTest.kt
  mobile/android/android-components/components/browser/engine-system/src/test/java/mozilla/components/browser/engine/system/SystemEngineViewTest.kt
  mobile/android/android-components/components/browser/engine-system/src/test/java/mozilla/components/browser/engine/system/matcher/UrlMatcherTest.kt
  mobile/android/android-components/components/browser/engine-system/src/test/java/mozilla/components/browser/engine/system/permission/SystemPermissionRequestTest.kt
  mobile/android/android-components/components/feature/app-links/src/test/java/mozilla/components/feature/app/links/AppLinksUseCasesTest.kt
  mobile/android/android-components/components/feature/awesomebar/src/test/java/mozilla/components/feature/awesomebar/provider/SessionSuggestionProviderTest.kt
  mobile/android/android-components/components/feature/customtabs/src/test/java/mozilla/components/feature/customtabs/AbstractCustomTabsServiceTest.kt
  mobile/android/android-components/components/feature/prompts/src/test/java/mozilla/components/feature/prompts/PromptFeatureTest.kt
  mobile/android/android-components/components/feature/prompts/src/test/java/mozilla/components/feature/prompts/file/MimeTypeTest.kt
  mobile/android/android-components/components/feature/search/src/test/java/mozilla/components/feature/search/ext/SearchEngineKtTest.kt
  mobile/android/android-components/components/feature/search/src/test/java/mozilla/components/feature/search/telemetry/UtilsKtTest.kt
  mobile/android/android-components/components/feature/top-sites/src/test/java/mozilla/components/feature/top/sites/DefaultTopSitesStorageTest.kt
  mobile/android/android-components/components/service/firefox-accounts/README.md
  mobile/android/android-components/components/support/utils/src/test/java/mozilla/components/support/utils/BrowsersCacheTest.kt
  mobile/android/android-components/components/support/utils/src/test/java/mozilla/components/support/utils/BrowsersTest.kt
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/helpers/AppAndSystemHelper.kt
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/helpers/DataGenerationHelper.kt
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/helpers/MockWebServer.kt
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/helpers/TestAssetHelper.kt
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/helpers/ext/String.kt
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/DeepLinkRobot.kt
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/SettingsRobot.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/debugsettings/gleandebugtools/GleanDebugToolsFragment.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/IntentReceiverActivityTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/addons/AddonDetailsBindingDelegateTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/distributions/DefaultDistributionProviderCheckerTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/ext/UriTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/home/intent/FennecBookmarkShortcutsIntentProcessorTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/intent/ExternalDeepLinkIntentProcessorTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/search/awesomebar/AwesomeBarViewTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/toolbar/DefaultToolbarMenuTest.kt
  mobile/android/geckoview/build.gradle
  mobile/android/geckoview/src/androidTest/java/org/mozilla/geckoview/test/ContentDelegateTest.kt
  mobile/android/geckoview/src/androidTest/java/org/mozilla/geckoview/test/PromptDelegateTest.kt
  mobile/android/geckoview/src/androidTest/java/org/mozilla/geckoview/test/SelectionActionDelegateTest.kt
  mobile/android/geckoview/src/androidTest/java/org/mozilla/geckoview/test/TextInputDelegateTest.kt
Due: file-whitespace

Bug 1952111 - Extend remaining aboutprivatebrowsing.click_* telemetry. r=anti-tracking-reviewers,timhuang
  toolkit/components/telemetry/Events.yaml
Due: yaml

Bug 1956780 - Make nsHttpHandler::EchConfigEnabled a static function. r=necko-reviewers,kershaw
  netwerk/dns/HTTPSSVC.cpp
  netwerk/protocol/http/DnsAndConnectSocket.cpp
  netwerk/protocol/http/Http3Session.cpp
  netwerk/protocol/http/nsHttpChannel.cpp
  netwerk/protocol/http/nsHttpConnectionMgr.cpp
  netwerk/protocol/http/nsHttpHandler.cpp
  netwerk/protocol/http/nsHttpHandler.h
  netwerk/protocol/http/nsHttpTransaction.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1956780 - Add strict weak ordering checks from newer libc++ to nsTArray. r=xpcom-reviewers,nika
  xpcom/ds/nsTArray.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Backed out 4 changesets (bug 1950914) for breaking the gecko decision task. CLOSED TREE
  python/mozperftest/mozperftest/profiler.py
  python/mozperftest/mozperftest/system/__init__.py
  python/mozperftest/mozperftest/system/simpleperf.py
  python/mozperftest/mozperftest/tests/test_profiler.py
  python/mozperftest/mozperftest/tests/test_simpleperf.py
  taskcluster/kinds/perftest/android.yml
  taskcluster/kinds/perftest/kind.yml
  taskcluster/kinds/toolchain/android.yml
  taskcluster/scripts/misc/repack-android-simpleperf-linux.sh
  testing/performance/mobile-startup/android_startup_videoapplink.py
Due: py-black, py-ruff, yaml, shellcheck, file-whitespace, trojan-source

Bug 1950788 - Add Telefonica distribution search code to search-config-v2 for Google Android and Bing codes for vivo. r=search-reviewers,Standard8 a=pascalc DONTBUILD
  toolkit/components/search/tests/xpcshell/searchconfigs/test_distributions.js
Due: eslint

Bug 1950788 - Add Telefonica distribution search code to search-config-v2 for Google Android and Bing codes for vivo. r=search-reviewers,Standard8
  toolkit/components/search/tests/xpcshell/searchconfigs/test_distributions.js
Due: eslint

No Bug, mozilla-central repo-update HSTS HPKP remote-settings mobile-experiments ct-logs - r=release-managers,diannaS
  mobile/android/fenix/app/src/main/res/raw/initial_experiments.json
  security/ct/CTKnownLogs.h
  security/manager/ssl/StaticHPKPins.h
  security/manager/ssl/nsSTSPreloadList.inc
  security/manager/tools/log_list.json
  services/settings/dumps/main/search-config-v2.json
  services/settings/dumps/main/search-telemetry-v2.json
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1956772 - Add feature settings helper and disable compose home screen in UI tests r=aaronmt
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/helpers/FeatureSettingsHelper.kt
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/helpers/FeatureSettingsHelperDelegate.kt
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/helpers/HomeActivityTestRule.kt
Due: none

Bug 1956676 - Update KSP to version 2.1.20-1.0.32. r=android-reviewers,mcarare
  gradle/libs.versions.toml
Due: none

Bug 1956678 - Update AndroidX DataStore to version 1.1.4. r=android-reviewers,mcarare
  gradle/libs.versions.toml
Due: none

Bug 1956678 - Update AndroidX Benchmark to version 1.3.4. r=android-reviewers,mcarare
  gradle/libs.versions.toml
Due: none

Bug 1956667 - Fix some edge cases with wpt manifests and parent manifests. r=aryx
  testing/skipfails.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1956656 - fix NER suggest to handle engine cache with featureId r=tarek,adw,urlbar-reviewers
  browser/components/urlbar/private/MLSuggest.sys.mjs
  toolkit/components/ml/tests/browser/browser_ml_suggest_feature_perf.js
Due: eslint

Bug 1950385 - Update keyboard navigation for history sidebar r=sidebar-reviewers,reusable-components-reviewers,hjones,sfoster
  browser/components/sidebar/sidebar-history.mjs
  browser/components/sidebar/sidebar-panel-header.mjs
  browser/components/sidebar/sidebar-tab-list.mjs
  browser/components/sidebar/tests/browser/browser_history_sidebar.js
  toolkit/content/tests/widgets/test_moz_card.html
  toolkit/content/widgets/moz-card/moz-card.mjs
Due: eslint, file-whitespace

Bug 1903937 - Enable browser_customize_sidebar.js r=sidebar-reviewers,Gijs
  browser/components/sidebar/tests/browser/browser.toml
Due: none

Bug 1953197 - Remove JSMSG_TEMPORAL_CALENDAR_INCOMPATIBLE_ERA error message; r=dminor
  js/public/friend/ErrorNumbers.msg
Due: none

Bug 1956594 - Expose doh-rollout.provider-steering.provider-list to Nimbus Feature Manifest r=necko-reviewers,valentin
  toolkit/components/nimbus/FeatureManifest.yaml
Due: yaml

No bug - Tagging 338dbe214b58535c49370d8701d6525808233293 with FIREFOX_136_0_4_RELEASE a=release CLOSED TREE DONTBUILD
  .hgtags
Due: none

Bug 1954966 - Update drag behaviour for pinned tabs in expand on hover mode r=sidebar-reviewers,tabbrowser-reviewers,sclements
  browser/components/tabbrowser/content/tabs.js
Due: eslint

Bug 1943622 - Move configure.sh to a simple key/value format r=glandium
  js/src/old-configure.in
  mobile/android/branding/unofficial/configure.sh
  moz.configure
  old-configure.in
  toolkit/moz.configure
Due: py-black, py-ruff, shellcheck

Bug 1949678 - Need to check tabindex when handling sequential focus handling for popovers; r=smaug
  dom/base/nsFocusManager.cpp
  testing/web-platform/tests/html/semantics/popovers/popover-focus-tabindex.html
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1956401 - chore: adjust WebGPU's `mots` entry to include _all_ `wgpu-*` crates r=webgpu-reviewers,zeid,teoxoy
  mots.yaml
Due: yaml

Bug 1956738 - Use the new TypeScript path resolution for toolkit/components/{search|translations}. r=zombie,translations-reviewers,gregtatum
  toolkit/components/extensions/tsconfig.json
  toolkit/components/search/tsconfig.json
  toolkit/components/translations/tsconfig.json
  tools/@types/index.d.ts
Due: eslint

Bug 1956673 - Use androidTestImplementation for the GV core-ktx dependency. r=geckoview-reviewers,ohall
  mobile/android/geckoview/build.gradle
Due: none

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, **/*.java, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml
