Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

eslint:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py eslint

stylelint:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py stylelint

py-black:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py black

py-ruff:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py ruff

yaml:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py yaml

shellcheck:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py shellcheck

clang-format:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  ...

rustfmt:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py rustfmt

fluent-lint:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py fluent-lint

localization:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py l10n

Bug 1920949: Fix patch for signal handling for WASI to fdlibm. r=jandem DONTBUILD
  modules/fdlibm/patches/24_wasi_signal_handling_fix_.patch
Due: none

Bug 1916927 - P1. Move field update heuristics from the child process to the parent process r=credential-management-reviewers,NeilDeakin
  toolkit/components/formautofill/FormAutofillChild.sys.mjs
  toolkit/components/formautofill/FormAutofillParent.sys.mjs
  toolkit/components/formautofill/shared/CreditCardRuleset.sys.mjs
  toolkit/components/formautofill/shared/FieldScanner.sys.mjs
  toolkit/components/formautofill/shared/FormAutofillHandler.sys.mjs
  toolkit/components/formautofill/shared/FormAutofillHeuristics.sys.mjs
  toolkit/components/formautofill/shared/FormStateManager.sys.mjs
Due: eslint

Bug 1916927 - P2. Add a testcase and update existing testcases. r=credential-management-reviewers,NeilDeakin
  browser/extensions/formautofill/test/browser/browser.toml
  browser/extensions/formautofill/test/browser/browser_collectFormFields.js
  browser/extensions/formautofill/test/browser/browser_iframe_update_fields.js
  browser/extensions/formautofill/test/browser/head.js
  browser/extensions/formautofill/test/unit/head.js
  browser/extensions/formautofill/test/unit/test_autofillFormFields.js
  browser/extensions/formautofill/test/unit/test_collectFormFields.js
  browser/extensions/formautofill/test/unit/test_createRecords.js
  browser/extensions/formautofill/test/unit/test_getAdaptedProfiles.js
  browser/extensions/formautofill/test/unit/test_getAdaptedProfiles_locales.js
  browser/extensions/formautofill/test/unit/test_getFormInputDetails.js
  browser/extensions/formautofill/test/unit/xpcshell.toml
Due: eslint

Bug 1916927 - P3. Make iOS compatible with the architecture change r=issammani
  browser/extensions/formautofill/test/unit/test_autofill_ios_library.js
  toolkit/components/formautofill/FormAutofillChild.ios.sys.mjs
Due: eslint

Bug 1919368. When constructing surface pipes for images downscaling must come after premultiplying alpha. r=gfx-reviewers,nical
  image/SurfacePipeFactory.h
  image/test/reftest/downscaling/1919368-1-ref.html
  image/test/reftest/downscaling/1919368-1.avif
  image/test/reftest/downscaling/1919368-1.html
  image/test/reftest/downscaling/1919368-1.png
  image/test/reftest/downscaling/reftest.list
  testing/test/test_skipfails.py
Due: eslint, py-black, py-ruff, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Backed out changeset c2da041f4b00 (bug 1904059) for causing build bustages @ WorkerPrivate.cpp CLOSED TREE
  dom/workers/WorkerPrivate.cpp
  dom/workers/test/WorkerDebugger.initialize_waiting_debugger.js
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1920902 - Ensure sidebar search textbox is visible by setting border. r=sidebar-reviewers,sclements
  browser/components/sidebar/sidebar.css
Due: stylelint, file-whitespace

Bug 1915852 - Document network request scheduling and prioritization system r=necko-reviewers,valentin DONTBUILD
  netwerk/docs/http/prioritization.md
  netwerk/docs/index.md
Due: file-whitespace

Bug 1920863 - Update android nightly application-services version bump to b10c1319e74041b2777e07657fc83dc879f841f4 r=release-managers,RyanVM
  mobile/android/android-components/plugins/dependencies/src/main/java/ApplicationServices.kt
  mobile/android/android-components/plugins/dependencies/src/main/java/moz.yaml
Due: yaml

Bug 1911100 - Display Set as default Browser native prompt in home fragment r=android-reviewers,vdreghici,rebecatudor273,twhite, a=dsmith
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
Due: none

Bug 1916606 - Also autofilling fields that are in the top-level or are same-origin with the top r=credential-management-reviewers,issammani
  browser/extensions/formautofill/test/browser/browser_iframe_autofill_sandbox.js
  browser/extensions/formautofill/test/browser/browser_iframe_cross_origin_autofill.js
  modules/libpref/init/all.js
Due: eslint

Bug 1920660 - Ensure we free external images/surfaces with recorded canvas sooner. r=gfx-reviewers,nical, a=dsmith
  gfx/layers/ipc/CanvasChild.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1920660 - Ensure we free external images/surfaces with recorded canvas sooner. r=gfx-reviewers,nical
  gfx/layers/ipc/CanvasChild.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1894797 - Disable browser_test_moving_tab_to_new_window.js on win for frequent failures. r=intermittent-reviewers,jmaher DONTBUILD
  browser/components/screenshots/tests/browser/browser.toml
Due: none

Bug 1854942 - [remote] Retry invocation of module methods automatically. r=webdriver-reviewers,jdescottes
  modules/libpref/init/all.js
  remote/shared/messagehandler/test/browser/browser_handle_command_retry.js
  remote/shared/messagehandler/test/browser/browser_handle_command_retry_fallback.js
  remote/shared/messagehandler/test/browser/browser_retry_fallback.toml
  remote/shared/messagehandler/transports/RootTransport.sys.mjs
  remote/shared/moz.build
  remote/webdriver-bidi/modules/root/browsingContext.sys.mjs
  remote/webdriver-bidi/modules/root/script.sys.mjs
  testing/web-platform/mozilla/tests/webdriver/bidi/script/evaluate.py
Due: eslint, py-black, py-ruff, file-whitespace, trojan-source

Bug 1920604 - Remove obsolete patch reference from moz.yaml. r=gfx-reviewers,jrmuizel
  gfx/harfbuzz/moz.yaml
Due: yaml

Bug 1920705 - Allow exporting raw X25519 public keys r=keeler,jfernandez
  dom/crypto/CryptoKey.cpp
  dom/crypto/WebCryptoTask.cpp
  testing/web-platform/meta/WebCryptoAPI/generateKey/successes_X25519.https.any.js.ini
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Bug 1915862 - update selected tab background in the dark theme to be more differentiated and update tab text colour for contrast, r=dao,extension-reviewers,desktop-theme-reviewers,rpl
  browser/themes/BuiltInThemeConfig.sys.mjs
  browser/themes/addons/dark/manifest.json
  browser/themes/shared/browser-colors.css
  toolkit/mozapps/extensions/default-theme/manifest.json
  toolkit/mozapps/extensions/test/browser/browser_html_detail_view.js
Due: eslint, stylelint, file-whitespace

Bug 1920540 - cleanup gfx/ipc/security/widget browser.toml files. r=aryx,necko-reviewers,profiler-reviewers,canaltinova
  gfx/layers/apz/test/mochitest/browser.toml
  gfx/tests/browser/browser.toml
  ipc/glue/test/browser/browser.toml
  netwerk/test/browser/browser.toml
  security/sandbox/test/browser.toml
  tools/profiler/tests/browser/browser.toml
  widget/tests/browser/browser.toml
Due: none

Bug 1920953 - focus-android: Enforce a single semver-compatible version of Glean across dependencies r=kaya,android-reviewers
  mobile/android/focus-android/build.gradle
Due: none

Bug 1920696 - neqo: use newer Glean buffered API for distribution metrics r=mxinden
  netwerk/socket/neqo_glue/src/lib.rs
  netwerk/socket/neqo_glue/src/metrics.rs
Due: rustfmt, file-whitespace, trojan-source

Bug 1919245 - Update to Glean v61.1.0 r=TravisLong,supply-chain-reviewers,mach-reviewers,android-reviewers,ahal,kaya
  Cargo.lock
  Cargo.toml
  gfx/wr/Cargo.lock
  gfx/wr/Cargo.toml
  mobile/android/android-components/plugins/dependencies/src/main/java/DependenciesPlugin.kt
  python/sites/mach.txt
  supply-chain/imports.lock
  third_party/rust/glean-core/.cargo-checksum.json
  third_party/rust/glean-core/Cargo.toml
  third_party/rust/glean-core/src/error_recording.rs
  third_party/rust/glean-core/src/histogram/exponential.rs
  third_party/rust/glean-core/src/histogram/functional.rs
  third_party/rust/glean-core/src/histogram/linear.rs
  third_party/rust/glean-core/src/histogram/mod.rs
  third_party/rust/glean-core/src/lib.rs
  third_party/rust/glean-core/src/metrics/custom_distribution.rs
  third_party/rust/glean-core/src/metrics/memory_distribution.rs
  third_party/rust/glean-core/src/metrics/mod.rs
  third_party/rust/glean-core/src/metrics/remote_settings_config.rs
  third_party/rust/glean-core/src/metrics/timing_distribution.rs
  third_party/rust/glean/.cargo-checksum.json
  third_party/rust/glean/Cargo.toml
  third_party/rust/glean/src/lib.rs
  third_party/rust/glean/src/private/mod.rs
  third_party/rust/glean/tests/custom_distribution_buffered.rs
  third_party/rust/glean/tests/memory_distribution_buffered.rs
  third_party/rust/glean/tests/timing_distribution_buffered.rs
Due: eslint, rustfmt, file-whitespace, trojan-source

Bug 1919245 - Glean: Expose buffered API for memory distribution (Rust-only) r=TravisLong
  toolkit/components/glean/api/src/private/custom_distribution.rs
  toolkit/components/glean/api/src/private/memory_distribution.rs
  toolkit/components/glean/api/src/private/mod.rs
Due: rustfmt, file-whitespace, trojan-source

Bug 1920812 - fix moz-button active styles when button is disabled r=reusable-components-reviewers,desktop-theme-reviewers,dao,mstriemer
  toolkit/content/widgets/moz-button/moz-button.css
  toolkit/content/widgets/moz-button/moz-button.stories.mjs
Due: eslint, stylelint, file-whitespace

Bug 1920909 - Extend MOZ_LOG=wasmCodeMetaStats:3 printing to cover important tiering events. r=bvisness.
  js/src/wasm/WasmGenerator.cpp
  js/src/wasm/WasmMetadata.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1920940 - Add a test to verify the etpStrictFeatures Nimbus feature. r=pbz,anti-tracking-reviewers
  toolkit/components/antitracking/test/browser/browser.toml
  toolkit/components/antitracking/test/browser/browser_nimbus_etp_features.js
Due: eslint

Bug 1920940 - Add a nimbus feature to control ETP strict features. r=anti-tracking-reviewers,pbz
  toolkit/components/nimbus/FeatureManifest.yaml
Due: yaml

Bug 1915828 - Add a nimbus feature thirdPartyCookieBlocking to contorl third-party cookie blocking. r=anti-tracking-reviewers,pbz
  toolkit/components/nimbus/FeatureManifest.yaml
Due: yaml

Bug 1915828 - Add a test to verify thirdPartyCookieBlocking nimbus feature. r=pbz,anti-tracking-reviewers
  toolkit/components/antitracking/test/browser/browser.toml
  toolkit/components/antitracking/test/browser/browser_nimbus_3pcb.js
Due: eslint

Bug 1898031 - Debugger breakpoints should switch back to main stack. r=rhunt
  js/public/WasmFeatures.h
  js/src/jit-test/tests/wasm/js-promise-integration/debug.js
  js/src/wasm/WasmBuiltins.cpp
  js/src/wasm/WasmInstance.cpp
  js/src/wasm/WasmInstance.h
  js/src/wasm/WasmPI.cpp
  js/src/wasm/WasmPI.h
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1898031 - Fix JIT activation binding in DebuggerFrame. r=jandem
  js/src/debugger/DebugAPI.h
  js/src/debugger/Debugger.cpp
  js/src/debugger/Debugger.h
  js/src/debugger/Frame.cpp
  js/src/debugger/Frame.h
  js/src/jit-test/tests/wasm/js-promise-integration/debug.js
  js/src/shell/js.cpp
  js/src/vm/FrameIter.h
  js/src/wasm/WasmPI.cpp
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1918037 - Enable blocking third-party cookies in ETP strict. r=anti-tracking-reviewers,pbz
  browser/app/profile/firefox.js
Due: eslint

Bug 1920999 - Remove obsolete doh.evaluate telemetry event, r=chutten.
  toolkit/components/telemetry/Events.yaml
Due: yaml

Bug 1883018 - Fixing mismatch for non credit card type fields with names of style xxx_type_xxx by adapting rule set for credit card type regex. r=NeilDeakin,credential-management-reviewers
  browser/extensions/formautofill/test/browser/heuristics/browser.toml
  browser/extensions/formautofill/test/browser/heuristics/browser_parse_creditcard_type_fields.js
  browser/extensions/formautofill/test/browser/heuristics/third_party/browser_Euronics.js
  toolkit/components/formautofill/shared/HeuristicsRegExp.sys.mjs
Due: eslint

Bug 1920702 - Correctly record is_first_run as boolean r=chumphreys,android-reviewers,jonalmeida
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/experiments/RecordedNimbusContext.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/experiments/RecordedNimbusContextTest.kt
Due: none

Bug 1920980 - add repackage-deb for linux{,64}/opt. r=releng-reviewers,bhearsum DONTBUILD
  taskcluster/kinds/repackage-deb/kind.yml
Due: yaml

Bug 1916749 - Add set as default prompt settings helper and use it only where needed in UI tests r=aaronmt, a=dsmith
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/helpers/FeatureSettingsHelper.kt
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/helpers/FeatureSettingsHelperDelegate.kt
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/helpers/HomeActivityTestRule.kt
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/OnboardingTest.kt
Due: none

Bug 1920561 - only check certificate transparency for certificates issued by built-in roots r=jschanck,extension-reviewers,rpl
  security/certverifier/CertVerifier.cpp
  security/manager/ssl/tests/unit/test_ct.js
  security/manager/ssl/tests/unit/test_ct_stapled.js
  toolkit/components/extensions/test/mochitest/test_ext_webrequest_getSecurityInfo.html
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1919837 - Update Android Metadata for Web Platform SHIP Runs r=whimboo
  taskcluster/kinds/test/variants.yml
  testing/web-platform/meta/html/browsers/browsing-the-web/overlapping-navigations-and-traversals/anchor-fragment-history-back-on-click.html.ini
  testing/web-platform/meta/html/browsers/browsing-the-web/overlapping-navigations-and-traversals/cross-document-traversal-cross-document-traversal.html.ini
  testing/web-platform/meta/html/browsers/browsing-the-web/overlapping-navigations-and-traversals/cross-document-traversal-same-document-traversal.html.ini
  testing/web-platform/meta/html/browsers/browsing-the-web/overlapping-navigations-and-traversals/same-document-traversal-same-document-traversal-hashchange.html.ini
  testing/web-platform/meta/html/browsers/browsing-the-web/overlapping-navigations-and-traversals/same-document-traversal-same-document-traversal-pushstate.html.ini
  testing/web-platform/meta/html/browsers/history/the-history-interface/traverse-during-unload.html.ini
  testing/web-platform/meta/html/dom/idlharness.https.html.ini
Due: yaml, test-manifest

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml
