Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml

Bug 1925913 - [devtools] Fix new attribute button in markup view. r=devtools-reviewers,jdescottes.
  devtools/client/themes/markup.css
Due: stylelint, file-whitespace

Bug 1914793 - Change the protections popup toast to be a button click. r=pbz
  browser/base/content/browser-siteProtections.js
  browser/base/content/test/protectionsUI/browser_protectionsUI.js
  browser/components/controlcenter/content/protectionsPanel.inc.xhtml
Due: eslint, file-whitespace

Bug 1925947 - Fix wrong documentation saying that `MaxSize` is for `min-height`. r=emilio
  servo/components/style/values/computed/length.rs
Due: rustfmt, file-whitespace, trojan-source

Bug 1903662. Annotate WPT offset-path-shape-polygon-002.html as fuzzy-on-Android. r=layout-reviewers,tnikkel
  testing/web-platform/meta/css/motion/offset-path-shape-polygon-002.html.ini
Due: test-manifest

Bug 1925885 - Import Stylo color changes from Servo. r=emilio
  layout/style/ServoBindings.toml
  servo/components/style/attr.rs
  servo/components/style/color/mod.rs
  servo/components/style/gecko/media_features.rs
  servo/components/style/gecko/media_queries.rs
  servo/components/style/properties/longhands/inherited_ui.mako.rs
  servo/components/style/properties/properties.mako.rs
  servo/components/style/servo/media_queries.rs
  servo/components/style/values/specified/color.rs
Due: rustfmt, file-whitespace, trojan-source

Bug 1921811 - Make URLBar a popover. r=emilio,desktop-theme-reviewers,tabbrowser-reviewers,sidebar-reviewers,urlbar-reviewers,dao,mak,dao?
  browser/base/content/navigator-toolbox.inc.xhtml
  browser/components/urlbar/UrlbarInput.sys.mjs
  browser/themes/shared/browser-shared.css
  browser/themes/shared/sidebar.css
  browser/themes/shared/tabbrowser/content-area.css
  browser/themes/shared/urlbar-searchbar.css
Due: eslint, stylelint, file-whitespace

Bug 1925930 - Minor cleanup and API update in gfxScriptItemizer. r=gfx-reviewers,lsalzman
  gfx/thebes/gfxScriptItemizer.cpp
  gfx/thebes/gfxScriptItemizer.h
  gfx/thebes/gfxTextRun.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1925854 - Make gfxScriptItemizer support both 16-bit and 8-bit text buffers. r=gfx-reviewers,lsalzman
  gfx/thebes/gfxScriptItemizer.cpp
  gfx/thebes/gfxScriptItemizer.h
  gfx/thebes/gfxTextRun.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1925854 - Run all text through gfxScriptItemizer, even if purely 8-bit. r=gfx-reviewers,lsalzman
  gfx/thebes/gfxTextRun.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1791226 - Don't paint line-clamped lines. r=layout-reviewers,dshin
  layout/generic/TextOverflow.cpp
  layout/generic/nsBlockFrame.cpp
  layout/generic/nsBlockFrame.h
  layout/generic/nsFrameStateBits.h
  testing/web-platform/tests/css/css-overflow/line-clamp/reference/webkit-line-clamp-040-ref.html
  testing/web-platform/tests/css/css-overflow/line-clamp/webkit-line-clamp-050.html
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1925683 - Remove wrong test expectations for wasm/jsapi/jspi/js-promise-integration.any.js. CLOSED TREE
  testing/web-platform/meta/wasm/jsapi/jspi/js-promise-integration.any.js.ini
Due: test-manifest

Bug 1914895 - Make Symbol.unscopables support optional for non-syntactic with-environments. r=arai
  dom/base/nsFrameMessageManager.cpp
  dom/base/nsJSUtils.cpp
  dom/base/nsJSUtils.h
  dom/events/EventListenerManager.cpp
  js/public/CompilationAndEvaluation.h
  js/public/EnvironmentChain.h
  js/public/friend/JSMEnvironment.h
  js/src/builtin/Eval.cpp
  js/src/debugger/Frame.cpp
  js/src/frontend/BytecodeCompiler.cpp
  js/src/jit-test/tests/basic/non-syntactic-with-unscopables.js
  js/src/jsapi-tests/testChromeBuffer.cpp
  js/src/jsapi-tests/testFunctionBinding.cpp
  js/src/jsapi-tests/testFunctionNonSyntactic.cpp
  js/src/jsapi-tests/testJSEvaluateScript.cpp
  js/src/jsapi-tests/testPreserveJitCode.cpp
  js/src/jsapi-tests/testSourcePolicy.cpp
  js/src/jsapi-tests/testStencil.cpp
  js/src/moz.build
  js/src/shell/js.cpp
  js/src/vm/CompilationAndEvaluation.cpp
  js/src/vm/EnvironmentObject.cpp
  js/src/vm/EnvironmentObject.h
  js/src/vm/Interpreter-inl.h
  js/src/vm/Interpreter.cpp
  js/xpconnect/loader/mozJSSubScriptLoader.cpp
Due: eslint, py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1925971 - Only call the interposer when the fork server is enabled. r=gerard-majax
  security/sandbox/linux/launch/SandboxLaunch.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1925372 - Allow running mach test-interventions without a build, r=denschub,twisniewski
  testing/webcompat/mach_commands.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1925761 - Use nsAString::const_iterator to iterate strings rather than RangedPtr r=emilio
  dom/smil/SMILParserUtils.cpp
  dom/svg/SVGAnimatedLength.cpp
  dom/svg/SVGAnimatedNumber.cpp
  dom/svg/SVGAnimatedOrient.cpp
  dom/svg/SVGContentUtils.cpp
  dom/svg/SVGContentUtils.h
  dom/svg/SVGDataParser.cpp
  dom/svg/SVGDataParser.h
  dom/svg/SVGLength.cpp
  dom/svg/SVGPointList.cpp
  dom/svg/SVGTransformListParser.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

No Bug, mozilla-central repo-update HSTS HPKP remote-settings tld-suffixes ct-logs - r=release-managers,dmeehan
  netwerk/dns/effective_tld_names.dat
  security/ct/CTKnownLogs.h
  security/manager/ssl/StaticHPKPins.h
  security/manager/ssl/nsSTSPreloadList.inc
  security/manager/tools/log_list.json
  services/settings/dumps/blocklists/addons-bloomfilters.json
  services/settings/dumps/main/devtools-compatibility-browsers.json
  services/settings/dumps/security-state/intermediates.json
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Backed out changeset d4c4540a5a4a (bug 1921811) for causing bc failures on browser_urlbar_keyed_search.js CLOSED TREE
  browser/base/content/navigator-toolbox.inc.xhtml
  browser/components/urlbar/UrlbarInput.sys.mjs
  browser/themes/shared/browser-shared.css
  browser/themes/shared/sidebar.css
  browser/themes/shared/tabbrowser/content-area.css
  browser/themes/shared/urlbar-searchbar.css
Due: eslint, stylelint, file-whitespace

Bug 1925328, part 2 - test(webgpu): accumulate observed intermittents in tier 3 r=webgpu-reviewers,teoxoy
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/operation/memory_sync/buffer/multiple_buffers/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/operation/memory_sync/buffer/single_buffer/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/operation/render_pipeline/primitive_topology/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/operation/rendering/draw/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/capability_checks/limits/maxBindingsPerBindGroup/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/capability_checks/limits/maxColorAttachmentBytesPerSample/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/capability_checks/limits/maxComputeWorkgroupSizeX/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/capability_checks/limits/maxComputeWorkgroupStorageSize/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/capability_checks/limits/maxComputeWorkgroupsPerDimension/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/capability_checks/limits/maxSampledTexturesPerShaderStage/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/capability_checks/limits/maxSamplersPerShaderStage/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/capability_checks/limits/maxStorageBuffersPerShaderStage/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/capability_checks/limits/maxStorageTexturesPerShaderStage/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/capability_checks/limits/maxTextureDimension1D/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/capability_checks/limits/maxUniformBuffersPerShaderStage/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/capability_checks/limits/maxVertexBufferArrayStride/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/encoding/cmds/setBindGroup/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/image_copy/layout_related/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/image_copy/texture_related/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/queue/copyToTexture/CopyExternalImageToTexture/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/state/device_lost/destroy/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/execution/expression/binary/f32_matrix_matrix_multiplication/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/execution/expression/call/builtin/textureGatherCompare/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/execution/expression/call/builtin/textureSampleLevel/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/execution/robust_access_vertex/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/execution/zero_init/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/web_platform/copyToTexture/ImageBitmap/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/web_platform/copyToTexture/ImageData/cts.https.html.ini
Due: test-manifest

Bug 1925328, part 3 - test(webgpu): tag consistently executing (but long) tests with `webgpu-long` r=webgpu-reviewers,teoxoy
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/operation/command_buffer/image_copy/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/render_pass/attachment_compatibility/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/resource_usages/texture/in_render_common/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/execution/expression/call/builtin/faceForward/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/execution/expression/constructor/non_zero/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/validation/expression/call/builtin/length/cts.https.html.ini
Due: test-manifest

No Bug, mozilla-release repo-update remote-settings - a=RyanVM
  services/settings/dumps/blocklists/addons-bloomfilters.json
  services/settings/dumps/main/search-config-v2.json
  services/settings/dumps/security-state/intermediates.json
Due: eslint

No Bug, mozilla-beta repo-update HSTS HPKP remote-settings tld-suffixes ct-logs - a=RyanVM
  netwerk/dns/effective_tld_names.dat
  security/ct/CTKnownLogs.h
  security/manager/ssl/StaticHPKPins.h
  security/manager/ssl/nsSTSPreloadList.inc
  security/manager/tools/log_list.json
  services/settings/dumps/blocklists/addons-bloomfilters.json
  services/settings/dumps/main/devtools-compatibility-browsers.json
  services/settings/dumps/security-state/intermediates.json
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1885253 - make sure we don't ask for 2GiB in the CI by default r=padenot
  modules/libpref/init/all.js
  toolkit/components/ml/actors/MLEngineChild.sys.mjs
  toolkit/components/ml/tests/browser/browser_ml_engine.js
Due: eslint

Bug 1715480 - Re-enable mobile/android/geckoview/src/androidTest/java/org/mozilla/geckoview/test/AccessibilityTest.kt with BFCache in parent. r=kaya,geckoview-reviewers
  mobile/android/geckoview/src/androidTest/java/org/mozilla/geckoview/test/AccessibilityTest.kt
Due: none

Bug 1717448 - Vendor {fmt} in third_party. r=glandium
  js/src/make-source-package.py
  moz.configure
  mozglue/moz.build
  third_party/fmt/LICENSE
  third_party/fmt/include/fmt/args.h
  third_party/fmt/include/fmt/base.h
  third_party/fmt/include/fmt/chrono.h
  third_party/fmt/include/fmt/color.h
  third_party/fmt/include/fmt/format-inl.h
  third_party/fmt/include/fmt/format.h
  third_party/fmt/include/fmt/ostream.h
  third_party/fmt/include/fmt/ranges.h
  third_party/fmt/include/fmt/xchar.h
  third_party/fmt/moz.build
  third_party/fmt/moz.yaml
  third_party/fmt/src/format.cc
  third_party/moz.build
Due: py-black, py-ruff, yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1717448 - Make `{fmt}` use `double-conversion` for converting float to string internally. r=glandium,nika
  third_party/fmt/include/fmt/format.h
  third_party/fmt/moz.yaml
  third_party/fmt/use-double-conversion.patch
Due: yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1717448 - Patch `{fmt}` to avoid crashing when printing `nullptr` strings, and attempting to print to an invalid FILE*. r=nika
  third_party/fmt/include/fmt/format.h
  third_party/fmt/moz.yaml
  third_party/fmt/print-null-string.patch
Due: yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1717448 - Don't use std::generic_category and other error reporting facilities, ignore IO errors. r=glandium
  third_party/fmt/comment-format-system-error.patch
  third_party/fmt/include/fmt/format-inl.h
  third_party/fmt/include/fmt/format.h
  third_party/fmt/include/fmt/xchar.h
  third_party/fmt/moz.yaml
Due: yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1717448 - Exclude {fmt} from gecko-specific checks. r=glandium,nika
  build/clang-plugin/NaNExprChecker.cpp
  tools/rewriting/ThirdPartyPaths.txt
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1717448 - Exclude `{fmt}` internals from hazard analysis. r=sfink
  js/src/devtools/rootAnalysis/annotations.js
Due: eslint

Bug 1717448 - Ignore allocations in done within `{fmt}`. r=sfink
  config/check_vanilla_allocations.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1717448 - Teach MOZ_LOG to use {fmt}. r=nika
  xpcom/base/Logging.cpp
  xpcom/base/Logging.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1717448 - Print the diagnostic message in AssertedCast with {fmt}. r=nbp
  mfbt/Casting.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1717448 - Integrate {fmt} with nsString. r=xpcom-reviewers,nika,mccr8
  xpcom/string/moz.build
  xpcom/string/nsFmtString.h
  xpcom/string/nsPrintfCString.h
  xpcom/string/nsString.h
  xpcom/string/nsStringFwd.h
  xpcom/string/nsTDependentString.h
  xpcom/string/nsTDependentSubstring.h
  xpcom/string/nsTLiteralString.h
  xpcom/string/nsTPromiseFlatString.h
  xpcom/string/nsTString.h
  xpcom/string/nsTStringRepr.h
  xpcom/string/nsTSubstring.cpp
  xpcom/string/nsTSubstring.h
Due: py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1717448 - Add some tests for Gecko integration. r=glandium
  mozglue/tests/gtest/TestFmt.cpp
  mozglue/tests/gtest/moz.build
Due: py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1717448 - Add some documentation about using {fmt} in Gecko. r=nika
  xpcom/docs/fmt-in-gecko.md
  xpcom/docs/index.rst
  xpcom/docs/logging.rst
  xpcom/docs/stringguide.rst
Due: file-whitespace

Bug 1717448 - Replace printf-style logging by MOZ_LOG_FMT in AudioData.cpp. r=nika
  dom/media/webcodecs/AudioData.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1911341 - Only initialize AutoWritableJitCode with a JitCode. r=jandem
  js/src/jit/AutoWritableJitCode.h
  js/src/jit/JitCode.h
  js/src/jit/Linker.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1454816 - Move base::SharedMemory into mozilla::ipc::SharedMemory r=ipc-reviewers,jld,nika
  ipc/glue/SharedMemory.cpp
  ipc/glue/SharedMemory.h
  ipc/glue/SharedMemoryImpl_chromium.cpp
  ipc/glue/SharedMemoryImpl_chromium.h
  ipc/glue/SharedMemoryImpl_mach.h
  ipc/glue/SharedMemory_android.cpp
  ipc/glue/SharedMemory_mach.cpp
  ipc/glue/SharedMemory_posix.cpp
  ipc/glue/SharedMemory_windows.cpp
  ipc/glue/moz.build
Due: py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1454816 - Add mach ReadOnlyCopyImpl r=ipc-reviewers,nika,jld
  ipc/glue/SharedMemory_mach.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source
