Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

eslint:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py eslint

stylelint:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py stylelint

py-black:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py black

py-ruff:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py ruff

yaml:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py yaml

shellcheck:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py shellcheck

clang-format:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  ...

rustfmt:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py rustfmt

fluent-lint:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py fluent-lint

localization:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py l10n

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  browser/locales/l10n-changesets.json
Due: eslint

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  mobile/locales/l10n-changesets.json
Due: eslint

Backed out changeset cfc9c8d13810 (bug 1924107) for causing sidebar related failures
  browser/components/genai/chat.html
  browser/components/genai/chat.js
  browser/components/sidebar/sidebar-history.mjs
  browser/locales/en-US/browser/sidebar.ftl
Due: eslint, fluent-lint, file-whitespace

Backed out changeset 1de300781d3f (bug 1916499) for causing multiple search related failures CLOSED TREE
  browser/components/search/content/searchbar.js
  browser/components/urlbar/UrlbarInput.sys.mjs
  toolkit/components/search/OpenSearchEngine.sys.mjs
  toolkit/components/search/OpenSearchLoader.sys.mjs
  toolkit/components/search/SearchEngine.sys.mjs
  toolkit/components/search/SearchUtils.sys.mjs
  toolkit/components/search/UserSearchEngine.sys.mjs
  toolkit/components/search/nsISearchService.idl
  toolkit/components/search/tests/xpcshell/opensearch/simple.xml
  toolkit/components/search/tests/xpcshell/opensearch/suggestion.xml
  toolkit/components/search/tests/xpcshell/test_searchForm.js
  toolkit/components/search/tests/xpcshell/xpcshell.toml
Due: eslint, file-whitespace

Bug 1925478 - Simplify nsMathMLContainerFrame::DidReflowChildren. r=fredw
  layout/mathml/nsMathMLContainerFrame.cpp
  layout/mathml/nsMathMLContainerFrame.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1925491 - Remove unused code to support horizontal scrolling of XUL <tree>s. r=jwatt
  dom/chrome-webidl/XULTreeElement.webidl
  dom/events/EventStateManager.cpp
  dom/xul/XULTreeElement.cpp
  dom/xul/XULTreeElement.h
  layout/xul/tree/nsTreeBodyFrame.cpp
  layout/xul/tree/nsTreeBodyFrame.h
  layout/xul/tree/nsTreeColumns.cpp
  toolkit/content/widgets/tree.js
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1791226 - Improve line-clamp behavior with padding / nested blocks. r=layout-reviewers,dshin
  layout/generic/nsBlockFrame.cpp
  layout/generic/nsBlockFrame.h
  testing/web-platform/tests/css/css-overflow/line-clamp/reference/webkit-line-clamp-050-ref.html
  testing/web-platform/tests/css/css-overflow/line-clamp/webkit-line-clamp-050.html
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1925484 - Remove nsListControlFrame::DidReflow. r=dshin,jwatt
  layout/base/nsPresContext.h
  layout/forms/nsListControlFrame.cpp
  layout/forms/nsListControlFrame.h
  layout/generic/ScrollContainerFrame.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1925551 - Better validate relative color components. r=tlouw,firefox-style-system-reviewers,layout-reviewers
  servo/components/style/color/color_function.rs
  servo/components/style/color/component.rs
  servo/components/style/color/parsing.rs
  testing/web-platform/meta/css/css-color/parsing/color-invalid-relative-color.html.ini
Due: rustfmt, file-whitespace, test-manifest, trojan-source

Bug 1921079 - make DLP agent name bold in panel r=dlp-reviewers,fluent-reviewers,handyman
  browser/components/contentanalysis/content/ContentAnalysis.sys.mjs
  browser/locales/en-US/browser/browser.ftl
Due: eslint, fluent-lint, file-whitespace

Bug 1918637 - Skip test_ext_idle.html on Linux asan and ccov builds (where it still fails intermittently). r=willdurand
  toolkit/components/extensions/test/mochitest/mochitest-common.toml
Due: none

Bug 1908019 - Store sidebar UI state in a pref that acts as a fallback r=sidebar-reviewers,sessionstore-reviewers,sfoster
  browser/app/profile/firefox.js
  browser/base/content/test/keyboard/browser_toolbarButtonKeyPress.js
  browser/base/content/test/sidebar/browser_sidebar_keys.js
  browser/components/sessionstore/SessionStore.sys.mjs
  browser/components/sessionstore/test/marionette/test_restore_sidebar.py
  browser/components/sidebar/SidebarManager.sys.mjs
  browser/components/sidebar/browser-sidebar.js
  browser/components/sidebar/tests/browser/browser_a11y_sidebar.js
Due: eslint, py-black, py-ruff, file-whitespace, trojan-source

Bug 1925280: Add Content Process Sandbox Nimbus feature. r=handyman,beth
  toolkit/components/nimbus/FeatureManifest.yaml
Due: yaml

Bug 1923028 - Migrate scalars to use Glean APIs for startup.*, r=chutten,mossop.
  browser/components/BrowserGlue.sys.mjs
  browser/components/metrics.yaml
  toolkit/components/glean/metrics_index.py
  toolkit/profile/metrics.yaml
  toolkit/profile/nsToolkitProfileService.cpp
  toolkit/profile/nsToolkitProfileService.h
Due: eslint, py-black, py-ruff, yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1923028 - Migrate scalars to use Glean APIs in security/manager/ssl/, r=chutten.
  security/manager/ssl/NSSSocketControl.cpp
  security/manager/ssl/TLSClientAuthCertSelection.cpp
  security/manager/ssl/metrics.yaml
  security/manager/ssl/nsNSSComponent.cpp
  toolkit/components/telemetry/core/Telemetry.h
  toolkit/components/telemetry/tests/gtest/TestScalars.cpp
Due: yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1923028 - Migrate scalars to use Glean APIs for os.environment.*, r=chutten,mconley.
  browser/components/BrowserContentHandler.sys.mjs
  browser/components/BrowserGlue.sys.mjs
  browser/components/metrics.yaml
  toolkit/components/telemetry/Scalars.yaml
  toolkit/modules/OsEnvironment.sys.mjs
  toolkit/modules/metrics.yaml
  toolkit/xre/metrics.yaml
  toolkit/xre/nsAppRunner.cpp
Due: eslint, yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1923028 - Migrate scalars to use Glean APIs in toolkit/components/places/, r=chutten,places-reviewers,Standard8.
  toolkit/components/places/History.cpp
  toolkit/components/places/PlacesDBUtils.sys.mjs
  toolkit/components/places/metrics.yaml
Due: eslint, yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1922594 - Add image assets for FxA menu messages. r=pdahiya,omc-reviewers
  browser/base/content/test/static/browser_all_files_referenced.js
  browser/components/asrouter/content/assets/fox-with-box-on-cloud.svg
  browser/components/asrouter/content/assets/fox-with-devices.svg
  browser/components/asrouter/content/assets/fox-with-locked-box.svg
  browser/components/asrouter/content/assets/fox-with-mobile.svg
  browser/components/asrouter/content/components/fxa-menu-message/fxa-menu-message.css
  browser/components/asrouter/content/components/fxa-menu-message/fxa-menu-message.stories.mjs
  browser/components/asrouter/jar.mn
  browser/components/asrouter/modules/PanelTestProvider.sys.mjs
Due: eslint, stylelint, file-whitespace

Bug 1925651 - ensure multiple fxa webchannel messages can't be in flight. r=lina
  services/fxaccounts/FxAccountsWebChannel.sys.mjs
Due: eslint

Bug 1925266 - make 'media-gpu' never expire. r=jmaher
  taskcluster/kinds/test/variants.yml
Due: yaml

Bug 1919119 - chore(webgpu)!: use `GPUAdapter.info` instead of `requestAdapterInfo` in `about:support` r=webgpu-reviewers,teoxoy
  toolkit/modules/Troubleshoot.sys.mjs
Due: eslint

Bug 1919119 - chore(webgpu)!: remove `GPUAdapter.requestAdapterInfo` method r=webgpu-reviewers,webidl,teoxoy,saschanaz
  dom/webgpu/Adapter.cpp
  dom/webgpu/Adapter.h
  dom/webidl/WebGPU.webidl
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1925524 - Check SVG element restyle when they have a hover pseudo and move away from the mouse r=emilio
  dom/svg/test/mochitest.toml
  dom/svg/test/test_dynamic-move-under-mouse.html
Due: eslint, file-whitespace

Backed out changeset 1f72106b618f (bug 1923744) on request for causing crashes. a=backout
  mobile/android/fenix/app/metrics.yaml
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt
Due: yaml

Backed out changeset 496e0901559b (bug 1923744) as requested for causing crashes a=backout
  mobile/android/fenix/app/metrics.yaml
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt
Due: yaml

Bug 1925324: Add test for a SVG to-animation (to "display:none") being sampled at underlying value. r=longsonr
  testing/web-platform/tests/svg/animations/animate-display-to-none-001.html
Due: eslint, file-whitespace

Bug 1917201: Remove cancel button from modal while waiting for user to respond to Windows geolocation dialog r=Gijs
  dom/geolocation/Geolocation.cpp
  toolkit/components/prompts/src/CommonDialog.sys.mjs
  toolkit/components/prompts/test/chromeScript.js
  toolkit/components/prompts/test/test_modal_prompts.html
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1917201: Remove cancel button from modal while waiting for user to respond to Windows geolocation dialog r=Gijs a=RyanVM
  dom/geolocation/Geolocation.cpp
  toolkit/components/prompts/src/CommonDialog.sys.mjs
  toolkit/components/prompts/test/chromeScript.js
  toolkit/components/prompts/test/test_modal_prompts.html
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1925401: Require BUTTON_NONE in nsIPrompt for button-less dialogs r=Gijs,necko-reviewers
  dom/geolocation/Geolocation.cpp
  netwerk/base/nsIPrompt.idl
  toolkit/components/prompts/src/CommonDialog.sys.mjs
  toolkit/components/prompts/src/Prompter.sys.mjs
  toolkit/components/prompts/test/test_modal_prompts.html
  toolkit/components/windowwatcher/nsIPromptService.idl
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1791226 - Don't paint line-clamped lines. r=layout-reviewers,dshin
  layout/generic/TextOverflow.cpp
  layout/generic/nsBlockFrame.cpp
  layout/generic/nsBlockFrame.h
  layout/generic/nsFrameStateBits.h
  testing/web-platform/tests/css/css-overflow/line-clamp/reference/webkit-line-clamp-040-ref.html
  testing/web-platform/tests/css/css-overflow/line-clamp/webkit-line-clamp-050.html
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1923908 - Add a feature flag for Merino Content Recommendations r=android-reviewers,007
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/FeatureFlags.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/SecretSettingsFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  mobile/android/fenix/app/src/main/res/values/preference_keys.xml
  mobile/android/fenix/app/src/main/res/values/static_strings.xml
  mobile/android/fenix/app/src/main/res/xml/secret_settings_preferences.xml
Due: eslint

Bug 1924018 - Refactor the Pocket package to have ui, view, interactor and controller packages r=android-reviewers,007
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/ext/AppState.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/interactor/HomepageInteractor.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/pocket/controller/PocketStoriesController.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/pocket/interactor/PocketStoriesInteractor.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/pocket/ui/PocketStoriesComposables.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/pocket/view/PocketCategoriesViewHolder.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/pocket/view/PocketRecommendationsHeaderViewHolder.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/pocket/view/PocketStoriesViewHolder.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/sessioncontrol/SessionControlAdapter.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/sessioncontrol/SessionControlInteractor.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/home/SessionControlInteractorTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/home/pocket/DefaultPocketStoriesControllerTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/home/recentvisits/interactor/RecentVisitsInteractorTest.kt
Due: none

Backed out changeset 214c931a0501 (bug 1908019) for causing bc failure on browser_keyboard_tests.js
  browser/app/profile/firefox.js
  browser/base/content/test/keyboard/browser_toolbarButtonKeyPress.js
  browser/base/content/test/sidebar/browser_sidebar_keys.js
  browser/components/sessionstore/SessionStore.sys.mjs
  browser/components/sessionstore/test/marionette/test_restore_sidebar.py
  browser/components/sidebar/SidebarManager.sys.mjs
  browser/components/sidebar/browser-sidebar.js
  browser/components/sidebar/tests/browser/browser_a11y_sidebar.js
Due: eslint, py-black, py-ruff, file-whitespace, trojan-source

Backed out 4 changesets (bug 1923028) for causing bc failures on browser_glean_metrics_exist.js CLOSED TREE
  browser/components/BrowserContentHandler.sys.mjs
  browser/components/BrowserGlue.sys.mjs
  browser/components/metrics.yaml
  security/manager/ssl/NSSSocketControl.cpp
  security/manager/ssl/TLSClientAuthCertSelection.cpp
  security/manager/ssl/metrics.yaml
  security/manager/ssl/nsNSSComponent.cpp
  toolkit/components/glean/metrics_index.py
  toolkit/components/places/History.cpp
  toolkit/components/places/PlacesDBUtils.sys.mjs
  toolkit/components/places/metrics.yaml
  toolkit/components/telemetry/Scalars.yaml
  toolkit/components/telemetry/core/Telemetry.h
  toolkit/components/telemetry/tests/gtest/TestScalars.cpp
  toolkit/modules/OsEnvironment.sys.mjs
  toolkit/modules/metrics.yaml
  toolkit/profile/metrics.yaml
  toolkit/profile/nsToolkitProfileService.cpp
  toolkit/profile/nsToolkitProfileService.h
  toolkit/xre/metrics.yaml
  toolkit/xre/nsAppRunner.cpp
Due: eslint, py-black, py-ruff, yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Backed out changeset 88669d7958cf (bug 1906541) for causing bc failure on browser_searchModeSwitcher_basic.js CLOSED TREE
  browser/components/urlbar/SearchModeSwitcher.sys.mjs
  browser/components/urlbar/tests/browser/browser_searchModeSwitcher_basic.js
  browser/locales/en-US/browser/browser.ftl
Due: eslint, fluent-lint, file-whitespace

Bug 1883162 - Update profiles app menu to latest design using selectable profiles. r=niklas,fluent-reviewers,desktop-theme-reviewers,bolsson,dao
  browser/base/content/appmenu-viewcache.inc.xhtml
  browser/base/content/browser-init.js
  browser/base/content/browser-profiles.js
  browser/components/customizableui/content/panelUI.js
  browser/components/profiles/SelectableProfileService.sys.mjs
  browser/components/profiles/content/profiles.ftl
  browser/themes/shared/customizableui/panelUI-shared.css
Due: eslint, stylelint, fluent-lint, file-whitespace

Bug 1924845 - Add the toolkit profile to the selectable profiles datastore on first creation. r=niklas
  browser/components/profiles/SelectableProfileService.sys.mjs
Due: eslint

Bug 1882300, if a label does not have a corresponding control, assume that a sibling is meant to be that control, r=credential-management-reviewers,dimi
  browser/extensions/formautofill/test/browser/heuristics/browser_label_rules.js
  browser/extensions/formautofill/test/browser/heuristics/third_party/browser_CostCo.js
  browser/extensions/formautofill/test/browser/heuristics/third_party/browser_NewEgg.js
  toolkit/components/formautofill/shared/LabelUtils.sys.mjs
Due: eslint

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml
