Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

eslint:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py eslint

stylelint:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py stylelint

py-black:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py black

py-ruff:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py ruff

yaml:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py yaml

shellcheck:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py shellcheck

clang-format:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  ...

rustfmt:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py rustfmt

fluent-lint:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py fluent-lint

localization:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py l10n

Bug 1917553 [wpt PR 48039] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-values/attr-security.html.ini
Due: test-manifest

Bug 1917553 [wpt PR 48039] - Implement attr() tainting., a=testonly
  testing/web-platform/tests/css/css-values/attr-security.html
Due: eslint, file-whitespace

Bug 1917591 [wpt PR 48043] - Use length resolver to convert initial-letter, a=testonly
  testing/web-platform/tests/css/css-inline/initial-letter/initial-letter-sign-function.html
Due: eslint, file-whitespace

Bug 1917612 [wpt PR 48048] - [wpt][fetch-api] Don't persist cookie in `cors-filtering.sub.any.js`, a=testonly
  testing/web-platform/tests/fetch/api/cors/cors-filtering.sub.any.js
Due: eslint

Bug 1917591 [wpt PR 48043] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-inline/initial-letter/initial-letter-sign-function.html.ini
Due: test-manifest

Bug 1917603 [wpt PR 48044] - script: Added missing spec step in `Location::SetHash`, a=testonly
  testing/web-platform/tests/html/browsers/history/the-location-interface/location_hash_set_empty_string.html
  testing/web-platform/tests/html/browsers/history/the-location-interface/location_hashchange_infinite_loop.html
Due: eslint, file-whitespace

Bug 1917531 [wpt PR 48033] - WebNN: rename MLContext methods to tensor., a=testonly
  testing/web-platform/tests/webnn/conformance_tests/buffer.https.any.js
  testing/web-platform/tests/webnn/conformance_tests/byob_readbuffer.https.any.js
  testing/web-platform/tests/webnn/conformance_tests/parallel-dispatch.https.any.js
  testing/web-platform/tests/webnn/validation_tests/destroyContext.https.any.js
  testing/web-platform/tests/webnn/validation_tests/destroyGraph.https.any.js
Due: eslint

Bug 1917226 [wpt PR 48012] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-color/parsing/color-computed-relative-color.html.ini
Due: test-manifest

Bug 1917226 [wpt PR 48012] - Resolve relative colors based on currentcolor, a=testonly
  testing/web-platform/tests/css/css-color/parsing/color-computed-relative-color.html
Due: eslint, file-whitespace

Bug 1917724 [wpt PR 48064] - Add PopoverAnchorRelationships flag and basic imperative API, a=testonly
  testing/web-platform/tests/html/semantics/popovers/imperative-invokers.tentative.html
Due: eslint, file-whitespace

Bug 1917724 [wpt PR 48064] - Update wpt metadata, a=testonly
  testing/web-platform/meta/html/semantics/popovers/imperative-invokers.tentative.html.ini
Due: test-manifest

Bug 1917642 [wpt PR 48052] - Fix reordering of table-header-group and table-footer-group, a=testonly
  testing/web-platform/tests/css/CSS2/tables/table-footer-group-001.xht
  testing/web-platform/tests/css/CSS2/tables/table-header-group-001.xht
  testing/web-platform/tests/css/CSS2/tables/table-row-group-001-ref.xht
  testing/web-platform/tests/css/CSS2/tables/table-row-group-001.xht
Due: none

Bug 1917392 [wpt PR 48030] - [wptrunner] Stop the runner process before the browser, a=testonly
  testing/web-platform/tests/tools/wptrunner/wptrunner/executors/executorwebdriver.py
  testing/web-platform/tests/tools/wptrunner/wptrunner/testrunner.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1917533 [wpt PR 48034] - [layout] Implement new anchor-center behaviour., a=testonly
  testing/web-platform/tests/css/css-align/abspos/align-self-default-overflow-htb-ltr-htb.html
  testing/web-platform/tests/css/css-align/abspos/align-self-default-overflow-htb-ltr-vrl.html
  testing/web-platform/tests/css/css-align/abspos/align-self-default-overflow-htb-rtl-htb.html
  testing/web-platform/tests/css/css-align/abspos/align-self-default-overflow-htb-rtl-vrl.html
  testing/web-platform/tests/css/css-align/abspos/align-self-default-overflow-vrl-ltr-htb.html
  testing/web-platform/tests/css/css-align/abspos/align-self-default-overflow-vrl-ltr-vrl.html
  testing/web-platform/tests/css/css-align/abspos/align-self-default-overflow-vrl-rtl-htb.html
  testing/web-platform/tests/css/css-align/abspos/align-self-default-overflow-vrl-rtl-vrl.html
  testing/web-platform/tests/css/css-align/abspos/justify-self-default-overflow-htb-ltr-htb.html
  testing/web-platform/tests/css/css-align/abspos/justify-self-default-overflow-htb-ltr-vrl.html
  testing/web-platform/tests/css/css-align/abspos/justify-self-default-overflow-htb-rtl-htb.html
  testing/web-platform/tests/css/css-align/abspos/justify-self-default-overflow-htb-rtl-vrl.html
  testing/web-platform/tests/css/css-align/abspos/justify-self-default-overflow-vrl-ltr-htb.html
  testing/web-platform/tests/css/css-align/abspos/justify-self-default-overflow-vrl-ltr-vrl.html
  testing/web-platform/tests/css/css-align/abspos/justify-self-default-overflow-vrl-rtl-htb.html
  testing/web-platform/tests/css/css-align/abspos/justify-self-default-overflow-vrl-rtl-vrl.html
  testing/web-platform/tests/css/css-anchor-position/anchor-center-htb-htb.html
  testing/web-platform/tests/css/css-anchor-position/anchor-center-htb-vrl.html
  testing/web-platform/tests/css/css-anchor-position/anchor-center-vrl-htb.html
  testing/web-platform/tests/css/css-anchor-position/anchor-center-vrl-vrl.html
  testing/web-platform/tests/css/css-anchor-position/auto-margins-position-area.html
Due: eslint, file-whitespace

Bug 1917533 [wpt PR 48034] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-align/abspos/align-self-default-overflow-htb-ltr-htb.html.ini
  testing/web-platform/meta/css/css-align/abspos/align-self-default-overflow-htb-ltr-vrl.html.ini
  testing/web-platform/meta/css/css-align/abspos/align-self-default-overflow-htb-rtl-htb.html.ini
  testing/web-platform/meta/css/css-align/abspos/align-self-default-overflow-htb-rtl-vrl.html.ini
  testing/web-platform/meta/css/css-align/abspos/align-self-default-overflow-vrl-ltr-htb.html.ini
  testing/web-platform/meta/css/css-align/abspos/align-self-default-overflow-vrl-ltr-vrl.html.ini
  testing/web-platform/meta/css/css-align/abspos/align-self-default-overflow-vrl-rtl-htb.html.ini
  testing/web-platform/meta/css/css-align/abspos/align-self-default-overflow-vrl-rtl-vrl.html.ini
  testing/web-platform/meta/css/css-align/abspos/justify-self-default-overflow-htb-ltr-htb.html.ini
  testing/web-platform/meta/css/css-align/abspos/justify-self-default-overflow-htb-ltr-vrl.html.ini
  testing/web-platform/meta/css/css-align/abspos/justify-self-default-overflow-htb-rtl-htb.html.ini
  testing/web-platform/meta/css/css-align/abspos/justify-self-default-overflow-htb-rtl-vrl.html.ini
  testing/web-platform/meta/css/css-align/abspos/justify-self-default-overflow-vrl-ltr-htb.html.ini
  testing/web-platform/meta/css/css-align/abspos/justify-self-default-overflow-vrl-ltr-vrl.html.ini
  testing/web-platform/meta/css/css-align/abspos/justify-self-default-overflow-vrl-rtl-htb.html.ini
  testing/web-platform/meta/css/css-align/abspos/justify-self-default-overflow-vrl-rtl-vrl.html.ini
  testing/web-platform/meta/css/css-anchor-position/anchor-center-htb-htb.html.ini
  testing/web-platform/meta/css/css-anchor-position/anchor-center-htb-vrl.html.ini
  testing/web-platform/meta/css/css-anchor-position/anchor-center-vrl-htb.html.ini
  testing/web-platform/meta/css/css-anchor-position/anchor-center-vrl-vrl.html.ini
  testing/web-platform/meta/css/css-anchor-position/auto-margins-position-area.html.ini
Due: test-manifest

Bug 1917641 [wpt PR 48051] - [text-box-trim] Fix `<br>` with clearance, a=testonly
  testing/web-platform/tests/css/css-inline/text-box-trim/text-box-trim-float-clear-br-003-ref.html
  testing/web-platform/tests/css/css-inline/text-box-trim/text-box-trim-float-clear-br-003.html
Due: eslint, file-whitespace

Bug 1917743 [wpt PR 48069] - Added more innerText tests for inline-flex / inline-grid handling, a=testonly
  testing/web-platform/tests/html/dom/elements/the-innertext-and-outertext-properties/getter-tests.js
Due: eslint

Bug 1917728 [wpt PR 48065] - WebNN: rename vars/params to tensor, a=testonly
  testing/web-platform/tests/webnn/conformance_tests/byob_readtensor.https.any.js
  testing/web-platform/tests/webnn/conformance_tests/parallel-dispatch.https.any.js
  testing/web-platform/tests/webnn/conformance_tests/tensor.https.any.js
  testing/web-platform/tests/webnn/validation_tests/destroyContext.https.any.js
  testing/web-platform/tests/webnn/validation_tests/destroyGraph.https.any.js
Due: eslint

Bug 1917678 [wpt PR 48058] - Fix aria-labelledby typo, a=testonly
  testing/web-platform/tests/shadow-dom/reference-target/tentative/property-reflection.html
Due: eslint, file-whitespace

Bug 1916627 [wpt PR 47958] - [WebDriver BiDi] initial navigation `browsingContext.navigationStarted` tentative, a=testonly
  testing/web-platform/tests/webdriver/tests/bidi/browsing_context/navigation_started/navigation_started.py
  testing/web-platform/tests/webdriver/tests/bidi/browsing_context/navigation_started/navigation_started_initial_navigation_tentative.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1917567 [wpt PR 48040] - Allow breaking line after space with `white-space: break-spaces`, a=testonly
  testing/web-platform/tests/css/css-text/white-space/break-spaces-with-word-break-001.html
Due: eslint, file-whitespace

Bug 1917611 [wpt PR 48047] - Use length resolver to convert font-style, a=testonly
  testing/web-platform/tests/css/css-fonts/font-style-sign-function.html
Due: eslint, file-whitespace

Bug 1917611 [wpt PR 48047] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-fonts/font-style-sign-function.html.ini
Due: test-manifest

Bug 1917609 [wpt PR 48046] - Use length resolver to convert aspect-ratio, a=testonly
  testing/web-platform/tests/css/css-sizing/aspect-ratio/sign-function-aspect-ratio.html
Due: eslint, file-whitespace

Bug 1917609 [wpt PR 48046] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-sizing/aspect-ratio/sign-function-aspect-ratio.html.ini
Due: test-manifest

Bug 1917621 [wpt PR 48049] - Move cairo image generation out of the Canvas WTP generator main loop, a=testonly
  testing/web-platform/tests/html/canvas/tools/gentestutilsunion.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1917875 [wpt PR 48076] - Fix errant CHECK in popover=hint code, a=testonly
  testing/web-platform/tests/html/semantics/popovers/popover-hint-crash.tentative.html
Due: eslint, file-whitespace

Bug 1918051 - [wpt-sync] Update web-platform-tests to 12af81e453e63a176b02ed17468567f4a11583b9, a=testonly
  testing/web-platform/meta/apng/animated-png-timeout.html.ini
  testing/web-platform/meta/cookies/partitioned-cookies/partitioned-cookies-cross-site-subresource-to-same-site-redirect.tentative.https.html.ini
  testing/web-platform/meta/css/CSS2/visufx/clip-001.xht.ini
  testing/web-platform/meta/css/css-view-transitions/unset-and-initial-view-transition-name.html.ini
  testing/web-platform/meta/css/css-view-transitions/view-transition-name-on-removed-element.html.ini
  testing/web-platform/meta/fetch/metadata/generated/element-frame.sub.html.ini
  testing/web-platform/meta/html/semantics/embedded-content/the-img-element/relevant-mutations-lazy.html.ini
  testing/web-platform/meta/idle-detection/idle-detection-allowed-by-permissions-policy.https.sub.html.ini
  testing/web-platform/meta/mozilla-sync
  testing/web-platform/meta/partitioned-popins/partitioned-popins.permission-self.tentative.sub.https.window.js.ini
  testing/web-platform/meta/partitioned-popins/partitioned-popins.recursive.tentative.https.window.js.ini
  testing/web-platform/meta/partitioned-popins/partitioned-popins.request-header.tentative.https.window.js.ini
  testing/web-platform/meta/webdriver/tests/bidi/network/continue_response/cookies.py.ini
  testing/web-platform/meta/webdriver/tests/bidi/storage/set_cookie/cookie_same_site.py.ini
  testing/web-platform/meta/webdriver/tests/classic/find_elements_from_shadow_root/user_prompts.py.ini
  testing/web-platform/meta/webdriver/tests/classic/new_session/create_firstMatch.py.ini
  testing/web-platform/meta/webnn/conformance_tests/buffer.https.any.js.ini
  testing/web-platform/meta/webrtc-encoded-transform/RTCRtpScriptTransform-encoded-transform.https.html.ini
Due: test-manifest

Bug 1918051 - update wpt test file @ view-transition-name-on-removed-element.html.ini r=jgraham CLOSED TREE
  testing/web-platform/meta/css/css-view-transitions/view-transition-name-on-removed-element.html.ini
Due: test-manifest

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  browser/locales/l10n-changesets.json
Due: eslint

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  mobile/locales/l10n-changesets.json
Due: eslint

Bug 1918896 - Fix typo in test meta
  testing/web-platform/meta/notifications/cross-origin-nested.tentative.https.sub.html.ini
Due: test-manifest

Bug 1908245 - Add support for missing requestVideoFrameCallback parameters. r=media-playback-reviewers,webidl,padenot,saschanaz
  dom/html/HTMLVideoElement.cpp
  dom/html/moz.build
  dom/media/ExternalEngineStateMachine.cpp
  dom/media/MediaStreamTrack.h
  dom/media/MediaTrackGraph.cpp
  dom/media/MediaTrackListener.cpp
  dom/media/VideoFrameContainer.cpp
  dom/media/VideoFrameContainer.h
  dom/media/VideoOutput.h
  dom/media/VideoSegment.cpp
  dom/media/VideoSegment.h
  dom/media/mediasink/DecodedStream.cpp
  dom/media/mediasink/VideoSink.cpp
  dom/media/systemservices/PCameras.ipdl
  dom/media/systemservices/VideoFrameUtils.cpp
  dom/media/webrtc/MediaEngineRemoteVideoSource.cpp
  dom/media/webrtc/jsapi/RTCRtpReceiver.cpp
  dom/media/webrtc/jsapi/RTCRtpReceiver.h
  dom/media/webrtc/jsapi/RemoteTrackSource.cpp
  dom/media/webrtc/jsapi/RemoteTrackSource.h
  dom/media/webrtc/libwebrtcglue/MediaConduitInterface.h
  dom/media/webrtc/libwebrtcglue/VideoConduit.cpp
  dom/media/webrtc/transportbridge/MediaPipeline.cpp
  dom/webidl/HTMLVideoElement.webidl
  gfx/layers/ImageContainer.cpp
  gfx/layers/ImageContainer.h
  gfx/layers/ImageTypes.h
  testing/web-platform/meta/video-rvfc/request-video-frame-callback-webrtc.https.html.ini
Due: py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Bug 1917458 - Factor out remote effects update. r=mstange
  dom/base/DOMIntersectionObserver.cpp
  dom/base/Document.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1917458 - Update remote effects on top descendants. r=mstange
  dom/base/Document.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1917458 - Only send resizes for remote browsers once per frame. r=mstange,extension-reviewers,tabbrowser-reviewers,dao,robwu
  browser/components/tabbrowser/test/browser/tabs/browser_new_tab_bookmarks_toolbar_height.js
  dom/base/Document.cpp
  dom/base/nsFrameLoader.cpp
  dom/base/nsFrameLoader.h
  layout/generic/nsSubDocumentFrame.cpp
  toolkit/components/windowwatcher/nsWindowWatcher.cpp
  toolkit/mozapps/extensions/test/browser/browser_html_options_ui.js
  xpfe/appshell/AppWindow.cpp
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1916141 - Make `AutoPointerEventTargetUpdater` guarantee that the target is an element if the event target should be so r=smaug
  layout/base/PresShell.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1769586 - P1: Implement ARIA element reflection in Element and ElementInternals. r=peterv
  dom/base/Element.cpp
  dom/base/Element.h
  dom/base/FragmentOrElement.cpp
  dom/base/FragmentOrElement.h
  dom/html/ElementInternals.cpp
  dom/html/ElementInternals.h
  dom/webidl/ARIAMixin.webidl
  testing/web-platform/meta/custom-elements/ElementInternals-accessibility.html.ini
  testing/web-platform/meta/custom-elements/element-internals-aria-element-reflection.html.ini
  testing/web-platform/meta/html/dom/aria-element-reflection-disconnected.html.ini
  testing/web-platform/meta/html/dom/aria-element-reflection.html.ini
  testing/web-platform/meta/wai-aria/idlharness.window.js.ini
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Bug 1769586 - P3: Rename IDRefsIterator AssociatedElementsIterator. r=Jamie
  accessible/base/AccIterator.cpp
  accessible/base/AccIterator.h
  accessible/base/CachedTableAccessible.cpp
  accessible/base/nsTextEquivUtils.cpp
  accessible/generic/DocAccessible.cpp
  accessible/generic/ImageAccessible.cpp
  accessible/generic/LocalAccessible.cpp
  accessible/html/HTMLElementAccessibles.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1769586 - P2: Implement a11y support of ARIA element reflection. r=Jamie
  accessible/base/ARIAMap.cpp
  accessible/base/ARIAMap.h
  accessible/base/AccIterator.cpp
  accessible/base/AccIterator.h
  accessible/base/nsAccUtils.cpp
  accessible/base/nsAccUtils.h
  accessible/generic/DocAccessible.cpp
  accessible/generic/LocalAccessible.cpp
  accessible/tests/browser/e10s/browser_caching_relations_002.js
  accessible/tests/browser/e10s/browser_treeupdate_ariaowns.js
  accessible/tests/browser/e10s/head.js
  dom/base/Element.cpp
  dom/base/Element.h
  dom/html/ElementInternals.cpp
  dom/html/ElementInternals.h
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml
