Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

eslint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

stylelint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

py-black:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

py-ruff:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

yaml:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

shellcheck:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

clang-format:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

rustfmt:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

fluent-lint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

Bug 1946123 - Randomly distribute small stacks when donating parallel marking work r=sfink
  js/src/gc/GCMarker.h
  js/src/gc/Marking.cpp
  js/src/gc/ParallelMarking.cpp
  js/src/jit-test/tests/debug/Object-createSource-forceEnableAsmJS.js
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1942375 - Keep tab group manager UI in sync with browser state. r=dao,tabbrowser-reviewers
  browser/components/tabbrowser/GroupsList.sys.mjs
  browser/components/tabbrowser/content/tabgroup.js
  browser/components/tabbrowser/test/browser/tabs/browser_tab_manager_groups.js
Due: eslint

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump
  browser/locales/l10n-changesets.json
Due: eslint

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump
  mobile/locales/l10n-changesets.json
Due: eslint

Bug 1946647 - Fix icons in Panic button for history and new window, r=emilio,desktop-theme-reviewers
  browser/themes/shared/customizableui/panelUI-shared.css
Due: stylelint, file-whitespace

Bug 1946172 - Refactor fragments that use compose to call setContent in onViewCreated. r=android-reviewers,jonalmeida
  mobile/android/focus-android/app/src/main/java/org/mozilla/focus/biometrics/BiometricAuthenticationFragment.kt
  mobile/android/focus-android/app/src/main/java/org/mozilla/focus/fragment/UrlInputFragment.kt
  mobile/android/focus-android/app/src/main/java/org/mozilla/focus/fragment/about/AboutFragment.kt
  mobile/android/focus-android/app/src/main/java/org/mozilla/focus/fragment/onboarding/OnboardingFirstFragment.kt
  mobile/android/focus-android/app/src/main/java/org/mozilla/focus/fragment/onboarding/OnboardingSecondFragment.kt
  mobile/android/focus-android/app/src/main/java/org/mozilla/focus/locale/screen/LocaleFragmentCompose.kt
  mobile/android/focus-android/app/src/main/java/org/mozilla/focus/settings/BaseComposeFragment.kt
Due: none

Backed out changeset eef63d507b52 (bug 1942375) for causing mochitest with vertical tabs enabled perma failures. CLOSED TREE
  browser/components/tabbrowser/GroupsList.sys.mjs
  browser/components/tabbrowser/content/tabgroup.js
  browser/components/tabbrowser/test/browser/tabs/browser_tab_manager_groups.js
Due: eslint

Bug 1945641 - patch 2 - Support the font-synthesis-style:oblique-only value in font selection & rendering. r=layout-reviewers,emilio
  gfx/src/nsFontMetrics.cpp
  gfx/thebes/SharedFontList.cpp
  gfx/thebes/gfxFcPlatformFontList.cpp
  gfx/thebes/gfxFont.cpp
  gfx/thebes/gfxFont.h
  gfx/thebes/gfxFontEntry.cpp
  gfx/thebes/gfxFontUtils.h
  testing/web-platform/tests/css/css-fonts/font-synthesis-style-oblique-only-ref.html
  testing/web-platform/tests/css/css-fonts/font-synthesis-style-oblique-only.html
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1945641 - patch 1 - Add an oblique-only value to the font-synthesis-style property. r=firefox-style-system-reviewers,emilio
  gfx/src/nsFont.h
  gfx/src/nsFontMetrics.cpp
  layout/style/ServoBindings.toml
  layout/style/test/property_database.js
  servo/components/style/properties/data.py
  servo/components/style/properties/longhands/font.mako.rs
  servo/components/style/properties/shorthands/font.mako.rs
  servo/components/style/style_adjuster.rs
  servo/components/style/values/computed/font.rs
  servo/components/style/values/computed/mod.rs
  servo/components/style/values/specified/font.rs
  servo/components/style/values/specified/mod.rs
  servo/ports/geckolib/cbindgen.toml
  testing/web-platform/tests/css/css-fonts/parsing/font-synthesis-computed.html
  testing/web-platform/tests/css/css-fonts/parsing/font-synthesis-invalid.html
  testing/web-platform/tests/css/css-fonts/parsing/font-synthesis-style-invalid.html
  testing/web-platform/tests/css/css-fonts/parsing/font-synthesis-style-valid.html
  testing/web-platform/tests/css/css-fonts/parsing/font-synthesis-valid.html
Due: eslint, py-black, py-ruff, clang-format, rustfmt, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1943789 - Remove sleep so UI doesn't freeze r=stransky
  widget/gtk/nsClipboardWayland.cpp
  widget/gtk/nsDragService.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1945716 - [devtools] Upgrade to the latest Codemirror v5 version r=nchevobbe,devtools-reviewers
  devtools/client/shared/sourceeditor/README
  devtools/client/shared/sourceeditor/codemirror/addon/comment/comment.js
  devtools/client/shared/sourceeditor/codemirror/addon/comment/continuecomment.js
  devtools/client/shared/sourceeditor/codemirror/addon/dialog/dialog.js
  devtools/client/shared/sourceeditor/codemirror/addon/display/placeholder.js
  devtools/client/shared/sourceeditor/codemirror/addon/edit/closebrackets.js
  devtools/client/shared/sourceeditor/codemirror/addon/edit/closetag.js
  devtools/client/shared/sourceeditor/codemirror/addon/edit/continuelist.js
  devtools/client/shared/sourceeditor/codemirror/addon/edit/matchbrackets.js
  devtools/client/shared/sourceeditor/codemirror/addon/edit/matchtags.js
  devtools/client/shared/sourceeditor/codemirror/addon/edit/trailingspace.js
  devtools/client/shared/sourceeditor/codemirror/addon/fold/brace-fold.js
  devtools/client/shared/sourceeditor/codemirror/addon/fold/comment-fold.js
  devtools/client/shared/sourceeditor/codemirror/addon/fold/foldcode.js
  devtools/client/shared/sourceeditor/codemirror/addon/fold/foldgutter.js
  devtools/client/shared/sourceeditor/codemirror/addon/fold/indent-fold.js
  devtools/client/shared/sourceeditor/codemirror/addon/fold/markdown-fold.js
  devtools/client/shared/sourceeditor/codemirror/addon/fold/xml-fold.js
  devtools/client/shared/sourceeditor/codemirror/addon/runmode/runmode.js
  devtools/client/shared/sourceeditor/codemirror/addon/scroll/annotatescrollbar.js
  devtools/client/shared/sourceeditor/codemirror/addon/search/match-highlighter.js
  devtools/client/shared/sourceeditor/codemirror/addon/search/matchesonscrollbar.js
  devtools/client/shared/sourceeditor/codemirror/addon/search/search.js
  devtools/client/shared/sourceeditor/codemirror/addon/search/searchcursor.js
  devtools/client/shared/sourceeditor/codemirror/addon/selection/active-line.js
  devtools/client/shared/sourceeditor/codemirror/addon/selection/mark-selection.js
  devtools/client/shared/sourceeditor/codemirror/codemirror.bundle.js
  devtools/client/shared/sourceeditor/codemirror/lib/codemirror.css
  devtools/client/shared/sourceeditor/codemirror/lib/codemirror.js
Due: eslint, stylelint, file-whitespace

Bug 1945716 - [devtools] Add test to assert that emoji characters are deleted correctly in the console r=devtools-reviewers,jdescottes
  devtools/client/webconsole/test/browser/_jsterm.toml
  devtools/client/webconsole/test/browser/browser_jsterm_editor_special_characters.js
Due: eslint

Bug 1944663 - Only use a hashing algorithm to generate metric ids for local builds, r=chutten,sergesanspaille.
  toolkit/components/glean/build_scripts/glean_parser_ext/cpp.py
  toolkit/components/glean/build_scripts/glean_parser_ext/js.py
  toolkit/components/glean/build_scripts/glean_parser_ext/run_glean_parser.py
  toolkit/components/glean/build_scripts/glean_parser_ext/rust.py
  toolkit/components/glean/build_scripts/glean_parser_ext/util.py
  toolkit/components/glean/moz.build
  toolkit/components/glean/tests/pytest/gifft_output_Event
  toolkit/components/glean/tests/pytest/gifft_output_Histogram
  toolkit/components/glean/tests/pytest/gifft_output_Scalar
  toolkit/components/glean/tests/pytest/metrics_test_output
  toolkit/components/glean/tests/pytest/metrics_test_output_cpp
  toolkit/components/glean/tests/pytest/metrics_test_output_js_cpp
  toolkit/components/glean/tests/pytest/test_gifft.py
  toolkit/components/glean/tests/pytest/test_glean_parser_cpp.py
  toolkit/components/glean/tests/pytest/test_glean_parser_js.py
  toolkit/components/glean/tests/pytest/test_glean_parser_rust.py
  toolkit/components/glean/tests/pytest/test_no_expired_metrics.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1944663 - Only use a hashing algorithm to generate metric ids for local builds, r=chutten,sergesanspaille, a=dmeehan
  toolkit/components/glean/build_scripts/glean_parser_ext/cpp.py
  toolkit/components/glean/build_scripts/glean_parser_ext/js.py
  toolkit/components/glean/build_scripts/glean_parser_ext/run_glean_parser.py
  toolkit/components/glean/build_scripts/glean_parser_ext/rust.py
  toolkit/components/glean/build_scripts/glean_parser_ext/util.py
  toolkit/components/glean/moz.build
  toolkit/components/glean/tests/pytest/gifft_output_Event
  toolkit/components/glean/tests/pytest/gifft_output_Histogram
  toolkit/components/glean/tests/pytest/gifft_output_Scalar
  toolkit/components/glean/tests/pytest/metrics_test_output
  toolkit/components/glean/tests/pytest/metrics_test_output_cpp
  toolkit/components/glean/tests/pytest/metrics_test_output_js_cpp
  toolkit/components/glean/tests/pytest/test_gifft.py
  toolkit/components/glean/tests/pytest/test_glean_parser_cpp.py
  toolkit/components/glean/tests/pytest/test_glean_parser_js.py
  toolkit/components/glean/tests/pytest/test_glean_parser_rust.py
  toolkit/components/glean/tests/pytest/test_no_expired_metrics.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1940273 - Enforce a baseline default-src policy for chrome: pages. r=freddyb
  dom/security/nsContentSecurityUtils.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1940273 - Assert that all loaded chrome: documents have some CSP. r=freddyb
  dom/base/Document.cpp
  dom/security/nsContentSecurityUtils.cpp
  dom/security/nsContentSecurityUtils.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1940273: apply code formatting via Lando
  dom/security/nsContentSecurityUtils.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1946653 - Move competitiveness.svg icon to toolkit so that it can be used elsewhere. r=desktop-theme-reviewers,dao
  browser/components/shopping/content/highlight-item.css
  toolkit/themes/shared/desktop-jar.inc.mn
  toolkit/themes/shared/icons/trophy.svg
Due: stylelint, file-whitespace

Bug 1930656 - Replace the Recommendations icon in about:addons with a new version. r=rpl,desktop-theme-reviewers,dao
  toolkit/content/tests/widgets/browser_moz_page_nav_responsive.js
  toolkit/content/tests/widgets/test_moz_page_nav.html
  toolkit/mozapps/extensions/content/aboutaddons.css
  toolkit/themes/shared/extensions/category-discover.svg
  toolkit/themes/shared/mozapps.inc.mn
Due: eslint, stylelint, file-whitespace

Bug 1945769 - Replace the "line extension" icon in about:addons list with a new version. r=zombie,desktop-theme-reviewers,dao
  toolkit/mozapps/extensions/content/aboutaddons.css
  toolkit/themes/shared/extensions/line.svg
Due: stylelint, file-whitespace

Bug 1930658 - Replace the "recommended extension" icon in about:addons list with a new version. r=robwu,desktop-theme-reviewers,dao
  toolkit/mozapps/extensions/content/aboutaddons.css
  toolkit/themes/shared/extensions/recommended.svg
  toolkit/themes/shared/mozapps.inc.mn
Due: stylelint, file-whitespace

Backed out 2 changesets (bug 1945716) for causing dt failures @ `browser_codemirror.js` CLOSED TREE
  devtools/client/shared/sourceeditor/README
  devtools/client/shared/sourceeditor/codemirror/addon/comment/comment.js
  devtools/client/shared/sourceeditor/codemirror/addon/comment/continuecomment.js
  devtools/client/shared/sourceeditor/codemirror/addon/dialog/dialog.js
  devtools/client/shared/sourceeditor/codemirror/addon/display/placeholder.js
  devtools/client/shared/sourceeditor/codemirror/addon/edit/closebrackets.js
  devtools/client/shared/sourceeditor/codemirror/addon/edit/closetag.js
  devtools/client/shared/sourceeditor/codemirror/addon/edit/continuelist.js
  devtools/client/shared/sourceeditor/codemirror/addon/edit/matchbrackets.js
  devtools/client/shared/sourceeditor/codemirror/addon/edit/matchtags.js
  devtools/client/shared/sourceeditor/codemirror/addon/edit/trailingspace.js
  devtools/client/shared/sourceeditor/codemirror/addon/fold/brace-fold.js
  devtools/client/shared/sourceeditor/codemirror/addon/fold/comment-fold.js
  devtools/client/shared/sourceeditor/codemirror/addon/fold/foldcode.js
  devtools/client/shared/sourceeditor/codemirror/addon/fold/foldgutter.js
  devtools/client/shared/sourceeditor/codemirror/addon/fold/indent-fold.js
  devtools/client/shared/sourceeditor/codemirror/addon/fold/markdown-fold.js
  devtools/client/shared/sourceeditor/codemirror/addon/fold/xml-fold.js
  devtools/client/shared/sourceeditor/codemirror/addon/runmode/runmode.js
  devtools/client/shared/sourceeditor/codemirror/addon/scroll/annotatescrollbar.js
  devtools/client/shared/sourceeditor/codemirror/addon/search/match-highlighter.js
  devtools/client/shared/sourceeditor/codemirror/addon/search/matchesonscrollbar.js
  devtools/client/shared/sourceeditor/codemirror/addon/search/search.js
  devtools/client/shared/sourceeditor/codemirror/addon/search/searchcursor.js
  devtools/client/shared/sourceeditor/codemirror/addon/selection/active-line.js
  devtools/client/shared/sourceeditor/codemirror/addon/selection/mark-selection.js
  devtools/client/shared/sourceeditor/codemirror/codemirror.bundle.js
  devtools/client/shared/sourceeditor/codemirror/lib/codemirror.css
  devtools/client/shared/sourceeditor/codemirror/lib/codemirror.js
  devtools/client/webconsole/test/browser/_jsterm.toml
  devtools/client/webconsole/test/browser/browser_jsterm_editor_special_characters.js
Due: eslint, stylelint, file-whitespace

Bug 1942784 - Add <input type=file multiple> test as geckoview-junit. r=geckoview-reviewers,ohall
  mobile/android/geckoview/src/androidTest/assets/www/prompts.html
  mobile/android/geckoview/src/androidTest/java/org/mozilla/geckoview/test/PromptDelegateTest.kt
Due: eslint, file-whitespace

Bug 1946501 - Make ScreenCaptureKit a weak framework. r=webrtc-reviewers,pehrsons
  toolkit/library/moz.build
Due: py-black

Bug 1686981 (take 2) - don't optimize out searchfox index jobs if any downstream task is close to expiring r=taskgraph-reviewers,bhearsum
  taskcluster/gecko_taskgraph/target_tasks.py
Due: py-black, py-ruff, file-whitespace, trojan-source

No bug - Tagging dcf6b9a7907e8a24ead56ea1f418a972c86f62e1 with FIREFOX-ANDROID_136_0b3_BUILD1 a=release CLOSED TREE DONTBUILD
  .hgtags
Due: none

Bug 1946105, r=hjones,reusable-components-reviewers
  toolkit/content/widgets/notificationbox.js
Due: eslint

Bug 1946105, r=hjones,reusable-components-reviewers, a=dmeehan
  toolkit/content/widgets/notificationbox.js
Due: eslint

No bug - Tagging dcf6b9a7907e8a24ead56ea1f418a972c86f62e1 with DEVEDITION_136_0b3_BUILD1 a=release CLOSED TREE DONTBUILD
  .hgtags
Due: none

No bug - Tagging dcf6b9a7907e8a24ead56ea1f418a972c86f62e1 with FIREFOX_136_0b3_BUILD1 a=release CLOSED TREE DONTBUILD
  .hgtags
Due: none

Bug 1946692 - Improve "Go to homescreen" button selector r=ajoltan
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/BrowserRobot.kt
Due: none

No bug - Tagging dcf6b9a7907e8a24ead56ea1f418a972c86f62e1 with FIREFOX-ANDROID_136_0b3_RELEASE a=release CLOSED TREE DONTBUILD
  .hgtags
Due: none

Automatic version bump CLOSED TREE NO BUG a=release DONTBUILD
  browser/config/version_display.txt
  mobile/android/version.txt
Due: none

Bug 1946298 - Use the original anchor/popup alignment for move-to-rect. r=stransky
  layout/xul/nsMenuPopupFrame.cpp
  layout/xul/nsMenuPopupFrame.h
  widget/gtk/nsWindow.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1946638 - Update android nightly application-services version bump to abde7a60b9250a17d45a6aa6aa0870b067777f77 r=release-managers,pascalc
  mobile/android/android-components/plugins/dependencies/src/main/java/ApplicationServices.kt
  mobile/android/android-components/plugins/dependencies/src/main/java/moz.yaml
Due: yaml

Bug 1946705 - Strip query and ref from chrome: and resource: URLs when sanitizing with FilenameToFilenameType. r=tjr, a=dmeehan
  dom/security/nsContentSecurityUtils.cpp
  dom/security/test/gtest/TestFilenameEvalParser.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1946705 - Strip query and ref from chrome: and resource: URLs when sanitizing with FilenameToFilenameType. r=tjr
  dom/security/nsContentSecurityUtils.cpp
  dom/security/test/gtest/TestFilenameEvalParser.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1944916 - Ensure pipelint script doesn't add an extra newline, r=linter-reviewers,sylvestre
  tools/lint/pipelint
Due: test-manifest

Bug 1946211: Fix ng's bugzilla email r=ng
  media/libyuv/moz.yaml
  third_party/drm/moz.yaml
  third_party/gbm/moz.yaml
  third_party/libepoxy/moz.yaml
Due: yaml

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, **/*.java, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml
