Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

eslint:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py eslint

stylelint:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py stylelint

py-black:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py black

py-ruff:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py ruff

yaml:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py yaml

shellcheck:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py shellcheck

clang-format:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  ...

rustfmt:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py rustfmt

fluent-lint:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py fluent-lint

localization:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py l10n

Bug 1911021 - Use ms since process start as time in ExecutionTracer r=arai
  js/src/debugger/ExecutionTracer.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1911021 - Add MOZ_EXECUTION_TRACER compile flag r=arai
  js/moz.configure
Due: py-black, py-ruff

Bug 1911021 - Provide native, threadsafe endpoints to execution tracing r=arai
  js/public/Debug.h
  js/src/debugger/Debugger.cpp
  js/src/debugger/ExecutionTracer.cpp
  js/src/debugger/ExecutionTracer.h
  js/src/debugger/moz.build
  js/src/vm/Caches.h
  js/src/vm/JSContext.cpp
  js/src/vm/JSContext.h
  js/src/vm/MutexIDs.h
  js/src/vm/Realm.cpp
  js/src/vm/Realm.h
Due: py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1911021 - Remove Devtools-facing tracing API and uses r=arai
  devtools/server/actors/tracer.js
  devtools/server/tracer/tracer.sys.mjs
  js/public/friend/ErrorNumbers.msg
  js/src/debugger/Debugger.cpp
  js/src/debugger/Debugger.h
  js/src/debugger/ExecutionTracer.cpp
  js/src/debugger/ExecutionTracer.h
  js/src/doc/Debugger/Debugger.md
  js/src/jit-test/tests/debug/ExecutionTracer-collectNativeTrace.js
  js/src/jit-test/tests/debug/ExecutionTracer-discard-trace.js
  js/src/jit-test/tests/debug/ExecutionTracer-oomTest.js
  js/src/jit-test/tests/debug/ExecutionTracer-properties-exist.js
  js/src/jit-test/tests/debug/ExecutionTracer-utf8.js
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1911021 - exclude self-hosted builtins from tracing r=arai
  js/src/debugger/ExecutionTracer.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1911021 - Add an API tp CycleCollectedJSContext to enable/disable tracing r=smaug
  xpcom/base/CycleCollectedJSContext.cpp
  xpcom/base/CycleCollectedJSContext.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1911021 - Add JS Execution Tracing option to the profiler r=aabh,profiler-reviewers
  devtools/client/performance-new/shared/utils.js
  dom/debugger/CallbackDebuggerNotification.h
  dom/debugger/EventCallbackDebuggerNotification.cpp
  dom/debugger/EventCallbackDebuggerNotification.h
  dom/events/EventListenerManager.cpp
  dom/workers/RuntimeService.cpp
  js/xpconnect/src/XPCJSContext.cpp
  tools/profiler/core/ProfileBuffer.h
  tools/profiler/core/ProfileBufferEntry.cpp
  tools/profiler/core/ProfilerThreadRegistrationData.cpp
  tools/profiler/core/platform.cpp
  tools/profiler/public/GeckoProfiler.h
  tools/profiler/public/ProfilerState.h
  tools/profiler/public/ProfilerThreadRegistrationData.h
  tools/profiler/tests/gtest/GeckoProfiler.cpp
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1911021 - Cover JavaScript tracing via the profiler with a mochitest. r=profiler-reviewers,aabh
  tools/profiler/tests/browser/browser.toml
  tools/profiler/tests/browser/browser_test_feature_jstracing.js
  tools/profiler/tests/browser/tracing.html
Due: eslint, file-whitespace

Bug 1922746 - Only enable supported actions in macos media center r=alwu
  dom/media/mediacontrol/tests/gtest/TestMediaKeysEventMediaCenter.mm
  widget/cocoa/MediaHardwareKeysEventSourceMacMediaCenter.h
  widget/cocoa/MediaHardwareKeysEventSourceMacMediaCenter.mm
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1771028 - Show artwork in macos media center r=alwu
  widget/cocoa/MediaHardwareKeysEventSourceMacMediaCenter.h
  widget/cocoa/MediaHardwareKeysEventSourceMacMediaCenter.mm
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1923774 - handle the case for removing media key. r=media-playback-reviewers,chunmin
  dom/html/HTMLMediaElement.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1923774 - handle the case for removing media key. r=media-playback-reviewers,chunmin a=RyanVM
  dom/html/HTMLMediaElement.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Backed out 2 changesets (bug 1920733) for causing windows reftests failures in select-4-ref.html. CLOSED TREE
  layout/reftests/bidi/reftest.list
  layout/reftests/forms/input/text/reftest.list
  modules/libpref/init/all.js
  testing/web-platform/meta/css/css-text-decor/text-emphasis-style-007.html.ini
  testing/web-platform/meta/css/css-text-decor/text-emphasis-style-012.html.ini
  testing/web-platform/meta/css/css-text-decor/text-emphasis-style-021.html.ini
  testing/web-platform/meta/css/css-transforms/transform-input-001.html.ini
  testing/web-platform/meta/css/css-transforms/transform-input-002.html.ini
  testing/web-platform/meta/css/css-transforms/transform-input-003.html.ini
  testing/web-platform/meta/css/css-transforms/transform-input-004.html.ini
  testing/web-platform/meta/css/css-transforms/transform-input-005.html.ini
  testing/web-platform/meta/css/css-transforms/transform-input-006.html.ini
  testing/web-platform/meta/css/css-transforms/transform-input-007.html.ini
  testing/web-platform/meta/css/css-transforms/transform-input-008.html.ini
  testing/web-platform/meta/css/css-transforms/transform-input-010.html.ini
  testing/web-platform/meta/css/css-transforms/transform-input-012.html.ini
  testing/web-platform/meta/css/css-transforms/transform-input-014.html.ini
  testing/web-platform/meta/css/css-transforms/transform-input-019.html.ini
  testing/web-platform/meta/css/css-ui/text-overflow-028.html.ini
  testing/web-platform/meta/css/selectors/first-line-bidi-001.html.ini
  testing/web-platform/meta/css/selectors/first-line-bidi-002.html.ini
  testing/web-platform/meta/html/rendering/widgets/textarea-cols-rows.html.ini
  testing/web-platform/meta/html/semantics/forms/the-option-element/dynamic-content-change-rendering.html.ini
  testing/web-platform/meta/mathml/relations/html5-tree/integration-point-3.html.ini
  testing/web-platform/mozilla/tests/html/rendering/non-replaced-elements/form-controls/input-number-size.html
  testing/web-platform/tests/html/rendering/widgets/textarea-cols-rows.html
  testing/web-platform/tests/input-events/input-events-spin-button-click-on-number-input.html
  widget/tests/test_textScaleFactor_system_font.html
Due: eslint, file-whitespace, test-manifest

Bug 1915462 - Remove A51 from perf testing. r=perftest-reviewers,sparky,taskgraph-reviewers,jmaher
  taskcluster/gecko_taskgraph/target_tasks.py
  taskcluster/gecko_taskgraph/transforms/test/raptor.py
  taskcluster/gecko_taskgraph/transforms/test/worker.py
  taskcluster/gecko_taskgraph/try_option_syntax.py
  taskcluster/kinds/perftest/android.yml
  taskcluster/kinds/test/browsertime-mobile.yml
  taskcluster/kinds/test/test-platforms.yml
  testing/perfdocs/generated/raptor.rst
Due: py-black, py-ruff, yaml, file-whitespace, trojan-source

Bug 1906818 - Introducing a counter to measure how many handshakes are sent (being ready to be sent) for webrtc dtls a=diannaS
  dom/media/webrtc/metrics.yaml
  dom/media/webrtc/transport/transportlayerdtls.cpp
  dom/media/webrtc/transport/transportlayerdtls.h
Due: yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1917652 Part 1: Turn on GPU Process for X11 Nightly. r=aosmond
  modules/libpref/init/StaticPrefList.yaml
Due: yaml

Bug 1917652 Part 2: Explicitly define AddRef and Release in VideoBridgeParent. r=aosmond
  gfx/layers/ipc/VideoBridgeParent.cpp
  gfx/layers/ipc/VideoBridgeParent.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1921237 - Remove the FX_REFRESH_DRIVER_SYNC_SCROLL_FRAME_DELAY_MS telemetry histogram, r=botond.
  layout/base/nsRefreshDriver.cpp
  layout/generic/ScrollContainerFrame.cpp
  toolkit/components/telemetry/Histograms.json
  toolkit/components/telemetry/core/TelemetryHistogram.cpp
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1918637 - disable toolkit/components/extensions/test/mochitest/test_ext_idle.html on Linux debug where it perma fails, r=rpl.
  toolkit/components/extensions/test/mochitest/mochitest-common.toml
Due: none

Bug 1921243 - Remove the nsITelemetry.setHistogramRecordingEnabled API, r=chutten.
  toolkit/components/telemetry/core/Telemetry.cpp
  toolkit/components/telemetry/core/TelemetryHistogram.cpp
  toolkit/components/telemetry/core/TelemetryHistogram.h
  toolkit/components/telemetry/core/nsITelemetry.idl
  toolkit/components/telemetry/tests/unit/test_ChildHistograms.js
  toolkit/components/telemetry/tests/unit/test_TelemetryHistograms.js
  tools/@types/lib.gecko.xpcom.d.ts
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1923512 - Fix tab close hover background being flush with container. r=sidebar-reviewers,desktop-theme-reviewers,tabbrowser-reviewers,dao,mstriemer
  browser/themes/shared/tabbrowser/tabs.css
Due: stylelint, file-whitespace

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  browser/locales/l10n-changesets.json
Due: eslint

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  mobile/locales/l10n-changesets.json
Due: eslint

Backed out changeset f5c51fd71f7b (bug 1193373) as requested by dmeehan for causing Bug 1923938. CLOSED TREE
  dom/base/Navigator.cpp
  dom/permission/MidiPermissionStatus.cpp
  dom/permission/MidiPermissionStatus.h
  dom/permission/PermissionObserver.cpp
  dom/permission/PermissionObserver.h
  dom/permission/PermissionStatus.cpp
  dom/permission/PermissionStatus.h
  dom/permission/PermissionStatusSink.cpp
  dom/permission/PermissionStatusSink.h
  dom/permission/PermissionUtils.cpp
  dom/permission/PermissionUtils.h
  dom/permission/Permissions.cpp
  dom/permission/Permissions.h
  dom/permission/StorageAccessPermissionStatus.cpp
  dom/permission/StorageAccessPermissionStatus.h
  dom/permission/moz.build
  dom/serviceworkers/test/test_serviceworker_interfaces.js
  dom/webidl/Navigator.webidl
  dom/webidl/PermissionStatus.webidl
  dom/webidl/Permissions.webidl
  dom/webidl/WorkerNavigator.webidl
  dom/workers/WorkerNavigator.cpp
  dom/workers/WorkerNavigator.h
  dom/workers/test/navigator_worker.js
  dom/workers/test/test_navigator_iframe.js
  dom/workers/test/test_worker_interfaces.js
  testing/web-platform/meta/permissions/idlharness.any.js.ini
  testing/web-platform/meta/storage/permission-query.https.any.js.ini
Due: eslint, py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Bug 1923897 - Update logic to set matches_selected_topic correctly when no topics are selected r=home-newtab-reviewers,thecount
  browser/components/newtab/content-src/components/DiscoveryStreamComponents/DSCard/DSCard.jsx
  browser/components/newtab/data/content/activity-stream.bundle.js
Due: eslint

Bug 1918731 - Add preference for Atomics.pause proposal; r=dminor
  js/src/shell/js.cpp
  modules/libpref/init/StaticPrefList.yaml
Due: yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1923015 - Remove no longer needed addonsManager.reportSuspiciousSite telemetry event, r=chutten,bholley.
  toolkit/components/telemetry/Events.yaml
  toolkit/mozapps/extensions/AddonManager.sys.mjs
Due: eslint, yaml

Bug 1917901: Make it ok to retarget OnDataAvailable multiple times until the first ODA is received r=necko-reviewers,kershaw
  dom/media/ChannelMediaResource.cpp
  dom/webbrowserpersist/nsWebBrowserPersist.cpp
  image/imgRequest.cpp
  layout/style/StreamLoader.cpp
  netwerk/base/nsIStreamListener.idl
  netwerk/base/nsIThreadRetargetableRequest.idl
  netwerk/base/nsIncrementalDownload.cpp
  netwerk/protocol/http/HttpChannelChild.cpp
  netwerk/protocol/http/HttpChannelChild.h
  netwerk/protocol/http/OpaqueResponseUtils.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1918687 - addTabGroup: select unused color if no color specified. r=jswinarton,tabbrowser-reviewers
  browser/components/tabbrowser/content/tabbrowser.js
  browser/components/tabbrowser/content/tabgroup-menu.js
  browser/components/tabbrowser/test/browser/tabs/browser_tab_groups.js
Due: eslint

Bug 1923710 - Re-add sumPrecise check. r=dminor
  js/src/vm/JSObject.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1923086 [Wayland] Implement compositor crash handler for wayland proxy r=emilio
  third_party/wayland-proxy/wayland-proxy.cpp
  third_party/wayland-proxy/wayland-proxy.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1923086 [Wayland] Set compositor crash handler r=emilio
  toolkit/xre/nsAppRunner.cpp
  widget/gtk/nsWaylandDisplay.cpp
  widget/gtk/nsWaylandDisplay.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1923325 [Wayland] Use GetDesktopEnvironmentIdentifier() to identify crashed compositor r=emilio
  widget/gtk/nsWaylandDisplay.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1923839 - Move font-variant-emoji reftest to the font-matching directory, where async fallback is disabled. r=dshin
  layout/reftests/bugs/reftest.list
  layout/reftests/font-matching/1923698-font-variant-emoji-ref.html
  layout/reftests/font-matching/1923698-font-variant-emoji.html
  layout/reftests/font-matching/reftest.list
Due: eslint, file-whitespace

Bug 1923971 - Update Fenix initial_experiments.json based on the first-run experiment in experimenter, a=dsmith
  mobile/android/fenix/app/src/main/res/raw/initial_experiments.json
Due: eslint

Bug 1923888 - Remove 0-ing of security.client_auth_cert_usage Scalar r=keeler
  security/manager/ssl/nsNSSComponent.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1922861 - wasm: Return correct value to indicate OOM. r=jandem
  js/src/jit-test/tests/wasm/oom/bug1922861.js
  js/src/wasm/WasmInstance.cpp
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1893002 - Remove old variant of JSPI API. r=jpages
  js/src/jit-test/tests/wasm/js-promise-integration/basic.js
  js/src/jit-test/tests/wasm/js-promise-integration/gc-2.js
  js/src/jit-test/tests/wasm/js-promise-integration/gc.js
  js/src/jit-test/tests/wasm/js-promise-integration/js-promise-integration.old.js
  js/src/jit-test/tests/wasm/js-promise-integration/multi.js
  js/src/jit-test/tests/wasm/js-promise-integration/multivalue.js
  js/src/wasm/WasmBuiltinModule.yaml
  js/src/wasm/WasmJS.cpp
  js/src/wasm/WasmPI.cpp
  js/src/wasm/WasmPI.h
Due: eslint, yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml
