Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, **/*.java, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml

Bug 1940964 - Make helper_fission_initial_displayport.html work on headless mode. r=ajakobi
  gfx/layers/apz/test/mochitest/helper_fission_initial_displayport.html
Due: eslint, file-whitespace

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump
  browser/locales/l10n-changesets.json
Due: eslint

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump
  mobile/locales/l10n-changesets.json
Due: eslint

Bug 1943846 - Fix nsFind::IsSpace to handle UTF-32 characters correctly. r=emilio
  toolkit/components/find/nsFind.cpp
  toolkit/components/find/test/mochitest/test_nsFind.html
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Backed out changeset b71c8c052463 (bug 1943846) for causing mass failures. CLOSED TREE
  toolkit/components/find/nsFind.cpp
  toolkit/components/find/test/mochitest/test_nsFind.html
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1914992 - Remove ContentIdentifierHashEntry r=emilio
  dom/performance/LargestContentfulPaint.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  browser/locales/l10n-changesets.json
Due: eslint

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  mobile/locales/l10n-changesets.json
Due: eslint

Bug 1945162 [wpt PR 50410] - [carousel] Move ::scroll-marker and ::scroll-marker-group tests to WPT, a=testonly
  testing/web-platform/tests/css/css-overflow/scroll-marker-group-keeps-active-in-view-ref.html
  testing/web-platform/tests/css/css-overflow/scroll-marker-group-keeps-active-in-view.html
  testing/web-platform/tests/css/css-overflow/scroll-marker-selection-picks-closest.html
  testing/web-platform/tests/css/css-overflow/scroll-markers-updated-by-programmatic-scroll.html
Due: eslint, file-whitespace

Bug 1945162 [wpt PR 50410] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-overflow/scroll-marker-group-keeps-active-in-view.html.ini
  testing/web-platform/meta/css/css-overflow/scroll-marker-selection-picks-closest.html.ini
  testing/web-platform/meta/css/css-overflow/scroll-markers-updated-by-programmatic-scroll.html.ini
Due: test-manifest

Bug 1945175 [wpt PR 50413] - [wdspec] `browsingContext.navigationCommitted` event, a=testonly
  testing/web-platform/tests/webdriver/tests/bidi/browsing_context/navigation_committed/__init__.py
  testing/web-platform/tests/webdriver/tests/bidi/browsing_context/navigation_committed/navigation_committed.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1945175 [wpt PR 50413] - Update wpt metadata, a=testonly
  testing/web-platform/meta/webdriver/tests/bidi/browsing_context/navigation_committed/navigation_committed.py.ini
Due: test-manifest

Bug 1945193 [wpt PR 50414] - [DIP] Plumb DIP reporter in CacheStorage, a=testonly
  testing/web-platform/tests/common/dispatcher/remote-executor-worker.js
  testing/web-platform/tests/html/document-isolation-policy/reporting-cache-storage-corp.tentative.https.html
Due: eslint, file-whitespace

Bug 1945193 [wpt PR 50414] - Update wpt metadata, a=testonly
  testing/web-platform/meta/html/document-isolation-policy/reporting-cache-storage-corp.tentative.https.html.ini
Due: test-manifest

Bug 1945202 [wpt PR 50415] - Provide layer bounds for text-shadow rendering, a=testonly
  testing/web-platform/tests/css/css-pseudo/highlight-painting-001.html
Due: eslint, file-whitespace

Bug 1945030 [wpt PR 50404] - Avoid starting transitions if values can't be interpolated, a=testonly
  testing/web-platform/tests/css/css-transitions/transition-behavior-events.html
Due: eslint, file-whitespace

Bug 1945237 [wpt PR 50418] - Language Detector: Implement signal for AILanguageDetectorFactory.create, a=testonly
  testing/web-platform/tests/ai/language_detection/detector.https.tentative.any.js
Due: eslint

Bug 1945224 [wpt PR 50416] - Add remaining color spaces for interpolation, a=testonly
  testing/web-platform/tests/css/css-images/gradient/gradient-eval-predefined-color-spaces-ref.html
  testing/web-platform/tests/css/css-images/gradient/gradient-eval-predefined-color-spaces.html
Due: eslint, file-whitespace

Bug 1945237 [wpt PR 50418] - Update wpt metadata, a=testonly
  testing/web-platform/meta/ai/language_detection/detector.https.tentative.any.js.ini
Due: test-manifest

Bug 1945270 [wpt PR 50421] - Mark select-home-end-pagedown-pageup-detailed.optional.html slow, a=testonly
  testing/web-platform/tests/html/semantics/forms/the-select-element/customizable-select/select-home-end-pagedown-pageup-detailed.optional.html
Due: eslint, file-whitespace

Bug 1945269 [wpt PR 50420] - FLEDGE: Include BSRID w/creative scanning metadata in TSS request., a=testonly
  testing/web-platform/tests/fledge/tentative/resources/fledge_http_server_util.py
  testing/web-platform/tests/fledge/tentative/trusted-scoring-signals.https.window.js
Due: eslint, py-black, py-ruff, file-whitespace, trojan-source

Bug 1945286 [wpt PR 50422] - Remove special boolean handling in ResolveToConfigResolved::React(), a=testonly
  testing/web-platform/tests/fenced-frame/resolve-to-config-promise.https.html
Due: eslint, file-whitespace

Bug 1945293 [wpt PR 50423] - IDB WPTs: Extend idbfactory_deleteDatabase WPTs to run on workers., a=testonly
  testing/web-platform/tests/IndexedDB/idbfactory_deleteDatabase.any.js
  testing/web-platform/tests/IndexedDB/idbfactory_deleteDatabase.htm
  testing/web-platform/tests/IndexedDB/idbfactory_deleteDatabase2.htm
  testing/web-platform/tests/IndexedDB/idbfactory_deleteDatabase3.htm
  testing/web-platform/tests/IndexedDB/idbfactory_deleteDatabase4.htm
Due: eslint

Bug 1945304 [wpt PR 50425] - Reland "Ensure AbortSignal.throwIfAborted doesn't modify the message of an abort error", a=testonly
  testing/web-platform/tests/dom/abort/event.any.js
Due: eslint

Bug 1945294 [wpt PR 50424] - Don't clear ForceReattachLayoutTree state on <slot> with display lock., a=testonly
  testing/web-platform/tests/css/css-contain/content-visibility/dynamic-change-with-slotted-text-ref.html
  testing/web-platform/tests/css/css-contain/content-visibility/dynamic-change-with-slotted-text.html
Due: eslint, file-whitespace

Bug 1945343 [wpt PR 50428] - Remove tentative from dialog toggle events test, a=testonly
  testing/web-platform/tests/html/semantics/interactive-elements/the-dialog-element/toggle-events.html
Due: eslint, file-whitespace

Bug 1945369 - [wpt-sync] Update web-platform-tests to f630424a79c1ae17deaaf27a21efdbca1378af0e, a=testonly
  testing/web-platform/meta/IndexedDB/idbfactory_deleteDatabase.htm.ini
  testing/web-platform/meta/IndexedDB/idbfactory_deleteDatabase2.htm.ini
  testing/web-platform/meta/IndexedDB/idbfactory_deleteDatabase3.htm.ini
  testing/web-platform/meta/IndexedDB/idbfactory_deleteDatabase4.htm.ini
  testing/web-platform/meta/fetch/api/request/request-keepalive-quota.html.ini
  testing/web-platform/meta/fetch/metadata/generated/window-history.https.sub.html.ini
  testing/web-platform/meta/html/browsers/browsing-the-web/read-text/load-text-plain.html.ini
  testing/web-platform/meta/html/semantics/embedded-content/media-elements/track/track-element/track-cues-sorted-before-dispatch.html.ini
  testing/web-platform/meta/html/semantics/interactive-elements/the-dialog-element/toggle-events.tentative.html.ini
  testing/web-platform/meta/mozilla-sync
  testing/web-platform/meta/pointerevents/pointerevent_fractional_coordinates.html.ini
  testing/web-platform/meta/webaudio/the-audio-api/the-analysernode-interface/test-analyser-minimum.html.ini
  testing/web-platform/meta/webdriver/tests/bidi/network/add_intercept/contexts.py.ini
  testing/web-platform/meta/webdriver/tests/classic/new_session/default_values.py.ini
Due: test-manifest

no bug - Import translations from android-l10n r=release a=l10n CLOSED TREE
  mobile/android/android-components/components/feature/app-links/src/main/res/values-es-rES/strings.xml
  mobile/android/fenix/app/src/main/res/values-el/strings.xml
  mobile/android/fenix/app/src/main/res/values-es-rES/strings.xml
  mobile/android/fenix/app/src/main/res/values-eu/strings.xml
  mobile/android/fenix/app/src/main/res/values-fa/strings.xml
  mobile/android/fenix/app/src/main/res/values-pt-rBR/strings.xml
  mobile/android/fenix/app/src/main/res/values-sk/strings.xml
  mobile/android/fenix/app/src/main/res/values-th/strings.xml
  mobile/android/fenix/app/src/main/res/values-zh-rCN/strings.xml
  mobile/android/focus-android/app/src/main/res/values-es-rES/strings.xml
  mobile/android/focus-android/app/src/main/res/values-nn-rNO/strings.xml
  mobile/android/focus-android/app/src/main/res/values-th/strings.xml
Due: eslint

Bug 1901464 part 1: TextLeafRange::WalkLineRects: Pass the TextLeafRange for each line to the callback. r=nlapre
  accessible/base/TextLeafRange.cpp
  accessible/base/TextLeafRange.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1901464 part 2: Refactor UiaText code to convert an array of TextLeafRanges to a SAFEARRAY of UiaTextRanges into a utility function. r=nlapre
  accessible/windows/uia/UiaText.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1901464 part 3: Implement ITextProvider::GetVisibleRanges. r=nlapre
  accessible/base/TextLeafRange.cpp
  accessible/base/TextLeafRange.h
  accessible/tests/browser/windows/uia/browser_textPatterns.js
  accessible/windows/uia/UiaText.cpp
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1938624 part 1: Add a Mac a11y test for a password input. r=eeejay
  accessible/tests/browser/mac/browser_roles_elements.js
Due: eslint

Bug 1938624 part 3: Map <input type="search"> and role="searchbox" to the new SEARCHBOX Gecko role. r=eeejay
  accessible/base/ARIAMap.cpp
  accessible/base/RoleMap.h
  accessible/basetypes/Accessible.cpp
  accessible/basetypes/Accessible.h
  accessible/html/HTMLFormControlAccessible.cpp
  accessible/ios/MUIAccessible.mm
  accessible/mac/mozTextAccessible.h
  accessible/mac/mozTextAccessible.mm
  accessible/tests/browser/role/browser_computedARIARole.js
  accessible/tests/browser/tree/browser_searchbar.js
  accessible/tests/mochitest/elm/test_HTMLSpec.html
  accessible/tests/mochitest/role/test_aria.html
  testing/mochitest/tests/SimpleTest/AccessibilityUtils.js
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1938624 part 2: Add a new SEARCHBOX Gecko a11y role. r=eeejay
  accessible/base/RoleMap.h
  accessible/interfaces/nsIAccessibleRole.idl
  accessible/tests/mochitest/role.js
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1938624 part 5: Remove Accessible::InputType, which is now unused. r=eeejay
  accessible/basetypes/Accessible.h
  accessible/generic/LocalAccessible.cpp
  accessible/generic/LocalAccessible.h
  accessible/ipc/RemoteAccessible.cpp
  accessible/ipc/RemoteAccessible.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1938624 part 4: Add a WPT test for <input type="search" role="combobox">. r=eeejay
  testing/web-platform/tests/html-aam/roles.html
Due: eslint, file-whitespace

Bug 1945354: Remove unnecessary retrieval of BrowserBridgeParent in DocAccessibleParent::AddChildDoc. r=nlapre
  accessible/ipc/DocAccessibleParent.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

no bug - Merge android-l10n translations from mozilla-central r=release a=l10n
  mobile/android/android-components/components/feature/addons/src/main/res/values-scn/strings.xml
  mobile/android/android-components/components/feature/contextmenu/src/main/res/values-scn/strings.xml
  mobile/android/android-components/components/feature/search/src/main/res/values-scn/strings.xml
  mobile/android/android-components/components/ui/tabcounter/src/main/res/values-scn/strings.xml
  mobile/android/fenix/app/src/main/res/values-cs/strings.xml
  mobile/android/fenix/app/src/main/res/values-de/strings.xml
  mobile/android/fenix/app/src/main/res/values-dsb/strings.xml
  mobile/android/fenix/app/src/main/res/values-en-rGB/strings.xml
  mobile/android/fenix/app/src/main/res/values-es/strings.xml
  mobile/android/fenix/app/src/main/res/values-fi/strings.xml
  mobile/android/fenix/app/src/main/res/values-hsb/strings.xml
  mobile/android/fenix/app/src/main/res/values-hu/strings.xml
  mobile/android/fenix/app/src/main/res/values-is/strings.xml
  mobile/android/fenix/app/src/main/res/values-it/strings.xml
  mobile/android/fenix/app/src/main/res/values-iw/strings.xml
  mobile/android/fenix/app/src/main/res/values-kk/strings.xml
  mobile/android/fenix/app/src/main/res/values-ml/strings.xml
  mobile/android/fenix/app/src/main/res/values-ru/strings.xml
  mobile/android/fenix/app/src/main/res/values-scn/strings.xml
  mobile/android/fenix/app/src/main/res/values-sv-rSE/strings.xml
  mobile/android/fenix/app/src/main/res/values-tg/strings.xml
  mobile/android/fenix/app/src/main/res/values-tr/strings.xml
  mobile/android/fenix/app/src/main/res/values-ug/strings.xml
  mobile/android/fenix/app/src/main/res/values-zh-rCN/strings.xml
  mobile/android/fenix/app/src/main/res/values-zh-rTW/strings.xml
  mobile/android/focus-android/app/src/main/res/values-en-rGB/strings.xml
  mobile/android/focus-android/app/src/main/res/values-fi/strings.xml
  mobile/android/focus-android/app/src/main/res/values-is/strings.xml
  mobile/android/focus-android/app/src/main/res/values-tr/strings.xml
  mobile/android/focus-android/app/src/main/res/values-zh-rCN/strings.xml
Due: eslint
