Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml

Bug 1813213 - Factor the dynamic toolbar bimodal height into position sticky elements stuck to the root scroll container. r=botond,geckoview-reviewers,m_kato
  gfx/layers/apz/src/APZCTreeManager.cpp
  layout/base/PresShell.cpp
  layout/base/PresShell.h
  layout/base/nsPresContext.cpp
  layout/generic/ScrollContainerFrame.h
  layout/generic/StickyScrollContainer.cpp
  layout/generic/StickyScrollContainer.h
  mobile/android/geckoview/src/androidTest/assets/www/position-sticky-on-main-thread.html
  mobile/android/geckoview/src/androidTest/java/org/mozilla/geckoview/test/BaseSessionTest.kt
  mobile/android/geckoview/src/androidTest/java/org/mozilla/geckoview/test/DynamicToolbarTest.kt
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1658226: Avoid hiding the cursor on macOS when the space bar is pressed. r=masayuki
  widget/cocoa/TextInputHandler.mm
Due: clang-format

Bug 1911021 - Add MOZ_EXECUTION_TRACER compile flag r=arai
  js/moz.configure
Due: py-black, py-ruff

Bug 1911021 - Use ms since process start as time in ExecutionTracer r=arai
  js/src/debugger/ExecutionTracer.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1911021 - Remove Devtools-facing tracing API and uses r=arai
  devtools/server/actors/tracer.js
  devtools/server/tracer/tracer.sys.mjs
  js/public/friend/ErrorNumbers.msg
  js/src/debugger/Debugger.cpp
  js/src/debugger/Debugger.h
  js/src/debugger/ExecutionTracer.cpp
  js/src/debugger/ExecutionTracer.h
  js/src/doc/Debugger/Debugger.md
  js/src/jit-test/tests/debug/ExecutionTracer-collectNativeTrace.js
  js/src/jit-test/tests/debug/ExecutionTracer-discard-trace.js
  js/src/jit-test/tests/debug/ExecutionTracer-oomTest.js
  js/src/jit-test/tests/debug/ExecutionTracer-properties-exist.js
  js/src/jit-test/tests/debug/ExecutionTracer-utf8.js
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1911021 - Provide native, threadsafe endpoints to execution tracing r=arai
  js/public/Debug.h
  js/src/debugger/Debugger.cpp
  js/src/debugger/ExecutionTracer.cpp
  js/src/debugger/ExecutionTracer.h
  js/src/debugger/moz.build
  js/src/vm/Caches.h
  js/src/vm/JSContext.cpp
  js/src/vm/JSContext.h
  js/src/vm/MutexIDs.h
  js/src/vm/Realm.cpp
  js/src/vm/Realm.h
Due: py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1911021 - Add JS Execution Tracing option to the profiler r=aabh,profiler-reviewers
  devtools/client/performance-new/shared/utils.js
  dom/debugger/CallbackDebuggerNotification.h
  dom/debugger/EventCallbackDebuggerNotification.cpp
  dom/debugger/EventCallbackDebuggerNotification.h
  dom/events/EventListenerManager.cpp
  dom/workers/RuntimeService.cpp
  js/xpconnect/src/XPCJSContext.cpp
  toolkit/components/extensions/schemas/geckoProfiler.json
  tools/profiler/core/ProfileBuffer.h
  tools/profiler/core/ProfileBufferEntry.cpp
  tools/profiler/core/ProfilerThreadRegistrationData.cpp
  tools/profiler/core/platform.cpp
  tools/profiler/public/GeckoProfiler.h
  tools/profiler/public/ProfilerState.h
  tools/profiler/public/ProfilerThreadRegistrationData.h
  tools/profiler/tests/gtest/GeckoProfiler.cpp
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1911021 - exclude self-hosted builtins from tracing r=arai
  js/src/debugger/ExecutionTracer.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1911021 - Add an API tp CycleCollectedJSContext to enable/disable tracing r=smaug
  xpcom/base/CycleCollectedJSContext.cpp
  xpcom/base/CycleCollectedJSContext.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1911021 - Cover JavaScript tracing via the profiler with a mochitest. r=profiler-reviewers,aabh
  tools/profiler/tests/browser/browser.toml
  tools/profiler/tests/browser/browser_test_feature_jstracing.js
  tools/profiler/tests/browser/tracing.html
Due: eslint, file-whitespace

Bug 1911021: apply code formatting via Lando
  js/src/debugger/ExecutionTracer.cpp
  js/src/debugger/ExecutionTracer.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1923251 - part 1: Make `HTMLEditor` clean up unnecessary padding line break when inserting something immediately before it r=m_kato
  editor/libeditor/EditorBase.cpp
  editor/libeditor/EditorDOMPoint.h
  editor/libeditor/EditorUtils.h
  editor/libeditor/HTMLEditSubActionHandler.cpp
  editor/libeditor/HTMLEditUtils.cpp
  editor/libeditor/HTMLEditUtils.h
  editor/libeditor/HTMLEditor.cpp
  editor/libeditor/HTMLEditor.h
  editor/libeditor/HTMLEditorDataTransfer.cpp
  editor/libeditor/TextEditSubActionHandler.cpp
  editor/libeditor/WSRunObject.cpp
  editor/libeditor/WSRunObject.h
  editor/libeditor/tests/test_bug1250010.html
  editor/libeditor/tests/test_bug1330796.html
  editor/libeditor/tests/test_bug1385905.html
  editor/libeditor/tests/test_bug1397412.xhtml
  editor/libeditor/tests/test_bug551704.html
  editor/libeditor/tests/test_bug780035.html
  editor/libeditor/tests/test_bug787432.html
  editor/libeditor/tests/test_bug832025.html
  editor/libeditor/tests/test_cmd_fontFace_with_empty_string.html
  editor/libeditor/tests/test_cmd_fontFace_with_tt.html
  editor/libeditor/tests/test_dom_input_event_on_htmleditor.html
  editor/libeditor/tests/test_dragdrop.html
  editor/libeditor/tests/test_nsIEditorMailSupport_insertTextWithQuotations.html
  testing/web-platform/meta/editing/plaintext-only/insertText.html.ini
  testing/web-platform/meta/editing/run/inserthtml.html.ini
  testing/web-platform/meta/editing/run/inserttext.html.ini
  testing/web-platform/tests/editing/data/inserthtml.js
  testing/web-platform/tests/editing/data/insertimage.js
  testing/web-platform/tests/editing/data/inserttext.js
  testing/web-platform/tests/editing/plaintext-only/insertText.html
  widget/tests/window_composition_text_querycontent.xhtml
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Bug 1923251 - part 2: Make `HTMLEditor` clean up unnecessary padding line breaks when deleting something immediately before it r=m_kato
  editor/libeditor/HTMLEditSubActionHandler.cpp
  editor/libeditor/HTMLEditor.h
  editor/libeditor/HTMLEditorDeleteHandler.cpp
  editor/libeditor/WSRunObject.cpp
  editor/libeditor/WSRunObject.h
  editor/libeditor/tests/test_bug1315065.html
  testing/web-platform/meta/editing/other/delete-before-invisible-line-break.html.ini
  testing/web-platform/meta/editing/other/forwarddelete-before-invisible-line-break.html.ini
  testing/web-platform/mozilla/tests/editor/delete-space-after-double-click-selection.html
  testing/web-platform/tests/editing/other/delete-before-invisible-line-break.html
  testing/web-platform/tests/editing/other/forwarddelete-before-invisible-line-break.html
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Bug 1923138 - [Menu Redesign] For menu items, we should use the icon/secondary color. r=android-reviewers,007
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/menu/compose/ToolsSubmenu.kt
Due: none

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  browser/locales/l10n-changesets.json
Due: eslint

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  mobile/locales/l10n-changesets.json
Due: eslint

Bug 1867997 - Change OriginScope::FromOrigin and OriginScope::FromPrefix signatures to take PrincipalMetadata; r=dom-storage-reviewers,jari
  dom/quota/ActorsParent.cpp
  dom/quota/DirectoryLockImpl.cpp
  dom/quota/DirectoryLockImpl.h
  dom/quota/OriginOperations.cpp
  dom/quota/OriginScope.h
  dom/quota/test/gtest/TestOriginScope.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1887861 - Force position and window size on Snap Selenium tests r=benchatt
  taskcluster/docker/snap-coreXX-build/snap-tests/basic_tests.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1887861 - Allow pip systeam breakage for Snap Selenium tests r=benchatt
  taskcluster/docker/snap-coreXX-build/snap-tests/tests.sh
Due: shellcheck

Bug 1887861 - Use distro release versionned JSON for Snap QA tests expectations r=benchatt
  taskcluster/docker/snap-coreXX-build/snap-tests/qa_tests.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1887861 - Run Snap Selenium tests on Ubuntu 22.04 and 24.04 r=releng-reviewers,taskgraph-reviewers,bhearsum
  taskcluster/config.yml
  taskcluster/docs/attributes.rst
  taskcluster/gecko_taskgraph/transforms/snap_test.py
  taskcluster/kinds/snap-upstream-test/kind.yml
Due: py-black, py-ruff, yaml, file-whitespace, trojan-source

Bug 1920463 p1: Remove RemoteSandboxBroker. r=nika,geckoview-reviewers,ipc-reviewers,m_kato
  browser/app/nsBrowserApp.cpp
  dom/chrome-webidl/ChromeUtils.webidl
  dom/docs/ipc/process_model.rst
  ipc/app/MozillaRuntimeMain.cpp
  ipc/docs/ipdl.rst
  ipc/docs/processes.rst
  ipc/glue/GeckoChildProcessHost.cpp
  ipc/ipdl/sync-messages.ini
  ipc/ipdl/test/ipdl/error/PUnknownProc.ipdl
  mobile/android/geckoview/src/main/java/org/mozilla/gecko/process/GeckoProcessType.java
  security/sandbox/moz.build
  security/sandbox/win/src/remotesandboxbroker/PRemoteSandboxBroker.ipdl
  security/sandbox/win/src/remotesandboxbroker/RemoteSandboxBrokerChild.cpp
  security/sandbox/win/src/remotesandboxbroker/RemoteSandboxBrokerChild.h
  security/sandbox/win/src/remotesandboxbroker/RemoteSandboxBrokerParent.cpp
  security/sandbox/win/src/remotesandboxbroker/RemoteSandboxBrokerParent.h
  security/sandbox/win/src/remotesandboxbroker/RemoteSandboxBrokerProcessChild.cpp
  security/sandbox/win/src/remotesandboxbroker/RemoteSandboxBrokerProcessChild.h
  security/sandbox/win/src/remotesandboxbroker/RemoteSandboxBrokerProcessParent.cpp
  security/sandbox/win/src/remotesandboxbroker/RemoteSandboxBrokerProcessParent.h
  security/sandbox/win/src/remotesandboxbroker/moz.build
  security/sandbox/win/src/remotesandboxbroker/remoteSandboxBroker.cpp
  security/sandbox/win/src/remotesandboxbroker/remoteSandboxBroker.h
  security/sandbox/win/src/sandboxbroker/sandboxBroker.cpp
  toolkit/components/aboutprocesses/content/aboutProcesses.js
  toolkit/components/crashes/tests/xpcshell/test_crash_manager.js
  toolkit/components/telemetry/docs/data/crash-ping.rst
  toolkit/locales/en-US/toolkit/about/aboutProcesses.ftl
  toolkit/xre/nsEmbedFunctions.cpp
  tools/@types/lib.gecko.dom.d.ts
  tools/@types/lib.gecko.xpcom.d.ts
  xpcom/build/XREChildData.h
  xpcom/components/nsComponentManager.cpp
  xpcom/geckoprocesstypes_generator/geckoprocesstypes/__init__.py
  xpcom/system/nsIXULRuntime.idl
Due: eslint, py-black, py-ruff, clang-format, fluent-lint, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Bug 1920463 p2: Remove AbstractSandboxBroker. r=nika
  ipc/glue/GeckoChildProcessHost.cpp
  ipc/glue/GeckoChildProcessHost.h
  security/sandbox/win/src/sandboxbroker/sandboxBroker.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1924381 [wpt PR 48587] - WebKit export of https://bugs.webkit.org/show_bug.cgi?id=280940, a=testonly
  testing/web-platform/tests/html/semantics/interactive-elements/the-dialog-element/popover-dialog-does-not-block-mouse-events.html
Due: eslint, file-whitespace

Bug 1923688 [wpt PR 48546] - Use selection focus for caret position while navigating using arrow keys, a=testonly
  testing/web-platform/tests/selection/caret-position-should-be-correct-while-moveup-movedown.html
Due: eslint, file-whitespace

Bug 1923688 [wpt PR 48546] - Update wpt metadata, a=testonly
  testing/web-platform/meta/selection/caret-position-should-be-correct-while-moveup-movedown.html.ini
Due: test-manifest

Bug 1924265 [wpt PR 48584] - Regenerate WPT certificates, a=testonly
  testing/web-platform/tests/tools/certs/cacert.key
  testing/web-platform/tests/tools/certs/cacert.pem
  testing/web-platform/tests/tools/certs/web-platform.test.key
  testing/web-platform/tests/tools/certs/web-platform.test.pem
  testing/web-platform/tests/tools/wptrunner/wptrunner/browsers/chrome_spki_certs.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1924485 [wpt PR 48599] - Add WPTs that opus supports both mono and stereo signals., a=testonly
  testing/web-platform/tests/webrtc/RTCRtpEncodingParameters-codec-opus-stereo.https.html
Due: eslint, file-whitespace

Bug 1924485 [wpt PR 48599] - Update wpt metadata, a=testonly
  testing/web-platform/meta/webrtc/RTCRtpEncodingParameters-codec-opus-stereo.https.html.ini
Due: test-manifest

Bug 1924475 [wpt PR 48596] - [@container] Change serialization of general-enclosed in test, a=testonly
  testing/web-platform/tests/css/css-conditional/container-queries/at-container-style-serialization.html
Due: eslint, file-whitespace

Bug 1924629 - [wpt-sync] Update web-platform-tests to 598e86ac6913319529be27d0f1e53d79773c72cc, a=testonly
  testing/web-platform/meta/compute-pressure/compute_pressure_timestamp.https.window.js.ini
  testing/web-platform/meta/compute-pressure/compute_pressure_timestamp_continuously_increasing.https.window.js.ini
  testing/web-platform/meta/content-security-policy/webrtc/webrtc-blocked-explicit.html.ini
  testing/web-platform/meta/content-security-policy/webrtc/webrtc-blocked-unknown.html.ini
  testing/web-platform/meta/css/css-grid/alignment/grid-align-baseline-line-clamp-002.tentative.html.ini
  testing/web-platform/meta/css/css-scroll-anchoring/zero-scroll-offset-001.html.ini
  testing/web-platform/meta/css/css-scroll-snap/input/keyboard.html.ini
  testing/web-platform/meta/css/css-transforms/animation/canvas-webgl-translate-in-animation.html.ini
  testing/web-platform/meta/event-timing/buffered-and-duration-threshold.html.ini
  testing/web-platform/meta/fetch/api/basic/stream-response.any.js.ini
  testing/web-platform/meta/fetch/api/redirect/redirect-keepalive.https.any.js.ini
  testing/web-platform/meta/html/cross-origin-opener-policy/iframe-popup-unsafe-none-to-same-origin.https.html.ini
  testing/web-platform/meta/html/semantics/embedded-content/media-elements/loading-the-media-resource/resource-selection-invoke-play.html.ini
  testing/web-platform/meta/html/semantics/embedded-content/media-elements/loading-the-media-resource/resource-selection-invoke-remove-src.html.ini
  testing/web-platform/meta/html/semantics/embedded-content/the-img-element/relevant-mutations-lazy.html.ini
  testing/web-platform/meta/html/semantics/invokers/invoketarget-on-video-behavior.tentative.html.ini
  testing/web-platform/meta/html/semantics/popovers/popover-events.html.ini
  testing/web-platform/meta/intersection-observer/scroll-margin-zero.html.ini
  testing/web-platform/meta/mozilla-sync
  testing/web-platform/meta/ua-client-hints/useragentdata.https.any.js.ini
  testing/web-platform/meta/video-rvfc/request-video-frame-callback-repeating.html.ini
  testing/web-platform/meta/webaudio/the-audio-api/the-audiocontext-interface/processing-after-resume.https.html.ini
  testing/web-platform/meta/webrtc-encoded-transform/RTCRtpScriptTransform-encoded-transform.https.html.ini
  testing/web-platform/meta/webrtc/RTCPeerConnection-getStats-timestamp.https.html.ini
  testing/web-platform/meta/websockets/Close-1000-reason.any.js.ini
Due: test-manifest

Bug 1924675 - Re-enable setDesktopSiteBeforePageLoadTest UI test r=ohorvath
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/MainMenuTest.kt
Due: none

Bug 1922549 - Send and handle OnEventNeedingAckHandled of content command events r=smaug
  dom/ipc/BrowserChild.cpp
  widget/ContentCache.cpp
  widget/tests/browser/browser.toml
  widget/tests/browser/browser_test_contentCommand_insertText_with_selection_cache.js
  widget/tests/browser/browser_test_contentCommand_replaceText_with_selection_cache.js
  widget/tests/file_ime_state_test_helper.js
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1924466 - Remove inline command event handlers from the overflow customize context menu. r=Gijs
  browser/base/content/main-popupset.js
  browser/components/customizableui/content/panelUI.inc.xhtml
Due: eslint, file-whitespace

Bug 1924466 - Remove inline popupshowing event handler from the overflow customize context menu. r=Gijs
  browser/base/content/main-popupset.js
  browser/components/customizableui/content/panelUI.inc.xhtml
Due: eslint, file-whitespace

Bug 1915216: Add a method to asynchronously write the important data about the current profile to the INI file on disk. r=glandium,jhirsch,pehrsons,backup-reviewers,mconley
  browser/components/backup/BackupService.sys.mjs
  browser/components/backup/tests/marionette/test_backup.py
  browser/components/profiles/SelectableProfileService.sys.mjs
  toolkit/components/remote/nsRemoteService.cpp
  toolkit/components/remote/nsRemoteService.h
  toolkit/content/aboutProfiles.js
  toolkit/profile/content/profileSelection.js
  toolkit/profile/moz.build
  toolkit/profile/nsIToolkitProfileService.idl
  toolkit/profile/nsProfileLock.cpp
  toolkit/profile/nsToolkitProfileService.cpp
  toolkit/profile/nsToolkitProfileService.h
  toolkit/profile/test/xpcshell/test_async_flush.js
  toolkit/profile/test/xpcshell/xpcshell.toml
  toolkit/xre/nsAppRunner.cpp
Due: eslint, py-black, py-ruff, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1922222 - Move outer <svg> border/padding transform tweak. r=longsonr,jwatt a=RyanVM
  layout/painting/nsDisplayList.cpp
  layout/svg/SVGOuterSVGFrame.cpp
  testing/web-platform/tests/svg/painting/reftests/small-nested-viewbox-ref.html
  testing/web-platform/tests/svg/painting/reftests/small-nested-viewbox.html
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1922222 - Move outer <svg> border/padding transform tweak. r=longsonr,jwatt
  layout/painting/nsDisplayList.cpp
  layout/svg/SVGOuterSVGFrame.cpp
  testing/web-platform/tests/svg/painting/reftests/small-nested-viewbox-ref.html
  testing/web-platform/tests/svg/painting/reftests/small-nested-viewbox.html
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source
