Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

eslint:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py eslint

stylelint:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py stylelint

py-black:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py black

py-ruff:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py ruff

yaml:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py yaml

shellcheck:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py shellcheck

clang-format:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  ...

rustfmt:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py rustfmt

fluent-lint:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py fluent-lint

localization:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py l10n

Bug 1924039 - Run license lint for Kotlin source files. r=linter-reviewers,sylvestre,Standard8,ahal
  taskcluster/kinds/source-test/mozlint.yml
  tools/lint/license.yml
  tools/lint/license/__init__.py
Due: py-black, py-ruff, yaml, file-whitespace, test-manifest, trojan-source

Bug 1917535 - Always clear the notification callback even if the request is handled off main thread. r=emilio
  layout/style/StreamLoader.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

no bug - Merge android-l10n translations from mozilla-central r=release a=l10n
  mobile/android/android-components/components/browser/menu/src/main/res/values-fa/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-ab/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-bs/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-es-rES/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-fa/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-pa-rIN/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-sat/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-tr/strings.xml
  mobile/android/android-components/components/feature/app-links/src/main/res/values-ab/strings.xml
  mobile/android/android-components/components/feature/autofill/src/main/res/values-ab/strings.xml
  mobile/android/android-components/components/feature/customtabs/src/main/res/values-fa/strings.xml
  mobile/android/android-components/components/feature/fxsuggest/src/main/res/values-fa/strings.xml
  mobile/android/android-components/components/feature/media/src/main/res/values-ab/strings.xml
  mobile/android/android-components/components/feature/media/src/main/res/values-fa/strings.xml
  mobile/android/android-components/components/feature/privatemode/src/main/res/values-ab/strings.xml
  mobile/android/android-components/components/feature/prompts/src/main/res/values-ab/strings.xml
  mobile/android/android-components/components/feature/prompts/src/main/res/values-bs/strings.xml
  mobile/android/android-components/components/feature/prompts/src/main/res/values-fa/strings.xml
  mobile/android/android-components/components/feature/prompts/src/main/res/values-sat/strings.xml
  mobile/android/android-components/components/feature/search/src/main/res/values-ab/strings.xml
  mobile/android/android-components/components/feature/sitepermissions/src/main/res/values-ab/strings.xml
  mobile/android/android-components/components/feature/tabs/src/main/res/values-ab/strings.xml
  mobile/android/android-components/components/feature/webnotifications/src/main/res/values-ab/strings.xml
  mobile/android/android-components/components/lib/crash/src/main/res/values-ab/strings.xml
  mobile/android/android-components/components/service/nimbus/src/main/res/values-ab/strings.xml
  mobile/android/android-components/components/support/base/src/main/res/values-ab/strings.xml
  mobile/android/android-components/components/support/ktx/src/main/res/values-ab/strings.xml
  mobile/android/android-components/components/ui/tabcounter/src/main/res/values-ab/strings.xml
  mobile/android/fenix/app/src/main/res/values-ab/strings.xml
  mobile/android/fenix/app/src/main/res/values-bs/strings.xml
  mobile/android/fenix/app/src/main/res/values-fa/strings.xml
  mobile/android/fenix/app/src/main/res/values-gd/strings.xml
  mobile/android/fenix/app/src/main/res/values-sat/strings.xml
  mobile/android/focus-android/app/src/main/res/values-bs/strings.xml
Due: eslint

Bug 1921345 - Remove global constructor from js/src/vm/SavedStacks.cpp r=arai
  js/public/Principals.h
  js/src/vm/SavedFrame.h
  js/src/vm/SavedStacks.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1866402 - Add support for initializing persistent storage to QuotaManager::OpenStorageDirectory; r=dom-storage-reviewers,jari
  dom/indexedDB/ActorsParent.cpp
  dom/quota/ActorsParent.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1900395 - [devtools] Some general fixes for tests r=devtools-reviewers,nchevobbe
  devtools/client/debugger/test/mochitest/browser_aj.toml
  devtools/client/debugger/test/mochitest/browser_dbg-breakpoints-cond-shortcut.js
  devtools/client/debugger/test/mochitest/browser_dbg-preview.js
  devtools/client/debugger/test/mochitest/browser_kz.toml
  devtools/client/debugger/test/mochitest/shared-head.js
  devtools/client/framework/toolbox.js
  devtools/client/shared/sourceeditor/editor.js
Due: eslint

Bug 1900395 - [devtools] Cleanup leftover usages of getCM r=devtools-reviewers,nchevobbe
  devtools/client/debugger/src/utils/dbg.js
  devtools/client/debugger/test/mochitest/browser_dbg-backgroundtask-debugging.js
  devtools/client/debugger/test/mochitest/browser_dbg-browser-toolbox-workers.js
  devtools/client/debugger/test/mochitest/shared-head.js
Due: eslint

Bug 1904489 - [devtools] Enable Codemirror 6 by default r=devtools-reviewers,nchevobbe
  browser/app/profile/firefox.js
  devtools/client/debugger/src/utils/prefs.js
  devtools/client/debugger/test/mochitest/browser_aj.toml
  devtools/client/debugger/test/mochitest/browser_dbg-features-wasm.js
  devtools/client/debugger/test/mochitest/browser_dbg-keyboard-navigation.js
  devtools/client/debugger/test/mochitest/browser_dbg-outline-focus.js
  devtools/client/debugger/test/mochitest/browser_kz.toml
  devtools/client/preferences/debugger.js
  modules/libpref/init/StaticPrefList.yaml
  testing/mochitest/runtests.py
Due: eslint, py-black, py-ruff, yaml, file-whitespace, trojan-source

Bug 1920928 - [devtools] Use the codemirror instance in the source editor r=devtools-reviewers,perftest-reviewers,nchevobbe,sparky
  devtools/client/debugger/src/components/Editor/index.js
  devtools/client/debugger/test/mochitest/shared-head.js
  testing/talos/talos/tests/devtools/addon/content/tests/debugger/custom.js
  testing/talos/talos/tests/devtools/addon/content/tests/debugger/debugger-helpers.js
Due: eslint

Bug 1924458 - increase fetch keepalive request limit quota. r=smaug
  modules/libpref/init/StaticPrefList.yaml
Due: yaml

Backed out 4 changesets (bug 1920928, bug 1900395, bug 1904489) for causing lint failures @ browser/app/profile/firefox.js CLOSED TREE
  browser/app/profile/firefox.js
  devtools/client/debugger/src/components/Editor/index.js
  devtools/client/debugger/src/utils/dbg.js
  devtools/client/debugger/src/utils/prefs.js
  devtools/client/debugger/test/mochitest/browser_aj.toml
  devtools/client/debugger/test/mochitest/browser_dbg-backgroundtask-debugging.js
  devtools/client/debugger/test/mochitest/browser_dbg-breakpoints-cond-shortcut.js
  devtools/client/debugger/test/mochitest/browser_dbg-browser-toolbox-workers.js
  devtools/client/debugger/test/mochitest/browser_dbg-features-wasm.js
  devtools/client/debugger/test/mochitest/browser_dbg-keyboard-navigation.js
  devtools/client/debugger/test/mochitest/browser_dbg-outline-focus.js
  devtools/client/debugger/test/mochitest/browser_dbg-preview.js
  devtools/client/debugger/test/mochitest/browser_kz.toml
  devtools/client/debugger/test/mochitest/shared-head.js
  devtools/client/framework/toolbox.js
  devtools/client/preferences/debugger.js
  devtools/client/shared/sourceeditor/editor.js
  modules/libpref/init/StaticPrefList.yaml
  testing/mochitest/runtests.py
  testing/talos/talos/tests/devtools/addon/content/tests/debugger/custom.js
  testing/talos/talos/tests/devtools/addon/content/tests/debugger/debugger-helpers.js
Due: eslint, py-black, py-ruff, yaml, file-whitespace, trojan-source

Bug 1913995 - Update the custom tab navbar only if it is already initialized r=android-reviewers,harrisono
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/BaseBrowserFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/customtabs/ExternalAppBrowserFragment.kt
Due: none

Bug 1924545: Handle non-finite intermediate result in MakeDay. r=jandem
  js/src/jsdate.cpp
  js/src/tests/non262/Date/makeday-year-month-is-infinity.js
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1904489 - [devtools] Enable Codemirror 6 by default r=devtools-reviewers,nchevobbe
  browser/app/profile/firefox.js
  devtools/client/debugger/src/utils/prefs.js
  devtools/client/debugger/test/mochitest/browser_aj.toml
  devtools/client/debugger/test/mochitest/browser_dbg-features-wasm.js
  devtools/client/debugger/test/mochitest/browser_dbg-keyboard-navigation.js
  devtools/client/debugger/test/mochitest/browser_dbg-outline-focus.js
  devtools/client/debugger/test/mochitest/browser_kz.toml
  devtools/client/preferences/debugger.js
Due: eslint

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  browser/locales/l10n-changesets.json
Due: eslint

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  mobile/locales/l10n-changesets.json
Due: eslint

Bug 1923553 - Add a featureID field in PipelineOptions r=vazish
  toolkit/components/ml/actors/MLEngineChild.sys.mjs
  toolkit/components/ml/actors/MLEngineParent.sys.mjs
  toolkit/components/ml/content/EngineProcess.sys.mjs
  toolkit/components/ml/docs/api.rst
  toolkit/components/ml/docs/models.rst
  toolkit/components/ml/tests/browser/browser_ml_engine.js
  toolkit/components/ml/tests/browser/head.js
Due: eslint, file-whitespace

Bug 1924465 - remove spurious logs - r=vazish
  toolkit/components/ml/actors/MLEngineParent.sys.mjs
Due: eslint

Bug 1924504 - Make GCRuntime::getOrAllocChunk leave chunk on the empty chunks list r=sfink
  js/src/gc/Allocator.cpp
  js/src/gc/GC.cpp
  js/src/gc/GCRuntime.h
  js/src/gc/Heap.cpp
  js/src/gc/Nursery.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1910188 - treat survey options as group for talkback a11y r=android-reviewers,twhite
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/microsurvey/ui/MicrosurveyContent.kt
Due: none

Bug 1924387 - Start with resizable state. r=stransky
  widget/gtk/nsWindow.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1916498 - Add _forwardToWindowGlobal helper r=jdescottes,webdriver-reviewers
  remote/shared/messagehandler/MessageHandler.sys.mjs
  remote/shared/messagehandler/Module.sys.mjs
  remote/shared/messagehandler/ModuleCache.sys.mjs
  remote/webdriver-bidi/modules/RootBiDiModule.sys.mjs
  remote/webdriver-bidi/modules/root/browsingContext.sys.mjs
  remote/webdriver-bidi/modules/root/input.sys.mjs
  remote/webdriver-bidi/modules/root/script.sys.mjs
Due: eslint

Bug 1890074 [Linux] Add missing <fstream> to fix GCC build r=emilio
  third_party/wayland-proxy/wayland-proxy.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1924513 - Remove code guarded by MOZ_SAFEBROWSING_DUMP_FAILED_UPDATES r=dimi
  toolkit/components/url-classifier/Classifier.cpp
  toolkit/components/url-classifier/Classifier.h
  toolkit/components/url-classifier/ProtocolParser.cpp
  toolkit/components/url-classifier/ProtocolParser.h
  toolkit/components/url-classifier/nsUrlClassifierDBService.cpp
  toolkit/components/url-classifier/nsUrlClassifierDBService.h
  toolkit/moz.configure
Due: py-black, py-ruff, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1921733 - Update load info when object loads get upgraded. r=necko-reviewers,peterv a=RyanVM
  dom/base/nsObjectLoadingContent.cpp
  dom/base/nsObjectLoadingContent.h
  dom/html/HTMLEmbedElement.cpp
  dom/html/HTMLObjectElement.cpp
  netwerk/ipc/DocumentLoadListener.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1921733 - Update load info when object loads get upgraded. r=necko-reviewers,peterv
  dom/base/nsObjectLoadingContent.cpp
  dom/base/nsObjectLoadingContent.h
  dom/html/HTMLEmbedElement.cpp
  dom/html/HTMLObjectElement.cpp
  netwerk/ipc/DocumentLoadListener.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1913193 - Ensure dedicated search button does not get stuck. r=daisuke,urlbar-reviewers
  browser/base/content/main-popupset.inc.xhtml
  browser/components/urlbar/SearchModeSwitcher.sys.mjs
  browser/components/urlbar/tests/browser/browser_searchModeSwitcher_basic.js
Due: eslint, file-whitespace

Backed out 4 changesets (bug 1920928, bug 1900395, bug 1904489) for causing dt failures @ devtools/client/debugger/test/mochitest/<...> CLOSED TREE
  browser/app/profile/firefox.js
  devtools/client/debugger/src/components/Editor/index.js
  devtools/client/debugger/src/utils/dbg.js
  devtools/client/debugger/src/utils/prefs.js
  devtools/client/debugger/test/mochitest/browser_aj.toml
  devtools/client/debugger/test/mochitest/browser_dbg-backgroundtask-debugging.js
  devtools/client/debugger/test/mochitest/browser_dbg-breakpoints-cond-shortcut.js
  devtools/client/debugger/test/mochitest/browser_dbg-browser-toolbox-workers.js
  devtools/client/debugger/test/mochitest/browser_dbg-features-wasm.js
  devtools/client/debugger/test/mochitest/browser_dbg-keyboard-navigation.js
  devtools/client/debugger/test/mochitest/browser_dbg-outline-focus.js
  devtools/client/debugger/test/mochitest/browser_dbg-preview.js
  devtools/client/debugger/test/mochitest/browser_kz.toml
  devtools/client/debugger/test/mochitest/shared-head.js
  devtools/client/framework/toolbox.js
  devtools/client/preferences/debugger.js
  devtools/client/shared/sourceeditor/editor.js
  testing/talos/talos/tests/devtools/addon/content/tests/debugger/custom.js
  testing/talos/talos/tests/devtools/addon/content/tests/debugger/debugger-helpers.js
Due: eslint

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump
  browser/locales/l10n-changesets.json
Due: eslint

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump
  mobile/locales/l10n-changesets.json
Due: eslint

Bug 1911736 - Enable dom.popup.experimental on Nightly, r=edgar
  dom/base/test/useractivation/test_popup_blocker_mouse_event.html
  dom/base/test/useractivation/test_popup_blocker_pointer_event.html
  modules/libpref/init/StaticPrefList.yaml
Due: eslint, yaml, file-whitespace

Bug 1924679 - Sort factors of a product node during simplication r=layout-reviewers,jfkthame
  servo/components/style/values/generics/calc.rs
  testing/web-platform/tests/css/css-values/calc-serialization-002.html
  testing/web-platform/tests/css/css-values/minmax-length-percent-serialize.html
Due: eslint, rustfmt, file-whitespace, trojan-source

Bug 1919330 - Add profiler markers for Glean::CustomDistributionMetric r=florian,chutten
  toolkit/components/glean/api/src/private/custom_distribution.rs
Due: rustfmt, file-whitespace, trojan-source

Bug 1918716 - Add profiler markers for Glean::EventMetric r=chutten,florian
  toolkit/components/glean/api/src/private/event.rs
Due: rustfmt, file-whitespace, trojan-source

Bug 1924240 - Pack android nsWindow fields better and clean-up initialization. r=geckoview-reviewers,m_kato
  widget/android/nsWindow.cpp
  widget/android/nsWindow.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1924240 - Make android widget handling similar to all other platforms. r=m_kato,geckoview-reviewers
  widget/android/nsWindow.cpp
  widget/android/nsWindow.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1923874 - [Menu Redesign] Show extension promotion with updated strings when all installed extensions have been disabled r=android-reviewers,petru
  mobile/android/android-components/components/browser/state/src/main/java/mozilla/components/browser/state/state/WebExtensionState.kt
  mobile/android/android-components/components/support/webextensions/src/main/java/mozilla/components/support/webextensions/WebExtensionSupport.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/menu/MenuDialogFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/menu/WebExtensionsMenuBinding.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/menu/compose/ExtensionsSubmenu.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/menu/compose/ExtensionsSubmenuBanner.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/menu/middleware/MenuTelemetryMiddleware.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/menu/store/MenuAction.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/menu/store/MenuState.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/menu/store/MenuStore.kt
  mobile/android/fenix/app/src/main/res/values/strings.xml
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/components/menu/MenuStoreTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/components/menu/WebExtensionsMenuBindingTest.kt
Due: eslint

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml
