Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, **/*.java, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml

Bug 1899090 - Part 4: Remove JS::DuplicateStencil. r=nbp
  js/public/experimental/JSStencil.h
  js/src/frontend/Stencil.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1899090 - Part 6: Use frontend::CompilationStencil instead of JS::Stencil in internal code. r=nbp
  js/src/frontend/BytecodeCompiler.cpp
  js/src/frontend/Stencil.cpp
  js/src/frontend/StencilXdr.cpp
  js/src/vm/CompilationAndEvaluation.cpp
  js/src/vm/SelfHosting.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1899090 - Part 5: Add CompilationStencil::{AddRef,Release}. r=nbp
  js/src/frontend/CompilationStencil.h
  js/src/frontend/Stencil.cpp
  js/src/vm/SelfHosting.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1899090 - Part 7: Add frontend::InstantiateStencils for InitialStencilAndDelazifications. r=nbp
  js/src/frontend/BytecodeCompiler.cpp
  js/src/frontend/BytecodeCompiler.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1899090 - Part 8: Make JS::Stencil an alias to frontend::InitialStencilAndDelazifications. r=nbp
  js/public/Transcoding.h
  js/public/experimental/JSStencil.h
  js/src/builtin/TestingFunctions.cpp
  js/src/builtin/TestingUtility.cpp
  js/src/builtin/TestingUtility.h
  js/src/frontend/BytecodeCompiler.cpp
  js/src/frontend/CompilationStencil.h
  js/src/frontend/Stencil.cpp
  js/src/frontend/StencilXdr.cpp
  js/src/frontend/StencilXdr.h
  js/src/jsapi-tests/testCompileScript.cpp
  js/src/shell/js.cpp
  js/src/vm/CompilationAndEvaluation.cpp
  js/src/vm/SelfHosting.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1899090 - Part 9: Rename *IncrementalEncoding public API to *CollectDelazifications. r=nbp
  dom/base/JSExecutionUtils.cpp
  dom/script/ModuleLoader.cpp
  dom/script/ScriptLoader.cpp
  js/public/Transcoding.h
  js/public/experimental/JSStencil.h
  js/src/frontend/Stencil.cpp
  js/src/shell/js.cpp
  js/src/vm/CompilationAndEvaluation.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1899090 - Part 10: Rename saveIncrementalBytecode option to saveBytecodeWithDelazifications in evaluate testing function. r=nbp
  js/src/jit-test/lib/bytecode-cache.js
  js/src/jit-test/tests/auto-regress/bug1468629.js
  js/src/jit-test/tests/basic/bug1057571.js
  js/src/jit-test/tests/basic/bug1061534.js
  js/src/jit-test/tests/gc/bug-1108007.js
  js/src/jit-test/tests/gc/bug-1696880.js
  js/src/jit-test/tests/parser/bug-1319443.js
  js/src/jit-test/tests/parser/bug-1431353.js
  js/src/jit-test/tests/parser/stencil-laziness-validate.js
  js/src/jit-test/tests/watchtower/bug-1871949.js
  js/src/jit-test/tests/xdr/bug1390856.js
  js/src/jit-test/tests/xdr/bug1427860.js
  js/src/jit-test/tests/xdr/bug1585158.js
  js/src/jit-test/tests/xdr/bug1607895.js
  js/src/jit-test/tests/xdr/class-relazify.js
  js/src/jit-test/tests/xdr/decode-off-thread.js
  js/src/jit-test/tests/xdr/delazifications-atoms.js
  js/src/jit-test/tests/xdr/delazifications-nest.js
  js/src/jit-test/tests/xdr/delazify-findScript-lineCount.js
  js/src/jit-test/tests/xdr/delazify-findScript-parameterNames.js
  js/src/jit-test/tests/xdr/incremental-encoder.js
  js/src/jit-test/tests/xdr/incremental-oom.js
  js/src/jit-test/tests/xdr/lazy.js
  js/src/jit-test/tests/xdr/load-nonsyntactic.js
  js/src/jit-test/tests/xdr/option-mismatch.js
  js/src/jit-test/tests/xdr/relazify.js
  js/src/jit-test/tests/xdr/runonce.js
  js/src/jit-test/tests/xdr/share-bytecode.js
  js/src/jit-test/tests/xdr/stencil-can-lazily-parse-mismatch.js
  js/src/jit-test/tests/xdr/tagged-template-literals-2.js
  js/src/jit-test/tests/xdr/tagged-template-literals.js
  js/src/shell/js.cpp
  js/src/tests/parsemark.py
Due: eslint, py-black, py-ruff, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1928758 - Avoid repositioning event if its target has not changed. r=ajakobi
  layout/base/PositionedEventTargeting.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1934191 - Handle aarch64-apple-darwin artifact builds. r=firefox-build-system-reviewers,ahochheiden
  python/mozbuild/mozbuild/artifact_builds.py
  python/mozbuild/mozbuild/artifacts.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1934757 - Update wasi-libc build-time check for latest LLVM trunk. r=firefox-build-system-reviewers,ahochheiden
  taskcluster/scripts/misc/wasi-sdk.patch
Due: none

Backed out changeset da076a6b1785 (bug 1933797) for causing bc failures in browser_canvas_randomization.js CLOSED TREE
  toolkit/components/resistfingerprinting/metrics.yaml
  toolkit/components/resistfingerprinting/nsRFPService.cpp
Due: yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1933452 - set 'mFirstFrameTime' to prevent skipping video frames in the case of newly created HW decoder fails on decoding the first frame. r=media-playback-reviewers,karlt
  dom/media/MediaFormatReader.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1935032 - Reset list of opt-in recipes every time RSEL updates r=chumphreys
  toolkit/components/nimbus/lib/RemoteSettingsExperimentLoader.sys.mjs
  toolkit/components/nimbus/test/unit/test_RemoteSettingsExperimentLoader_updateRecipes.js
Due: eslint

no bug - Merge android-l10n translations from mozilla-central r=release a=l10n
  mobile/android/android-components/components/feature/addons/src/main/res/values-es/strings.xml
  mobile/android/fenix/app/src/main/res/values-es/strings.xml
Due: eslint

Bug 1933210 - maintain tab ordering on drop group creation r=dao,tabbrowser-reviewers
  browser/components/tabbrowser/content/tabs.js
Due: eslint

Bug 1935017 - fix skipfails.py to track platforms/configs/paths better. r=aryx
  testing/skipfails.py
  testing/test/data/wayland-failures-2.json
  testing/test/data/wayland-failures-5.json
  testing/test/test_skipfails.py
Due: eslint, py-black, py-ruff, file-whitespace, trojan-source

Bug 1934221 - Implement Trusted Types support for Document's execCommand. r=smaug
  dom/base/Document.cpp
  dom/base/Document.h
  dom/webidl/Document.webidl
  testing/web-platform/meta/trusted-types/block-Document-execCommand.html.ini
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  browser/locales/l10n-changesets.json
Due: eslint

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  mobile/locales/l10n-changesets.json
Due: eslint

Bug 1934839 - Add workaround for HTTPS-Only tests with Fission on r=ajoltan
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/SettingsHTTPSOnlyModeTest.kt
Due: none

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump
  browser/locales/l10n-changesets.json
Due: eslint

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump
  mobile/locales/l10n-changesets.json
Due: eslint

Bug 1931331 - Adding prefix to multipart boundary generation to prevent false SQL injection detection. r=necko-reviewers,tjr,valentin,kershaw
  dom/html/HTMLFormSubmission.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1928660 - Allow touching gray GC things when nuking finalization record wrappers r=jandem
  js/src/gc/FinalizationObservers.cpp
  js/src/jit-test/tests/gc/bug-1928660.js
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1929618 - Check argument length rather than asserting in structured clone testing methods r=jandem
  js/src/builtin/TestingFunctions.cpp
  js/src/jit-test/tests/structured-clone/bug-1929618.js
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1919052 -Add information/documentation about side-by-side to our perftest-docs r=perftest-reviewers,sparky
  testing/perfdocs/generated/generate-side-by-side.png
  testing/perfdocs/generated/perftest-in-a-nutshell.rst
  testing/performance/perftest-in-a-nutshell/perfdocs/generate-side-by-side.png
  testing/performance/perftest-in-a-nutshell/perfdocs/index.rst
Due: file-whitespace

Bug 1935030 - Update PDF.js to new version 11ce57ac2236d06e49b078e1759d271432f3799a r=pdfjs-reviewers,fluent-reviewers,bolsson,marco
  toolkit/components/pdfjs/content/build/pdf.mjs
  toolkit/components/pdfjs/content/build/pdf.scripting.mjs
  toolkit/components/pdfjs/content/build/pdf.worker.mjs
  toolkit/components/pdfjs/content/web/viewer-geckoview.css
  toolkit/components/pdfjs/content/web/viewer-geckoview.mjs
  toolkit/components/pdfjs/content/web/viewer.css
  toolkit/components/pdfjs/content/web/viewer.html
  toolkit/components/pdfjs/content/web/viewer.mjs
  toolkit/components/pdfjs/moz.yaml
  toolkit/components/pdfjs/test/browser_pdfjs_alttext_telemetry.js
  toolkit/locales/en-US/toolkit/pdfviewer/viewer.ftl
Due: eslint, stylelint, yaml, fluent-lint, file-whitespace

Bug 1922077 - [wdspec] Fix navigation tests for the perform action commands. r=webdriver-reviewers,jdescottes
  testing/web-platform/tests/webdriver/tests/bidi/input/perform_actions/navigation.py
  testing/web-platform/tests/webdriver/tests/classic/perform_actions/navigation.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1922077 - [remote] Enable processing and dispatching actions via the parent process by default. r=webdriver-reviewers,taskgraph-reviewers,bhearsum,jdescottes
  modules/libpref/init/all.js
  remote/doc/Prefs.md
  taskcluster/kinds/test/web-platform.yml
  testing/web-platform/meta/webdriver/tests/bidi/input/perform_actions/navigation.py.ini
  testing/web-platform/meta/webdriver/tests/bidi/input/perform_actions/pointer_mouse_drag.py.ini
  testing/web-platform/meta/webdriver/tests/classic/perform_actions/key.py.ini
  testing/web-platform/meta/webdriver/tests/classic/perform_actions/key_shortcuts.py.ini
  testing/web-platform/meta/webdriver/tests/classic/perform_actions/navigation.py.ini
  testing/web-platform/meta/webdriver/tests/classic/perform_actions/pointer_mouse.py.ini
  testing/web-platform/meta/webdriver/tests/classic/perform_actions/pointer_touch.py.ini
Due: eslint, yaml, file-whitespace, test-manifest

Bug 1925291 - Propagate blocklistState to the Extension class instances. r=willdurand
  toolkit/components/extensions/Extension.sys.mjs
  toolkit/components/extensions/ExtensionActions.sys.mjs
  toolkit/mozapps/extensions/internal/XPIDatabase.sys.mjs
  toolkit/mozapps/extensions/internal/XPIProvider.sys.mjs
  toolkit/mozapps/extensions/test/xpcshell/rs-blocklist/test_blocklist_attention.js
Due: eslint

Bug 1925291 - Add Extensions Button panel a new per-item messagebar. r=willdurand,fluent-reviewers,desktop-theme-reviewers,dao,flod
  browser/base/content/browser-addons.js
  browser/base/content/browser-unified-extensions.js
  browser/base/content/unified-extensions-viewcache.inc.xhtml
  browser/components/extensions/ExtensionControlledPopup.sys.mjs
  browser/components/extensions/parent/ext-browserAction.js
  browser/components/extensions/test/AppUiTestDelegate.sys.mjs
  browser/components/extensions/test/browser/browser.toml
  browser/components/extensions/test/browser/browser_ext_browserAction_context.js
  browser/components/extensions/test/browser/browser_ext_browserAction_keyclick.js
  browser/components/extensions/test/browser/browser_ext_browserAction_pageAction_icon.js
  browser/components/extensions/test/browser/browser_ext_browserAction_pageAction_icon_permissions.js
  browser/components/extensions/test/browser/browser_ext_browserAction_popup_preload.js
  browser/components/extensions/test/browser/browser_ext_browserAction_simple.js
  browser/components/extensions/test/browser/browser_ext_getViews.js
  browser/components/extensions/test/browser/browser_ext_originControls.js
  browser/components/extensions/test/browser/browser_unified_extensions_cui.js
  browser/components/extensions/test/browser/browser_unified_extensions_item_messagebar.js
  browser/components/extensions/test/browser/browser_unified_extensions_messages.js
  browser/components/extensions/test/browser/browser_unified_extensions_overflowable_toolbar.js
  browser/components/extensions/test/browser/head.js
  browser/components/extensions/test/browser/head_unified_extensions.js
  browser/locales/en-US/browser/unifiedExtensions.ftl
  browser/themes/shared/addons/unified-extensions.css
  tools/lint/fluent-lint/exclusions.yml
Due: eslint, stylelint, yaml, fluent-lint, file-whitespace

Bug 1925291 - Tweak themed icons css rules. r=willdurand,desktop-theme-reviewers,dao
  browser/components/extensions/test/browser/browser_ext_browserAction_theme_icons.js
  browser/themes/shared/addons/unified-extensions.css
Due: eslint, stylelint, file-whitespace

Bug 1933872 - update OMT metrics expiry. r=necko-reviewers,valentin
  netwerk/metrics.yaml
Due: yaml

Bug 1927715 - [Design System API Migration] Update TabsTrayBanner to use DropdownMenu instead of ContextualMenu. r=android-reviewers,007
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/compose/menu/DropdownMenu.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/compose/menu/MenuItem.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tabstray/TabsTrayBanner.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tabstray/ext/TabsTrayState.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/tabstray/TabsTrayStateTest.kt
Due: none

Bug 1930251 - Print a warning if we reach the mark stack limit while processing the test mark queue r=sfink
  js/src/gc/GC.cpp
  js/src/jit-test/tests/gc/bug-1930251.js
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source
