Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, **/*.java, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml

MB 112: Updater customization for Mullvad Browser
  browser/app/profile/000-mullvad-browser.js
  browser/components/BrowserContentHandler.sys.mjs
  browser/confvars.sh
  browser/installer/windows/nsis/updater_append.ini
  toolkit/mozapps/extensions/AddonManager.sys.mjs
  toolkit/xre/nsAppRunner.cpp
Due: eslint, shellcheck, clang-format, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

MB 47: uBlock Origin customization
  toolkit/components/extensions/child/ext-storage.js
  toolkit/components/extensions/parent/ext-storage.js
Due: eslint

MB 21: Disable the password manager
  browser/base/content/appmenu-viewcache.inc.xhtml
  browser/base/content/nsContextMenu.js
  browser/base/content/pageinfo/pageInfo.xhtml
  browser/components/BrowserGlue.sys.mjs
  browser/components/about/AboutRedirector.cpp
  browser/components/about/components.conf
  browser/components/moz.build
  browser/components/preferences/privacy.inc.xhtml
  toolkit/components/passwordmgr/LoginHelper.sys.mjs
Due: eslint, py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

MB 160: Disable the cookie exceptions button
  browser/components/preferences/privacy.js
Due: eslint

MB 79: Add Mullvad Browser MAR signing keys
  toolkit/mozapps/update/updater/nightly_aurora_level3_primary.der
  toolkit/mozapps/update/updater/nightly_aurora_level3_secondary.der
  toolkit/mozapps/update/updater/release_primary.der
  toolkit/mozapps/update/updater/release_secondary.der
Due: none

MB 34: Hide unsafe and unwanted preferences UI
  browser/components/preferences/privacy.inc.xhtml
  browser/components/preferences/search.inc.xhtml
Due: eslint, file-whitespace

MB 188: Customize Gitlab Issue and Merge templates
  .gitlab/issue_templates/Emergency Security Issue.md
  .gitlab/issue_templates/Rebase Browser - Alpha.md
  .gitlab/issue_templates/Rebase Browser - Stable.md
  .gitlab/merge_request_templates/default.md
Due: file-whitespace

MB 163: prevent uBlock Origin from being uninstalled/disabled
  toolkit/mozapps/extensions/internal/XPIDatabase.sys.mjs
Due: eslint

MB 213: Customize the search engines list
  browser/components/search/extensions/brave/favicon.svg
  browser/components/search/extensions/brave/manifest.json
  browser/components/search/extensions/ddg-html/favicon.ico
  browser/components/search/extensions/ddg-html/manifest.json
  browser/components/search/extensions/metager/favicon.ico
  browser/components/search/extensions/metager/manifest.json
  browser/components/search/extensions/mojeek/favicon.ico
  browser/components/search/extensions/mojeek/manifest.json
  browser/components/search/extensions/mullvad-leta/favicon.svg
  browser/components/search/extensions/mullvad-leta/manifest.json
  browser/components/search/extensions/startpage/favicon.png
  browser/components/search/extensions/startpage/manifest.json
  toolkit/components/search/AppProvidedSearchEngine.sys.mjs
  toolkit/components/search/SearchService.sys.mjs
  toolkit/components/search/content/brave.svg
  toolkit/components/search/content/duckduckgo.ico
  toolkit/components/search/content/metager.ico
  toolkit/components/search/content/mojeek.ico
  toolkit/components/search/content/mullvad-leta.svg
  toolkit/components/search/content/mullvadBrowserSearchEngineIcons.json
  toolkit/components/search/content/mullvadBrowserSearchEngines.json
  toolkit/components/search/content/startpage.png
  toolkit/components/search/jar.mn
  toolkit/components/search/moz.build
Due: eslint, py-black

MB 214: Enable cross-tab identity leak protection in "quiet" mode
  toolkit/components/securitylevel/SecurityLevel.sys.mjs
Due: eslint

MB 320: Temporarily disable WebRTC and WDBA on Windows.
  mozconfig-windows-x86_64
Due: none

MB 80: Enable Mullvad Browser as a default browser
  browser/components/preferences/main.js
  browser/components/shell/ShellService.sys.mjs
  browser/components/shell/WindowsDefaultBrowser.cpp
  browser/components/shell/nsWindowsShellService.cpp
  other-licenses/nsis/Contrib/ApplicationID/Makefile
  other-licenses/nsis/Contrib/CityHash/Makefile
  toolkit/mozapps/defaultagent/EventLog.h
  toolkit/mozapps/defaultagent/SetDefaultBrowser.cpp
  widget/windows/WinTaskbar.cpp
  widget/windows/moz.build
Due: eslint, py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

fixup! MB 320: Temporarily disable WebRTC and WDBA on Windows.
  mozconfig-windows-x86_64
Due: none

MB 329: Customize toolbar for mullvad-browser.
  browser/components/customizableui/CustomizableUI.sys.mjs
Due: eslint

Bug 1928273 - Extend proxy_info_type metric to never expire. r=necko-reviewers,kershaw
  netwerk/metrics.yaml
Due: yaml

Bug 1927951 - Ensure user installed app engines are persisted. r=Standard8
  toolkit/components/search/AppProvidedSearchEngine.sys.mjs
  toolkit/components/search/SearchEngineSelector.sys.mjs
  toolkit/components/search/SearchService.sys.mjs
  toolkit/components/search/tests/xpcshell/test_userInstalledAppEngine.js
  toolkit/components/search/tests/xpcshell/xpcshell.toml
Due: eslint

Bug 1916074 - Ask users if they want to install engines they use. r=Standard8,urlbar-reviewers,fluent-reviewers
  browser/components/urlbar/ActionsProviderContextualSearch.sys.mjs
  browser/components/urlbar/tests/browser/browser.toml
  browser/components/urlbar/tests/browser/browser_contextualsearch_install.js
  browser/locales/en-US/browser/search.ftl
  toolkit/components/search/SearchService.sys.mjs
  toolkit/components/search/nsISearchService.idl
  toolkit/components/search/tests/xpcshell/xpcshell.toml
Due: eslint, fluent-lint, file-whitespace

Backed out changeset 9d9fe1cd50ec (bug 1930292) for causing Win11 visual regressions. CLOSED TREE
  browser/base/content/browser-tabsintitlebar.js
  browser/base/content/browser.xhtml
  mozglue/misc/PreXULSkeletonUI.cpp
  toolkit/content/tests/browser/browser_findbar_marks.js
  toolkit/content/tests/chrome/window_maximized_persist_with_no_titlebar.xhtml
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1923653 - tab group UI: enable "delete group". r=tabbrowser-reviewers,sthompson
  browser/components/tabbrowser/content/tabgroup-menu.js
  browser/components/tabbrowser/test/browser/tabs/browser_tab_groups.js
  browser/locales-preview/tabGroups.ftl
  browser/themes/shared/tabbrowser/tabs.css
Due: eslint, stylelint, fluent-lint, file-whitespace

Bug 1932550 - Correctly include the TikTok and Instagram opt-in shims in mobile/; r=denschub,webcompat-reviewers
  browser/extensions/webcompat/manifest.json
  mobile/android/android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/data/shims.js
  mobile/android/android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/experiment-apis/trackingProtection.js
  mobile/android/android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/experiment-apis/trackingProtection.json
  mobile/android/android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/lib/shim_messaging_helper.js
  mobile/android/android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/lib/shims.js
  mobile/android/android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/manifest.json
  mobile/android/android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/shims/instagram-embed.js
  mobile/android/android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/shims/instagram.svg
  mobile/android/android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/shims/tiktok-embed.js
  mobile/android/android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/shims/tiktok.svg
Due: eslint

Bug 1925508 - fix the Android CSS intervention for developer.apple.com; r=denschub,webcompat-reviewers
  browser/extensions/webcompat/injections/css/bug1925508-developer-apple.com-transform-scale.css
  mobile/android/android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/injections/css/bug1925508-developer-apple.com-transform-scale.css
Due: stylelint, file-whitespace

Bug 1927609 - correctly set process priority when rapidly switching tabs r=tabbrowser-reviewers,dao
  browser/components/tabbrowser/AsyncTabSwitcher.sys.mjs
  dom/ipc/tests/browser_ProcessPriorityManager.js
Due: eslint

Bug 1932467 - Update Gradle to version 8.11.1. r=android-reviewers,mcarare
  gradle/wrapper/gradle-wrapper.properties
  mobile/android/android-components/gradle/wrapper/gradle-wrapper.properties
  mobile/android/fenix/gradle/wrapper/gradle-wrapper.properties
  mobile/android/focus-android/gradle/wrapper/gradle-wrapper.properties
Due: file-whitespace

Bug 1932536 - Update Robolectric to version 4.14.1. r=android-reviewers,petru
  mobile/android/android-components/plugins/dependencies/src/main/java/DependenciesPlugin.kt
Due: none

Bug 1932513 - Fix crashing redesigned toolbar related UI tests r=ohorvath,aaronmt
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/HomeScreenWithNavbarTest.kt
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/TabbedBrowsingWithNavbarTest.kt
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/HomeScreenRobot.kt
Due: none

No Bug, mozilla-release repo-update remote-settings mobile-experiments - a=dmeehan
  mobile/android/fenix/app/src/main/res/raw/initial_experiments.json
  services/settings/dumps/security-state/intermediates.json
Due: eslint

Bug 1932613 - temporarily disable browser_ml_end_to_end.js for permanent failures. CLOSED TREE
  toolkit/components/ml/tests/browser/browser.toml
Due: none

Bug 1930836 - Initialize returned values in GetSelection{Start,End}IgnoringType. a=dmeehan
  dom/html/HTMLInputElement.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1932414: fix(passwordmgr,Relay): Ensure Firefox Relay item shows up for signed-in users regardless of site allow-list status. r=credential-management-reviewers,joschmidt,dimi
  toolkit/components/passwordmgr/test/browser/browser_relay_signup_flow.js
  toolkit/components/satchel/integrations/FirefoxRelay.sys.mjs
Due: eslint

Bug 1932606 - Disable the redesigned main menu in all UI tests r=aaronmt,ohorvath
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/helpers/FeatureSettingsHelper.kt
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/helpers/FeatureSettingsHelperDelegate.kt
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/helpers/HomeActivityTestRule.kt
Due: none

Bug 1932390 - WebCrypto: Empty algorithm should return TypeError r=keeler,JavierFernandez
  dom/crypto/WebCryptoTask.cpp
  testing/web-platform/meta/WebCryptoAPI/digest/digest.https.any.js.ini
  testing/web-platform/meta/WebCryptoAPI/generateKey/failures_AES-CBC.https.any.js.ini
  testing/web-platform/meta/WebCryptoAPI/generateKey/failures_AES-CTR.https.any.js.ini
  testing/web-platform/meta/WebCryptoAPI/generateKey/failures_AES-GCM.https.any.js.ini
  testing/web-platform/meta/WebCryptoAPI/generateKey/failures_AES-KW.https.any.js.ini
  testing/web-platform/meta/WebCryptoAPI/generateKey/failures_ECDH.https.any.js.ini
  testing/web-platform/meta/WebCryptoAPI/generateKey/failures_ECDSA.https.any.js.ini
  testing/web-platform/meta/WebCryptoAPI/generateKey/failures_Ed25519.https.any.js.ini
  testing/web-platform/meta/WebCryptoAPI/generateKey/failures_Ed448.https.any.js.ini
  testing/web-platform/meta/WebCryptoAPI/generateKey/failures_HMAC.https.any.js.ini
  testing/web-platform/meta/WebCryptoAPI/generateKey/failures_RSA-OAEP.https.any.js.ini
  testing/web-platform/meta/WebCryptoAPI/generateKey/failures_RSA-PSS.https.any.js.ini
  testing/web-platform/meta/WebCryptoAPI/generateKey/failures_RSASSA-PKCS1-v1_5.https.any.js.ini
  testing/web-platform/meta/WebCryptoAPI/generateKey/failures_X25519.https.any.js.ini
  testing/web-platform/meta/WebCryptoAPI/generateKey/failures_X448.https.any.js.ini
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Bug 1928262 - Extend all intl.ui.browser_language probes to 148, r=eemeli,settings-reviewers,mossop
  browser/components/preferences/metrics.yaml
Due: yaml

Backed out 1 changesets (bug 1914596) on request for causing Bug 1927838
  modules/libpref/init/StaticPrefList.yaml
Due: yaml

Bug 1931466: Ensure inline elements inside an empty line has zero block-size and no baseline in scrolled block frames. r=layout-reviewers,dholbert
  layout/generic/nsBlockFrame.cpp
  testing/web-platform/tests/css/css-inline/empty-span-size-001-ref.html
  testing/web-platform/tests/css/css-inline/empty-span-size-001.html
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1932597 - Add "remoteAsyncEvents" and "sessionHistoryInParent" keywords in the list of update_properties for wpt-update command. r=jgraham
  testing/web-platform/tests/tools/wptrunner/wptrunner/browsers/firefox.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1932565 - Fix the browser archive filename used for periodic_file_updates.sh. r=releng-reviewers,jcristau
  taskcluster/docker/periodic-updates/scripts/periodic_file_updates.sh
Due: shellcheck

Bug 1931570 - Add and update FOG docs for recording to Legacy Telemetry scalars r=florian DONTBUILD
  toolkit/components/glean/docs/user/glean_for_legacy_events.md
  toolkit/components/glean/docs/user/glean_for_legacy_scalars.md
  toolkit/components/glean/docs/user/migration.md
  toolkit/components/telemetry/build_scripts/mach_commands.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1928430 - Fix translated select elements changing values; r=translations-reviewers,nordzilla
  toolkit/components/translations/content/translations-document.sys.mjs
  toolkit/components/translations/tests/browser/browser_translations_translation_document.js
Due: eslint

Bug 1927571 - Make sure SelectableProfileService is initialized on about:deleteprofile. r=jhirsch
  browser/components/profiles/ProfilesParent.sys.mjs
  browser/components/profiles/tests/browser/browser.toml
  browser/components/profiles/tests/browser/browser_delete_profile_page_test.js
Due: eslint

Bug 1927572 - Set favicon for profiles pages. r=jhirsch,dao,desktop-theme-reviewers,tabbrowser-reviewers
  browser/components/profiles/ProfilesParent.sys.mjs
  browser/components/profiles/SelectableProfileService.sys.mjs
  browser/components/profiles/content/delete-profile-card.mjs
  browser/components/profiles/content/delete-profile.html
  browser/components/profiles/content/edit-profile-card.mjs
  browser/components/profiles/content/edit-profile.html
  browser/components/profiles/content/new-profile-card.mjs
  browser/components/profiles/content/new-profile.html
  browser/themes/shared/tabbrowser/tabs.css
Due: eslint, stylelint, file-whitespace
