Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

eslint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

stylelint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

py-black:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

py-ruff:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

yaml:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

shellcheck:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

clang-format:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

rustfmt:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

fluent-lint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

Bug 1937624 part 3: Add variants of WPT for 'stretch' size keyword on abspos element, with the abspos element having a static position. r=dshin
  testing/web-platform/tests/css/css-sizing/stretch/stretch-block-size-003.html
  testing/web-platform/tests/css/css-sizing/stretch/stretch-inline-size-003.html
Due: eslint, file-whitespace

Bug 1937624 part 2: Add variant of WPT for 'stretch' size keyword on abspos element, with 'stretch' set on inline-size. r=dshin
  testing/web-platform/tests/css/css-sizing/stretch/stretch-inline-size-002.html
Due: eslint, file-whitespace

Bug 1937643 - asmjs: Check max params for imports. r=yury
  js/src/jit-test/tests/asm.js/bug1937654.js
  js/src/wasm/AsmJS.cpp
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1937654 - wasm: Limit asm.js line numbers. r=jseward
  js/src/wasm/AsmJS.cpp
  js/src/wasm/WasmCodegenTypes.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1936275 - Avoid deadlock with GMP decoder/encoder shutdown. r=media-playback-reviewers,alwu
  dom/media/gmp/GMPChild.cpp
  dom/media/gmp/GMPPlatform.cpp
  dom/media/gmp/GMPPlatform.h
  dom/media/gmp/GMPVideoDecoderChild.cpp
  dom/media/gmp/GMPVideoDecoderChild.h
  dom/media/gmp/GMPVideoEncoderChild.cpp
  dom/media/gmp/GMPVideoHost.h
  modules/libpref/init/StaticPrefList.yaml
Due: yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1555815 - Letterboxing: add some exemptions. r=tjr
  browser/components/resistfingerprinting/test/browser/browser.toml
  browser/components/resistfingerprinting/test/browser/browser_dynamical_window_rounding.js
  browser/components/resistfingerprinting/test/browser/file_pdf.pdf
  toolkit/components/resistfingerprinting/RFPHelper.sys.mjs
Due: eslint

Bug 1928818 - Clean up code to remove functions from JSProto_Function in JSObject.cpp. r=mgaudet
  js/src/vm/JSObject.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1919313 - Part 1: Add --table-row-background-color/-alternate design tokens r=desktop-theme-reviewers,reusable-components-reviewers,mkennedy,hjones,dao
  toolkit/components/aboutconfig/content/aboutconfig.css
  toolkit/themes/shared/design-system/design-tokens.json
  toolkit/themes/shared/design-system/tokens-brand.css
  toolkit/themes/shared/design-system/tokens-config.js
  toolkit/themes/shared/design-system/tokens-figma.json
  toolkit/themes/shared/design-system/tokens-platform.css
  toolkit/themes/shared/design-system/tokens-shared.css
  toolkit/themes/shared/design-system/tokens-storybook.mjs
  toolkit/themes/shared/design-system/tokens-table.stories.mjs
Due: eslint, stylelint, file-whitespace

Bug 1933053 - QM: Use QuotaManagerDependencyFixture::ClearStoragesForOriginAttributesPattern helper in some other gtests; r=dom-storage-reviewers,asuth
  dom/quota/test/gtest/TestQuotaManager.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1938163 - ensure security state db is open in BackgroundReadStashTask. r=keeler
  security/manager/ssl/cert_storage/src/lib.rs
Due: rustfmt, file-whitespace, trojan-source

Bug 1774918: Consolidate accessibility mutation events in fewer IPC messages, r=Jamie,geckoview-reviewers,m_kato
  accessible/base/EventQueue.cpp
  accessible/base/NotificationController.cpp
  accessible/base/NotificationController.h
  accessible/generic/DocAccessible.cpp
  accessible/generic/LocalAccessible.cpp
  accessible/generic/LocalAccessible.h
  accessible/ipc/DocAccessibleChild.cpp
  accessible/ipc/DocAccessibleChild.h
  accessible/ipc/DocAccessibleParent.cpp
  accessible/ipc/DocAccessibleParent.h
  accessible/ipc/PDocAccessible.ipdl
  mobile/android/geckoview/src/androidTest/java/org/mozilla/geckoview/test/AccessibilityTest.kt
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Backed out changeset 6aff04842970 (bug 1912091) for causing mohcitests failures in browser_all_files_referenced.js.
  toolkit/content/jar.mn
  toolkit/content/tests/widgets/chrome.toml
  toolkit/content/tests/widgets/test_moz_input_text.html
  toolkit/content/widgets/lit-utils.mjs
  toolkit/content/widgets/moz-checkbox/moz-checkbox.mjs
  toolkit/content/widgets/moz-input-common.css
  toolkit/content/widgets/moz-input-text/moz-input-text.css
  toolkit/content/widgets/moz-input-text/moz-input-text.mjs
  toolkit/content/widgets/moz-input-text/moz-input-text.stories.mjs
  toolkit/content/widgets/moz-select/moz-select.mjs
Due: eslint, stylelint, file-whitespace

Backed out changeset 5f7cec875750 (bug 1937207) for causing xpcshell failures in test_backgroundtask_experiments.js. CLOSED TREE
  toolkit/components/nimbus/lib/TargetingContextRecorder.sys.mjs
  toolkit/components/nimbus/metrics.yaml
  toolkit/components/nimbus/test/unit/test_TargetingContextRecorder.js
Due: eslint, yaml

Bug 1921576 - Fix close button for Review Checker sidebar. r=shopping-reviewers,firefox-desktop-core-reviewers ,kpatenio
  browser/components/BrowserGlue.sys.mjs
  browser/components/shopping/ReviewCheckerParent.sys.mjs
  browser/components/shopping/ShoppingSidebarChild.sys.mjs
  browser/components/shopping/content/shopping-container.mjs
  browser/components/shopping/tests/browser/browser_integrated_sidebar.js
Due: eslint

Bug 1932202 - Add telemetry for AdBanner r=home-newtab-reviewers,reemhamz
  browser/components/newtab/content-src/components/DiscoveryStreamComponents/AdBanner/AdBanner.jsx
  browser/components/newtab/content-src/components/DiscoveryStreamComponents/CardGrid/CardGrid.jsx
  browser/components/newtab/data/content/activity-stream.bundle.js
  browser/components/newtab/lib/ActivityStream.sys.mjs
Due: eslint

Bug 1938215 - Add is_secton_followed attr to newtab.sections_impression telemetry event r=home-newtab-reviewers,nbarrett
  browser/components/newtab/content-src/components/DiscoveryStreamComponents/CardSections/CardSections.jsx
  browser/components/newtab/data/content/activity-stream.bundle.js
  browser/components/newtab/lib/TelemetryFeed.sys.mjs
  browser/components/newtab/metrics.yaml
Due: eslint, yaml

Bug 1927575 - Correct bookmark count on profile delete page. r=niklas
  browser/components/profiles/ProfilesParent.sys.mjs
  browser/components/profiles/tests/browser/browser_delete_profile_page_test.js
Due: eslint

Bug 1933911 - Show the profile selector window on first restart after creating multiple profiles. r=niklas
  browser/components/profiles/SelectableProfileService.sys.mjs
  browser/components/profiles/tests/browser/browser_test_db_lazily_created.js
Due: eslint

Bug 1931110 - Update async flush behavior to flush the group profile, not the current profile. r=mossop
  browser/components/profiles/SelectableProfileService.sys.mjs
  toolkit/profile/nsIToolkitProfileService.idl
  toolkit/profile/nsToolkitProfileService.cpp
  toolkit/profile/nsToolkitProfileService.h
  toolkit/profile/test/xpcshell/test_async_flush.js
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1931806 - Fixing position of SafeAnchor component for DSCards to wrap around content properly. r=home-newtab-reviewers,thecount
  browser/components/newtab/content-src/components/DiscoveryStreamComponents/CardSections/_CardSections.scss
  browser/components/newtab/content-src/components/DiscoveryStreamComponents/DSCard/DSCard.jsx
  browser/components/newtab/content-src/components/DiscoveryStreamComponents/DSCard/_DSCard.scss
  browser/components/newtab/content-src/components/DiscoveryStreamImpressionStats/_ImpressionStats.scss
  browser/components/newtab/css/activity-stream.css
  browser/components/newtab/data/content/activity-stream.bundle.js
  browser/components/newtab/test/unit/content-src/components/DiscoveryStreamComponents/DSCard.test.jsx
Due: eslint, stylelint, file-whitespace

Bug 1937925 - Additional devtools greenup on macosx 14.70. r=aryx,devtools-reviewers,ochameau
  devtools/client/debugger/test/mochitest/browser_aj.toml
  devtools/client/debugger/test/mochitest/browser_kz.toml
  devtools/client/framework/browser-toolbox/test/browser.toml
  devtools/client/inspector/test/browser.toml
  devtools/shared/commands/resource/tests/browser.toml
Due: none

Bug 1937112 - Add additional strings to introduce vertical tabs in an about:welcome card. r=fluent-reviewers,omc-reviewers,bolsson,mviar
  browser/locales/en-US/browser/newtab/onboarding.ftl
Due: fluent-lint, file-whitespace

Bug 1938242: Turn off dom.enable_web_task_scheduling (which was previously enabled in nightly), pending an investigation of recent associated real-world breakage. r=smaug
  modules/libpref/init/StaticPrefList.yaml
Due: yaml

Bug 1934489 - P1: Update ScrollPosition cache when "scrollable" element has no scrollable frame. r=morgan
  accessible/generic/LocalAccessible.cpp
  accessible/tests/browser/hittest/browser_test_scroll_hittest.js
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1934489 - P2: Update scroll position on CSS overflow change in each axis. r=morgan
  accessible/generic/LocalAccessible.cpp
  accessible/tests/browser/hittest/browser_test_scroll_hittest.js
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Backed out changeset ca6305692cfb (bug 1936275) for causing bp-nu build bustages in GMPVideoDecoderChild.cpp. CLOSED TREE
  dom/media/gmp/GMPChild.cpp
  dom/media/gmp/GMPPlatform.cpp
  dom/media/gmp/GMPPlatform.h
  dom/media/gmp/GMPVideoDecoderChild.cpp
  dom/media/gmp/GMPVideoDecoderChild.h
  dom/media/gmp/GMPVideoEncoderChild.cpp
  dom/media/gmp/GMPVideoHost.h
  modules/libpref/init/StaticPrefList.yaml
Due: yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

no bug - Import translations from android-l10n r=release a=l10n CLOSED TREE
  mobile/android/android-components/components/browser/errorpages/src/main/res/values-scn/strings.xml
  mobile/android/android-components/components/browser/menu/src/main/res/values-scn/strings.xml
  mobile/android/android-components/components/browser/menu2/src/main/res/values-scn/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-kmr/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-scn/strings.xml
  mobile/android/android-components/components/feature/prompts/src/main/res/values-scn/strings.xml
  mobile/android/fenix/app/src/main/res/values-el/strings.xml
  mobile/android/fenix/app/src/main/res/values-fa/strings.xml
  mobile/android/fenix/app/src/main/res/values-gn/strings.xml
  mobile/android/fenix/app/src/main/res/values-is/strings.xml
  mobile/android/fenix/app/src/main/res/values-iw/strings.xml
  mobile/android/fenix/app/src/main/res/values-kmr/strings.xml
  mobile/android/fenix/app/src/main/res/values-ml/strings.xml
  mobile/android/fenix/app/src/main/res/values-nn-rNO/strings.xml
  mobile/android/fenix/app/src/main/res/values-scn/strings.xml
  mobile/android/fenix/app/src/main/res/values-sv-rSE/strings.xml
  mobile/android/fenix/app/src/main/res/values-tt/strings.xml
  mobile/android/focus-android/app/src/main/res/values-zh-rCN/strings.xml
Due: eslint

Backed out changeset 15b78ae47a84 (bug 1555815) for causing mochitests failures in browser_dynamical_window_rounding.js. CLOSED TREE
  browser/components/resistfingerprinting/test/browser/browser.toml
  browser/components/resistfingerprinting/test/browser/browser_dynamical_window_rounding.js
  browser/components/resistfingerprinting/test/browser/file_pdf.pdf
  toolkit/components/resistfingerprinting/RFPHelper.sys.mjs
Due: eslint

Bug 1902032 - Add test variant to run select tabbrowser tests with sidebar.verticalTabs enabled. r=jmaher,sidebar-reviewers,tabbrowser-reviewers,taskgraph-reviewers,ahal,nsharpley
  browser/components/tabbrowser/test/browser/tabs/browser.toml
  taskcluster/kinds/test/mochitest.yml
  taskcluster/kinds/test/variants.yml
  taskcluster/test/test_new_config.py
  testing/mochitest/runtests.py
  tools/tryselect/test/test_fuzzy.py
Due: py-black, py-ruff, yaml, file-whitespace, trojan-source

Backed out 2 changesets (bug 1937580) for causing mochitests failures in browser_passwords_list_alerts.js. CLOSED TREE
  toolkit/components/satchel/megalist/MegalistViewModel.sys.mjs
  toolkit/components/satchel/megalist/aggregator/datasources/LoginDataSource.sys.mjs
  toolkit/components/satchel/megalist/content/MegalistAlpha.mjs
  toolkit/components/satchel/megalist/content/NotificationMessageBar.mjs
  toolkit/components/satchel/megalist/content/PasswordCard.mjs
  toolkit/components/satchel/megalist/content/megalist.css
  toolkit/components/satchel/megalist/content/megalist.ftl
  toolkit/components/satchel/megalist/content/tests/browser/browser.toml
  toolkit/components/satchel/megalist/content/tests/browser/browser_passwords_delete_login.js
  toolkit/components/satchel/megalist/content/tests/browser/browser_passwords_list_alerts.js
  toolkit/components/satchel/megalist/content/tests/browser/browser_passwords_sidebar.js
  toolkit/components/satchel/megalist/content/tests/browser/browser_passwords_update_login.js
  toolkit/components/satchel/megalist/content/tests/browser/head.js
Due: eslint, stylelint, fluent-lint, file-whitespace

Bug 1918813 - Record an event when we update the default profile in a group. r=niklas,chutten
  browser/components/profiles/SelectableProfileService.sys.mjs
  browser/components/profiles/metrics.yaml
  browser/components/profiles/tests/browser/browser_update_profile_on_window_switch.js
  browser/components/profiles/tests/browser/head.js
  toolkit/components/glean/metrics_index.py
  toolkit/components/telemetry/Events.yaml
Due: eslint, py-black, py-ruff, yaml, file-whitespace, trojan-source

Bug 1935503: Add indicator when sync is disabled for enrolled users r=sync-reviewers,desktop-theme-reviewers,markh,dao
  browser/app/profile/firefox.js
  browser/base/content/browser-sync.js
  browser/base/content/test/sync/browser_sync.js
  browser/themes/shared/customizableui/panelUI-shared.css
  toolkit/components/nimbus/FeatureManifest.yaml
Due: eslint, stylelint, yaml, file-whitespace

Bug 1937687 - Remove osx-cross-linker. r=firefox-build-system-reviewers,sergesanspaille
  taskcluster/scripts/misc/build-geckodriver.sh
  taskcluster/scripts/misc/build-rust-based-toolchain.sh
  taskcluster/scripts/misc/osx-cross-linker
Due: shellcheck

Bug 1937690 - Explicitly use lld when compiling rust-based toolchains. r=firefox-build-system-reviewers,sergesanspaille
  taskcluster/scripts/misc/build-rust-based-toolchain.sh
Due: shellcheck

Bug 1937688 - Add uv toolchain tasks. r=firefox-build-system-reviewers,sergesanspaille
  taskcluster/kinds/fetch/toolchains.yml
  taskcluster/kinds/toolchain/kind.yml
  taskcluster/kinds/toolchain/uv.yml
  taskcluster/scripts/misc/build-rust-based-toolchain.sh
Due: yaml, shellcheck

Backed out 4 changesets (bug 1937234) for causing newtab failures.
  browser/base/content/browser-sync.js
  browser/base/content/test/sync/browser.toml
  browser/base/content/test/sync/browser_signed_out_avatar_variants.js
  browser/components/asrouter/modules/ToolbarBadgeHub.sys.mjs
  browser/themes/shared/customizableui/panelUI-shared.css
  browser/themes/shared/fxa/avatar-empty-circle.svg
  browser/themes/shared/fxa/avatar-empty.svg
  browser/themes/shared/fxa/avatar-fox-circle.svg
  browser/themes/shared/fxa/avatar-fox.svg
  browser/themes/shared/fxa/circle.svg
  browser/themes/shared/jar.inc.mn
  toolkit/components/nimbus/FeatureManifest.yaml
Due: eslint, stylelint, yaml, file-whitespace

Bug 1936434 - [1/3] Remove debug_GuiEventToString r=win-reviewers,handyman
  widget/nsBaseWidget.cpp
  widget/nsBaseWidget.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1936434 - [3/3] nsWindowDbg improvements: touch messages r=gstoll,win-reviewers
  widget/windows/nsWindowDbg.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1936434 - [2/3] nsWindowDbg improvements: HITTEST values and string messages r=gstoll,win-reviewers
  widget/windows/nsWindowDbg.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Backed out changeset 73738a2d5421 (bug 1938242) for causing mochitests failures in test_worker_interfaces.html. CLOSED TREE
  modules/libpref/init/StaticPrefList.yaml
Due: yaml

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, **/*.java, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml
