Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, **/*.java, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml

Bug 32308: Use direct browser sizing for letterboxing.
  browser/actors/RFPHelperChild.sys.mjs
  browser/actors/RFPHelperParent.sys.mjs
  browser/actors/moz.build
  browser/app/profile/001-base-profile.js
  browser/base/content/browser.css
  browser/components/resistfingerprinting/test/browser/browser_dynamical_window_rounding.js
  browser/components/tabbrowser/content/tabbrowser.js
  toolkit/components/resistfingerprinting/RFPHelper.sys.mjs
  toolkit/modules/FinderParent.sys.mjs
  toolkit/themes/shared/findbar.css
Due: eslint, stylelint, py-black, file-whitespace

Bug 31575: Disable Firefox Home (Activity Stream)
  browser/base/content/browser.js
  browser/base/content/browser.js.globals
  browser/components/BrowserGlue.sys.mjs
  browser/components/about/AboutRedirector.cpp
  browser/components/about/components.conf
  browser/components/moz.build
  browser/components/newtab/AboutNewTabService.sys.mjs
  browser/components/preferences/home.inc.xhtml
  browser/components/preferences/home.js
  browser/modules/HomePage.sys.mjs
  toolkit/modules/RemotePageAccessManager.sys.mjs
Due: eslint, py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 4234: Use the Firefox Update Process for Base Browser.
  browser/app/Makefile.in
  browser/base/content/aboutDialog.js
  browser/base/content/aboutDialog.xhtml
  browser/base/moz.build
  browser/components/BrowserContentHandler.sys.mjs
  browser/components/customizableui/content/panelUI.inc.xhtml
  browser/components/preferences/main.js
  browser/config/mozconfigs/base-browser
  browser/confvars.sh
  browser/installer/Makefile.in
  browser/installer/package-manifest.in
  build/application.ini.in
  build/moz.build
  build/moz.configure/init.configure
  build/moz.configure/update-programs.configure
  mozconfig-linux-x86_64-dev
  toolkit/.eslintrc.js
  toolkit/modules/AppConstants.sys.mjs
  toolkit/modules/UpdateUtils.sys.mjs
  toolkit/modules/moz.build
  toolkit/mozapps/extensions/AddonManager.sys.mjs
  toolkit/mozapps/update/UpdateService.sys.mjs
  toolkit/mozapps/update/UpdateServiceStub.sys.mjs
  toolkit/mozapps/update/common/updatehelper.cpp
  toolkit/mozapps/update/updater/launchchild_osx.mm
  toolkit/mozapps/update/updater/updater.cpp
  toolkit/xre/MacLaunchHelper.h
  toolkit/xre/MacLaunchHelper.mm
  toolkit/xre/nsAppRunner.cpp
  toolkit/xre/nsUpdateDriver.cpp
  toolkit/xre/nsXREDirProvider.cpp
Due: eslint, py-black, py-ruff, shellcheck, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 40926: Implemented the New Identity feature
  browser/app/profile/001-base-profile.js
  browser/base/content/appmenu-viewcache.inc.xhtml
  browser/base/content/browser-init.js
  browser/base/content/browser-menubar.inc
  browser/base/content/browser-sets.inc
  browser/base/content/browser.js
  browser/base/content/browser.js.globals
  browser/base/content/navigator-toolbox.inc.xhtml
  browser/components/moz.build
  browser/components/newidentity/content/newIdentityDialog.css
  browser/components/newidentity/content/newIdentityDialog.js
  browser/components/newidentity/content/newIdentityDialog.xhtml
  browser/components/newidentity/content/newidentity.js
  browser/components/newidentity/jar.mn
  browser/components/newidentity/moz.build
  browser/modules/BrowserWindowTracker.sys.mjs
  browser/themes/shared/icons/new_identity.svg
  browser/themes/shared/jar.inc.mn
  browser/themes/shared/toolbarbutton-icons.css
Due: eslint, stylelint, py-black, file-whitespace

Bug 40925: Implemented the Security Level component
  browser/base/content/browser-init.js
  browser/base/content/browser.js
  browser/base/content/browser.js.globals
  browser/base/content/browser.xhtml
  browser/base/content/main-popupset.inc.xhtml
  browser/base/content/navigator-toolbox.inc.xhtml
  browser/components/moz.build
  browser/components/preferences/preferences.xhtml
  browser/components/preferences/privacy.inc.xhtml
  browser/components/preferences/privacy.js
  browser/components/securitylevel/content/securityLevel.js
  browser/components/securitylevel/content/securityLevelButton.css
  browser/components/securitylevel/content/securityLevelButton.inc.xhtml
  browser/components/securitylevel/content/securityLevelIcon.svg
  browser/components/securitylevel/content/securityLevelPanel.css
  browser/components/securitylevel/content/securityLevelPanel.inc.xhtml
  browser/components/securitylevel/content/securityLevelPreferences.css
  browser/components/securitylevel/content/securityLevelPreferences.inc.xhtml
  browser/components/securitylevel/jar.mn
  browser/components/securitylevel/moz.build
  browser/installer/package-manifest.in
  dom/base/nsNodeInfoManager.cpp
  mobile/android/android-components/components/feature/search/src/main/java/mozilla/components/feature/search/SearchUseCases.kt
  mobile/android/android-components/components/feature/search/src/main/java/mozilla/components/feature/search/ext/SearchEngine.kt
  mobile/android/android-components/components/feature/search/src/main/java/mozilla/components/feature/search/internal/SearchUrlBuilder.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/UseCases.kt
  mobile/android/geckoview/api.txt
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/GeckoRuntimeSettings.java
  mobile/android/installer/package-manifest.in
  toolkit/components/moz.build
  toolkit/components/search/SearchEngine.sys.mjs
  toolkit/components/securitylevel/SecurityLevel.manifest
  toolkit/components/securitylevel/SecurityLevel.sys.mjs
  toolkit/components/securitylevel/components.conf
  toolkit/components/securitylevel/moz.build
Due: eslint, stylelint, py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 42027: Base Browser migration procedures.
  browser/components/BrowserGlue.sys.mjs
  mobile/shared/components/geckoview/GeckoViewStartup.sys.mjs
Due: eslint

Bug 1920245 - Add read/write task queue helper r=zombie
  toolkit/components/extensions/ExtensionPermissions.sys.mjs
  toolkit/components/extensions/ExtensionTaskScheduler.sys.mjs
  toolkit/components/extensions/moz.build
  toolkit/components/extensions/test/xpcshell/test_ExtensionTaskScheduler.js
  toolkit/components/extensions/test/xpcshell/test_ext_startup_perf.js
  toolkit/components/extensions/test/xpcshell/xpcshell-common.toml
Due: eslint, py-black

Bug 1913964 - wasm: Ship js-string-builtins. r=bvisness,yury
  js/src/jit-test/tests/wasm/features.js
  modules/libpref/init/StaticPrefList.yaml
Due: eslint, yaml

Bug 1924803 - Remove warning when CSS zoom is used r=emilio
  dom/base/Document.cpp
  dom/base/Document.h
  dom/locales/en-US/chrome/layout/layout_errors.properties
  layout/style/Loader.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source
