Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

eslint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

stylelint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

py-black:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

py-ruff:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

yaml:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

shellcheck:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

clang-format:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

rustfmt:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

fluent-lint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

Bug 1943179 - Add `[[nodiscard]]` to `ContentIterator` methods that return `nsresult`. r=masayuki a=RyanVM
  dom/base/ContentIterator.h
  dom/base/Selection.cpp
  editor/libeditor/HTMLEditor.cpp
  editor/spellchecker/FilteredContentIterator.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1941961 - Move Nimbus initialization logic into ExperimentAPI r=emcminn
  toolkit/components/nimbus/ExperimentAPI.sys.mjs
  toolkit/components/normandy/Normandy.sys.mjs
Due: eslint

Bug 1932300 - Handle long back presses with predictive gestures enabled r=android-reviewers,petru
  mobile/android/android-components/components/support/base/src/main/java/mozilla/components/support/base/feature/UserInteractionOnBackPressedCallback.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
Due: none

Bug 1936670 - Add alt text to profile avatars. r=profiles-reviewers,fluent-reviewers,jhirsch,flod
  browser/components/profiles/SelectableProfile.sys.mjs
  browser/components/profiles/SelectableProfileService.sys.mjs
  browser/components/profiles/content/avatar.mjs
  browser/components/profiles/content/delete-profile-card.mjs
  browser/components/profiles/content/edit-profile-card.mjs
  browser/locales/en-US/browser/profiles.ftl
Due: eslint, fluent-lint, file-whitespace

Bug 1931402 - Add undo button for new theme installation - r=fluent-reviewers,rpl,Gijs,willdurand
  browser/components/customizableui/content/panelUI.inc.xhtml
  browser/locales/en-US/browser/appMenuNotifications.ftl
  browser/modules/ExtensionsUI.sys.mjs
  toolkit/mozapps/extensions/internal/XPIDatabase.sys.mjs
  toolkit/mozapps/extensions/internal/XPIInstall.sys.mjs
  toolkit/mozapps/extensions/test/browser/browser.toml
  toolkit/mozapps/extensions/test/browser/browser_theme_undo.js
  toolkit/mozapps/extensions/test/browser/browser_webapi_theme.js
  toolkit/mozapps/extensions/test/browser/browser_webext_incognito.js
  toolkit/mozapps/extensions/test/browser/head.js
  toolkit/mozapps/extensions/test/browser/head_disco.js
Due: eslint, fluent-lint, file-whitespace

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  browser/locales/l10n-changesets.json
Due: eslint

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  mobile/locales/l10n-changesets.json
Due: eslint

Bug 1943293 - [WebCompat Reporter] Validate URL on the Report Broken Site form r=android-reviewers,007
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/webcompat/store/WebCompatReporterStore.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/webcompat/store/WebCompatReporterStoreTest.kt
Due: none

Bug 1931986, Bug 1931988 - Part 1 - Move AcornWindowSize outside of AcornLayout r=android-reviewers,pollymce,rsainani
  mobile/android/android-components/components/compose/base/src/main/java/mozilla/components/compose/base/annotation/FlexibleWindowLightDarkPreview.kt
  mobile/android/android-components/components/compose/base/src/main/java/mozilla/components/compose/base/annotation/FlexibleWindowPreview.kt
  mobile/android/android-components/components/compose/base/src/main/java/mozilla/components/compose/base/theme/AcornLayout.kt
  mobile/android/android-components/components/compose/base/src/main/java/mozilla/components/compose/base/theme/layout/AcornWindowSize.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/BrowserFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/TabPreview.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/navbar/NavBarUtils.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/customtabs/CustomTabsIntegration.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/customtabs/ExternalAppBrowserFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/ext/Context.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/theme/FirefoxTheme.kt
Due: none

Bug 1931986, Bug 1931988 - Part 2 - Implement the finalized V1 of the Acorn Size and Space tokens r=android-reviewers,tthibaud,rsainani
  mobile/android/android-components/components/compose/base/src/main/java/mozilla/components/compose/base/theme/AcornLayout.kt
  mobile/android/android-components/components/compose/base/src/main/java/mozilla/components/compose/base/theme/AcornTheme.kt
  mobile/android/android-components/components/compose/base/src/main/java/mozilla/components/compose/base/theme/layout/AcornLayout.kt
  mobile/android/android-components/components/compose/base/src/main/java/mozilla/components/compose/base/theme/layout/AcornSize.kt
  mobile/android/android-components/components/compose/base/src/main/java/mozilla/components/compose/base/theme/layout/AcornSpace.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/theme/FirefoxTheme.kt
Due: none

Bug 1931986, Bug 1931988 - Part 3 - Refactor the pre-existing usages of the size and space tokens r=android-reviewers,pollymce
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/tabstrip/TabStripTabCounterButton.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/compose/Dropdown.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/compose/menu/DropdownMenu.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/debugsettings/cfrs/CfrTools.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/debugsettings/gleandebugtools/ui/GleanDebugToolsScreen.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/downloads/listscreen/DownloadsScreen.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/wallpaper/WallpaperSettings.kt
Due: none

Bug 1914323 - Mark some tests as expectedly failing on android.
  testing/web-platform/meta/css/css-view-transitions/massive-element-left-of-viewport-partially-onscreen-new.html.ini
  testing/web-platform/meta/css/css-view-transitions/massive-element-left-of-viewport-partially-onscreen-old.html.ini
Due: test-manifest

Bug 1943079 - Add storage access heuristics to Nimbus manifest for desktop - r=timhuang
  toolkit/components/nimbus/FeatureManifest.yaml
Due: yaml

Backed out changeset c14d9a0f2af7 (bug 1943277) for causing mochitests failures in browser_creditCard_telemetry.js. CLOSED TREE
  toolkit/components/formautofill/FormAutofillChild.sys.mjs
Due: eslint

Bug 1940541 - Enable the Web Compat Reporter in Beta + Release r=android-reviewers,calu,npoon
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/FeatureFlags.kt
Due: none

Bug 1943823: Avoid leaking BaselineCompiler r=jandem
  js/src/jit/BaselineCompileTask.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1943304 - Fix check for ScotchBonnet disabled. r=willdurand
  toolkit/components/extensions/test/browser/browser_ext_themes_autocomplete_popup.js
Due: eslint

Bug 1936669 - Add missing l10n ID to logo image on profile selector window. r=profiles-reviewers,fluent-reviewers,flod,cmkm
  browser/components/profiles/content/profile-selector.mjs
  browser/locales/en-US/browser/profiles.ftl
Due: eslint, fluent-lint, file-whitespace

Bug 1710884 - Add JS_LOG and timing to JS engine startup to get insight into XDR decode. r=nbp
  js/src/vm/Logging.h
  js/src/vm/SelfHosting.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1710884 - Enable Android to use the self-hosted shared-memory cache for process startup r=nika
  ipc/glue/ProcessUtils_common.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1944161 - Null-check flattened parent element in DoARIAOwnsRelocation. r=nlapre
  accessible/generic/DocAccessible.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1937666 - Add strings needed for Unified Search Button callout. r=aminomancer,fluent-reviewers,omc-reviewers,bolsson
  browser/locales/en-US/browser/featureCallout.ftl
Due: fluent-lint, file-whitespace

Bug 1938047 - Move VideoFrameConverter to an injected serial event target. r=webrtc-reviewers,ng
  dom/media/Pacer.h
  dom/media/VideoFrameConverter.h
  dom/media/gtest/TestPacer.cpp
  dom/media/gtest/TestVideoFrameConverter.cpp
  dom/media/webrtc/transportbridge/MediaPipeline.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1938047 - Link adapted_video_track_source.cc and generate webrtc moz.build files. r=ng,webrtc-reviewers
  third_party/libwebrtc/media/BUILD.gn
  third_party/libwebrtc/media/adapted_video_track_source_gn/moz.build
Due: py-black

Bug 1938047 - Remove warning about max-mbps not being supported. r=dbaker
  dom/media/webrtc/libwebrtcglue/VideoStreamFactory.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1938047 - Always recreate the VideoStreamFactory on stream creation and encoder reconfiguration. r=webrtc-reviewers,dbaker
  dom/media/webrtc/libwebrtcglue/VideoConduit.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1938047 - Hook up VideoStreamFactory with EncoderInfo like the libwebrtc factory. r=webrtc-reviewers,dbaker
  dom/media/webrtc/libwebrtcglue/VideoStreamFactory.cpp
  dom/media/webrtc/libwebrtcglue/VideoStreamFactory.h
  media/webrtc/signaling/gtest/MockCall.h
  media/webrtc/signaling/gtest/videoconduit_unittests.cpp
  third_party/libwebrtc/video/config/video_encoder_config.h
  third_party/libwebrtc/video/video_stream_encoder.cc
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1938047 - In VideoConduit don't use VideoStreamFactory to set size and framerate caps. r=webrtc-reviewers,dbaker
  dom/media/webrtc/libwebrtcglue/VideoConduit.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1938047 - Wire up VideoFrameConverter to libwebrtc through AdaptedVideoTrackSource. r=webrtc-reviewers,ng
  dom/media/VideoFrameConverter.h
  dom/media/gtest/TestVideoFrameConverter.cpp
  dom/media/webrtc/jsapi/RTCStatsReport.cpp
  dom/media/webrtc/jsapi/RTCStatsReport.h
  dom/media/webrtc/libwebrtcglue/MediaConduitInterface.h
  dom/media/webrtc/libwebrtcglue/VideoConduit.cpp
  dom/media/webrtc/libwebrtcglue/VideoConduit.h
  dom/media/webrtc/libwebrtcglue/VideoStreamFactory.cpp
  dom/media/webrtc/libwebrtcglue/VideoStreamFactory.h
  dom/media/webrtc/transportbridge/MediaPipeline.cpp
  media/webrtc/signaling/gtest/videoconduit_unittests.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1938047 - Use gfx::IntSize instead of a custom struct for last frame resolution in VideoConduit. r=webrtc-reviewers,ng
  dom/media/webrtc/jsapi/RTCRtpSender.cpp
  dom/media/webrtc/libwebrtcglue/MediaConduitInterface.h
  dom/media/webrtc/libwebrtcglue/VideoConduit.cpp
  dom/media/webrtc/libwebrtcglue/VideoConduit.h
  dom/media/webrtc/libwebrtcglue/VideoStreamFactory.cpp
  dom/media/webrtc/libwebrtcglue/VideoStreamFactory.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1938047 - Apply SinkWants in VideoFrameConverter. r=webrtc-reviewers,ng
  dom/media/VideoFrameConverter.h
  dom/media/gtest/TestVideoFrameConverter.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1938047 - Allow creating streams with no resolution. r=webrtc-reviewers,ng
  dom/media/webrtc/libwebrtcglue/VideoStreamFactory.cpp
  media/webrtc/signaling/gtest/videoconduit_unittests.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1938047 - Apply scale locking (for tests) in VideoFrameConverter and VideoConduit. r=webrtc-reviewers,ng
  dom/media/VideoFrameConverter.h
  dom/media/gtest/TestVideoFrameConverter.cpp
  dom/media/webrtc/libwebrtcglue/MediaConduitInterface.h
  dom/media/webrtc/libwebrtcglue/VideoConduit.cpp
  dom/media/webrtc/libwebrtcglue/VideoConduit.h
  dom/media/webrtc/transportbridge/MediaPipeline.cpp
  media/webrtc/signaling/gtest/videoconduit_unittests.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1938047 - Use proper timestamp type for last sent frame in VideoConduit. r=webrtc-reviewers,bwc
  dom/media/webrtc/libwebrtcglue/VideoConduit.cpp
  dom/media/webrtc/libwebrtcglue/VideoConduit.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1938047 - Fix warnings and general cleanup. r=webrtc-reviewers,bwc
  dom/media/webrtc/libwebrtcglue/VideoConduit.cpp
  dom/media/webrtc/libwebrtcglue/VideoConduit.h
  dom/media/webrtc/libwebrtcglue/VideoStreamFactory.cpp
  dom/media/webrtc/libwebrtcglue/VideoStreamFactory.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1942349 - Rename translation pair to language pair; r=translations-reviewers,nordzilla
  browser/components/translations/content/fullPageTranslationsPanel.js
  browser/components/translations/content/selectTranslationsPanel.js
  browser/components/translations/tests/browser/head.js
  toolkit/components/translations/actors/TranslationsParent.sys.mjs
  toolkit/components/translations/content/translations-engine.sys.mjs
  toolkit/components/translations/tests/browser/browser_translations_lang_tags.js
Due: eslint

Bug 1942349 - De-privilege TranslationUtils so that it can be used in about:translations; r=translations-reviewers,geckoview-reviewers,ohall,nordzilla
  browser/components/translations/content/fullPageTranslationsPanel.js
  mobile/shared/modules/geckoview/GeckoViewTranslations.sys.mjs
  toolkit/components/translations/TranslationsUtils.mjs
  toolkit/components/translations/actors/TranslationsParent.sys.mjs
  toolkit/components/translations/content/translations-document.sys.mjs
  toolkit/components/translations/jar.mn
  toolkit/components/translations/tests/browser/shared-head.js
Due: eslint

Bug 1942349 - Remove models that are variants in Android; r=ohall,translations-reviewers,geckoview-reviewers,nordzilla
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/TranslationsController.java
  mobile/shared/modules/geckoview/GeckoViewTranslations.sys.mjs
  mobile/shared/modules/geckoview/test/mochitest/test_geckoview_translations.html
Due: eslint, file-whitespace

Bug 1942349 - Add support for model variants; r=translations-reviewers,settings-reviewers,mossop,nordzilla
  browser/base/content/nsContextMenu.sys.mjs
  browser/components/preferences/translations.js
  browser/components/translations/content/TranslationsPanelShared.sys.mjs
  browser/components/translations/content/fullPageTranslationsPanel.js
  browser/components/translations/content/selectTranslationsPanel.js
  browser/components/translations/tests/browser/browser_translations_full_page_panel_weblanguage_differs_from_app.js
  toolkit/components/translations/TranslationsTelemetry.sys.mjs
  toolkit/components/translations/TranslationsUtils.mjs
  toolkit/components/translations/actors/AboutTranslationsChild.sys.mjs
  toolkit/components/translations/actors/AboutTranslationsParent.sys.mjs
  toolkit/components/translations/actors/TranslationsChild.sys.mjs
  toolkit/components/translations/actors/TranslationsEngineChild.sys.mjs
  toolkit/components/translations/actors/TranslationsEngineParent.sys.mjs
  toolkit/components/translations/actors/TranslationsParent.sys.mjs
  toolkit/components/translations/content/Translator.mjs
  toolkit/components/translations/content/translations-document.sys.mjs
  toolkit/components/translations/content/translations-engine.sys.mjs
  toolkit/components/translations/content/translations-engine.worker.js
  toolkit/components/translations/content/translations.mjs
  toolkit/components/translations/tests/browser/browser_translations_actor.js
  toolkit/components/translations/tests/browser/browser_translations_actor_sync_wasm.js
  toolkit/components/translations/tests/browser/browser_translations_remote_settings.js
  toolkit/components/translations/tests/browser/shared-head.js
  toolkit/components/translations/translations.d.ts
Due: eslint

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, **/*.java, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml
