Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

eslint:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py eslint

stylelint:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py stylelint

py-black:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py black

py-ruff:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py ruff

yaml:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py yaml

shellcheck:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py shellcheck

clang-format:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  ...

rustfmt:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py rustfmt

fluent-lint:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py fluent-lint

localization:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py l10n

Bug 1921554 - Generate gfx blocklist features/status/etc list to create downloadable blocklist bindings. r=bradwerth,jnicol
  gfx/tests/gtest/TestConfigManager.cpp
  toolkit/modules/Troubleshoot.sys.mjs
  toolkit/mozapps/extensions/test/xpcshell/data/test_gfxBlocklist.json
  toolkit/mozapps/extensions/test/xpcshell/data/test_gfxBlocklist_AllOS.json
  toolkit/mozapps/extensions/test/xpcshell/data/test_gfxBlocklist_OSVersion.json
  toolkit/mozapps/extensions/test/xpcshell/rs-blocklist/test_gfxBlacklist_Equal_DriverNew.js
  toolkit/mozapps/extensions/test/xpcshell/rs-blocklist/test_gfxBlacklist_OSVersion_match.js
  toolkit/mozapps/extensions/test/xpcshell/rs-blocklist/test_gfxBlacklist_Version.js
  toolkit/mozapps/extensions/test/xpcshell/rs-blocklist/test_gfxBlocklist_Device.js
  toolkit/mozapps/extensions/test/xpcshell/rs-blocklist/test_gfxBlocklist_DriverNew.js
  toolkit/mozapps/extensions/test/xpcshell/rs-blocklist/test_gfxBlocklist_Equal_DriverNew.js
  toolkit/mozapps/extensions/test/xpcshell/rs-blocklist/test_gfxBlocklist_Equal_DriverOld.js
  toolkit/mozapps/extensions/test/xpcshell/rs-blocklist/test_gfxBlocklist_Equal_OK.js
  toolkit/mozapps/extensions/test/xpcshell/rs-blocklist/test_gfxBlocklist_GTE_DriverOld.js
  toolkit/mozapps/extensions/test/xpcshell/rs-blocklist/test_gfxBlocklist_GTE_OK.js
  toolkit/mozapps/extensions/test/xpcshell/rs-blocklist/test_gfxBlocklist_No_Comparison.js
  toolkit/mozapps/extensions/test/xpcshell/rs-blocklist/test_gfxBlocklist_OK.js
  toolkit/mozapps/extensions/test/xpcshell/rs-blocklist/test_gfxBlocklist_OS.js
  toolkit/mozapps/extensions/test/xpcshell/rs-blocklist/test_gfxBlocklist_OSVersion_match.js
  toolkit/mozapps/extensions/test/xpcshell/rs-blocklist/test_gfxBlocklist_OSVersion_mismatch_DriverVersion.js
  toolkit/mozapps/extensions/test/xpcshell/rs-blocklist/test_gfxBlocklist_OSVersion_mismatch_OSVersion.js
  toolkit/mozapps/extensions/test/xpcshell/rs-blocklist/test_gfxBlocklist_Vendor.js
  toolkit/mozapps/extensions/test/xpcshell/rs-blocklist/test_gfxBlocklist_Version.js
  toolkit/mozapps/extensions/test/xpcshell/rs-blocklist/test_gfxBlocklist_prefs.js
  toolkit/mozapps/extensions/test/xpcshell/rs-blocklist/xpcshell.toml
  tools/lint/rejected-words.yml
  widget/GfxDriverInfo.cpp
  widget/GfxDriverInfo.h
  widget/GfxInfoBase.cpp
  widget/GfxInfoBase.h
  widget/GfxInfoDeviceVendorDefs.h
  widget/GfxInfoDriverVendorDefs.h
  widget/GfxInfoDriverVersionCmpDefs.h
  widget/GfxInfoFeatureDefs.h
  widget/GfxInfoFeatureStatusDefs.h
  widget/GfxInfoOperatingSystemDefs.h
  widget/GfxInfoWindowProtocolDefs.h
  widget/moz.build
  widget/nsIGfxInfo.idl
  widget/windows/GfxInfo.cpp
Due: eslint, py-black, yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Bug 1922888 - Fix IndexConsumer::getContext(SourceLocation) when Ctxt->Decl is null. r=asuth
  build/clang-plugin/mozsearch-plugin/MozsearchIndexer.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  browser/locales/l10n-changesets.json
Due: eslint

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  mobile/locales/l10n-changesets.json
Due: eslint

no bug - Import translations from android-l10n r=release a=l10n CLOSED TREE
  mobile/android/android-components/components/browser/engine-system/src/main/res/values-yua/strings.xml
  mobile/android/android-components/components/browser/errorpages/src/main/res/values-yua/strings.xml
  mobile/android/android-components/components/feature/prompts/src/main/res/values-is/strings.xml
  mobile/android/fenix/app/src/main/res/values-is/strings.xml
  mobile/android/focus-android/app/src/main/res/values-is/strings.xml
  mobile/android/focus-android/app/src/main/res/values-ixl/strings.xml
  mobile/android/focus-android/app/src/main/res/values-yua/strings.xml
Due: eslint

Bug 1922645 - Do not use stale cached profile when authType is a new signin r=lina
  mobile/android/android-components/components/service/firefox-accounts/src/main/java/mozilla/components/service/fxa/manager/FxaAccountManager.kt
  mobile/android/android-components/components/service/firefox-accounts/src/main/java/mozilla/components/service/fxa/store/SyncStoreSupport.kt
  mobile/android/android-components/components/service/firefox-accounts/src/test/java/mozilla/components/service/fxa/store/SyncStoreSupportTest.kt
Due: none

Bug 1913561 - Remove QuotaManager::EnsureTemporaryStorageIsInitializedInternal calls from places where a directory lock is obtained via QuotaManager::OpenClientDirectory; r=dom-storage-reviewers,jari
  dom/cache/Context.cpp
  dom/fs/parent/datamodel/FileSystemFileManager.cpp
  dom/indexedDB/ActorsParent.cpp
  dom/localstorage/ActorsParent.cpp
  dom/quota/test/gtest/TestFileOutputStream.cpp
  dom/quota/test/gtest/TestStorageConnection.cpp
  dom/simpledb/ActorsParent.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

no bug - Merge android-l10n translations from mozilla-central r=release a=l10n
  mobile/android/fenix/app/src/main/res/values-gn/strings.xml
  mobile/android/fenix/app/src/main/res/values-ko/strings.xml
  mobile/android/focus-android/app/src/main/res/values-da/strings.xml
Due: eslint

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump
  browser/locales/l10n-changesets.json
Due: eslint

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump
  mobile/locales/l10n-changesets.json
Due: eslint

Bug 1921972 - Don't add external protocol navigations to the loadgroup. r=smaug,necko-reviewers
  docshell/base/nsDocShell.cpp
  netwerk/ipc/DocumentChannelChild.cpp
  testing/web-platform/tests/html/browsers/browsing-the-web/navigating-across-documents/resources/unknown-protocol-reload-crash-frame.html
  testing/web-platform/tests/html/browsers/browsing-the-web/navigating-across-documents/unknown-protocol-reload-crash.html
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1921937 - [devtools] Fix retrieval of computed style for pseudo element node. a=RyanVM.
  devtools/client/inspector/rules/test/browser_rules_inactive_css_inline.js
  devtools/server/actors/style-rule.js
Due: eslint

Bug 1921937 - [devtools] Don't pass pseudo to _styleRef when handling inline style. a=RyanVM.
  devtools/client/inspector/rules/test/browser_rules_inactive_css_inline.js
  devtools/server/actors/page-style.js
Due: eslint

Bug 1922511 - [devtools] Avoid sending custom property declarations to getCSSDeclarationBlockIssues. a=RyanVM.
  devtools/shared/commands/inspector/inspector-command.js
Due: eslint

Bug 1918617 - [devtools] Don't apply top margin on prompt dialogs when RDM is enabled. a=RyanVM.
  devtools/client/responsive/responsive-browser.css
Due: stylelint, file-whitespace

Backed out changeset fac554892fe6 (bug 1922645) for causing service-firefox-accounts build bustages.
  mobile/android/android-components/components/service/firefox-accounts/src/main/java/mozilla/components/service/fxa/manager/FxaAccountManager.kt
  mobile/android/android-components/components/service/firefox-accounts/src/main/java/mozilla/components/service/fxa/store/SyncStoreSupport.kt
  mobile/android/android-components/components/service/firefox-accounts/src/test/java/mozilla/components/service/fxa/store/SyncStoreSupportTest.kt
Due: none

Bug 1921762 - Fix horizontal tabstrip drop animation a=RyanVM
  browser/components/tabbrowser/content/tabs.js
Due: eslint

Backed out changeset 4888b2f651bc (bug 1921972) for causing multiple failures. CLOSED TREE
  docshell/base/nsDocShell.cpp
  netwerk/ipc/DocumentChannelChild.cpp
  testing/web-platform/tests/html/browsers/browsing-the-web/navigating-across-documents/resources/unknown-protocol-reload-crash-frame.html
  testing/web-platform/tests/html/browsers/browsing-the-web/navigating-across-documents/unknown-protocol-reload-crash.html
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1917742 - Share link-target escaping code between DrawTargetCairo::Link and DrawTargetCairo::Destination. a=RyanVM
  gfx/2d/DrawTargetCairo.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1922957 - Cache DrawTargetWebgl contents when dormant. r=aosmond
  gfx/layers/ipc/CanvasChild.cpp
  gfx/layers/ipc/CanvasTranslator.cpp
  gfx/layers/ipc/CanvasTranslator.h
  gfx/layers/ipc/PCanvas.ipdl
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1913561 - Add support for initializing temporary storage to QuotaManager::OpenStorageDirectory; r=dom-storage-reviewers,jari
  dom/indexedDB/ActorsParent.cpp
  dom/quota/ActorsParent.cpp
  dom/quota/OriginOperations.cpp
  dom/quota/PersistenceScope.cpp
  dom/quota/PersistenceScope.h
  dom/quota/QuotaManager.h
  dom/quota/moz.build
Due: py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

no bug - Import translations from android-l10n r=release a=l10n CLOSED TREE
  mobile/android/android-components/components/browser/errorpages/src/main/res/values-yua/strings.xml
  mobile/android/android-components/components/browser/menu/src/main/res/values-yua/strings.xml
  mobile/android/android-components/components/browser/menu2/src/main/res/values-yua/strings.xml
  mobile/android/android-components/components/browser/toolbar/src/main/res/values-yua/strings.xml
  mobile/android/android-components/components/browser/toolbar2/src/main/res/values-yua/strings.xml
  mobile/android/android-components/components/compose/awesomebar/src/main/res/values-yua/strings.xml
  mobile/android/android-components/components/compose/browser-toolbar/src/main/res/values-yua/strings.xml
  mobile/android/android-components/components/compose/cfr/src/main/res/values-yua/strings.xml
  mobile/android/android-components/components/compose/tabstray/src/main/res/values-yua/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-yua/strings.xml
  mobile/android/android-components/components/feature/app-links/src/main/res/values-yua/strings.xml
  mobile/android/android-components/components/feature/autofill/src/main/res/values-yua/strings.xml
  mobile/android/android-components/components/feature/awesomebar/src/main/res/values-yua/strings.xml
  mobile/android/android-components/components/feature/contextmenu/src/main/res/values-yua/strings.xml
  mobile/android/android-components/components/feature/customtabs/src/main/res/values-yua/strings.xml
  mobile/android/android-components/components/feature/downloads/src/main/res/values-yua/strings.xml
  mobile/android/android-components/components/feature/prompts/src/main/res/values-eu/strings.xml
  mobile/android/fenix/app/src/main/res/values-ar/strings.xml
  mobile/android/fenix/app/src/main/res/values-eu/strings.xml
  mobile/android/focus-android/app/src/main/res/values-ar/strings.xml
  mobile/android/focus-android/app/src/main/res/values-eu/strings.xml
  mobile/android/focus-android/app/src/main/res/values-lo/strings.xml
Due: eslint

no bug - Merge android-l10n translations from mozilla-central r=release a=l10n
  mobile/android/android-components/components/browser/engine-system/src/main/res/values-yua/strings.xml
  mobile/android/android-components/components/browser/errorpages/src/main/res/values-yua/strings.xml
  mobile/android/android-components/components/feature/prompts/src/main/res/values-is/strings.xml
  mobile/android/fenix/app/src/main/res/values-is/strings.xml
  mobile/android/focus-android/app/src/main/res/values-is/strings.xml
  mobile/android/focus-android/app/src/main/res/values-ixl/strings.xml
  mobile/android/focus-android/app/src/main/res/values-yua/strings.xml
Due: eslint

Bug 1920767 - [Menu Redesign] Adjust bottom sheet handlebar TalkBack label r=android-reviewers,ohall
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/menu/MenuDialogFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/menu/compose/MenuDialogBottomSheet.kt
  mobile/android/fenix/app/src/main/res/values/strings.xml
Due: eslint

Bug 1913105 - Add test tags for the navbar r=android-reviewers,ajoltan,skhan
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/navbar/NavBarTestTags.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/navbar/NavigationBar.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/navbar/NewTabButton.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/navbar/ToolbarTabCounterButton.kt
Due: none

Bug 1922721 - Enable async FlushRendering during resizing window if Windows DirectComposition is used r=gfx-reviewers,aosmond
  gfx/layers/wr/WebRenderLayerManager.cpp
  modules/libpref/init/StaticPrefList.yaml
Due: yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1915094 - Target SDK 35 in Focus r=android-reviewers,jonalmeida
  mobile/android/focus-android/app/build.gradle
Due: none

Bug 1919218 - Part 1: Merge http-on-image-cache-response notification to http-on-resource-cache-response. r=emilio,devtools-reviewers,jdescottes
  devtools/client/netmonitor/test/browser_net_statistics-edge-case.js
  devtools/server/actors/resources/network-events-content.js
  image/imgLoader.cpp
  image/test/mochitest/test_image_cache_notification.html
  xpcom/ds/nsObserverService.cpp
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1919218 - Part 2: Merge http-on-stylesheet-cache-response notification to http-on-resource-cache-response. r=emilio,Sasha,webdriver-reviewers,devtools-reviewers,jdescottes
  devtools/server/actors/resources/network-events-content.js
  layout/style/Loader.cpp
  remote/shared/listeners/CachedResourceListener.sys.mjs
  xpcom/ds/nsObserverService.cpp
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1919508 part 2 - fix treeherder symbol for beetmover-geckoview. r=taskgraph-reviewers,jmaher DONTBUILD
  taskcluster/gecko_taskgraph/transforms/beetmover_geckoview.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1922620 - Fix disnative testing function to not return false without reporting an exception. r=arai
  js/src/builtin/TestingFunctions.cpp
  js/src/jit-test/tests/basic/bug1922620.js
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml
