Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, **/*.java, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml

Bug 1933428 - Part 1: Check sandbox flags in ThirdPartyUtil::IsThirdPartyWindow() and ThirdPartyUtil::IsThirdPartyGlobal(). r=bvandersloot
  dom/base/ThirdPartyUtil.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1933428 - Part 3: Recompute partitionKey for top-level documents if required. r=bvandersloot,smaug
  dom/base/Document.cpp
  dom/base/Document.h
  toolkit/components/resistfingerprinting/nsRFPService.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1933428 - Part 2: Merge the mPartitionKey for the CookieJarSettings when loadInfos get merged in the child process. r=bvandersloot,cookie-reviewers,valentin
  netwerk/cookie/CookieJarSettings.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1933428 - Part 4: Add a test to ensure we don't hit invalid first-party cookie assertion. r=bvandersloot,anti-tracking-reviewers
  toolkit/components/antitracking/test/browser/browser.toml
  toolkit/components/antitracking/test/browser/browser_thirdPartyChecks_sandboxed_context.js
  toolkit/components/antitracking/test/browser/sandboxedWithImg.html
  toolkit/components/antitracking/test/browser/sandboxedWithImg.html^headers^
  toolkit/components/antitracking/test/browser/setCookieImg.jpg
  toolkit/components/antitracking/test/browser/setCookieImg.jpg^headers^
Due: eslint, file-whitespace

Bug 1933428 - Part 5: Consider sandbox flags in AntiTrackingUtils::IsThirdPartyDocument(). r=bvandersloot,anti-tracking-reviewers
  toolkit/components/antitracking/AntiTrackingUtils.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1933428 - Part 6: Modify the way how we merge cookieJarSettings. r=bvandersloot,cookie-reviewers,valentin
  ipc/glue/BackgroundUtils.cpp
  netwerk/cookie/CookieJarSettings.cpp
  netwerk/cookie/CookieJarSettings.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1933428 - Part 7: Update the test expection of web-platform-test network-partition-key.html. r=bvandersloot
  testing/web-platform/meta/fetch/connection-pool/network-partition-key.html.ini
Due: test-manifest

Bug 1933428 - Part 8: Support null principal URIs for ThirdPartyUtil::GetBaseDomain() r=bvandersloot
  dom/base/ThirdPartyUtil.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1933428 - Part 10: Update the test test_bug1769155.html. r=smaug
  dom/xslt/tests/mochitest/test_bug1769155.html
Due: eslint, file-whitespace

Bug 1933428 - Part 9: Enforce Session if the cookies is partitioned by a null principal partitionKey. r=valentin,cookie-reviewers,anti-tracking-reviewers,bvandersloot
  netwerk/cookie/Cookie.cpp
  netwerk/cookie/CookieCommons.cpp
  netwerk/cookie/CookieCommons.h
  toolkit/components/antitracking/test/browser/browser_thirdPartyChecks_sandboxed_context.js
  toolkit/components/antitracking/test/browser/setCookieImg.jpg^headers^
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1933428: apply code formatting via Lando
  dom/base/Document.h
  netwerk/cookie/CookieJarSettings.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1935634: Block loading the profile management pages if the feature is disabled. r=niklas
  browser/components/about/AboutRedirector.cpp
  browser/components/contextualidentity/test/browser/browser_aboutURLs.js
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1940221 [Wayland] Update linux-dmabuf-unstable-v1 headers to latest version r=emilio
  widget/gtk/wayland/linux-dmabuf-unstable-v1-client-protocol.h
  widget/gtk/wayland/linux-dmabuf-unstable-v1-protocol.c
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1910991 - After network change, move HTTP/3 connection to the pending list to ensure we always create a new one, r=necko-reviewers,valentin
  modules/libpref/init/StaticPrefList.yaml
  netwerk/protocol/http/ConnectionEntry.cpp
  netwerk/protocol/http/ConnectionEntry.h
Due: yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1910991 - Test case, r=necko-reviewers,valentin
  netwerk/base/MockNetworkLayer.cpp
  netwerk/base/MockNetworkLayerController.cpp
  netwerk/base/MockNetworkLayerController.h
  netwerk/base/nsIMockNetworkLayerController.idl
  netwerk/base/nsUDPSocket.cpp
  netwerk/dns/nsHostResolver.cpp
  netwerk/test/http3server/src/main.rs
  netwerk/test/unit/test_http3_network_change.js
  netwerk/test/unit/xpcshell.toml
Due: eslint, clang-format, rustfmt, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Backed out changeset 5ffec3016dee (bug 1938567) for causing bc failures @ browser_suppressFocusBorder.js CLOSED TREE
  browser/components/urlbar/SearchModeSwitcher.sys.mjs
  browser/components/urlbar/tests/browser/browser_searchModeSwitcher_basic.js
Due: eslint

Bug 1938840 - Enable apz.popups_without_remote.enabled by default. r=botond
  modules/libpref/init/StaticPrefList.yaml
Due: yaml

Bug 1940037 [Wayland] Use SURFACE_YUV/SURFACE_RGBA dmabuf surface type only r=emilio
  gfx/gl/GLBlitHelper.cpp
  widget/gtk/DMABufSurface.cpp
  widget/gtk/DMABufSurface.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1940037 [Wayland] Use exact FOURCC format for DMABuf surfaces r=emilio
  gfx/layers/ipc/LayersSurfaces.ipdlh
  widget/gtk/DMABufSurface.cpp
  widget/gtk/DMABufSurface.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1926680 - Add support for Win11 24H2 in ASan builds. r=firefox-build-system-reviewers,glandium
  build/build-clang/compiler-rt-19.json
  build/build-clang/llvmorg-20-init-16060-g69ebac7ad6ae.patch
  build/build-clang/win64-compiler-rt-19.json
  taskcluster/kinds/toolchain/compiler-rt.yml
Due: eslint, yaml

Backed out changeset 7f12e1c038a5 (bug 1935634) for causing bc failures @ browser_firstPartyIsolation_aboutPages.js CLOSED TREE
  browser/components/about/AboutRedirector.cpp
  browser/components/contextualidentity/test/browser/browser_aboutURLs.js
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1935634: Block loading the profile management pages if the feature is disabled. r=niklas
  browser/components/about/AboutRedirector.cpp
  browser/components/contextualidentity/test/browser/browser_aboutURLs.js
  browser/components/originattributes/test/browser/browser_firstPartyIsolation_aboutPages.js
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1923463: Avoid profiling runnables when using ETW and not collecting scheduling information. r=mstange,profiler-reviewers
  tools/profiler/public/ETWTools.h
  tools/profiler/public/ProfilerRunnable.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1929799 - Don't support normalized UVs in repetition variant of brush_image. r=gfx-reviewers,nical
  gfx/wr/webrender/res/brush_image.glsl
  gfx/wr/webrender/src/batch.rs
Due: rustfmt, file-whitespace, trojan-source

Bug 1940211 - Update android nightly application-services version bump to 7d70184c7cb1d7f5dc3f5b0fabe7a86cd4c096b1 r=dmeehan
  mobile/android/android-components/plugins/dependencies/src/main/java/ApplicationServices.kt
  mobile/android/android-components/plugins/dependencies/src/main/java/moz.yaml
Due: yaml

Bug 1934218: Always flush the profile data to disk when changing the selector state or switching windows. r=niklas
  browser/components/profiles/SelectableProfileService.sys.mjs
  browser/components/profiles/tests/browser/browser_test_profile_selector.js
  browser/components/profiles/tests/browser/browser_update_profile_on_window_switch.js
  browser/components/profiles/tests/browser/head.js
  toolkit/profile/test/xpcshell/test_async_flush.js
Due: eslint

Bug 1934805 - Deprecate "--enable-crash-reporter" argument from geckodriver to stop submission of crash reports to Soccoro. r=webdriver-reviewers,whimboo
  testing/geckodriver/doc/CrashReports.md
  testing/geckodriver/src/android.rs
  testing/geckodriver/src/browser.rs
  testing/geckodriver/src/main.rs
  testing/geckodriver/src/marionette.rs
Due: rustfmt, file-whitespace, trojan-source

Bug 1940093 - Limit groups list to 30% of the tab overflow menu's height. r=tabbrowser-reviewers,jswinarton
  browser/themes/shared/tabbrowser/tabs.css
Due: stylelint, file-whitespace

Bug 1939593 - Unbreak ::first-letter for tab group labels. r=jswinarton,desktop-theme-reviewers,tabbrowser-reviewers,emilio
  browser/components/tabbrowser/content/tabgroup.js
  browser/themes/shared/tabbrowser/tabs.css
Due: eslint, stylelint, file-whitespace

Bug 1940185 - Remove redundant 'else' conditions from 'when' blocks that exhaustively check all cases. r=android-reviewers,petru,ohall
  mobile/android/android-components/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/fission/GeckoWebContentIsolationMapper.kt
  mobile/android/android-components/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/GeckoEngine.kt
  mobile/android/android-components/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/permission/GeckoSitePermissionsStorage.kt
Due: none

Bug 1940128 - Update Gradle to version 8.12. r=android-reviewers,petru
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  mobile/android/android-components/gradle/wrapper/gradle-wrapper.properties
  mobile/android/android-components/gradlew
  mobile/android/android-components/plugins/config/build.gradle
  mobile/android/android-components/plugins/dependencies/build.gradle
  mobile/android/android-components/plugins/publicsuffixlist/build.gradle
  mobile/android/fenix/gradle/wrapper/gradle-wrapper.properties
  mobile/android/fenix/gradlew
  mobile/android/fenix/plugins/apksize/build.gradle
  mobile/android/fenix/plugins/fenixdependencies/build.gradle
  mobile/android/focus-android/gradle/wrapper/gradle-wrapper.properties
  mobile/android/focus-android/gradlew
  mobile/android/focus-android/plugins/focusdependencies/build.gradle
Due: file-whitespace

Bug 1935088 - set thirdparty contexts for fetch keepalive requests. r=timhuang
  dom/fetch/Fetch.cpp
  dom/fetch/FetchDriver.cpp
  dom/fetch/FetchDriver.h
  dom/fetch/FetchParent.cpp
  dom/fetch/FetchService.cpp
  dom/fetch/FetchService.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1940130 - Update JUnit to version 5.11.4. r=android-reviewers,sfamisa
  mobile/android/android-components/plugins/dependencies/src/main/java/DependenciesPlugin.kt
Due: none

Bug 1940130 - Update MockK to version 1.13.14. r=android-reviewers,sfamisa
  mobile/android/android-components/plugins/dependencies/src/main/java/DependenciesPlugin.kt
Due: none

Bug 1940130 - Update Mockito to version 5.15.2. r=android-reviewers,petru
  mobile/android/android-components/plugins/dependencies/src/main/java/DependenciesPlugin.kt
Due: none

Backed out changeset 19d40900062f (bug 1934218) for causing bc failures @ browser_update_profile_on_window_switch.js CLOSED TREE
  browser/components/profiles/SelectableProfileService.sys.mjs
  browser/components/profiles/tests/browser/browser_test_profile_selector.js
  browser/components/profiles/tests/browser/browser_update_profile_on_window_switch.js
  browser/components/profiles/tests/browser/head.js
  toolkit/profile/test/xpcshell/test_async_flush.js
Due: eslint

Bug 1939584 - clean up nonbrowser-mac.js and stop using inline event handlers in the mac hidden window, r=tschuster,firefox-desktop-core-reviewers ,mossop
  browser/base/content/hiddenWindowMac.xhtml
  browser/base/content/nonbrowser-mac.js
Due: eslint, file-whitespace

Bug 1938365 - test runs should fail if the browser quits mid-test, r=jmaher
  testing/mochitest/runtests.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1938180 - Replace --in-content-box-background-odd with new design token in aboutSupport r=reusable-components-reviewers,desktop-theme-reviewers,dao,hjones
  toolkit/themes/shared/aboutSupport.css
Due: stylelint, file-whitespace

Bug 1936879 - Codec table lacks a defined --in-content-box-background-even variable, causing potential styling issues r=reusable-components-reviewers,desktop-theme-reviewers,dao,hjones
  toolkit/themes/shared/aboutSupport.css
Due: stylelint, file-whitespace
