Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml

Bug 1919389 - Add backstop for A55. r=perftest-reviewers,sparky
  taskcluster/gecko_taskgraph/transforms/test/raptor.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1743983 pt2 - Rewrite the minidump-analyzer in Rust r=gsvelto
  .gitignore
  .hgignore
  toolkit/crashreporter/minidump-analyzer/analyzer-test/Cargo.lock
  toolkit/crashreporter/minidump-analyzer/analyzer-test/Cargo.toml
  toolkit/crashreporter/minidump-analyzer/analyzer-test/README.md
  toolkit/crashreporter/minidump-analyzer/analyzer-test/src/lib.rs
  toolkit/crashreporter/minidump-analyzer/analyzer-test/tests/analyze.rs
  toolkit/crashreporter/minidump-analyzer/analyzer-test/tests/client.rs
  toolkit/crashreporter/minidump-analyzer/moz.build
  toolkit/crashreporter/minidump-analyzer/src/main.rs
  toolkit/crashreporter/minidump-analyzer/src/windows/mod.rs
  toolkit/crashreporter/minidump-analyzer/src/windows/strings.rs
  toolkit/crashreporter/minidump-analyzer/src/windows/wintrust.rs
Due: py-black, rustfmt, file-whitespace, trojan-source

Bug 1743983 pt4 - Remove inapplicable tests r=gsvelto
  toolkit/crashreporter/test/unit/test_crash_win64cfi_infinite_code_chain.exe
  toolkit/crashreporter/test/unit/test_crash_win64cfi_infinite_code_chain.js
  toolkit/crashreporter/test/unit/test_crash_win64cfi_infinite_entry_chain.exe
  toolkit/crashreporter/test/unit/test_crash_win64cfi_infinite_entry_chain.js
  toolkit/crashreporter/test/unit/test_crash_win64cfi_invalid_exception_rva.exe
  toolkit/crashreporter/test/unit/test_crash_win64cfi_invalid_exception_rva.js
  toolkit/crashreporter/test/unit/test_crash_win64cfi_not_a_pe.exe
  toolkit/crashreporter/test/unit/test_crash_win64cfi_not_a_pe.js
  toolkit/crashreporter/test/unit/test_crash_win64cfi_unknown_op.js
  toolkit/crashreporter/test/unit/xpcshell.toml
Due: eslint

Bug 1743983 pt3 - Remove the old minidump analyzer r=gsvelto
  toolkit/crashreporter/minidump-analyzer/MinidumpAnalyzerUtils.h
  toolkit/crashreporter/minidump-analyzer/MozStackFrameSymbolizer.cpp
  toolkit/crashreporter/minidump-analyzer/MozStackFrameSymbolizer.h
  toolkit/crashreporter/minidump-analyzer/Win64ModuleUnwindMetadata.cpp
  toolkit/crashreporter/minidump-analyzer/Win64ModuleUnwindMetadata.h
  toolkit/crashreporter/minidump-analyzer/minidump-analyzer.cpp
  toolkit/crashreporter/minidump-analyzer/minidump-analyzer.exe.manifest
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1743983 pt5 - Update sigsys check in unit test r=gsvelto
  testing/mochitest/BrowserTestUtils/BrowserTestUtils.sys.mjs
  toolkit/crashreporter/test/browser/browser_sandbox_crash.js
Due: eslint

Bug 1743983 pt6 - Add missing CryptCATAdmin symbols to mingw wintrust.def r=glandium
  taskcluster/scripts/misc/build-clang-mingw.sh
  taskcluster/scripts/misc/mingw-wintrust.patch
Due: shellcheck

Bug 1743983 pt7 - Fix test_crash_exc_guard.js on macos r=gsvelto
  toolkit/crashreporter/test/unit/test_crash_exc_guard.js
Due: eslint

Bug 1920643 - Hook VariantClear to mitigate third-party crashes. r=gstoll,win-reviewers
  testing/cppunittest.toml
  toolkit/xre/dllservices/mozglue/WindowsOleAut32Initialization.cpp
  toolkit/xre/dllservices/mozglue/WindowsOleAut32Initialization.h
  toolkit/xre/dllservices/mozglue/moz.build
  toolkit/xre/dllservices/tests/TestDllInterceptor.cpp
  toolkit/xre/dllservices/tests/TestOleAut32Initialization.cpp
  toolkit/xre/dllservices/tests/moz.build
  toolkit/xre/nsAppRunner.cpp
Due: py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1917304 - Strip 'li_fat_id' query parameter with "Copy without Site Tracking" r=anti-tracking-reviewers,pbz
  toolkit/components/antitracking/StripOnShareLists/MPL2/StripOnShare.json
Due: eslint

Bug 1911256 - Add tracking query parameters from shopee and tokopedia to "Copy without Site Tracking" list r=anti-tracking-reviewers,pbz
  toolkit/components/antitracking/StripOnShareLists/MPL2/StripOnShare.json
Due: eslint

Bug 1916052 - Click on input inside of login-line instead of login-line itself. r=credential-management-reviewers,mtigley
  toolkit/components/satchel/megalist/content/tests/browser/browser_passwords_sidebar.js
Due: eslint

Bug 1917346 - Part 2: Refactor `TranslationsDropdown` into a top level `Dropdown` composable r=android-reviewers,ohall,pollymce
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/compose/Dropdown.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/translations/TranslationsDialogBottomSheet.kt
Due: none

Bug 1920514 - Update tab strip item ui properties r=android-reviewers,calu
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/tabstrip/TabStrip.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/tabstrip/TabStripCard.kt
Due: none

Backed out 5 changesets (bug 1906952, bug 1914632, bug 1901761) for causing bustage at RefPtr.h. CLOSED TREE
  dom/fetch/Fetch.cpp
  dom/fetch/FetchChild.cpp
  dom/fetch/FetchParent.cpp
  dom/fetch/FetchParent.h
  dom/fetch/FetchService.cpp
  dom/fetch/FetchService.h
  dom/fetch/PFetch.ipdl
  dom/serviceworkers/FetchEventOpChild.cpp
  modules/libpref/init/StaticPrefList.yaml
  testing/web-platform/mozilla/tests/fetch/api/request/abort-keepalive.any.js
  testing/web-platform/tests/fetch/api/basic/keepalive.any.js
  testing/web-platform/tests/fetch/api/resources/keepalive-worker.js
Due: eslint, yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1919083 - Enable 'os-integration' task for mochitest-plain, r=jmaher
  taskcluster/kinds/test/mochitest.yml
Due: yaml

Bug 1919083 - Create 'os-integration' cron tasks to help validate worker image changes, r=jmaher,taskgraph-reviewers
  .cron.yml
  taskcluster/config.yml
  taskcluster/gecko_taskgraph/target_tasks.py
  taskcluster/gecko_taskgraph/transforms/test/__init__.py
  taskcluster/gecko_taskgraph/transforms/test/confirm_failure.py
  taskcluster/gecko_taskgraph/transforms/test/os_integration.py
  taskcluster/gecko_taskgraph/util/chunking.py
  taskcluster/kinds/test/variants.yml
Due: py-black, py-ruff, yaml, file-whitespace, trojan-source

Bug 1920617 - [loongarch] Implement MacroAssembler::sub32FromMemAndBranchIfNegativeWithPatch. r=jseward DONTBUILD
  js/src/jit/loong64/MacroAssembler-loong64.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1920719 - Update Widevine fallback downloader URLs for 4.10.2830.0. r=media-playback-reviewers,padenot
  toolkit/content/gmp-sources/widevinecdm.json
Due: eslint

Bug 1919025 part 2 - Add Semi-NCA implementation. r=mgaudet
  js/src/jit/DominatorTree.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1919025 part 1 - Move dominator tree building code to a new jit/DominatorTree.cpp file. r=mgaudet
  js/src/jit/DominatorTree.cpp
  js/src/jit/DominatorTree.h
  js/src/jit/Ion.cpp
  js/src/jit/IonAnalysis.cpp
  js/src/jit/IonAnalysis.h
  js/src/jit/moz.build
  js/src/jsapi-tests/testJitMinimalFunc.h
Due: py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1920720 - testBrowserActionWithVerticalTabs pushPrefEnv should include sidebar.revamp pref along with sidebar.verticalTabs. r=willdurand
  browser/components/extensions/test/browser/browser_ext_browserAction_area.js
Due: eslint

Bug 1751467 Use GAppInfo to open downloaded files; r=stransky,settings-reviewers,mossop,mak,jmaher
  browser/components/preferences/main.js
  config/system-headers.mozbuild
  image/decoders/icon/gtk/nsIconChannel.cpp
  toolkit/components/downloads/DownloadCore.sys.mjs
  toolkit/components/downloads/DownloadIntegration.sys.mjs
  toolkit/components/downloads/DownloadLegacy.sys.mjs
  toolkit/components/downloads/test/unit/common_test_Download.js
  toolkit/components/downloads/test/unit/head.js
  toolkit/mozapps/downloads/HelperAppDlg.sys.mjs
  toolkit/mozapps/handling/content/appChooser.js
  toolkit/system/gnome/nsGIOService.cpp
  uriloader/exthandler/ExtHandlerService.sys.mjs
  uriloader/exthandler/nsMIMEInfoImpl.cpp
  widget/gtk/GRefPtr.h
  widget/gtk/nsApplicationChooser.cpp
  xpcom/system/nsIGIOService.idl
Due: eslint, py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1916706 - update fetch and response for listfeed r=home-newtab-reviewers,thecount
  browser/components/newtab/content-src/components/DiscoveryStreamComponents/CardGrid/CardGrid.jsx
  browser/components/newtab/content-src/components/DiscoveryStreamComponents/ListFeed/ListFeed.jsx
  browser/components/newtab/data/content/activity-stream.bundle.js
  browser/components/newtab/karma.mc.config.js
  browser/components/newtab/lib/ActivityStream.sys.mjs
  browser/components/newtab/lib/DiscoveryStreamFeed.sys.mjs
  toolkit/components/nimbus/FeatureManifest.yaml
Due: eslint, yaml

Bug 1918097 - Pause the profiler to avoid racy memory corruption r=florian
  xpcom/tests/unit/test_logFromPreference.js
Due: eslint

Bug 1920510 - Enable CSS display: contents in XUL r=emilio
  servo/components/style/style_adjuster.rs
Due: rustfmt, file-whitespace, trojan-source

Backed out 3 changesets (bug 1900561, bug 1919158) for causing bustages at ipc_message_utils.h. CLOSED TREE
  dom/fetch/FetchDriver.cpp
  dom/script/ScriptLoader.cpp
  image/imgLoader.cpp
  layout/style/Loader.cpp
  netwerk/base/nsIClassOfService.idl
  netwerk/ipc/NeckoMessageUtils.h
  netwerk/protocol/http/ClassOfService.h
  netwerk/protocol/http/Http2Session.cpp
  netwerk/protocol/http/Http2StreamBase.cpp
  netwerk/protocol/http/Http3Stream.cpp
  netwerk/protocol/http/HttpBaseChannel.cpp
  netwerk/protocol/http/HttpBaseChannel.h
  netwerk/protocol/http/nsHttpHandler.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1910727 - Add background to properly render translation settings preview. r=android-reviewers,avirvara
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/translations/TranslationOptionsDialog.kt
Due: none

Bug 1730361 - [1/1] remove unnecessary flag from IFileDialog r=win-reviewers,handyman
  widget/windows/nsFilePicker.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1920656 - Update PDF.js to new version cc63941b6496382bc8c762b6ccd886f036d43601 r=pdfjs-reviewers,fluent-reviewers,marco,flod
  taskcluster/kinds/fetch/toolchains.yml
  toolkit/components/pdfjs/content/build/pdf.mjs
  toolkit/components/pdfjs/content/build/pdf.scripting.mjs
  toolkit/components/pdfjs/content/build/pdf.worker.mjs
  toolkit/components/pdfjs/content/web/viewer-geckoview.css
  toolkit/components/pdfjs/content/web/viewer-geckoview.html
  toolkit/components/pdfjs/content/web/viewer-geckoview.mjs
  toolkit/components/pdfjs/content/web/viewer.css
  toolkit/components/pdfjs/content/web/viewer.html
  toolkit/components/pdfjs/content/web/viewer.mjs
  toolkit/components/pdfjs/moz.yaml
  toolkit/components/pdfjs/test/browser_pdfjs_alttext_telemetry.js
  toolkit/components/pdfjs/test/browser_pdfjs_download_button.js
  toolkit/components/pdfjs/test/browser_pdfjs_main.js
  toolkit/components/pdfjs/test/browser_pdfjs_nonpdf_filename.js
  toolkit/components/pdfjs/test/browser_pdfjs_secondary_toolbar_telemetry.js
  toolkit/components/pdfjs/test/browser_pdfjs_views.js
  toolkit/components/pdfjs/test/browser_pdfjs_zoom.js
  toolkit/locales/en-US/toolkit/pdfviewer/viewer.ftl
Due: eslint, stylelint, yaml, fluent-lint, file-whitespace

Bug 1920534 - Extra check for the window object existence in CookieStore API, r=smaug
  dom/cookiestore/CookieStore.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1920361 - Add ExternalTextureDMABuf for handling DMA buf for WebGPU r=webgpu-reviewers,stransky,nical
  dom/webgpu/ExternalTexture.cpp
  dom/webgpu/ExternalTexture.h
  dom/webgpu/ExternalTextureDMABuf.cpp
  dom/webgpu/ExternalTextureDMABuf.h
  dom/webgpu/ipc/WebGPUParent.cpp
  dom/webgpu/moz.build
  gfx/wgpu_bindings/src/server.rs
  gfx/wgpu_bindings/wgpu.h
  widget/gtk/DMABufSurface.cpp
  widget/gtk/DMABufSurface.h
Due: py-black, clang-format, rustfmt, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1918121 - Disable the “popup with past interaction” heuristic in Nightly (privacy.restrict3rdpartystorage.heuristic.window_open) - r=timhuang
  modules/libpref/init/StaticPrefList.yaml
  testing/profiles/mochitest/user.js
  toolkit/components/antitracking/test/browser/browser.toml
  toolkit/components/antitracking/test/browser/browser_storageAccessWithHeuristics.js
Due: eslint, yaml

Bug 1918120 - Disable “tracker redirect” heuristic in release (privacy.restrict3rdpartystorage.heuristic.redirect) - r=timhuang
  modules/libpref/init/StaticPrefList.yaml
Due: yaml

Bug 1916506 - Init gProfiles before the end of the startup idle init block. r=niklas
  browser/base/content/browser-init.js
Due: eslint

Bug 1919168 - Avoid range-loop-construct compile warnings r=emilio
  dom/closewatcher/CloseWatcherManager.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1914612 - [1/7] Call WinEventWindow::Ensure() in nsWindow's constructor r=win-reviewers,gstoll
  widget/windows/nsWindow.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1914612 - [3/7] Move WM_SETTINGCHANGE handling r=win-reviewers,gstoll
  widget/nsBaseWidget.h
  widget/windows/WinEventObserver.cpp
  widget/windows/nsWindow.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1914612 - [2/7] Move WM_FONTCHANGE handling r=win-reviewers,gstoll
  widget/windows/WinEventObserver.cpp
  widget/windows/nsWindow.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source
