Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

eslint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

stylelint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

py-black:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

py-ruff:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

yaml:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

shellcheck:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

clang-format:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

rustfmt:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

fluent-lint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

Bug 1930056 - Avoid empty tabstrip from shrinking. r=tabbrowser-reviewers,desktop-theme-reviewers,dao
  browser/themes/shared/browser-shared.css
  browser/themes/shared/tabbrowser/tabs.css
Due: stylelint, file-whitespace

Bug 1930056 - Avoid empty tabstrip from shrinking. r=tabbrowser-reviewers,desktop-theme-reviewers,dao, a=dmeehan
  browser/themes/shared/browser-shared.css
  browser/themes/shared/tabbrowser/tabs.css
Due: stylelint, file-whitespace

Bug 1926862 - Add transparency support to RenderCompositorANGLE. r=gfx-reviewers,nical
  gfx/webrender_bindings/RenderCompositorANGLE.cpp
  gfx/webrender_bindings/RenderCompositorANGLE.h
  widget/windows/CompositorWidgetChild.cpp
  widget/windows/CompositorWidgetChild.h
  widget/windows/CompositorWidgetParent.cpp
  widget/windows/CompositorWidgetParent.h
  widget/windows/InProcessWinCompositorWidget.cpp
  widget/windows/InProcessWinCompositorWidget.h
  widget/windows/PCompositorWidget.ipdl
  widget/windows/WinCompositorWidget.cpp
  widget/windows/WinCompositorWidget.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1929458 - support setting OS version to use in failure annotations generated by skip-fails. r=jmaher
  testing/mach_commands.py
  testing/skipfails.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Backed out changeset bb77a5d48e46 (bug 1929458) as per request by Aryx. CLOSED TREE
  testing/mach_commands.py
  testing/skipfails.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1927113 - Ensure persisted search doesn't show search mode from another tab - r=adw,urlbar-reviewers
  browser/components/urlbar/UrlbarInput.sys.mjs
  browser/components/urlbar/tests/browser/browser_UrlbarInput_searchTerms_searchMode.js
Due: eslint

Bug 1928862: Shim regexp-utils.h r=dminor
  js/src/irregexp/RegExpShim.cpp
  js/src/irregexp/RegExpShim.h
  js/src/irregexp/import-irregexp.py
Due: py-black, py-ruff, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1928862 - Update irregexp to d6bea6fd6d8c2f3e270bdd72534aea94b0683bdb r=iain
  js/src/irregexp/imported/regexp-bytecode-generator.cc
  js/src/irregexp/imported/regexp-bytecode-generator.h
  js/src/irregexp/imported/regexp-compiler-tonode.cc
  js/src/irregexp/imported/regexp-compiler.cc
  js/src/irregexp/imported/regexp-compiler.h
  js/src/irregexp/imported/regexp-dotprinter.cc
  js/src/irregexp/imported/regexp-interpreter.cc
  js/src/irregexp/imported/regexp-macro-assembler-tracer.cc
  js/src/irregexp/imported/regexp-macro-assembler-tracer.h
  js/src/irregexp/imported/regexp-macro-assembler.h
  js/src/irregexp/imported/regexp-nodes.h
  js/src/irregexp/imported/regexp-parser.cc
  js/src/irregexp/imported/regexp-stack.cc
  js/src/irregexp/imported/regexp-stack.h
  js/src/irregexp/imported/regexp.h
  js/src/irregexp/moz.yaml
Due: yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1928862: Add scalar implementation of SkipUntilBitInTable r=dminor
  js/src/irregexp/RegExpNativeMacroAssembler.cpp
  js/src/irregexp/RegExpNativeMacroAssembler.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Backed out 3 changesets (bug 1928862) for causing failures at regexp-macro-assembler.h. CLOSED TREE
  js/src/irregexp/RegExpNativeMacroAssembler.cpp
  js/src/irregexp/RegExpNativeMacroAssembler.h
  js/src/irregexp/RegExpShim.cpp
  js/src/irregexp/RegExpShim.h
  js/src/irregexp/import-irregexp.py
  js/src/irregexp/imported/regexp-bytecode-generator.cc
  js/src/irregexp/imported/regexp-bytecode-generator.h
  js/src/irregexp/imported/regexp-compiler-tonode.cc
  js/src/irregexp/imported/regexp-compiler.cc
  js/src/irregexp/imported/regexp-compiler.h
  js/src/irregexp/imported/regexp-dotprinter.cc
  js/src/irregexp/imported/regexp-interpreter.cc
  js/src/irregexp/imported/regexp-macro-assembler-tracer.cc
  js/src/irregexp/imported/regexp-macro-assembler-tracer.h
  js/src/irregexp/imported/regexp-macro-assembler.h
  js/src/irregexp/imported/regexp-nodes.h
  js/src/irregexp/imported/regexp-parser.cc
  js/src/irregexp/imported/regexp-stack.cc
  js/src/irregexp/imported/regexp-stack.h
  js/src/irregexp/imported/regexp.h
  js/src/irregexp/moz.yaml
Due: py-black, py-ruff, yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1928862: Small fixes r=dminor
  js/src/irregexp/RegExpNativeMacroAssembler.cpp
  js/src/irregexp/RegExpNativeMacroAssembler.h
  js/src/irregexp/RegExpShim.cpp
  js/src/irregexp/RegExpShim.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1928151 - With vertical tabs, make the sidebar and toolbars match the toolbox. r=sidebar-reviewers,sfoster,desktop-theme-reviewers,sclements
  browser/base/content/navigator-toolbox.inc.xhtml
  browser/components/tabbrowser/content/tabbrowser.js
  browser/themes/osx/browser.css
  browser/themes/shared/browser-colors.css
  browser/themes/shared/browser-shared.css
  browser/themes/shared/sidebar.css
  browser/themes/shared/tabbrowser/content-area.css
  browser/themes/shared/tabbrowser/tabs.css
Due: eslint, stylelint, file-whitespace

Bug 1930226 - Don't run export on the whole tree for L10n repack. r=nalexander
  testing/mozharness/scripts/desktop_l10n.py
Due: py-black, py-ruff, file-whitespace, trojan-source

no bug - Import translations from android-l10n r=release a=l10n CLOSED TREE
  mobile/android/android-components/components/browser/errorpages/src/main/res/values-br/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-br/strings.xml
  mobile/android/android-components/components/feature/prompts/src/main/res/values-br/strings.xml
  mobile/android/android-components/components/ui/tabcounter/src/main/res/values-br/strings.xml
  mobile/android/fenix/app/src/main/res/values-br/strings.xml
  mobile/android/fenix/app/src/main/res/values-cy/strings.xml
  mobile/android/fenix/app/src/main/res/values-el/strings.xml
  mobile/android/fenix/app/src/main/res/values-es-rCL/strings.xml
  mobile/android/fenix/app/src/main/res/values-fr/strings.xml
  mobile/android/fenix/app/src/main/res/values-fy-rNL/strings.xml
  mobile/android/fenix/app/src/main/res/values-hsb/strings.xml
  mobile/android/fenix/app/src/main/res/values-hu/strings.xml
  mobile/android/fenix/app/src/main/res/values-hy-rAM/strings.xml
  mobile/android/fenix/app/src/main/res/values-it/strings.xml
  mobile/android/fenix/app/src/main/res/values-iw/strings.xml
  mobile/android/fenix/app/src/main/res/values-kk/strings.xml
  mobile/android/fenix/app/src/main/res/values-nl/strings.xml
  mobile/android/fenix/app/src/main/res/values-pt-rBR/strings.xml
  mobile/android/fenix/app/src/main/res/values-sat/strings.xml
  mobile/android/fenix/app/src/main/res/values-tg/strings.xml
  mobile/android/fenix/app/src/main/res/values-ug/strings.xml
  mobile/android/fenix/app/src/main/res/values-vi/strings.xml
  mobile/android/fenix/app/src/main/res/values-zh-rTW/strings.xml
Due: eslint

Backed out 4 changesets (bug 1928862) for causing failures at Registers.h. CLOSED TREE
  js/src/irregexp/RegExpNativeMacroAssembler.cpp
  js/src/irregexp/RegExpNativeMacroAssembler.h
  js/src/irregexp/RegExpShim.cpp
  js/src/irregexp/RegExpShim.h
  js/src/irregexp/import-irregexp.py
  js/src/irregexp/imported/regexp-bytecode-generator.cc
  js/src/irregexp/imported/regexp-bytecode-generator.h
  js/src/irregexp/imported/regexp-compiler-tonode.cc
  js/src/irregexp/imported/regexp-compiler.cc
  js/src/irregexp/imported/regexp-compiler.h
  js/src/irregexp/imported/regexp-dotprinter.cc
  js/src/irregexp/imported/regexp-interpreter.cc
  js/src/irregexp/imported/regexp-macro-assembler-tracer.cc
  js/src/irregexp/imported/regexp-macro-assembler-tracer.h
  js/src/irregexp/imported/regexp-macro-assembler.h
  js/src/irregexp/imported/regexp-nodes.h
  js/src/irregexp/imported/regexp-parser.cc
  js/src/irregexp/imported/regexp-stack.cc
  js/src/irregexp/imported/regexp-stack.h
  js/src/irregexp/imported/regexp.h
  js/src/irregexp/moz.yaml
Due: py-black, py-ruff, yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

no bug - Merge android-l10n translations from mozilla-central r=release a=l10n
  mobile/android/android-components/components/browser/errorpages/src/main/res/values-sq/strings.xml
  mobile/android/android-components/components/browser/menu/src/main/res/values-sr/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-sq/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-sr/strings.xml
  mobile/android/android-components/components/feature/customtabs/src/main/res/values-sr/strings.xml
  mobile/android/android-components/components/feature/media/src/main/res/values-sr/strings.xml
  mobile/android/android-components/components/feature/prompts/src/main/res/values-sr/strings.xml
  mobile/android/fenix/app/src/main/res/values-bg/strings.xml
  mobile/android/fenix/app/src/main/res/values-cy/strings.xml
  mobile/android/fenix/app/src/main/res/values-de/strings.xml
  mobile/android/fenix/app/src/main/res/values-es-rAR/strings.xml
  mobile/android/fenix/app/src/main/res/values-gl/strings.xml
  mobile/android/fenix/app/src/main/res/values-ia/strings.xml
  mobile/android/fenix/app/src/main/res/values-ko/strings.xml
  mobile/android/fenix/app/src/main/res/values-pt-rPT/strings.xml
  mobile/android/fenix/app/src/main/res/values-sat/strings.xml
  mobile/android/fenix/app/src/main/res/values-sk/strings.xml
  mobile/android/fenix/app/src/main/res/values-sq/strings.xml
  mobile/android/fenix/app/src/main/res/values-sr/strings.xml
  mobile/android/fenix/app/src/main/res/values-sv-rSE/strings.xml
  mobile/android/fenix/app/src/main/res/values-zh-rCN/strings.xml
Due: eslint

Bug 1929534 - Restrict back-button intervention to only early-beta and nightly. r=peterv,dom-core, a=dmeehan
  modules/libpref/init/StaticPrefList.yaml
Due: yaml

Bug 1929534 - Restrict back-button intervention to only early-beta and nightly. r=peterv,dom-core
  modules/libpref/init/StaticPrefList.yaml
Due: yaml

Bug 1928738: Change the localized name of the default profile. r=niklas,fluent-reviewers,flod
  browser/components/profiles/SelectableProfileService.sys.mjs
  browser/locales/en-US/browser/profiles.ftl
Due: eslint, fluent-lint, file-whitespace

Bug 1929382 - remove the UA override for kt.com on Android; r=ksenia,webcompat-reviewers
  browser/extensions/webcompat/data/ua_overrides.js
  mobile/android/android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/data/ua_overrides.js
Due: eslint

Bug 1929381 - remove bluetokaicoffee.com and ottoandspike.com.au from our FastClick intervention; r=ksenia,webcompat-reviewers
  browser/extensions/webcompat/data/injections.js
  browser/extensions/webcompat/manifest.json
  mobile/android/android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/data/injections.js
  mobile/android/android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/manifest.json
Due: eslint

Bug 1929383 - remove the UA override for tv.partner.co.il on Android; r=ksenia,webcompat-reviewers
  browser/extensions/webcompat/data/ua_overrides.js
  mobile/android/android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/data/ua_overrides.js
Due: eslint

Bug 1907488 - add thepointatkingston.com to our Entrata intervention; r=ksenia,webcompat-reviewers
  browser/extensions/webcompat/data/injections.js
  mobile/android/android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/data/injections.js
  testing/webcompat/interventions/tests/test_1784199_139030_thepointatkingston_com.py
Due: eslint, py-black, py-ruff, file-whitespace, trojan-source

Bug 1894682 - add arboretumapartments.com to our Entrata intervention; r=ksenia,webcompat-reviewers
  browser/extensions/webcompat/data/injections.js
  mobile/android/android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/data/injections.js
  testing/webcompat/interventions/tests/test_1784199_1894682_arboretumapartments_com.py
Due: eslint, py-black, py-ruff, file-whitespace, trojan-source

Bug 1912923 - add a UA override for livelesson.class.com; r=ksenia,webcompat-reviewers
  browser/extensions/webcompat/data/ua_overrides.js
  mobile/android/android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/data/ua_overrides.js
  testing/webcompat/interventions/tests/test_1912923_livelesson_class_com.py
Due: eslint, py-black, py-ruff, file-whitespace, trojan-source

Bug 1899945 - add a UA override for nytimes.com modern love questions; r=ksenia,webcompat-reviewers
  browser/extensions/webcompat/data/ua_overrides.js
  mobile/android/android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/data/ua_overrides.js
  testing/webcompat/interventions/tests/test_1899945_nytimes_com.py
Due: eslint, py-black, py-ruff, file-whitespace, trojan-source

Bug 1898992 - add a UA override for asp.attenix.co.il; r=ksenia,webcompat-reviewers
  browser/extensions/webcompat/data/ua_overrides.js
  mobile/android/android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/data/ua_overrides.js
  testing/webcompat/interventions/tests/test_1898992_asp_attenix_co_il.py
Due: eslint, py-black, py-ruff, file-whitespace, trojan-source

Bug 1899060 - add a UA override for wbte.drcedirect.com; r=ksenia,webcompat-reviewers
  browser/extensions/webcompat/data/ua_overrides.js
  mobile/android/android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/data/ua_overrides.js
  testing/webcompat/interventions/tests/test_1899060_18990601_wbte_drcedirect_com.py
  testing/webcompat/interventions/tests/test_1899060_18990602_wbte_drcedirect_com.py
Due: eslint, py-black, py-ruff, file-whitespace, trojan-source

Bug 1898988 - add a UA override for prudential.com.hk; r=ksenia,webcompat-reviewers
  browser/extensions/webcompat/data/ua_overrides.js
  mobile/android/android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/data/ua_overrides.js
  testing/webcompat/interventions/tests/test_1898988_prudential_com_hk.py
Due: eslint, py-black, py-ruff, file-whitespace, trojan-source

Bug 1898994 - add a UA override for eportal.uestc.edu.cn; r=ksenia,webcompat-reviewers
  browser/extensions/webcompat/data/ua_overrides.js
  mobile/android/android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/data/ua_overrides.js
  testing/webcompat/interventions/tests/test_1898994_eportal_uestc_edu_cn.py
Due: eslint, py-black, py-ruff, file-whitespace, trojan-source

Bug 1898960 - add a UA override for hrm.online.comarch.pl and update our Chrome override to spoof as 130.0.0.0; r=ksenia,webcompat-reviewers
  browser/extensions/webcompat/data/ua_overrides.js
  browser/extensions/webcompat/lib/ua_helpers.js
  mobile/android/android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/data/ua_overrides.js
  mobile/android/android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/lib/ua_helpers.js
  testing/webcompat/interventions/tests/test_1898960_hrm_online_comarch_pl.py
Due: eslint, py-black, py-ruff, file-whitespace, trojan-source

Bug 1873166 - add a CSS intervention for nsandi.com to hide their browser unsupported message; r=ksenia,webcompat-reviewers
  browser/extensions/webcompat/data/injections.js
  browser/extensions/webcompat/injections/css/bug1873166-nsandi.com-hide-unsupported-message.css
  browser/extensions/webcompat/moz.build
  mobile/android/android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/data/injections.js
  mobile/android/android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/injections/css/bug1873166-nsandi.com-hide-unsupported-message.css
  testing/webcompat/interventions/tests/test_1873166_108319_www_nsandi_com.py
  testing/webcompat/interventions/tests/test_1873166_108408_secure_nsandi_com.py
Due: eslint, stylelint, py-black, py-ruff, file-whitespace, trojan-source

Bug 1875540 - add a CSS intervention for allstate.com to hide their browser unsupported message; r=ksenia,webcompat-reviewers
  browser/extensions/webcompat/data/injections.js
  browser/extensions/webcompat/injections/css/bug1875540-allstate.com-hide-unsupported-message.css
  browser/extensions/webcompat/moz.build
  mobile/android/android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/injections/css/bug1875540-allstate.com-hide-unsupported-message.css
  testing/webcompat/interventions/tests/test_1875540_allstate_com.py
Due: eslint, stylelint, py-black, py-ruff, file-whitespace, trojan-source

Bug 1898938 - add a UA override for conference.amwell.com; r=ksenia,webcompat-reviewers
  browser/extensions/webcompat/data/ua_overrides.js
  mobile/android/android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/data/ua_overrides.js
  testing/webcompat/interventions/tests/test_1898938_conference_amwell_com.py
Due: eslint, py-black, py-ruff, file-whitespace, trojan-source

Bug 1922630 - Header of chatbot panel is themable like the history, tabs, r=Mardak,firefox-ai-ml-reviewers
  browser/components/genai/chat.css
  browser/components/genai/chat.html
  browser/components/genai/chat.js
Due: eslint, stylelint, file-whitespace

Bug 1930116 - [marionette] Improvements for browser/components/backup/tests/marionette/test_backup.py. r=backup-reviewers,mconley
  browser/components/backup/tests/marionette/test_backup.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, **/*.java, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml
