Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, **/*.java, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml

Bug 1953149 [wpt PR 51258] - Support sibling-index()/sibling-count() in container queries, a=testonly
  testing/web-platform/tests/css/css-values/sibling-function-container-query.html
Due: eslint, file-whitespace

Bug 1953149 [wpt PR 51258] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-values/sibling-function-container-query.html.ini
Due: test-manifest

Bug 1952779 [wpt PR 51223] - [SAA] Add cross-site redirect test case, a=testonly
  testing/web-platform/tests/common/redirect.py
  testing/web-platform/tests/storage-access-api/requestStorageAccess-cross-site-fetch.sub.https.window.js
  testing/web-platform/tests/storage-access-api/resources/echo-cookie-header.py
Due: eslint, py-black, py-ruff, file-whitespace, trojan-source

Bug 1952779 [wpt PR 51223] - Update wpt metadata, a=testonly
  testing/web-platform/meta/storage-access-api/requestStorageAccess-cross-site-fetch.sub.https.window.js.ini
Due: test-manifest

Bug 1953194 [wpt PR 51262] - Add WPT for credentials matching, a=testonly
  testing/web-platform/tests/device-bound-session-credentials/credentials-matching.https.html
  testing/web-platform/tests/device-bound-session-credentials/helper.js
  testing/web-platform/tests/device-bound-session-credentials/pull_server_state.py
  testing/web-platform/tests/device-bound-session-credentials/refresh_session.py
  testing/web-platform/tests/device-bound-session-credentials/session-cookie-has-no-attributes.https.html
  testing/web-platform/tests/device-bound-session-credentials/session_manager.py
  testing/web-platform/tests/device-bound-session-credentials/set_cookie.py
Due: eslint, py-black, py-ruff, file-whitespace, trojan-source

Bug 1953194 [wpt PR 51262] - Update wpt metadata, a=testonly
  testing/web-platform/meta/device-bound-session-credentials/credentials-matching.https.html.ini
Due: test-manifest

Bug 1953218 [wpt PR 51263] - Add WPT for scope_specification, a=testonly
  testing/web-platform/tests/device-bound-session-credentials/excludeInScopeSpecification/excluded_verify_authenticated.py
  testing/web-platform/tests/device-bound-session-credentials/includeInScopeSpecification/included_verify_authenticated.py
  testing/web-platform/tests/device-bound-session-credentials/session_manager.py
  testing/web-platform/tests/device-bound-session-credentials/set-scope-specification.https.html
  testing/web-platform/tests/device-bound-session-credentials/verify_authenticated_alternate.py
  testing/web-platform/tests/device-bound-session-credentials/verify_authenticated_util.py
Due: eslint, py-black, py-ruff, file-whitespace, trojan-source

Bug 1953218 [wpt PR 51263] - Update wpt metadata, a=testonly
  testing/web-platform/meta/device-bound-session-credentials/set-scope-specification.https.html.ini
Due: test-manifest

Bug 1954139 - [wdspec] Align tests for web-extensions with tests on GitHub. r=webdriver-reviewers,jgraham
  testing/web-platform/tests/tools/webdriver/webdriver/bidi/modules/web_extension.py
  testing/web-platform/tests/webdriver/tests/bidi/web_extension/install/install.py
  testing/web-platform/tests/webdriver/tests/bidi/web_extension/install/invalid.py
  testing/web-platform/tests/webdriver/tests/bidi/web_extension/uninstall/uninstall.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1951536 - Part 1: Add a test. a=pascalc
  toolkit/components/antitracking/test/browser/browser.toml
  toolkit/components/antitracking/test/browser/browser_initial_aboutblank_mixed_context.js
Due: eslint

Bug 1951536 - Part 2: Initial about:blank page inherits third-party state from the parent document. a=pascalc
  toolkit/components/antitracking/AntiTrackingUtils.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1790526 - Check if the propagated BrowsingContext is discarded or not in SessionStoreParent. r=smaug
  toolkit/components/sessionstore/SessionStoreParent.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1946404 - Have system insets handling APIs supporting only Android 13+ r=android-reviewers,mcarare
  mobile/android/android-components/components/support/ktx/src/main/java/mozilla/components/support/ktx/android/view/ImeInsetsSynchronizer.kt
  mobile/android/android-components/components/support/ktx/src/main/java/mozilla/components/support/ktx/android/view/Window.kt
  mobile/android/android-components/docs/changelog.md
Due: file-whitespace

Bug 1946404 - Use a ConstraintLayout parent to anchor snackbars r=android-reviewers,mcarare
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/compose/snackbar/Snackbar.kt
  mobile/android/fenix/app/src/main/res/layout/fragment_browser.xml
  mobile/android/fenix/app/src/main/res/layout/fragment_home.xml
Due: eslint

Bug 1946404 - Remove edge to edge opt out for API 35+ r=android-reviewers,mcarare
  mobile/android/fenix/app/src/main/res/values/styles.xml
Due: eslint

Bug 1946404 - Use manual handling of system insets r=android-reviewers,mcarare
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/BaseBrowserFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/search/SearchDialogFragment.kt
Due: none

Bug 1934443 - Don't animate keyboard dependent View if keyboard animation ended r=android-reviewers,mcarare
  mobile/android/android-components/components/support/ktx/src/main/java/mozilla/components/support/ktx/android/view/ImeInsetsSynchronizer.kt
Due: none

Backed out changeset bd801b491ec6 (bug 1790526) for causing mochitests failures in browser_formdata.js.
  toolkit/components/sessionstore/SessionStoreParent.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Backed out changeset 9d11f76b4c4d (bug 1953851) for causing devtools failures in browser_webconsole_cors_errors.js. CLOSED TREE
  devtools/client/locales/en-US/inspector.properties
  devtools/client/locales/en-US/netmonitor.properties
  devtools/client/netmonitor/src/utils/doc-utils.js
  devtools/client/netmonitor/test/xpcshell/test_doc-utils.js
  devtools/client/shared/components/test/chrome/test_notification_box_04.html
  devtools/client/webconsole/test/browser/browser_webconsole_cors_errors.js
  devtools/client/webconsole/test/browser/browser_webconsole_hsts_invalid-headers.js
  devtools/client/webconsole/test/browser/browser_webconsole_network_messages_status_code.js
  devtools/client/webconsole/test/browser/browser_webconsole_warning_group_cookies.js
  devtools/docs/contributor/frontend/csp.md
  devtools/docs/user/network_monitor/inspecting_web_sockets/index.rst
  devtools/docs/user/network_monitor/request_details/index.rst
  devtools/docs/user/responsive_design_mode/index.rst
  devtools/docs/user/web_console/console_messages/index.rst
  devtools/server/actors/errordocs.js
Due: eslint, localization, file-whitespace

Bug 1952345 - test(webgpu): add another chunk on optimized Linux CTS runs r=webgpu-reviewers,teoxoy
  taskcluster/kinds/test/web-platform.yml
Due: yaml

Bug 1952345 - feat(webgpu): stub out `GPUExternalTexture` r=webgpu-reviewers,webidl,smaug,teoxoy
  dom/bindings/Bindings.conf
  dom/webgpu/ExternalTexture.cpp
  dom/webgpu/ExternalTexture.h
  dom/webidl/WebGPU.webidl
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/operation/command_buffer/copyTextureToTexture/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/operation/render_pipeline/sample_mask/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/capability_checks/limits/maxColorAttachmentBytesPerSample/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/capability_checks/limits/maxStorageBuffersPerShaderStage/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/error_scope/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/layout_shader_compat/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/render_pass/attachment_compatibility/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/state/device_lost/destroy/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/execution/expression/call/builtin/subgroupAdd/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/execution/expression/call/builtin/subgroupMinMax/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/execution/expression/call/builtin/subgroupMul/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/execution/expression/call/builtin/textureDimensions/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/execution/expression/call/builtin/textureGather/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/execution/expression/call/builtin/textureLoad/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/execution/expression/call/builtin/textureNumLayers/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/execution/expression/call/builtin/textureNumLevels/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/execution/expression/call/builtin/textureNumSamples/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/execution/expression/call/builtin/textureSample/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/execution/expression/call/builtin/textureSampleBias/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/execution/expression/call/builtin/textureSampleCompare/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/execution/expression/call/builtin/textureSampleCompareLevel/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/execution/expression/call/builtin/textureSampleGrad/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/execution/expression/call/builtin/textureSampleLevel/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/execution/expression/call/builtin/texture_utils/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/validation/expression/call/builtin/subgroupBitwise/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/web_platform/canvas/getCurrentTexture/dedicated.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/web_platform/copyToTexture/ImageBitmap/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/web_platform/copyToTexture/ImageBitmap/dedicated.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/web_platform/copyToTexture/image_file/cts.https.html.ini
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Bug 1954178 - Don't cache subresources based off the triggering principal. r=arai
  dom/script/SharedScriptCache.cpp
  dom/script/SharedScriptCache.h
  layout/style/Loader.cpp
  layout/style/Loader.h
  layout/style/SharedSubResourceCache.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

No Bug, mozilla-release repo-update remote-settings mobile-experiments - a=dmeehan
  mobile/android/fenix/app/src/main/res/raw/initial_experiments.json
  services/settings/dumps/blocklists/addons-bloomfilters.json
  services/settings/dumps/main/translations-models.json
Due: eslint

Bug 1948897 - Refactor LanguageMiddleware to be more testable. r=android-reviewers,giorga
  mobile/android/focus-android/app/src/main/java/org/mozilla/focus/locale/screen/LanguageFragment.kt
  mobile/android/focus-android/app/src/main/java/org/mozilla/focus/locale/screen/LanguageMiddleware.kt
  mobile/android/focus-android/app/src/main/java/org/mozilla/focus/locale/screen/LanguageStorage.kt
  mobile/android/focus-android/app/src/test/java/org/mozilla/focus/locale/screen/LanguageMiddlewareTest.kt
  mobile/android/focus-android/quality/detekt-baseline.xml
Due: eslint

Bug 1954374 - Update Mockito to version 5.16.1. r=android-reviewers,mcarare
  gradle/libs.versions.toml
Due: none

Bug 1954375 - Update Sentry to version 8.4.0. r=android-reviewers,mcarare
  gradle/libs.versions.toml
Due: none

No Bug, mozilla-central repo-update HSTS HPKP remote-settings tld-suffixes mobile-experiments ct-logs - r=release-managers,diannaS
  mobile/android/fenix/app/src/main/res/raw/initial_experiments.json
  netwerk/dns/effective_tld_names.dat
  security/ct/CTKnownLogs.h
  security/manager/ssl/StaticHPKPins.h
  security/manager/ssl/nsSTSPreloadList.inc
  security/manager/tools/log_list.json
  services/settings/dumps/blocklists/addons-bloomfilters.json
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1954362 - Allow demo trialML extension to run on Firefox for Android. r=tarek
  toolkit/components/ml/docs/extensions-api-example/README.rst
  toolkit/components/ml/docs/extensions-api-example/alt-text-modal.js
  toolkit/components/ml/docs/extensions-api-example/background.js
  toolkit/components/ml/docs/extensions-api-example/contextmenu-shim.js
  toolkit/components/ml/docs/extensions-api-example/manifest.json
Due: eslint, file-whitespace

Bug 1946001 - Rename methods which return an independent `nsFrameSelection` to `GetIndependentFrameSelection()` r=emilio
  dom/base/SelectionChangeEventDispatcher.cpp
  dom/html/HTMLInputElement.cpp
  dom/html/HTMLInputElement.h
  dom/html/HTMLTextAreaElement.cpp
  dom/html/HTMLTextAreaElement.h
  dom/html/TextControlElement.h
  dom/html/TextControlState.cpp
  dom/html/TextControlState.h
  layout/base/nsDocumentViewer.cpp
  layout/forms/nsTextControlFrame.cpp
  layout/forms/nsTextControlFrame.h
  layout/generic/nsFrameSelection.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1946001 - Fix some points which may cross independent selection boundary r=emilio,jjaschke
  dom/base/ContentIterator.cpp
  dom/base/RangeUtils.cpp
  dom/base/RangeUtils.h
  dom/base/Selection.cpp
  dom/base/nsFocusManager.cpp
  dom/base/nsINode.cpp
  dom/base/nsINode.h
  dom/events/ContentEventHandler.cpp
  dom/events/IMEContentObserver.cpp
  editor/libeditor/HTMLEditor.cpp
  layout/base/nsFrameTraversal.cpp
  layout/base/nsFrameTraversal.h
  layout/generic/SelectionMovementUtils.cpp
  layout/generic/SelectionMovementUtils.h
  layout/generic/nsFrameSelection.cpp
  layout/generic/nsFrameSelection.h
  layout/generic/nsIFrame.cpp
  layout/generic/nsIFrame.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1954020 - Rename "limiter" of `nsFrameSelection` to "independent selection root element" r=emilio
  dom/base/nsINode.cpp
  dom/html/TextControlState.cpp
  editor/libeditor/AutoClonedRangeArray.h
  layout/generic/SelectionMovementUtils.cpp
  layout/generic/nsFrameSelection.cpp
  layout/generic/nsFrameSelection.h
  layout/generic/nsIFrame.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1954413 - Get rid of `nsINode::GetChromeOnlyAccessSubtreeRootParent()` r=smaug
  dom/base/FragmentOrElement.cpp
  dom/base/nsINode.h
  editor/libeditor/HTMLEditor.cpp
  layout/base/PresShell.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1954394 - Mark some `nsFrameSelection` methods which change selection r=jjaschke
  dom/base/Selection.h
  dom/base/nsGlobalWindowCommands.cpp
  dom/base/nsISelectionController.idl
  dom/html/TextControlState.cpp
  dom/html/nsGenericHTMLElement.cpp
  dom/html/nsGenericHTMLElement.h
  dom/svg/SVGSVGElement.h
  editor/libeditor/EditorBase.cpp
  editor/libeditor/EditorBase.h
  editor/libeditor/HTMLEditor.h
  layout/base/PresShell.h
  layout/generic/nsFrameSelection.cpp
  layout/generic/nsFrameSelection.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Backed out 2 changesets (bug 1952345) for causing mochitests failures in test_serviceworker_interfaces.html. CLOSED TREE
  dom/bindings/Bindings.conf
  dom/webgpu/ExternalTexture.cpp
  dom/webgpu/ExternalTexture.h
  dom/webidl/WebGPU.webidl
  taskcluster/kinds/test/web-platform.yml
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/operation/command_buffer/copyTextureToTexture/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/operation/render_pipeline/sample_mask/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/capability_checks/limits/maxColorAttachmentBytesPerSample/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/capability_checks/limits/maxStorageBuffersPerShaderStage/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/error_scope/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/layout_shader_compat/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/render_pass/attachment_compatibility/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/state/device_lost/destroy/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/execution/expression/call/builtin/subgroupAdd/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/execution/expression/call/builtin/subgroupMinMax/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/execution/expression/call/builtin/subgroupMul/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/execution/expression/call/builtin/textureDimensions/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/execution/expression/call/builtin/textureGather/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/execution/expression/call/builtin/textureLoad/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/execution/expression/call/builtin/textureNumLayers/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/execution/expression/call/builtin/textureNumLevels/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/execution/expression/call/builtin/textureNumSamples/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/execution/expression/call/builtin/textureSample/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/execution/expression/call/builtin/textureSampleBias/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/execution/expression/call/builtin/textureSampleCompare/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/execution/expression/call/builtin/textureSampleCompareLevel/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/execution/expression/call/builtin/textureSampleGrad/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/execution/expression/call/builtin/textureSampleLevel/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/execution/expression/call/builtin/texture_utils/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/validation/expression/call/builtin/subgroupBitwise/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/web_platform/canvas/getCurrentTexture/dedicated.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/web_platform/copyToTexture/ImageBitmap/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/web_platform/copyToTexture/ImageBitmap/dedicated.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/web_platform/copyToTexture/image_file/cts.https.html.ini
Due: yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Bug 1954034 - mfbt test: fix a mismatched-new-delete r=gsvelto
  mfbt/tests/TestUniquePtr.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1954046 - nsTestCrasher.cpp: silent two -Werror=use-after-free warnings r=gsvelto
  toolkit/crashreporter/test/nsTestCrasher.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1953851 - [devtools] Update the MDN links in devtools r=devtools-reviewers,nchevobbe
  devtools/client/locales/en-US/inspector.properties
  devtools/client/locales/en-US/netmonitor.properties
  devtools/client/netmonitor/src/utils/doc-utils.js
  devtools/client/netmonitor/test/xpcshell/test_doc-utils.js
  devtools/client/shared/components/test/chrome/test_notification_box_04.html
  devtools/client/webconsole/test/browser/browser_webconsole_cors_errors.js
  devtools/client/webconsole/test/browser/browser_webconsole_hsts_invalid-headers.js
  devtools/client/webconsole/test/browser/browser_webconsole_network_messages_status_code.js
  devtools/client/webconsole/test/browser/browser_webconsole_warning_group_cookies.js
  devtools/docs/contributor/frontend/csp.md
  devtools/docs/user/network_monitor/inspecting_web_sockets/index.rst
  devtools/docs/user/network_monitor/request_details/index.rst
  devtools/docs/user/responsive_design_mode/index.rst
  devtools/docs/user/web_console/console_messages/index.rst
  devtools/server/actors/errordocs.js
Due: eslint, localization, file-whitespace

Bug 1954145 - Make the IS_IN_PSEUDO_ELEMENT_SUBTREE flag more specific. r=dshin
  layout/base/nsCSSFrameConstructor.cpp
  layout/style/ComputedStyle.h
  layout/style/nsComputedDOMStyle.cpp
  servo/components/style/properties/computed_value_flags.rs
  servo/components/style/style_adjuster.rs
Due: clang-format, rustfmt, mingw-capitalization, mscom-init, file-whitespace, trojan-source

No bug - Tagging b50bccad70ec4f6088c5dabae6a2571fb56410a1 with FIREFOX-ANDROID_137_0b7_BUILD1 a=release CLOSED TREE DONTBUILD
  .hgtags
Due: none
