Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, **/*.java, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml

Bug 1932772 - part1 : add d3d11va2 vp9 decode path from ffmpeg 7.0 to bundled ffvpx on Windows. r=media-playback-reviewers,chunmin
  media/ffvpx/README_MOZILLA
  media/ffvpx/changes.patch
  media/ffvpx/compat/w32dlfcn.h
  media/ffvpx/config_override.h
  media/ffvpx/libavcodec/d3d11va.c
  media/ffvpx/libavcodec/d3d11va.h
  media/ffvpx/libavcodec/dxva2.c
  media/ffvpx/libavcodec/dxva2.h
  media/ffvpx/libavcodec/dxva2_internal.h
  media/ffvpx/libavcodec/dxva2_vp9.c
  media/ffvpx/libavcodec/moz.build
  media/ffvpx/libavutil/hwcontext_d3d11va.c
  media/ffvpx/libavutil/hwcontext_d3d11va.h
  media/ffvpx/libavutil/moz.build
  media/ffvpx/libavutil/wchar_filename.h
Due: py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1932772 - part2 : add d3d11va2 av1 decode path from ffmpeg 7.0 to bundled ffvpx on Windows. r=media-playback-reviewers,chunmin
  media/ffvpx/config_override.h
  media/ffvpx/config_win64.h
  media/ffvpx/libavcodec/dxva2_av1.c
  media/ffvpx/libavcodec/moz.build
Due: py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1932772 - part5 : adjust definitions for the preparation of using hw decoding on Windows. r=stransky
  dom/media/platforms/ffmpeg/FFmpegDataDecoder.cpp
  dom/media/platforms/ffmpeg/FFmpegDataDecoder.h
  dom/media/platforms/ffmpeg/FFmpegLibs.h
  dom/media/platforms/ffmpeg/FFmpegVideoDecoder.cpp
  dom/media/platforms/ffmpeg/FFmpegVideoDecoder.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1932772 - part4 : use ffvpx linker on the gpu process in order to support hw decoding. r=media-playback-reviewers,chunmin
  dom/media/platforms/PDMFactory.cpp
  dom/media/platforms/ffmpeg/FFmpegDataDecoder.cpp
  dom/media/platforms/ffmpeg/FFmpegDecoderModule.h
  dom/media/platforms/ffmpeg/libav53/moz.build
  dom/media/platforms/ffmpeg/libav54/moz.build
  dom/media/platforms/ffmpeg/libav55/moz.build
  modules/libpref/init/StaticPrefList.yaml
Due: py-black, yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1932772 - part3 : check hw codec support for ffmpeg decoder module. r=media-playback-reviewers,chunmin
  dom/media/platforms/ffmpeg/FFmpegDecoderModule.h
  dom/media/platforms/ffmpeg/FFmpegLibWrapper.cpp
  dom/media/platforms/ffmpeg/FFmpegLibWrapper.h
  dom/media/platforms/ffmpeg/FFmpegUtils.cpp
  dom/media/platforms/ffmpeg/FFmpegUtils.h
  dom/media/platforms/ffmpeg/ffvpx/FFVPXRuntimeLinker.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1932772 - part6 : init d3d11va decoder context. r=sotaro,media-playback-reviewers,chunmin
  dom/media/platforms/ffmpeg/FFmpegLibWrapper.cpp
  dom/media/platforms/ffmpeg/FFmpegLibWrapper.h
  dom/media/platforms/ffmpeg/FFmpegVideoDecoder.cpp
  dom/media/platforms/ffmpeg/FFmpegVideoDecoder.h
  dom/media/platforms/ffmpeg/ffvpx/moz.build
  dom/media/platforms/ffmpeg/moz.build
  dom/media/platforms/wmf/DXVA2Manager.cpp
  dom/media/platforms/wmf/DXVA2Manager.h
  dom/media/utils/PerformanceRecorder.h
  media/ffvpx/libavutil/moz.build
Due: py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1932772 - part7 : create a D3D image for ffmpeg hw decoding. r=sotaro,media-playback-reviewers,chunmin
  dom/media/platforms/ffmpeg/FFmpegVideoDecoder.cpp
  dom/media/platforms/ffmpeg/FFmpegVideoDecoder.h
  dom/media/platforms/wmf/DXVA2Manager.cpp
  dom/media/platforms/wmf/DXVA2Manager.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1932772 - part10 : av_hwdevice_ctx_init and av_hwdevice_ctx_alloc are belong to libavutil, not libavcodec. r=stransky,chunmin
  dom/media/platforms/ffmpeg/FFmpegLibWrapper.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1932772 - part9 : make it possible to fallback to WMF HW decoder in GPU process if ffmpeg fails to init a HW decoder. r=stransky,chunmin
  dom/media/platforms/ffmpeg/FFmpegAudioDecoder.cpp
  dom/media/platforms/ffmpeg/FFmpegDataDecoder.cpp
  dom/media/platforms/ffmpeg/FFmpegDataDecoder.h
  dom/media/platforms/ffmpeg/FFmpegDecoderModule.h
  dom/media/platforms/ffmpeg/FFmpegVideoDecoder.cpp
  dom/media/platforms/ffmpeg/FFmpegVideoDecoder.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1932772 - part8 : support zero copy hardware decoding. r=sotaro,media-playback-reviewers,chunmin
  dom/media/MediaData.cpp
  dom/media/platforms/ffmpeg/FFmpegVideoDecoder.cpp
  dom/media/platforms/ffmpeg/FFmpegVideoDecoder.h
  dom/media/platforms/wmf/DXVA2Manager.cpp
  dom/media/platforms/wmf/DXVA2Manager.h
  gfx/gl/GLBlitHelper.cpp
  gfx/gl/GLBlitHelper.h
  gfx/gl/GLBlitHelperD3D.cpp
  gfx/layers/D3D11ZeroCopyTextureImage.cpp
  gfx/layers/D3D11ZeroCopyTextureImage.h
  gfx/layers/ImageTypes.h
  gfx/layers/d3d11/GpuProcessD3D11TextureMap.cpp
  gfx/layers/d3d11/GpuProcessD3D11TextureMap.h
  gfx/layers/d3d11/TextureD3D11.cpp
  gfx/layers/d3d11/TextureD3D11.h
  gfx/layers/moz.build
Due: py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1932772 - part13 : enable ffmpeg internal logging when we need detailed logging messages. r=media-playback-reviewers,chunmin
  dom/media/platforms/ffmpeg/FFmpegVideoDecoder.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1932772 - part11 : add a test case. r=media-playback-reviewers,chunmin
  dom/media/test/mochitest.toml
  dom/media/test/test_hw_video_decoding.html
Due: eslint, file-whitespace

Bug 1932772 - part12 : speed up test cases. r=media-playback-reviewers,chunmin
  dom/media/test/test_hw_video_decoding.html
Due: eslint, file-whitespace

Bug 1932772 - part14 : Suppress warnings in ffvpx. r=media-playback-reviewers,chunmin
  media/ffvpx/ffvpxcommon.mozbuild
Due: py-black

Bug 1932772: apply code formatting via Lando
  dom/media/platforms/ffmpeg/FFmpegVideoDecoder.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1935504 - Update weather widget location search input placeholder string to be translated a=pascalc
  browser/components/newtab/content-src/components/Weather/LocationSearch.jsx
  browser/components/newtab/data/content/activity-stream.bundle.js
  browser/locales/en-US/browser/newtab/newtab.ftl
  python/l10n/fluent_migrations/bug_1935504_newtab_weather_search_label.py
Due: eslint, py-black, py-ruff, fluent-lint, file-whitespace, trojan-source

Bug 1935756 - Fix lint errors on bug_1935504_newtab_weather_search_label.py fluent migration file a=pascalc
  python/l10n/fluent_migrations/bug_1935504_newtab_weather_search_label.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1935756 - Fix lint errors on bug_1935504_newtab_weather_search_label.py fluent migration file a=dmeehan
  python/l10n/fluent_migrations/bug_1935504_newtab_weather_search_label.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1929461 - Don't let Translator::GetCurrentDrawTarget() return an invalid DT. a=pascalc
  gfx/2d/DrawTargetOffset.h
  gfx/2d/RecordedEvent.h
  testing/web-platform/meta/css/printing/huge-font-crash-print.html.ini
  testing/web-platform/tests/css/printing/huge-font-crash-print.html
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Bug 1934682 - Fix top sites row wrapping issue when both Sections and Variant A/B are enabled a=pascalc
  browser/components/newtab/content-src/components/DiscoveryStreamComponents/CardSections/_CardSections.scss
  browser/components/newtab/css/activity-stream.css
Due: stylelint, file-whitespace

Bug 1934636 - Revise Variant B breakpoints so logo doesn't overlap top sites when Sections are enabled a=pascalc
  browser/components/newtab/content-src/components/Base/_Base.scss
  browser/components/newtab/content-src/components/DiscoveryStreamComponents/DSThumbsUpDownButtons/_DSThumbsUpDownButtons.scss
  browser/components/newtab/content-src/components/Search/_Search.scss
  browser/components/newtab/content-src/components/Weather/_Weather.scss
  browser/components/newtab/css/activity-stream.css
Due: stylelint, file-whitespace

Bug 1932780 - Correct the spelling of translationId in message passing; a=pascalc
  toolkit/components/translations/content/translations-document.sys.mjs
  toolkit/components/translations/content/translations-engine.worker.js
Due: eslint

Bug 1932780 - Correct mistaken use of discardTranslationQueue; a=pascalc
  toolkit/components/translations/content/translations-engine.sys.mjs
Due: eslint

Bug 1928295 - Do not collect session history when the browsing context's current url is null. a=pascalc
  mobile/shared/modules/geckoview/GeckoViewSessionStore.sys.mjs
Due: eslint

Bug 1933473 - Track changes to declaration blocks correctly in the style rule map. a=pascalc
  dom/base/Document.cpp
  dom/base/Document.h
  dom/base/ShadowRoot.cpp
  dom/base/ShadowRoot.h
  layout/inspector/ServoStyleRuleMap.cpp
  layout/inspector/ServoStyleRuleMap.h
  layout/style/CSSNestedDeclarations.cpp
  layout/style/CSSStyleRule.cpp
  layout/style/ServoStyleSet.cpp
  layout/style/ServoStyleSet.h
  layout/style/StyleSheet.cpp
  layout/style/StyleSheet.h
  servo/components/style/invalidation/stylesheets.rs
Due: clang-format, rustfmt, mingw-capitalization, mscom-init, file-whitespace, trojan-source

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  browser/locales/l10n-changesets.json
Due: eslint

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  mobile/locales/l10n-changesets.json
Due: eslint

Bug 1933158 - Prevent mask icons from being stored. a=pascalc
  browser/actors/LinkHandlerChild.sys.mjs
  browser/base/content/test/favicons/file_mask_icon.html
Due: eslint, file-whitespace

Bug 1934346 - Introduce a pref to turn off VP9 simulcast entirely. a=pascalc
  dom/media/webrtc/jsapi/PeerConnectionCtx.h
  modules/libpref/init/StaticPrefList.yaml
Due: yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1934346 - Rename NoTrialsConfig to better reflect reality. a=pascalc
  dom/media/webrtc/jsapi/PeerConnectionCtx.cpp
  dom/media/webrtc/jsapi/PeerConnectionCtx.h
  media/webrtc/signaling/gtest/MockCall.h
  media/webrtc/signaling/gtest/mediapipeline_unittest.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1875592 - A small optimization for hit testing on mouse moves. r=botond
  gfx/layers/apz/src/APZCTreeManager.cpp
  gfx/layers/apz/src/APZCTreeManager.h
  gfx/layers/apz/test/mochitest/apz_test_native_event_utils.js
  gfx/layers/apz/test/mochitest/browser.toml
  gfx/layers/apz/test/mochitest/browser_test_mousemove_optimization.js
  gfx/layers/apz/test/mochitest/helper_mousemove_optimization.html
  gfx/layers/apz/test/mochitest/test_group_mouseevents.html
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1935195 - Add action to open tabgroup. r=dao,fluent-reviewers
  browser/components/urlbar/ActionsProviderTabGroups.sys.mjs
  browser/components/urlbar/UrlbarPrefs.sys.mjs
  browser/components/urlbar/UrlbarProviderGlobalActions.sys.mjs
  browser/components/urlbar/moz.build
  browser/components/urlbar/tests/browser/browser.toml
  browser/components/urlbar/tests/browser/browser_action_tabgroups.js
  browser/locales/en-US/browser/browser.ftl
  browser/themes/shared/jar.inc.mn
  browser/themes/shared/tabbrowser/tab-groups.svg
Due: eslint, py-black, fluent-lint, file-whitespace

Bug 1923251 - part 1: Make `HTMLEditor` clean up unnecessary padding line break when inserting something immediately before it r=m_kato
  editor/libeditor/EditorBase.cpp
  editor/libeditor/EditorUtils.h
  editor/libeditor/HTMLEditSubActionHandler.cpp
  editor/libeditor/HTMLEditUtils.cpp
  editor/libeditor/HTMLEditUtils.h
  editor/libeditor/HTMLEditor.cpp
  editor/libeditor/HTMLEditor.h
  editor/libeditor/HTMLEditorDataTransfer.cpp
  editor/libeditor/TextEditSubActionHandler.cpp
  editor/libeditor/tests/test_bug1250010.html
  editor/libeditor/tests/test_bug1330796.html
  editor/libeditor/tests/test_bug1385905.html
  editor/libeditor/tests/test_bug1397412.xhtml
  editor/libeditor/tests/test_bug551704.html
  editor/libeditor/tests/test_bug780035.html
  editor/libeditor/tests/test_bug787432.html
  editor/libeditor/tests/test_bug832025.html
  editor/libeditor/tests/test_cmd_fontFace_with_empty_string.html
  editor/libeditor/tests/test_cmd_fontFace_with_tt.html
  editor/libeditor/tests/test_dom_input_event_on_htmleditor.html
  editor/libeditor/tests/test_dragdrop.html
  editor/libeditor/tests/test_nsIEditorMailSupport_insertTextWithQuotations.html
  testing/web-platform/meta/editing/plaintext-only/insertText.html.ini
  testing/web-platform/meta/editing/run/inserthtml.html.ini
  testing/web-platform/meta/editing/run/insertimage.html.ini
  testing/web-platform/meta/editing/run/inserttext.html.ini
  widget/tests/window_composition_text_querycontent.xhtml
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Bug 1925635 - part 1: Port `test_bug1094000.html` to WPT r=m_kato
  editor/libeditor/tests/mochitest.toml
  editor/libeditor/tests/test_bug1094000.html
  testing/web-platform/meta/editing/run/delete-to-make-editing-host-empty.html.ini
  testing/web-platform/tests/editing/include/editor-test-utils.js
  testing/web-platform/tests/editing/run/delete-to-make-editing-host-empty.html
Due: eslint, file-whitespace, test-manifest

Bug 1923251 - part 2: Make `HTMLEditor` clean up unnecessary padding line breaks when deleting something immediately before it r=m_kato
  editor/libeditor/HTMLEditSubActionHandler.cpp
  editor/libeditor/HTMLEditor.h
  editor/libeditor/HTMLEditorDeleteHandler.cpp
  editor/libeditor/WSRunObject.cpp
  editor/libeditor/WSRunObject.h
  editor/libeditor/tests/test_bug1315065.html
  testing/web-platform/meta/editing/other/delete-before-invisible-line-break.html.ini
  testing/web-platform/meta/editing/other/forwarddelete-before-invisible-line-break.html.ini
  testing/web-platform/mozilla/meta/editor/delete-space-after-double-click-selection.html.ini
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Bug 1925635 - part 2: Port `test_bug1355792.html` to WPT r=m_kato
  editor/libeditor/tests/mochitest.toml
  editor/libeditor/tests/test_bug1355792.html
  testing/web-platform/tests/editing/data/delete.js
  testing/web-platform/tests/editing/data/forwarddelete.js
Due: eslint, file-whitespace

Bug 1925635 - part 3: Add some WPTs to check after deleting selected content across table cells r=m_kato
  testing/web-platform/meta/editing/run/inserttext.html.ini
  testing/web-platform/meta/editing/run/multitest.html.ini
  testing/web-platform/tests/editing/data/delete.js
  testing/web-platform/tests/editing/data/forwarddelete.js
  testing/web-platform/tests/editing/data/inserttext.js
  testing/web-platform/tests/editing/data/multitest.js
Due: eslint, test-manifest

Bug 1925635 - part 4: Make `HTMLEditor::AutoDeleteRangesHandler::Run` and its callees handle some processes directly immediately after deleting content r=m_kato
  editor/libeditor/EditorBase.cpp
  editor/libeditor/EditorBase.h
  editor/libeditor/EditorDOMPoint.h
  editor/libeditor/HTMLEditSubActionHandler.cpp
  editor/libeditor/HTMLEditUtils.cpp
  editor/libeditor/HTMLEditUtils.h
  editor/libeditor/HTMLEditor.cpp
  editor/libeditor/HTMLEditor.h
  editor/libeditor/HTMLEditorDeleteHandler.cpp
  editor/libeditor/WSRunObject.cpp
  editor/libeditor/tests/browserscope/lib/richtext2/currentStatus.js
  editor/libeditor/tests/test_dom_input_event_on_htmleditor.html
  testing/web-platform/meta/editing/plaintext-only/insertText.html.ini
  testing/web-platform/meta/editing/run/delete-to-make-editing-host-empty.html.ini
  testing/web-platform/meta/editing/run/delete.html.ini
  testing/web-platform/meta/editing/run/forwarddelete.html.ini
  testing/web-platform/meta/editing/run/multitest.html.ini
  testing/web-platform/meta/input-events/input-events-get-target-ranges-deleting-in-list-items.tentative.html.ini
  testing/web-platform/meta/input-events/input-events-get-target-ranges-joining-dl-element-and-another-list.tentative.html.ini
  testing/web-platform/meta/input-events/input-events-get-target-ranges-joining-dl-elements.tentative.html.ini
  testing/web-platform/tests/editing/data/multitest.js
  testing/web-platform/tests/editing/run/delete-chars-following-collapsible-white-space.html
  testing/web-platform/tests/editing/run/forwarddelete-chars-following-collapsible-white-space.html
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

no bug - Import translations from android-l10n r=release a=l10n CLOSED TREE
  mobile/android/android-components/components/browser/errorpages/src/main/res/values-bg/strings.xml
  mobile/android/android-components/components/browser/errorpages/src/main/res/values-scn/strings.xml
  mobile/android/android-components/components/browser/toolbar/src/main/res/values-iw/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-scn/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-th/strings.xml
  mobile/android/android-components/components/feature/app-links/src/main/res/values-scn/strings.xml
  mobile/android/android-components/components/feature/autofill/src/main/res/values-scn/strings.xml
  mobile/android/android-components/components/feature/downloads/src/main/res/values-scn/strings.xml
  mobile/android/android-components/components/feature/prompts/src/main/res/values-scn/strings.xml
  mobile/android/fenix/app/src/main/res/values-ast/strings.xml
  mobile/android/fenix/app/src/main/res/values-bg/strings.xml
  mobile/android/fenix/app/src/main/res/values-cs/strings.xml
  mobile/android/fenix/app/src/main/res/values-es-rES/strings.xml
  mobile/android/fenix/app/src/main/res/values-fi/strings.xml
  mobile/android/fenix/app/src/main/res/values-ia/strings.xml
  mobile/android/fenix/app/src/main/res/values-oc/strings.xml
  mobile/android/fenix/app/src/main/res/values-scn/strings.xml
  mobile/android/fenix/app/src/main/res/values-sk/strings.xml
  mobile/android/fenix/app/src/main/res/values-th/strings.xml
  mobile/android/fenix/app/src/main/res/values-tr/strings.xml
  mobile/android/focus-android/app/src/main/res/values-iw/strings.xml
Due: eslint

Bug 1932200 - Adding leaderboard UI and position logic. r=home-newtab-reviewers,nbarrett
  browser/components/newtab/content-src/components/DiscoveryStreamComponents/AdBanner/AdBanner.jsx
  browser/components/newtab/content-src/components/DiscoveryStreamComponents/AdBanner/_AdBanner.scss
  browser/components/newtab/content-src/components/DiscoveryStreamComponents/CardGrid/CardGrid.jsx
  browser/components/newtab/content-src/components/DiscoveryStreamImpressionStats/ImpressionStats.jsx
  browser/components/newtab/content-src/styles/activity-stream.scss
  browser/components/newtab/css/activity-stream.css
  browser/components/newtab/data/content/activity-stream.bundle.js
  browser/components/newtab/lib/DiscoveryStreamFeed.sys.mjs
Due: eslint, stylelint, file-whitespace
