Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, **/*.java, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml

Bug 1950183 - Show better output for mach test for android. r=robwu,ohall
  testing/android-test/mach_commands.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1934246 - Get rid of dom.popup.experimental; r=smaug
  accessible/base/nsCoreUtils.cpp
  accessible/generic/LocalAccessible.cpp
  docshell/base/BrowsingContext.cpp
  dom/base/test/useractivation/test_popup_blocker_mouse_event.html
  dom/base/test/useractivation/test_popup_blocker_pointer_event.html
  dom/base/test/useractivation/test_popup_blocker_postmessage.html
  dom/events/EventStateManager.cpp
  modules/libpref/init/StaticPrefList.yaml
Due: eslint, yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1950198 - Correct styling details for profile editor. r=profiles-reviewers,mossop
  browser/components/profiles/content/assets/system-theme-background.svg
  browser/components/profiles/content/edit-profile-card.css
  browser/components/profiles/content/profiles-group-item.css
  browser/components/profiles/content/profiles-pages.css
  browser/components/profiles/content/profiles-theme-card.mjs
Due: eslint, stylelint, file-whitespace

No bug - Tagging b795d59837eb475cddab6626723960a488ed7e7d with FIREFOX-ANDROID_137_0b10_BUILD1 a=release CLOSED TREE DONTBUILD
  .hgtags
Due: none

Bug 1954854 - When generating TypeScript interfaces via xpidl, fix the return type when translating out parameters. r=zombie
  tools/@types/lib.gecko.darwin.d.ts
  tools/@types/lib.gecko.dom.d.ts
  tools/@types/lib.gecko.xpcom.d.ts
  tools/ts/test/baselines/xpctest.d.ts
  xpcom/idl-parser/xpidl/fixtures/xpctest.d.json
  xpcom/idl-parser/xpidl/runtests.py
  xpcom/idl-parser/xpidl/xpidl.py
Due: eslint, py-black, py-ruff, file-whitespace, trojan-source

Bug 1955854 - Only handle Style Editor specific commands. r=devtools-reviewers,nchevobbe
  devtools/client/styleeditor/index.js
Due: eslint

Bug 1955854 - Only handle Style Editor specific commands. r=devtools-reviewers,nchevobbe a=pascalc
  devtools/client/styleeditor/index.js
Due: eslint

Bug 1939962 - Refill temporary set of registers if missing. r=jandem
  js/src/jit-test/tests/auto-regress/bug1939962.js
  js/src/jit/arm64/vixl/MacroAssembler-vixl.cpp
  js/src/jit/arm64/vixl/MacroAssembler-vixl.h
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1955957 - Part 2: Update expected test results. r=spidermonkey-reviewers,mgaudet
  js/src/tests/jstests.list
Due: none

Bug 1950414 - Change Mochitest names to match filename in metadata r=sparky,perftest-reviewers DONTBUILD
  python/mozperftest/perfdocs/config.yml
  testing/perfdocs/generated/mozperftest.rst
  toolkit/components/ml/tests/browser/browser_ml_autofill_perf.js
  toolkit/components/ml/tests/browser/browser_ml_engine_multi_perf.js
  toolkit/components/ml/tests/browser/browser_ml_engine_perf.js
  toolkit/components/ml/tests/browser/browser_ml_llama_summarizer_perf.js
  toolkit/components/ml/tests/browser/browser_ml_smart_tab_perf.js
  toolkit/components/ml/tests/browser/browser_ml_suggest_feature_perf.js
  toolkit/components/ml/tests/browser/browser_ml_suggest_inference.js
  toolkit/components/ml/tests/browser/browser_ml_summarizer_perf.js
  tools/lint/perfdocs/framework_gatherers.py
  tools/lint/perfdocs/verifier.py
Due: eslint, py-black, py-ruff, yaml, file-whitespace, trojan-source

Bug 1950311 - Add CSP to devtool's webextension-fallback.html. r=devtools-reviewers,extension-reviewers,ochameau,robwu
  devtools/shared/webextension-fallback.html
  dom/security/nsContentSecurityUtils.cpp
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1951677 - Add new strings for downloads r=android-reviewers,android-l10n-reviewers,rsainani,flod,tthibaud,giorga
  mobile/android/android-components/components/feature/downloads/src/main/java/mozilla/components/feature/downloads/DownloadNotification.kt
  mobile/android/android-components/components/feature/downloads/src/main/java/mozilla/components/feature/downloads/SimpleDownloadDialogFragment.kt
  mobile/android/android-components/components/feature/downloads/src/main/res/values/strings.xml
  mobile/android/android-components/components/feature/downloads/src/test/java/mozilla/components/feature/downloads/SimpleDownloadDialogFragmentTest.kt
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/DownloadRobot.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/downloads/dialog/StartDownloadDialog.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/downloads/listscreen/DownloadFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/downloads/listscreen/DownloadsScreen.kt
  mobile/android/fenix/app/src/main/res/values/strings.xml
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/downloads/dialog/FirstPartyDownloadDialogTest.kt
Due: eslint

Bug 1951426 - Request messages from OMC in newtab r=home-newtab-reviewers,omc-reviewers,mconley,aminomancer,maxx
  browser/actors/AboutNewTabParent.sys.mjs
  browser/components/asrouter/bin/import-rollouts.js
  browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  browser/components/asrouter/content-src/schemas/make-schemas.py
  browser/components/asrouter/content-src/templates/OnboardingMessage/NewtabMessage.schema.json
  browser/components/asrouter/content/asrouter-admin.bundle.js
  browser/components/asrouter/modules/ASRouter.sys.mjs
  browser/components/asrouter/modules/ASRouterParentProcessMessageHandler.sys.mjs
  browser/components/asrouter/modules/ASRouterTelemetry.sys.mjs
  browser/components/asrouter/modules/ActorConstants.mjs
  browser/components/asrouter/modules/PanelTestProvider.sys.mjs
  browser/components/asrouter/moz.build
  browser/components/asrouter/tests/xpcshell/head.js
  browser/components/asrouter/tests/xpcshell/test_PanelTestProvider.js
  browser/extensions/newtab/common/Actions.mjs
  browser/extensions/newtab/common/Reducers.sys.mjs
  browser/extensions/newtab/content-src/components/Base/Base.jsx
  browser/extensions/newtab/data/content/activity-stream.bundle.js
  browser/extensions/newtab/lib/ActivityStream.sys.mjs
  browser/extensions/newtab/lib/NewTabMessaging.sys.mjs
  toolkit/components/messaging-system/schemas/index.rst
Due: eslint, py-black, py-ruff, file-whitespace, trojan-source

Bug 1953632 - Update WallpaperHighlight for use with MessageWrapper r=home-newtab-reviewers,fluent-reviewers,bolsson,omc-reviewers,aminomancer,mconley,maxx
  browser/extensions/newtab/content-src/components/Base/Base.jsx
  browser/extensions/newtab/content-src/components/DiscoveryStreamComponents/FeatureHighlight/FeatureHighlight.jsx
  browser/extensions/newtab/content-src/components/DiscoveryStreamComponents/FeatureHighlight/WallpaperFeatureHighlight.jsx
  browser/extensions/newtab/content-src/components/DiscoveryStreamComponents/FeatureHighlight/_FeatureHighlight.scss
  browser/extensions/newtab/content-src/components/DiscoveryStreamComponents/FeatureHighlight/_WallpaperFeatureHighlight.scss
  browser/extensions/newtab/content-src/components/MessageWrapper/MessageWrapper.jsx
  browser/extensions/newtab/content-src/lib/utils.jsx
  browser/extensions/newtab/css/activity-stream.css
  browser/extensions/newtab/data/content/activity-stream.bundle.js
  browser/extensions/newtab/data/content/assets/custom-wp-highlight.png
  browser/extensions/newtab/karma.mc.config.js
  browser/extensions/newtab/lib/NewTabMessaging.sys.mjs
  browser/locales/en-US/browser/newtab/newtab.ftl
Due: eslint, stylelint, fluent-lint, file-whitespace

Bug 1954848 - Write tests for NewtabMessaging r=home-newtab-reviewers,mconley,maxx
  browser/extensions/newtab/test/xpcshell/test_NewTabMessaging.js
  browser/extensions/newtab/test/xpcshell/xpcshell.toml
Due: eslint

Bug 1951782 - Add JSX component for messages from ASRouter in newtab r=home-newtab-reviewers,omc-reviewers,aminomancer,thecount,maxx
  browser/extensions/newtab/content-src/components/DiscoveryStreamComponents/FeatureHighlight/_WallpaperFeatureHighlight.scss
  browser/extensions/newtab/content-src/components/MessageWrapper/MessageWrapper.jsx
  browser/extensions/newtab/css/activity-stream.css
  browser/extensions/newtab/test/unit/content-src/components/MessageWrapper.test.jsx
Due: eslint, stylelint, file-whitespace

No bug - Tagging b795d59837eb475cddab6626723960a488ed7e7d with FIREFOX-ANDROID_137_0b10_RELEASE a=release CLOSED TREE DONTBUILD
  .hgtags
Due: none

Automatic version bump CLOSED TREE NO BUG a=release DONTBUILD
  browser/config/version_display.txt
  mobile/android/version.txt
Due: none

Bug 1953978 - mach commands-completion compatibility with Bash 3 r=ahal
  python/mach/bash-completion.sh
  python/mach/mach/commands/commandinfo.py
  python/mach/mach/commands/completion_templates/bash.template
Due: py-black, py-ruff, shellcheck, file-whitespace, trojan-source

Bug 1950207 - Bump the major version of the newtab addon automatically when doing the bump-central job. r=bhearsum
  taskcluster/config.yml
Due: yaml

Bug 1950200 - Bump the major version of the webcompat addon automatically when doing the bump-central job. r=bhearsum,releng-reviewers,jcristau
  taskcluster/config.yml
  taskcluster/gecko_taskgraph/config.py
  tools/tryselect/selectors/release.py
Due: py-black, py-ruff, yaml, file-whitespace, trojan-source

Bug 1955057 - feat(webgpu): add `GPUAdapterInfo.isFallbackAdapter` r=webgpu-reviewers,webidl,smaug,teoxoy
  dom/webgpu/Adapter.cpp
  dom/webgpu/Adapter.h
  dom/webidl/WebGPU.webidl
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1955801 - Fix non-unified build error in SharedMemoryPlatform_mach.cpp on macOS. r=afranchuk
  ipc/glue/SharedMemoryPlatform_mach.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1931407 - wasm: Disallow shared memory for buffer compilation methods. r=yury
  js/src/builtin/TestingFunctions.cpp
  js/src/jit-test/lib/wasm-binary.js
  js/src/jit-test/tests/wasm/binary.js
  js/src/shell/js.cpp
  js/src/vm/TypedArrayObject.cpp
  js/src/vm/TypedArrayObject.h
  js/src/wasm/WasmJS.cpp
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1931407 - wasm: Rework bytecode handling for compilation to avoid copies. r=yury
  js/src/debugger/Source.cpp
  js/src/fuzz-tests/testWasm.cpp
  js/src/jit-test/tests/wasm/regress/bug1931407.js
  js/src/jsapi-tests/testWasmEncoder.cpp
  js/src/shell/js.cpp
  js/src/wasm/AsmJS.cpp
  js/src/wasm/WasmBinary.cpp
  js/src/wasm/WasmBinary.h
  js/src/wasm/WasmBinaryTypes.h
  js/src/wasm/WasmBuiltinModule.cpp
  js/src/wasm/WasmCompile.cpp
  js/src/wasm/WasmCompile.h
  js/src/wasm/WasmCompileArgs.h
  js/src/wasm/WasmDebug.cpp
  js/src/wasm/WasmDebug.h
  js/src/wasm/WasmGenerator.cpp
  js/src/wasm/WasmGenerator.h
  js/src/wasm/WasmJS.cpp
  js/src/wasm/WasmJS.h
  js/src/wasm/WasmMetadata.h
  js/src/wasm/WasmModule.cpp
  js/src/wasm/WasmModule.h
  js/src/wasm/WasmModuleTypes.h
  js/src/wasm/WasmPI.cpp
  js/src/wasm/WasmSerialize.cpp
  js/src/wasm/WasmShareable.h
  js/src/wasm/WasmValidate.cpp
  js/src/wasm/WasmValidate.h
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1955442 - Remove extra WALLPAPER_UPLOAD event r=home-newtab-reviewers,nbarrett
  browser/extensions/newtab/content-src/components/WallpapersSection/WallpaperCategories.jsx
  browser/extensions/newtab/data/content/activity-stream.bundle.js
Due: eslint

Bug 1954834 - Add configurable file size limitation to custom wallpaper r=home-newtab-reviewers,nbarrett
  browser/app/profile/firefox.js
  browser/extensions/newtab/content-src/components/WallpapersSection/WallpaperCategories.jsx
  browser/extensions/newtab/data/content/activity-stream.bundle.js
  browser/extensions/newtab/lib/ActivityStream.sys.mjs
  toolkit/components/nimbus/FeatureManifest.yaml
Due: eslint, yaml

Bug 1947813 - Add error state UI for custom wallpaper r=home-newtab-reviewers,nbarrett
  browser/extensions/newtab/content-src/components/WallpapersSection/WallpaperCategories.jsx
  browser/extensions/newtab/content-src/components/WallpapersSection/_WallpapersSection.scss
  browser/extensions/newtab/css/activity-stream.css
  browser/extensions/newtab/data/content/activity-stream.bundle.js
Due: eslint, stylelint, file-whitespace

Bug 1956041 - `customWallpaper.uploadedPreviously` pref no longer is reset when setting wallpaper back to default r=home-newtab-reviewers,nbarrett
  browser/extensions/newtab/content-src/components/WallpapersSection/WallpaperCategories.jsx
  browser/extensions/newtab/data/content/activity-stream.bundle.js
Due: eslint

Bug 1956028 - Update WALLPAPER_CLICK to include `customWallpaper.uploadedPreviously` telemetry data r=home-newtab-reviewers,nbarrett
  browser/components/newtab/metrics.yaml
  browser/extensions/newtab/content-src/components/WallpapersSection/WallpaperCategories.jsx
  browser/extensions/newtab/data/content/activity-stream.bundle.js
  browser/extensions/newtab/lib/ActivityStream.sys.mjs
  browser/extensions/newtab/lib/TelemetryFeed.sys.mjs
Due: eslint, yaml

Bug 1955402 - Adjust a11y metadata for activity, active AT use. r=denispal
  dom/base/Document.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1955394 - Add Nimbus recipe for smart tab groups. r=dwalker,rrando,tabbrowser-reviewers
  toolkit/components/nimbus/FeatureManifest.yaml
Due: yaml

Bug 1955498 - Add the new context menu to billboard/leaderboard ads on New Tab r=home-newtab-reviewers,nbarrett
  browser/extensions/newtab/content-src/components/DiscoveryStreamComponents/AdBanner/AdBanner.jsx
  browser/extensions/newtab/content-src/components/DiscoveryStreamComponents/AdBanner/_AdBanner.scss
  browser/extensions/newtab/content-src/components/DiscoveryStreamComponents/AdBannerContextMenu/AdBannerContextMenu.jsx
  browser/extensions/newtab/content-src/components/DiscoveryStreamComponents/AdBannerContextMenu/AdBannerContextMenu.scss
  browser/extensions/newtab/content-src/lib/link-menu-options.mjs
  browser/extensions/newtab/content-src/styles/activity-stream.scss
  browser/extensions/newtab/css/activity-stream.css
  browser/extensions/newtab/data/content/activity-stream.bundle.js
  browser/extensions/newtab/karma.mc.config.js
  browser/extensions/newtab/test/unit/content-src/components/DiscoveryStreamComponents/AdBanner.test.jsx
  browser/extensions/newtab/test/unit/content-src/components/DiscoveryStreamComponents/AdBannerContextMenu.test.jsx
Due: eslint, stylelint, file-whitespace

Bug 1955388 - prevent pinned tabs from commingling with non-pinned tabs when there are hidden tabs present. r=dao,tabbrowser-reviewers
  browser/components/tabbrowser/content/tabbrowser.js
Due: eslint

Bug 1947997 - Make sidebar.main.tools user customized r=sidebar-reviewers,firefox-desktop-core-reviewers ,mossop
  browser/app/profile/firefox.js
  browser/components/BrowserGlue.sys.mjs
  browser/components/genai/tests/xpcshell/test_show_chat_entrypoint.js
  browser/components/sidebar/SidebarManager.sys.mjs
  browser/components/sidebar/browser-sidebar.js
  browser/components/sidebar/docs/index.rst
  browser/components/sidebar/tests/browser/browser_customize_sidebar.js
  browser/components/sidebar/tests/browser/browser_glean_sidebar.js
  browser/components/sidebar/tests/browser/browser_sidebar_nimbus.js
  browser/components/sidebar/tests/browser/browser_sidebar_prefs.js
  browser/components/sidebar/tests/browser/browser_tools_migration.js
  browser/components/sidebar/tests/browser/head.js
  toolkit/components/nimbus/FeatureManifest.yaml
Due: eslint, yaml, file-whitespace

Backed out 2 changesets (bug 1950207, bug 1950200) as requested for a deploy timing.
  taskcluster/config.yml
  taskcluster/gecko_taskgraph/config.py
  tools/tryselect/selectors/release.py
Due: py-black, py-ruff, yaml, file-whitespace, trojan-source

Bug 1955782 - test(webgpu): accept observed intermittents for `webgpu:api,validation,state,device_lost,destroy:createTexture,2d,compressed_format:*` on Linux debug r=webgpu-reviewers,teoxoy
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/state/device_lost/destroy/cts.https.html.ini
Due: test-manifest

Bug 1955683 - Move BiometricAuthenticationManager into its own directory r=android-reviewers,twhite
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/biometricauthentication/BiometricAuthenticationManager.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/BaseBrowserFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/lifecycle/VisibilityLifecycleObserver.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/logins/fragment/AddLoginFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/logins/fragment/EditLoginFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/logins/fragment/LoginDetailFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/logins/fragment/SavedLoginsAuthFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/logins/fragment/SavedLoginsFragment.kt
Due: none

Bug 1949124 - Update engine selector to sort engines alphabetically. r=Standard8
  toolkit/components/search/SearchEngineSelector.sys.mjs
  toolkit/components/search/tests/xpcshell/searchconfigs/test_selector_db_out_of_date.js
  toolkit/components/search/tests/xpcshell/test_engine_selector_engine_orders.js
  toolkit/components/search/tests/xpcshell/test_engine_selector_environment.js
  toolkit/components/search/tests/xpcshell/test_reload_engines.js
Due: eslint
