Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, **/*.java, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml

Bug 1928304 - Tidy up code for readline shell function a bit. r=arai
  js/src/shell/js.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1929307: Import prefs from SharedPrefs at startup rather than clobbering them. r=jhirsch,niklas
  browser/components/profiles/SelectableProfileService.sys.mjs
  browser/components/profiles/tests/browser/browser_notify_changes.js
  browser/components/profiles/tests/unit/head.js
  browser/components/profiles/tests/unit/test_recover_storeID.js
  browser/components/profiles/tests/unit/test_selectable_profiles_lifecycle.js
  browser/components/profiles/tests/unit/test_shared_prefs_lifecycles_methods.js
Due: eslint

Bug 1926507: Badge the taskbar/dock with the profile avatar. r=niklas,jhirsch
  browser/components/profiles/SelectableProfile.sys.mjs
  browser/components/profiles/SelectableProfileService.sys.mjs
  browser/components/profiles/tests/browser/head.js
  browser/components/profiles/tests/unit/head.js
  browser/components/profiles/tests/unit/test_selectable_profiles_lifecycle.js
  browser/components/profiles/tests/unit/test_shared_prefs_lifecycles_methods.js
Due: eslint

Backed out changeset 58635b019edd (bug 1918301) for causing mochitest failures @ browser_pdfjs_octet_stream.js CLOSED TREE
  toolkit/components/pdfjs/test/browser.toml
  toolkit/components/pdfjs/test/browser_pdfjs_multipart_response.js
  toolkit/components/pdfjs/test/pdf_multipart.sjs
Due: eslint

Bug 1929055 - Add tests for xray on explicit resource management globals. r=arai
  js/xpconnect/tests/chrome/chrome.toml
  js/xpconnect/tests/chrome/test_xrayToExplicitResourceManagement.html
  toolkit/modules/AppConstants.sys.mjs
Due: eslint, file-whitespace

Bug 1930725 - Clean up a bit nsDeviceContext. r=layout-reviewers,TYLin
  dom/base/nsDOMWindowUtils.cpp
  dom/base/nsScreen.cpp
  gfx/src/nsDeviceContext.cpp
  gfx/src/nsDeviceContext.h
  layout/base/PresShell.cpp
  layout/base/nsPresContext.cpp
  layout/printing/nsPrintJob.cpp
  layout/style/nsMediaFeatures.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1930725 - Clean up nsDeviceContext screen lookups. r=TYLin
  gfx/src/nsDeviceContext.cpp
  gfx/src/nsDeviceContext.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1930294 - Add tracking query parameter "si" for open.spotify.com to "Copy without Site Tracking" list. r=manuel,anti-tracking-reviewers
  toolkit/components/antitracking/StripOnShareLists/MPL2/StripOnShare.json
Due: eslint

Bug 1919544 - Do not HTTPS-First upgrade URLs with http:// scheme r=mak,necko-reviewers,urlbar-reviewers,tabbrowser-reviewers
  browser/base/content/browser-init.js
  browser/components/tabbrowser/content/tabbrowser.js
  browser/components/urlbar/UrlbarInput.sys.mjs
  browser/components/urlbar/UrlbarValueFormatter.sys.mjs
  browser/modules/URILoadingHelper.sys.mjs
  docshell/base/URIFixup.sys.mjs
  docshell/base/nsDocShell.cpp
  docshell/base/nsDocShell.h
  docshell/base/nsDocShellLoadState.cpp
  docshell/base/nsDocShellLoadState.h
  docshell/base/nsIURIFixup.idl
  dom/chrome-webidl/LoadURIOptions.webidl
  dom/ipc/DOMTypes.ipdlh
  dom/security/DomSecurityIPCUtils.h
  dom/security/nsContentSecurityManager.cpp
  dom/security/nsHTTPSOnlyUtils.cpp
  dom/security/test/https-first/browser.toml
  dom/security/test/https-first/browser_http_scheme_no_upgrade.js
  ipc/glue/BackgroundUtils.cpp
  netwerk/base/LoadInfo.cpp
  netwerk/base/LoadInfo.h
  netwerk/base/TRRLoadInfo.cpp
  netwerk/base/nsILoadInfo.idl
  netwerk/base/nsNetUtil.cpp
  netwerk/ipc/DocumentLoadListener.cpp
  netwerk/ipc/NeckoChannelParams.ipdlh
  tools/@types/lib.gecko.dom.d.ts
  tools/@types/lib.gecko.xpcom.d.ts
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1928349 - fix typo in bugzillarc file name in doc r=firefox-source-docs-reviewers,ahal DONTBUILD
  testing/docs/tests-for-new-config/index.rst
Due: file-whitespace

Bug 1928349 - Add clarifications in doc to avoid accidental creation of bugs with skip-fails r=manuel,firefox-source-docs-reviewers,ahal DONTBUILD
  testing/mozbase/docs/manifestparser.rst
Due: file-whitespace

Bug 1930633. Change ViewportUtils::GetVisualToLayoutTransform to take an nsIContent instead of a ViewID. r=hiro
  layout/base/ViewportUtils.cpp
  layout/base/ViewportUtils.h
  layout/generic/nsIFrame.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Backed out changeset 3410937cbf75 (bug 1930832) for causing android browser-storage-sync bustages CLOSED TREE
  mobile/android/android-components/plugins/dependencies/src/main/java/ApplicationServices.kt
  mobile/android/android-components/plugins/dependencies/src/main/java/moz.yaml
Due: yaml

Bug 1849109 - Prevent move-to-rect loops with fractional scale. r=stransky
  widget/gtk/nsWindow.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1927730. Fix the links on firefox-source-docs's Gecko Overview and MOTS pages to link to our Layout & CSS docs. r=zeid
  docs/overview/gecko.rst
  mots.yaml
Due: yaml, file-whitespace

Bug 1643363. Add some documentation to mozilla::dom::UserActivation. r=edgar
  dom/base/UserActivation.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1930811 - Fix failing PWA and Open links in apps UI tests r=ohorvath
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/PwaTest.kt
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/SettingsAdvancedTest.kt
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/WebControlsTest.kt
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/ThreeDotMenuMainRobot.kt
Due: none

Bug 1930666: add test to <block-string-assignment-to-Element-setAttribute.html> which checks trusted types can be assigned to non-injection sinks. r=smaug
  testing/web-platform/tests/trusted-types/block-string-assignment-to-Element-setAttribute.html
Due: eslint, file-whitespace

Bug 1902931 - Add telemetry to understand the average read interval for HTTP/3 connection, r=necko-reviewers,valentin
  netwerk/protocol/http/Http3Session.cpp
  netwerk/protocol/http/Http3Session.h
  netwerk/protocol/http/HttpConnectionUDP.cpp
  netwerk/protocol/http/metrics.yaml
Due: yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Backed out changeset c4dfee1f9194 (bug 1919544) for causing bc failures @ browser_UrlbarInput_formatValue.js CLOSED TREE
  browser/base/content/browser-init.js
  browser/components/tabbrowser/content/tabbrowser.js
  browser/components/urlbar/UrlbarInput.sys.mjs
  browser/components/urlbar/UrlbarValueFormatter.sys.mjs
  browser/modules/URILoadingHelper.sys.mjs
  docshell/base/URIFixup.sys.mjs
  docshell/base/nsDocShell.cpp
  docshell/base/nsDocShell.h
  docshell/base/nsDocShellLoadState.cpp
  docshell/base/nsDocShellLoadState.h
  docshell/base/nsIURIFixup.idl
  dom/chrome-webidl/LoadURIOptions.webidl
  dom/ipc/DOMTypes.ipdlh
  dom/security/DomSecurityIPCUtils.h
  dom/security/nsContentSecurityManager.cpp
  dom/security/nsHTTPSOnlyUtils.cpp
  dom/security/test/https-first/browser.toml
  dom/security/test/https-first/browser_http_scheme_no_upgrade.js
  ipc/glue/BackgroundUtils.cpp
  netwerk/base/LoadInfo.cpp
  netwerk/base/LoadInfo.h
  netwerk/base/TRRLoadInfo.cpp
  netwerk/base/nsILoadInfo.idl
  netwerk/base/nsNetUtil.cpp
  netwerk/ipc/DocumentLoadListener.cpp
  netwerk/ipc/NeckoChannelParams.ipdlh
  tools/@types/lib.gecko.dom.d.ts
  tools/@types/lib.gecko.xpcom.d.ts
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

No bug - Tagging 15791f64fc4d9679ec106119c266b0ba73f0f8d7 with FIREFOX-ANDROID_133_0b8_BUILD1 a=release CLOSED TREE DONTBUILD
  .hgtags
Due: none

No bug - Tagging 15791f64fc4d9679ec106119c266b0ba73f0f8d7 with DEVEDITION_133_0b8_BUILD1 a=release CLOSED TREE DONTBUILD
  .hgtags
Due: none

No bug - Tagging 15791f64fc4d9679ec106119c266b0ba73f0f8d7 with FIREFOX_133_0b8_BUILD1 a=release CLOSED TREE DONTBUILD
  .hgtags
Due: none

Bug 1929884 - [Menu Redesign] The disabled Extensions should not be listed under Extensions menu item. r=android-reviewers,petru
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/menu/MenuDialogFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/menu/compose/MainMenu.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/menu/middleware/MenuDialogMiddleware.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/menu/middleware/MenuTelemetryMiddleware.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/menu/store/MenuAction.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/menu/store/MenuState.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/menu/store/MenuStore.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/components/menu/MenuDialogMiddlewareTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/components/menu/MenuStoreTest.kt
Due: none

No bug - Tagging 15791f64fc4d9679ec106119c266b0ba73f0f8d7 with FIREFOX-ANDROID_133_0b8_RELEASE a=release CLOSED TREE DONTBUILD
  .hgtags
Due: none

Automatic version bump CLOSED TREE NO BUG a=release DONTBUILD
  browser/config/version_display.txt
  mobile/android/version.txt
Due: none

Bug 1930660 Part 1 - Replace mozilla::clamped by std::clamp in ycbcr_to_rgb565 r=emilio
  gfx/ycbcr/ycbcr_to_rgb565.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1919558 - Part 1: Convert host to origin before storing it as a DefaultEntry in the permission manager r=pbz,permissions-reviewers
  extensions/permissions/PermissionManager.cpp
  extensions/permissions/PermissionManager.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1919558 - Part 2: Separate out logic for importing DefaultEntry into own method in permission manager r=pbz,permissions-reviewers
  extensions/permissions/PermissionManager.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1919558 - Part 4: Allow default permissions to be modified through AddInternal in permission manager r=pbz,permissions-reviewers
  extensions/permissions/PermissionManager.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1919558 - Part 3: Move logic to restore default permission entries into AddInternal in permission manager r=pbz,permissions-reviewers
  extensions/permissions/PermissionManager.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1919558 - Part 6: Add RemotePermissionService to get default permissions from remote settings r=pbz,permissions-reviewers
  extensions/permissions/PermissionManager.cpp
  extensions/permissions/PermissionManager.h
  extensions/permissions/RemotePermissionService.sys.mjs
  extensions/permissions/components.conf
  extensions/permissions/moz.build
  extensions/permissions/nsIRemotePermissionService.idl
  modules/libpref/init/StaticPrefList.yaml
  services/settings/dumps/main/remote-permissions.json
Due: eslint, py-black, yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1919558 - Part 7: Add test for remote permission service r=pbz,permissions-reviewers
  extensions/permissions/test/unit/test_permmanager_remote.js
  extensions/permissions/test/unit/xpcshell.toml
Due: eslint

Bug 1919558 - Part 5: Add AddDefaultFromPrincipal method to permission manager r=pbz,permissions-reviewers
  extensions/permissions/PermissionManager.cpp
  netwerk/base/nsIPermissionManager.idl
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1816449 - Part 8: Allow HTTPS-First exceptions to be set through the RemotePermissionService r=pbz,permissions-reviewers
  extensions/permissions/RemotePermissionService.sys.mjs
Due: eslint

Bug 1930818 - Remove obsolete AndroidX Tracing pinning. r=android-reviewers,petru
  mobile/android/android-components/plugins/dependencies/src/main/java/DependenciesPlugin.kt
  mobile/android/android-components/samples/browser/build.gradle
  mobile/android/android-components/samples/glean/build.gradle
  mobile/android/fenix/app/build.gradle
  mobile/android/focus-android/app/build.gradle
Due: none

Bug 1930660 Part 2 - Replace remaining uses of mozilla::clamped by std::clamp r=jwatt,emilio
  dom/media/webaudio/blink/HRTFDatabase.cpp
  dom/media/webaudio/blink/HRTFKernel.cpp
  xpcom/base/nsAlgorithm.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1930427: Don't stretch abs-positioned frames if any inset is auto. r=layout-reviewers,emilio
  layout/generic/nsIFrame.cpp
  testing/web-platform/tests/css/css-align/abspos/align-self-stretch-auto-size-ref.tentative.html
  testing/web-platform/tests/css/css-align/abspos/align-self-stretch-auto-size.tentative.html
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1930561: Consider align-items for abs-positioned frames only when finding static position of it. r=layout-reviewers,emilio
  layout/generic/nsAbsoluteContainingBlock.cpp
  layout/generic/nsContainerFrame.cpp
  layout/generic/nsContainerFrame.h
  testing/web-platform/tests/css/css-align/abspos/align-items-static-position-ref.html
  testing/web-platform/tests/css/css-align/abspos/align-items-static-position.html
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1930849 - [bidi] Fallback to channelCreationTime if asyncOpenTime is set to 0 r=webdriver-reviewers,whimboo
  remote/shared/NetworkRequest.sys.mjs
Due: eslint
