Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

eslint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

stylelint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

py-black:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

py-ruff:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

yaml:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

shellcheck:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

clang-format:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

rustfmt:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

fluent-lint:
  stage: lint
  image: $IMAGE_PATH
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
    GIT_STRATEGY: none
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  tags:
  - firefox
  before_script:
  - git init
  ...

Bug 1941537 - part 4: Extract _get_upstream_task_label_and_artifact() into a dedicated function a=pascalc
  taskcluster/gecko_taskgraph/transforms/partner_attribution.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1941537 - part 5: Extract _get_{input,output}_path() into dedicated functions a=pascalc
  taskcluster/gecko_taskgraph/transforms/partner_attribution.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1941537 - part 6: Define partner attributions per platform a=pascalc
  taskcluster/gecko_taskgraph/transforms/partner_attribution.py
  taskcluster/kinds/release-partner-attribution/kind.yml
Due: py-black, py-ruff, yaml, file-whitespace, trojan-source

Bug 1941537 - part 7: Extract macOS attribution commands into a dedicated function a=pascalc
  taskcluster/gecko_taskgraph/transforms/attribution.py
  taskcluster/gecko_taskgraph/util/partners.py
  taskcluster/kinds/attribution-l10n/kind.yml
  taskcluster/kinds/attribution/kind.yml
Due: py-black, py-ruff, yaml, file-whitespace, trojan-source

Bug 1941537 - part 9: Add smi campaign in test params a=pascalc
  taskcluster/test/params/mr-promote-firefox-rc.yml
  taskcluster/test/params/mr-promote-firefox.yml
  taskcluster/test/params/mr-push-firefox.yml
  taskcluster/test/params/mr-ship-firefox-rc.yml
  taskcluster/test/params/mr-ship-firefox.yml
Due: yaml

Bug 1941537 - part 8: Extract _build_attribution_config() into its own function a=pascalc
  taskcluster/gecko_taskgraph/transforms/partner_attribution.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1941537 - part 10: Add release-partner-attribution{-beetmover}-macos tasks a=pascalc
  taskcluster/gecko_taskgraph/transforms/partner_attribution.py
  taskcluster/kinds/release-partner-attribution/kind.yml
  taskcluster/test/params/mr-promote-firefox-rc.yml
  taskcluster/test/params/mr-promote-firefox.yml
  taskcluster/test/params/mr-push-firefox.yml
  taskcluster/test/params/mr-ship-firefox-rc.yml
  taskcluster/test/params/mr-ship-firefox.yml
Due: py-black, py-ruff, yaml, file-whitespace, trojan-source

Bug 1941537 - part 11: Move definition of the artifact folder to the kind as it is just a static config a=pascalc
  taskcluster/gecko_taskgraph/transforms/partner_attribution.py
  taskcluster/kinds/release-partner-attribution/kind.yml
Due: py-black, py-ruff, yaml, file-whitespace, trojan-source

Bug 1941537 - part 12: Mark smi-001 as publish to release in test params a=pascalc
  taskcluster/test/params/mr-promote-firefox-rc.yml
  taskcluster/test/params/mr-promote-firefox.yml
  taskcluster/test/params/mr-push-firefox.yml
  taskcluster/test/params/mr-ship-firefox-rc.yml
  taskcluster/test/params/mr-ship-firefox.yml
Due: yaml

Bug 1941537 - part 13: Add partner attributed builds to release-{partner-repack-bouncer-sub,bouncer-aliases} a=pascalc
  taskcluster/gecko_taskgraph/util/partners.py
Due: py-black, py-ruff, file-whitespace, trojan-source

No bug - Tagging 997c90c1160a792d2e5dcc6976666818f507bf2e with DEVEDITION_135_0b8_RELEASE a=release CLOSED TREE DONTBUILD
  .hgtags
Due: none

Bug 1943075 - Shorten dragover grouping transition and increase browser.tabs.groups.dragOverDelayMS instead. r=jswinarton,tabbrowser-reviewers
  browser/app/profile/firefox.js
  browser/themes/shared/tabbrowser/tabs.css
Due: eslint, stylelint, file-whitespace

Bug 1937295 - Register Glean ping in crashreporter test r=afranchuk
  toolkit/crashreporter/client/app/src/glean.rs
Due: rustfmt, file-whitespace, trojan-source

Bug 1860955 - [webdriver-bidi] Serialize entire browsing context tree for "contextDestroyed" events r=whimboo,webdriver-reviewers
  remote/webdriver-bidi/modules/root/browsingContext.sys.mjs
Due: eslint

Bug 1860955 - [wdspec] Updating tests for serializing the full context tree for "browsingContext.contextDestroyed" events. r=whimboo,webdriver-reviewers
  testing/web-platform/meta/webdriver/tests/bidi/browsing_context/context_destroyed/context_destroyed.py.ini
  testing/web-platform/tests/webdriver/tests/bidi/browsing_context/context_destroyed/context_destroyed.py
Due: py-black, py-ruff, file-whitespace, test-manifest, trojan-source

Backed out 12 changesets (bug 1934825, bug 1934827) for causing build bustages. CLOSED TREE
  dom/base/FragmentDirective.cpp
  dom/base/FragmentDirective.h
  dom/base/TextDirectiveCreator.cpp
  dom/base/TextDirectiveCreator.h
  dom/base/TextDirectiveUtil.cpp
  dom/base/TextDirectiveUtil.h
  dom/base/moz.build
  dom/base/test/mochitest.toml
  dom/base/test/test_text-fragments-create-text-directive.html
  dom/webidl/FragmentDirective.webidl
  layout/generic/SelectionMovementUtils.cpp
  modules/libpref/init/StaticPrefList.yaml
Due: eslint, py-black, yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1941822 - [WebCompat Reporter] Update the "What's broken?" field to be required r=android-reviewers,007
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/webcompat/store/WebCompatReporterStore.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/webcompat/ui/WebCompatReporter.kt
  mobile/android/fenix/app/src/main/res/values/strings.xml
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/webcompat/store/WebCompatReporterStoreTest.kt
Due: eslint

No bug - Tagging 997c90c1160a792d2e5dcc6976666818f507bf2e with FIREFOX_135_0b8_RELEASE a=release CLOSED TREE DONTBUILD
  .hgtags
Due: none

Bug 1943033 - Expand figshare shim to publications.cispa.de r=webcompat-reviewers,twisniewski
  browser/extensions/webcompat/data/shims.js
  browser/extensions/webcompat/manifest.json
  mobile/android/android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/data/shims.js
  mobile/android/android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/manifest.json
Due: eslint

Bug 1937749 - Respect HTTPS-Only over schemeless HTTPS-First when checking exceptions r=freddyb
  dom/security/nsHTTPSOnlyUtils.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1923381: Reenable ScotchBonnet in performance tests r=daleharvey
  browser/base/content/test/performance/browser.toml
Due: none

Bug 1942883: Remove HoloLens MDL2 Assets font. r=tjr
  gfx/thebes/StandardFonts-win10.inc
Due: none

Bug 1942875: Remove AlternateGothic2 BT. r=tjr
  gfx/thebes/StandardFonts-win10.inc
Due: none

Bug 1910409 - Implement ExpandablePrompt interface in AddressSelectBar and CreditCardSelectBar r=android-reviewers,petru
  mobile/android/android-components/components/feature/prompts/src/main/java/mozilla/components/feature/prompts/address/AddressSelectBar.kt
  mobile/android/android-components/components/feature/prompts/src/main/java/mozilla/components/feature/prompts/creditcard/CreditCardSelectBar.kt
  mobile/android/android-components/components/feature/prompts/src/test/java/mozilla/components/feature/prompts/address/AddressSelectBarTest.kt
  mobile/android/android-components/components/feature/prompts/src/test/java/mozilla/components/feature/prompts/creditcard/CreditCardSelectBarTest.kt
  mobile/android/android-components/docs/changelog.md
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/AutofillBarsIntegration.kt
  mobile/android/fenix/app/src/main/res/layout/fragment_browser.xml
Due: eslint, file-whitespace

Bug 1941284 - [devtools] Ensure clearing console and netmonitor when reloading addons. r=devtools-reviewers,bomsy
  devtools/client/aboutdebugging/test/browser/browser_aboutdebugging_addons_debug_reload.js
  devtools/client/framework/toolbox.js
  devtools/client/locales/en-US/webconsole.properties
  devtools/client/webconsole/utils/messages.js
Due: eslint, localization, file-whitespace

Bug 1942660 - Part 2: Use the updated onboarding strings to the UI. r=android-reviewers,rebecatudor273
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/onboarding/view/OnboardingMapperTest.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/ManagePrivacyPreferencesDialog.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/view/TermsOfServiceOnboardingPage.kt
Due: none

Bug 1942660 - Part 3: Update the onboarding subtitle to match the design. r=android-reviewers,rebecatudor273
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/view/TermsOfServiceOnboardingPage.kt
Due: none

Bug 1942660 - Part 4: Remove the period from onboarding_terms_of_service_sub_header r=android-reviewers,rebecatudor273
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/view/TermsOfServiceOnboardingPage.kt
  mobile/android/fenix/app/src/main/res/values/strings.xml
Due: eslint

Bug 1942837 - [Rollout] The Fox Doodle checkboxes are wrongly aligned on Nightly 136 r=negin,omc-reviewers
  browser/components/aboutwelcome/content-src/components/ContentTiles.jsx
  browser/components/aboutwelcome/content-src/components/MultiSelect.jsx
  browser/components/aboutwelcome/content/aboutwelcome.bundle.js
Due: eslint

Bug 1941091: Add system principal check to nsRFPService::IsRFPEnabledFor. r=tjr
  modules/libpref/init/StaticPrefList.yaml
  toolkit/components/resistfingerprinting/nsRFPService.cpp
Due: yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1941091: Fix broken tests. r=tjr
  browser/components/resistfingerprinting/test/browser/browser.toml
  browser/components/resistfingerprinting/test/browser/browser_navigator.js
  browser/components/resistfingerprinting/test/browser/browser_netInfo.js
  browser/components/resistfingerprinting/test/browser/browser_roundedWindow_newWindow.js
  browser/components/resistfingerprinting/test/browser/browser_roundedWindow_open_max_inner.js
  browser/components/resistfingerprinting/test/browser/browser_roundedWindow_open_mid_inner.js
  browser/components/resistfingerprinting/test/browser/browser_roundedWindow_open_min_inner.js
  browser/components/resistfingerprinting/test/browser/browser_spoofing_keyboard_event.js
  browser/components/resistfingerprinting/test/browser/head.js
  browser/components/resistfingerprinting/test/mochitest/file_workerNetInfo.js
  browser/components/resistfingerprinting/test/mochitest/mochitest.toml
  browser/components/resistfingerprinting/test/mochitest/test_netInfo.html
  browser/components/resistfingerprinting/test/mochitest/test_speech_synthesis.html
  dom/base/ChromeUtils.cpp
  toolkit/components/cleardata/tests/unit/test_fingerprinting_protection_state.js
  toolkit/components/resistfingerprinting/nsRFPService.cpp
  toolkit/components/resistfingerprinting/nsRFPService.h
  toolkit/components/resistfingerprinting/tests/browser/browser_canvas_randomization.js
  toolkit/components/resistfingerprinting/tests/browser/browser_canvas_randomization_worker.js
  toolkit/components/resistfingerprinting/tests/browser/browser_fingerprinting_randomization_key.js
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1940765 - IDB: Enable adding/getting ~1042MB of data; r=dom-storage-reviewers,smaug,asuth
  modules/libpref/init/all.js
Due: eslint

Bug 1942660 - Part 5: Remove redundant UnusedResources suppression for ToS strings r=android-reviewers,rebecatudor273
  mobile/android/fenix/app/src/main/res/values/strings.xml
Due: eslint

Backed out changeset b7e0ceaa7a4a (bug 1923381) for causing failures at browser_windowopen.js. CLOSED TREE
  browser/base/content/test/performance/browser.toml
Due: none

Bug 1941438 - Prevent notification workers from triggering notification prompt r=android-reviewers,twhite
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
Due: none

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  browser/locales/l10n-changesets.json
Due: eslint

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  mobile/locales/l10n-changesets.json
Due: eslint

Bug 1942959 - Fix clip rect that is applied to external swap chains with layer compositor enabled r=gfx-reviewers,lsalzman
  gfx/webrender_bindings/src/bindings.rs
  gfx/wr/webrender/src/composite.rs
  gfx/wr/webrender/src/renderer/mod.rs
Due: rustfmt, file-whitespace, trojan-source

Bug 1943123 - Correct language name for Serbian from Cрпски to Српски, r=bolsson
  python/mozbuild/mozbuild/action/langpack_localeNames.json
  toolkit/components/mozintl/mozIntl.sys.mjs
Due: eslint

Bug 1938663 - feat(webgpu): enable APIs in all worker contexts (viz., add service workers) r=webgpu-reviewers,webidl,smaug,nical
  dom/serviceworkers/test/test_serviceworker_interfaces.js
  dom/webgpu/Instance.cpp
  dom/webidl/GPUUncapturedErrorEvent.webidl
  dom/webidl/WebGPU.webidl
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, **/*.java, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml
