Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, **/*.java, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml

Bug 1943063 - Use ListAdapter on SaveCollectionListAdapter without notifyDataSetChanged r=android-reviewers,tthibaud
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/collections/CollectionCreationView.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/collections/SaveCollectionListAdapter.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/collections/SaveCollectionListAdapterTest.kt
Due: none

Bug 1946837 - Add sorting to Interaction Viewer - r=mak,places-reviewers
  browser/components/places/metadataViewer/interactionsViewer.js
Due: eslint

Bug 1947023 - Propagate hidden-under-embedder properly to nested tops. r=nika,devtools-reviewers,ochameau
  browser/components/extensions/test/browser/browser_ext_devtools_panel.js
  docshell/base/BrowsingContext.cpp
  docshell/base/CanonicalBrowsingContext.cpp
  docshell/base/CanonicalBrowsingContext.h
  dom/base/Document.cpp
  dom/base/nsFocusManager.cpp
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1941137 - Add ffmpeg patch from upstream a=dmeehan
  media/ffvpx/libavcodec/threadprogress.c
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1946156 - Ensure the icons don't exceed the maximum size in the migration to search settings v12. a=dmeehan
  toolkit/components/search/SearchEngine.sys.mjs
  toolkit/components/search/SearchSettings.sys.mjs
  toolkit/components/search/SearchUtils.sys.mjs
  toolkit/components/search/tests/xpcshell/test_settings_migrate_12.js
Due: eslint

Bug 1940292 - Text Fragments: Restrict string find algorithm to the next block boundary when the strings need to be adjacent. r=emilio
  dom/base/TextDirectiveFinder.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1946244 - Update android mozconfig template to match current target selection behaviour r=geckoview-reviewers,calu
  mobile/android/docs/geckoview/contributor/for-gecko-engineers.rst
  python/mozboot/mozboot/android.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1947157 - Use In-Product link for dedicated usernamespaces fix page r=jld
  security/sandbox/common/SandboxUtils.sys.mjs
Due: eslint

Bug 1946461 - Make `Event::GetPrimaryFrameOfEventTarget` return `nullptr` if target is moved outside the original `nsPresContext` a=dmeehan
  dom/events/Event.cpp
  testing/web-platform/mozilla/tests/dom/events/retrieve_coords_after_moving_target_outside_subdoc_and_hide_the_subdoc.html
  testing/web-platform/tests/uievents/mouse/crashtests/retrieve_coords_after_moving_target_outside_subdoc_and_hide_the_subdoc.html
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  browser/locales/l10n-changesets.json
Due: eslint

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  mobile/locales/l10n-changesets.json
Due: eslint

Bug 1888298 - Null-check pres shell on teardown. r=morgan
  accessible/generic/DocAccessible.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1766133 - Properly wait for the profiler stop in the serviceworker perftests r=julienw DONTBUILD
  dom/serviceworkers/test/performance/perfutils.js
Due: eslint

Bug 1766133 - Destroy the chrome scripts after they are executed in the serviceworker perftests r=julienw DONTBUILD
  dom/serviceworkers/test/performance/perfutils.js
Due: eslint

Bug 1766133 - Return the profiler stop promise from stopProfilerAndDiscardProfile r=julienw DONTBUILD
  devtools/server/actors/perf.js
Due: eslint

Bug 1766133 - Make the gather profile thread joinable and join it during shutdown to avoid leaks r=aabh,profiler-reviewers DONTBUILD
  tools/profiler/gecko/ProfilerChild.cpp
  tools/profiler/public/ProfilerChild.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1926477 - Call getters from permissive megamorphic jit code r=iain
  js/src/jit/CodeGenerator.cpp
  js/src/jit/CodeGenerator.h
  js/src/jit/LIROps.yaml
  js/src/jit/Lowering.cpp
  js/src/jit/MacroAssembler.cpp
  js/src/jit/MacroAssembler.h
  js/src/vm/GetterSetter.h
Due: yaml, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1927209 - Try to handle fragmented memory better for large buffers in IPC, r=afranchuk,ipc-reviewers,jld
  ipc/chromium/src/chrome/common/ipc_message_utils.cc
  ipc/chromium/src/chrome/common/ipc_message_utils.h
  ipc/glue/SharedMemoryCursor.cpp
  ipc/glue/SharedMemoryCursor.h
  ipc/glue/SharedMemoryHandle.cpp
  ipc/glue/SharedMemoryHandle.h
  ipc/glue/SharedMemoryMapping.cpp
  ipc/glue/SharedMemoryMapping.h
  ipc/glue/SharedMemoryPlatform.h
  ipc/glue/SharedMemoryPlatform_android.cpp
  ipc/glue/SharedMemoryPlatform_mach.cpp
  ipc/glue/SharedMemoryPlatform_posix.cpp
  ipc/glue/SharedMemoryPlatform_windows.cpp
  ipc/glue/moz.build
  ipc/gtest/TestSharedMemory.cpp
Due: py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1946226 - Don't parse TOML multiple times. r=janerik,tthibaud
  build.gradle
  mobile/android/geckoview/build.gradle
Due: none

Bug 1946581 - Turn off duplicated awsy jobs on windows11. r=perftest-reviewers,sparky
  taskcluster/kinds/test/test-platforms.yml
  testing/perfdocs/generated/awsy.rst
Due: yaml, file-whitespace

Bug 1946401 - Fix scrollbar-events.html now that we don't fire events on the <scrollbar> elements.
  testing/web-platform/mozilla/tests/css/css-overflow/scrollbar-events.html
Due: eslint, file-whitespace

Bug 1944002 - Update search telemetry schema for detecting subframes - r=Standard8
  browser/components/search/schema/search-telemetry-v2-schema.json
  browser/components/search/schema/search-telemetry-v2-ui-schema.json
Due: eslint

Bug 1944345 - Throw from (un)register(Window|Process)Actor in wrong process, r=smaug
  dom/base/ChromeUtils.cpp
  dom/base/ChromeUtils.h
  dom/chrome-webidl/ChromeUtils.webidl
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1942314 - Avoid showing sidebars and responding to sidebar events in popup windows. a=dmeehan
  browser/components/sessionstore/SessionStore.sys.mjs
  browser/components/sidebar/browser-sidebar.js
  browser/components/sidebar/tests/browser/browser_glean_sidebar.js
  browser/components/sidebar/tests/browser/browser_hide_sidebar_on_popup.js
  browser/components/sidebar/tests/browser/browser_toolbar_sidebar_button.js
  browser/components/sidebar/tests/browser/head.js
Due: eslint

Bug 1946836 - Check for AXARIAControls after combobox is expanded. r=morgan
  accessible/tests/browser/mac/browser_combobox.js
Due: eslint

Bug 1872229 - Move mozilla-lint-rules to tooling-lint r=tcampbell,android-reviewers,adhingra,mcarare
  mobile/android/android-components/components/tooling/lint/src/main/java/mozilla/components/tooling/lint/AndroidSrcXmlDetector.kt
  mobile/android/android-components/components/tooling/lint/src/main/java/mozilla/components/tooling/lint/ButtonStyleXmlDetector.kt
  mobile/android/android-components/components/tooling/lint/src/main/java/mozilla/components/tooling/lint/ConstraintLayoutPerfDetector.kt
  mobile/android/android-components/components/tooling/lint/src/main/java/mozilla/components/tooling/lint/ContextCompatDetector.kt
  mobile/android/android-components/components/tooling/lint/src/main/java/mozilla/components/tooling/lint/LicenseCommentChecker.kt
  mobile/android/android-components/components/tooling/lint/src/main/java/mozilla/components/tooling/lint/LicenseDetector.kt
  mobile/android/android-components/components/tooling/lint/src/main/java/mozilla/components/tooling/lint/LintIssueRegistry.kt
  mobile/android/fenix/app/build.gradle
  mobile/android/fenix/config/pre-push-recommended.sh
  mobile/android/fenix/mozilla-lint-rules/.gitignore
  mobile/android/fenix/mozilla-lint-rules/build.gradle
  mobile/android/fenix/mozilla-lint-rules/src/main/java/org/mozilla/fenix/lintrules/AndroidSrcXmlDetector.kt
  mobile/android/fenix/mozilla-lint-rules/src/main/java/org/mozilla/fenix/lintrules/ImageViewAndroidTintXmlDetector.kt
  mobile/android/fenix/mozilla-lint-rules/src/main/java/org/mozilla/fenix/lintrules/LintIssueRegistry.kt
  mobile/android/fenix/mozilla-lint-rules/src/main/java/org/mozilla/fenix/lintrules/TextViewAndroidSrcXmlDetector.kt
  mobile/android/fenix/mozilla-lint-rules/src/test/java/org/mozilla/fenix/lintrules/ContextCompatDetectorTest.kt
  mobile/android/fenix/mozilla-lint-rules/src/test/java/org/mozilla/fenix/lintrules/LicenseDetectorTest.kt
  mobile/android/fenix/mozilla-lint-rules/src/test/java/org/mozilla/fenix/lintrules/perf/ConstraintLayoutPerfDetectorTest.kt
  mobile/android/fenix/settings.gradle
  mobile/android/focus-android/app/lint-baseline.xml
  taskcluster/kinds/source-test/android-lint.yml
  taskcluster/scripts/lint/update_buildconfig_from_gradle.py
  taskcluster/scripts/misc/android-gradle-dependencies.sh
Due: eslint, py-black, py-ruff, yaml, shellcheck, file-whitespace, trojan-source

Bug 1872229 - Fix minor lint check failures in android-components r=android-reviewers,mcarare
  mobile/android/android-components/components/tooling/lint/src/main/java/mozilla/components/tooling/lint/ButtonStyleXmlDetector.kt
  mobile/android/android-components/components/tooling/lint/src/main/java/mozilla/components/tooling/lint/ConstraintLayoutPerfDetector.kt
  mobile/android/android-components/components/tooling/lint/src/main/java/mozilla/components/tooling/lint/ContextCompatDetector.kt
  mobile/android/android-components/components/tooling/lint/src/main/java/mozilla/components/tooling/lint/LicenseCommentChecker.kt
  mobile/android/android-components/components/tooling/lint/src/main/java/mozilla/components/tooling/lint/LicenseDetector.kt
Due: none

Bug 1947042 - update expectations for requestStorageAccess-dedicated-worker.sub.https.window.html. CLOSED TREE
  testing/web-platform/meta/storage-access-api/requestStorageAccess-dedicated-worker.sub.https.window.js.ini
Due: test-manifest

Bug 1945969 - part 1: make PWebAuthnTransaction a PWindowGlobal managee. r=keeler
  dom/ipc/PWindowGlobal.ipdl
  dom/ipc/WindowGlobalParent.cpp
  dom/ipc/WindowGlobalParent.h
  dom/webauthn/PWebAuthnTransaction.ipdl
  dom/webauthn/WebAuthnManagerBase.cpp
  dom/webauthn/WebAuthnTransactionChild.cpp
  dom/webauthn/WebAuthnTransactionChild.h
  dom/webauthn/WebAuthnTransactionParent.cpp
  dom/webauthn/WebAuthnTransactionParent.h
  ipc/glue/BackgroundChildImpl.cpp
  ipc/glue/BackgroundChildImpl.h
  ipc/glue/BackgroundParentImpl.cpp
  ipc/glue/BackgroundParentImpl.h
  ipc/glue/PBackground.ipdl
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1945969 - part 2: simplify WebAuthn IPC messages. r=keeler
  dom/webauthn/PWebAuthnTransaction.ipdl
  dom/webauthn/WebAuthnManager.cpp
  dom/webauthn/WebAuthnManager.h
  dom/webauthn/WebAuthnManagerBase.cpp
  dom/webauthn/WebAuthnManagerBase.h
  dom/webauthn/WebAuthnTransactionChild.cpp
  dom/webauthn/WebAuthnTransactionChild.h
  dom/webauthn/WebAuthnTransactionParent.cpp
  dom/webauthn/WebAuthnTransactionParent.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1945969 - part 3: remove WebAuthnManagerBase. r=keeler
  dom/webauthn/WebAuthnManager.cpp
  dom/webauthn/WebAuthnManager.h
  dom/webauthn/WebAuthnManagerBase.cpp
  dom/webauthn/WebAuthnManagerBase.h
  dom/webauthn/WebAuthnTransactionChild.cpp
  dom/webauthn/WebAuthnTransactionChild.h
  dom/webauthn/moz.build
Due: py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1945969 - part 5: rename WebAuthnManager to WebAuthnHandler. r=keeler
  dom/credentialmanagement/CredentialsContainer.cpp
  dom/credentialmanagement/CredentialsContainer.h
  dom/webauthn/PublicKeyCredential.cpp
  dom/webauthn/WebAuthnHandler.cpp
  dom/webauthn/WebAuthnHandler.h
  dom/webauthn/WebAuthnTransactionChild.cpp
  dom/webauthn/WebAuthnTransactionChild.h
  dom/webauthn/WebAuthnUtil.h
  dom/webauthn/WinWebAuthnService.cpp
  dom/webauthn/moz.build
Due: py-black, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1945969 - part 4: simplify android implementation of RecvIsUVPAA. r=keeler
  dom/webauthn/WebAuthnTransactionParent.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1901809 - part 2: add topOrigin and crossOrigin to client data. r=keeler,webidl,smaug
  dom/webauthn/WebAuthnTransactionParent.cpp
  dom/webauthn/tests/test_webauthn_crossorigin_featurepolicy.html
  dom/webauthn/tests/test_webauthn_loopback.html
  dom/webidl/WebAuthentication.webidl
  testing/web-platform/meta/webauthn/createcredential-clientdata.https.html.ini
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Bug 1901809 - part 1: construct client data in parent process. r=keeler
  dom/webauthn/PWebAuthnTransaction.ipdl
  dom/webauthn/WebAuthnArgs.cpp
  dom/webauthn/WebAuthnArgs.h
  dom/webauthn/WebAuthnHandler.cpp
  dom/webauthn/WebAuthnTransactionParent.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Backed out 4 changesets (bug 1937801) for causing Talos and Btime failures on Windows 11
  taskcluster/gecko_taskgraph/transforms/job/__init__.py
  taskcluster/gecko_taskgraph/transforms/job/common.py
  taskcluster/gecko_taskgraph/transforms/job/mach.py
  taskcluster/gecko_taskgraph/transforms/job/mozharness.py
  taskcluster/gecko_taskgraph/transforms/job/python_test.py
  taskcluster/gecko_taskgraph/transforms/job/run_task.py
  taskcluster/gecko_taskgraph/transforms/job/toolchain.py
  taskcluster/kinds/source-test/mozlint.yml
  taskcluster/kinds/source-test/python.yml
  taskcluster/scripts/run-task
Due: py-black, py-ruff, yaml, file-whitespace, trojan-source

Bug 1946551 - Updated aria-labelledby and aria-describedby for Spotlight modals r=omc-reviewers,jprickett
  browser/base/content/spotlight.html
  browser/components/aboutwelcome/content-src/components/MultiStageProtonScreen.jsx
  browser/components/aboutwelcome/content/aboutwelcome.bundle.js
Due: eslint, file-whitespace

Backed out changeset 6ca339ffce82 (bug 1908327) for causing multiple dt failures CLOSED TREE
  devtools/client/debugger/src/actions/ast/setInScopeLines.js
  devtools/client/debugger/src/actions/sources/select.js
  devtools/client/debugger/src/components/Editor/index.js
  devtools/client/shared/sourceeditor/editor.js
  devtools/client/shared/sourceeditor/moz.build
  devtools/client/shared/sourceeditor/scope-utils.js
Due: eslint, py-black

Bug 1945102 - Extend necko tests, r=jmaher DONTBUILD
  taskcluster/kinds/test/variants.yml
Due: yaml

Bug 1928020: apply code formatting via Lando
  toolkit/components/places/nsPlacesMacros.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source
