Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml

Bug 1921359 - Remove desktop site toggle check on home main menu tests r=aaronmt
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/MainMenuTest.kt
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/ThreeDotMenuMainRobot.kt
Due: none

Bug 1919736 - Handle the case where the site metadata file is missing when determining if the site is up-to-date or not r=firefox-build-system-reviewers,glandium
  python/mach/mach/site.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1920210 - Remove Telemetry::RecordEvent r=florian,janerik
  toolkit/components/glean/bindings/private/Event.cpp
  toolkit/components/glean/bindings/private/Event.h
  toolkit/components/telemetry/core/Telemetry.cpp
  toolkit/components/telemetry/core/Telemetry.h
  toolkit/components/telemetry/tests/gtest/TestEvents.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1920319 - add dedicated keypress handler for new tab buttons, a=RyanVM
  browser/base/content/browser.js
  browser/components/tabbrowser/content/tabs.js
Due: eslint

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  browser/locales/l10n-changesets.json
Due: eslint

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  mobile/locales/l10n-changesets.json
Due: eslint

Bug 1921838 - Upgrade eslint-plugin-no-unsanitized and others to pull in latest fixes. a=RyanVM
  package-lock.json
  package.json
Due: eslint

Bug 1912537 - adjust principal display logic for external protocol dialog, a=RyanVM
  toolkit/mozapps/handling/content/permissionDialog.js
Due: eslint

Bug 1918134 - Add tests for trait interfaces, r=lina
  Cargo.lock
  toolkit/components/uniffi-bindgen-gecko-js/config.toml
  toolkit/components/uniffi-bindgen-gecko-js/fixtures/Cargo.toml
  toolkit/components/uniffi-bindgen-gecko-js/fixtures/generated/RustUniffiTraitInterfaces.sys.mjs
  toolkit/components/uniffi-bindgen-gecko-js/fixtures/lib.rs
  toolkit/components/uniffi-bindgen-gecko-js/fixtures/moz.build
  toolkit/components/uniffi-bindgen-gecko-js/fixtures/tests/xpcshell/test_trait_interfaces.js
  toolkit/components/uniffi-bindgen-gecko-js/fixtures/tests/xpcshell/xpcshell.toml
  toolkit/components/uniffi-bindgen-gecko-js/fixtures/trait-interfaces/Cargo.toml
  toolkit/components/uniffi-bindgen-gecko-js/fixtures/trait-interfaces/src/lib.rs
  toolkit/components/uniffi-js/UniFFIGeneratedScaffolding.cpp
Due: eslint, py-black, clang-format, rustfmt, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1918509 - Generate more FFI definitions, r=lina
  toolkit/components/uniffi-bindgen-gecko-js/fixtures/generated/RustUniffiTraitInterfaces.sys.mjs
  toolkit/components/uniffi-bindgen-gecko-js/src/render/cpp.rs
  toolkit/components/uniffi-bindgen-gecko-js/src/templates/UniFFIScaffolding.cpp
  toolkit/components/uniffi-js/UniFFIGeneratedScaffolding.cpp
  toolkit/components/uniffi-js/UniFFIRust.h
Due: eslint, clang-format, rustfmt, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1913982 - Re-enable UniFFI callback interfaces, r=nika,lina
  dom/chrome-webidl/UniFFI.webidl
  toolkit/components/uniffi-bindgen-gecko-js/components/generated/RustErrorsupport.sys.mjs
  toolkit/components/uniffi-bindgen-gecko-js/components/generated/RustRelevancy.sys.mjs
  toolkit/components/uniffi-bindgen-gecko-js/components/generated/RustRemoteSettings.sys.mjs
  toolkit/components/uniffi-bindgen-gecko-js/components/generated/RustSuggest.sys.mjs
  toolkit/components/uniffi-bindgen-gecko-js/components/generated/RustTabs.sys.mjs
  toolkit/components/uniffi-bindgen-gecko-js/fixtures/generated/RustArithmetic.sys.mjs
  toolkit/components/uniffi-bindgen-gecko-js/fixtures/generated/RustCustomTypes.sys.mjs
  toolkit/components/uniffi-bindgen-gecko-js/fixtures/generated/RustExternalTypes.sys.mjs
  toolkit/components/uniffi-bindgen-gecko-js/fixtures/generated/RustGeometry.sys.mjs
  toolkit/components/uniffi-bindgen-gecko-js/fixtures/generated/RustRefcounts.sys.mjs
  toolkit/components/uniffi-bindgen-gecko-js/fixtures/generated/RustRondpoint.sys.mjs
  toolkit/components/uniffi-bindgen-gecko-js/fixtures/generated/RustSprites.sys.mjs
  toolkit/components/uniffi-bindgen-gecko-js/fixtures/generated/RustTodolist.sys.mjs
  toolkit/components/uniffi-bindgen-gecko-js/fixtures/generated/RustUniffiTraitInterfaces.sys.mjs
  toolkit/components/uniffi-bindgen-gecko-js/fixtures/tests/xpcshell/xpcshell.toml
  toolkit/components/uniffi-bindgen-gecko-js/src/ci_list.rs
  toolkit/components/uniffi-bindgen-gecko-js/src/render/cpp.rs
  toolkit/components/uniffi-bindgen-gecko-js/src/templates/UniFFIScaffolding.cpp
  toolkit/components/uniffi-bindgen-gecko-js/src/templates/js/CallbackInterfaceRuntime.sys.mjs
  toolkit/components/uniffi-js/ScaffoldingConverter.h
  toolkit/components/uniffi-js/UniFFICallbacks.cpp
  toolkit/components/uniffi-js/UniFFICallbacks.h
  toolkit/components/uniffi-js/UniFFIGeneratedScaffolding.cpp
Due: eslint, clang-format, rustfmt, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1920381 - Added missing sanity checks before inserting ranges into cache. a=RyanVM
  dom/base/Selection.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1921175 - [devtools] Remove unused createEnvironmentActor method from ObjectActor hooks. r=devtools-reviewers,nchevobbe
  devtools/server/actors/object.js
  devtools/server/actors/object/utils.js
  devtools/server/actors/thread.js
  devtools/server/actors/webconsole.js
Due: eslint

Bug 1921175 - [devtools] Remove unused ObjectActor.threadGrip method. r=devtools-reviewers,nchevobbe
  devtools/server/actors/pause-scoped.js
  devtools/server/actors/thread.js
  devtools/server/tests/xpcshell/test_objectgrips-fn-apply-01.js
  devtools/server/tests/xpcshell/test_objectgrips-fn-apply-02.js
  devtools/server/tests/xpcshell/test_objectgrips-fn-apply-03.js
  devtools/server/tests/xpcshell/test_objectgrips-property-value-02.js
  devtools/server/tests/xpcshell/test_threadlifetime-01.js
  devtools/server/tests/xpcshell/test_threadlifetime-02.js
  devtools/server/tests/xpcshell/test_threadlifetime-04.js
  devtools/server/tests/xpcshell/xpcshell.toml
Due: eslint

Bug 1921175 - [devtools] Use ThreadActor helper to create grip from the environment actor. r=devtools-reviewers,nchevobbe
  devtools/server/actors/environment.js
Due: eslint

Bug 1921175 - [devtools] Remove unused pauseGrip and getProperties methods. r=devtools-reviewers,nchevobbe
  devtools/client/debugger/src/client/firefox/commands.js
  devtools/client/fronts/thread.js
  devtools/server/tests/xpcshell/test_pauselifetime-03.js
  devtools/server/tests/xpcshell/xpcshell.toml
Due: eslint

Bug 1921175 - [devtools] Revise ObjectActor arguments. r=devtools-reviewers,nchevobbe
  devtools/server/actors/object.js
  devtools/server/actors/object/utils.js
  devtools/server/actors/pause-scoped.js
  devtools/server/actors/thread.js
  devtools/server/actors/webconsole.js
Due: eslint

Bug 1921175 - [devtools] Create object grip from a unique method in the thread actor. r=devtools-reviewers,nchevobbe
  devtools/server/actors/frame.js
  devtools/server/actors/thread.js
Due: eslint

Bug 1921175 - [devtools] Rename ObjectActor.thread to threadActor. r=devtools-reviewers,nchevobbe
  devtools/server/actors/object.js
  devtools/server/actors/pause-scoped.js
  devtools/server/actors/utils/custom-formatters.js
Due: eslint

Bug 1921175 - [devtools] Fix PausedScopeObjectActor.isThreadLifetimePool. r=devtools-reviewers,nchevobbe
  devtools/server/actors/pause-scoped.js
  devtools/server/actors/thread.js
Due: eslint

Bug 1903376 - Move searchTerms into UrlbarInput internal state - r=adw,urlbar-reviewers
  browser/components/urlbar/SearchModeSwitcher.sys.mjs
  browser/components/urlbar/UrlbarInput.sys.mjs
  browser/components/urlbar/UrlbarValueFormatter.sys.mjs
  browser/components/urlbar/UrlbarView.sys.mjs
  browser/components/urlbar/tests/browser/browser_UrlbarInput_searchTerms.js
  browser/components/urlbar/tests/browser/browser_UrlbarInput_searchTerms_searchBar.js
  browser/components/urlbar/tests/browser/browser_UrlbarInput_searchTerms_searchModeSwitcher.js
  browser/components/urlbar/tests/browser/browser_UrlbarInput_searchTerms_stringsUnsafe.js
  browser/components/urlbar/tests/browser/head.js
Due: eslint

Bug 1920578 - Don't crash when recording an event with unexpected extras r=TravisLong
  toolkit/components/glean/build_scripts/glean_parser_ext/templates/rust.jinja2
Due: none

Bug 1920578 - Don't record an event, instead record an error when supplied extra keys in an event that didn't define any r=TravisLong
  toolkit/components/glean/tests/xpcshell/test_Glean.js
Due: eslint

Bug 1910111 - Add A55 device to try perf selector. r=taskgraph-reviewers,sparky,jmaher
  tools/tryselect/selectors/perfselector/classification.py
  tools/tryselect/test/test_perf.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1920778 - Enable custom prompts by default with multiline autosize r=tarek
  browser/app/profile/firefox.js
  browser/components/genai/GenAI.sys.mjs
  browser/components/genai/chat.css
  browser/components/genai/tests/browser/browser_chat_shortcuts.js
  browser/components/genai/tests/browser/browser_chat_telemetry.js
Due: eslint, stylelint, file-whitespace

Bug 1919344 - Add isEnterprise check to Services.policies. r=Standard8
  browser/components/enterprisepolicies/tests/xpcshell/test_telemetry.js
  toolkit/components/enterprisepolicies/EnterprisePoliciesParent.sys.mjs
  toolkit/components/enterprisepolicies/nsIEnterprisePolicies.idl
Due: eslint, file-whitespace

Bug 1889775 - Animate tab grid items over each other when swiping to delete r=android-reviewers,007
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/compose/tabstray/TabGridItem.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tabstray/TabsTrayTabLayouts.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tabstray/browser/compose/ReorderableGrid.kt
Due: none

Bug 1894213 - [wdspec] Update expecations for tests causing "Failed to decode response from marionette" errors on Android. r=webdriver-reviewers,jdescottes a=test-only
  testing/web-platform/meta/webdriver/tests/classic/perform_actions/sequence.py.ini
Due: test-manifest

Bug 1894213 - [wdspec] Update expecations for tests causing "Failed to decode response from marionette" errors on Android. r=webdriver-reviewers,jdescottes
  testing/web-platform/meta/webdriver/tests/classic/perform_actions/sequence.py.ini
Due: test-manifest

Bug 1921797 - Check for degenerate ratio in nsCocoaUtis. r=mac-reviewers,mstange,bradwerth
  widget/cocoa/nsCocoaUtils.mm
Due: clang-format

Bug 1921797 - Check for degenerate ratio in nsCocoaUtis. r=mac-reviewers,mstange,bradwerth a=RyanVM
  widget/cocoa/nsCocoaUtils.mm
Due: clang-format

Bug 1922075 - Remove uses of 'six.moves' from testing/mozbase, r=mozbase-reviewers,jmaher
  testing/mozbase/mozcrash/mozcrash/mozcrash.py
  testing/mozbase/mozcrash/tests/test_symbols_path.py
  testing/mozbase/mozfile/mozfile/mozfile.py
  testing/mozbase/mozhttpd/mozhttpd/mozhttpd.py
  testing/mozbase/mozhttpd/tests/api.py
  testing/mozbase/mozhttpd/tests/filelisting.py
  testing/mozbase/mozhttpd/tests/paths.py
  testing/mozbase/mozhttpd/tests/requestlog.py
  testing/mozbase/mozlog/mozlog/formatters/process.py
  testing/mozbase/mozlog/mozlog/logtypes.py
  testing/mozbase/mozlog/mozlog/unstructured/loglistener.py
  testing/mozbase/mozprocess/tests/proclaunch.py
  testing/mozbase/mozprofile/mozprofile/permissions.py
  testing/mozbase/mozprofile/mozprofile/prefs.py
  testing/mozbase/mozproxy/mozproxy/backends/mitm/scripts/alternate-server-replay.py
  testing/mozbase/mozproxy/mozproxy/utils.py
  testing/mozbase/mozrunner/mozrunner/devices/android_device.py
  testing/mozbase/mozrunner/mozrunner/devices/base.py
  testing/mozbase/mozversion/mozversion/mozversion.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1921360 - Adjust taskgraph to generate tasks with TEST_TAGS. r=ahal,taskgraph-reviewers
  taskcluster/gecko_taskgraph/transforms/test/chunk.py
Due: py-black, py-ruff, file-whitespace, trojan-source

Bug 1921706 - remove unnecessary Mozilla mods to third_party/libwebrtc/build/win/BUILD.gn r=ng,webrtc-reviewers DONTBUILD
  third_party/libwebrtc/build/win/BUILD.gn
Due: none

Bug 1921706 - use relative paths on deps in a few places to avoid future issues. r=ng,webrtc-reviewers DONTBUILD
  third_party/libwebrtc/modules/audio_coding/BUILD.gn
  third_party/libwebrtc/modules/portal/BUILD.gn
  third_party/libwebrtc/modules/video_capture/BUILD.gn
  third_party/libwebrtc/sdk/BUILD.gn
  third_party/libwebrtc/test/BUILD.gn
Due: none

Bug 1921706 - simplify removing libatomic on linux builds. r=ng,webrtc-reviewers DONTBUILD
  third_party/libwebrtc/build/config/linux/BUILD.gn
Due: none

Bug 1920852: Add closing tabs remotely to Firefox View r=lina,fxview-reviewers,jsudiaman
  browser/components/firefoxview/SyncedTabsController.sys.mjs
  browser/components/firefoxview/card-container.mjs
  browser/components/firefoxview/firefoxview.html
  browser/components/firefoxview/fxview-tab-row.css
  browser/components/firefoxview/jar.mn
  browser/components/firefoxview/syncedtabs-tab-list.css
  browser/components/firefoxview/syncedtabs-tab-list.mjs
  browser/components/firefoxview/syncedtabs.mjs
  browser/components/firefoxview/tests/browser/browser_syncedtabs_firefoxview.js
  browser/components/firefoxview/tests/browser/head.js
  browser/components/firefoxview/viewpage.mjs
Due: eslint, stylelint, file-whitespace

Bug 1922048: fix comma instead of semicolon in libwebrtc AEC code r=mjf,webrtc-reviewers
  third_party/libwebrtc/modules/audio_processing/aec3/echo_canceller3.cc
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1440207 - Part 1: Stop setting `gArgc` and `gArgv` in content, r=ipc-reviewers,mccr8
  toolkit/xre/nsEmbedFunctions.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source
