Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, **/*.java, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml

Bug 1943571 [wpt PR 50267] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-transitions/after-change-style-inherited-try-fallback.html.ini
Due: test-manifest

Bug 1943574 [wpt PR 50268] - Make 'interactivity' tests non-tentative, a=testonly
  testing/web-platform/tests/css/css-ui/interactivity-inert-click.html
  testing/web-platform/tests/css/css-ui/interactivity-inert-focus.html
  testing/web-platform/tests/css/css-ui/parsing/interactivity-computed.html
  testing/web-platform/tests/css/css-ui/parsing/interactivity.html
Due: eslint, file-whitespace

Bug 1943574 [wpt PR 50268] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-ui/interactivity-inert-click.html.ini
  testing/web-platform/meta/css/css-ui/interactivity-inert-focus.html.ini
  testing/web-platform/meta/css/css-ui/parsing/interactivity-computed.html.ini
  testing/web-platform/meta/css/css-ui/parsing/interactivity.html.ini
Due: test-manifest

Bug 1943592 [wpt PR 50270] - Revert "Display resize observer loop notifications in devtools", a=testonly
  testing/web-platform/tests/resize-observer/resize-loop-cancel-error-notification-console-manual.tentative.html
  testing/web-platform/tests/resize-observer/resize-loop-error-notification-console-manual.tentative.html
Due: eslint, file-whitespace

Bug 1943603 [wpt PR 50271] - Remove support for <input> from interesttarget [5/N], a=testonly
  testing/web-platform/tests/html/semantics/the-button-element/interest-target/interestelement-interface.tentative.html
Due: eslint, file-whitespace

Bug 1943606 [wpt PR 50272] - Update wpt metadata, a=testonly
  testing/web-platform/meta/html/semantics/the-button-element/interest-target/idlharness.tentative.html.ini
Due: test-manifest

Bug 1943606 [wpt PR 50272] - Add idlharness test for interesttarget [6/N], a=testonly
  testing/web-platform/tests/html/semantics/the-button-element/interest-target/idlharness.tentative.html
  testing/web-platform/tests/interfaces/interest-invokers.tentative.idl
Due: eslint, file-whitespace

Bug 1943554 [wpt PR 50264] - wpt: Fix `/css/CSS2/tables/anonymous-table-box-width-001.xht`, a=testonly
  testing/web-platform/tests/css/CSS2/tables/anonymous-table-box-width-001.xht
Due: none

Bug 1943428 [wpt PR 50247] - FLEDGE: Send creative scanning metadata when enabled, a=testonly
  testing/web-platform/tests/fledge/tentative/resources/fledge_http_server_util.py
  testing/web-platform/tests/fledge/tentative/trusted-scoring-signals.https.window.js
Due: eslint, py-black, py-ruff, file-whitespace, trojan-source

Bug 1943618 [wpt PR 50274] - Prototyping "Inline Integrity", a=testonly
  testing/web-platform/tests/subresource-integrity/signatures/tentative/inline.html
Due: eslint, file-whitespace

Bug 1943618 [wpt PR 50274] - Update wpt metadata, a=testonly
  testing/web-platform/meta/subresource-integrity/signatures/tentative/inline.html.ini
Due: test-manifest

Bug 1943616 [wpt PR 50273] - wpt: Fix references for `/css/CSS2/tables/table-anonymous-objects-*`, a=testonly
  testing/web-platform/tests/css/CSS2/tables/reference/no_red_3x3_monospace_colored_table-ref.xht
  testing/web-platform/tests/css/CSS2/tables/reference/no_red_3x3_monospace_multi_table-ref.xht
  testing/web-platform/tests/css/CSS2/tables/table-anonymous-objects-079.xht
  testing/web-platform/tests/css/CSS2/tables/table-anonymous-objects-080.xht
  testing/web-platform/tests/css/CSS2/tables/table-anonymous-objects-081.xht
  testing/web-platform/tests/css/CSS2/tables/table-anonymous-objects-082.xht
  testing/web-platform/tests/css/CSS2/tables/table-anonymous-objects-083.xht
  testing/web-platform/tests/css/CSS2/tables/table-anonymous-objects-084.xht
  testing/web-platform/tests/css/CSS2/tables/table-anonymous-objects-085.xht
  testing/web-platform/tests/css/CSS2/tables/table-anonymous-objects-086.xht
  testing/web-platform/tests/css/CSS2/tables/table-anonymous-objects-093.xht
  testing/web-platform/tests/css/CSS2/tables/table-anonymous-objects-094.xht
  testing/web-platform/tests/css/CSS2/tables/table-anonymous-objects-095.xht
  testing/web-platform/tests/css/CSS2/tables/table-anonymous-objects-096.xht
  testing/web-platform/tests/css/CSS2/tables/table-anonymous-objects-097.xht
  testing/web-platform/tests/css/CSS2/tables/table-anonymous-objects-098.xht
  testing/web-platform/tests/css/CSS2/tables/table-anonymous-objects-155.xht
  testing/web-platform/tests/css/CSS2/tables/table-anonymous-objects-156.xht
Due: none

Bug 1943616 [wpt PR 50273] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/CSS2/tables/table-anonymous-objects-079.xht.ini
  testing/web-platform/meta/css/CSS2/tables/table-anonymous-objects-080.xht.ini
  testing/web-platform/meta/css/CSS2/tables/table-anonymous-objects-081.xht.ini
  testing/web-platform/meta/css/CSS2/tables/table-anonymous-objects-082.xht.ini
  testing/web-platform/meta/css/CSS2/tables/table-anonymous-objects-083.xht.ini
  testing/web-platform/meta/css/CSS2/tables/table-anonymous-objects-084.xht.ini
  testing/web-platform/meta/css/CSS2/tables/table-anonymous-objects-085.xht.ini
  testing/web-platform/meta/css/CSS2/tables/table-anonymous-objects-086.xht.ini
  testing/web-platform/meta/css/CSS2/tables/table-anonymous-objects-093.xht.ini
  testing/web-platform/meta/css/CSS2/tables/table-anonymous-objects-094.xht.ini
  testing/web-platform/meta/css/CSS2/tables/table-anonymous-objects-095.xht.ini
  testing/web-platform/meta/css/CSS2/tables/table-anonymous-objects-096.xht.ini
  testing/web-platform/meta/css/CSS2/tables/table-anonymous-objects-097.xht.ini
  testing/web-platform/meta/css/CSS2/tables/table-anonymous-objects-098.xht.ini
  testing/web-platform/meta/css/CSS2/tables/table-anonymous-objects-155.xht.ini
  testing/web-platform/meta/css/CSS2/tables/table-anonymous-objects-156.xht.ini
Due: test-manifest

Bug 1943455 [wpt PR 50252] - Prevent :active/:hover on select when interacting with picker, a=testonly
  testing/web-platform/tests/html/semantics/forms/the-select-element/customizable-select/select-picker-hover-active-pseudo.tentative.html
Due: eslint, file-whitespace

Bug 1943455 [wpt PR 50252] - Update wpt metadata, a=testonly
  testing/web-platform/meta/html/semantics/forms/the-select-element/customizable-select/select-picker-hover-active-pseudo.tentative.html.ini
Due: test-manifest

Bug 1943643 [wpt PR 50275] - Fix link to explainer for Observables, a=testonly
  testing/web-platform/tests/dom/observable/tentative/idlharness.html
Due: eslint, file-whitespace

Bug 1943493 [wpt PR 50261] - webnn: handle avgpool2d roundingType=ceil on CoreML, a=testonly
  testing/web-platform/tests/webnn/conformance_tests/pooling.https.any.js
Due: eslint

Bug 1943672 [wpt PR 50277] - Fix crash getting keyframes of root font-size transition, a=testonly
  testing/web-platform/tests/web-animations/crashtests/get-keyframe-fontsize-crash.html
Due: eslint, file-whitespace

Bug 1943568 [wpt PR 50265] - Update wpt metadata, a=testonly
  testing/web-platform/meta/html/dom/idlharness.any.js.ini
  testing/web-platform/meta/html/dom/idlharness.https.html.ini
  testing/web-platform/meta/speech-api/idlharness.window.js.ini
Due: test-manifest

Bug 1943676 [wpt PR 50279] - Add UA rules for interactivity, a=testonly
  testing/web-platform/tests/css/css-ui/interactivity-inert-html-attribute-ua.html
  testing/web-platform/tests/css/css-ui/interactivity-inert-modal-dialog-ua.html
Due: eslint, file-whitespace

Bug 1943676 [wpt PR 50279] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-ui/interactivity-inert-html-attribute-ua.html.ini
  testing/web-platform/meta/css/css-ui/interactivity-inert-modal-dialog-ua.html.ini
Due: test-manifest

Bug 1943587 [wpt PR 50269] - WebKit export of https://bugs.webkit.org/show_bug.cgi?id=286471, a=testonly
  testing/web-platform/tests/scroll-animations/scroll-timelines/setting-effect.html
Due: eslint, file-whitespace

Bug 1943675 [wpt PR 50278] - Update META.yml: add pkotwicz, a=testonly
  testing/web-platform/tests/digital-credentials/META.yml
Due: yaml

Bug 1943714 [wpt PR 50283] - Update wpt metadata, a=testonly
  testing/web-platform/meta/selection/shadow-dom/tentative/Selection-getComposedRanges-range-update.html.ini
Due: test-manifest

Bug 1943714 [wpt PR 50283] - Add UpdateSelectionBehavior to Range::UpdateSelectionIfAddedToSelection, a=testonly
  testing/web-platform/tests/selection/shadow-dom/tentative/Selection-getComposedRanges-range-update.html
Due: eslint, file-whitespace

Bug 1943733 [wpt PR 50284] - DOM: Bring Observable iterable conversion inline with spec, a=testonly
  testing/web-platform/tests/dom/observable/tentative/observable-from.any.js
Due: eslint

Bug 1943733 [wpt PR 50284] - Update wpt metadata, a=testonly
  testing/web-platform/meta/dom/observable/tentative/observable-from.any.js.ini
Due: test-manifest

Bug 1943759 [wpt PR 50287] - Add test for interactivity:auto overriding inert attribute effect, a=testonly
  testing/web-platform/tests/css/css-ui/interactivity-inert-click-002.html
Due: eslint, file-whitespace

Bug 1943759 [wpt PR 50287] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-ui/interactivity-inert-click-002.html.ini
Due: test-manifest

Bug 1940712 [wpt PR 49989] - Digital Credentials: Rename DigitalCredentialsRequest to DigitalCredentialRequest, a=testonly
  testing/web-platform/tests/digital-credentials/allow-attribute.https.html
  testing/web-platform/tests/digital-credentials/dc-types.ts
  testing/web-platform/tests/digital-credentials/support/helper.js
Due: eslint, file-whitespace

Bug 1943816 [wpt PR 48253] - Update wpt metadata, a=testonly
  testing/web-platform/meta/digital-credentials/get.tentative.https.html.ini
Due: test-manifest

Bug 1943816 [wpt PR 48253] - Digital Credentials: s/providers/requests, s/request/data, a=testonly
  testing/web-platform/tests/digital-credentials/dc-types.ts
  testing/web-platform/tests/digital-credentials/get.tentative.https.html
  testing/web-platform/tests/digital-credentials/support/helper.js
Due: eslint, file-whitespace

Bug 1943831 [wpt PR 50289] - Support inline integrity checks on SVG script elements., a=testonly
  testing/web-platform/tests/subresource-integrity/signatures/tentative/inline.html
Due: eslint, file-whitespace

Bug 1943831 [wpt PR 50289] - Update wpt metadata, a=testonly
  testing/web-platform/meta/subresource-integrity/signatures/tentative/inline.html.ini
Due: test-manifest

Bug 1943929 [wpt PR 50292] - Rename attr cycle WPT to remove .tentative, a=testonly
  testing/web-platform/tests/css/css-values/attr-cycle.html
Due: eslint, file-whitespace

Bug 1943924 [wpt PR 50291] - Reland of "Store a PhysicalNaturalSizingInfo in LayoutImage", a=testonly
  testing/web-platform/tests/html/rendering/replaced-elements/images/img-represents-nothing-style-mutation.html
Due: eslint, file-whitespace

Bug 1943929 [wpt PR 50292] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-values/attr-cycle.html.ini
Due: test-manifest

Bug 1943958 [wpt PR 50293] - LoAF: count idle tasks as frame tasks, a=testonly
  testing/web-platform/tests/long-animation-frame/tentative/loaf-user-callback.html
Due: eslint, file-whitespace

Bug 1943959 [wpt PR 50294] - Disallow empty token stream inside if() function, a=testonly
  testing/web-platform/tests/css/css-paint-api/registered-property-value-003.https.html
  testing/web-platform/tests/css/css-properties-values-api/at-property.html
Due: eslint, file-whitespace
