Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

eslint:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py eslint

stylelint:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py stylelint

py-black:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py black

py-ruff:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py ruff

yaml:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py yaml

shellcheck:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py shellcheck

clang-format:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  ...

rustfmt:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py rustfmt

fluent-lint:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py fluent-lint

localization:
  stage: lint
  interruptible: true
  variables:
    MOZBUILD_STATE_PATH: $CI_PROJECT_DIR/.cache/mozbuild
  cache:
    paths:
    - node_modules
    - .cache/mozbuild
    when: always
    key: $CI_COMMIT_REF_SLUG
  image: $IMAGE_PATH
  script:
  - .gitlab/ci/scripts/run_linters.py l10n

Bug 1926070 [wpt PR 48727] - Make getParameters() return scaleResolutionDownTo when set., a=testonly
  testing/web-platform/tests/webrtc-extensions/RTCRtpEncodingParameters-scaleResolutionDownTo.https.html
Due: eslint, file-whitespace

Bug 1925980 [wpt PR 48730] - Apply anchor-center to base style, a=testonly
  testing/web-platform/tests/css/css-anchor-position/anchor-center-fallback-transition-behavior.html
Due: eslint, file-whitespace

Bug 1926024 [wpt PR 48733] - Update legacy-mrow-like-elements-001.html to expect display `block math', a=testonly
  testing/web-platform/tests/mathml/presentation-markup/mrow/legacy-mrow-like-elements-001.html
Due: eslint, file-whitespace

Bug 1925980 [wpt PR 48730] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-anchor-position/anchor-center-fallback-transition-behavior.html.ini
Due: test-manifest

Bug 1926002 [wpt PR 48732] - [@container] Update the overflowing state via a snapshot client, a=testonly
  testing/web-platform/tests/css/css-conditional/container-queries/scroll-state/scroll-state-initially-overflowing.html
  testing/web-platform/tests/css/css-conditional/container-queries/scroll-state/scroll-state-overflowing-change.html
Due: eslint, file-whitespace

Bug 1926002 [wpt PR 48732] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-conditional/container-queries/scroll-state/scroll-state-initially-overflowing.html.ini
  testing/web-platform/meta/css/css-conditional/container-queries/scroll-state/scroll-state-overflowing-change.html.ini
Due: test-manifest

Bug 1926070 - [wpt-sync] Update web-platform-tests to 0f0b4b05a7c48b57ac99fadaca1d7220576336a1, a=testonly
  testing/web-platform/meta/compute-pressure/compute_pressure_duplicate_updates.https.window.js.ini
  testing/web-platform/meta/css/css-grid/grid-fragmentation-between-rows-001-print.tentative.html.ini
  testing/web-platform/meta/css/css-inline/text-box-trim/parsing/inheritance.html.ini
  testing/web-platform/meta/css/css-overflow/line-clamp/webkit-line-clamp-040.html.ini
  testing/web-platform/meta/css/css-overflow/line-clamp/webkit-line-clamp-050.html.ini
  testing/web-platform/meta/css/css-text/tab-size/tab-min-rendered-width-1.html.ini
  testing/web-platform/meta/digital-credentials/allow-attribute.https.html.ini
  testing/web-platform/meta/fetch/api/abort/general.any.js.ini
  testing/web-platform/meta/fetch/api/request/request-cache-force-cache.any.js.ini
  testing/web-platform/meta/html/syntax/speculative-charset/speculative-script.tentative.html.ini
  testing/web-platform/meta/idle-detection/idle-detection-allowed-by-permissions-policy.https.sub.html.ini
  testing/web-platform/meta/intersection-observer/scroll-margin-not-contained.html.ini
  testing/web-platform/meta/mediacapture-record/MediaRecorder-peerconnection.https.html.ini
  testing/web-platform/meta/mozilla-sync
  testing/web-platform/meta/notifications/getnotifications-across-processes.https.window.js.ini
  testing/web-platform/meta/partitioned-popins/partitioned-popins.proxy-cross.tentative.sub.https.window.js.ini
  testing/web-platform/meta/scroll-animations/css/animation-timeline-view-functional-notation.tentative.html.ini
  testing/web-platform/meta/webaudio/the-audio-api/the-audioworklet-interface/process-parameters.https.html.ini
  testing/web-platform/meta/webcodecs/videoFrame-construction.any.js.ini
  testing/web-platform/meta/webdriver/tests/classic/new_session/unhandled_prompt_behavior.py.ini
  testing/web-platform/meta/webrtc-extensions/RTCRtpEncodingParameters-scaleResolutionDownTo.https.html.ini
  testing/web-platform/meta/workers/baseurl/alpha/sharedworker-in-worker.html.ini
Due: test-manifest

Bug 1878149 - Add async version of verifyBlob to file.js helper for IDB. r=dom-storage-reviewers,janv
  dom/indexedDB/test/file.js
Due: eslint

Bug 1878149 - Add Filelist structured cloning support to IDB. r=dom-storage-reviewers,janv,asuth
  dom/indexedDB/IDBObjectStore.cpp
  dom/indexedDB/IndexedDatabase.cpp
  dom/indexedDB/test/mochitest-common.toml
  dom/indexedDB/test/test_file_filelist.html
  testing/web-platform/meta/IndexedDB/structured-clone.any.js.ini
  testing/web-platform/mozilla/tests/dom/indexedDB/idb-filelist-serialization.https.html
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Bug 1878149 - Test deserialization function with filelist for IDB schema upgrades. r=dom-storage-reviewers,janv
  dom/indexedDB/test/unit/fileListUpgrade_profile.zip
  dom/indexedDB/test/unit/test_fileListUpgrade.js
  dom/indexedDB/test/unit/xpcshell-parent-process.toml
Due: eslint

Bug 1878149 - Test indexing of data containing a filelist for IDB. r=dom-storage-reviewers,janv
  testing/web-platform/mozilla/tests/dom/indexedDB/idb-filelist-indexing.https.html
Due: eslint, file-whitespace

Bug 1907049 - [devtools] Remove devtools.inspector.rule-view.starting-style pref. r=devtools-reviewers,jdescottes.
  browser/app/profile/firefox.js
  devtools/client/inspector/computed/test/browser_computed_matched-selectors-order.js
  devtools/client/inspector/rules/test/browser_rules_at_starting-style.js
  devtools/client/inspector/rules/test/browser_rules_keyframes-rule-nested.js
  devtools/server/actors/page-style.js
Due: eslint

Bug 1904941 - Convert IsDirectoryLockBlockedByUninitStorageOperation to take DirectoryLockImpl::PrepareInfo; r=dom-storage-reviewers,asuth
  dom/quota/ActorsParent.cpp
  dom/quota/InitializationUtils.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1904941 - Convert IsDirectoryLockBlockedByUninitStorageOrUninitOriginsOperation to take DirectoryLockImpl::PrepareInfo; r=dom-storage-reviewers,asuth
  dom/quota/ActorsParent.cpp
  dom/quota/InitializationUtils.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1917784 - Add WPT tests for ASCII case-insensitivity in getPropertyType/getAttributeType. r=smaug
  testing/web-platform/meta/trusted-types/TrustedTypePolicyFactory-getPropertyType.tentative.html.ini
  testing/web-platform/tests/trusted-types/TrustedTypePolicyFactory-getPropertyType.tentative.html
Due: eslint, file-whitespace, test-manifest

Bug 1917784 - Add WPT tests for elementNS parameter of `getPropertyType`. r=smaug
  testing/web-platform/meta/trusted-types/TrustedTypePolicyFactory-getPropertyType.tentative.html.ini
  testing/web-platform/tests/trusted-types/TrustedTypePolicyFactory-getPropertyType.tentative.html
  testing/web-platform/tests/trusted-types/support/namespaces.js
Due: eslint, file-whitespace, test-manifest

Bug 1917784 - Implement `TrustedTypePolicyFactory`'s `getPropertyType`. r=smaug
  dom/security/trusted-types/TrustedTypePolicyFactory.cpp
  dom/security/trusted-types/TrustedTypePolicyFactory.h
  testing/web-platform/meta/trusted-types/HTMLElement-generic.html.ini
  testing/web-platform/meta/trusted-types/TrustedTypePolicyFactory-getPropertyType.tentative.html.ini
  xpcom/ds/StaticAtoms.py
Due: py-black, py-ruff, clang-format, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Bug 1925703 - Add missing ReportOutOfMemory calls to SCOutput::writeArray. r=sfink
  js/src/jit-test/tests/structured-clone/bug1925703.js
  js/src/vm/StructuredClone.cpp
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  browser/locales/l10n-changesets.json
Due: eslint

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  mobile/locales/l10n-changesets.json
Due: eslint

Bug 1874689 - Enable forkserver by default in Nightly. r=jld
  modules/libpref/init/StaticPrefList.yaml
Due: yaml

Bug 1918538 - Remove usage of MOZ_SANDBOXED r=nika,jld
  ipc/glue/SharedMemory_posix.cpp
  security/sandbox/linux/Sandbox.cpp
  security/sandbox/linux/launch/SandboxLaunch.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1924048 - [Menu Redesign] Modify animation duration and easing between main menu and sub menu. r=android-reviewers,ohall
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/menu/MenuDialogFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/translations/TranslationsAnimations.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/utils/TransitionsAnimation.kt
Due: none

Backed out 3 changesets (bug 1917784) for causing failures at mozilla::dom::DOMString. CLOSED TREE
  dom/security/trusted-types/TrustedTypePolicyFactory.cpp
  dom/security/trusted-types/TrustedTypePolicyFactory.h
  testing/web-platform/meta/trusted-types/HTMLElement-generic.html.ini
  testing/web-platform/meta/trusted-types/TrustedTypePolicyFactory-getPropertyType.tentative.html.ini
  testing/web-platform/tests/trusted-types/TrustedTypePolicyFactory-getPropertyType.tentative.html
  testing/web-platform/tests/trusted-types/support/namespaces.js
  xpcom/ds/StaticAtoms.py
Due: eslint, py-black, py-ruff, clang-format, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Bug 1908420 - Add documentation about how to add extra-options to try run tasks r=perftest-reviewers,sparky
  testing/perfdocs/generated/extra-options.png
  testing/perfdocs/generated/mach-try-perf.rst
  testing/perfdocs/generated/th_custom_action.png
  testing/perfdocs/generated/th_raptor_extra_option.png
  testing/performance/mach-try-perf/perfdocs/extra-options.png
  testing/performance/mach-try-perf/perfdocs/index.rst
  testing/performance/mach-try-perf/perfdocs/th_custom_action.png
  testing/performance/mach-try-perf/perfdocs/th_raptor_extra_option.png
Due: file-whitespace

Bug 1925633 - Remove backlog status and enable plaintext-only pref in WPT r=masayuki
  testing/web-platform/meta/contenteditable/__dir__.ini
Due: test-manifest

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml
