Repository mullvad/mullvad-browser: changes, and which GitLab CI jobs are due for each by the changed paths.
All: eslint, stylelint, py-black, py-ruff, yaml, shellcheck, clang-format, rustfmt, fluent-lint, localization, mingw-capitalization, mscom-init, file-whitespace, test-manifest, trojan-source

Path conditions:
  eslint: any of: **/*.js, **/*.jsm, **/*.json, **/*.jsx, **/*.mjs, **/*.sjs, **/*.html, **/*.xhtml, **/*.xml, tools/lint/eslint.yml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  stylelint: any of: **/*.css, tools/lint/styleint.yml, **/.stylelintignore, **/*stylelintrc*
  py-black: any of: **/*.py, **/moz.build, **/*.configure, **/*.mozbuild, pyproject.toml, tools/lint/black.yml
  py-ruff: any of: **/*.py, **/*.configure, **/.ruff.toml, pyproject.toml, tools/lint/ruff.yml, tools/lint/python/ruff.py, tools/lint/python/ruff_requirements.txt
  yaml: any of: **/*.yml, **/*.yaml, **/.ymllint
  shellcheck: any of: **/*.sh, tools/lint/shellcheck.yml
  clang-format: any of: **/*.cpp, **/*.c, **/*.cc, **/*.h, **/*.m, **/*.mm, tools/lint/clang-format.yml
  rustfmt: any of: **/*.rs, tools/lint/rustfmt.yml
  fluent-lint: any of: **/*.ftl, tools/lint/fluent-lint.yml, tools/lint/fluent-lint/exclusions.yml
  localization: any of: **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**, tools/lint/l10n.yml
  mingw-capitalization: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mingw-capitalization.yml
  mscom-init: any of: **/*.cpp, **/*.cc, **/*.c, **/*.h, tools/lint/mscom-init.yml
  file-whitespace: any of: **/*.c, **/*.cc, **/*.cpp, **/*.css, **/*.dtd, **/*.idl, **/*.ftl, **/*.h, **/*.html, **/*.md, **/*.properties, **/*.py, **/*.rs, **/*.rst, **/*.webidl, **/*.xhtml, tools/lint/file-whitespace.yml
  test-manifest: any of: **/*.ini, python/mozlint/**, tools/lint/**
  trojan-source: any of: **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs, tools/lint/trojan-source.yml

Bug 1915609 - test(webgpu): reset contradictory `backlog` outcomes in `try:1be534f2a53cc7856d3b052c70e80b15b159ab88` r=webgpu-reviewers,nical
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/operation/adapter/requestDevice/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/operation/command_buffer/copyTextureToTexture/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/operation/memory_sync/buffer/multiple_buffers/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/operation/memory_sync/buffer/single_buffer/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/operation/render_pipeline/primitive_topology/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/operation/rendering/draw/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/capability_checks/limits/maxBindGroupsPlusVertexBuffers/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/capability_checks/limits/maxColorAttachmentBytesPerSample/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/capability_checks/limits/maxComputeWorkgroupSizeZ/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/capability_checks/limits/maxComputeWorkgroupsPerDimension/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/capability_checks/limits/maxInterStageShaderComponents/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/capability_checks/limits/maxSampledTexturesPerShaderStage/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/capability_checks/limits/maxVertexBuffers/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/encoding/cmds/clearBuffer/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/encoding/cmds/setBindGroup/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/encoding/programmable/pipeline_bind_group_compat/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/image_copy/layout_related/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/render_pass/render_pass_descriptor/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/state/device_lost/destroy/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/execution/robust_access_vertex/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/execution/shader_io/compute_builtins/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/execution/zero_init/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/web_platform/canvas/getCurrentTexture/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/web_platform/copyToTexture/ImageBitmap/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/web_platform/copyToTexture/canvas/cts.https.html.ini
Due: test-manifest

Bug 1915555 - [devtools] Fix color contrast in CSS variable tooltip in dark-mode. r=devtools-reviewers,bomsy.
  devtools/client/themes/tooltips.css
Due: stylelint, file-whitespace

Bug 1851775 - Make sure calls to BeginPaint/EndPaint are balanced. r=rkraesig
  widget/windows/nsWindowGfx.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1915887 - [devtools] Center CSS variable tooltip value when no other section is visible.
  devtools/client/themes/tooltips.css
Due: stylelint, file-whitespace

Bug 1915664 - Update --toolbar-non-lwt-bgcolor for sidebar if using macOS theme. r=sidebar-reviewers,desktop-theme-reviewers,dao
  browser/components/sidebar/sidebar.css
Due: stylelint, file-whitespace

Bug 1915811 - Remove sidebar splitter z-index r=desktop-theme-reviewers,emilio
  browser/themes/shared/sidebar.css
Due: stylelint, file-whitespace

Bug 1915433 - Simplify CMS and gfxPlatform initialization. r=gfx-reviewers,bradwerth
  gfx/thebes/gfxPlatform.cpp
  gfx/thebes/gfxPlatform.h
  gfx/thebes/gfxWindowsPlatform.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1910771 - [Megalist] Implement "All" and "Alerts" buttons for filtering passwords. r=rsafaeian,fluent-reviewers,credential-management-reviewers,desktop-theme-reviewers,dao
  toolkit/components/satchel/megalist/aggregator/datasources/LoginDataSource.sys.mjs
  toolkit/components/satchel/megalist/aggregator/tests/unit/test_loginDataSourceSortLines.js
  toolkit/components/satchel/megalist/content/MegalistAlpha.mjs
  toolkit/components/satchel/megalist/content/megalist.css
  toolkit/components/satchel/megalist/content/megalist.ftl
  toolkit/components/satchel/megalist/content/tests/browser/browser.toml
  toolkit/components/satchel/megalist/content/tests/browser/browser_passwords_filter.js
  toolkit/components/satchel/megalist/content/tests/browser/browser_passwords_sidebar.js
  toolkit/components/satchel/megalist/content/tests/browser/browser_viewmodel.js
  toolkit/components/satchel/megalist/content/tests/browser/head.js
Due: eslint, stylelint, fluent-lint, file-whitespace

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  browser/locales/l10n-changesets.json
Due: eslint

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  mobile/locales/l10n-changesets.json
Due: eslint

Bug 1915821 - Remove all screenshots after sidebar expand/collapse animation r=sidebar-reviewers,nsharpley
  browser/components/sidebar/browser-sidebar.js
Due: eslint

Bug 1915232 - Fix for sidebar toolbar button inverted state r=sidebar-reviewers,nsharpley
  browser/components/sidebar/browser-sidebar.js
  browser/components/sidebar/tests/browser/browser_toolbar_sidebar_button.js
Due: eslint

Bug 1915198 - Newtab layout experiment, better usage of the smaller breakpoints for this layout. r=home-newtab-reviewers,nbarrett
  browser/components/newtab/content-src/components/Base/_Base.scss
  browser/components/newtab/content-src/components/CollapsibleSection/_CollapsibleSection.scss
  browser/components/newtab/content-src/components/TopSites/_TopSites.scss
  browser/components/newtab/content-src/styles/_variables.scss
  browser/components/newtab/css/activity-stream.css
Due: stylelint, file-whitespace

Bug 1914331 - Support PPA-over-DAP-over-OHTTP r=Gijs,dmueller
  dom/privateattribution/PrivateAttributionService.sys.mjs
  dom/privateattribution/tests/xpcshell/test_ppa.js
  modules/libpref/init/all.js
  netwerk/protocol/http/HPKEConfigManager.sys.mjs
  netwerk/protocol/http/ObliviousHTTP.sys.mjs
  toolkit/components/nimbus/FeatureManifest.yaml
  toolkit/components/telemetry/dap/DAPTelemetrySender.sys.mjs
  toolkit/components/telemetry/dap/DAPVisitCounter.sys.mjs
  toolkit/components/telemetry/dap/tests/xpcshell/test_dap.js
Due: eslint, yaml

Bug 1915636 - [devtools] Fix regression of tab key working with selected content in the js terminal r=devtools-reviewers,nchevobbe
  devtools/client/shared/sourceeditor/editor.js
  devtools/client/webconsole/test/browser/_jsterm.toml
  devtools/client/webconsole/test/browser/browser_jsterm_input_and_tab_key_pressed.js
Due: eslint

Backed out changeset eb9ce57dfc32 (bug 1914331) for causing xpcshell failures in test_fetchImage.js. CLOSED TREE
  dom/privateattribution/PrivateAttributionService.sys.mjs
  dom/privateattribution/tests/xpcshell/test_ppa.js
  modules/libpref/init/all.js
  netwerk/protocol/http/HPKEConfigManager.sys.mjs
  netwerk/protocol/http/ObliviousHTTP.sys.mjs
  toolkit/components/nimbus/FeatureManifest.yaml
  toolkit/components/telemetry/dap/DAPTelemetrySender.sys.mjs
  toolkit/components/telemetry/dap/DAPVisitCounter.sys.mjs
  toolkit/components/telemetry/dap/tests/xpcshell/test_dap.js
Due: eslint, yaml

Bug 1915988, part 1 - Make ContentProcess::Init crash instead of failing. r=nika
  dom/ipc/ContentProcess.cpp
  dom/ipc/ContentProcess.h
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1915988, part 2 - Make non-main process NS_InitXPCOM infallible. r=nika
  xpcom/build/XPCOMInit.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1913645 - Update glslopt to 0.1.11 to fix aarch64 host build r=jnicol,supply-chain-reviewers
  Cargo.lock
  gfx/wr/webrender/Cargo.toml
  supply-chain/audits.toml
  supply-chain/imports.lock
  third_party/rust/glslopt/.cargo-checksum.json
  third_party/rust/glslopt/Cargo.toml
  third_party/rust/glslopt/glsl-optimizer/src/util/bitscan.h
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1915998 - Check for Omnijar::Init failure more consistently, r=mccr8
  toolkit/xre/nsAppRunner.cpp
  xpcom/build/Omnijar.cpp
  xpcom/build/Omnijar.h
  xpcom/build/XPCOMInit.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Backed out changeset c4e8e7ad10c2 (bug 1913645) for causing wrench bustages. CLOSED TREE
  Cargo.lock
  gfx/wr/webrender/Cargo.toml
  supply-chain/audits.toml
  supply-chain/imports.lock
  third_party/rust/glslopt/.cargo-checksum.json
  third_party/rust/glslopt/Cargo.toml
  third_party/rust/glslopt/glsl-optimizer/src/util/bitscan.h
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1913645 - Update glslopt to 0.1.11 to fix aarch64 host build r=jnicol,supply-chain-reviewers
  Cargo.lock
  gfx/wr/Cargo.lock
  gfx/wr/webrender/Cargo.toml
  supply-chain/audits.toml
  supply-chain/imports.lock
  third_party/rust/glslopt/.cargo-checksum.json
  third_party/rust/glslopt/Cargo.toml
  third_party/rust/glslopt/glsl-optimizer/src/util/bitscan.h
Due: eslint, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Backed out changeset 8b97e9376724 (bug 1915821) for causing OS X mochitests failures in browser_toolbarButtonKeyPress.js. CLOSED TREE
  browser/components/sidebar/browser-sidebar.js
Due: eslint

no bug - Import translations from android-l10n r=release a=l10n CLOSED TREE
  mobile/android/android-components/components/browser/toolbar2/src/main/res/values-lo/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-lo/strings.xml
  mobile/android/android-components/components/feature/customtabs/src/main/res/values-br/strings.xml
  mobile/android/android-components/components/feature/customtabs/src/main/res/values-el/strings.xml
  mobile/android/android-components/components/feature/customtabs/src/main/res/values-hu/strings.xml
  mobile/android/android-components/components/feature/customtabs/src/main/res/values-kk/strings.xml
  mobile/android/android-components/components/feature/customtabs/src/main/res/values-nb-rNO/strings.xml
  mobile/android/android-components/components/feature/customtabs/src/main/res/values-tr/strings.xml
  mobile/android/android-components/components/feature/customtabs/src/main/res/values-ug/strings.xml
  mobile/android/android-components/components/feature/prompts/src/main/res/values-br/strings.xml
  mobile/android/android-components/components/feature/pwa/src/main/res/values-hu/strings.xml
  mobile/android/fenix/app/src/main/res/values-br/strings.xml
  mobile/android/fenix/app/src/main/res/values-de/strings.xml
  mobile/android/fenix/app/src/main/res/values-el/strings.xml
  mobile/android/fenix/app/src/main/res/values-en-rGB/strings.xml
  mobile/android/fenix/app/src/main/res/values-es-rAR/strings.xml
  mobile/android/fenix/app/src/main/res/values-es-rCL/strings.xml
  mobile/android/fenix/app/src/main/res/values-fr/strings.xml
  mobile/android/fenix/app/src/main/res/values-fy-rNL/strings.xml
  mobile/android/fenix/app/src/main/res/values-gl/strings.xml
  mobile/android/fenix/app/src/main/res/values-hu/strings.xml
  mobile/android/fenix/app/src/main/res/values-hy-rAM/strings.xml
  mobile/android/fenix/app/src/main/res/values-it/strings.xml
  mobile/android/fenix/app/src/main/res/values-iw/strings.xml
  mobile/android/fenix/app/src/main/res/values-kk/strings.xml
  mobile/android/fenix/app/src/main/res/values-ko/strings.xml
  mobile/android/fenix/app/src/main/res/values-nb-rNO/strings.xml
  mobile/android/fenix/app/src/main/res/values-nl/strings.xml
  mobile/android/fenix/app/src/main/res/values-pt-rBR/strings.xml
  mobile/android/fenix/app/src/main/res/values-pt-rPT/strings.xml
  mobile/android/fenix/app/src/main/res/values-ru/strings.xml
  mobile/android/fenix/app/src/main/res/values-skr/strings.xml
  mobile/android/fenix/app/src/main/res/values-sl/strings.xml
  mobile/android/fenix/app/src/main/res/values-tg/strings.xml
  mobile/android/fenix/app/src/main/res/values-tr/strings.xml
  mobile/android/fenix/app/src/main/res/values-ug/strings.xml
  mobile/android/fenix/app/src/main/res/values-zh-rCN/strings.xml
  mobile/android/fenix/app/src/main/res/values-zh-rTW/strings.xml
  mobile/android/focus-android/app/src/main/res/values-gl/strings.xml
  mobile/android/focus-android/app/src/main/res/values-hu/strings.xml
Due: eslint

Backed out changeset f20f138ea4ac (bug 1915232) for causing mochitests failures in browser_history_sidebar.js. CLOSED TREE
  browser/components/sidebar/browser-sidebar.js
  browser/components/sidebar/tests/browser/browser_toolbar_sidebar_button.js
Due: eslint

Backed out changeset ef158dc7becf (bug 1915433) for causing xpcshell failures. CLOSED TREE
  gfx/thebes/gfxPlatform.cpp
  gfx/thebes/gfxPlatform.h
  gfx/thebes/gfxWindowsPlatform.cpp
Due: clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source

Bug 1914578 - Remove EventTracer r=perftest-reviewers,geckoview-reviewers,win-reviewers,profiler-reviewers,mstange,sparky,gstoll,owlish
  testing/perfdocs/generated/talos.rst
  testing/raptor/raptor/filters.py
  testing/talos/perfdocs/index.rst
  testing/talos/talos/config.py
  testing/talos/talos/filter.py
  testing/talos/talos/output.py
  testing/talos/talos/results.py
  testing/talos/talos/test.py
  testing/talos/talos/ttest.py
  testing/talos/talos/unittests/test_config.py
  testing/talos/talos/unittests/test_talosconfig_test_config.json
  toolkit/moz.configure
  toolkit/xre/EventTracer.cpp
  toolkit/xre/EventTracer.h
  toolkit/xre/moz.build
  toolkit/xre/nsAppRunner.cpp
  widget/WidgetTraceEvent.h
  widget/android/AndroidBridge.cpp
  widget/cocoa/CustomCocoaEvents.h
  widget/cocoa/WidgetTraceEvent.mm
  widget/cocoa/moz.build
  widget/cocoa/nsAppShell.mm
  widget/gtk/WidgetTraceEvent.cpp
  widget/gtk/moz.build
  widget/moz.build
  widget/windows/WidgetTraceEvent.cpp
  widget/windows/WinMessages.h
  widget/windows/moz.build
  widget/windows/nsWindow.cpp
  xpfe/appshell/nsAppShellService.cpp
  xpfe/appshell/nsIAppShellService.idl
Due: eslint, py-black, py-ruff, clang-format, mingw-capitalization, mscom-init, file-whitespace, trojan-source
